body {
  min-width: 320px;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 1160px;
  margin: auto; }

@media screen and (max-width: 1200px) {
  .container {
    width: 95%; } }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0; }

@media screen and (max-width: 1200px) {
  .header__flex img {
    width: 150px; } }

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 730px;
  padding-left: 0;
  list-style: none; }

.main-nav a {
  color: #272727;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase; }

.main-nav__partner {
  padding: 5px 20px;
  border: 1px solid #ffd117;
  border-radius: 3px; }

.main-nav__toggle {
  display: none; }

@media screen and (max-width: 1200px) {
  .main-nav ul {
    width: 550px; }
  .main-nav a {
    font-size: 13px; }
  .main-nav__partner {
    padding: 5px; } }

@media screen and (max-width: 768px) {
  .main-nav {
    position: relative; }
    .main-nav ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: auto;
      margin: auto;
      padding: 40px 0; }
  .main-nav__item {
    margin-bottom: 10px; }
  .main-nav__toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    width: 55px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .main-nav__toggle:hover {
      background-color: #ffd117; }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 13px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 00 #fff, 0 16px 00 #fff;
    box-shadow: 0 8px 00 #fff, 0 16px 00 #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 0 rgba(255, 255, 255, 0.3), 0 16px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 rgba(255, 255, 255, 0.3), 0 16px 0 rgba(255, 255, 255, 0.3); }
  .main-nav--opened .main-nav__toggle {
    top: 10px;
    right: 20px;
    z-index: 20; }
    .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 15px;
      width: 25px;
      height: 2px;
      background-color: #fff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s; }
    .main-nav--opened .main-nav__toggle::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .main-nav--opened .main-nav__toggle::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
      background-color: rgba(255, 255, 255, 0.3); }
  .main-nav--closed .main-nav__item {
    display: none; }
    .main-nav--closed .main-nav__item--active {
      display: block;
      text-align: center; }
  .main-nav--opened {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 90%;
    margin: auto;
    background-color: white;
    -webkit-animation: menu-opened 0.5s;
    animation: menu-opened 0.5s; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .container {
    position: static;
    height: auto; }
  .main-nav--nojs .main-nav__item {
    display: block; }
    .main-nav--nojs .main-nav__item--active {
      text-align: left; }
  @-webkit-keyframes menu-opened {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); } }
  @keyframes menu-opened {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); } } }

.title {
  color: #fff;
  background: #003e4e url("../img/title-bg.png") no-repeat top; }
  .title h1 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 330px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase; }
  .title hr {
    width: 58px;
    height: 2px;
    margin-left: 20px;
    border: none;
    background: #ffd117; }
  .title p {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 130px;
    font-size: 20px; }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100px;
  margin-top: 30px;
  padding-left: 0;
  font-size: 15px;
  font-weight: 300;
  list-style: none; }
  .breadcrumb--blog {
    width: 520px;
    margin-bottom: 50px; }
  .breadcrumb a {
    text-decoration: none; }

.breadcrumb__link {
  color: #ffd117; }

.breadcrumb__current {
  color: #292929; }

@media screen and (max-width: 768px) {
  .breadcrumb {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px; } }

.control__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.control__left select {
  width: 300px;
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #ffd117;
  border-radius: 3px; }

.control__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  border: 1px solid #dddddd;
  border-radius: 3px;
  list-style: none; }
  .control__pagination--right {
    margin-left: auto;
    margin-bottom: 50px; }
  .control__pagination a {
    display: block;
    color: #292929;
    padding: 8px 13px;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .control__pagination a:hover {
      color: #fff;
      background: #292929; }

@media screen and (max-width: 768px) {
  .control__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .control__left {
    margin-bottom: 20px; }
    .control__left select {
      width: auto; }
  .control__pagination--right {
    margin: auto;
    margin-bottom: 50px; } }

.news__card {
  padding: 50px 0; }
  .news__card--nth {
    background: #f7f7f7; }

.news__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.news__left {
  width: 490px;
  color: #3f2900;
  font-size: 13px;
  font-weight: 300; }
  .news__left p {
    margin-top: 0;
    text-transform: uppercase; }

.news__preview {
  width: 490px;
  height: 260px;
  margin-top: 30px;
  background: url("../img/blog-preview.png") no-repeat center; }

.news__right {
  width: 600px;
  color: #5b481f;
  font-size: 14px;
  font-weight: 300; }
  .news__right h1 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }

.news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 46px; }

.news__more {
  color: #000;
  padding: 7px 60px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #ffd117;
  border-radius: 3px; }

.news__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  height: 23px; }
  .news__social--blog {
    margin-top: 90px; }
  .news__social--blog-down {
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 30px; }

.news__fb {
  display: block;
  width: 12px;
  background: url("../img/facebook.svg") no-repeat center;
  background-size: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .news__fb:hover {
    background: url("../img/facebook-h.svg") no-repeat center;
    background-size: cover; }

.news__tw {
  display: block;
  width: 24px;
  background: url("../img/twitter.svg") no-repeat center;
  background-size: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .news__tw:hover {
    background: url("../img/twitter-h.svg") no-repeat center;
    background-size: cover; }

.news__vk {
  display: block;
  width: 27px;
  background: url("../img/vk.svg") no-repeat center;
  background-size: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .news__vk:hover {
    background: url("../img/vk-h.svg") no-repeat center;
    background-size: cover; }

.news__gp {
  display: block;
  width: 29px;
  background: url("../img/google-plus.svg") no-repeat center;
  background-size: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .news__gp:hover {
    background: url("../img/google-plus-h.svg") no-repeat center;
    background-size: cover; }

@media screen and (max-width: 1200px) {
  .news__left {
    width: 400px; }
  .news__preview {
    width: auto;
    margin-right: 40px;
    background-size: contain; } }

@media screen and (max-width: 768px) {
  .news__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .news__left,
  .news__right {
    width: auto; }
  .news__preview {
    margin-right: 0;
    background-size: cover; }
  .news__right {
    margin-top: 20px; }
    .news__right h1 {
      text-align: center; } }

.footer {
  background: #292929; }

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0; }
  .footer__flex ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 600px;
    margin: 0;
    padding-left: 0;
    list-style: none; }
    .footer__flex ul a {
      color: #fff;
      font-weight: 300;
      text-decoration: none;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .footer__flex ul a:hover {
        color: #ffd117; }

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 220px !important; }

.footer__link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: 0.5; }
  .footer__link:hover {
    opacity: 1; }

.footer__link--fb {
  background: #626060 url("../img/facebook-f.svg") no-repeat center;
  background-size: 23px; }

.footer__link--tw {
  background: #626060 url("../img/twitter-f.svg") no-repeat center;
  background-size: 24px, 19px; }

.footer__link--vk {
  background: #626060 url("../img/vk-f.svg") no-repeat center;
  background-size: 27px, 15px; }

.footer__link--gp {
  background: #626060 url("../img/google-plus-f.svg") no-repeat center;
  background-size: 29px, 18px; }

@media screen and (max-width: 768px) {
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer__flex ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: auto;
      text-align: center; }
      .footer__flex ul li {
        margin-bottom: 10px; }
  .footer__social {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    padding-top: 20px; } }

.blog__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 25px; }

.blog__right {
  margin-left: 30px; }
  .blog__right h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #3f2900;
    font-size: 30px;
    text-transform: uppercase; }
  .blog__right p {
    color: #3f2900;
    font-size: 13px;
    text-transform: uppercase; }
    .blog__right p span {
      padding-left: 25px;
      background: url("../img/eye.png") no-repeat left; }

.blog__link {
  margin-top: 20px;
  padding: 5px 30px;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 13px;
  background: #c4bebe;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .blog__link:hover {
    background: #ffd117; }

.blog__content {
  color: #3f2900; }
  .blog__content p {
    font-size: 15px; }
  .blog__content b {
    display: block;
    margin-bottom: 16px;
    font-size: 24px;
    text-transform: uppercase; }

.hr {
  width: 58px;
  height: 2px;
  margin: 0;
  border: none;
  background: #ffd117; }
  .hr--s {
    width: 30px;
    height: 1px; }

.comments {
  padding: 30px 0;
  background: #f7f7f7; }

.comments__count {
  margin-top: 0; }
  .comments__count b {
    color: #3f2900;
    font-size: 18px;
    text-transform: uppercase; }
  .comments__count button {
    margin-left: 10px;
    padding-left: 25px;
    color: #8c8c8c;
    font-size: 14px;
    border: none;
    background: transparent url("../img/arrow-down.png") no-repeat left;
    cursor: pointer; }

.comments__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px; }

.comments__left {
  width: 150px;
  text-align: center; }
  .comments__left b {
    display: block;
    margin-top: 15px; }

.comments__right {
  width: 950px; }

.comments__time {
  margin-bottom: 16px;
  color: #181818;
  font-size: 12px; }

.comments__text {
  color: #3f2900;
  font-size: 15px; }

.form {
  padding: 30px 0; }
  .form h1 {
    margin-top: 0;
    color: #3f2900;
    font-size: 18px;
    text-transform: uppercase; }

.form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 16px; }

.form__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__left input {
    width: 300px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid #dddddd;
    border-radius: 3px; }
    .form__left input::-webkit-input-placeholder {
      color: #726c6c;
      font-size: 14px; }
    .form__left input:-ms-input-placeholder {
      color: #726c6c;
      font-size: 14px; }
    .form__left input::-ms-input-placeholder {
      color: #726c6c;
      font-size: 14px; }
    .form__left input::placeholder {
      color: #726c6c;
      font-size: 14px; }

.form__send {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: auto;
  padding: 10px 60px;
  font-size: 14px;
  border: 1px solid #ffd117;
  border-radius: 3px;
  background: transparent;
  cursor: pointer; }

.form__comment {
  width: 67%;
  height: 170px;
  padding: 10px 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  resize: none; }
  .form__comment::-webkit-input-placeholder {
    color: #726c6c;
    font-size: 14px; }
  .form__comment:-ms-input-placeholder {
    color: #726c6c;
    font-size: 14px; }
  .form__comment::-ms-input-placeholder {
    color: #726c6c;
    font-size: 14px; }
  .form__comment::placeholder {
    color: #726c6c;
    font-size: 14px; }
