<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - Forex 24</title>
  <!-- <link rel="stylesheet" href="js/slick/slick.css"/> -->
  <!-- <link rel="stylesheet" href="js/slick/slick-theme.css"/> -->
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <header class="page-header  page-header--account">
    <nav class="page-header__main-nav  page-header__main-nav--closed  page-header__main-nav--nojs">
      <button class="page-header__toggle" type="button">Открыть меню</button>
      <div class="container">
        <div class="page-header__flex">
          <!-- <a href="../index.html">
            <img src="../img/logo.png" alt="Forex24">
          </a> -->
          <ul class="page-header__menu">
            <li class="page-header__item"><a href="../index.html">Home</a></li>
            <li class="page-header__item"><a class="page-header__item--active" href="#">About</a></li>
            <li class="page-header__item"><a href="#">Trading</a></li>
            <li class="page-header__item"><a href="#">Resources</a></li>
            <li class="page-header__item"><a href="#">Partners</a></li>
            <li class="page-header__item"><a href="#">Contact Us</a></li>
          </ul>
          <div class="page-header__user-menu">
            <a class="page-header__link  page-header__link--violet" href="#">Open live account</a>
            <a class="page-header__link  page-header__link--black" href="#">Login</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="page-header__sub-menu">
    <div class="container">
      <div class="page-header__sub-flex">
        <p>About Us</p>
        <div class="page-header__sub-box  page-header__sub-box--about">
          <a class="page-header__logo-menu" href="../index.html">
            <img src="../img/logo-menu.png" alt="">
          </a>
          <a href="#">ACCOUNT TYPES</a>
          <a href="#">ACCOUNT COMPARISON</a>
          <a href="#">PRODUCT SPECIFICATION</a>
          <a href="#">TRADING SPECIFICATION</a>
          <a href="#">FUNDING AND WITHDROVAL</a>
          <a href="#">ANNOUNCEMENTS</a>
          <button class="page-header__arrow"></button>
        </div>
      </div>
    </div>
  </section>
  <section class="about">
    <div class="container">
      <h1>An Introduction to Excellence<br>Forex 24 Global – Your Gateway to Financial Markets</h1>      
      <p>The makers of Forex24 Global are all field experts with many years of experience behind their backs. A Forex outlet made to meet the expectations of even the pickiest traders. It enables you to trade with a wide portfolio of diverse assets on markets all around the globe, all the while providing great features and superb support for its customers. We always place our users first. That is why we strive for perfection and look for ways to make trading better, even in the smallest of details. Forex24 Global is here to be your trading partner at all times.</p>
      <h2>Striving for greatness</h2>
      <p>Forex24 Global takes all the factors needed for succeeding in the trading field and puts them together to bring you the optimum platform – functional, feature packed, easy to use, secure and reliable. We are constantly working and improving while staying on top of the latest developments in the field. Increasing the number of tradable assets and improving user experience are just some of the things we constantly work on.</p>
      <h2>User Support</h2>
      <p>We are always there to address any issues our customers might experience regarding the platform or trading in general. We want to ensure that your trading experience is as swift and pleasant as it can be, giving you all you need in order to focus 100% on your trades. All the processes and functions of the platform have been designed to be as convenient as possible. Please let us know if you`re experiencing any issues or inconveniences and we`ll do everything we can to fix it. Forex24 Global has your back.</p>
      <h2>Being profitable</h2>
      <p class="about__pb">Naturally, the aim of Forex trading is to earn more money than you`ve invested. Therefore at Forex24 Global , one of our main goals is to empower you to fulfil this goals. Everything you need in order to make it is here, the rest is up to you. All the features of the website have been specially designed to aid our users. Our passion towards our customers is our main drive and what leads us forward. Trading involves risks of loss, for further information please read our Risk Disclosure.</p>
    </div>
  </section>
  <div class="account__pay">
    <img src="../img/pay-sprite.png" alt="">
  </div>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>Risk warning</b>
        </div>
        <div class="page-footer__right-column">
          <p>Trading in Contracts for Difference (‘CFDs’) carries a high level of risk and can result in the loss of all your investment. As such, CFDs may not be appropriate for all investors. You should not invest money that you cannot afford to lose. Before deciding to trade, you should become aware of all the risks associated with CFD trading, and seek advice from an independent and suitably licensed financial advisor. Under no circumstances shall we have any liability to any person or entity for (a) any loss or damage in whole or part caused by, resulting from, or relating to any transactions related to CFDs or (b) any direct, indirect, special, consequential or incidental damages whatsoever. For more information about the risks associated with trading CFDs please find and read our <a href="#">‘General Risk Disclosure.’</a><br><br>Cryptologi Global does not provide services to residents of the USA, Canada, Japan, North Korea, Iran, Belgium and some other regions.</p>  
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>QUICK LINKS</b>
        </div>
        <div class="page-footer__right-column">
          <a href="#">Licenses</a>
          <a href="#">Account Types</a>
          <a href="#">Funding & Withdrawal</a>
          <a href="#">Product Specification </a>
          <a href="#">Economic Calendar</a>
          <a href="#">Legal Documents</a>
          <a href="#">Partners</a>
          <a href="#">Faq</a>
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>SOCIAL MEDIA</b>
        </div>
        <div class="page-footer__right-column  page-footer__right-column--link">
          <a href="#" class="page-footer__facebook">Facebook</a>
          <a href="#" class="page-footer__linked">LinkedIn</a>
          <a href="#" class="page-footer__twitter">Twitter</a>
          <a href="#" class="page-footer__google">Google+</a>
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>contact info</b>
        </div>
        <div class="page-footer__right-column  page-footer__right-column--flex">
          <a href="#" class="page-footer__link">Contact Us</a>
          <div class="page-footer__contact">
            <b>Customer Service</b>
            <p>CY Number: +35725000199</p>
          </div>
          <div class="page-footer__contact">
            <b>Support</b>
            <p>e-mail: support@forex24.com</p>
          </div>
          <p class="page-footer__text">UK Number: +442080891644</p>
        </div>
      </div>
      <div class="page-footer__copyright">
        <p>© 2017 All rights reserved LYDYA FINANCIAL LTD.<br>Located at 155 Ayias Fylaxeos, Ersi Court Suite 202, 3083 Limassol, Cyprus.</p>
        <p>Cryptologi Global is a brand owned and operated by Lydya Financial Ltd, a Cyprus Investment Firm (CIF) regulated and supervised by the Cyprus Securities and Exchange Commission (CySEC) with CIF Licence number 300/16 and Company registration number HE334292.</p>
        <p>The Company is also registered with: FCA in UK with reg. no. 782501; BaFin in Germany with reg. no. 1349943; CONSOB in Italy with reg. no. 4624; ACP in France with reg. no. 75980; CNMV in Spain with reg. no. 4373.</p>
      </div>
    </div>
  </footer>
<!-- <script src="js/jquery.min.js"></script> -->
<!-- <script src="js/slick/slick.min.js"></script> -->
<script src="../js/mobile-menu.js"></script>
</body>
</html>