<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trading - Forex 24</title>
  <!-- <link rel="stylesheet" href="js/slick/slick.css"/> -->
  <!-- <link rel="stylesheet" href="js/slick/slick-theme.css"/> -->
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <header class="page-header  page-header--account">
    <nav class="page-header__main-nav  page-header__main-nav--closed  page-header__main-nav--nojs">
      <button class="page-header__toggle" type="button">Открыть меню</button>
      <div class="container">
        <div class="page-header__flex">
          <!-- <a href="../index.html">
            <img src="../img/logo.png" alt="Forex24">
          </a> -->
          <ul class="page-header__menu">
            <li class="page-header__item"><a href="../index.html">Home</a></li>
            <li class="page-header__item"><a href="#">About</a></li>
            <li class="page-header__item"><a class="page-header__item--active" href="#">Trading</a></li>
            <li class="page-header__item"><a href="#">Resources</a></li>
            <li class="page-header__item"><a href="#">Partners</a></li>
            <li class="page-header__item"><a href="#">Contact Us</a></li>
          </ul>
          <div class="page-header__user-menu">
            <a class="page-header__link  page-header__link--violet" href="#">Open live account</a>
            <a class="page-header__link  page-header__link--black" href="#">Login</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="sub-menu">
    <div class="container">
      <div class="sub-menu__flex">
        <p>Accounts types</p>
        <div class="sub-menu__box  sub-menu__box--account">
          <a class="sub-menu__logo" href="../index.html">
            <img src="../img/logo-menu.png" alt="Forex24">
          </a>
          <a href="#">ACCOUNT TYPES</a>
          <a href="#">ACCOUNT COMPARISON</a>
          <a href="#">PRODUCT SPECIFICATION</a>
          <a href="#">TRADING SPECIFICATION</a>
          <a href="#">FUNDING AND WITHDROVAL</a>
          <a href="#">ANNOUNCEMENTS</a>
          <button class="sub-menu__arrow"></button>
        </div>
      </div>
    </div>
  </section>
  <section class="account">
    <div class="container">
      <p>We present our customers with an account selection that can satisfy each trader’s needs and preferences. Our team has thought about even the smallest of details and produced different account types so you can select the one that best suits your needs. There are different accounts to choose from and each one has its benefits.</p>
      <div class="account__types">
        <div class="account__box  account__box--bronze">
          <header>
            <b>Mini Bronze</b>
            <p>Basic Trading<br>For Beginners</p>
          </header>
          <p>Min First Deposit: $/£/€/100</p>
          <p>Account Currency: USD/EUR/GBP</p>  
          <p>Default Leverage: 1:50</p>
          <p>Maximum Leverage: 1:50</p>
          <p>Margin Call Level: 75%</p>
          <p>Stop Out Level: 50%</p>
          <p>Standard Lot Size on Forex, Indices & Commodities CFDs: Min 0.01 – Max 500</p>
          <p>Standard Lot Size on Stocks: Min 1 – Max 1000</p>
          <p>Online Chat Support</p>
          <p>Platforms: Forex24 MT4 Desktop, Forex24 WebTrader & Mobile</p>
          <p>Instruments: CFDs on Forex, Commodities, Indices, Metals, Energies & Stocks</p>
          <p>Free E-book</p>
          <p>Competitive Spreads Only – No Commissions Access to Breaking News & Market Research</p>
          <p>Account Executive Team Available 24/5</p>
          <footer>
            <a href="#">Open account</a>
          </footer>
        </div>
        <div class="account__box  account__box--silver">
          <div class="account__popular"></div>
          <header>
            <b>Classic Silver</b>
            <p>Trading for<br>experienced investors</p>
          </header>
          <p>Min First Deposit: $/£/€/500</p>
          <p>Account Currency: USD/EUR/GBP</p>  
          <p>Default Leverage: 1:50</p>
          <p>Maximum Leverage: 1:400</p>
          <p>Margin Call Level: 75%</p>
          <p>Stop Out Level: 50%</p>
          <p>Standard Lot Size on Forex, Indices & Commodities CFDs: Min 0.01 – Max 500</p>
          <p>Standard Lot Size on Stocks: Min 1 – Max 1000</p>
          <p>Online Chat Support</p>
          <p>Platforms: Forex24 MT4 Desktop, Forex24 WebTrader & Mobile</p>
          <p>Instruments: CFDs on Forex, Commodities, Indices, Metals, Energies & Stocks</p>
          <p>Free E-book</p>
          <p>Low Spreads & Commission</p>
          <p>Access to Breaking News & Market Research</p>
          <p>Account Executive Team Available 24/5</p>
          <p>Online Phone Support</p>
          <p>Trading Education Program</p>
          <footer>
            <a href="#">Open account</a>
          </footer>
        </div>
        <div class="account__box  account__box--gold">
          <header>
            <b>Premium Gold</b>
            <p>Advanced Trading For<br>Serious Investors</p>
          </header>
          <p>Min First Deposit: $/£/€/1,000</p>
          <p>Account Currency: USD/EUR/GBP</p>  
          <p>Online Chat Support</p>
          <p>Platforms: Forex24 MT4 Desktop, Forex24 WebTrader & Mobile</p>
          <p>Default Leverage: 1:50</p>
          <p>Maximum Leverage: 1:200</p>
          <p>Margin Call Level: 75%</p>
          <p>Stop Out Level: 50%</p>
          <p>Standard Lot Size on Forex, Indices & Commodities CFDs: Min 0.01 – Max 500</p>
          <p>Standard Lot Size on Stocks: Min 1 – Max 1000</p>          
          <p>Instruments: CFDs on Forex, Commodities, Indices, Metals, Energies & Stocks</p>
          <p>Free E-book</p>
          <p>Extremely Low Spread & Commission</p>
          <p>Access to Breaking News & Market Research</p>
          <p>Account Executive Team Available 24/5</p>
          <p>Online Phone Support</p>
          <p>Trading Education Program</p>
          <footer>
            <a href="#">Open account</a>
          </footer>
        </div>
        <div class="account__box  account__box--free">
          <header>
            <b>Swap Free</b>
            <p>Anyone Can Trade<br>Swap Free!</p>
          </header>
          <p>Min First Deposit: €100</p>
          <p>Account Currency: EUR</p>  
          <p>Online Chat Support</p>
          <p>Platforms: Forex24 MT4 Desktop, Forex24 WebTrader & Mobile</p>
          <p>Default Leverage: 1:50</p>
          <p>Maximum Leverage: 1:400</p>
          <p>Margin Call Level: 75%</p>
          <p>Stop Out Level: 50%</p>
          <p>Standard Lot Size on Forex, Indices & Commodities CFDs: Min 0.01 – Max 500</p>
          <p>Standard Lot Size on Stocks: Min 1 – Max 1000</p>          
          <p>Instruments: CFDs on Forex, Commodities, Indices, Metals, Energies & Stocks</p>
          <p>Free E-book</p>
          <p>Competitive Spreads & Commissions</p>
          <p>Access to Breaking News & Market Research</p>
          <p>Account Executive Team Available 24/5</p>
          <p>Online Phone Support</p>
          <p>Trading Education Program</p>
          <footer>
            <a href="#">Open account</a>
          </footer>
        </div>
        <div class="account__box  account__box--zulu">
          <header>
            <b>Zulutrade</b>
            <p>Social &<br>Copytrading</p>
          </header>
          <p>Min First Deposit: $/£/€/100</p>
          <p>Account Currency: EUSD/EUR/GBP</p>  
          <p>Platforms: Desktop & Mobile</p>
          <p>Default Leverage: 1:50</p>
          <p>Maximum Leverage: 1:400</p>
          <p>Margin Call Level: 75%</p>
          <p>Stop Out Level: 50%</p>
          <p>Standard Lot Size on Forex, Indices & Commodities CFDs: Min 0.01 – Max 500</p>         
          <p>Online Chat Support</p>
          <p>Instruments:CFDs on Forex, Commodities, Indices & Metals</p>
          <p>Free E-book</p>
          <p>Low Spreads & Commission</p>
          <p>Access to Breaking News & Market Research</p>
          <p>Account Executive Team</p>
          <p>Available 24/5</p>
          <footer>
            <a href="#">Open account</a>
          </footer>
        </div>
      </div>
      <p>Trading involves risk of loss</p>
    </div>
    <div class="account__pay">
      <img src="../img/pay-sprite.png" alt="">
    </div>
  </section>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>Risk warning</b>
        </div>
        <div class="page-footer__right-column">
          <p>Trading in Contracts for Difference (‘CFDs’) carries a high level of risk and can result in the loss of all your investment. As such, CFDs may not be appropriate for all investors. You should not invest money that you cannot afford to lose. Before deciding to trade, you should become aware of all the risks associated with CFD trading, and seek advice from an independent and suitably licensed financial advisor. Under no circumstances shall we have any liability to any person or entity for (a) any loss or damage in whole or part caused by, resulting from, or relating to any transactions related to CFDs or (b) any direct, indirect, special, consequential or incidental damages whatsoever. For more information about the risks associated with trading CFDs please find and read our <a href="#">‘General Risk Disclosure.’</a><br><br>Cryptologi Global does not provide services to residents of the USA, Canada, Japan, North Korea, Iran, Belgium and some other regions.</p>  
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>QUICK LINKS</b>
        </div>
        <div class="page-footer__right-column">
          <a href="#">Licenses</a>
          <a href="#">Account Types</a>
          <a href="#">Funding & Withdrawal</a>
          <a href="#">Product Specification </a>
          <a href="#">Economic Calendar</a>
          <a href="#">Legal Documents</a>
          <a href="#">Partners</a>
          <a href="#">Faq</a>
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>SOCIAL MEDIA</b>
        </div>
        <div class="page-footer__right-column  page-footer__right-column--link">
          <a href="#" class="page-footer__facebook">Facebook</a>
          <a href="#" class="page-footer__linked">LinkedIn</a>
          <a href="#" class="page-footer__twitter">Twitter</a>
          <a href="#" class="page-footer__google">Google+</a>
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>contact info</b>
        </div>
        <div class="page-footer__right-column  page-footer__right-column--flex">
          <a href="#" class="page-footer__link">Contact Us</a>
          <div class="page-footer__contact">
            <b>Customer Service</b>
            <p>CY Number: +35725000199</p>
          </div>
          <div class="page-footer__contact">
            <b>Support</b>
            <p>e-mail: support@forex24.com</p>
          </div>
          <p class="page-footer__text">UK Number: +442080891644</p>
        </div>
      </div>
      <div class="page-footer__copyright">
        <p>© 2017 All rights reserved LYDYA FINANCIAL LTD.<br>Located at 155 Ayias Fylaxeos, Ersi Court Suite 202, 3083 Limassol, Cyprus.</p>
        <p>Cryptologi Global is a brand owned and operated by Lydya Financial Ltd, a Cyprus Investment Firm (CIF) regulated and supervised by the Cyprus Securities and Exchange Commission (CySEC) with CIF Licence number 300/16 and Company registration number HE334292.</p>
        <p>The Company is also registered with: FCA in UK with reg. no. 782501; BaFin in Germany with reg. no. 1349943; CONSOB in Italy with reg. no. 4624; ACP in France with reg. no. 75980; CNMV in Spain with reg. no. 4373.</p>
      </div>
    </div>
  </footer>
<!-- <script src="js/jquery.min.js"></script> -->
<!-- <script src="js/slick/slick.min.js"></script> -->
<script src="../js/mobile-menu.js"></script>
</body>
</html>