.about {
  padding-top: 60px;
  padding-bottom: 20px;
}

.about__wrapper {
  position: relative;
  margin-bottom: 25px;
}

.about__promo {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 145px;
  width: 450px;
  color: $text;
  font-size: 18px;
  font-weight: 600;
}

.about__content {
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 65px;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  transition: 0.8s;
  z-index: 1;
}

.about__title {
  position: absolute;
  top: 50%;
  left: -90px;
  margin: 0;
  color: #3a68ac;
  font-size: 55px;
  font-weight: 800;
  text-transform: uppercase;
  transform: translateY(-50%) rotate(-90deg);
  z-index: 2;
}

.about__column {
  width: 470px;
}

.about__name {
  display: block;
  margin-bottom: 25px;
  color: #3a68ac;
  font-size: 36px;
  font-weight: 600;
  
  &--study {
    color: #00118f;
  }
}

.about__desc {
  height: 185px;
  margin-bottom: 30px;
  padding-right: 15px;  
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #3a68ac; 
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: darken(#3a68ac, 5%); 
  }
}

.about__text {
  color: $text;
  font-size: 16px;
  font-weight: 400;
  
  &:first-child {
    margin-top: 0;
  }
}

.about__list {
  padding-left: 0;
  list-style: none;
}

.about__item {
  color: $text;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  background-image: url('../img/li.png');
  background-repeat: no-repeat;
  background-position: left;
}

.about__image {
  position: absolute;
  top: -40px;
  right: 20px;
}

.about__switch {
  position: relative;
  display: block;
  margin-left: auto;
  color: #3a68ac;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  text-align: right;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  
  &::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -8px;
    width: 62px;
    height: 62px;
    background-color: #78b4fb;
    transition: 0.2s;
    z-index: -1;
  }
  
  &:hover {
    color: #FFFFFF;
    
    &::after {
      width: 106%;
    }
  }
  
  &--study {
    color: #00118f;
    
    &::after {
      background-color: #1ecdaa;
    }
  }
}

.about__link {
  display: block;
  width: 195px;
  margin: auto;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 1px 13px 0px rgba(64, 64, 64, 0.8);
  border-radius: 5px;
  background-color: #3a68ac;
}

@media screen and ($tablet-widths) {
  .about__promo {
    margin-bottom: 50px;
    margin-left: 50px;
  }
  
  .about__title {
    left: -160px;
  }
  
  .about__content {
    padding-left: 30px;
  }
  
  .about__column {
    width: 380px;
  }
  
  .about__name {
    font-size: 30px;
  }
  
  .about__image {
    width: 350px;
  }
}

@media screen and ($mobile-widths) {
  .about__promo {
    width: auto;
    margin-left: 0;
    font-size: 18px;
    text-align: center;
  }
  
  .about__title {
    position: static;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    transform: none;
  }
  
  .about__content {
    padding: 30px;
  }
  
  .about__column {
    width: 100%;
  }
  
  .about__name {
    font-size: 25px;
    text-align: center;
    
    br {
      display: none;
    }
  }
  
  .about__image {
    position: static;
    width: 100%;
  }
  
  .about__switch {
    margin: auto;
    margin-bottom: 30px;
  }
}