.cost {
  padding: 30px 0;
  background-image: linear-gradient(-115deg, rgb(50, 214, 232) 0%, rgb(74, 66, 222) 100%);
}

.cost__title {
  margin-top: 0;
  margin-bottom: 40px;
  color: #FFFFFF;
  font-size: 55px;
  font-weight: 800;
  text-align: center;
}

.cost__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.cost__item {
  width: 270px;
  border-radius: 10px;
  box-shadow: 0px 1px 13px 0px rgba(64, 64, 64, 0.8);
  background-color: #FFFFFF;
  overflow: hidden;
}

.cost__name {
  display: block;
  padding: 15px 0;
  color: $text;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}

.cost__cost {
  margin: 0;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background-color: #78b4fb;
  
  &--bold {
    font-size: 30px;
    font-weight: 700;
  }
}

.cost__text {
  margin: 0;
  padding: 15px 0;
  color: $text;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.cost__structure {
  margin: 0;
  padding: 10px 15px;
  color: $text;
  font-size: 18px;
  font-weight: 700;
}

.cost__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cost__subitem {
  margin-bottom: 10px;
  padding-left: 35px;
  color: $text;
  font-size: 14px;
  font-weight: 400;
  background-image: url('../img/cost-li.png');
  background-repeat: no-repeat;
  background-position: 15px 4px;
  background-size: 13px;
  
  &--blue {
    padding: 10px 0;
    padding-left: 35px;
    color: #FFFFFF;
    background-color: #4a58c3;
    background-image: url('../img/cost-li-white.png');
    background-position: 15px center
  }
}

.cost__during {
  margin: 0;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #78b4fb;
}

.cost__button {
  display: block;
  width: 195px;
  margin: auto;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 1px 13px 0px rgba(64, 64, 64, 0.8);
  background-color: #78b4fb;
  outline: none;
  transition: 0.2s;
  
  &:hover,
  &:focus {
    background-color: darken(#78b4fb, 5%);
    transform: translateY(-5px);
  }
}

@media screen and ($tablet-widths) {
  .cost__list {
    flex-wrap: wrap;
    width: 580px;
    margin: auto;
  }
  
  .cost__item {
    margin-bottom: 50px;
  }
}

@media screen and ($mobile-widths) {
  .cost__title {
    font-size: 30px;
  }
  
  .cost__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .cost__item {
    margin-bottom: 20px;
  }
}