.request {
  padding-top: 70px;
  padding-bottom: 85px;
  background-image: linear-gradient(-115deg, rgb(50, 214, 232) 0%, rgb(74, 66, 222) 100%);
}

.request__wrapper {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: -110px;
    right: -140px;
    width: 736px;
    height: 509px;
    background-image: url('../img/request-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.request__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 800;
}

.request__form {
  position: relative;
  width: 470px;
  border-radius: 10px;
  box-shadow: 0px 1px 13px 0px rgba(64, 64, 64, 0.8);
  z-index: 1;
}

.request__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 20px 50px;
  color: $text;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: 20px center;
  outline: none;
  
  &::placeholder {
    color: inherit;
  }
  
  &:nth-child(1) {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url('../img/svg/input-1.svg');
    background-size: 16px;
  }
  
  &:nth-child(2) {
    background-image: url('../img/svg/input-2.svg');
    background-size: 16px;
  }
  
  &:nth-child(3) {
    border-bottom: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url('../img/svg/input-3.svg');
    background-size: 19px;
  }
}

.request__submit {
  position: absolute;
  right: -15px;
  bottom: -20px;
  padding: 10px 25px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 13px 0px rgba(64, 64, 64, 0.8);
  background-color: #78b4fb;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  
  &:hover,
  &:focus {
    background-color: darken(#78b4fb, 5%);
  }
  
  &:active {
    background-color: lighten(#78b4fb, 5%);
  }
}

.request__container {
  width: 500px;
}

@media screen and (max-width: 1465px) {
  .request__wrapper {
    
    &::after {
      right: 0;
      width: 620px;
    }
  }
}

@media screen and ($tablet-widths) {
  .request__wrapper {
    
    &::after {
      display: none;
    }
  }
}

@media screen and ($mobile-widths) {
  .request {
    padding-top: 40px;
  }
  
  .request__wrapper {
    
    &::after {
      display: none;
    }
  }
  
  .request__title {
    margin-left: 0;
    font-size: 20px;
    text-align: center;
    
    br {
      display: none;
    }
  }
  
  .request__form {
    width: 100%;
  }
  
  .request__submit {
    right: -10px;
    bottom: -40px;
  }
  
  .request__container {
    width: 100%;
  }
}