.thankyou {
  // height: calc(100vh - 255px);
}

.thankyou__wrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - 255px);
}

.thankyou__subwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thankyou__image {
  width: 500px;
  height: auto;
  margin-right: 70px;
}

.thankyou__content {
  background-image: url('../img/svg/quote.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 220px;
}

.thankyou__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #093069;
  font-size: 30px;
  font-weight: 600;
}

.thankyou__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: #093069;
  font-size: 24px;
  font-weight: 600;
}

.thankyou__text {
  margin-top: 0;
  margin-bottom: 80px;
  color: $text;
  font-size: 16px;
  font-weight: 400;
}

.thankyou__cta {
  margin-top: 0;
  margin-bottom: 20px;
  color: #093069;
  font-size: 16px;
  font-weight: 400;
}

.thankyou__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.thankyou__link {
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &--fb {
    background-image: url('../img/thankyou-fb.png');
  }
  
  &--in {
    background-image: url('../img/thankyou-in.png');
  }
  
  &--yt {
    margin-right: 0;
    background-image: url('../img/thankyou-yt.png');
  }
}

.thankyou__prefooter {
  padding: 20px 0;
  background-color: #78b4fb;
}

.thankyou__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.thankyou__column {
  width: 50%;
}

.thankyou__name {
  display: block;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}

.thankyou__address {
  margin: 0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
}

.thankyou__phones {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.thankyou__phone {
  display: block;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

@media screen and ($mobile-widths) {
  .thankyou {
    height: auto;
    margin-top: 30px;
  }
  
  .thankyou__wrapper {
    height: auto;
  }
  
  .thankyou__subwrapper {
    flex-direction: column;
  }
  
  .thankyou__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .thankyou__content {
    background-position: top;
  }
  
  .thankyou__title {
    text-align: center;
  }
  
  .thankyou__subtitle {
    text-align: center;
    
    br {
      display: none;
    }
  }
  
  .thankyou__text {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .thankyou__cta {
    text-align: center;
  }
  
  .thankyou__list {
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .thankyou__box {
    flex-direction: column;
  }
  
  .thankyou__column {
    width: 100%;
    margin-bottom: 20px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .thankyou__name {
    text-align: center;
  }
  
  .thankyou__address {
    text-align: center;
  }
  
  .thankyou__phones {
    width: 100%;
  }
}