.btn {
  @include reset-link;
  display: inline-block;
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 12px 0;
  border: 1px solid #e5ddd5;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s,
              border-color 0.5s,
              color 0.5s;
    &:hover {
      border-color: #d5cabe;
    }
    &:active {
      border-color: #d5c9bd;
      background-color: #d5c9bd;
      color: #958c84;
    }
}
