.choice {
  padding: 0 0 80px 0;
  
  &--bg {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 419px;
      height: 762px;
      background: url('../img/canada-bg.png') no-repeat center / cover;
      z-index: 2;
    }
  }
}

.choice__list {
  margin: 0 0 80px 0;
  padding: 0;
  list-style: none;
  
  &:last-of-type {
    margin: 0 0 40px 0;
  }
}

.choice__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 260px;
  height: 230px;
  padding: 30px 0;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 0px rgba(35, 31, 32, 0.3);
  background: #fff;
  transition: 0.3s;
  z-index: 5;
  
  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(35, 31, 32, 0.3);
    transform: scale(1.1);
    
    .choice__content {
      opacity: 0;
    }
    
    .choice__edge {
      opacity: 1;
    }
  }
}

.choice__content {
  transition: 0.3s;
}

.choice__logo {
  display: block;
  margin: 0 auto;
}

.choice__name {
  display: block;
  color: $main-gray;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.choice__call {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.choice__edge {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 5px;
  list-style: none;
  background: #fff;
  opacity: 0;
  overflow: auto;
  transition: 0.3s;
  transform: translate(-50%, -50%) scale(0.9);
}

.choice__short {
  // margin-bottom: 10px;
  padding: 0 0 10px 25px;
  
  &:last-child {
    padding-bottom: 0;
  }
  
  &:nth-child(1) {
    background: url('../img/svg/location.svg') no-repeat 0 0 / 20px;
  }
  
  &:nth-child(2) {
    background: url('../img/svg/university.svg') no-repeat 0 0 / 20px;
  }
  
  &:nth-child(3) {
    background: url('../img/svg/discount.svg') no-repeat 0 0 / 20px;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .choice {
    padding: 0;
    
    &--bg {
      
      &::after {
        display: none;
      }
    }
  }
  
  .choice__list {
    margin: 0;
  }
  
  .choice__item {
    margin: 0 0 30px 0;
  }
}