.mobile {
  padding-top: 50px;
  
  h2 {
    margin-bottom: 10px;
    text-align: right;
    text-transform: uppercase;
  }
  
  b {
    display: block;
    margin-bottom: 70px;
    color: #fff;
    font-size: 20px;
    text-align: right;
  }
  
  p {
    color: #fff;
    opacity: 0.7;
  }
}

.mobile__title {
  width: 600px;
  margin: 0 10% 0 auto;
}

.mobile__flex-first {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: auto;
  padding-top: 70px;
  text-align: center;
}

.mobile__left,
.mobile__right {
  width: 325px;
  
  b {
    margin-bottom: 20px;
    text-align: center;
  }
}

.mobile__flex-second {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
  padding-top: 70px;
}

.mobile__first {
  
  b {
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    width: 400px;
  }
}

.mobile__flex-box {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.mobile__box {
  width: 180px;
  padding-top: 130px;
  text-align: center;
  background: url('../img/mobile-download.png') no-repeat top;
  
  b {
    display: inline;
    margin-bottom: 0px;
  }
  
  p {
    width: auto;
    margin-bottom: 30px;
    opacity: 1;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .features__start {
    color: $mc;
    
    &:hover {
      color: #fff;
    }
  }
}

.mobile__second {
  width: 600px;
  height: 569px;
  background: url('../img/mobile-right.png') no-repeat bottom;
  background-size: contain;
}

@media screen and ($tablet-widths) {
  .mobile {
    
    h2, b {
      text-align: center;
    }
  }
  
  .mobile__title {
    width: 80%;
  }
  
  .mobile__flex-second {
    flex-direction: column;
    width: 96%;
  }
  
  .mobile__first {
    align-self: center;
    
    p {
      text-align: center;
    }
  }
  
  .mobile__second {
    align-self: center;
    width: 600px;
    height: 569px;
    margin-top: 70px;
    background: url('../img/mobile-right.png') no-repeat bottom;
    background-size: contain;
  }
}

@media screen and ($mobile-widths) {
  .mobile {
    
    h2 {
      text-align: center;
    }
    
    b {
      margin-bottom: 30px;
      text-align: center;
    }
  }
  
  .mobile__title {
    width: auto;
    margin: 0;
    text-align: center;
  }
  
  .mobile__flex-first {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  
  .mobile__flex-box {
    flex-direction: column;
    align-items: center;
  }
  
  .mobile__box {
    width: auto;
    margin-bottom: 50px;
  }
  
  .mobile__first {
    
    p {
      width: auto;
    }
  }
  
  .mobile__second {
    display: none;
  }
}