.event {
  padding: 150px 0;
  background-color: lighten(#000000, 20%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

.event__title {
  margin-top: 0;
  margin-bottom: 60px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.event__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.event__item {
  margin: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
  transition: 0.3s;
  
  &:hover {
    transform: scale(1.05);
  }
}

.event__link {
  text-decoration: none;
}

.event__photo {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.event__name {
  color: $text;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

@media screen and ($mobile) {
  .event {
    padding: 100px 0;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
  }
}