.edge {
  background: url('../img/edge-bg.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.edge__flex {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}

.edge__box {
  width: 200px;
  padding-top: 180px;
  color: #fff;
  text-align: center;
  
  p {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'SF UI Display', sans-serif;
    text-transform: uppercase;
  }
}

.edge__box--1 {
  background: url('../img/edge-1.svg') no-repeat top;
}

.edge__box--2 {
  background: url('../img/edge-2.svg') no-repeat top;
}

.edge__box--3 {
  background: url('../img/edge-3.svg') no-repeat top;
}

.edge__box--4 {
  background: url('../img/edge-4.svg') no-repeat top;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .edge__flex {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .edge__box {
    margin-bottom: 50px;
  }
}