.footer {
  padding: 25px 0;
  background: #212121;
  
  h1 {
    color: #fff;
    font-size: 25px;
    font-family: 'SF UI Display Black', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    color: #818181;
    font-family: 'SF UI Display Regular', sans-serif;
    text-align: center;
  }
  
  hr {
    opacity: 0.2;
  }
}