.header {
  background: #e1e1e1;
  opacity: 0.8;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {}