.heading {
  margin-top: 0;
  margin-bottom: 40px;
  color: $text;
  font-size: 30px;
  font-weight: 700;
}

@media screen and ($mobile-widths) {
  .heading {
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
  }
}