<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - Cryptologi</title>
  <link rel="stylesheet" href="../css/styll.css">
  <link rel="stylesheet" href="../css/adapti.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
  <header class="page-header  page-header--about">
    <div class="container">
      <div class="page-header__flex-container">
        <div class="page-header__logo">
          <a href="../index.html">
            <img class="page-header__logo-full" src="../img/n-logo.png" alt="CryptoLogi">
          </a>
        </div>
        <div class="page-header__menu">
          <nav class="page-header__main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a href="login.html">LOGIN</a></li>
              <li class="main-nav__item"><a href="contact.html">CONTACT</a></li>
              <li class="main-nav__item"><a href="https://client.cryptologi.com/en/members/register/real/">LOG UP</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="page-main  page-main--about">
    <div class="container">
      <div class="container__adv  container__adv--pm">
        <h1>About Us</h1>
        <p class="page-main__about--title">Cryptologi cryptocurrency exchange puts you first</p>
        <p>Founded in 2017, Cypriot - based Cryptologi is a leading Bitcoin exchange in euro volume and liquidity and offering trading other cryptocurrency tokens. cryptologi is consistently rated in the same line with the best and most secure Bitcoin exchange and develop high end technologies solutions for the crypto market.</p>
        <p>We are partner with the most trusted liquidity providers and trusted by hundreds of thousands of traders around the world.</p>
        <p class="page-main__about--title">Our values</p>
        <p class="page-main__about--title">Transperancy</p>
        <p>We believe transparency is a crucial demand as we are committed for the prices and transactions and for the processing of orders in our platforms.</p>
        <p class="page-main__about--title">Professionalism</p>
        <p>We are dedicated to our product and your experience.</p>
        <p class="page-main__about--title">Guarantee</p>
        <p class="page-main--pb">Your funds and tokens are guaranteed with segregated account, separate from client funds and audited by respected accountants and nominee.</p>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex-container">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="login.html">Log In</a></li>
            <li><a href="https://client.cryptologi.com/en/members/register/real/">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a class="page-footer--active">About Us</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="security.html">Security</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="legal.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
            <li><a href="support.html">Support</a></li>
            <!-- <li><a href="template/trading.html">Trading Guide</a></li> -->
            <!-- <li><a href="template/disclaimer.html">Disclaimer</a></li> -->
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">© Copyright 2017 Cryptologi, All right reserved. Cryptologi is a property of GRANIT OAK WORLDWIDE LIMITED: Igoumenitsas 12, , 2027 Nicosia, Cyprus. Operational address: Igoumenitsas 12, , 2027 Nicosia, Cyprus<br><br>Criptologi is a software platform ONLY and does not conduct any independent diligence on or substantive review of any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own, and for all your decisions as to whether to exchange blockchain assets with Exodus. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may increase in value after your exchange.
Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.</p>    </div>
  </footer>
</body>
</html>