<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FAQ - Cryptologi</title>
  <link rel="stylesheet" href="../css/crypto.css">
  <link rel="stylesheet" href="../css/media.css">
</head>
<body>
  <header class="page-header  page-header--about">
    <div class="container">
      <div class="page-header__flex-container">
        <div class="page-header__logo">
          <a href="../index.html">
            <img class="page-header__logo-full" src="../img/n-logo.png" alt="CryptoLogi">
          </a>
        </div>
        <div class="page-header__menu">
          <nav class="page-header__main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a href="https://client.cryptologi.com/en/members/login">LOGIN</a></li>
              <li class="main-nav__item"><a href="contact.html">CONTACT</a></li>
              <li class="main-nav__item"><a href="https://client.cryptologi.com/en/members/register/real/">LOG UP</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="page-main  page-main--faq">
    <div class="container">
      <div class="container__adv  container__adv--pm">
        <h1>Faq</h1>
        <p class="page-main__title">Account FAQ</p>
        <p class="page-main__title">How to open a Cryptologi trade account?</p>
        <p>It is easy and secure to open a Cryptologi account. Initially, you can choose to open a practice, free demo account. However, if you’re ready to trade, you can make a deposit and open a Live Account. Based on how you would like to fund your account, there are three types of account available, but once you begin trading, there is the option to move from one account type to another.</p>
        <p>You will need to fill out a short registration form for any Live Account that you want to open. Legal documentation is required by regulation in order to provide proof of your identity. As soon as your identity has been confirmed, all you need to do is download the platform you want to trade on, make a deposit to fund your account, and then you’re ready to start trading.</p>
        <p class="page-main__title">Which types of accounts are available?</p>
        <p>Three kinds of accounts are offered by Cryptologi:</p>
        <p><b>Mini Account</b> – beginning at $500 USD</p>
        <p><b>Classic Account</b> – beginning at $5000 USD</p>
        <p><b>Premium Account</b> beginning at $20,000 USD</p>
        <p class="page-main__title">Which platform should you use?</p>
        <p>There are a variety of different platforms available from Cryptologi to meet the requirements of different traders with different circumstances.</p>
        <p><b>Criptologi Webtrader</b> - download this popular, world-renowned desktop platform if you predominately trade in crypto currencies. It is both user-friendly and state-of-the-art.</p>
        <p><b>Criptologi Mobile</b> - this solution provides apps for Android, tablets, and iPhone, enabling traders to trade form anywhere in the world, from a variety of devices.</p>
        <p class="page-main__title">What type of information do you need to give in order to trade?</p>
        <p>You are requested to give the following information for proof of identity upon registration:</p>
        <p>A certified, original copy of your passport or ID.</p>
        <p>A utility bill with proof of your mailing address.</p>
        <p>You will need to clearly indicate the beneficiary name on the Cryptologi Customer Agreement. It is important that the account beneficiary name corresponds to the name on the customer agreement form, and also the documents for proof of identity. In addition, if you wish to withdraw funds, it must be to the same beneficiary.</p>
        <p class="page-main__title">How do you manage your risk?</p>
        <p class="page-main--pb">The stop loss order and the limit order are the most common risk management tools in Forex trading. A limit order stets a restriction on the minimum price to be received or the maximum price to be paid. An automatic liquidation at a predetermined price for a particular position is called a stop loss. This is used to limit potential losses if the market moves against an investor’s position.</p>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex-container">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="https://client.cryptologi.com/en/members/login">Log In</a></li>
            <li><a href="https://client.cryptologi.com/en/members/register/real/">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="security.html">Security</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a class="page-footer--active">FAQ</a></li>
            <li><a href="legal.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
            <li><a href="support.html">Support</a></li>
            <!-- <li><a href="template/trading.html">Trading Guide</a></li> -->
            <!-- <li><a href="template/disclaimer.html">Disclaimer</a></li> -->
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">© Copyright 2017 Cryptologi, All right reserved. Cryptologi is a property of GRANIT OAK WORLDWIDE LIMITED: Igoumenitsas 12, 2027 Nicosia, Cyprus. Operational address: Igoumenitsas 12, 2027 Nicosia, Cyprus<br><br>Criptologi is a software platform ONLY and does not conduct any independent diligence on or substantive review of any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own, and for all your decisions as to whether to exchange blockchain assets with Exodus. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may increase in value after your exchange.
Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.</p>    </div>
  </footer>
</body>
</html>
