<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CryptoLogic</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/media.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body class="form__body">
  <section class="modal-login">
    <div class="container">
      <h1><a href="../index.html">CryptoLogic</a></h1>
      <div class="login">
        <h2>Sign up to <span>CryptoLogic</span></h2>
        <form class="form  modal-login__form" action="index.html" method="post">
          <div class="form__name">
            <label for="name">Name</label>
            <input type="text" name="FirstName" id="name" placeholder="First Name">
            <hr>
            <input type="text" name="LastName" id="name" placeholder="Last Name">
          </div>
          <div class="form__email">
            <label for="email">Email</label>
            <input class="modal-login__user" type="email" name="email" id="email" placeholder="you@example.com">
          </div>
          <div class="form__password">
            <label for="pass">Password</label>
            <input class="modal-login__password" type="password" name="password" id="pass" placeholder="********">
          </div>
          <div class="form__check">
            <label for="check">I certify that I am 18 years of age or older, and I agree to the User Agreement and Privacy Policy.</label>
            <input type="checkbox" id="check">
          </div>
          <button class="form__btn  modal-login__enter  btn" type="submit" name="button">Create Account</button>
          <p class="form__have">Already have an account? <a href="login.html">Sign In</a></p>
        </form>
      </div>
    </div>
  </section>
</body>
</html>
