<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Legal - Cryptologi</title>
  <link rel="stylesheet" href="../css/stylesass.css">
  <link rel="stylesheet" href="../css/adaptivee.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
  <header class="page-header  page-header--about">
    <div class="container">
      <div class="page-header__flex-container">
        <div class="page-header__logo">
          <a href="../index.html">
            <img class="page-header__logo-full" src="../img/n-logo.png" alt="CryptoLogi">
          </a>
        </div>
        <div class="page-header__menu">
          <nav class="page-header__main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a href="login.html">LOGIN</a></li>
              <li class="main-nav__item"><a href="contact.html">CONTACT</a></li>
              <li class="main-nav__item"><a href="form.html">LOG UP</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="page-main page-main--legal">
    <div class="container">
      <div class="container__adv  container__adv--pm">
        <h1>Privacy Policy</h1>
        <div class="page-main__left">
          <p>Cryptologi takes the privacy of its users very seriously. We are aware that keeping our treasured clients private information is vital and have made the trustworthiness and security of the platform into one of our top priorities.</p>
          <p>We advise you to familiarize yourself with our privacy protocol and let us know in case you have any inquiries.</p>
          <p>The arrangements stated in this protocol are applicable to current and previous users as well.</p>
          <p class="page-main__about--title">Private information</p>
          <p>At the time activating of your profile at Cryptologi, we would request that you share the necessary personal info, in order to provide you the optimum trading experience. We need the info to make the necessary transfers and trades, to determine your financial scope, to handle any forgotten password issues, make customer care easier and let you know about any Cryptologi related matter that might concern you. We are also obliged by the law to keep proper records.</p>
          <p class="page-main__about--title">We might request that you share the following thing with us:</p>
          <p>In order to apply: your name, DOB, form of identification or social security, proper address. We might also need to verify your occupation, financial status and more relevant information, as described during the process of creating a profile.</p>
          <p>In order to make transfer funds – statements or copies of previous correspondence and details about your transfers with Cryptologi or its partners, along with any trading actions, financial statements, previously asked questions and the respective answers.</p>
          <p>For authentication purposes – we might need certain documents for making sure that the information represents the real person (some form of personal identification) and also bank statements, utilities statements, bank card information and so on.</p>
          <p>Attention: Cryptologi is obliged by the AML and the USA Patriot Act to gather any data if there is a need and act accordingly to verify a user`s identification.</p>
          <p>Attention: Cryptologi wants to clarify that it does not purposefully keep or gather and information of any individuals under the age of thirteen.</p>
          <p>If it comes to the knowledge of Cryptologi that information has been collected from a person under the age of thirteen, then the appropriate measures will be taken to erase that information.</p>
          <p>Please, if any parents or attendants of children learn that their child has submitted private/personal information with no permission, write us immediately.</p>
          <p class="page-main__about--title">Utilization of cookies</p>
          <p>Some information is being transmitted from the platform`s server to the user`s browser and kept on the user`s device. This is referred to as cookies. Cryptologi gathers necessary data by using the cookies. Don`t worry, as cookies don`t have any private information regarding the user in them, with the exception when the user has provided such information by himself – like when opening a profile at a website. Cryptologi will utilize the cookies for the purpose of identifying and quantifying platform traffic, along with measuring how certain services and ads are performing.</p>
          <p>This way Cryptologi can better gauge the ways in which the users are utilizing the platform, and make enhancements to the performance of the website. Additionality, it lets us know what kind of relevant materials and information we should provide to you.</p>
          <p>The collected data might also be made available to Cryptologi staff, partners and associates. Cryptologi will not use the information for commercial purposes by providing it to any unassociated individuals or entities.</p>
          <p>When the user goes to Cryptologi, there might be other affiliated parties that also place their cookies on the user`s computer. We would advise you to take a look at the terms and conditions of those affiliate parties websites in case you have any questions or issues regarding their placement of cookies. Usually, the usage of cookies is the same as on Cryptologi.</p>
          <p class="page-main__about--title">Disclosure information</p>
          <p>Some information might be disclosed fully or partially with our trusted partners. The purpose of this is to be able to let customers know of any new offers or functionalities, along with providing assistance with user profiles. The partners consist of partiers related to the platform, who are usually stakeholders of some kind. The confidentiality of your private data will be kept by our partners as it is being kept by Cryptologi, following the privacy terms and conditions stated on the platform.</p>
          <p class="page-main__about--title">Other Parties</p>
          <p>With the exception of the parties stated in the privacy protocol, Cryptologi will not share your data to any other parties. Sometimes we might give information to non-associated firms responsible for performing maintenance on the user`s profile. This includes parties that take care of the funds transfer process at Cryptologi. Additionally, it might include firms responsible for any legal and financial matters at Cryptologi. Any party which is not a direct associate to Cryptologi should keep the provided user data to the same degree in which it is received. The non-associate party can only utilize the given user data in order to provide the specified service and for no other reasons.</p>
          <p>In some cases Cryptologi might give out a client`s private data to another party given that there are certain instructions that need to be accomplished. Know that Cryptologi would never use your information as a source of revenue and give it in exchange for money.</p>
          <p>In case of any requests and control by bodies of the law, Cryptologi might share private user data given to other parties. The shared information might contain private specifics in order to meet the requirements of the law, as well as securing the rights and integrity of the platform.</p>
          <p class="page-main__about--title">Consolidation and insolvency</p>
          <p>All private client data will be consolidated following the platform, in case there is a merger of Cryptologi. Stated in the inclusion terms and the obligations for keeping records, there are going to be different procedures in case of insolvency.</p>
          <p class="page-main__about--title">Payment details</p>
          <p>Cryptologi does not hold any data related to client`s credit card information and details. In case you`re asked to give a copy of your bank card, you should only provide the ending 4 digits of the card number, without giving out the CVC which can be found on the back of the card.</p>
          <p class="page-main__about--title">Inability/Unwillingness to share private data</p>
          <p>You can choose if you want to share the necessary information with Cryptologi. Be mindful though, that any info you omit might lead to issues with your trading profile. It might also have impact on the services we`re able to offer you.</p>
          <p class="page-main__about--title">Pulling out</p>
          <p>If you wish for Cryptologi to delete all your private information from the platform and the servers, you will need to send us a detailed message. Know that any omitted data might result in issues with your profile and consequently lead to inadequacy with the platform services.</p>
          <p class="page-main__about--title">Corrections</p>
          <p>If any corrections are made, which change the policies and protocol for private data gathered by Cryptologi, the clients will be promptly informed about it. The client has the right to decide whether his private data will be used in a certain way. Any other change or correction which is not related to a client`s private date will be posted on the platform.</p>
          <p class="page-main__about--title">Mailing info</p>
          <p>In case you have any inquiries regarding the privacy protocol or something related to the platform, please feel free to contact us at any time. You can send us an e-mail, call us or fax us. There is always a dedicated Cryptologi employee to answer your questions.</p>
          <p class="page-main__about--title  page-main--pb">Registered Address:<br>GRANIT OAK WORLDWIDE LIMITED, Igoumenitsas 12, CONNECTEDSKY HOUSE, 2027 Nicosia, Cyprus<br>Mailing Address:<br>Igoumenitsas 12, CONNECTEDSKY HOUSE, 2027 Nicosia, Cyprus</p>
        </div>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex-container">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="login.html">Log In</a></li>
            <li><a href="form.html">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a class="page-footer--active">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="support.html">Support</a></li>
            <li><a href="trading.html">Trading Guide</a></li>
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">© Copyright 2017 Cryptologi, All right reserved. Cryptologi is a property of GRANIT OAK WORLDWIDE LIMITED: Igoumenitsas 12, CONNECTEDSKY HOUSE, 2027 Nicosia, Cyprus. Operational address: Igoumenitsas 12, CONNECTEDSKY HOUSE, 2027 Nicosia, Cyprus</p>
    </div>
  </footer>
</body>
</html>