<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration - CryptoLogi</title>
  <link rel="stylesheet" href="../css/astyle.css">
  <link rel="stylesheet" href="../css/adaptivee.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body class="form__body">
  <section class="modal-login">
    <div class="container">
      <h1><a href="../index.html">CryptoLogi</a></h1>
      <div class="login login--log">
        <h2>Sign in to <span>CryptoLogi</span></h2>
        <form class="form  modal-login__form" action="index.html" method="post">
          <div class="form__email">
            <label for="email">Email</label>
            <input class="modal-login__user" type="email" name="email" id="email" placeholder="you@example.com">
          </div>
          <div class="form__password">
            <label for="pass">Password</label>
            <input class="modal-login__password" type="password" name="password" id="pass" placeholder="********">
          </div>
          <button class="form__btn  modal-login__enter  btn" type="submit" name="button">Login</button>
          <p class="form__have">New user? <a href="form.html">Sign Up</a></p>
        </form>
      </div>
    </div>
  </section>
</body>
</html>
