<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - Cryptologi</title>
  <link rel="stylesheet" href="../css/astyle.css">
  <link rel="stylesheet" href="../css/adaptivee.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
  <header class="page-header  page-header--about">
    <div class="container">
      <div class="page-header__flex-container">
        <div class="page-header__logo">
          <a href="../index.html">
            <img class="page-header__logo-full" src="../img/n-logo.png" alt="CryptoLogi">
          </a>
        </div>
        <div class="page-header__menu">
          <nav class="page-header__main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a href="login.html">LOGIN</a></li>
              <li class="main-nav__item"><a href="contact.html">CONTACT</a></li>
              <li class="main-nav__item"><a href="https://client.cryptologi.com/en/members/register/real/">LOG UP</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="page-main  page-main--careers">
    <div class="container">
      <div class="container__adv  container__adv--pm">
        <h1>Security</h1>
        <p class="page-main__about-title">Safety is our topmost Priority</p>
        <p>The safty and security of  our client's funds and information is something we take really seriously. Our strong security protocols gives our clients to opportunity to secure their accounts</p>
        <p class="page-main__about--title">What the imortance of securing you account</p>
        <p>as a result of the various transactions made with real money, when you makes a deposit you place your money in a cryptologic account. This is very important that you can control them. If you don't turn on protection feautures in your account, someone can easily get access to the account and make away with your money.</p>
        <p class="page-main__about--title">Strong password</p>
        <p>it is very important to use a password unique to you alone. This maks it immporsible for anyone to steal your money. The password should contain at least a minimu of 8 characterss and it should be comprised of small letters, big letters, digits and sometimes even special character (!, # &) as the case may be.</p>
        <p class="page-main__about--title">Two factor authentication(2FA)</p>
        <p>this special feature is available to provide another level of authentication and verification of the right and legal user of an account. With 2FA enabled, you give your account another layer of protection: usually a one time code that can only be sent to your mobile devices.</p>
        <p class="page-main__about-title">Our site, services and personel</p>
        <p>every online service and commmunication occur over secured and trusted channels. The various wallets are stored and kept making us of a PGP encryption. No personal of Cryptologi has direct access to any customer's Bitcoin funds. Likewise no one will ask you for the password to your personal account. We run an impressive but yet simple financial and security  auditing. This gives our customer a gurantee that their funds well safe and accounted for. Every staff member pass a background check, they receive qualitative training and are expected to adhere  to each and every of the compny's policy</p>
        <h1>AML & KYC</h1>
        <p>Cryotologic exchange is strongly against the act of money laundering and any form of financing terrorism. It consists of</p>
        <ul>
          <li>verification of your account: before a payment is carried out, any user or customer that wants to pay in fiat currencies has to verify their account</li>
          <li>Safety PIN code : a 4 digit code is expected to be set  up during account registration. If our customer service is contacted for  anything, no information would be released  without the PIN code</li>
          <li>Transfer delay or account blooking : we can block, suspend or deactivate an account in the case where by a crime is suspected</li>
          <li>Singular user, one account : one person is allowed to own only one account on cryptologi</li>
        </ul>
        <p class="page-main--pb">Digital currencies are rapidly changing the financial landscape, and the Luno team is at the forefront of this revolution. If you’re looking to work on something truly global and disruptive with a smart and ambitious team that highly values diversity, teamwork, and the continuous quest for excellence, then this is the opportunity for you.</p>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex-container">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="login.html">Log In</a></li>
            <li><a href="https://client.cryptologi.com/en/members/register/real/">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="press.html">Press</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a class="page-footer--active">Security</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="legal.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
            <li><a href="support.html">Support</a></li>
            <!-- <li><a href="template/trading.html">Trading Guide</a></li> -->
            <!-- <li><a href="template/disclaimer.html">Disclaimer</a></li> -->
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">© Copyright 2017 Cryptologi, All right reserved. Cryptologi is a property of GRANIT OAK WORLDWIDE LIMITED: Igoumenitsas 12, , 2027 Nicosia, Cyprus. Operational address: Igoumenitsas 12, , 2027 Nicosia, Cyprus<br><br>Criptologi is a software platform ONLY and does not conduct any independent diligence on or substantive review of any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own, and for all your decisions as to whether to exchange blockchain assets with Exodus. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may increase in value after your exchange.
Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.</p>    </div>
  </footer>
</body>
</html>