<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trading - Cryptologi</title>
  <link rel="stylesheet" href="../css/cust.css">
  <link rel="stylesheet" href="../css/adapt.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
  <header class="page-header  page-header--about">
    <div class="container">
      <div class="page-header__flex-container">
        <div class="page-header__logo">
          <a href="../index.html">
            <img class="page-header__logo-full" src="../img/n-logo.png" alt="CryptoLogi">
          </a>
        </div>
        <div class="page-header__menu">
          <nav class="page-header__main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a href="login.html">LOGIN</a></li>
              <li class="main-nav__item"><a href="contact.html">CONTACTS</a></li>
              <li class="main-nav__item"><a href="form.html">LOG UP</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="page-main  page-main--trading">
    <div class="container">
      <div class="container__adv  container__adv--pm">
        <h1>Trading Guide</h1>
        <p class="page-main__legal--title">Bitcoin Trading</p>
        <p>Cryptologi is a trusted platform for trading Bitcoins. The exchange provides fast order execution, low spread,<br>and access to high liquidity orderbook for top currency pairs on the market. Cross-platform trading is realised via website,<br>mobile app, and several API solutions. Safety of assets and data are backed by high security standards and advanced legal compliance.</p>
        <p>To start trading on Cryptologi follow the steps</p>
        <p class="page-main__legal--title">Sign up with Cryptologi</p>
        <p>It will take you only a few steps to register and get an account on Cryptologi Bitcoin exchange.</p>
        <p class="page-main__legal--title">Deposit funds</p>
        <p>Fund account with your payment card or via bank transfer. We accept VISA and MasterCard.</p>
        <p class="page-main__legal--title">Start trading</p>
        <p>Trade Bitcoin via website interface, mobile app or using automated trading solutions.</p>
        <p class="page-main__legal--title">Commission</p>
        <p>Cryptologi exchange charges variable commissions of 0% to 0.2%, depending on the trading pair.<br>Special conditions are discussable for high-volume traders. Volume-based trade fees are coming soon.</p>
        <p class="page-main__legal--title">Cryptologi API</p>
        <p>Cryptologi provides several API solutions for automated trading based on needs of individuals and institutions.<br>REST API is a basic tool for quick access to Cryptologi market data and automated trade management.<br>WebSocket API with full trading functionality is mainly used by professional traders.<br>Finally, FIX API is the best solution for institutional traders to connect trading systems to a source of Bitcoin liquidity.</p>
        <p class="page-main__legal--title">Key Advantages</p>
        <ul>
          <li>* safe cryptocurrency cold storage and financial viability</li>
          <li>* high liquidity orderbook and low spread</li>
          <li>* advanced order-matching algorithms</li>
          <li>* cross-platform trading via website, mobile app and API</li>
          <li>* easy deposits and guaranteed withdrawals</li>
          <li>* advanced and transparent reporting</li>
          <li>* professional 24/7 support team</li>
        </ul>
        <p class="page-main--pb">START TRADING</p>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex-container">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="login.html">Log In</a></li>
            <li><a href="form.html">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="legal.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="trading.html">Support</a></li>
            <li><a class="page-footer--active">Trading Guide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>