.page-header {
  min-height: 130px;
  background: #1f5513 url("../img/header.png") no-repeat top;
  background-size: cover;
}

.page-header__logo {
  padding-top: 15px;
}

.page-header__nav {
  width: 880px;
  margin-top: 3px;
}

.page-header__main-nav {
  padding: 1px 25px;
  border-top: 2px solid $w;
  border-left: 2px solid $w;
  border-right: 2px solid $w;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: $dg;
}

.page-header__nav-list {
  display: flex;
  padding-left: 0;
  color: $w;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;

  & a {
    padding: 16px 15px;
    color: $w;
    text-decoration: none;

    &:hover {
      background: linear-gradient( -90deg, rgba(141,198,63,0) 0%, rgb(141,198,63) 100%);
    }
  }
}

@media only screen and (max-width : 992px) {
   .container {
     width: 95%;
   }
}

@media only screen and (max-width : 768px) {  
  .page-header__nav-list  a {
    padding: 15px 2px;
  }
  
  .container {
    width: 97%;
  }
  
  .page-header__nav {
    width: 100%; 
  }
  
  .page-header__main-nav {
    padding-left: 30px;
  }
  
  .page-header__nav-list {
    font-size: 14px;
  }
}

@media only screen and (max-width : 480px) {
  .page-header__main-nav {
    padding-left: 15px;
  }
  
  .page-header__nav-list {
    flex-wrap: wrap;
    font-size: 12px;
  }
  
  .page-header__nav-list a {
    transition: 0.3s;
  }
  
  .page-header__nav-list a:hover {
    color: $g;
    background: none;
  }
}