.page-main__flex {
  margin-top: 10px;
}

// Left column
.page-main__nav {
  width: 200px;
  height: 135px;
  background: $g;
  border-radius: 10px;
  border: 2px solid $dg;
}

.page-main__nav-list {  
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 135px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
  
.page-main__nav-item a {
  display: block;
  padding: 5px 0;
  color: $w;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid $dg;
  transition: 0.3s;
}

.page-main__nav-item a:hover {
  background: $dg;
}

.page-main__nav-item--border {
  border-bottom: none !important;
}

// Submenu
.page-main__sub-menu {
  position: absolute;
  top: 25px;
  left: 203px;
  display: none;
  width: 100px;
  padding-left: 0;
  background: $w;
  border-radius: 10px;
  border: 2px solid $dg;
  list-style: none;
}

.page-main__sub-menu a {
  color: #0f6300;
  border-bottom: none;
}

.page-main__sub-menu a:hover {
  background: $w;
}

.page-main__nav-item:hover .page-main__sub-menu {
  display: block;
}
// Right column
.page-main__cards {
  width: 160px;
}

.page-main__card-box {
  width: 160px;
  height: 138px;
  padding: 5px;
}