body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Text', 'Arial' sans-serif; }

.container {
  width: 70%;
  margin: auto; }

@media screen and (max-width: 1200px) {
  .container {
    width: 96%; } }

@media screen and (max-width: 768px) {
  .container {
    width: 98%; } }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Semibold"), local("SFUIText-Semibold"), url("../fonts/SFUIText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Regular"), local("SFUIText-Regular"), url("../fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Bold"), local("SFUIText-Bold"), url("../fonts/SFUIText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Light"), local("SFUIText-Light"), url("../fonts/SFUIText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Heavy"), local("SFUIText-Heavy"), url("../fonts/SFUIText-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Medium"), local("SFUIText-Medium"), url("../fonts/SFUIText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.page-header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.page-header--temp {
  position: relative;
  background: #fff;
  z-index: 10; }

.page-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 35px 0;
  list-style: none; }

.page-header__item {
  margin-right: 10px; }
  .page-header__item a {
    color: #2e2963;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .page-header__item a:hover {
      color: #f2c318;
      border-bottom: 1px solid #f2c318; }

.page-header__item--active {
  color: #f2c318 !important;
  border-bottom: 1px solid #f2c318; }

.page-header__link {
  padding: 10px 25px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .page-header__link:hover {
    color: #2e2963;
    background: #f2c318; }

.page-header__link--violet {
  margin-right: 10px;
  background: #2e2963; }

.page-header__link--black {
  background: #1a1a1a; }

.page-header__toggle {
  display: none; }

@media screen and (max-width: 1200px) {
  .page-header__item a {
    font-size: 14px; }
  .page-header__link {
    padding: 10px 15px; }
  .page-header__link--violet {
    margin-right: 5px; } }

@media screen and (max-width: 768px) {
  .page-header__main-nav {
    height: 50px; }
  .page-header__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .page-header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .page-header__item {
    margin-bottom: 10px; }
  .page-header__main-nav {
    position: relative; }
  .page-header__toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .page-header__toggle:hover {
      background-color: #2e2963; }
  .page-header__main-nav--closed .page-header__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 13px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 00 #fff, 0 16px 00 #fff;
    box-shadow: 0 8px 00 #fff, 0 16px 00 #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .page-header__main-nav--closed .page-header__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 0 rgba(255, 255, 255, 0.3), 0 16px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 rgba(255, 255, 255, 0.3), 0 16px 0 rgba(255, 255, 255, 0.3); }
  .page-header__main-nav--opened .page-header__toggle {
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 20; }
    .page-header__main-nav--opened .page-header__toggle::before, .page-header__main-nav--opened .page-header__toggle::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 8px;
      width: 25px;
      height: 2px;
      background-color: #fff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s; }
    .page-header__main-nav--opened .page-header__toggle::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .page-header__main-nav--opened .page-header__toggle::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .page-header__main-nav--opened .page-header__toggle:active::before, .page-header__main-nav--opened .page-header__toggle:active::after {
      background-color: rgba(255, 255, 255, 0.3); }
  .page-header__main-nav--closed .page-header__item {
    display: none; }
    .page-header__main-nav--closed .page-header__item--active {
      display: block;
      text-align: center; }
  .page-header__main-nav--closed .page-header__user-menu {
    display: none; }
  .page-header__main-nav--opened .container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 310px;
    background-color: white;
    -webkit-animation: menu-opened 0.5s;
    animation: menu-opened 0.5s; }
  .page-header__main-nav--nojs .page-header__toggle {
    display: none; }
  .page-header__main-nav--nojs .container {
    position: static;
    height: auto; }
  .page-header__main-nav--nojs .page-header__item {
    display: block; }
    .page-header__main-nav--nojs .page-header__item--active {
      text-align: left; }
  .page-header__main-nav--nojs .page-header__user-menu {
    display: block;
    background-color: #6a4d38; }
  @-webkit-keyframes menu-opened {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); } }
  @keyframes menu-opened {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); } } }

.sub-menu {
  height: 110px;
  border-top: 5px solid #2b2154;
  background: #4b426d; }
  .sub-menu p {
    margin-top: 40px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase; }
  .sub-menu hr {
    width: 70%;
    opacity: 0.7; }

.sub-menu__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.sub-menu__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: -475px;
  width: auto;
  height: 480px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 5; }
  .sub-menu__box:hover {
    -webkit-transform: translateY(475px);
    transform: translateY(475px); }
  .sub-menu__box:hover .sub-menu__arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: url("../img/acc-elipse.png") no-repeat center, url("../img/acc-arrow.png") no-repeat 11px 14px; }
  .sub-menu__box a {
    padding: 10px 30px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .sub-menu__box a:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  .sub-menu__box::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -70px;
    width: 50%;
    height: 70px;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(50.7%, #000));
    background: linear-gradient(to top right, transparent 50%, #000 50.7%);
    opacity: 0.7; }
  .sub-menu__box::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -70px;
    width: 50%;
    height: 70px;
    background: -webkit-gradient(linear, right bottom, left top, color-stop(50%, transparent), color-stop(50.7%, #000));
    background: linear-gradient(to top left, transparent 50%, #000 50.7%);
    opacity: 0.7; }

.sub-menu__box--account {
  left: 40px; }

.sub-menu__box--about {
  left: -35px; }

.sub-menu__box--funding {
  left: 40px; }

.sub-menu__box--resources {
  top: -340px;
  left: 140px;
  height: 350px; }
  .sub-menu__box--resources:hover {
    -webkit-transform: translateY(340px);
    transform: translateY(340px); }

.sub-menu__logo {
  margin-top: 10px; }
  .sub-menu__logo:hover {
    -webkit-transform: none !important;
    transform: none !important; }

.sub-menu__arrow {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  display: block;
  width: 38px;
  height: 38px;
  margin: auto;
  border: none;
  background: url("../img/acc-elipse.png") no-repeat center, url("../img/acc-arrow.png") no-repeat 12px 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  z-index: 5; }

.sub-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 5px; }

.sub-menu__link {
  width: 26px;
  height: 26px;
  padding: 0 !important;
  opacity: 0.7; }
  .sub-menu__link:hover {
    opacity: 1;
    -webkit-transform: none !important;
    transform: none !important; }

.sub-menu__link--facebook {
  background: url("../img/sub-f.png") no-repeat top; }

.sub-menu__link--google {
  background: url("../img/sub-g.png") no-repeat top; }

.sub-menu__link--youtube {
  background: url("../img/sub-y.png") no-repeat top; }

.sub-menu__link--linkedin {
  background: url("../img/sub-l.png") no-repeat top; }

.sub-menu__link--twitter {
  background: url("../img/sub-t.png") no-repeat top; }

@media screen and (max-width: 1200px) {
  .sub-menu__box {
    top: -370px;
    height: 380px; }
    .sub-menu__box:hover {
      -webkit-transform: translateY(370px);
      transform: translateY(370px); }
    .sub-menu__box a {
      padding: 5px 15px; }
  .sub-menu__logo img {
    width: 150px; }
  .sub-menu__box--about {
    left: -20px; } }

@media screen and (max-width: 768px) {
  .sub-menu p {
    margin-top: 35px; }
  .sub-menu__box {
    display: none; } }

.slider p {
  margin-top: 40px;
  color: white;
  font-size: 30px;
  font-weight: bold; }

.slider a {
  padding: 10px 30px;
  color: #2e2963;
  font-weight: bold;
  text-decoration: none;
  background: #f2c318;
  border: 1px solid #f2c318;
  -webkit-box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .slider a:hover {
    color: #f2c318;
    background: transparent; }

.slider__slide {
  height: 500px; }

.slider__slide--one {
  background: url("../img/slider-f.png") no-repeat center;
  background-size: cover; }

.slider__slide--two {
  background: url("../img/slider-s.png") no-repeat center;
  background-size: cover; }

.slider__slide--three {
  background: url("../img/slider-t.png") no-repeat center;
  background-size: cover; }

.slider__slide--four {
  background: url("../img/slider-a.png") no-repeat center;
  background-size: cover; }

.slick-dots {
  bottom: 20px; }

.slick-dots li button {
  border-radius: 50%; }

.slick-dots li button:before {
  content: '';
  width: 12px;
  height: 12px;
  background: white;
  opacity: 1;
  border-radius: 50%; }

.slick-dots li.slick-active button:before {
  background: #eeba1d;
  opacity: 1; }

@media screen and (max-width: 1200px) {
  .slider p {
    margin-top: 35px;
    font-size: 20px; }
  .slider img {
    width: 350px; }
  .slider__slide {
    height: 400px; } }

@media screen and (max-width: 768px) {
  .slider {
    text-align: center; }
    .slider p {
      margin-top: 30px;
      font-size: 16px; }
    .slider img {
      width: 300px;
      margin: auto; }
    .slider a {
      padding: 6px 15px; }
  .slider__slide {
    height: 350px; }
  .slick-dots {
    bottom: -25px; }
  .slick-dots li button::before {
    border: 1px solid gray;
    opacity: 0.3; }
  .slick-dots li.slick-active button:before {
    border: 1px solid #f2c318; } }

.online h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.online p {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.7; }

.online__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 30px; }

.online__box {
  padding-top: 165px;
  text-align: center;
  text-transform: uppercase; }
  .online__box b {
    font-size: 17px; }
  .online__box p {
    font-size: 13px;
    text-transform: none; }
  .online__box a {
    padding: 5px 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    background: #2e2963;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .online__box a:hover {
      color: #2e2963;
      background: #f2c318; }

.online__box--zulu {
  background: url("../img/online-1.png") no-repeat top; }

.online__box--tradency {
  background: url("../img/online-2.png") no-repeat top; }

.online__box--algo {
  background: url("../img/online-3.png") no-repeat top; }

.online__slider {
  display: none; }

@media screen and (max-width: 1200px) {
  .online h2 {
    margin-top: 50px;
    font-size: 30px; } }

@media screen and (max-width: 768px) {
  .online__flex {
    display: none; }
  .online__slider {
    display: block;
    margin-top: 50px; }
    .online__slider .slick-dots {
      bottom: 25px; }
    .online__slider .slick-dots li.slick-active button:before {
      background: #2e2963;
      opacity: 1; }
    .online__slider .slick-dots li.slick-active button:before {
      border: 1px solid #2e2963; } }

.global {
  background: url("../img/global.png") no-repeat; }
  .global p {
    margin-top: 0;
    color: white;
    font-weight: bold; }
  .global a {
    padding: 10px 30px;
    color: #2e2963;
    font-weight: bold;
    text-decoration: none;
    background: #f2c318;
    border: 1px solid #f2c318;
    -webkit-box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .global a:hover {
      color: #f2c318;
      background: transparent; }

.global__box {
  padding: 100px 0; }

.global__title {
  margin: 0;
  padding-top: 10px;
  color: white;
  font-size: 70px;
  font-weight: 100;
  text-transform: uppercase; }

.global__list {
  margin: 0;
  padding-top: 50px;
  padding-left: 25px;
  padding-bottom: 60px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  list-style-image: url("../img/li.png"); }
  .global__list li {
    margin-bottom: 10px; }

@media screen and (max-width: 1200px) {
  .global {
    background-size: cover; }
  .global__box {
    padding: 80px 0; }
  .global__title {
    padding-top: 30px; } }

@media screen and (max-width: 768px) {
  .global {
    margin-top: -50px;
    text-align: center;
    background: url("../img/global.png") no-repeat;
    background-size: cover; }
  .global__title {
    font-size: 55px; }
  .global__list {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
    font-size: 15px;
    text-align: left; } }

.trading__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 80px; }
  .trading__flex p {
    width: 500px;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    opacity: 0.7; }

.trading__title {
  margin-top: 60px;
  padding: 10px 50px;
  color: white;
  font-size: 30px;
  background: #2e2963;
  text-align: center; }

.trading__img {
  width: 100%;
  height: 430px;
  background: url("../img/trading-bg.png") no-repeat center;
  background-size: contain; }

@media screen and (max-width: 1200px) {
  .trading__title {
    margin-top: 30px;
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  .trading__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0; }
    .trading__flex p {
      width: auto;
      padding-top: 0; }
  .trading__img {
    width: auto;
    background: url("../img/trading-bg.png") no-repeat center;
    background-size: contain; } }

.sign {
  text-align: center;
  text-transform: uppercase;
  background: #2e2963 url("../img/sign-bg.png") no-repeat;
  background-size: cover; }

.sign__title {
  padding-top: 50px;
  margin-bottom: 0;
  color: white;
  font-size: 30px;
  font-weight: bold; }

.sign__text {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold; }

.sign__input {
  width: 430px;
  margin-bottom: 60px;
  padding: 10px; }

.sign__input::-webkit-input-placeholder {
  color: black;
  opacity: 0.9;
  text-transform: uppercase; }

.sign__input:-ms-input-placeholder {
  color: black;
  opacity: 0.9;
  text-transform: uppercase; }

.sign__input::-ms-input-placeholder {
  color: black;
  opacity: 0.9;
  text-transform: uppercase; }

.sign__input::placeholder {
  color: black;
  opacity: 0.9;
  text-transform: uppercase; }

@media screen and (max-width: 768px) {
  .sign__input {
    width: 80%; } }

.adv {
  text-align: center; }
  .adv b {
    font-size: 20px; }
  .adv img {
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px; }
  .adv p {
    margin: 0;
    font-size: 14px;
    opacity: 0.7; }

.adv__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 80px 0; }

.adv__left,
.adv__center,
.adv__right {
  width: 350px; }

@media screen and (max-width: 768px) {
  .adv__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0; }
  .adv__left,
  .adv__center,
  .adv__right {
    width: auto; }
  .adv__left,
  .adv__center {
    margin-bottom: 50px; } }

.scroll__first {
  min-height: 470px;
  background: url("../img/scroll-f.png") no-repeat top;
  background-size: cover;
  background-attachment: fixed; }

.scroll__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 140px 0; }

.scroll__second {
  min-height: 470px;
  background: url("../img/scroll-s.png") no-repeat top;
  background-size: cover;
  background-attachment: fixed; }
  .scroll__second p {
    margin-top: 0;
    color: #fff;
    font-size: 20px; }
  .scroll__second a {
    padding: 10px 30px;
    color: #2e2963;
    font-weight: bold;
    text-decoration: none;
    background: #f2c318;
    border: 1px solid #f2c318;
    -webkit-box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .scroll__second a:hover {
      color: #f2c318;
      background: transparent; }

.scroll__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 50px 0; }

.scroll__box {
  text-align: center; }
  .scroll__box b {
    font-weight: bold;
    text-transform: uppercase; }
  .scroll__box p {
    padding-bottom: 20px;
    font-size: 13px;
    opacity: 0.8; }
  .scroll__box a {
    padding: 5px 15px;
    color: #2e2963;
    font-size: 12px;
    font-weight: bold;
    background: #f2c318;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .scroll__box a:hover {
      color: #fff;
      background: #2e2963; }

.scroll__title {
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase; }

.scroll__list {
  margin-top: 50px;
  padding-left: 25px;
  padding-bottom: 30px;
  color: white;
  font-size: 18px;
  list-style-image: url("../img/li.png"); }
  .scroll__list li {
    margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  .scroll__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .scroll__logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .scroll__box {
    margin-bottom: 35px; }
  .scroll__box--mb {
    margin-bottom: 0; }
  .scroll__container {
    padding: 60px 0; }
  .scroll__second {
    min-height: 440px;
    background: url("../img/scroll-s.png") no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    text-align: center; }
    .scroll__second p {
      margin-top: 0;
      color: #fff;
      font-size: 16px;
      font-weight: bold; }
    .scroll__second a:hover {
      color: #f2c318;
      background: transparent;
      border: 1px solid #f2c318; }
  .scroll__title {
    padding-top: 0;
    font-size: 55px;
    font-weight: bold; }
  .scroll__list {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
    font-size: 15px;
    font-weight: bold;
    text-align: left; } }

.payment {
  background: #2e2963; }

.payment--temp {
  background: #4b426d; }

.payment__box {
  height: 60px;
  padding: 20px 0;
  background: url("../img/pay-sprite.png") no-repeat center; }

.page-footer {
  color: white;
  border-style: solid;
  border-width: 3px 0px 0px;
  -o-border-image: url("../img/footer-gold.png") 3 0 0 repeat;
  border-image: url("../img/footer-gold.png") 3 0 0 repeat;
  background: #323232; }
  .page-footer b {
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.8; }
  .page-footer p {
    margin-top: 0;
    font-size: 10px; }
  .page-footer a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .page-footer a:hover {
      color: #f2c318; }

.page-footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 35px; }

.page-footer__right-column {
  width: 85%; }

.page-footer__facebook {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  background: url("../img/fb.png") no-repeat left; }
  .page-footer__facebook:hover {
    background: url("../img/fb-h.png") no-repeat left; }

.page-footer__linked {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  background: url("../img/link.png") no-repeat left; }
  .page-footer__linked:hover {
    background: url("../img/link-h.png") no-repeat left; }

.page-footer__twitter {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  background: url("../img/tw.png") no-repeat left; }
  .page-footer__twitter:hover {
    background: url("../img/tw-h.png") no-repeat left; }

.page-footer__google {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  background: url("../img/go.png") no-repeat left;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .page-footer__google:hover {
    background: url("../img/go-h.png") no-repeat left; }

.page-footer__right-column--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .page-footer__right-column--flex b {
    font-size: 12px; }

.page-footer__link {
  height: 20px;
  padding: 5px 20px;
  color: #323232 !important;
  font-weight: bold;
  background: #f2c318;
  border-radius: 20px;
  text-transform: uppercase; }

.page-footer__contact {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px; }

.page-footer__text {
  padding-top: 10px; }

.page-footer__copyright {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center; }
  .page-footer__copyright p {
    font-size: 14px; }

@media screen and (max-width: 1200px) {
  .container--width {
    width: 95%; }
  .page-footer b {
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  .page-footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .page-footer a {
    margin-right: 0; }
  .page-footer__left-column,
  .page-footer__contact {
    text-align: center; }
  .page-footer__right-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    margin-top: 15px;
    text-align: justify; }
  .page-footer__contact {
    margin: 10px 0; }
  .page-footer__link {
    margin-bottom: 20px; }
  .page-footer__right-column--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: auto;
    padding-top: 15px;
    text-align: left; }
    .page-footer__right-column--link a {
      margin-bottom: 10px; } }

.account p {
  margin-top: 40px;
  color: #000e55;
  font-size: 18px;
  text-align: center; }

.account__types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 100px; }

.account__box {
  position: relative;
  width: 250px;
  margin-bottom: 70px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(2, 2, 2, 0.35);
  box-shadow: 0px 0px 7px 0px rgba(2, 2, 2, 0.35);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .account__box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .account__box header {
    height: 65px;
    margin-bottom: 20px;
    padding-top: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background: #2e2963;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .account__box header p {
      margin: 0;
      padding: 10px 0;
      font-size: 10px;
      font-weight: bold;
      color: #fff; }
  .account__box p {
    margin: 0;
    padding: 10px;
    font-size: 13px;
    font-weight: bold; }
  .account__box footer {
    background: #2e2963; }
    .account__box footer a {
      display: block;
      padding: 15px 10px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .account__box footer a:hover {
        color: #2e2963;
        background: #f2c318; }

.account__popular {
  position: absolute;
  top: -49px;
  left: 20px;
  width: 210px;
  height: 49px;
  background: url("../img/acc-popular.png"); }

.account__box--bronze footer {
  margin-top: 110px; }

.account__box--bronze:hover header {
  background: #999999; }

.account__box--silver footer {
  margin-top: 20px; }

.account__box--silver:hover header {
  background: #999999; }

.account__box--gold {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .account__box--gold footer {
    margin-top: 5px; }
  .account__box--gold:hover header {
    background: #999999; }

.account__box--free {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .account__box--free footer {
    margin-top: 5px; }
  .account__box--free:hover header {
    background: #999999; }

.account__box--zulu {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .account__box--zulu footer {
    margin-top: 150px; }
  .account__box--zulu:hover header {
    background: #999999; }

@media screen and (max-width: 768px) {
  .account__types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 50px; } }

.about {
  color: #2e2963; }
  .about h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    opacity: 0.9; }
  .about p {
    opacity: 0.7; }
  .about b {
    font-size: 22px;
    opacity: 0.9; }

.about__pb {
  padding-bottom: 40px; }

.funding table {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  border-collapse: collapse; }

.funding tr {
  height: 100px;
  border-bottom: 1px solid rgba(19, 0, 133, 0.5); }

.funding p {
  color: #323232;
  text-align: right; }

.funding__title {
  height: 40px !important;
  color: #2e2963;
  text-transform: uppercase;
  border: none !important;
  background: #f2c318; }

.funding__pay-img {
  background: url("../img/table-1.png") no-repeat center; }

.funding__pb {
  padding-bottom: 40px; }

@media screen and (max-width: 1200px) {
  .sub-menu__box--funding {
    left: 55px; }
  .funding__pay-img {
    background-size: 100%; } }

@media screen and (max-width: 768px) {
  .funding tr {
    height: 70px;
    font-size: 10px; }
  .funding p {
    text-align: center; }
  .funding__title {
    height: 50px !important; } }

.kids p {
  color: #2e2963;
  font-weight: bold; }

.kids a {
  text-decoration: none; }

.kids__pt {
  margin-top: 0;
  padding-top: 40px; }

.kids__pb {
  margin-bottom: 0;
  padding-bottom: 40px; }

.license {
  color: #2e2963;
  font-weight: bold; }
  .license h3 {
    font-size: 30px; }
  .license p, .license ul {
    opacity: 0.8; }
  .license b {
    font-size: 22px; }

.license__box {
  margin-top: 40px;
  padding: 20px 40px 40px 40px;
  border: 2px solid rgba(0, 14, 85, 0.3);
  border-radius: 5px; }

.license__box--pb {
  margin-bottom: 40px; }

.license__img {
  margin: 0;
  padding: 40px 0;
  padding-left: 100px;
  background: url("../img/license-img.png") no-repeat left; }

.license__center {
  font-size: 22px;
  text-align: center;
  opacity: 0.8; }

.license__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.license__flag {
  padding-top: 80px;
  font-size: 14px; }

.license__flag--UK {
  background: url("../img/UK.png") no-repeat top left; }

@media screen and (max-width: 768px) {
  .license h3 {
    font-size: 25px;
    text-align: center; }
  .license b {
    font-size: 20px; }
  .license__img {
    padding-top: 100px;
    padding-left: 0;
    padding-bottom: 0;
    text-align: center;
    background: url("../img/license-img.png") no-repeat top; }
  .license__center {
    font-size: 18px; }
  .license__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .license__flag {
    text-align: center; }
  .license__flag--UK {
    background: url("../img/UK.png") no-repeat top; } }

.careers {
  padding-top: 34px; }
  .careers p {
    color: #000e55; }

.careers__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 34px;
  padding-bottom: 100px; }

.careers__box {
  width: 200px;
  padding-top: 130px;
  text-align: center; }
  .careers__box a {
    color: #000e55;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.7; }
    .careers__box a:hover {
      opacity: 1; }

.careers__box--support {
  background: url("../img/careers-b.png") no-repeat top; }

.careers__box--media {
  background: url("../img/careers-y.png") no-repeat top; }

@media screen and (max-width: 768px) {
  .careers__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 50px; }
  .careers__box {
    width: auto; }
  .careers__box--support {
    margin-bottom: 30px; } }

.contact hr {
  width: 90%;
  height: 2px;
  border: none;
  background: #4b426d; }

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 70px; }

.contact__left {
  -ms-flex-item-align: center;
  align-self: center; }

.contact__right {
  width: 782px;
  height: 293px;
  background: url("../img/contact-map.png") no-repeat top; }

@media screen and (max-width: 768px) {
  .contact__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 50px; }
  .contact__left {
    margin-bottom: 30px;
    text-align: center; }
  .contact__right {
    width: auto; } }

.form {
  width: 900px;
  margin: auto;
  padding: 70px 0; }
  .form input {
    width: 45%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #4b426d;
    border-radius: 5px; }
  .form input::-webkit-input-placeholder {
    font-weight: bold;
    opacity: 0.7; }
  .form input:-ms-input-placeholder {
    font-weight: bold;
    opacity: 0.7; }
  .form input::-ms-input-placeholder {
    font-weight: bold;
    opacity: 0.7; }
  .form input::placeholder {
    font-weight: bold;
    opacity: 0.7; }

.form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px; }

.form__select {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 9px;
  color: gray;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #4b426d;
  border-radius: 5px; }

.form__textarea {
  display: block;
  width: 70%;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #4b426d;
  border-radius: 5px;
  resize: none; }
  .form__textarea::-webkit-input-placeholder {
    font-size: 17px;
    font-weight: bold;
    opacity: 0.7; }
  .form__textarea:-ms-input-placeholder {
    font-size: 17px;
    font-weight: bold;
    opacity: 0.7; }
  .form__textarea::-ms-input-placeholder {
    font-size: 17px;
    font-weight: bold;
    opacity: 0.7; }
  .form__textarea::placeholder {
    font-size: 17px;
    font-weight: bold;
    opacity: 0.7; }

button[type="submit"] {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 50px;
  color: #2e2963;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background: #f2c318;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(121, 121, 121, 0.7);
  box-shadow: 3px 3px 0px 0px rgba(121, 121, 121, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  button[type="submit"]:hover {
    color: #fff;
    background: #2e2963;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.7); }

.form__flex--pb {
  padding-bottom: 0; }

@media screen and (max-width: 1200px) {
  .form {
    width: auto; } }

@media screen and (max-width: 768px) {
  .form {
    width: 90%;
    padding: 50px 0; }
    .form input {
      width: auto;
      margin-bottom: 10px; }
  .form__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .form__textarea {
    width: 70%; } }

.legal__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 50px; }

.legal__flex--second {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.legal__title {
  margin: 0;
  margin-top: 50px;
  padding-bottom: 50px;
  color: #000e55;
  font-weight: bold;
  text-align: center;
  opacity: 0.7; }

.legal__box {
  width: 200px;
  color: #000e55;
  padding-top: 140px;
  text-align: center;
  text-decoration: none;
  background: url("../img/careers-b.png") no-repeat 50% 10%;
  -webkit-transition: 0.1s;
  transition: 0.1s; }
  .legal__box:hover {
    font-size: 15px;
    font-weight: bold;
    background: url("../img/careers-y.png") no-repeat 50% 0%, url("../img/careers-b.png") no-repeat 50% 10%; }

@media screen and (max-width: 768px) {
  .legal__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 0; }
  .legal__flex--second {
    padding-bottom: 50px; }
  .legal__title {
    padding-bottom: 10px; }
  .legal__box {
    margin: auto;
    margin-top: 30px; } }

.account-comparison {
  padding-bottom: 50px; }
  .account-comparison table {
    width: 100%;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-collapse: collapse; }
    .account-comparison table th {
      padding: 15px 0; }
    .account-comparison table td {
      padding: 5px;
      border-bottom: 1px solid #fff; }

.account-comparison__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 20px; }
  .account-comparison__control button {
    padding: 10px 45px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #4b426d;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }

.account-comparison__bronze:hover {
  background: #dc9554; }

.account-comparison__silver:hover {
  background: #9b9b9b; }

.account-comparison__gold:hover {
  background: #e7c85d; }

.account-comparison__free:hover {
  color: #2e2963;
  background: #fff; }

@media screen and (max-width: 768px) {
  .account-comparison__control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .account-comparison__control button {
      width: 220px;
      margin: auto;
      margin-bottom: 20px; } }

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tab button {
  width: 100%;
  height: 37px;
  margin: 0px 1px;
  font-size: 16px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.tab button.active {
  padding: 0px 40px;
  font-weight: bold; }

.tab__content {
  display: none;
  border-top: none;
  background: #dc9554; }
  .tab__content--forex {
    display: block;
    border: 5px solid #2e2963; }
  .tab__content--commodities {
    border: 5px solid #cf8800; }
  .tab__content--metals {
    border: 5px solid #c7b299; }
  .tab__content--bonds {
    border: 5px solid #00bff3; }
  .tab__content--indices-c {
    border: 5px solid #007ede; }
  .tab__content--indices-f {
    border: 5px solid #130085; }
  .tab__content--stocks {
    border: 5px solid #1cbbb4; }

.tab__bronze th {
  background: #c47935; }

.tab__silver {
  display: none;
  width: 100%; }
  .tab__silver th {
    background: #7f7a7a; }

.tab__currency td {
  padding: 0;
  border: none !important; }

.forex {
  color: #fff;
  background: #4b426d; }
  .forex:hover {
    background: #2e2963; }
  .forex:focus {
    background: #2e2963; }

.commodities {
  color: #fff;
  background: #4b426d; }
  .commodities:hover {
    background: #cf8800; }
  .commodities:focus {
    background: #cf8800; }

.metals {
  color: #fff;
  background: #4b426d; }
  .metals:hover {
    background: #c7b299; }
  .metals:focus {
    background: #c7b299; }

.bonds {
  color: #fff;
  background: #4b426d; }
  .bonds:hover {
    background: #00bff3; }
  .bonds:focus {
    background: #00bff3; }

.indices-c {
  color: #fff;
  background: #4b426d; }
  .indices-c:hover {
    background: #007ede; }
  .indices-c:focus {
    background: #007ede; }

.indices-f {
  color: #fff;
  background: #4b426d; }
  .indices-f:hover {
    background: #130085; }
  .indices-f:focus {
    background: #130085; }

.stocks {
  color: #fff;
  background: #4b426d; }
  .stocks:hover {
    background: #1cbbb4; }
  .stocks:focus {
    background: #1cbbb4; }

@media screen and (max-width: 768px) {
  .tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .tab button {
      margin-bottom: 5px;
      border-radius: 0; }
      .tab button.stocks {
        margin-bottom: 0; }
  table {
    display: block;
    overflow-x: auto; } }

.product-specification {
  padding: 50px 0; }
  .product-specification .tab__content {
    padding: 30px;
    color: #000e55; }
    .product-specification .tab__content h3,
    .product-specification .tab__content p,
    .product-specification .tab__content ul {
      opacity: 0.8; }
    .product-specification .tab__content h3 {
      margin-top: 0;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase; }
    .product-specification .tab__content--forex, .product-specification .tab__content--commodities, .product-specification .tab__content--metals, .product-specification .tab__content--bonds, .product-specification .tab__content--indices-c, .product-specification .tab__content--indices-f, .product-specification .tab__content--stocks {
      background: inherit; }

.product-specification__table {
  width: 100%;
  color: #fff;
  text-align: center;
  border-collapse: collapse; }
  .product-specification__table th {
    padding: 15px;
    font-size: 14px;
    border-bottom: 3px solid #fff; }
  .product-specification__table tr {
    font-size: 13px; }
  .product-specification__table td {
    padding: 10px;
    border-bottom: 1px solid #fff; }
  .product-specification__table tr th:first-of-type {
    border-top-left-radius: 10px; }
  .product-specification__table tr th:last-of-type {
    border-top-right-radius: 10px; }

.product-specification__table--forex th {
  background: #2e2963; }

.product-specification__table--forex tr {
  background: #4b426d; }

.product-specification__table--commodities th {
  background: #cf8800; }

.product-specification__table--commodities tr {
  background: #e29706; }

.product-specification__table--metals th {
  background: #c7b299; }

.product-specification__table--metals tr {
  background: #e2ccb1; }

.product-specification__table--bonds th {
  background: #00bff3; }

.product-specification__table--bonds tr {
  background: #2bd1ff; }

.product-specification__table--indices-c th {
  background: #007ede; }

.product-specification__table--indices-c tr {
  background: #0992f9; }

.product-specification__table--indices-f th {
  background: #130085; }

.product-specification__table--indices-f tr {
  background: #2e13d3; }

.product-specification__table--stocks th {
  background: #1cbbb4; }

.product-specification__table--stocks tr {
  background: #24e5dd; }

.resources {
  padding: 50px 0 100px 0; }
  .resources hr {
    height: 2px;
    margin: 50px 0;
    border: none;
    background: #2e2963;
    opacity: 0.7; }

.resources__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto; }
  .resources__flex a {
    width: 65px;
    height: 68px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 66px;
    text-align: center;
    text-decoration: none;
    background: url("../img/res.png") no-repeat bottom;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
    .resources__flex a:hover {
      color: #2e2963;
      background: url("../img/res-h.png") no-repeat top, url("../img/res.png") no-repeat bottom; }

.resources__flex--second {
  width: 90%;
  padding-top: 10px; }

.resources__text {
  color: #2e2963; }
  .resources__text b {
    font-size: 20px;
    text-transform: uppercase; }

.resources__faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .resources__faq h3 {
    margin-bottom: 0;
    color: #2e2963;
    font-size: 30px;
    text-transform: uppercase; }
  .resources__faq b {
    padding-bottom: 30px;
    color: #2e2963;
    font-size: 18px;
    text-transform: uppercase; }
  .resources__faq a {
    padding: 25px;
    padding-left: 80px;
    color: #2e2963;
    font-weight: bold;
    text-decoration: none;
    background: url("../img/faq.png") no-repeat left;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .resources__faq a:hover {
      color: #f2c318; }

@media screen and (max-width: 1200px) {
  .resources__flex {
    width: 98%; } }

@media screen and (max-width: 768px) {
  .resources {
    padding-bottom: 30px; }
  .resources__text p {
    text-align: center; }
  .resources__faq {
    text-align: center; }
    .resources__faq a {
      padding: 70px 0 20px 0;
      background: url("../img/faq.png") no-repeat top; } }
