/* body {
	background-color: black;
	font-size: 17px;
	color: white;
} */

.panel__flex {
	display: flex;
	justify-content: space-around;
	/* flex-wrap: wrap; */
	padding: 90px 0 45px 0;
}

.panel {
	/* margin-top: 90px; */
	/* margin-bottom: 30px; */
	/* padding-bottom: 33px; */
	width: 350px;
	height: 410px;
	font-size: 16px;
	background: url('../img/panel-b.png') no-repeat;
	background-size: cover;
	/* background: rgba(255, 255, 255, 0.9); */
}

/* .panel-body  */
.panel-body h5 {
	margin-top: 10px;
	margin-bottom: 0;
	padding-left: 10%;
}

.price-boxes {
	/* margin-top: 10%; */
	color: #000;
}

a {
	color: white;
}

.price {
	font-size: 25px;
}

.price-display {
	margin-top: 0;
	padding-top: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

span {
	color: orange;
}

.up {
	color: green;
}

.down {
	color: red;
}

.exchange {
	color: #42f492;
}

.panel__link {
	display: block;
	width: 225px;
	/* height: 30px; */
	margin: 0 auto;
	margin-top: 45px;
	padding: 10px 0;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	transition: 200ms;
}

.panel__link:hover {
	transform: scale(1.1);
}

.panel__link--btc {
	background: #a2c0ca url('../img/link-b.png') no-repeat 5px;
}

.panel__link--eth {
	background: #a2c0ca url('../img/link-e.png') no-repeat 5px;
}

.panel__link--ltc {
	background: #a2c0ca url('../img/link-l.png') no-repeat 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.panel__flex {
		flex-wrap: wrap;
		padding: 30px 0;
	}
	
  .panel {
		margin-bottom: 30px;
		width: 300px;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0);
	}
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .panel__flex {
		flex-direction: column;
		padding: 30px 0;
	}
	
	.panel {
		margin-bottom: 20px;
		width: auto;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0);
	}
}