.button {
  color: #fff;
  font-size: 18px;
  font-family: 'Open Sans Bold', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  
  // header
  &--header {
    padding: 12px 30px;
  }
  
  &--green {
    background: $mc;
  }
  
  &--gray {
    background: #c1c1c1;
  }
  
  // slider
  &--slider {
    margin: 0 15px;
    padding: 25px 75px;
  }
  
  &--unclick {
    padding: 22px 72px;
    border: 3px solid $mc;
    background: transparent;
  }
}

@media screen and ($tablet-widths) {
  .button {
    font-size: 14px;
  }
}

@media screen and ($mobile-widths) {
  .button {
    
    &--slider {
      margin: 5px 0;
      padding: 25px 72px;
      text-align: center;
    }
  }
}