.comment {
  padding-top: 70px;
  background: #dcdcdc;
  
  h3 {
    position: relative;
    margin-top: 0;
    font-size: 35px;
    font-family: 'Open Sans Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 150px;
      width: 140px;
      height: 118px;
      background: url('../img/comment.svg') no-repeat top;
      transform: rotate(180deg);
    }
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 150px;
      width: 140px;
      height: 118px;
      background: url('../img/comment.svg') no-repeat top;
    }
  }
}

.comment__box {
  // font-size: 0;
  height: 350px !important;
  padding-top: 140px;
  text-align: center;
  transition: 0.3s;
  // opacity: 0;
  
  p {
    position: absolute;
    top: 0;
    // left: 50px;
    width: 700px;
    margin-left: -230px;
    font-size: 16px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: left;
    opacity: 0;
  }
  
  img {
    width: 100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  b {
    font-size: 18px;
    font-family: 'Open Sans Bold', sans-serif;
    text-transform: uppercase;
    opacity: 0;
  }
  
  small {
    font-size: 18px;
    font-family: 'Open Sans Regular', sans-serif;
    opacity: 0;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .comment {
    display: none;
  }
}