.faq {
  padding: 50px 0;
  
  b {
    font-size: 25px;
    font-family: 'Open Sans Bold', sans-serif;
  }
  
  p {
    font-family: 'Open Sans Regular', sans-serif;
    
    span {
      font-family: 'Open Sans Bold', sans-serif;
    }
  }
}