.funding {
  padding: 50px 0;
  
  p {
    font-family: 'Open Sans Regular', sans-serif;
  }
  
  b {
    font-size: 25px;
    font-family: 'Open Sans Bold', sans-serif;
  }
  
  ol {
    
    b {
      font-size: 18px;
    }
  }
  
  ul {
    font-size: 15px;
    font-family: 'Open Sans Regular', sans-serif;
    
    a {
      color: #3097D1;
      text-decoration: none;
    }
  }
}