.header {
  padding: 15px 0;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {}