.header {
  padding: 10px 0;
  box-shadow: 0px 2px 4px 0px rgba(104, 74, 202, 0.3);
  
  &--inner {
    position: sticky;
    top: 0;
    background: #fff;
    opacity: 0.9;
  }
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {}