.segregated {
  padding: 50px 0;
  
  p {
    font-family: 'Open Sans Regular', sans-serif;
  }
  
  b {
    font-size: 25px;
    font-family: 'Open Sans Bold', sans-serif;
  }
  
  ul {
    font-size: 14px;
    font-family: 'Open Sans Regular', sans-serif;
  }
}