.trade {
  padding: 50px 0;
  
  p {
    font-size: 26px;
    font-family: 'Open Sans Regular', sans-serif;
  }
  
  h2 {
    font-size: 26px;
    font-family: 'Open Sans Bold', sans-serif;
    text-transform: uppercase;
  }
  
  ul {
    padding: 0;
    font-family: 'Open Sans Regular', sans-serif;
    line-height: 30px;
    list-style: inside url('../img/table-g.svg');
  }
}