.web {
  padding: 50px 0;
  
  b {
    font-size: 25px;
    font-family: 'Open Sans Bold', sans-serif;
  }
  
  a {
    display: block;
    margin: 20px 0;
    color: #3097D1;
    font-size: 18px;
    font-family: 'Open Sans Regular', sans-serif;
    text-decoration: none;
  }
  
  p, ul {
    font-family: 'Open Sans Regular', sans-serif;
  }
  
  ul {
    font-size: 15px;
  }
}