.page-header__sub-menu {
  height: 120px;
  border-top: 10px solid #2b2154;
  background: #4b426d;
  
  & p {
    margin-top: 30px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.account {
  
  & p {
    margin-top: 40px;
    // padding-bottom: 40px;
    color: #000e55;
    font-size: 18px;
    text-align: center;
  }
}

// .page-header__sub-menu {
//   position: relative;
// }

.page-header__sub-flex {
  display: flex;
}

.page-header__sub-box {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 340px;
  margin-left: 100px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  
  & a {
    padding: 15px 30px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }
}

.page-header__arrow {
  display: block;
  margin: auto;
  width: 38px;
  height: 38px;
  border: none;
  background: url('../img/acc-elipse.png') no-repeat center,
              url('../img/acc-arrow.png') no-repeat 12px 14px;
  transition: 0.3s;
  outline: none;
  
  &:hover {
    transform: rotate(180deg);
  }
}

.account__types {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 0;
}

.account__box {
  position: relative;
  width: 250px;
  box-shadow: 0px 0px 7px 0px rgba(2, 2, 2, 0.35);
  cursor: pointer;
  transition: 0.3s;
  
  &:hover {
    transform: scale(1.1);
  }
  
  & header {
    height: 65px;
    margin-bottom: 20px;
    padding-top: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background: $mc;
    transition: 0.3s;
    
    & p {
      margin: 0;
      padding: 10px 0;
      font-size: 10px;
      font-weight: bold;
      color: #fff;
    }
  }
  
  & p {
    margin: 0;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
  }
  
  & footer {
    background: $mc;
    
    & a {
      display: block;
      padding: 15px 10px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;
      
      &:hover {
        color: $mc;
        background: $sc;
      }
    }
  }
}

.account__popular {
  position: absolute;
  top: -49px;
  left: 20px;
  width: 210px;
  height: 49px;
  background: url('../img/acc-popular.png');
}

// Types
.account__box--bronze {
  
    & footer {
      margin-top: 110px;
    }
    
    &:hover header {
      background: #999999;
    }
}

.account__box--silver {
  
    & footer {
      margin-top: 20px;
    }
    
    &:hover header {
      background: #999999;
    }
}

.account__box--gold {
  transition: 0.3s;
  
  & footer {
    margin-top: 5px;
  }
  
  &:hover header {
    background: #999999;
  }
}

.account__box--free {
  transition: 0.3s;
  
  & footer {
    margin-top: 5px;
  }
  
  &:hover header {
    background: #999999;
  }
}

.account__box--zulu {
  transition: 0.3s;
  
  & footer {
    margin-top: 150px;
  }
  
  &:hover header {
    background: #999999;
  }
}

.account__pay {
  // height: 120px;
  background: $mc;
  
  & img {
    display: block;
    margin: auto;
    padding: 30px 0;
  }
}


