.online {
  
  & h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  
  & p {
    text-align: center;
    text-transform: uppercase;
    opacity: 0.7;
  }
}

.online__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.online__box {
  padding-top: 165px;
  text-align: center;
  text-transform: uppercase;
  
  & b {
    font-size: 17px;
  }
  
  & p {
    font-size: 13px;
    text-transform: none;
  }
  
  & a {
    padding: 5px 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    background: $mc;
  }
}

.online__box--zulu {
  background: url('../img/online-1.png') no-repeat top;
}