.page-footer {
  color: white;
  border-style: solid;
  border-width: 3px 0px 0px;
  border-image: url("../img/footer-gold.png") 3 0 0 repeat;
  background: #323232;
  
  & b {
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.8;
  }

  & p {
    margin-top: 0;
    font-size: 10px;
  }
  
  & a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    
    &:hover {
      color: $sc;
    }
  }
}

.page-footer__flex {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
}

.page-footer__left-column {
  
}

.page-footer__right-column {
  width: 85%;
}

.page-footer__facebook {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  background: url("../img/fb.png") no-repeat left;
  
  &:hover {
    background: url("../img/fb-h.png") no-repeat left;
  }
}

.page-footer__linked {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  background: url("../img/link.png") no-repeat left;
  
  &:hover {
    background: url("../img/link-h.png") no-repeat left;
  }
}

.page-footer__twitter {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  background: url("../img/tw.png") no-repeat left;
  
  &:hover {
    background: url("../img/tw-h.png") no-repeat left;
  }
}

.page-footer__google {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  background: url("../img/go.png") no-repeat left;
  transition: 0.3s;
  
  &:hover {
    background: url("../img/go-h.png") no-repeat left;
  }
}

// .page-footer__youtube {
//   padding-top: 5px;
//   padding-bottom: 5px;
//   padding-left: 30px;
//   background: url("../img/yt.png") no-repeat left;
//   transition: 0.3s;
// 
//   &:hover {
//     background: url("../img/go-h.png") no-repeat left;
//   }
// }

.page-footer__right-column--flex {
  display: flex;
  flex-wrap: wrap;

  & b {
    font-size: 12px;
  }
}

.page-footer__link {
  height: 20px;
  padding: 5px 20px;
  color: #323232 !important;
  font-weight: bold;
  background: $sc;
  border-radius: 20px;
  text-transform: uppercase;
}

.page-footer__contact {
  flex-wrap: wrap;
  margin-right: 15px;
}

.page-footer__text {
  padding-top: 10px;
}

.page-footer__copyright {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  
  & p {
    font-size: 14px;
  }
}


@media screen and ($tablet-widths) {
  .container--width {
    width: 95%;
  }
  
  .page-footer {
    
    & b {
      font-size: 16px;
    }
  }
}

@media screen and ($mobile-widths) {
  .page-footer__flex {
    flex-direction: column;
    justify-content: space-around;
  }
  
  .page-footer {
    // text-align: center;
    
    & a {
      margin-right: 0;
    }
  }
  
  .page-footer__left-column,
  .page-footer__contact {
    text-align: center;
  }
  
  .page-footer__right-column {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    margin-top: 15px;
    text-align: justify;
  }
  
  .page-footer__contact {
    margin: 10px 0;
  }
  
  .page-footer__link {
    margin-bottom: 20px;
  }
  
  .page-footer__right-column--link {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    padding-top: 15px;
    text-align: left;
    
    & a {
      margin-bottom: 10px;
    }
  }
}































