.scroll__first {
  min-height: 470px;
  background: url("../img/scroll-t.png") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}

.scroll__logo {
  display: flex;
  justify-content: flex-end;
  padding: 140px 0;
}

.scroll__second {
  min-height: 470px;
  background: url("../img/scroll-s.png") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
  
  & p {
    margin-top: 0;
    color: #fff;
    font-size: 20px;
  }
  
  & a {
    padding: 10px 30px;
    color: $mc;
    font-weight: bold;
    text-decoration: none;
    background: $sc;
    border: 1px solid $sc;
    box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    
    &:hover {
      color: $sc;
      background: transparent;
    }
  }
}

.scroll__flex {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.scroll__box {
  text-align: center;
  
  & b {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  & p {
    padding-bottom: 20px;
    font-size: 13px;
    opacity: 0.8;
  }
  
  & a {
    padding: 5px 15px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: $mc;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.scroll__title {
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
}

.scroll__list {
  margin-top: 50px;
  padding-left: 25px;
  padding-bottom: 30px;
  color: white;
  font-size: 18px;
  list-style-image: url("../img/li.png");
  
  & li {
    margin-bottom: 10px;
  }
}

@media screen and ($mobile-widths) {
  .scroll__flex {
    flex-direction: column;
  }
  
  .scroll__box {
    margin-bottom: 35px;
  }
  
  .scroll__box--mb {
    margin-bottom: 0;
  }
  
  .scroll__second {
    min-height: 440px;
    background: url("../img/scroll-s-n.png") no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    
    & p {
      margin-top: 0;
      color: #fff;
      font-size: 17px;
    }
    
    & a {
      
      &:hover {
        color: $sc;
        background: transparent;
        border: 1px solid $sc;
      }
    }
  }
  
  .scroll__title {
    font-weight: 700;
  }
  
  .scroll__list {
    font-size: 15px;
    text-align: left;
  }
}