.slider {
  
  & p {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  & a {
    padding: 10px 30px;
    color: $mc;
    font-weight: bold;
    text-decoration: none;
    background: #f2c318;
    box-shadow: -6.364px 6.364px 4px 0px rgba(121, 121, 121, 0.004);
  }
}

.slider__box {
  // width: 90%;
}

.slider__slide {
  height: 505px;
}

.slider__slide--one {
  background: url('../img/slider-1.png') no-repeat top;
  background-size: cover;
}

.slider__slide--two {
  background: url('../img/slider-2.png') no-repeat top;
  background-size: cover;
}

