.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button.active {
    padding: 14px 40px;
    font-weight: bold;
}

.tab__content {
  display: none;
  padding: 6px 12px;
  border-top: none;
  
  &--forex {
    border: 5px solid $mc;
  }
  
  &--commodities {
    border: 5px solid green;
  }
}

.forex {
  color: #fff;
  background: #4b426d;
  
  &:hover {
    background: $mc;
  }
  
  &:focus {
    background: $mc;
  }
}

.commodities {
  color: #fff;
  background: #4b426d;
  
  &:hover {
    background: green;
  }
  
  &:focus {
    background: green;
  }
}