.trading {
  min-height: 550px;
  background: url("../img/trading-bg.png") no-repeat bottom;
}

.trading__title {
  margin-top: 60px;
  padding: 10px 50px;
  color: white;
  font-size: 30px;
  background: $mc;
  text-align: center;
}

@media screen and ($tablet-widths) {
  .trading__title {
    margin-top: 30px;
    font-size: 20px;
  }
}

@media screen and ($mobile-widths) {
  
}