.trading {
  // min-height: 550px;
}

.trading__title {
  margin-top: 60px;
  padding: 10px 50px;
  color: white;
  font-size: 30px;
  background: $mc;
  text-align: center;
}

.trading__img {
  width: 70%;
  height: 430px;
  background: url('../img/trading-bg.png') no-repeat center;
  background-size: contain;
}

.trading__text {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  
  & p {
    width: 30%;
    padding-top: 130px;
    text-align: center;
    opacity: 0.7;
  }
}

@media screen and ($tablet-widths) {
  .trading__title {
    margin-top: 30px;
    font-size: 20px;
  }
}

@media screen and ($mobile-widths) {
  .trading__text {
    flex-direction: column;
    
    & p {
      width: auto;
      padding-top: 0;
    }
  }
  
  .trading__img {
    width: auto;
    background: url('../img/trading-bg.png') no-repeat center;
    background-size: contain;
  }
}