<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="../style/style.css" rel="stylesheet">
    <title>Виктория-Сервис</title>
</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="headerLogo">
                <a href="../index.html"><img src="../images/viktoria1.png"></a>
                <div class="headerText">
                    <p class="logoTextFirst">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecond">«Виктория-Сервис»</p>
                </div>
            </div>
            <div class="header">
                <ul class="headerUl">
                    <li><a href="tarify.html"><b>ТАРИФЫ</b></a></li>
                    <li><a href="news.html"><b>НОВОСТИ</b></a></li>
                    <li><a href="team.html"><b>СОТРУДНИКИ</b></a></li>
                    <li><a href="about.html"><b>О КОМПАНИИ</b></a></li>
                    <li><a href="contact.html"><b>КОНТАКТЫ</b></a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </header>
    <div class="mainContact">
        <h2>КОНТАКТЫ</h2>
        
        <p>Юридический адрес : 614007, г. Пермь, ул. 25 Октября, 101</p>
        <p>Почтовый адрес и фактическое местонахождение головного офиса : 614007, г. Пермь, ул. Революции 21,<br> оф.45,   офис управляющего  ЖК «Галактика»- ш. Космонавтов,120, 1 этаж.</p>
        
        <h3>Режим работы:</h3>
        <ul>
            <li>диспетчерская служба — круглосуточно, телефон +7 (342) 200-26-10</li>
            <li>специалисты и руководство — с понедельника по четверг с 9:00 до 18:00, пятница с 9:00 до 17:00</li>
        </ul>
        
        <p>Личный прием граждан производится без ограничений в указанные часы работы.</p>
        
        <h3>Контактные телефоны:</h3>
        <ul>
            <li>Директор, паспортист — +7 (342) 200-26-16</li>
            <li>Гл. инженер — +7 (342) 200-26-14</li>
            <li>Гл. энергетик, гл. бухгалтер — +7 (342) 200-25-93</li>
            <li>Управляющий ЖК «Галактика»-89523211990</li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d628.4750488935314!2d56.25508077050182!3d58.00595917640179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8c6d5c535e55b%3A0x36384451365196ad!2z0YPQuy4g0KDQtdCy0L7Qu9GO0YbQuNC4LCAyMSwg0J_QtdGA0LzRjCwg0J_QtdGA0LzRgdC60LjQuSDQutGA0LDQuSwg0KDQvtGB0YHQuNGPLCA2MTQwMDc!5e0!3m2!1sru!2sua!4v1481544854062" width="1280" height="720" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <footer>
        <div class="footerContainer">
            <div class="footerLogo">
                <img src="../images/viktoria1.png">
                <div class="headerTextF">
                    <p class="logoTextFirstF">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecondF">«Виктория-Сервис»</p>
                </div>
            </div>
            <ul class="headerUlF">
                    <li><a href="tarify.html"><b>Тарифы</b></a></li>
                    <li><a href="news.html"><b>Новости</b></a></li>
                    <li><a href="team.html"><b>Сотрудники</b></a></li>
                    <li><a href="about.html"><b>О Компании</b></a></li>
                    <li><a href="contact.html"><b>Контакты</b></a></li>
                </ul>
            <div class="footerContact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </footer>
</body>
</html>