.short {
  margin-bottom: 70px;
}

.short__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short__table {
  width: 450px;
}

.short__row {
}

.short__cell {
  padding-left: 45px;
  color: $text;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  vertical-align: top;  
  
  background-repeat: no-repeat;
  background-position: left top;
    
  &--age {
    background-image: url('../img/program-age.svg');
  }
  
  &--uni {
    background-image: url('../img/program-study.svg');
  }
  
  &--leave {
    background-image: url('../img/program-residence.svg');
  }
  
  &--date {
    background-image: url('../img/program-date.svg');
  }
  
  &--cost {
    background-image: url('../img/program-cost.svg');
  }
}

.short__bold {
  
  font-size: 20px;
  font-weight: 500;
}

.short__map {
  width: 720px;
  height: 320px;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media screen and ($tablet) {
  .short__table {
    width: 50%;
    max-width: 400px;
    margin-right: 30px;
  }
  
  .short__cell {
    padding-left: 40px;
    font-size: 16px;
  }
  
  .short__bold {
    font-size: 18px;
  }
  
  .short__map {
    width: 50%;
  }
}

@media screen and ($mobile) {
  .short {
    margin-bottom: 50px;
  }
  
  .short__wrapper {
    flex-direction: column;
  }
  
  .short__table {
    align-self: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .short__bold {
    font-size: 16px;
  }
  
  .short__map {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
}