.slider {
  margin-bottom: 60px;
}

.slider__wrapper {
  position: relative;
  border-radius: 7px;
  overflow: hidden;
}

.slider__list {
  position: relative;
  height: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: inherit;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  
  &:nth-child(1) {
    background-image: url('../img/london-winter-holidays/slider-bg.jpg');
  }
  
  &--show {
    opacity: 1;
    visibility: visible;
    // z-index: 1;
  }
}

.slider__title {
  margin: 0;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  
  &--small {
    display: block;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
  }
}

.slider__control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url('../img/arrow-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: 0.1s;
  transform: translateY(-50%);
  outline: none;
  // z-index: 2;
  
  &:first-of-type {
    left: 100px;
    
    &:active {
      transform: translateY(-50%) scale(0.9);
    }
  }
  
  &:last-of-type {
    right: 100px;
    transform: translateY(-50%) rotate(180deg);
    
    &:active {
      transform: translateY(-50%) rotate(180deg) scale(0.9);
    }
  }
}

.slider__dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  // z-index: 1;
}

.slider__dot {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.5;
  outline: none;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    opacity: 1;
  }
  
  &:active {
    transform: scale(1.2);
  }
  
  &:last-child {
    margin-right: 0;
  }
  
  &--active {
    background-color: $blue;
    opacity: 1;
  }
}

@media screen and ($tablet) {  
  .slider__wrapper {
    border-radius: 0;
  }
  
  .slider__title {
    font-size: 28px;
  }
  
  .slider__control {
    
    &:first-of-type {
      left: 20px;
    }
    
    &:last-of-type {
      right: 20px;
    }
  }
}

@media screen and ($mobile) {
  .slider {
    margin-bottom: 40px;
  }
  
  .slider__list {
    height: 375px;
  }
  
  .slider__item {
    padding: 0 15px;
  }
  
  .slider__title {
    font-size: 25px;
    
    &--small {
      font-size: 18px;
    }
  }
  
  .slider__control {
    display: none;
  }
}