.button {
  display: block; 
  padding: 12px 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
  
  &--small {
    width: 150px;
  }
  
  &--medium {
    width: 320px;
  }
  
  &--orange {
    background: #ff6900;
    
    &:hover {
      background: #ff7f26;
    }
  }
  
  &--violet {
    background: #7581d1;
    
    &:hover {
      background: #8a94d8;
    }
  }
  
  &--facebook {
    position: relative;
    color: #23589B;
    background: #fff;
    
    &:hover {
      color: #fff;
      background: #23599b;
    }
    
    &:hover::before {
      background: url('../img/facebook-hover.svg') no-repeat center / contain;
    }
    
    &::before {
      content: '';
      position: absolute;
      top: 11px;
      left: 70px;
      width: 8px;
      height: 15px;
      background: url('../img/facebook.svg') no-repeat center / contain;
    }
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .button {
    padding: 15px 0;
    font-size: 14px;
    
    &--facebook {
      
      &::before {
        top: 15px;
        left: 40px;
      }
    }
  }
}