.form {
  width: 600px;
  padding: 30px 80px;
  border-radius: 8px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.form__cta {
  display: block;
  margin: 0 0 20px 0;
  color: #474349;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.form__button {
  width: 300px;
  margin: 0 0 20px auto;
  border: 1px solid #3b5998;
  box-sizing: border-box;
  
  &::before {
    left: 60px;
  }
}

.form__another {
  position: relative;
  width: 300px;
  margin: 0 0 20px auto;
  color: #e1eaf0;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 40px;
    height: 2px;
    background: #e1eaf0;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    width: 40px;
    height: 2px;
    background: #e1eaf0;
  }
  
  &--notline {
    width: auto;
    margin: 0;
    
    &::before,
    &::after {
      display: none;
    }
  }
}

.form__row {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
  color: #474349;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  
  &:hover {
    
    .form__input {
      background: #EDF2F7;
    }
  }
}

.form__input {
  width: 300px;
  padding: 10px 15px;
  color: #474349;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  background: #f2f7fc;
  box-sizing: border-box;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  
  &:focus {
    background: #EDF2F7;
  }
}

.form__select {
  padding: 9px 5px;
  color: #474349;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  background: #f2f7fc;
  box-sizing: border-box;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  
  &--month {
    width: 110px;
  }
  
  &--day {
    width: 60px;
  }
  
  &--year {
    width: 75px;
  }
  
  &--country {
    width: 300px;
  }
  
  &:focus,
  &:hover {
    background: #EDF2F7;
  }
}

.form__submit {
  color: #fff;
  font-weight: 700;
  background: #ff6901;
  transition: 0.2s;
  cursor: pointer;
  
  &:hover {
    background: #ff8015;
  }
  
  &--login {
    width: 300px;
    margin: 0 0 0 auto;
    background: #ff6901;
    cursor: pointer;
  }
}

.form__sign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 20px 0 20px auto;
}

.form__signin {
  color: #ff6901;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
  
  &:hover {
    border-bottom: 1px solid #ff6901;
  }
}

.form__forgot,
.form__join {
  color: #ff6901;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.form__agree {
  color: #343a40;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  cursor: pointer;
}

.form__terms {
  color: #FF6900;
  text-decoration: none;
}

@media screen and ($tablet-widths) {
  .form {
    margin: auto;
  }
}

@media screen and ($mobile-widths) {
  .form {
    width: 95%;
    padding: 30px 20px;
  }
  
  .form__cta {
    font-size: 20px;
  }
  
  .form__button {
    width: 260px;
    margin: 0 auto 20px auto; 
    
    &::before {
      left: 25px;
    }
  }
  
  .form__another {
    width: auto;
    margin: 0 auto 20px auto;
    font-size: 10px;
    
    &--notline {
      margin: 0;
    }
  }
  
  .form__label {
    align-items: flex-start;
    flex-direction: column;
    font-size: 16px;
  }
  
  .form__input {
    width: 100%;
    margin: 10px 0 0 0;
  }
  
  .form__group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 0 0;
  }
  
  .form__select {
    
    &--country {
      width: 100%;
      margin: 10px 0 0 0;
    }
  }
  
  .form__sign {
    align-items: center;
    flex-wrap: wrap;
    width: auto;
  }
  
  .form__submit {
    // width: 150px;
    font-size: 11px;
    
    &--login {
      width: 100%;
    }
  }
}