.how-it-work{
  position: relative;
  margin: 0 auto;
  
  .item {
    min-height: 692px;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(117,129,209,1);
      background: linear-gradient(to right, rgba(117,129,209,1) 0%, rgba(117,129,209,1) 0%, rgba(212,145,148,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7581d1', endColorstr='#d49194', GradientType=1 );
      z-index: 1;
      opacity: 0.9;
    }
    
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      // @include translate(-50%,-50%);
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    
    .parallax {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
      left: 45%;
      border-radius: 10px;
      overflow: hidden;
      transition: opacity 0.1s ease;
    }
    
  }
  
  .slick-dots {
    position: absolute;
    top: 50.6%;
    left: 19.4%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    
    li {
      display: inline-block;
      overflow: hidden;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      padding: 20px;
      position: relative;
      top: -12px;
      cursor: pointer;
      
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #ffffff;
      } 
      
      img {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
      }
    }
    
      li.slick-active {
        width: 80px;
        height: 81px;
        background-color: transparent;
        padding: 0;
        top: 0;
        
          &:before {
            display: none;
          }
          
          img {
            display: block;
          }
        }
      }
      
    h1 {
      color: #fff;
      font-size: 72px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 150px;
      margin-left: -5px;
    }
    h2{
      color: #fff;
      font-size: 30px;
      font-weight: 400;
      margin: 0 0 13px 59px;
      letter-spacing: 0.3px;
    }
    p{
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 0 59px;
    }
}

.control{
  position: absolute;
  top: 49.5%;
  left: 28.8%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.btn.nav{
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  -webkit-background-size: 14px;
  background-size: 14px;
  border-radius: 50%;
  background: transparent;
  border: 2px #ffffff solid;
  margin: 4px 0;
  outline: none;
  cursor: pointer;
    .fa{
      font-size: 22px;
    }
    &:hover{
      opacity: 0.6;
    }
}

.btn.prev {
  background: url('../img/slider-arrow.png') no-repeat center;
  transform: rotate(180deg);
}

.btn.next {
  background: url('../img/slider-arrow.png') no-repeat center;
}