.main {
  background: #f7f9fc;
  
  &--profile {
    padding: 20px 0;
  }
}

.main__title {
  margin: 0 0 30px 10px;
  color: #474349;
  font-weight: 700;
}

@media screen and ($tablet-widths) {

}

@media screen and ($mobile-widths) {
  .main__title {
    margin: 0 0 30px 0;
    text-align: center;
  }
}