.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__text {
  margin: 0;
  color: #fefeff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  position: relative;
  padding: 5px 0;
  color: #fefeff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background: #fff;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05); 
    transform: translate(-50%, 0);
  }
  
  &:hover::before {
    width: 100%;
  }
}

.nav__toggle {
  display: none;
  width: 24px;
  height: 17px;
  font-size: 0;
  border: none;
  background: url('../img/nav-toggle.png') no-repeat center / cover;
}

@media screen and ($tablet-widths) {
  .nav__list {
    display: none;
  }
}

@media screen and ($mobile-widths) {
  .nav__text {
    color: #626ca8;
  }
  
  .nav__toggle {
    display: block;
  }
}