.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__text {
  margin: 0;
  color: #fefeff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  position: relative;
  padding: 5px 0;
  color: #fefeff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background: #fff;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05); 
    transform: translate(-50%, 0);
  }
  
  &:hover::before {
    width: 100%;
  }
}

.nav__toggle {
  display: none;
  width: 24px;
  height: 17px;
  font-size: 0;
  border: none;
  background: url('../img/nav-toggle.png') no-repeat center / cover;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .nav__logo {
    
    &--footer {
      margin: 0 0 49px 0;
    }
  }
  
  .nav__text {
    color: #626ca8;
  }
  
  .nav__list {
    position: absolute;
    top: 81px;
    left: 0;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #e6eef3;
    background: #fff;
    z-index: 5;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    transition: all 0.3s ease;
    
    &--active {
      clip: auto;
      opacity: 1;
    }
    
    li {
      margin: 0 0 20px 0;
      
      &:last-child {
        margin: 0;
      }
    }
  }
  
  .nav__item {
    color: #8b94d5;
    font-size: 26px;
  }
  
  .nav__toggle {
    display: block;
  }
}