.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__text {
  margin: 0;
  color: #fefeff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2.5px;
  
  &--inner {
    color: #7880cd;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  position: relative;
  padding: 5px 0;
  color: #fefeff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background: #fff;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05); 
    transform: translate(-50%, 0);
  }
  
  &:hover::before {
    width: 100%;
  }
}

.nav__toggle {
  display: none;
  width: 24px;
  height: 17px;
  font-size: 0;
  border: none;
  background: url('../img/nav-toggle.png') no-repeat center / cover;
}

.nav__search {
  position: relative;
  width: 30%;
  box-sizing: border-box;
}

.nav__search-icon {
  fill: #a6a9ac;
  position: absolute;
  top: 13px;
  left: 30px;
}

.nav__input {
  width: 100%;
  padding: 12px 50px;
  color: #474349;
  font-size: 13px;
  font-weight: 600;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  background: #f7f9fc;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
  
  &:hover,
  &:focus {
    background: #EDF2F7;
  }
  
  &::placeholder {
    color: #333333;
    opacity: 0.4;
  }
  
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.nav__submit {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #4f5899;
  font-size: 13px;
  font-weight: 600;
  font-family: inherit;
  border: none;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__counter {
  margin: 0 30px 0 0;
  color: #7d888a;
  font-size: 13px;
  font-weight: 400;
}

.nav__number {
  color: #687173;
  font-weight: 700;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .nav__logo {
    
    &--footer {
      margin: 0 0 49px 0;
    }
  }
  
  .nav__text {
    color: #626ca8;
  }
  
  .nav__list {
    position: absolute;
    top: 81px;
    left: 0;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #e6eef3;
    background: #fff;
    z-index: 5;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    transition: all 0.3s ease;
    
    &--active {
      clip: auto;
      opacity: 1;
    }
    
    li {
      margin: 0 0 20px 0;
      
      &:last-child {
        margin: 0;
      }
    }
  }
  
  .nav__item {
    color: #8b94d5;
    font-size: 26px;
  }
  
  .nav__toggle {
    display: block;
  }
}