.title {
  background: #7581d1 url('../img/title-bg.jpg') no-repeat center / cover;
  overflow: hidden;
}

.title__content {
  position: relative;
  padding: 130px 0 300px 0;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -320px;
    width: 864px;
    height: 645px;
    background: url('../img/title-mockup.png') no-repeat center / cover;
  }
}

.title__name {
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 70px;
  font-weight: 900;
}

.title__text {
  width: 300px;
  margin: 0 0 30px 0;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

.title__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 320px;
  height: 110px;
}

@media screen and ($tablet-widths) {
  .title__content {
    
    &::after {
      right: -680px;
    }
  }
}

@media screen and ($mobile-widths) {
  .title {
    background: #7581d1 url('../img/title-bg.jpg') no-repeat -670px / cover;
  }
  
  .title__content {
    padding: 65px 15px 320px 15px;
    text-align: center;
    
    &::after {
      top: 490px;
      right: 0px;
      width: 420px;
      height: 303px;
      background: url('../img/title-mockup.png') no-repeat top / cover;
    }
  }
  
  .title__name {
    font-size: 60px;
  }
  
  .title__text {
    width: auto;
    font-size: 24px;
  }
  
  .title__links {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    height: auto;
  }
  
  .title__button {
    width: 280px !important;
    margin: 0 0 30px 0;
    
    &:last-child {
      margin: 0;
    }
  }
}