.title {
  background: #7581d1 url('../img/title-bg.jpg') no-repeat center / cover;
  overflow: hidden;
}

.title__content {
  position: relative;
  padding: 130px 0 300px 0;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -320px;
    min-width: 864px;
    height: 645px;
    background: url('../img/title-mockup.png') no-repeat center / cover;
  }
}

.title__name {
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 70px;
  font-weight: 900;
}

.title__text {
  margin: 0 0 30px 0;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

.title__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 320px;
  height: 110px;
}