.license {
  padding: 50px 0;
}

.license__name {
  margin: 0 0 60px 0;
  color: $sc;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.license__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.license__box {
  width: 350px;
  padding: 50px 0 0 0;
  
  &:nth-child(1) {
    background-image: url('../img/license-1.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50px;
  }
  
  &:nth-child(2) {
    background-image: url('../img/license-2.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50px;
  }
  
  &:nth-child(3) {
    background-image: url('../img/license-3.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 40px;
  }
}

.license__title {
  display: block;
  color: $sc;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.license__divider {
  width: 30px;
  height: 1px;
  margin: 20px auto;
  border: none;
  background: $mc;
}

.license__text {
  color: $sc;
  font-weight: 300;
  text-align: center;
}

@media screen and ($tablet-widths) {
  .license__name {
    font-size: 50px;
  }
  
  .license__list {
    padding: 0 15px;
  }
  
  .license__flex {
    padding: 0 15px;
  }
  
  .license__box {
    width: 230px;
    
    b {
      font-size: 20px;
    }
  }
}

@media screen and ($mobile-widths) {
  .license {
    padding: 30px 0;
  }
  
  .license__name {
    font-size: 40px;
  }
  
  .license__flex {
    flex-direction: column;
    align-items: center;
  }
  
  .license__list {
    font-size: 16px;
    
    & + hr {
      width: 98%;
      margin: 30px auto 20px;
    }
  }
}