.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin: 0 30px 0 0;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  
  &:hover,
  &:focus-within {
    border-bottom: 1px solid $mc;
    
    .nav__icon {
      transform: rotate(180deg);
    }
  }
}

.nav__wrapper {
  position: absolute;
  top: 157px;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}

.nav__sub {
  display: flex;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
  list-style: none;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 25px 0;
  color: $mc;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  outline: none;
  transition: 0.3s linear;
  
  &:hover,
  &:focus {
    color: #ffd800;
  }
  
  &--small {
    font-size: 16px;
  }
}

.nav__icon {
  fill: $mc;
  margin: 0 0 0 10px;
  transition: 0.3s;
}

.nav__label {
  position: relative;
  top: 0;
  transition: 0.5s;
  
  &:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: url('../img/svg/nav-search.svg') no-repeat top;
  }
  
  &:hover,
  &:focus-within {
    
    .nav__search {
      opacity: 1;
      visibility: visible;
    }
  }
}

.nav__search {
  width: 470px;
  height: 42px;
  padding: 0 15px;
  color: $mc;
  font-size: 14px;
  font-weight: 300;
  font-family: inherit;
  border: 1px solid $mc;
  border-radius: 3px;
  background: transparent;
  appearance: none;
  transition: 0.5s;
  opacity: 0;
  outline: none;
  visibility: hidden;
  
  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.nav__list .nav__item:hover > .nav__wrapper,
.nav__list .nav__item:focus-within > .nav__wrapper,
.nav__list .nav__item .nav__wrapper:hover,
.nav__list .nav__item .nav__wrapper:focus {
   visibility: visible;
   opacity: 1;
}

@media screen and ($tablet-widths) {
  .nav {
    flex-wrap: wrap;
    // padding: 29px 15px;
  }
  
  .nav__wrapper {
    // padding: 0 15px;
    
    &--opened {
      // top: 136px;
    }
  }
  
  .nav__sub {
    width: 95%;
    // padding: 30px 0;
  }
  
  .nav__list {
    margin: auto;
  }
  
  .nav__search {
    display: none;
  }
}

@media screen and ($mobile-widths) {
  .nav {
    
    &--closed,
    &--opened {
      display: none;
    }
  }
  
  .nav__wrapper {
    top: 185px !important;
    padding: 10px 0;
    border: none;
    background: rgba(47, 40, 97, 0.9);
  }
  
  .nav__list {
    flex-direction: column;
    align-items: center;
    // flex-wrap: wrap;
    width: auto;
    
    li {
      margin: 0 0 10px 0;
      padding: 0 0 3px 0;
      
      a {
        font-size: 14px;
        
        &:after {
          top: 7px;
        }
      }
    }
  }
  
  .nav__sub {
    flex-direction: column;
    width: 100%;
    padding: 0;
    
    li {
      margin: 0 0 10px 0;
    }
    
    b {
      font-size: 18px;
    }
  }
}