.slider {
  overflow: hidden;
}

.slider__list {
  position: relative;
  height: 442px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  margin: 0 0 0 auto;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: 1s;
  
  &:nth-child(1) {
    background-image: url('../img/slider-1.jpg');
  }
  
  &:nth-child(2) {
    background-image: url('../img/slider-2.jpg');
  }
  
  &:nth-child(3) {
    background-image: url('../img/slider-3.jpg');
  }
  
  &--show {
    bottom: 0;
    opacity: 1;
  }
}

.slider__wrapper {
  width: 1200px;
  margin: 0 auto;
}

.slider__content {
  width: 480px;
  margin: 0 0 0 auto;
}

.slider__name {
  color: $sc;
  font-size: 30px;
  font-weight: 500;
}

.slider__text {
  font-size: 16px;
  font-weight: 300;
}

@media screen and ($tablet-widths) {
  .slider__container {
    width: 95%;
    padding: 0;
  }
  
  .slider__box {
    
    &--1 {
      background-position-x: -550px;
    }
    
    &--2 {
      background-position-x: -550px;
    }
    
    &--3 {
      background-position-x: -550px;
    }
  }
}

@media screen and ($mobile-widths) {
  
  .slider__flex,
  .slider__box {
    width: auto;
  }
  
  .slider__flex {
    margin: 0;
  }
  
  .slider__box {
    height: 300px;
    
    b {
      font-size: 20px;
    }
    
    &--1 {
      background-position-x: 100px;
    }
    
    &--2 {
      background-position-x: 100px;
    }
    
    &--3 {
      background-position-x: 100px;
    }
  }
  
  .slider__text {
    width: 300px;
  }
}