<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="../style/style.css" rel="stylesheet">
    <title>Виктория-Сервис</title>
</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="headerLogo">
                <a href="../index.html"><img src="../images/viktoria1.png"></a>
                <div class="headerText">
                    <p class="logoTextFirst">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecond">«Виктория-Сервис»</p>
                </div>
            </div>
            <div class="header">
                <ul class="headerUl">
                    <li><a href="tarify.html"><b>ТАРИФЫ</b></a></li>
                    <li><a href="news.html"><b>НОВОСТИ</b></a></li>
                    <li><a href="team.html"><b>СОТРУДНИКИ</b></a></li>
                    <li><a href="about.html"><b>О КОМПАНИИ</b></a></li>
                    <li><a href="contact.html"><b>КОНТАКТЫ</b></a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </header>
    <div class="mainContact">
        <h2>О КОМПАНИИ</h2>
        
        <h3>Миссия компании</h3>
        
        <p>Мы созданы для того, чтобы создать комфортный быт и удобные жилищные условия собственникам многоквартирных домов и сохранять их общее имущество.</p>
        
        <h3>Цель компании:</h3>
        <ul class="UlAbout">
            <li>общая: качественно оказывать услуги и выполнять работы по обслуживанию и ремонту имущества;</li><br>
            <li>для учредителей: увеличение стоимости компании;</li><br>
            <li>для директората: развитие сервисного комплекса компании с целью получения стабильных доходов и конструктивной экономии;</li><br>
            <li>для работников компании: получение стабильных личных доходов и повышение личной эффективности.</li>
        </ul>
        <p>Достижение целей компании невозможно в ущерб друг другу. Так увеличение изъятий чистой прибыли (что хорошо для учредителей) приведет к снижению личного дохода персонала и вложений в долгосрочные активы. Что непременно снизит качество оказываемых услуг. Это противоречит общей цели. Поэтому в нашей компании соблюдается баланс интересов всех участников и сотрудников компании.</p>
        
        <p><b>Принципы работы: </b>взаимодействие, качество, информация.</p>
        
        <p><b>Взаимодействие </b>с собственником или жильцом – основа управления общим имуществом многоквартирных домов Взаимодействие невозможно без взаимоуважения. При этом собственникам или жильцам необходимо объяснять границы ответственности управляющей компании. Если проблема касается управляющей компании, то она должна быть решена, если проблема лежит в зоне ответственности собственника, то управляющая компания должна объяснить это собственнику и помочь ему решить эту проблему.</p>
        
        <p><b>Качество </b>работ не зависит от уровня собираемости платежей. От уровня собираемости платежей зависит сам факт проведения работ. Это должно быть понятно изначально: ответственность на обслуживании дома лежит на собственниках и они за плату перекладывают ее на управляющую компанию. При этом если оплаты не поступает, собственники не исполняют своей части обязательств и в таком случае управляющая компания оставляет за собой право не исполнять своих. Это принцип взаимоуважения и честности.</p>
        
        <p><b>Информаця, </b>предоставляемая собственнику, должна иметь доступный, полный и понятный характер. По необходимости эта информация должна быть адаптирована к уровню понимания неосведомленного клиента.</p>
        
        <h2>ЛИЦЕНЗИЯ</h2>
        <img src="../images/lic1.jpg">
        <img src="../images/lic2.jpg">
    </div>
    <footer>
        <div class="footerContainer">
            <div class="footerLogo">
                <img src="../images/viktoria1.png">
                <div class="headerTextF">
                    <p class="logoTextFirstF">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecondF">«Виктория-Сервис»</p>
                </div>
            </div>
            <ul class="headerUlF">
                    <li><a href="tarify.html"><b>Тарифы</b></a></li>
                    <li><a href="news.html"><b>Новости</b></a></li>
                    <li><a href="team.html"><b>Сотрудники</b></a></li>
                    <li><a href="about.html"><b>О Компании</b></a></li>
                    <li><a href="contact.html"><b>Контакты</b></a></li>
                </ul>
            <div class="footerContact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </footer>
</body>
</html>