body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Display', sans-serif; }

.container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 1200px) {
  .container {
    width: 100%; } }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Thin"), local("SFUIDisplay-Thin"), url("../fonts/SFUIDisplay-Thin.woff2") format("woff2"), url("../fonts/SFUIDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Ultralight"), local("SFUIDisplay-Ultralight"), url("../fonts/SFUIDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFUIDisplay-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Light"), local("SFUIDisplay-Light"), url("../fonts/SFUIDisplay-Light.woff2") format("woff2"), url("../fonts/SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFUIDisplay-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Black"), local("SFUIDisplay-Black"), url("../fonts/SFUIDisplay-Black.woff2") format("woff2"), url("../fonts/SFUIDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

.title {
  padding: 0 0 40px 0;
  background: #32138c url("../img/title-bg.jpg") no-repeat top;
  background-size: cover; }
  .title--inner {
    padding: 0 0 200px 0;
    background: none; }

.title__name {
  margin: 0;
  padding: 395px 0 95px 0;
  color: #fff;
  font-size: 65px;
  font-weight: 300;
  text-align: center; }

.title__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 770px;
  margin: 0 auto 130px; }
  .title__form input {
    width: 248px;
    height: 38px;
    padding: 0 10px;
    color: #fac93e;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    border: 1px solid #fac93e;
    border-radius: 3px;
    background: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none; }
    .title__form input::-webkit-input-placeholder {
      color: #fac93e; }
    .title__form input:-ms-input-placeholder {
      color: #fac93e; }
    .title__form input::-ms-input-placeholder {
      color: #fac93e; }
    .title__form input::placeholder {
      color: #fac93e; }
    .title__form input:focus {
      border: 1px solid #7865ff; }
  .title__form button {
    position: relative;
    width: 170px;
    height: 40px;
    color: #2f2861;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    background: #fac93e; }
    .title__form button::after {
      content: 'Trading involves risk of loss';
      position: absolute;
      bottom: -15px;
      left: 0;
      width: inherit;
      color: #fac93e;
      font-size: 10px; }

.title__down {
  position: relative;
  display: block;
  width: 22px;
  height: 12px;
  margin: auto;
  border: none;
  background: url("../img/title-arrow.svg");
  -webkit-animation: down 1s;
  animation: down 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  cursor: pointer; }

@-webkit-keyframes down {
  0% {
    top: 0; }
  100% {
    top: 10px; } }

@keyframes down {
  0% {
    top: 0; }
  100% {
    top: 10px; } }

@media screen and (max-width: 1200px) {
  .title__name {
    padding: 300px 0 95px 0;
    font-size: 50px; } }

@media screen and (max-width: 768px) {
  .title__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto; }
    .title__form input {
      margin: 0 0 15px 0; } }

.header {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s; }
  .header--scroll {
    position: fixed;
    top: 0;
    background: rgba(47, 40, 97, 0.9);
    z-index: 1; }
    .header--scroll .header__flex {
      padding: 18px 15px;
      border: none; }
    .header--scroll .header__logo {
      width: 100px; }
    .header--scroll .header__user {
      width: 400px;
      z-index: 3; }
      .header--scroll .header__user li a {
        width: 133px;
        padding: 9px 0;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
    .header--scroll .header__open::before {
      right: 5px; }
    .header--scroll .nav__search {
      display: none; }
    .header--scroll .nav {
      top: 0;
      margin: -77px 0 0 0;
      padding: 28px 15px 27px 190px;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .header--scroll .nav__wrapper {
      width: 100%; }
      .header--scroll .nav__wrapper--opened {
        top: 76px; }
  .header--inner {
    width: 100%; }
  .header--menu {
    background: rgba(47, 40, 97, 0.9); }

.header__container {
  width: 1170px;
  margin: auto; }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #2f2861; }

.header__logo {
  width: 170px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 20; }

.header__toggle {
  display: none;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 0;
  border: none;
  background: transparent url("../img/nav-toggle.svg") no-repeat top;
  outline: none; }

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 470px;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .header__user li {
    text-align: center; }
    .header__user li:last-child {
      width: 70px; }
    .header__user li a {
      display: block;
      width: 168px;
      padding: 9px 0;
      color: #fac93e;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      border: 1px solid #fac93e;
      border-radius: 3px;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
      .header__user li a:hover {
        color: #2f2861;
        background: #fac93e; }

.header__open {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header__open::after {
    content: 'Trading involves risk of loss';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: inherit;
    color: #fac93e;
    font-size: 10px; }
  .header__open::before {
    content: '';
    position: absolute;
    top: 19px;
    right: 13px;
    width: 6px;
    height: 3px;
    background: url("../img/nav-arrow.svg") no-repeat center;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
  .header__open:hover::before {
    background: url("../img/nav-arrow-h.svg") no-repeat center; }
  .header__open--active {
    color: #2f2861 !important;
    background: #fac93e; }
    .header__open--active::before {
      background: url("../img/nav-arrow-h.svg") no-repeat center;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

.header__accounts {
  position: absolute;
  margin: 0;
  padding: 0;
  background: rgba(47, 40, 97, 0.5);
  list-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2; }
  .header__accounts li a {
    color: #fff;
    border: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .header__accounts li a:hover {
      color: #fff;
      font-weight: 500;
      background: rgba(47, 40, 97, 0.7); }
  .header__accounts--closed {
    display: none; }
  .header__accounts--opened {
    display: block; }

.header__language {
  width: 70px;
  height: 41px;
  padding: 0 20px;
  color: #fac93e;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  border: 1px solid #fac93e;
  border-radius: 3px;
  background: transparent url("../img/nav-arrow.svg") no-repeat right;
  background-position-x: 50px;
  background-size: 6px 3px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .header__language:hover {
    color: #2f2861;
    background: #fac93e url("../img/nav-arrow-h.svg") no-repeat right;
    background-position-x: 50px;
    background-size: 6px 3px; }

@media screen and (max-width: 1200px) {
  .header--scroll .nav {
    width: 100%;
    margin: auto;
    padding: 18px 0; }
  .header .nav__wrapper--opened {
    top: 134px; }
  .header__container {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .header--scroll {
    position: fixed;
    top: 0;
    background: rgba(47, 40, 97, 0.9);
    z-index: 1; }
    .header--scroll .header__flex {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 18px 15px;
      border: none; }
    .header--scroll .header__logo {
      width: 100px; }
    .header--scroll .header__toggle {
      display: block; }
    .header--scroll .header__user {
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .header--scroll .header__user li {
        margin: 0 0 20px 0; }
        .header--scroll .header__user li a {
          width: 133px;
          padding: 9px 0;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
        .header--scroll .header__user li:nth-child(2) {
          margin: 0 0 10px 0; }
        .header--scroll .header__user li:nth-child(3) {
          margin: 0; }
      .header--scroll .header__user--closed {
        position: absolute;
        top: -200px;
        left: 0;
        width: 100%; }
      .header--scroll .header__user--opened {
        position: absolute;
        top: 68px;
        left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 0;
        background: rgba(47, 40, 97, 0.9); }
        .header--scroll .header__user--opened li a {
          width: 138px;
          font-size: 14px; }
    .header--scroll .header__open::before {
      top: 16px;
      right: 13px; }
    .header--scroll .header__open::after {
      font-size: 8px; }
    .header--scroll .nav__search {
      display: none; }
    .header--scroll .nav {
      position: absolute;
      top: 0;
      display: block;
      -webkit-transition: 0.8s;
      transition: 0.8s; }
      .header--scroll .nav--closed {
        position: absolute;
        top: -500px; }
      .header--scroll .nav--opened {
        position: absolute;
        top: 206px;
        padding: 20px 0;
        background: rgba(47, 40, 97, 0.9); }
    .header--scroll .nav__wrapper {
      padding: 0 0 10px 0; }
      .header--scroll .nav__wrapper--opened {
        top: 175px; }
    .header--scroll .header__language {
      height: 36px;
      font-size: 14px; }
  .header__user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto; }
    .header__user li {
      margin: 25px 0 0 0; }
  .header__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__accounts {
    border: 1px solid #fac93e;
    border-radius: 3px;
    background: #2f2861; }
    .header__accounts li {
      margin: 0 !important; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 18px 15px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 470px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav__list li:nth-child(4) a::after {
    background: none; }
  .nav__list a {
    position: relative;
    color: #fac93e;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer; }
    .nav__list a::after {
      content: '';
      position: absolute;
      top: 10px;
      right: -10px;
      width: 6px;
      height: 3px;
      background: url("../img/nav-arrow.svg") no-repeat top;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .nav__list a:hover::after {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
    .nav__list a:hover + .nav__wrapper {
      -webkit-animation-name: sub-open;
      animation-name: sub-open;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: alternate;
      animation-direction: alternate; }

@-webkit-keyframes sub-open {
  0% { }
  100% {
    opacity: 1;
    clip: auto; } }

@keyframes sub-open {
  0% { }
  100% {
    opacity: 1;
    clip: auto; } }

.nav__wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #2f2861;
  background: rgba(47, 40, 97, 0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .nav__wrapper--closed {
    top: -700px; }
  .nav__wrapper--opened {
    top: 157px; }

.nav__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
  padding: 30px 15px;
  list-style: none; }
  .nav__sub b {
    color: #fac93e;
    font-size: 30px;
    font-weight: 500; }
  .nav__sub a {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .nav__sub a:hover {
      color: #ffa100; }
    .nav__sub a::after {
      display: none; }
  .nav__sub:hover {
    opacity: 1;
    clip: auto; }

.nav__link--active {
  border-bottom: 1px solid red; }

.nav__search {
  position: relative;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .nav__search input {
    width: 470px;
    height: 42px;
    padding: 0 15px;
    color: #fac93e;
    font-size: 14px;
    font-weight: 300;
    font-family: inherit;
    border: 1px solid #fac93e;
    border-radius: 3px;
    background: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    opacity: 0; }
  .nav__search:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url("../img/nav-search.svg") no-repeat top; }
  .nav__search:hover input {
    opacity: 1; }

@media screen and (max-width: 1200px) {
  .nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .nav__wrapper--opened {
    top: 136px; }
  .nav__sub {
    width: 95%; }
  .nav__list {
    margin: auto; }
  .nav__search {
    display: none; } }

@media screen and (max-width: 768px) {
  .nav--closed, .nav--opened {
    display: none; }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto; }
    .nav__list li {
      margin: 0 0 10px 0; }
      .nav__list li:last-child {
        margin: 0; }
      .nav__list li a {
        font-size: 14px; }
        .nav__list li a:after {
          top: 7px; }
  .nav__sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 0; }
    .nav__sub b {
      font-size: 18px; } }

.welcome {
  padding: 90px 0; }

.welcome__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .welcome__flex img {
    max-width: 600px;
    height: 400px; }

.welcome__content {
  width: 485px; }

.welcome__name {
  margin: 0;
  color: #2f2861;
  font-size: 60px;
  font-weight: 500; }

.welcome__text {
  margin: 35px 0 50px 0;
  color: #2f2861;
  font-size: 18px;
  font-weight: 300; }

.welcome__button {
  position: relative;
  display: block;
  width: 170px;
  padding: 10px 0;
  color: #2f2861;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background: #fac93e; }
  .welcome__button::after {
    content: 'Trading involves risk of loss';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: inherit;
    color: #2f2861;
    font-size: 10px; }

@media screen and (max-width: 1200px) {
  .welcome__flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 15px; }
    .welcome__flex img {
      display: none; }
  .welcome__name {
    font-size: 50px; } }

@media screen and (max-width: 768px) {
  .welcome {
    padding: 30px 0; }
  .welcome__content {
    width: auto; }
  .welcome__name {
    font-size: 40px;
    text-align: center; }
  .welcome__button {
    margin: auto; } }

.edge {
  padding: 40px 0;
  background: #0c194f url("../img/edge-bg.jpg") no-repeat top;
  background-size: cover; }

.edge__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px; }

.edge__box {
  width: 170px;
  text-align: center; }
  .edge__box b {
    display: inline-block;
    padding: 0 0 9px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 1px solid #fac93e; }
  .edge__box p {
    margin: 10px 0 0 0;
    color: #fff;
    font-weight: 300; }

@media screen and (max-width: 768px) {
  .edge {
    padding: 30px 0; }
  .edge__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .edge__box {
    margin: 0 0 20px 0; }
    .edge__box:last-child {
      margin: 0; } }

.account {
  padding: 70px 0 300px 0; }

.account__name {
  margin: 0 0 60px 0;
  color: #2f2861;
  font-size: 60px;
  font-weight: 300;
  text-align: center; }

.account__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px; }

.account__box {
  width: 230px;
  padding: 100px 70px 50px;
  color: #fff;
  border-bottom-right-radius: 20px;
  background: #0e0b39; }
  .account__box h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    text-align: center; }
  .account__box hr {
    width: 30px;
    height: 1px;
    margin: 10px auto;
    border: none;
    background: #fac93e; }
  .account__box b {
    display: block;
    font-weight: 500;
    text-align: center; }
  .account__box ul {
    margin: 30px 0 35px 0;
    padding: 0;
    font-weight: 300;
    list-style-image: url("../img/list.svg"); }
  .account__box a {
    position: relative;
    display: block;
    width: 168px;
    margin: auto;
    padding: 9px 0;
    color: #fac93e;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fac93e;
    border-radius: 3px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear; }
    .account__box a:hover {
      color: #2f2861;
      background: #fac93e; }
    .account__box a::after {
      content: 'Trading involves risk of loss';
      position: absolute;
      bottom: -15px;
      left: 0;
      width: inherit;
      color: #fac93e;
      font-size: 10px; }
  .account__box:nth-child(1) {
    background: #0e0b39 url("../img/account-zulu.png") no-repeat 70px -30px;
    background-size: 256px; }
  .account__box:nth-child(2) {
    background: #0e0b39 url("../img/account-real.png") no-repeat 0 -40px; }
  .account__box:nth-child(3) {
    background: #0e0b39 url("../img/account-demo.png") no-repeat 40px 10px;
    background-size: 300px; }

@media screen and (max-width: 1200px) {
  .account {
    padding: 70px 0 150px 0; }
  .account__name {
    font-size: 50px; }
  .account__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media screen and (max-width: 768px) {
  .account {
    padding: 30px 0 100px 0; }
  .account__name {
    font-size: 40px; }
  .account__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .account__box {
    margin: 0 0 30px 0;
    padding: 100px 40px 50px 40px; }
    .account__box:nth-child(1) {
      background: #0e0b39 url("../img/account-zulu.png") no-repeat 45px -30px;
      background-size: 256px; }
    .account__box:nth-child(2) {
      background: #0e0b39 url("../img/account-real.png") no-repeat 0 -40px; }
    .account__box:nth-child(3) {
      background: #0e0b39 url("../img/account-demo.png") no-repeat 15px 10px;
      background-size: 300px; } }

.tabs {
  height: 330px;
  background: #e4b748 url("../img/tabs-bg.jpg") no-repeat top;
  background-size: cover; }

.tabs__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -35px 0 0 0;
  padding: 0;
  width: 430px;
  list-style: none; }
  .tabs__control li button {
    padding: 0 0 14px 0;
    color: #2f2861;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    border: none;
    background: #fff;
    outline: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    cursor: pointer; }

.tabs__active {
  font-weight: 900 !important;
  border-bottom: 2px solid #f58a39 !important; }

.tabs__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 0 15px; }

.tabs__mockup {
  width: 732px;
  height: 403px;
  margin: -130px 0 0 0; }

.tabs__content {
  position: relative;
  height: 330px;
  overflow: hidden; }

.tabs__wrapper {
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.9s;
  transition: 0.9s; }
  .tabs__wrapper--android {
    top: 70px;
    opacity: 1; }

.tabs__name {
  color: #2f2861;
  font-size: 30px;
  font-weight: 500; }

.tabs__text {
  margin: 15px 0 35px 0;
  color: #2f2861;
  font-weight: 300; }

.tabs__download {
  display: inline-block;
  width: 170px;
  margin: 0 25px 0 0;
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background: #2f2861;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(210, 156, 1, 0.5);
  box-shadow: 0px 8px 10px 0px rgba(210, 156, 1, 0.5); }

.tabs__more {
  display: inline-block;
  width: 168px;
  padding: 9px 0;
  color: #2f2861;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  border: 1px solid #2f2861;
  border-radius: 3px; }

@media screen and (max-width: 1200px) {
  .tabs__flex {
    padding: 0 15px; }
  .tabs__mockup {
    display: none; }
  .tabs__inner {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .tabs {
    height: 400px; }
  .tabs__control {
    width: auto;
    margin: -34px 0 0 0; }
    .tabs__control li button {
      font-size: 14px; }
  .tabs__content {
    height: 400px; }
  .tabs__download {
    width: 135px;
    margin: 0 10px 0 0;
    font-size: 16px; }
  .tabs__more {
    width: 133px;
    font-size: 16px; } }

.license {
  padding: 30px 0 60px 0; }

.license__name {
  margin: 0 0 60px 0;
  color: #2f2861;
  font-size: 60px;
  font-weight: 300;
  text-align: center; }

.license__list {
  margin: 0;
  padding: 0;
  color: #2f2861;
  font-size: 20px;
  font-weight: 300;
  list-style: url("../img/list.svg");
  list-style-position: inside; }
  .license__list li {
    margin: 0 0 20px 0; }
  .license__list b {
    font-weight: 500; }
  .license__list + hr {
    height: 1px;
    margin: 30px 0 20px 0;
    border: none;
    background: #2f2861; }

.license__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.license__box {
  width: 350px;
  padding: 180px 0 0 0; }
  .license__box b {
    display: block;
    color: #2f2861;
    font-size: 30px;
    font-weight: 500;
    text-align: center; }
  .license__box hr {
    width: 30px;
    height: 1px;
    margin: 20px auto;
    border: none;
    background: #fac93e; }
  .license__box p {
    color: #2f2861;
    font-weight: 300; }
  .license__box--1 {
    background: url("../img/license-1.svg") no-repeat top;
    background-size: 150px; }
  .license__box--2 {
    background: url("../img/license-2.svg") no-repeat top;
    background-size: 170px; }
  .license__box--3 {
    background: url("../img/license-3.svg") no-repeat top;
    background-size: 120px 150px; }

@media screen and (max-width: 1200px) {
  .license__name {
    font-size: 50px; }
  .license__list {
    padding: 0 15px; }
  .license__flex {
    padding: 0 15px; }
  .license__box {
    width: 230px; }
    .license__box b {
      font-size: 20px; } }

@media screen and (max-width: 768px) {
  .license {
    padding: 30px 0; }
  .license__name {
    font-size: 40px; }
  .license__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .license__list {
    font-size: 16px; }
    .license__list + hr {
      width: 98%;
      margin: 30px auto 20px; } }

.quote {
  padding: 65px 0;
  background-image: linear-gradient(85deg, #31266e 0%, #6420ff 100%); }
  .quote p {
    margin: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-align: center; }
    .quote p span {
      font-weight: 500; }

@media screen and (max-width: 768px) {
  .quote p {
    font-size: 20px; } }

.form {
  padding: 95px 0 110px;
  background: url("../img/form-bg.jpg") no-repeat top;
  background-size: cover; }
  .form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 290px;
    margin: 0 0 0 215px;
    padding: 30px 40px 55px;
    text-align: center;
    border-bottom-right-radius: 20px;
    background: #0e0b39; }
    .form form p {
      margin: 0 0 5px 0;
      color: #fff;
      font-weight: 500; }
    .form form b {
      color: #fff;
      font-size: 30px;
      font-weight: 500; }
    .form form hr {
      width: 30px;
      height: 1px;
      margin: 20px auto 25px;
      border: none;
      background: #fac93e; }
    .form form input {
      margin: 0 0 10px 0;
      padding: 8px 15px;
      font-size: 18px;
      font-weight: 300;
      font-family: inherit;
      border: 2px solid #fff;
      border-radius: 3px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      outline: none; }
      .form form input::-webkit-input-placeholder {
        color: #2f2861; }
      .form form input:-ms-input-placeholder {
        color: #2f2861; }
      .form form input::-ms-input-placeholder {
        color: #2f2861; }
      .form form input::placeholder {
        color: #2f2861; }
      .form form input:focus {
        border: 2px solid #7865ff; }
    .form form select {
      height: 41px;
      margin: 0 0 10px 0;
      padding: 8px 15px;
      color: #2f2861;
      font-size: 18px;
      font-weight: 300;
      font-family: inherit;
      border: 2px solid #fff;
      border-radius: 3px;
      background: #fff url("../img/nav-arrow.svg") no-repeat center;
      background-size: 10px;
      background-position-x: 260px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .form form select:focus {
        border: 2px solid #7865ff; }
    .form form button {
      position: relative;
      margin: 25px 0 0 0;
      padding: 10px 0;
      color: #2f2861;
      font-size: 18px;
      font-weight: 500;
      font-family: inherit;
      border: none;
      border-radius: 3px;
      background: #fac93e; }
      .form form button::after {
        content: 'Trading involves risk of loss';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        color: #fac93e;
        font-size: 10px; }

@media screen and (max-width: 768px) {
  .form {
    padding: 30px 0; }
    .form form {
      width: 240px;
      margin: auto;
      padding: 30px 30px 45px 30px; }
      .form form input {
        font-size: 14px; }
      .form form select {
        height: 36px;
        font-size: 14px;
        background: #fff url("../img/nav-arrow.svg") no-repeat center;
        background-size: 10px;
        background-position-x: 210px; } }

.payment {
  padding: 30px 0; }
  .payment--inner {
    border-top: 1px solid #b8b8b8; }

.payment__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px; }

.payment__box {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .payment__box--mc {
    width: 50px;
    height: 30px;
    background: url("../img/payment-mc.svg") no-repeat top; }
  .payment__box--visa {
    width: 50px;
    height: 15px;
    background: url("../img/payment-visa.svg") no-repeat top; }
  .payment__box--bank {
    width: 41px;
    height: 41px;
    background: url("../img/payment-bank.svg") no-repeat top; }
  .payment__box--skrill {
    width: 50px;
    height: 17px;
    background: url("../img/payment-skrill.svg") no-repeat top; }
  .payment__box--neteller {
    width: 55px;
    height: 10px;
    background: url("../img/payment-neteller.svg") no-repeat center; }

.footer {
  padding: 30px 0;
  background: #161525; }

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px; }

.footer__ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer__ul--links b {
    color: #cdcdcf;
    font-size: 18px;
    font-weight: normal; }
  .footer__ul--links hr {
    width: 30px;
    height: 1px;
    margin: 10px 0;
    border: none;
    background: #cdcdcf; }
  .footer__ul--links a {
    color: #cdcdcf;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer__ul--links a:hover {
      color: #fac93e; }
  .footer__ul--links li {
    color: #cdcdcf;
    font-size: 14px;
    font-weight: 300; }

.footer__active {
  color: #fac93e !important; }

.footer__logo {
  width: 170px;
  height: 53px; }

.footer__callme {
  display: block;
  width: 168px;
  margin: 20px 0;
  padding: 9px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3px; }

.footer__hr {
  height: 1px;
  margin: 20px 0;
  border: none;
  background: #fff; }

.footer__name {
  padding: 0 15px;
  color: #cdcdcf;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase; }

.footer__text {
  padding: 0 15px;
  color: #cdcdcf;
  font-size: 14px;
  font-weight: 300; }
  .footer__text:last-child {
    margin: 14px 0 0 0; }
  .footer__text a {
    color: #fefeff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer__text a:hover {
      color: #fac93e; }

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__link {
  width: 25px;
  height: 25px; }
  .footer__link--fb {
    background: url("../img/footer-fb.svg") no-repeat top; }
  .footer__link--li {
    background: url("../img/footer-li.svg") no-repeat top; }
  .footer__link--gp {
    background: url("../img/footer-gp.svg") no-repeat top; }
  .footer__link--tw {
    background: url("../img/footer-tw.svg") no-repeat top; }

@media screen and (max-width: 768px) {
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__ul--links {
    width: 170px;
    margin: 30px 0 0 0; }
  .footer__hr {
    width: 98%;
    margin: 20px auto; } }

.account-types__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 70px 0; }

.account-types__box {
  position: relative;
  width: 240px;
  padding: 70px 15px 100px 15px;
  border-bottom-right-radius: 30px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear; }
  .account-types__box h2 {
    margin: 0 0 25px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; }
  .account-types__box p {
    margin: 0 0 40px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center; }
  .account-types__box b {
    display: block;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    text-align: center; }
  .account-types__box hr {
    width: 30px;
    height: 1px;
    margin: 20px auto !important;
    border: none;
    background: #fac93e !important; }
  .account-types__box ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .account-types__box ul li {
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      line-height: 40px; }
      .account-types__box ul li span {
        font-weight: 700; }
  .account-types__box a {
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: block;
    width: 170px;
    margin: auto;
    padding: 10px 0;
    color: #2f2861;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background: #fac93e;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .account-types__box--mini {
    background: #2f2861 url("../img/account-mini.png") no-repeat top; }
  .account-types__box--silver {
    background: #2f2861 url("../img/account-silver.png") no-repeat top; }
  .account-types__box--gold {
    background: #2f2861 url("../img/account-gold.png") no-repeat top; }
  .account-types__box--zulu {
    background: #2f2861 url("../img/account-zulutrade.png") no-repeat top; }
  .account-types__box:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03); }

.account-types__risk {
  margin: 0;
  color: #2f2861;
  font-size: 24px;
  font-weight: 300;
  text-align: center; }

@media screen and (max-width: 1200px) {
  .account-types {
    padding: 200px 0 70px 0; }
  .account-types__text {
    padding: 0 15px; }
  .account-types__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .account-types__box {
    margin: 0 auto 10px; } }

@media screen and (max-width: 768px) {
  .account-types {
    padding: 100px 0 70px 0; }
  .account-types__name {
    margin: 0 0 20px 0;
    font-size: 40px; } }

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 30px 0 0 0;
  overflow: hidden; }

.tab__button {
  width: 170px;
  margin: 0 10px 0 0;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-top-right-radius: 30px;
  background: #2f2861;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .tab__button:hover {
    color: #fff;
    background: #6420fa; }
  .tab__button:last-child {
    margin: 0; }

.tab__active {
  width: 200px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: #6420ff; }

.tab__content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #6420ff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none; }
  .tab__content h3 {
    color: #2f2861;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; }
  .tab__content p {
    color: #2f2861;
    font-size: 18px;
    font-weight: 300;
    text-align: center; }
  .tab__content b {
    color: #2f2861;
    font-size: 20px;
    font-weight: 500; }
  .tab__content ul {
    color: #2f2861;
    font-weight: 300; }

.tab__table {
  width: 100%;
  margin: 0 0 10px 0;
  color: #fff;
  text-align: center;
  border-collapse: collapse; }
  .tab__table th {
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    background: #6420ff; }
    .tab__table th:last-child {
      border-top-right-radius: 30px; }
  .tab__table tr {
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px solid #6420ff;
    background: #2f2861; }
  .tab__table td {
    padding: 10px 0; }

@media screen and (max-width: 1200px) {
  .tab__button {
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  .tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .tab__button {
    width: 100%;
    border-radius: 0; } }

.announcements__list {
  padding: 0;
  list-style: none; }
  .announcements__list b {
    color: #2f2861;
    font-size: 25px;
    font-weight: 500; }
  .announcements__list a {
    color: #6420ff;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .announcements__list a:hover {
      color: #2f2861; }

.contact {
  padding: 150px 0 0 0; }
  .contact hr {
    height: 1px;
    margin: 50px 0;
    border: none;
    background: #b8b8b8; }
  .contact iframe {
    width: 100%;
    height: 500px; }

.contact__name {
  margin: 0 0 50px 0;
  color: #2f2861;
  font-size: 60px;
  font-weight: 500;
  text-align: center; }

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 80px 0; }

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 370px; }
  .contact__form input {
    height: 40px;
    margin: 0 0 15px 0;
    padding: 0 10px;
    color: #2f2861;
    font-size: 16px;
    font-weight: 300;
    font-family: inherit;
    border: 1px solid #2f2861;
    border-radius: 3px;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .contact__form input::-webkit-input-placeholder {
      color: #c1c1c1;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .contact__form input:-ms-input-placeholder {
      color: #c1c1c1;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .contact__form input::-ms-input-placeholder {
      color: #c1c1c1;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .contact__form input::placeholder {
      color: #c1c1c1;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .contact__form input:focus {
      -webkit-box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
      box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35); }
      .contact__form input:focus::-webkit-input-placeholder {
        color: #2f2861;
        font-weight: 500; }
      .contact__form input:focus:-ms-input-placeholder {
        color: #2f2861;
        font-weight: 500; }
      .contact__form input:focus::-ms-input-placeholder {
        color: #2f2861;
        font-weight: 500; }
      .contact__form input:focus::placeholder {
        color: #2f2861;
        font-weight: 500; }
  .contact__form textarea {
    height: 140px;
    margin: 0 0 15px 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    font-family: inherit;
    border: 1px solid #2f2861;
    border-radius: 3px;
    outline: none;
    resize: none; }
    .contact__form textarea::-webkit-input-placeholder {
      color: #c1c1c1; }
    .contact__form textarea:-ms-input-placeholder {
      color: #c1c1c1; }
    .contact__form textarea::-ms-input-placeholder {
      color: #c1c1c1; }
    .contact__form textarea::placeholder {
      color: #c1c1c1; }
    .contact__form textarea:focus {
      -webkit-box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
      box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35); }
      .contact__form textarea:focus::-webkit-input-placeholder {
        color: #2f2861;
        font-weight: 500; }
      .contact__form textarea:focus:-ms-input-placeholder {
        color: #2f2861;
        font-weight: 500; }
      .contact__form textarea:focus::-ms-input-placeholder {
        color: #2f2861;
        font-weight: 500; }
      .contact__form textarea:focus::placeholder {
        color: #2f2861;
        font-weight: 500; }
  .contact__form button {
    height: 40px;
    color: #2f2861;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    background: #fac93e;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .contact__form button:hover {
      font-weight: 500;
      -webkit-box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
      box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
      background: #ffd800; }

.contact__sub p {
  margin: 0 0 10px 0;
  color: #2f2861;
  font-size: 18px;
  font-weight: 300; }
  .contact__sub p b {
    font-weight: 500; }
  .contact__sub p a {
    color: #2f2861;
    font-weight: 300;
    text-decoration: none; }

.contact__sub h2 {
  margin: 30px 0 20px 0;
  color: #2f2861;
  font-size: 24px;
  font-weight: 500; }

@media screen and (max-width: 1200px) {
  .contact {
    padding: 200px 0 0 0; }
  .contact__text {
    padding: 0 15px; } }

@media screen and (max-width: 768px) {
  .contact {
    padding: 100px 0 0 0; }
  .contact__name {
    margin: 0 0 20px 0;
    font-size: 40px; }
  .contact__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact__form {
    width: 300px; }
  .contact__sub {
    width: 300px;
    margin: 20px 0 0 0; } }

.glossary__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  margin: 10px 0;
  padding: 0;
  list-style: none; }
  .glossary__button li button {
    color: #2f2861;
    font-size: 30px;
    font-weight: 500;
    font-family: inherit;
    border: none;
    background: transparent;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .glossary__button li button:hover {
      color: #6420ff;
      font-size: 40px; }

.inner {
  padding: 150px 0 70px 0; }
  .inner hr {
    height: 1px;
    margin: 50px 0;
    border: none;
    background: #b8b8b8; }

.inner__name {
  margin: 0 0 50px 0;
  color: #2f2861;
  font-size: 60px;
  font-weight: 500;
  text-align: center; }

.inner__text {
  color: #2f2861;
  font-size: 18px;
  font-weight: 300; }
  .inner__text b {
    display: block;
    padding: 0 0 20px 0;
    font-size: 20px;
    font-weight: 500; }
  .inner__text p {
    margin: 0 0 18px 0;
    font-size: 18px;
    font-weight: 300; }
  .inner__text a {
    color: #6420ff;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .inner__text a:hover {
      color: #fac93e; }
  .inner__text--mobile {
    width: 500px; }
  .inner__text--cysec {
    margin: 0 0 40px 0;
    padding: 50px 20px;
    border: 1px solid #6420ff;
    border-radius: 3px; }
    .inner__text--cysec h2 {
      margin: 0 0 50px 0;
      color: #fac93e;
      font-size: 50px;
      font-weight: 500;
      text-align: center; }
    .inner__text--cysec b {
      padding: 0; }
    .inner__text--cysec ul, .inner__text--cysec ol {
      margin: 10px 0 20px 0; }

.inner__img {
  margin: 70px 0 0 0;
  background: url("../img/webtrader-mockup.png") no-repeat top;
  background-size: 750px; }

.inner__icon {
  width: 300px;
  height: 300px;
  margin: 50px auto; }
  .inner__icon--careers {
    background: url("../img/careers-img.svg") no-repeat top; }
  .inner__icon--kids {
    background: url("../img/kids-img.svg") no-repeat top; }
  .inner__icon--security {
    background: url("../img/security-img.svg") no-repeat top; }
  .inner__icon--stp {
    background: url("../img/stp-img.svg") no-repeat top; }

.inner__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 30px 0 0 0; }
  .inner__flex--down {
    width: 500px;
    margin: 30px auto 0; }
  .inner__flex--list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .inner__flex--types {
    margin: 70px 0; }
  .inner__flex--mobile {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .inner__flex:first-child {
    padding: 40px 0 0 0; }

.inner__box {
  width: 200px;
  text-align: center;
  cursor: pointer; }
  .inner__box b {
    display: inline-block;
    width: 45px;
    height: 45px;
    color: #2f2861;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    background: url("../img/webtrader-list.svg") no-repeat top;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .inner__box p {
    color: #666666;
    font-size: 12px;
    font-weight: 300;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .inner__box:hover b {
    color: #fff;
    background: url("../img/webtrader-list-h.svg") no-repeat top; }
  .inner__box:hover p {
    color: #2f2861; }
  .inner__box:hover::before {
    border: 1px dashed #fac93e; }
  .inner__box:hover::after {
    opacity: 1; }

.inner__box--right {
  position: relative; }
  .inner__box--right::before {
    content: '';
    position: absolute;
    top: 21px;
    left: 125px;
    width: 200px;
    border: 1px dashed #666;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .inner__box--right::after {
    content: '';
    position: absolute;
    top: 17px;
    left: 328px;
    width: 10px;
    height: 10px;
    background: url("../img/webtrader-point.svg") no-repeat center;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.inner__box--left {
  position: relative; }
  .inner__box--left::before {
    content: '';
    position: absolute;
    top: 21px;
    left: -125px;
    width: 200px;
    border: 1px dashed #666;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .inner__box--left::after {
    content: '';
    position: absolute;
    top: 17px;
    left: -136px;
    width: 10px;
    height: 10px;
    background: url("../img/webtrader-point.svg") no-repeat center;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.inner__box--up {
  position: relative; }
  .inner__box--up::before {
    content: '';
    position: absolute;
    top: -154px;
    left: 100px;
    height: 150px;
    border: 1px dashed #666;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .inner__box--up::after {
    content: '';
    position: absolute;
    top: -165px;
    left: 96px;
    width: 10px;
    height: 10px;
    background: url("../img/webtrader-point.svg") no-repeat center;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.inner__mockup {
  width: 471px;
  height: 536px; }
  .inner__mockup--webtrader {
    background: url("../img/webtrader-mockup-2.png") no-repeat top;
    background-size: 471px; }
  .inner__mockup--desktop {
    background: url("../img/desktop-mockup.png") no-repeat center;
    background-size: 471px; }
  .inner__mockup--mobile-1 {
    background: url("../img/mobile-mockup-1.png") no-repeat center;
    background-size: 471px; }
  .inner__mockup--mobile-2 {
    background: url("../img/mobile-mockup-2.png") no-repeat center;
    background-size: 471px; }

.inner__list {
  color: #2f2861;
  font-size: 18px; }
  .inner__list b {
    font-weight: 700;
    text-transform: uppercase; }
  .inner__list ul {
    margin: 20px 0 0 0;
    padding: 0;
    font-weight: 300;
    list-style-position: inside;
    list-style-image: url("../img/webtrader-li.svg"); }
    .inner__list ul li {
      margin: 0 0 15px 0; }

.inner__try h2 {
  margin: 0 0 30px 0;
  color: #2f2861;
  font-size: 40px;
  font-weight: normal;
  text-align: center; }

.inner__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .inner__links--careers {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }

.inner__real {
  position: relative;
  margin: 0 15px 0 0;
  padding: 10px 0;
  color: #2f2861;
  width: 170px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 10px;
  border-radius: 3px;
  background: #fac93e; }
  .inner__real span {
    font-size: 10px;
    font-weight: normal; }
  .inner__real:after {
    content: 'Trading involves risk of loss';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    text-transform: none; }

.inner__demo {
  margin: 0 0 0 15px;
  padding: 9px 0;
  color: #2f2861;
  width: 168px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 10px;
  border: 1px solid #2f2861;
  border-radius: 3px; }
  .inner__demo span {
    font-size: 10px;
    font-weight: normal; }

.inner__download {
  width: 200px;
  padding: 100px 0 0 0;
  text-align: center;
  background: url("../img/careers-links.svg") no-repeat top;
  background-size: 100px; }

.inner__content h2 {
  margin: 30px 0;
  padding: 0 15px;
  color: #6420ff;
  font-size: 30px;
  font-weight: 500; }

.inner__content details {
  padding: 15px;
  border-bottom: 1px solid #6420ff;
  -webkit-transition: 1s;
  transition: 1s; }
  .inner__content details summary {
    position: relative;
    color: #2f2861;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    cursor: pointer; }
    .inner__content details summary::-webkit-details-marker {
      display: none; }
    .inner__content details summary:after {
      content: '';
      position: absolute;
      top: 7px;
      right: 0;
      width: 15px;
      height: 10px;
      background: url("../img/details-marker.svg") no-repeat center;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .inner__content details[open] summary:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .inner__content details p {
    color: #6420ff;
    font-size: 16px;
    font-weight: 300; }

@media screen and (max-width: 1200px) {
  .inner {
    padding: 200px 0 0 0; }
  .inner__text {
    padding: 0 15px; }
  .inner__img {
    padding: 0 15px;
    background-size: 500px;
    background-position-y: 80px; }
  .inner__flex--down {
    width: 400px;
    margin: 0 auto; }
  .inner__flex:first-child {
    padding: 0; }
  .inner__box {
    width: 150px; }
  .inner__box--right::before, .inner__box--right::after,
  .inner__box--left::before,
  .inner__box--left::after,
  .inner__box--up::before,
  .inner__box--up::after {
    display: none; }
  .inner__mockup {
    width: 400px;
    height: 460px;
    background-size: 400px; } }

@media screen and (max-width: 768px) {
  .inner {
    padding: 100px 0 50px 0; }
  .inner__name {
    margin: 0 0 20px 0;
    font-size: 40px; }
  .inner__img {
    background-size: 300px;
    background-position-y: 0; }
  .inner__icon {
    width: 250px;
    height: 250px; }
  .inner__text--mobile {
    width: auto; }
  .inner__text--cysec {
    padding: 20px 15px; }
    .inner__text--cysec h2 {
      margin: 0 0 30px 0;
      font-size: 30px; }
    .inner__text--cysec:last-child {
      margin: 0; }
  .inner__flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .inner__flex--list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .inner__flex--down {
      width: auto;
      margin: 0; }
    .inner__flex--mobile {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .inner__flex:first-child {
      padding: 220px 0 0 0; }
  .inner__mockup {
    width: 300px;
    height: 350px;
    background-size: 300px; }
  .inner__list {
    margin: 30px 0 0 0;
    padding: 0 15px; }
  .inner__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .inner__real {
    margin: 0; }
  .inner__demo {
    margin: 30px 0 0 0; }
  .inner__content {
    padding: 0 15px; }
    .inner__content h2 {
      text-align: center; }
    .inner__content details summary {
      padding: 0 15px 0 0; }
    .inner__content p {
      margin: 16px 0 0 0; } }

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse; }

.table__title {
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background: #6420ff; }

.table__row {
  height: 80px;
  color: #2f2861;
  font-weight: 300;
  border-bottom: 1px solid #6420ff; }

.table__logo--visa {
  background: url("../img/table-visa.png") no-repeat center; }

.table__logo--mc {
  background: url("../img/table-mc.png") no-repeat center; }

.table__logo--bank {
  background: url("../img/table-bank.png") no-repeat center; }

.table__logo--paypal {
  background: url("../img/table-paypal.png") no-repeat center; }

.table__logo--neteller {
  background: url("../img/table-neteller.png") no-repeat center; }

.table__logo--skrill {
  background: url("../img/table-skrill.png") no-repeat center; }

.table__logo--ecopayz {
  background: url("../img/table-ecopayz.png") no-repeat center; }

.table__logo--intercash {
  background: url("../img/table-intercash.png") no-repeat center; }

.table__logo--fast {
  background: url("../img/table-fast.png") no-repeat center; }

.table__logo--paysafe {
  background: url("../img/table-paysafe.png") no-repeat center; }

.table__logo--safety {
  background: url("../img/table-safety.png") no-repeat center; }

.table__logo--trust {
  background: url("../img/table-trust.png") no-repeat center; }

.table__logo--cash {
  background: url("../img/table-cash.png") no-repeat center; }

.table__logo--ideal {
  background: url("../img/table-ideal.png") no-repeat center; }

.table__logo--trustly {
  background: url("../img/table-trustly.png") no-repeat center; }

.table__logo--neosurf {
  background: url("../img/table-neosurf.png") no-repeat center; }

.table__logo--ekonto {
  background: url("../img/table-ekonto.png") no-repeat center; }

.table__logo--ticket {
  background: url("../img/table-ticket.png") no-repeat center; }

.table__logo--giro {
  background: url("../img/table-giro.png") no-repeat center; }

.table__logo--sofort {
  background: url("../img/table-sofort.png") no-repeat center; }

.table__logo--przelewy {
  background: url("../img/table-przelewy.png") no-repeat center; }

.table__logo--qiwi {
  background: url("../img/table-qiwi.png") no-repeat center; }

.table__logo--yandex {
  background: url("../img/table-yandex.png") no-repeat center; }

.table__logo--wm {
  background: url("../img/table-wm.png") no-repeat center; }

.table__logo--moneta {
  background: url("../img/table-moneta.png") no-repeat center; }

@media screen and (max-width: 768px) {
  .table__title {
    font-size: 10px; }
  .table__row {
    font-size: 10px; }
  .table__logo {
    background-size: 40px; } }
