body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Display', sans-serif; }

.container {
  width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Thin"), local("SFUIDisplay-Thin"), url("../fonts/SFUIDisplay-Thin.woff2") format("woff2"), url("../fonts/SFUIDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Ultralight"), local("SFUIDisplay-Ultralight"), url("../fonts/SFUIDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFUIDisplay-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Light"), local("SFUIDisplay-Light"), url("../fonts/SFUIDisplay-Light.woff2") format("woff2"), url("../fonts/SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFUIDisplay-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Black"), local("SFUIDisplay-Black"), url("../fonts/SFUIDisplay-Black.woff2") format("woff2"), url("../fonts/SFUIDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

.title {
  padding: 0 0 160px 0;
  background: #32138c url("../img/title-bg.jpg") no-repeat top;
  background-size: cover; }

.title__name {
  margin: 0;
  padding: 395px 0 95px 0;
  color: #fff;
  font-size: 65px;
  font-weight: 300;
  text-align: center; }

.title__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 770px;
  margin: auto; }
  .title__form input {
    width: 248px;
    height: 38px;
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    font-family: inherit;
    border: 1px solid #fac93e;
    border-radius: 3px;
    background: transparent; }
    .title__form input::-webkit-input-placeholder {
      color: #fac93e; }
    .title__form input:-ms-input-placeholder {
      color: #fac93e; }
    .title__form input::-ms-input-placeholder {
      color: #fac93e; }
    .title__form input::placeholder {
      color: #fac93e; }
  .title__form button {
    width: 170px;
    height: 40px;
    color: #2f2861;
    font-size: 18px;
    font-weight: 100;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    background: #fac93e; }

.header {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s; }
  .header--scroll {
    position: fixed;
    top: 0;
    background: #33276e;
    z-index: 1; }
    .header--scroll .header__logo {
      width: 100px; }
    .header--scroll .header__user {
      width: 400px;
      margin: 0 70px 0 0; }
      .header--scroll .header__user li a {
        width: 133px;
        padding: 9px 0;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
    .header--scroll .header__open {
      background-position-x: 122px; }
    .header--scroll .nav__search {
      top: -73px; }

.header__container {
  width: 1170px;
  margin: auto; }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #2f2861; }

.header__logo {
  width: 170px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 470px;
  padding: 0;
  margin: 0;
  list-style: none; }
  .header__user li {
    text-align: center; }
    .header__user li:last-child {
      width: 70px; }
    .header__user li a {
      display: block;
      width: 168px;
      padding: 9px 0;
      color: #fac93e;
      font-size: 18px;
      font-weight: 100;
      text-decoration: none;
      border: 1px solid #fac93e;
      border-radius: 3px;
      -webkit-transition: 0.3;
      transition: 0.3; }

.header__open {
  background: url("../img/nav-arrow.svg") no-repeat right;
  background-position-x: 145px;
  background-size: 6px 3px; }

.header__support {
  width: 70px;
  height: 41px;
  padding: 0 20px;
  color: #fac93e;
  font-size: 18px;
  font-weight: 100;
  font-family: inherit;
  border: 1px solid #fac93e;
  border-radius: 3px;
  background: transparent url("../img/nav-arrow.svg") no-repeat right;
  background-position-x: 50px;
  background-size: 6px 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav {
  padding: 18px 15px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 470px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav__list a {
    position: relative;
    color: #fac93e;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none; }
    .nav__list a::after {
      content: '';
      position: absolute;
      top: 10px;
      right: -10px;
      width: 6px;
      height: 3px;
      background: url("../img/nav-arrow.svg") no-repeat top;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .nav__list a:hover::after {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

.nav__search {
  position: relative; }
  .nav__search input {
    width: 470px;
    height: 42px;
    padding: 0 15px;
    color: #fac93e;
    font-size: 14px;
    font-weight: 100;
    font-family: inherit;
    border: 1px solid #fac93e;
    border-radius: 3px;
    background: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    opacity: 0; }
  .nav__search:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url("../img/nav-search.svg") no-repeat top; }
  .nav__search:hover input {
    opacity: 1; }

.welcome {
  padding: 90px 0; }

.welcome__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .welcome__flex img {
    max-width: 550px;
    height: 370px; }

.welcome__content {
  width: 585px; }

.welcome__name {
  margin: 0;
  color: #2f2861;
  font-size: 60px;
  font-weight: 100; }
  .welcome__name span {
    font-weight: normal; }

.welcome__sub-name {
  color: #2f2861;
  font-size: 24px;
  font-weight: 100; }

.welcome__text {
  margin: 35px 0 50px 0;
  color: #2f2861;
  font-size: 18px;
  font-weight: 100; }

.welcome__button {
  display: block;
  width: 170px;
  padding: 10px 0;
  color: #2f2861;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background: #fac93e; }

.edge {
  padding: 40px 0;
  background: #0c194f url("../img/edge-bg.jpg") no-repeat top;
  background-size: cover; }

.edge__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px; }

.edge__box {
  width: 170px;
  text-align: center; }
  .edge__box b {
    display: inline-block;
    padding: 0 0 9px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 1px solid #fac93e; }
  .edge__box p {
    margin: 10px 0 0 0;
    color: #fff;
    font-weight: 100; }

.account {
  padding: 70px 0 300px 0; }

.account__name {
  margin: 0 0 60px 0;
  color: #2f2861;
  font-size: 60px;
  font-weight: 100;
  text-align: center; }

.account__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px; }

.account__box {
  width: 230px;
  padding: 100px 70px 50px;
  color: #fff;
  border-bottom-right-radius: 20px;
  background: #0e0b39; }
  .account__box h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    text-align: center; }
  .account__box hr {
    width: 30px;
    height: 1px;
    margin: 10px auto;
    border: none;
    background: #fac93e; }
  .account__box b {
    display: block;
    font-weight: 500;
    text-align: center; }
  .account__box ul {
    margin: 30px 0 35px 0;
    padding: 0;
    font-weight: 100;
    list-style-image: url("../img/list.svg"); }
  .account__box a {
    display: block;
    width: 168px;
    margin: auto;
    padding: 9px 0;
    color: #fac93e;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fac93e;
    border-radius: 3px; }
  .account__box:nth-child(2) li:last-child {
    list-style: none; }
  .account__box:nth-child(1) {
    background: #0e0b39 url("../img/account-zulu.png") no-repeat 70px -30px;
    background-size: 256px; }
  .account__box:nth-child(2) {
    background: #0e0b39 url("../img/account-real.png") no-repeat 0 -40px; }
  .account__box:nth-child(3) {
    background: #0e0b39 url("../img/account-demo.png") no-repeat 40px 10px;
    background-size: 300px; }

.tabs {
  height: 330px;
  background: #e4b748 url("../img/tabs-bg.jpg") no-repeat top;
  background-size: cover; }

.tabs__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -35px 0 0 0;
  padding: 0;
  width: 430px;
  list-style: none; }
  .tabs__control li button {
    padding: 0 0 14px 0;
    color: #2f2861;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    border: none;
    background: #fff;
    outline: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    cursor: pointer; }

.tabs__active {
  font-weight: 900 !important;
  border-bottom: 2px solid #f58a39 !important; }

.tabs__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 0 15px; }

.tabs__mockup {
  width: 570px;
  height: 400px;
  margin: -150px 0 0 0; }

.tabs__content {
  position: relative;
  height: 330px;
  overflow: hidden; }

.tabs__wrapper {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s; }
  .tabs__wrapper--android {
    top: 70px;
    opacity: 1; }

.tabs__name {
  color: #2f2861;
  font-size: 30px;
  font-weight: 500; }

.tabs__text {
  margin: 15px 0 35px 0;
  color: #2f2861;
  font-weight: 100; }

.tabs__download {
  display: inline-block;
  width: 170px;
  margin: 0 25px 0 0;
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background: #2f2861;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(210, 156, 1, 0.5);
  box-shadow: 0px 8px 10px 0px rgba(210, 156, 1, 0.5); }

.tabs__more {
  display: inline-block;
  width: 168px;
  padding: 9px 0;
  color: #2f2861;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  border: 1px solid #2f2861;
  border-radius: 3px; }

.form {
  padding: 95px 0 110px;
  background: url("../img/form-bg.jpg") no-repeat top;
  background-size: cover; }
  .form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 290px;
    margin: 0 0 0 215px;
    padding: 30px 40px 55px;
    text-align: center;
    border-bottom-right-radius: 20px;
    background: #0e0b39; }
    .form form p {
      margin: 0 0 5px 0;
      color: #fff;
      font-weight: 500; }
    .form form b {
      color: #fff;
      font-size: 30px;
      font-weight: 500; }
    .form form hr {
      width: 30px;
      height: 1px;
      margin: 20px auto 25px;
      border: none;
      background: #fac93e; }
    .form form input {
      margin: 0 0 10px 0;
      padding: 8px 15px;
      font-size: 18px;
      font-weight: 100;
      font-family: inherit;
      border: 2px solid #fff;
      border-radius: 3px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      outline: none; }
      .form form input::-webkit-input-placeholder {
        color: #2f2861; }
      .form form input:-ms-input-placeholder {
        color: #2f2861; }
      .form form input::-ms-input-placeholder {
        color: #2f2861; }
      .form form input::placeholder {
        color: #2f2861; }
      .form form input:focus {
        border: 2px solid #7865ff; }
    .form form select {
      height: 41px;
      margin: 0 0 10px 0;
      padding: 8px 15px;
      color: #2f2861;
      font-size: 18px;
      font-weight: 100;
      font-family: inherit;
      border: 2px solid #fff;
      border-radius: 3px;
      background: #fff url("../img/nav-arrow.svg") no-repeat center;
      background-size: 10px;
      background-position-x: 260px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .form form select:focus {
        border: 2px solid #7865ff; }
    .form form button {
      margin: 25px 0 0 0;
      padding: 10px 0;
      color: #2f2861;
      font-size: 18px;
      font-weight: 500;
      font-family: inherit;
      border: none;
      border-radius: 3px;
      background: #fac93e; }

.payment {
  padding: 30px 0; }

.payment__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px; }

.payment__box {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .payment__box--mc {
    width: 50px;
    height: 30px;
    background: url("../img/payment-mc.svg") no-repeat top; }
  .payment__box--visa {
    width: 50px;
    height: 15px;
    background: url("../img/payment-visa.svg") no-repeat top; }
  .payment__box--bank {
    width: 41px;
    height: 41px;
    background: url("../img/payment-bank.svg") no-repeat top; }
  .payment__box--skrill {
    width: 50px;
    height: 17px;
    background: url("../img/payment-skrill.svg") no-repeat top; }
  .payment__box--neteller {
    width: 55px;
    height: 10px;
    background: url("../img/payment-neteller.svg") no-repeat center; }

.footer {
  padding: 30px 0;
  background: #161525; }

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px; }

.footer__ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer__ul--links b {
    color: #cdcdcf;
    font-size: 18px;
    font-weight: normal; }
  .footer__ul--links hr {
    width: 30px;
    height: 1px;
    margin: 10px 0;
    border: none;
    background: #cdcdcf; }
  .footer__ul--links a {
    color: #cdcdcf;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer__ul--links a:hover {
      color: #fac93e; }
  .footer__ul--links li {
    color: #cdcdcf;
    font-size: 14px;
    font-weight: 100; }

.footer__logo {
  width: 170px;
  height: 53px; }

.footer__callme {
  display: block;
  width: 168px;
  margin: 20px 0;
  padding: 9px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3px; }

.footer__hr {
  height: 1px;
  margin: 20px 0;
  border: none;
  background: #fff; }

.footer__name {
  padding: 0 15px;
  color: #cdcdcf;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase; }

.footer__text {
  padding: 0 15px;
  color: #cdcdcf;
  font-size: 14px;
  font-weight: 100; }
  .footer__text:last-child {
    margin: 14px 0 0 0; }
  .footer__text a {
    color: #fefeff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer__text a:hover {
      color: #fac93e; }

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__link {
  width: 25px;
  height: 25px; }
  .footer__link--fb {
    background: url("../img/footer-fb.svg") no-repeat top; }
  .footer__link--li {
    background: url("../img/footer-li.svg") no-repeat top; }
  .footer__link--gp {
    background: url("../img/footer-gp.svg") no-repeat top; }
  .footer__link--tw {
    background: url("../img/footer-tw.svg") no-repeat top; }
