body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Display', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: $sc; 
}

::-webkit-scrollbar-thumb:hover {
    background: $mc; 
}

@media screen and ($tablet-widths) {
  .container {
    width: 100%;
  }
}

@media screen and ($mobile-widths) {}