body {
  min-width: 320px;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and ($tablet-widths) {
  .container {
    width: 100%;
  }
}

@media screen and ($mobile-widths) {}