@font-face {
  font-family: 'ProximaNova-ExtrabldIt';
  src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
      url('../fonts/ProximaNova-ExtrabldIt.woff2') format('woff2'),
      url('../fonts/ProximaNova-ExtrabldIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Black';
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
      url('../fonts/ProximaNova-Black.woff2') format('woff2'),
      url('../fonts/ProximaNova-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
      url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-BlackIt';
  src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
      url('../fonts/ProximaNova-BlackIt.woff2') format('woff2'),
      url('../fonts/ProximaNova-BlackIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
      url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'),
      url('../fonts/ProximaNova-RegularIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
      url('../fonts/ProximaNova-Light.woff2') format('woff2'),
      url('../fonts/ProximaNova-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
      url('../fonts/ProximaNova-LightIt.woff2') format('woff2'),
      url('../fonts/ProximaNova-LightIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
      url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-ThinIt';
  src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
      url('../fonts/ProximaNova-ThinIt.woff2') format('woff2'),
      url('../fonts/ProximaNova-ThinIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-BoldIt';
  src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
      url('../fonts/ProximaNova-BoldIt.woff2') format('woff2'),
      url('../fonts/ProximaNova-BoldIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
      url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
      url('../fonts/ProximaNova-Extrabld.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-SemiboldIt';
  src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
      url('../fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
      url('../fonts/ProximaNova-SemiboldIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
      url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}