.heading {
  display: block;
  margin: 0 0 45px 0;
  padding: 25px 0;
  color: $main-gray;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  background: url('../img/heading-bg.png') no-repeat center;
  
  &--red {
    color: $main-red;
    font-size: 30px;
    background: none;
  }
  
  &--small {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
  }
  
  &--unmargin {
    margin: 0;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .heading {
    margin: 0 0 20px 0;
    font-size: 25px;
    text-align: center;
  }
}