.bonus {
  padding: 100px 0;
}

.bonus__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #333333;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.bonus__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.bonus__item {
  box-sizing: border-box;
  width: 370px;
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  background-repeat: no-repeat;
  background-position: left;
  
  &:nth-child(1) {
    padding: 40px 0;
    padding-left: 140px;
    background-image: url('../img/bonus-1.svg');
  }
  
  &:nth-child(2) {
    padding: 17px 0;
    padding-left: 140px;
    background-image: url('../img/bonus-2.svg');
  }
  
  &:nth-child(3) {
    padding: 28px 0;
    padding-left: 140px;
    background-image: url('../img/bonus-3.svg');
  }
}

@media screen and ($tablet) {
  .bonus__title {
    font-size: 30px;
  }
  
  .bonus__item {
    
    padding-left: 0;
    text-align: center;
    background-position: top;
    background-size: 90px;
    
    &:nth-child(1) {
      padding: 0;
      padding-top: 100px;
    }
    
    &:nth-child(2) {
      padding: 0;
      padding-top: 100px;
    }
    
    &:nth-child(3) {
      padding: 0;
      padding-top: 100px;
    }
  }
}

@media screen and ($mobile) {
  .bonus__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .bonus__item {
    margin-bottom: 30px;
  }
}