.info {
  margin-top: -300px;
  padding-top: 70px;
  padding-bottom: 90px;
  border-top-left-radius: 300px;
  background-color: #FFFFFF;
  background-image: url('../img/info-bg.png'), url('../img/info-dec.svg');
  background-repeat: no-repeat;
  background-position: top, 100px bottom;
  background-size: contain, 230px;
}

.info__title {
  margin-top: 0;
  margin-bottom: 100px;
  color: #333333;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.info__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  
  &--second {
    justify-content: flex-end;
    margin-top: -50px;
    
    .info__photo {
      margin-right: 0;
      margin-left: 50px;
    }
  }
}

.info__photo {
  margin-right: 50px;
}

.info__name {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333333;
  font-size: 25px;
  font-weight: 500;
}

.info__item {
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  .info {
    border-top-left-radius: 200px;
  }
  
  .info__photo {
    max-width: 50%;
  }
}

@media screen and ($mobile) {
  .info {
    border-top-left-radius: 150px;
    background-position: top, right bottom
  }
  
  .info__title {
    margin-bottom: 50px;
    font-size: 30px;
  }
  
  .info__flex {
    flex-direction: column;
    
    &--second {
      
      .info__photo {
        margin: 0;
      }
    }
  }
  
  .info__content {
    order: 1;
    margin-bottom: 15px;
  }
  
  .info__photo {
    order: 2;
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}