.promo {
  padding-top: 70px;
  background-image: url('../img/promo-bg.png'), linear-gradient(134.86deg, #0BC5BA 52.32%, #47E7DD 75.52%), linear-gradient(125.28deg, #0FC1B3 41.07%, #2DD3C8 97.89%), linear-gradient(118.98deg, #0FC1B3 38.79%, #2DD3C8 97.85%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 40px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.promo__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.promo__content {
  width: 430px;
  margin-right: 50px;
}

.promo__text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  
  &--yellow {
    color: #FFF8BD;
  }
}

.promo__att {
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .promo__flex {
    flex-direction: column;
  }
  
  .promo__content {
    margin-right: 0;
  }
}

@media screen and ($mobile) {
  .promo__title {
    margin-bottom: 15px;
    font-size: 30px;
  }
  
  .promo__content {
    width: auto;
  }
  
  .promo__photo {
    max-width: 100%;
  }
}