.speaker {
  padding-bottom: 70px;
  background-image: url('../img/speaker-photo.png');
  background-repeat: no-repeat;
  background-position: 90% bottom;
}

.speaker__title {
  margin-top: 0;
  margin-bottom: 150px;
  color: #333333;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.speaker__position {
  margin-top: 0;
  margin-bottom: 30px;
  color: #333333;
  font-size: 25px;
  font-weight: 400;
}

.speaker__list {
  counter-reset: my-awesome-counter;
  width: 500px;
  margin: 0;
  margin-bottom: 50px;
  margin-left: 40px;
  padding: 0;
  list-style: none;
}

.speaker__item {
  position: relative;
  counter-increment: my-awesome-counter;
  margin-bottom: 15px;
  font-size: 18px;
  
  &::before {
    content: counter(my-awesome-counter);
    position: absolute;
    top: -5px;
    left: -40px;
    padding: 5px 11px;
    color: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    background-color: #0EBFB1;
  }
}

.speaker__photo {
  display: none;
}

@media screen and ($tablet) {
  .speaker {
    background-position: 350px bottom;
  }
}

@media screen and ($mobile) {
  .speaker {
    background-image: none;
  }
  
  .speaker__photo {
    display: block;
    width: 100%;
    margin-top: -30px;
  }
  
  .speaker__title {
    margin-bottom: 0;
    font-size: 30px;
  }
  
  .speaker__position {
    margin-top: 15px;
    text-align: center;
  }
  
  .speaker__list {
    width: auto;
  }
}