.button {
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  font-family: 'Open Sans Light', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #00c5ff;
  border-radius: 5px;
  
  &--partner {
    margin-right: 10px;
    padding-left: 60px;
    background: url('../img/button-partner.png') no-repeat 15px 8px;
    transition: 0.3s;
    
    &:hover {
      background: #00c5ff url('../img/button-partner.png') no-repeat 15px 8px;  
    }
    
    &-contact {
      position: relative;
      margin-right: 0;
      padding-right: 50px;
      padding-left: 110px;
      background: url('../img/button-partner.png') no-repeat 60px 8px;
      z-index: 2;
      
      &:hover {
        background: #00c5ff url('../img/button-partner.png') no-repeat 60px 8px;  
      }
    }
  } 
  
  &--broker {
    padding-left: 70px;
    background: url('../img/button-broker.png') no-repeat 10px 6px;
    transition: 0.3s;
    
    &:hover {
      background: #00c5ff url('../img/button-broker.png') no-repeat 10px 6px;  
    }
    
    &-contact {
      margin-right: 30px;
      padding-right: 50px;
      padding-left: 110px;
      background: url('../img/button-broker.png') no-repeat 50px 7px;
      
      &:hover {
        background: #00c5ff url('../img/button-broker.png') no-repeat 50px 7px;  
      }
    }
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .button {
    text-align: center;
    
    &--partner,
    &--broker {
      display: block;
      width: 190px;
      margin: auto;
    }
    
    &--partner {
      margin-bottom: 20px;
      
      &-contact {
        width: 190px;
        padding-left: 60px;
        background: url('../img/button-partner.png') no-repeat 20px 10px;
        
        &:hover {
          background: #00c5ff url('../img/button-partner.png') no-repeat 20px 10px;
        }
      }
    }
    
    &--broker {
      padding-left: 60px;
      
      &-contact {
        width: 190px;
        margin-bottom: 20px;
        padding-left: 60px;
        background: url('../img/button-broker.png') no-repeat 15px 8px;
        
        &:hover {
          background: #00c5ff url('../img/button-broker.png') no-repeat 15px 8px;
        }
      }
    }
  }
}