.footer {
  position: relative;
  margin-top: -97px;
  background: url('../img/footer-bg.png') no-repeat top;
  background-size: cover;
  
  img {
    padding-top: 80px;
  }
  
  p {
    position: relative;
    width: 1000px;
    margin-bottom: 0;
    padding-bottom: 100px;
    color: #737373;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    z-index: 2;
  }
  
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    height: 510px;
    background: url('../img/footer-mockup.png') no-repeat;
    background-size: contain;
  }
}

@media screen and ($tablet-widths) {
  .footer {
    margin-top: -105px;
    
    p {
      width: auto;
    }
    
    &::before {
      display: none;
    }
  }
}

@media screen and ($mobile-widths) {}