.header {
  background: rgba(0, 0, 0, 0.3);
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

@media screen and ($tablet-widths) {
  .header__flex {
    flex-wrap: wrap;
  }
}

@media screen and ($mobile-widths) {

}