.slider {
  background: url('../img/slider-bg.png') no-repeat top;
  background-size: cover;
}

.slider__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__container {
  margin: auto;
  
  &--1 {
    width: 1150px;
  }
}

.slider__box {
  height: 960px !important;
  
  b {
    color: #fff;
    font-size: 130px;
    font-family: 'Open Sans SemiBold', sans-serif;
    opacity: 0.4;
  }
  
  p {
    margin-top: 20px;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Open Sans Light', sans-serif;
  }
}

.slider__box--1 {
  
  h1 {
    margin-top: 0;
    padding-top: 120px;
    color: #fff;
    font-size: 42px;
    font-weight: 300;
    font-family: 'Open Sans Light', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
}

.slider__text-1 {
  align-self: center;
  position: relative;
  width: 360px;
  
  &::before {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -180px;
    width: 10px;
    height: 197px;
    background: url('../img/text1.png') no-repeat;
  }
  
  &--2 {
    
    &::before {
      content: '';
      position: absolute;
      left: 30px;
      bottom: -250px;
      width: 10px;
      height: 677px;
      background: url('../img/textall.png') no-repeat;
    }
  }
  
  &--3 {
    width: 370px;
    
    &::before {
      content: '';
      position: absolute;
      left: 30px;
      bottom: -230px;
      width: 10px;
      height: 677px;
      background: url('../img/textall.png') no-repeat;
    }
  }
  
  &--4 {
    
    &::before {
      content: '';
      position: absolute;
      left: 30px;
      bottom: -260px;
      width: 10px;
      height: 677px;
      background: url('../img/textall.png') no-repeat;
    }
  }
  
  &--5 {
    
    &::before {
      content: '';
      position: absolute;
      left: 30px;
      top: -120px;
      width: 10px;
      height: 677px;
      background: url('../img/text5.png') no-repeat;
    }
  }
}

.slider__box--2 {
  position: relative;
  top: 120px;
}

.slider__box--3 {
  position: relative;
  top: 120px;
}

.slider__box--4 {
  position: relative;
  top: 130px;
}

.slider__box--5 {
  position: relative;
  top: 180px;
}

@media screen and ($tablet-widths) {
  .slider {
    display: none;
  }
}

@media screen and ($mobile-widths) {}