.announcements {
  padding: 150px 0 0 0;
  
  hr {
    height: 1px;
    margin: 50px 0;
    border: none;
    background: #b8b8b8;
  }
}

.announcements__name {
  margin: 0 0 50px 0;
  color: $sc;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}

.announcements__list {
  // margin: 0;
  padding: 0;
  list-style: none;
  
  b {
    color: $sc;
    font-size: 25px;
    font-weight: 500;
  }
  
  a {
    color: #6420ff;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s;
    
    &:hover {
      color: $sc;
    }
  }
}

@media screen and ($tablet-widths) {
  .announcements {
    padding: 200px 0 0 0;
  }
  
  .announcements__text {
    padding: 0 15px;
  }
}

@media screen and ($mobile-widths) {
  .announcements {
    padding: 100px 0 0 0;
  }
  
  .announcements__name {
    margin: 0 0 20px 0;
    font-size: 40px;
  }
}