.announcements__list {
  // margin: 0;
  padding: 0;
  list-style: none;
  
  b {
    color: $sc;
    font-size: 25px;
    font-weight: 500;
  }
  
  a {
    color: #6420ff;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s;
    
    &:hover {
      color: $sc;
    }
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {}