.client {
  padding: 150px 0 70px 0;
}

.client__name {
  margin: 0;
  color: $sc;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}

.client__subname {
  margin: 0 0 50px 0;
  color: $sc;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.client__subsubname {
  margin: 50px 0 10px 0;
  color: #6420ff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.client__form {
  
  input {
    width: 478px;
    height: 41px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
    font-family: inherit;
    border: 1px solid $sc;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
    
    &[type='radio'],
    &[type='checkbox'] {
      width: auto;
      height: auto;
      margin: 0 10px;
      
      &:focus {
        box-shadow: none;
      }
    }
    
    &::placeholder {
      color: #c1c1c1;
      transition: 0.3s;
    }
    
    &:focus {
      box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
      
      &::placeholder {
        color: $sc;
      }
    }
  }
  
  select {
    width: 500px;
    height: 41px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
    font-family: inherit;
    border: 1px solid $sc;
    border-radius: 3px;
    background: transparent url('../img/nav-arrow.svg') no-repeat center;
    background-size: 10px;
    background-position-x: 480px; 
    outline: none;
    transition: 0.3s;
    appearance: none;
    
    &:focus {
      box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
      
      &::placeholder {
        color: $sc;
      }
    }
  }
  
  &--login {
    width: 400px;
    margin: auto;
    
    input {
      width: inherit;
      margin: 0 0 10px 0;
    }
  }
}

.client__flex {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  
  &--center {
    justify-content: center;
  }
  
  &--login {
    flex-direction: column;
  }
  
  &--button {
    align-items: center;
  }
}

.client__email {
  width: 500px;
  color: $sc;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.client__tel {
  display: flex;
  justify-content: space-between;
}

.client__country {
  width: 95px !important;
  margin: 0 10px 0 0;
  background: #eee;
}

.client__phone {
  width: 351px !important;
}

.client__forgot {
  color: $sc;
  font-weight: 500;
  text-decoration: none;
}

.client__next {
  width: 150px;
  margin: 25px 0 25px auto;
  padding: 10px 0;
  color: $sc;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  background: $mc;
  transition: 0.3s;
  
  &:hover {
    box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
    background: #ffd800;
  }
}

.client__warning {
  margin: 0;
  padding: 20px 10px;
  color: $sc;
  font-weight: 300;
  text-align: center;
  border: 1px solid #6420ff;
  border-radius: 3px;
  
  b {
    display: block;
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 500;
  }
}

.client__question {
  display: block;
  margin: 40px 0 10px 0;
  color: $sc;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.client__label {
  color: $sc;
  font-size: 14px;
  font-weight: 300;
  
  &--checkbox {
    width: 500px;
    margin: 40px 0 0 0;
    
    a {
      color: #6420ff;
      text-decoration: none;
    }
  }
}

.client__hr {
  height: 1px;
  margin: 50px 0;
  border: none;
  background: #6420ff;
}

.client__demo {
  color: #6420ff;
  text-decoration: none;
}

@media screen and ($tablet-widths) {
  .client {
    padding: 200px 0 70px 0;
  }
  
  .client__form {
    padding: 0 15px;
    
    input {
      width: 350px;
    }
    
    select {
      width: 372px;
      background-position-x: 350px; 
    }
  }
  
  .client__flex {
    justify-content: space-around;
  }

  .client__phone {
    width: 222px !important;
  }
  
  .client__email {
    width: 372px;
  }
  
  .client__warning {
    margin: 0 15px;
  }
}

@media screen and ($mobile-widths) {
  .client {
    padding: 100px 0 50px 0;
  }
  
  .client__name {
    margin: 0 0 20px 0;
    font-size: 40px;
  }
  
  .client__subname {
    margin: 0 0 20px 0;
    font-size: 20px;
  }
  
  .client__form {
    
    input {
      width: 278px;
      margin: 0 0 10px 0;
    }
    
    select {
      width: 300px;
      margin: 0 0 10px 0;
      background-position-x: 280px; 
    }
    
    &--login {
      width: 270px;
      padding: 0;
    }
  }
  
  .client__flex {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  .client__tel {
    flex-direction: column;
  }

  .client__country {
    width: 278px !important;
    margin: 0;
  }

  .client__phone {
    width: 278px !important;
  }
  
  .client__email {
    width: auto;
  }
  
  .client__next {
    margin: 25px auto;
  }
  
  .client__label {
    
    &--checkbox {
      width: auto;
    }
  }
  
  .client__demo {
    display: block;
    text-align: center;
  }
}