.inner {
  padding: 150px 0 70px 0;
  
  hr {
    height: 1px;
    margin: 50px 0;
    border: none;
    background: #b8b8b8;
  }
  
  &--zulu {
    padding: 80px 0;
    
    .tab__content {
      height: 317px;
      overflow: scroll;
    }
  }
}

.inner__name {
  margin: 0 0 50px 0;
  color: $sc;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  
  &--zulu {
    margin: 0 0 10px 0;
  }
}

.inner__sub {
  margin: 0 0 40px 0;
  color: $sc;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.inner__text {
  color: $sc;
  font-size: 18px;
  font-weight: 300;
  
  b {
    display: block;
    padding: 0 0 20px 0;
    font-size: 20px;
    font-weight: 500;
  }
  
  p {
    margin: 0 0 18px 0;
    font-size: 18px;
    font-weight: 300;
  }
  
  a {
    color: #6420ff;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    
    &:hover {
      color: $mc;
    }
  }
  
  &--mobile {
    width: 500px;
  }
  
  &--cysec {
    margin: 0 0 40px 0;
    padding: 50px 20px;
    border: 1px solid #6420ff;
    border-radius: 3px;
    
    h2 {
      margin: 0 0 50px 0;
      color: $mc;
      font-size: 50px;
      font-weight: 500;
      text-align: center;
    }
    
    b {
      padding: 0;
    }
    
    ul, ol {
      margin: 10px 0 20px 0;
    }
  }
  
  &--legal {
    text-align: center;
  }
  
  &--platforms {
    margin: 0 0 60px 0;
    text-align: center;
  }
}

// WebTrader

.inner__img {
  margin: 70px 0 0 0;
  background: url('../img/webtrader-mockup.png') no-repeat top;
  background-size: 750px;
}

.inner__icon {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  
  &--careers {
    background: url('../img/careers-img.svg') no-repeat top;
  }
  
  &--kids {
    background: url('../img/kids-img.svg') no-repeat top;
  }
  
  &--security {
    background: url('../img/security-img.svg') no-repeat top;
  }
  
  &--stp {
    background: url('../img/stp-img.svg') no-repeat top;
  }
  
  &--legal {
    background: url('../img/legal-img.svg') no-repeat top;
  }
}

.inner__flex {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
  
  &--down {
    width: 500px;
    margin: 30px auto 0;
  }
  
  &--list {
    justify-content: space-around;
    align-items: center;
  }
  
  &--types {
    margin: 70px 0;
  }
  
  &--mobile {
    align-items: center;
  }
  
  &--platforms {
    align-items: center;
  }
  
  &:first-child {
    padding: 40px 0 0 0;
  }
}

.inner__box {
  width: 200px;
  text-align: center;
  cursor: pointer;
  
  b {
    display: inline-block;
    width: 45px;
    height: 45px;
    color: $sc;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    background: url('../img/webtrader-list.svg') no-repeat top;
    transition: 0.3s;
  }
  
  p {
    color: #666666;
    font-size: 12px;
    font-weight: 300;
    transition: 0.3s;
  }
  
  &:hover {
    
    b {
      color: #fff;
      background: url('../img/webtrader-list-h.svg') no-repeat top;
    }
    
    p {
      color: $sc;
    }
    
    &::before {
      border: 1px dashed $mc;
    }
    
    &::after {
      opacity: 1;
    }
  }
}

.inner__box--right {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 21px;
    left: 125px;
    width: 200px;
    border: 1px dashed #666;
    transition: 0.3s;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 17px;
    left: 328px;
    width: 10px;
    height: 10px;
    background: url('../img/webtrader-point.svg') no-repeat center;
    opacity: 0;
    transition: 0.3s;
  }
}

.inner__box--left {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 21px;
    left: -125px;
    width: 200px;
    border: 1px dashed #666;
    transition: 0.3s;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 17px;
    left: -136px;
    width: 10px;
    height: 10px;
    background: url('../img/webtrader-point.svg') no-repeat center;
    opacity: 0;
    transition: 0.3s;
  }
}

.inner__box--up {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: -154px;
    left: 100px;
    height: 150px;
    border: 1px dashed #666;
    transition: 0.3s;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: -165px;
    left: 96px;
    width: 10px;
    height: 10px;
    background: url('../img/webtrader-point.svg') no-repeat center;
    opacity: 0;
    transition: 0.3s;
  }
}

.inner__mockup {
  width: 471px;
  height: 536px;
  // background-size: 471px;
  
  &--webtrader {
    background: url('../img/webtrader-mockup-2.png') no-repeat top;
    background-size: 471px;
  }
  
  &--desktop {
    background: url('../img/desktop-mockup.png') no-repeat center;
    background-size: 471px;
  }
  
  &--mobile-1 {
    background: url('../img/mobile-mockup-1.png') no-repeat center;
    background-size: 471px;
  }
  
  &--mobile-2 {
    background: url('../img/mobile-mockup-2.png') no-repeat center;
    background-size: 471px;
  }
}

.inner__list {
  color: $sc;
  font-size: 18px;
  
  b {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  ul {
    margin: 20px 0 0 0;
    padding: 0;
    font-weight: 300;
    list-style-position: inside;
    list-style-image: url('../img/webtrader-li.svg');
    
    li {
      margin: 0 0 15px 0;
    }
  }
}

.inner__try {
  
  h2 {
    margin: 0 0 30px 0;
    color: $sc;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
  }
}

.inner__links {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 0 0 60px 0;
  
  &--careers {
    align-items: stretch;
  }
}

.inner__real {
  position: relative;
  margin: 0 15px 0 0;
  padding: 10px 0;
  color: $sc;
  width: 170px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 10px;
  border-radius: 3px;
  background: $mc;
  
  span {
    font-size: 10px;
    font-weight: normal;
  }
  
  &:after {
    content: 'Trading involves risk of loss';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
  }
}

.inner__demo {
  margin: 0 0 0 15px;
  padding: 9px 0;
  color: $sc;
  width: 168px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 10px;
  border: 1px solid $sc;
  border-radius: 3px;
  // background: $mc;
  
  span {
    font-size: 10px;
    font-weight: normal;
  }
}

// Careers
.inner__download {
  width: 200px;
  padding: 100px 0 0 0;
  text-align: center;
  background: url('../img/careers-links.svg') no-repeat top;
  background-size: 100px;
}

// Glossary, FAQ
.inner__content {
  
  h2 {
    margin: 30px 0;
    padding: 0 15px;
    color: #6420ff;
    font-size: 30px;
    font-weight: 500;
  }
  
  details {
    // height: 50px;
    padding: 15px;
    border-bottom: 1px solid #6420ff;
    transition: 1s;
    
    summary {
      position: relative;
      color: $sc;
      font-size: 18px;
      font-weight: 500;
      outline: none;
      cursor: pointer;
      
      &::-webkit-details-marker {
        display: none;
      }
      
      &:after {
        content: '';
        position: absolute;
        top: 7px;
        right: 0;
        width: 15px;
        height: 10px;
        background: url('../img/details-marker.svg') no-repeat center;
        transition: 0.3s;
      }
    }
    
    &[open] summary:after {
      transform: rotate(180deg);
    }
    
    p {
      color: #6420ff;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

// Platdorms
.inner__mockup {
  
  &--web {
    width: 600px;
    height: 330px;
    background: url('../img/tabs-mockup.png') no-repeat center;
    background-size: cover;
  }
  
  &--mob {
    width: 600px;
    height: 400px;
    background: url('../img/mobile-mockup-1.png') no-repeat center;
    background-size: cover;
  }
  
  &--des {
    width: 570px;
    height: 385px;
    background: url('../img/desktop-mockup.png') no-repeat center;
    background-size: cover;
  }
  
  &--zulu {
    width: 461px;
    height: 455px;
    background: url('../img/zulutrade-mockup.png') no-repeat center;
    background-size: cover;
  }
}

.inner__desc {
  width: 570px;
  
  b {
    color: $sc;
    font-size: 30px;
    font-weight: 500;
  }
  
  hr {
    width: 70px;
    margin: 20px 0;
    border: none;
    background: $mc;
  }
  
  p {
    margin: 0 0 40px 0;
    color: $sc;
    font-size: 18px;
    font-weight: 300;
  }
}

.inner__button {
  display: inline-block;
  width: 170px;
  padding: 10px 0;
  color: $sc;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.3s;
  
  &--start {
    position: relative;
    margin: 0 30px 0 0;
    background: $mc;
    
    &:hover {
      box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
      background: #ffd800;
    }
    
    &:after {
      content: 'Trading involves risk of loss';
      position: absolute;
      width: inherit;
      left: 0;
      bottom: -15px;
      font-size: 10px;
    }
  }
  
  &--more {
    width: 168px;
    padding: 9px 0;
    border: 1px solid $sc;
  }
}

@media screen and ($tablet-widths) {
  .inner {
    padding: 200px 0 70px 0;
    
    &--zulu {
      padding: 50px 0 70px 0;
    }
  }
  
  .inner__text {
    padding: 0 15px;
  }
  
  .inner__img {
    padding: 0 15px;
    background-size: 500px;
    background-position-y: 80px;
  }
  
  .inner__flex {
    
    &--down {
      width: 400px;
      margin: 0 auto;
    }
    
    &:first-child {
      padding: 0;
    }
  }
  
  .inner__box {
    width: 150px;
  }
  
  .inner__box--right,
  .inner__box--left,
  .inner__box--up {
    
    &::before,
    &::after {
      display: none;
    }
  }
  
  .inner__mockup {
    width: 400px;
    height: 460px;
    background-size: 400px;
  }
}

@media screen and ($mobile-widths) {
  .inner {
    padding: 100px 0 50px 0;
    
    &--zulu {
      padding: 50px 0;
      
      .tab__table {
        display: block;
        overflow-x: scroll;
      }
    }
  }
  
  .inner__name {
    margin: 0 0 20px 0;
    font-size: 40px;
  }
  
  .inner__img {
    background-size: 300px;
    background-position-y: 0;
  }
  
  .inner__icon {
    width: 200px;
    height: 200px;
    margin: 30px auto;
  }
  
  .inner__text {
    
    &--mobile {
      width: auto;
    }
    
    &--cysec {
      padding: 20px 15px;
      border: none;
      
      h2 {
        margin: 0 0 30px 0;
        font-size: 30px;
      }
      
      &:last-child {
        margin: 0;
      }
    }
  }
  
  .inner__flex {
    justify-content: center;
    
    &--list {
      flex-direction: column;
    }
    
    &--down {
      width: auto;
      margin: 0;
    }
    
    &--mobile {
      flex-direction: column;
    }
    
    &--types {
      flex-direction: column;
      margin: 70px 0 40px 0;
    }
    
    &--platforms {
      flex-direction: column;
    }
    
    &--mobile {
      
      .inner__mockup {
        order: 1;
      }
      
      .inner__desc {
        order: 2;
      }
    }
    
    &:first-child {
      padding: 220px 0 0 0;
    }
  }
  
  .inner__mockup {
    width: 300px;
    height: 350px;
    background-size: 300px;
  }
  
  .inner__list {
    margin: 30px 0 0 0;
    padding: 0 15px;
  }
  
  .inner__links {
    flex-direction: column;
    
    &--careers {
      align-items: center;
    }
  }
  
  .inner__real {
    margin: 0;
  }
  
  .inner__demo {
    margin: 30px 0 0 0;
  }
  
  .inner__content {
    padding: 0 15px;
    
    h2 {
      text-align: center;
    }
    
    details {
      
      summary {
        padding: 0 15px 0 0;
      }
    }
    
    p {
      margin: 16px 0 0 0;
    }
  }
  
  .inner__desc {
    width: auto;
    padding: 0 15px;
    
    b {
      display: block;
      text-align: center;
    }
    
    hr {
      margin: 20px auto;
    }
  }
  
  .inner__button {
    display: block;
    margin: auto;
    
    &--start {
      margin: 0 auto 30px ;
    }
  }
}