.zulu {
  
}

.zulu__wrapper {
  position: relative;
}

.zulu__video {
  width: 100%;
  height: 700px;
  object-fit: fill;
  
  &:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
}

.zulu__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border: none;
  background: transparent url('../img/zulutrade-play.svg') no-repeat center;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
  
  &:hover {
    width: 90px;
    height: 90px;
  }
}

.zulu__controls {
  position: absolute;
  right: 100px;
  bottom: 25px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zulu__pause {
  width: 13px;
  height: 20px;
  border: none;
  background: transparent url('../img/pause-button-s.svg') no-repeat center;
  background-size: 13px;
  transition: 0.3s linear;
  outline: none;
  cursor: pointer;
  
  &--active {
    background: transparent url('../img/pause-button-s-h.svg') no-repeat center;
    background-size: 13px;
  }
  
  &:hover {
    background: transparent url('../img/pause-button-s-h.svg') no-repeat center;
    background-size: 13px;
  }
}

.zulu__full {
  width: 15px;
  height: 15px;
  border: none;
  background: transparent url('../img/fullscreen-button.svg') no-repeat center;
  background-size: 15px;
  transition: 0.3s linear;
  outline: none;
  cursor: pointer;
  
  &--active {
    background: transparent url('../img/fullscreen-button-h.svg') no-repeat center;
    background-size: 15px;
  }
  
  &:hover {
    background: transparent url('../img/fullscreen-button-h.svg') no-repeat center;
    background-size: 15px;
  }
}

.zulu__muted {
  width: 16px;
  height: 18px;
  border: none;
  transition: 0.3s linear;
  outline: none;
  cursor: pointer;
  
  &--inactive {
    background: transparent url('../img/mute-button.svg') no-repeat center;
    background-size: 16px;
  }
  
  &--active {
    background: transparent url('../img/mute-button-h.svg') no-repeat center;
    background-size: 16px;
  }
  
  &:hover {
    background: transparent url('../img/mute-button-h.svg') no-repeat center;
    background-size: 16px;
  }
}

.zulu__start {
  position: relative;
  display: block;
  width: 270px;
  margin: 50px auto 0;
  padding: 10px 0;
  color: $sc;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background: $mc;
  transition: 0.3s;
  
  &:hover {
    box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
    background: #ffd800;
  }
  
  &:after {
    content: 'Trading involves risk of loss';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: inherit;
    font-size: 10px;
  }
}

.zulu__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &--key {
    justify-content: space-around;
  }
}

.zulu__mockup {
  width: 508px;
  height: 502px;
  background: url('../img/zulutrade-mockup.png') no-repeat center;
}

.zulu__list {
  width: 400px;
  margin: 0;
  padding: 0;
  
  li {
    color: $sc;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    list-style-position: inside;
    list-style-image: url('../img/webtrader-li.svg');
    
    &:first-child {
      margin: 0 0 30px 0;
      text-transform: uppercase;
      list-style: none;
    }
  }
  
  &--second {
    
    li {
      
      &:first-child {
        margin: 0;
        text-transform: none;
        list-style: url('../img/webtrader-li.svg');
        list-style-position: inside;
      }
    }
  }
}

.zulu__name {
  margin: 0 0 35px 0;
  color: $sc;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.zulu__left {
  width: 570px;
  color: $sc;
  font-size: 16px;
  font-weight: 300;
  
  a {
    color: #6420ff;
    text-decoration: none;
  }
}

.zulu__accordion {
  background-color: $mc;
  color: $sc;
  cursor: pointer;
  margin: 0 0 10px 0;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 3px;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  transition: 0.4s;
  
  &:after {
    content: '\002B';
    color: $sc;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transition: 0.3s;
  }
}

.active {
  color: $mc;
  background-color: $sc;
}

.active:after {
  content: "\2212";
  color: $mc;
}

.zulu__content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
  p {
    font-weight: 300;
  }
}

.zulu__right {
  width: 505px;
  height: 390px;
  background: url('../img/zulutrade-guard.png') no-repeat center;
  background-size: cover;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .zulu__video {
    height: auto;
    margin: 72px 0 0 0;
  }
  
  .zulu__control {
    width: 50px;
    height: 50px;
  }
  
  .zulu__flex {
    flex-direction: column;
  }
  
  .zulu__mockup {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  
  .zulu__list {
    width: 300px;
    margin: 20px 0 0 0;
    
    li {
      
      &:first-child {
        margin: 0;
      }
    }
  }
  
  .zulu__left {
    width: auto;
    margin: 0 0 20px 0;
    padding: 0 15px;
    
    a {
      display: block;
      text-align: center;
    }
  }
  
  .zulu__iframe {
    width: 300px;
    // height: auto;
  }
  
  .zulu__right {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
}