.zulu {
  
}

.zulu__wrapper {
  position: relative;
}

.zulu__video {
  width: 100%;
  height: 700px;
  cursor: pointer;
  object-fit: fill;
}

.zulu__control {
  width: 80px;
  height: 80px;
  background: #000;
}