.choose {
  background: #0038b8;
  
  & h3 {
    margin: 50px 0;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
  }
}

.choose__btn-flex {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  
  & button {
    margin: 0 20px;
    padding: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid #f7c107;
    background: transparent;
    transition: 0.3s;
    cursor: pointer;
    
    &:hover {
      color: #25224c;
      background: #f7c107;
    }
  }
}

.choose__crypto-flex {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  
  & button {
    width: 400px;
    height: 360px;
    margin: 0 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #f7c107;
    // background: transparent;
    transition: 0.3s;
    cursor: pointer;
  }
}

.choose__btn-bitcoin {
  padding-top: 220px;
  background: url('../img/title-bitcoin.png') no-repeat 50% 20%;
  
  &:hover {
    color: #25224c;
    background: #f7c107 url('../img/title-bitcoin.png') no-repeat 50% 10%;
  }
}

.choose__btn-ethereum {
  padding-top: 220px;
  background: url('../img/title-ethereum.png') no-repeat 50% 20%;
  
  &:hover {
    color: #25224c;
    background: #f7c107 url('../img/title-ethereum.png') no-repeat 50% 10%;
  }
}