.title {
  background: url('../img/title-bg.png') no-repeat top;
  background-size: cover;
  
  & h3 {
    color: #fff;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}

.title__logo {
  display: block;
  margin: auto;
  padding-top: 50px;
}

.title__logo-s {
  display: none;
}

.title__flex {
  display: flex;
  justify-content: space-around;
  margin-top: -50px;
  padding-bottom: 50px;
}

.title__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 150px;
  padding-top: 200px;
  color: #fff;
  text-align: center;
  
  & b {
    font-size: 30px;
  }
  
  & a {
    width: 60px;
    padding: 5px 0;
    margin: auto;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #f7c107;
    transition: 0.3s;
    
    &:hover {
      background: #f7c107;
    }
  }
  
  & p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
}

.title__box--bitcoin {
  background: url('../img/title-bitcoin.png') no-repeat top;
}

.title__box--ethereum {
  background: url('../img/title-ethereum.png') no-repeat top;
}

@media screen and ($tablet-widths) {
  
}

@media screen and ($mobile-widths) {  
  .title {
    background: url('../img/title-bg.png') no-repeat top;
    background-size: cover;
    
    & h3 {
      font-size: 22px;
    }
  }
  
  .title__logo {
    display: none;
  }
  
  .title__logo-s {
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  
  .title__flex {
    margin-top: 0px;
  }
  
  .title__box {
    height: 110px;
    padding-top: 120px;
    
    & b {
      font-size: 20px;
    }
    
    & p {
      font-size: 16px;
    }
  }
  
  .title__box--bitcoin {
    background: url('../img/title-bitcoin-s.png') no-repeat top;
  }
  
  .title__box--ethereum {
    background: url('../img/title-ethereum-s.png') no-repeat top;
  }
}