.title {
  background: url('../img/title-bg.png') no-repeat top;
  background-size: cover;
  
  & h3 {
    color: #fff;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}

.title__logo {
  display: block;
  margin: auto;
  padding-top: 50px;
}

.title__flex {
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  padding-bottom: 50px;
}

.title__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 150px;
  padding-top: 200px;
  color: #fff;
  text-align: center;
  
  & b {
    font-size: 30px;
  }
  
  & a {
    width: 60px;
    padding: 5px 0;
    margin: auto;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #f7c107;
    transition: 0.3s;
    
    &:hover {
      background: #f7c107;
    }
  }
  
  & p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
}

.title__box--bitcoin {
  background: url('../img/title-bitcoin.png') no-repeat top;
}

.title__box--ethereum {
  background: url('../img/title-ethereum.png') no-repeat top;
}