body{
    padding: 0;
    margin: 0;
    font-family: Century Gothic;
}

header{
    height: 81px;
}

.mainContainer{
    background-color: #d9d9d9;
}



.headerContainer{
    width: 1348px;
    margin-left: 271px;
}

.headerLogo img{
    width: 75px;
    height: 77px;
}

.headerText{
    width: 187px;
    height: 35px;
    margin-top: -70px;
    margin-left: 70px;
}

.logoTextFirst{
    margin-bottom: 0px;
    color: #c32429;
    font-size: 12.27px;
    font-weight: 700;
}

.logoTextSecond{
    margin: 0px;
    color: #c32429;
    font-size: 17.27px;
    font-weight: 700;
}

ul.headerUl {
    margin-top: -35px;
    margin-left: 300px;
    padding: 4px;
}

ul.headerUl li {
    display: inline;
    margin-right: 30px;
    padding: 3px;
    font-size: 23px;
}

.headerUl a{
    color: #b42532;
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
}

.headerUl a:hover{
    border-bottom: 3px solid red;
    color: red;
}

ul.headerUlF {
    margin-top: -70px;
    margin-left: 300px;
    padding: 4px;
}

ul.headerUlF li {
    display: inline;
    margin-right: 30px;
    padding: 3px;
    font-size: 23px;
}

.headerUlF a{
    color: #b42532;
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
}

.headerUlF a:hover{
    border-bottom: 3px solid red;
    color: red;
}

.contact{
    width: 172px;
    height: 50px;
    float: right;
    margin-top: -60px;
}

.phone{
    background-image: url(../images/telephone.png);
    background-repeat: no-repeat;
    padding-left: 29px;
    color: #b42532;
    font-size: 16px;
    font-weight: 400;
}

.email{
    background-image: url(../images/new-email.png);
    background-repeat: no-repeat;
    padding-left: 29px;
    color: #b42532;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.mainBackground{
    width: 1903px;
    height: 657px;
}

.homeLook{
    color:  #b42532;
    font-size: 18px;
    letter-spacing: 0.9px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #b42532;
    padding: 5px 40px;
    border-radius: 50px;
    transition: 0.5s;
}

.homeLook:hover{
    background-color: #b42532;
    color: white;
}

.homeContainerFirst{
    position: relative;
    width: 480px;
    height: 600px;
    background-color: white;
    left: 90px;
    top: -305px;
}

.homeContainerSecond{
    position: relative;
    width: 480px;
    height: 600px;
    background-color: white;
    left: 720px;
    top: -905px;
}

.homeContainerThird{
    position: relative;
    width: 480px;
    height: 600px;
    background-color: white;
    left: 1350px;
    top: -1505px;
}

.homeImagesFirst{
    width: 480px;
    height: 300px;
    background-image: url(../images/zhk_viktoriya.jpg);
    background-repeat: round;
}

.homeImagesSecond{
    width: 480px;
    height: 300px;
    background-image: url(../images/galaxy2.jpg);
    background-repeat: round;
}

.homeImagesThird{
    width: 480px;
    height: 300px;
    background-color: #e1e1e1;
}

.homeTextFirst{
    text-align: center;
    color:  #c32429;
    font-size: 15px;
    font-weight: 400;
}

.homeTextFirst p{
    margin-top: 30px;
    margin-bottom: 0;
}

.homeTextFirst h2{
    margin-top: 15px;
    margin-bottom: 75px;
    color:  #c32429;
    font-size: 35px;
    text-align: center;
}

.homeTextSecond h2{
    margin-top: 15px;
    margin-bottom: 75px;
    color:  #c32429;
    font-size: 35px;
    text-align: center;
}

.homeTextSecond{
    text-align: center;
    color:  #c32429;
    font-size: 15px;
    font-weight: 400;
}

.homeTextSecond p{
    margin-top: 30px;
    margin-bottom: 0;
}

.homeLogoFirst img{
    width: 120px;
    height: 110px;
    margin-top: -10px;
}

.homeTextThird{
    text-align: center;
    color:  #c32429;
    font-size: 15px;
    font-weight: 400;
}

.homeTextThird h2{
    margin-top: 15px;
    margin-bottom: 75px;
    color:  #c32429;
    font-size: 35px;
    text-align: center;
}

.homeTextThird p{
    margin-top: 30px;
    margin-bottom: 0;
}

.homeLogoSecond img{
    width: 91px;
    height: 65px;
    margin-top: 10px;
}

.homeAdvanced{
    margin-top: -50px;
    margin-bottom: 30px;
}

.advancedLook{
    color:  #b42532;
    font-size: 18px;
    letter-spacing: 0.9px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #b42532;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.5s;
}

.advancedLook:hover{
    background-color: #b42532;
    color: white;
}

.mainNews{
    height: 500px;
    margin-top: -1430px;
    background-color: white;
}

.mainNews h1{
    padding-top: 30px;
    text-align: center;
    color:  #c32429;
    font-size: 45px;
    letter-spacing: 4.5px;
}

.newsData{
    padding-top: 10px;
    margin-left: 90px;
    width: 90px;
    height: 70px;
    color:  #e1e1e1;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
    text-align: center;
    background-color: #c32429;
}

.newsOne p{
    width: 1600px;
    margin-left: 233px;
    margin-top: -90px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.newsTwo p{
    width: 1600px;
    margin-left: 233px;
    margin-top: -90px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.newsThree p{
    width: 1600px;
    margin-left: 233px;
    margin-top: -90px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.fix{
    height: 200px;
    background-color: #d9d9d9;
}

footer{
    height: 250px;
    background-color: #a3a3a3;
}

.footerContainer{
    height: 250px;
    width: 1348px;
    margin-left: 271px;
}

.headerTextF{
    width: 187px;
    height: 35px;
    margin-left: -35px;
}

.footerLogo{
    padding-top: 40px;
}

.footerContact{
    float: right;
    margin-top: -80px;
}

.logoTextFirstF{
    margin-bottom: 0px;
    color: #c32429;
    font-size: 12.27px;
    font-weight: 700;
}

.logoTextSecondF{
    margin: 0px;
    color: #c32429;
    font-size: 17.27px;
    font-weight: 700;
}

.mainBackgroundProduct{
    width: 1903px;
    height: 890px;
    margin-bottom: 100px;
}

.secondContainer{
    background-color: white;
}

.logoProduct{
    padding-top: 23px;
    text-align: center;
}

.chooseHome{
    margin-top: 25px;
    color: #c32429;
    text-align: center;
}

.homeAdvancedProduct{
    margin-top: 20px;
    text-align: center;
}

.advancedLookProduct{
    color:  #b42532;
    font-size: 18px;
    letter-spacing: 0.9px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #b42532;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.5s;
}

.advancedLookProduct:hover{
    background-color: #b42532;
    color: white;
}

.mainNewsProduct{
    height: 500px;
    background-color: white;
}

.mainNewsProduct h1{
    margin-top: 93px;
    text-align: center;
    color:  #c32429;
    font-size: 45px;
    letter-spacing: 4.5px;
}

.newsDataProduct{
    padding-top: 10px;
    margin-left: 90px;
    width: 90px;
    height: 70px;
    color:  #e1e1e1;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
    text-align: center;
    background-color: #c32429;
}

.newsOneProduct p{
    width: 1600px;
    margin-left: 233px;
    margin-top: -90px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.newsTwoProduct p{
    width: 1600px;
    margin-left: 233px;
    margin-top: -90px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.newsThreeProduct p{
    width: 1600px;
    margin-left: 233px;
    margin-top: -90px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.tableProduct{
    
}

.tableProduct h2{
    text-align: center;
    color: #c32429;
    font-size: 45px;
    letter-spacing: 4.5px;
}

.tableP, th{
    border: 1px solid gray;
    border-collapse: collapse;
    height: 60px;
    text-align: center;
}

.tableP td{
    border: 1px solid gray;
    border-collapse: collapse;
    height: 60px;
    text-align: center;
}

th{
    color: white;
    background-color: #da1a27;
}

.widthtd{
    width: 250px;
}

.ruleProduct{
    margin-top: 80px;
    margin-bottom: 90px;
    width: 900px;
    margin-left: 500px;
    line-height: 30px;
}

.tableTarify{
    margin-top: 100px;
}

.newsNews{
    margin-bottom: 50px;
}

.mainContact{
    width: 1280px;
    margin-top: 90px;
    margin-left: 320px;
}

.mainContact p{
    margin-bottom: 30px;
}

.mainContact p:last-child{
    margin-bottom: 90px;
}

iframe{
    margin-top: 30px;
    margin-bottom: 90px;
}

.mainContact img{
    margin-left: 30px;
    margin-bottom: 90px;
}

.mainContact h2{
    margin-bottom: 60px;
    color:  #c32429;
    font-size: 45px;
    letter-spacing: 4.5px;
    text-align: center;
}

.mainContact li{
    list-style-image: url(../images/marker.png);
}

.UlAbout{
    margin-bottom: 30px;
}

.teamContent table{
    margin-top: 90px;
    margin-left: 530px;
    margin-bottom: 90px;
    border-collapse: collapse;
}

.teamContent td{
    border: 1px solid rgba(216, 216, 216, 0.9);
    text-align: center;
    padding: 10px 15px;
}

.teamContent caption{
    color: #c32429;
    font-size: 45px;
    letter-spacing: 4.5px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
}





