.edge {
  padding: 70px 0;
  background: $bg;
}

.edge__flex {
  display: flex;
  justify-content: space-between;
}

.edge__box {
  position: relative;
  width: 270px;
  text-align: center;
  
  p {
    margin: 0;
    font-size: 25px;
    font-family: 'ProximaNova-Light', sans-serif;
  }
  
  b {
    display: block;
    font-size: 20px;
    font-weight: normal;
    font-family: 'ProximaNova-Bold', sans-serif;
  }
  
  small {
    font-size: 16px;
    font-family: 'ProximaNova-Light', sans-serif;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 93px;
    background: url('../img/edge-bg.svg') no-repeat center;
    background-size: 47px;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 47px;
    height: 93px;
    background: url('../img/edge-bg.svg') no-repeat center;
    background-size: 47px;
    transform: scale(-1, 1);
  }
}