.header {
  padding: 35px 0;
  background: $bg;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__language {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Proxima Nova Rg', sans-serif;
  border: none;
  background: transparent;
  appearance: none;
}

.header__logo {
  width: 170px;
  height: 21px;
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

