.info {
  padding: 80px 0;
  border-bottom: 1px solid $bg;
}

.info__name {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.info__hr {
  margin: 40px auto;
  width: 30px;
  height: 1px;
  border: none;
  background: $sc;
}

.info__text {
  font-family: 'ProximaNova-Light', sans-serif;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .info {
    padding: 50px 0;
  }
  
  .info__name {
    font-size: 20px;
  }
  
  .info__hr {
    margin: 20px auto;
  }
  
  .info__text {
    
    &:last-child {
      margin: 0;
    }
  }
}