.multyplatform {
  padding: 100px 0;
  background: #fff;
}

.multyplatform__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multyplatform__mockup {
  width: 510px;
  height: 400px;
  background: url('../img/multyplatform-mockup.png') no-repeat center;
  background-size: cover;
}

.multyplatform__text {
  width: 570px;
}

.multyplatform__name {
  font-size: 30px;
  font-weight: normal;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-transform: uppercase;
}

.multyplatform__sub {
  font-family: 'ProximaNova-Light', sans-serif;
}

@media screen and ($tablet-widths) {
  .multyplatform__flex {
    flex-wrap: wrap;
    align-items: center;
  }
  
  .multyplatform__mockup,
  .multyplatform__text {
    margin: auto;
  }
}

@media screen and ($mobile-widths) {
  .multyplatform {
    padding: 50px 0;
  }
  
  .multyplatform__mockup {
    height: 240px;
    background-size: 300px;
  }
  
  .multyplatform__name {
    font-size: 20px;
    text-align: center;
  }
}