.payment {
  padding: 20px 0;
  background: #9c9fa3;
}

.payment__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment__box {
  transition: 0.3s;
  
  &--visa {
    width: 50px;
    height: 16px;
    background: url('../img/payment-visa.svg') no-repeat top;
  }
  
  &--mc {
    width: 33px;
    height: 23px;
    background: url('../img/payment-mc.svg') no-repeat top;
  }
  
  &--bank {
    width: 34px;
    height: 34px;
    background: url('../img/payment-bank.svg') no-repeat top;
  }
  
  &--neteller {
    width: 56px;
    height: 10px;
    background: url('../img/payment-neteller.svg') no-repeat top;
  }
  
  &--skrill {
    width: 40px;
    height: 14px;
    background: url('../img/payment-skrill.svg') no-repeat center;
  }
}