.step {
  padding: 40px 0 60px 0;
  background: $bg;
}

.step__name {
  margin: 0 0 70px 0;
  font-size: 30px;
  font-weight: normal;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.step__flex {
  display: flex;
  justify-content: space-between;
}

.step__box {
  position: relative;
  width: 250px;
  z-index: 1;
  
  b {
    font-size: 30px;
    font-weight: normal;
    font-family: 'ProximaNova-Regular', sans-serif;
  }
  
  hr {
    width: 30px;
    height: 1px;
    margin: 20px 0;
    border: none;
    background: $sc;
  }
  
  p {
    font-family: 'ProximaNova-Light', sans-serif;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: -60px;
    left: -30px;
    color: #fff;
    font-size: 100px;
    font-family: 'ProximaNova-Bold', sans-serif;
    z-index: -1;
  }
  
  &--1 {
    
    &:before {
      content: '1';
    }
  }
  
  &--2 {
    
    &:before {
      content: '2';
    }
  }
  
  &--3 {
    
    &:before {
      content: '3';
    }
  }
  
  &--4 {
    
    &:before {
      content: '4';
    }
  }
}