.table {
  width: 100%;
  margin: 135px 0 0 0;
  border-collapse: collapse;
  
  th {
    width: 1px;
    padding: 35px 0 50px 0;
    transition: 0.5s;
    
    b {
      font-size: 30px;
      font-weight: normal;
      font-family: 'ProximaNova-Bold', sans-serif;
    }
    
    p {
      font-family: 'ProximaNova-LightIt', sans-serif;
    }
    
    span {
      display: block;
      margin-bottom: 18px;
      font-size: 18px;
      font-weight: normal;
      font-family: 'ProximaNova-Bold', sans-serif;
    }
  }
  
  tr {
    border-bottom: 1px solid #61a3db;

    &:first-child,
    &:last-child {
      border: none;
    }
  }
  
  td {
    padding: 10px 0;
    font-family: 'ProximaNova-Bold', sans-serif;
    transition: 0.5s;
  }
}

.table__button {
  display: block;
  margin: auto;
}

.table__checked {
  
  img {
    display: block;
    width: 16px;
    margin: auto;
  }
}

.table__unchecked {
  
  img {
    display: block;
    width: 15px;
    margin: auto;
  }
}

.table__mini {
  
  .table__mini-hover {
    background: rgba(233, 237, 241, 0.5);
  }
}

.table__classic {
  
  .table__classic-hover {
    background: rgba(233, 237, 241, 0.5);
  }
}

.table__premium {
  
  .table__premium-hover {
    background: rgba(233, 237, 241, 0.5);
  }
}

@media screen and ($tablet-widths) {
  .table {
    margin: 100px 0 0 0;
  }
}

@media screen and ($mobile-widths) {
  .table {
    display: block;
    margin: 50px 0 0 0;
    overflow-x: auto;
    
    th {
      padding: 5px;
      
      b {
        font-size: 15px;
      }
      
      p {
        font-size: 13px;
      }
      
      span {
        font-size: 12px;
      }
    }
    
    td {
      font-size: 14px;
    }
  }
  
  .table__button {
    width: 110px;
    padding: 7px 0;
    font-size: 12px;
  }
  
  .table__checked {
    
    img {
      width: 10px;
    }
  }

  .table__unchecked {
    
    img {
      width: 10px;
    }
  }
}