.webtrader {}

.webtrader__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0 0;
}

.webtrader__mockup {
  width: 600px;
  height: 452px;
  background: url('../img/webtrader-mockup.png') no-repeat center;
}

.webtrader__list {
  padding: 0;
  font-family: 'ProximaNova-Bold', sans-serif;
  line-height: 40px;
  list-style: none;
}

.webtrader__button {
  margin: 40px 0 0 0;
  line-height: normal;
}

@media screen and ($tablet-widths) {
  .webtrader__flex {
    flex-direction: column;
  }
}

@media screen and ($mobile-widths) {
  .webtrader__mockup {
    width: 300px;
    height: 250px;
    background-size: contain;
  }
  
  .webtrader__list {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
  }
  
  .webtrader__button {
    margin: 40px auto 0;
  }
}