.account {
  border-bottom: 1px solid #cccccc;
}

.account__inner {
  padding: 70px 0;
}

.account__title {
  margin: 0;
  font-size: 72px;
  font-weight: 600;
}

.account__wrapper {
  padding: 50px 0;
  
  &--blue {
    background: linear-gradient( -123deg, rgb(78,210,222) 0%, rgb(142,231,239) 36%, rgb(206,251,255) 100%);
  }
}

.account__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &--around {
    justify-content: space-around;
    margin: 40px 0 0 0;
  }
  
  &--second {
    margin: 40px 0 0 0;
  }
}

.account__img {
  width: 250px;
  padding: 350px 0 0 0;
  
  p {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    
    b {
      font-weight: 700;
    }
  }
  
  &--intro {
    background: url('../img/services-intro.png') no-repeat top;
  }
  
  &--student {
    background: url('../img/services-student.png') no-repeat top;
  }
  
  &--expert {
    background: url('../img/services-expert.png') no-repeat top;
  }
  
  &--pro {
    background: url('../img/services-pro.png') no-repeat top;
  }
}

.account__desc {
  width: 770px;
}

.account__name {
  display: block;
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.account__text {
  font-weight: normal;
}

.account__box {
  width: 110px;
  padding: 90px 0 0 0;
  
  p {
    margin: 0;
    font-weight: normal;
  }
  
  &--self {
    background: url('../img/self.svg') no-repeat top left;
    background-size: 70px;
  }
  
  &--chat {
    background: url('../img/chat.svg') no-repeat top left;
    background-size: 70px;
  }
  
  &--book {
    background: url('../img/book.svg') no-repeat top left;
    background-size: 70px;
  }
  
  &--demo {
    background: url('../img/demo.svg') no-repeat top left;
    background-size: 70px;
  }
  
  &--mentor {
    background: url('../img/mentor.svg') no-repeat top left;
    background-size: 70px;
  }
  
  &--star {
    background: url('../img/star.svg') no-repeat top left;
    background-size: 70px;
  }
  
  &--forex {
    background: url('../img/forex.svg') no-repeat top left;
    background-size: 70px;
  }
  
  &--top {
    background: url('../img/top.svg') no-repeat top left;
    background-size: 70px;
  }
}

.account__button {
  display: inline-block;
  margin: 40px 0 0 0;
  
  &:first-of-type {
    margin: 40px 30px 0 0;
  }
}

@media screen and ($tablet-widths) {
  .account__desc {
    width: 470px;
  }
}

@media screen and ($mobile-widths) {
  .account__flex {
    flex-direction: column;
  }
  
  .account__desc {
    width: auto;
  }
  
  .account__name {
    text-align: center;
  }
  
  .account__box {
    margin: 0 0 30px 0;
    text-align: center;
    
    &--self {
      background: url('../img/self.svg') no-repeat top;
      background-size: 70px;
    }
    
    &--chat {
      background: url('../img/chat.svg') no-repeat top;
      background-size: 70px;
    }
    
    &--book {
      background: url('../img/book.svg') no-repeat top;
      background-size: 70px;
    }
    
    &--demo {
      background: url('../img/demo.svg') no-repeat top;
      background-size: 70px;
    }
    
    &--mentor {
      background: url('../img/mentor.svg') no-repeat top;
      background-size: 70px;
    }
    
    &--star {
      background: url('../img/star.svg') no-repeat top;
      background-size: 70px;
    }
    
    &--forex {
      background: url('../img/forex.svg') no-repeat top;
      background-size: 70px;
    }
    
    &--top {
      background: url('../img/top.svg') no-repeat top;
      background-size: 70px;
    }
    
    &:last-child {
      margin: 0;
    }
  }
  
  .account__button {
    display: block;
    margin: auto;
    
    &:first-of-type {
      margin: 40px auto 10px;
    }
  }
}