.badge {
  display: flex;
  flex-wrap: wrap;
}

.badge__box {
  flex-basis: 10%;
  flex-grow: 1;
  margin: 1px;
  padding: 30px 30px 30px 130px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient( -123deg, rgb(195,254,242) 0%, rgb(201,253,249) 26%, rgb(206,251,255) 100%);

  p {
    padding: 20px 0 20px 100px;
  }

  &--1 {
    
    p {
      background: url('../img/badge-1.svg') no-repeat left / 70px;
    }
  }
  
  &--2 {
    
    p {
      background: url('../img/badge-2.svg') no-repeat left / 70px;
    }
  }
  
  &--3 {
    
    p {
      background: url('../img/badge-3.svg') no-repeat left / 70px;
    }
  }
  
  &--4 {
    
    p {
      background: url('../img/badge-4.svg') no-repeat left / 70px;
    }
  }
  
  &--5 {
    
    p {
      background: url('../img/badge-5.svg') no-repeat left / 70px;
    }
  }
  
  &--6 {
    
    p {
      background: url('../img/badge-6.svg') no-repeat left / 70px;
    }
  }
  
  &:hover {
    background: linear-gradient( 66deg, rgb(38,119,254) 0%, rgb(78,210,222) 100%);
  }
}