.button {
  display: block;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background: $mc;
  
  &--small {
    width: 170px;
  }
  
  &--medium {
    width: 270px;
  }
  
  &--big {
    width: 370px;
  }
  
  &--transparent {
    width: 168px;
    padding: 9px 0;
    color: $mc;
    font-weight: normal;
    border: 1px solid $mc;
    background: transparent;
  }
  
  &--white {
    width: 268px;
    padding: 9px 0;
    font-weight: normal;
    border: 1px solid #fff;
    background: transparent;
  }
}

@media screen and ($tablet-widths) {
  .button {
    font-size: 14px;
    
    &--small {
      width: 130px;
    }
    
    &--transparent {
      width: 128px;
    }
  }
}

@media screen and ($mobile-widths) {

}