.comment {
  padding: 60px 0;
  background: #f4f6fa;
}

.comment__name {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  
  span {
    font-weight: 600;
  }
}

.comment__list {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  padding: 0;
  list-style: none;
}

.comment__item {
  width: 290px;
  padding: 30px 40px;
  border-radius: 4px;
  background: #fff;
  
  b {
    font-size: 24px;
    font-weight: 600;
  }
  
  p {
    margin: 30px 0 50px 0;
    font-weight: normal;
  }
}

.comment__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment__img {
  width: 50px;
  height: 50px;
  background: #ccc url('../img/comment-1.jpg') no-repeat center;
}

.comment__info {
  width: 200px;
  
  ul {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    
    li {
      width: 20px;
      height: 20px;
      background: url('../img/comment-star.svg');
    }
  }
}

.comment__button {
  margin: auto;
}

@media screen and ($tablet-widths) {
  .comment__list {
    align-items: center;
    flex-direction: column;
  }
  
  .comment__item {
    margin: 0 0 50px 0;
    
    &:last-child {
      margin: 0;
    }
  }
}

@media screen and ($mobile-widths) {
  .comment {
    padding: 50px 0;
  }
  
  .comment__name {
    text-align: center;
  }
  
  .comment__item {
    width: 240px;
    padding: 30px;
  }
  
  .comment__info {
    width: 150px;
  }
  
  .comment__button {
    width: 270px;
  }
}