.contact {
  padding: 100px 0;
  
  &--inner {
    margin: 0 0 65px 0;
    padding: 0;
  }
}

.contact__title {
  margin: 0;
  font-size: 72px;
  font-weight: 600;
}

.contact__subtitle {
  margin: 50px 0;
  font-size: 24px;
  font-weight: 300;
}

.contact__form {
  width: 770px;
  
  &--inner {
    width: auto;
  }
}

.contact__flex {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
}

.contact__left {
  width: 770px;
}

.contact__double {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.contact__input {
  width: 336px;
  height: 36px;
  padding: 0 15px;
  color: #505050;
  font-size: 15px;
  font-weight: normal;
  font-family: inherit;
  border: 2px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(18, 24, 61, 0.05);
  transition: 0.2s;
  outline: none;
  
  &--select {
    width: 370px;
    height: inherit;
    background: transparent url('../img/nav-arrow.svg') no-repeat 340px;
    background-size: 10px;
    appearance: none;
  }
  
  &--textarea {
    height: 78px;
    padding: 9px 15px;
    resize: none;
  }
  
  &--code {
    width: 36px;
  }
  
  &--phone {
    width: 236px;
  }
  
  &::placeholder {
    color: #505050;
  }
  
  &:focus {
    border: 2px solid #636363;
    box-shadow: 0px 4px 4px 0px rgba(18, 24, 61, 0.1);
  }
}

.contact__submit {
  display: block;
  margin: 40px 0 0 0;
  font-weight: normal;
  font-family: inherit;
  border: none;
}

@media screen and ($tablet-widths) {
  .contact__title {
    font-size: 50px;
  }
  
  .contact__subtitle {
    margin: 20px 0 50px 0;
    font-size: 20px;
  }
  
  .contact__form {
    width: 700px;
    
    &--inner {
      width: auto;
    }
  }
  
  .contact__wrapper {
    flex-direction: column;
  }
  
  .contact__left {
    width: auto;
  }
  
  .contact__input {
    width: 300px;
    
    &--select {
      width: 334px;
      background: transparent url('../img/nav-arrow.svg') no-repeat 305px;
      background-size: 10px;
    }
    
    &--textarea {
      width: 95%;
      margin: 40px 0 0 0;
    }
    
    &--code {
      width: 36px;
    }
    
    &--phone {
      width: 200px;
    }
  }
  
  .contact__double {
    width: 334px;
  }
  
  .contact__submit {
    width: 334px;
    
    &--inner {
      margin: 40px auto 0 auto;
    }
  }
}

@media screen and ($mobile-widths) {
  .contact {
    padding: 50px 0;
    
    &--inner {
      padding: 0;
      margin: 30px 0;
    }
  }
  
  .contact__title {
    font-size: 30px;
    text-align: center;
  }
  
  .contact__subtitle {
    margin: 16px 0 50px 0;
    font-size: 16px;
    text-align: center;
  }
  
  .contact__form {
    width: 300px;
    margin: auto;
  }
  
  .contact__flex {
    flex-direction: column;
    margin: 0;
  }
  
  .contact__double {
    width: 300px;
  }
  
  .contact__input {
    width: 266px;
    margin: 0 0 10px 0;
    
    &--select {
      width: 300px;
      height: 40px;
      background: transparent url('../img/nav-arrow.svg') no-repeat 270px;
      background-size: 10px;
    }
    
    &--code {
      width: 36px;
    }
    
    &--phone {
      width: 185px;
    }
  }
  
  .contact__submit {
    width: 300px;
    margin: 10px 0 0 0;
    
    &--inner {
      margin: 10px 0 20px 0;
    }
  }
}