.footer {
  padding: 30px 0 0 0;
  background: #363636;
}

.footer__logo {
  width: 170px;
  height: 39px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  margin: 35px 0;
  padding: 0;
  color: #fff;
  list-style: none;
  
  b {
    display: block;
    margin: 0 0 20px 0;
    font-weight: 600;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
    
    &:hover {
      color: $mc;
    }
  }
}

.footer__phone {
  display: block;
  padding: 0 0 15px 25px;
  background: url('../img/footer-phone.svg') no-repeat left top;
  background-size: 18px;
}

.footer__email {
  display: block;
  padding: 0 0 15px 25px;
  background: url('../img/footer-email.svg') no-repeat left top;
  background-size: 20px;
}

.footer__home {
  display: block;
  padding: 0 0 15px 25px;
  background: url('../img/footer-home.svg') no-repeat left top;
  background-size: 20px;
}

.footer__chat {
  border-bottom: 1px solid #a2a2a2;
}

.footer__hr {
  height: 1px;
  margin: 0;
  border: none;
  background: #707070;
}

.footer__text {
  color: #cccccc;
  font-size: 14px;
  font-weight: normal;
  
  &:first-of-type {
    margin: 0 0 14px 0;
    padding: 35px 0 0 0;
  }
  
  &:last-of-type {
    margin: 0;
    padding: 0 0 35px 0;
  }
}

.footer__copyright {
  padding: 20px 0;
  background: #2f2f2f;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copy {
  color: #ccc;
  font-weight: normal;
}

.footer__rules {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 100px 0 0;
  padding: 0;
  color: #ccc;
  list-style: none;
  
  a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
    
    &:hover {
      color: $mc;
    }
  }
}

.footer__up {
  position: absolute;
  top: -10px;
  right: -100px;
  
  button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('../img/footer-up.svg') no-repeat center;
    transition: 0.2s;
    cursor: pointer;
    outline: none;
    
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .footer__logo {
    display: block;
    margin: auto;
  }
  
  .footer__flex {
    flex-direction: column;
  }
  
  .footer__list {
    width: 200px;
    margin: 35px auto 0 auto;
    text-align: center;
    
    &:last-child {
      margin: 35px auto;
    }
  }
  
  .footer__phone,
  .footer__home,
  .footer__email {
    padding: 0 0 15px 0;
  }
  
  .footer__text {
    text-align: center;
  }
  
  .footer__inner {
    flex-direction: column;
  }
  
  .footer__copy {
    order: 2;
    margin: 30px 0 0 0;
    padding: 0 0 70px 0;
  }
  
  .footer__rules {
    margin: 0;
  }
  
  .footer__up {
    top: 90px;
    right: 50%;
    animation: up 1s infinite alternate;
    transform: translateX(50%);
  }
  
  @keyframes up {
    0% {
      top: 100px;
    }
    
    100% {
      top: 80px;
    }
  }
}