.header {
  padding: 15px 0;
}

.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 170px;
  height: 40px;
}

.header__toggle {
  display: none;
}

@media screen and ($tablet-widths) {
  .header__logo {
    width: 130px;
  }
  
  .header__button {
    display: none !important;
  }
}

@media screen and ($mobile-widths) {
  .header__flex {
    position: relative;
  }
  
  .header__toggle {
    position: absolute;
    top: 0;
    display: block;
    background: red;
  }
}