.header {
  padding: 17px 0;
}

.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  height: 40px;
}

.header__logo {
  width: 170px;
  height: 40px;
}

.header__toggle {
  display: none;
}

@media screen and ($tablet-widths) {
  .header__flex {
    flex-direction: column;
  }
  
  .header__link {
    margin: 0 0 30px 0;
  }
  
  .header__logo {
    width: 130px;
    margin: 0 0 30px 0;
  }
  
  .header__button {
    display: none !important;
  }
}

@media screen and ($mobile-widths) {
  .header__flex {
    position: relative;
    flex-direction: row;
  }
  
  .header__link,
  .header__logo {
    margin: 0;
  }
  
  .header__toggle {
    position: absolute;
    top: 7px;
    right: 0;
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    transition: 0.5s;
    outline: none;
    
    &--inactive {
      background: url('../img/nav.svg') no-repeat center;
    }
    
    &--active {
      background: url('../img/nav-h.svg') no-repeat center;
    }
  }
}