.included {
  padding: 70px 0;
  background: linear-gradient( -123deg, rgb(242,242,242) 0%, rgb(224,247,249) 52%, rgb(206,251,255) 100%);
}

.included__name {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
}

.included__list {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 0 0;
  padding: 0;
  list-style: none;
}

.included__item {
  width: 370px;
  
  b {
    display: block;
    width: 300px;
    margin: 0 0 0 auto;
    font-size: 24px;
    font-weight: 600;
  }
  
  &--1 {
    background: url('../img/included-1.svg') no-repeat top left / 50px;
  }
  
  &--2 {
    background: url('../img/included-2.svg') no-repeat top left / 50px;
  }
  
  &--3 {
    background: url('../img/included-3.svg') no-repeat top left / 50px;
  }
  
  &--4 {
    background: url('../img/included-4.svg') no-repeat top left / 50px;
  }
  
  &--5 {
    background: url('../img/included-5.svg') no-repeat top left / 50px;
  }
  
  &--6 {
    background: url('../img/included-6.svg') no-repeat top left / 50px;
  }
}

@media screen and ($tablet-widths) {
  .included__list {
    flex-wrap: wrap;
  }
  
  .included__item {
    margin: auto;
  }
}

@media screen and ($mobile-widths) {
  .included {
    padding: 50px 0;
  }
  
  .included__name {
    font-size: 30px;
    text-align: center;
  }
  
  .included__list {
    flex-direction: column;
    
    &:last-child {
      margin: 0;
    }
  }
  
  .included__item {
    width: auto;
    margin: 0 0 50px 0;
    padding: 70px 0 0 0;
    
    b {
      width: auto;
      text-align: center;
    }
    
    &--1 {
      background: url('../img/included-1.svg') no-repeat top / 50px;
    }
    
    &--2 {
      background: url('../img/included-2.svg') no-repeat top / 50px;
    }
    
    &--3 {
      background: url('../img/included-3.svg') no-repeat top / 50px;
    }
    
    &--4 {
      background: url('../img/included-4.svg') no-repeat top / 50px;
    }
    
    &--5 {
      background: url('../img/included-5.svg') no-repeat top / 50px;
    }
    
    &--6 {
      background: url('../img/included-6.svg') no-repeat top / 50px;
    }
    
    &:last-child {
      margin: 0;
    }
  }
}