.info {
  padding: 120px 0; 
}

.info__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__mockup {
  width: 515px;
  height: 351px;
  background: url('../img/info-mockup.png') no-repeat center;
  background-size: cover;
}

.info__box {
  width: 570px;
}

.info__title {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 600;
}

.info__text {
  font-weight: 300;
  
  &:last-of-type {
    margin: 16px 0 30px 0;
  }
}

@media screen and ($tablet-widths) {
  .info {
    padding: 100px 0;
  }
  
  .info__flex {
    flex-direction: column;
  }
  
  .info__mockup {
    margin: 0 0 50px 0;
  }
}

@media screen and ($mobile-widths) {

}