.inner {}

.inner__title {
  padding: 42px 0;
  background: linear-gradient(66deg, rgb(0,96,255) 0%, rgb(78,210,222) 100%);
  
  &--img1 {
    padding: 180px 0 42px 0;
    background: url('../img/title1.jpg') no-repeat center / cover;
  }
  
  &--img2 {
    padding: 180px 0 42px 0;
    background: url('../img/title2.jpg') no-repeat center / cover;
  }
  
  &--img3 {
    padding: 180px 0 42px 0;
    background: url('../img/title3.jpg') no-repeat center / cover;
  }
}

.inner__name {
  margin: 0;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  
  &--small {
    margin: 55px 0 0 0;
    color: #000;
    font-size: 60px;
  }
}

.inner__text {
  margin: 50px 0;
  font-size: 24px;
  font-weight: 300;
}

.inner__flex {
  display: flex;
  justify-content: space-between;
}

.inner__mockup {
  width: 370px;
  height: 270px;
  background: url('../img/mockup-1.png') no-repeat center / contain;
  
  &--2 {
    background: url('../img/mockup-2.png') no-repeat center / contain;
  }
}

.inner__column {
  width: 680px;
}

.inner__button {
  margin: 40px 0 0 0;
}

.inner__desc {
  padding: 50px 0;
  
  p {
    font-size: 16px;
    font-weight: 300;
  }
  
  h2 {
    margin: 50px 0 0 0;
    font-size: 30px;
    font-weight: 600;
  }
  
  h3 {
    margin: 70px 0 0 0;
    font-size: 60px;
  }
}

.inner__price {
  font-size: 24px;
  font-weight: normal;
  
  span {
    font-size: 30px;
    font-weight: 900;
  }
}

@media screen and ($tablet-widths) {
  .inner__name {
    font-size: 50px;
    
    &--small {
      font-size: 30px;
    }
  }
}

@media screen and ($mobile-widths) {
  .inner__title {
    
    &--img1 {
      padding: 42px 0;
    }
  }
  
  .inner__name {
    font-size: 30px;
    text-align: center;
    
    &--small {
      margin: 20px 0 0 0;
      font-size: 25px;
    }
  }
  
  .inner__text {
    margin: 16px 0;
    font-size: 16px;
  }
  
  .inner__flex {
    align-items: center;
    flex-direction: column;
  }
  
  .inner__mockup {
    width: 300px;
    height: 230px;
  }
  
  .inner__column {
    width: auto;
  }
  
  .inner__button {
    margin: 40px auto 0;
  }
}