.live {
  padding: 85px 0;
  background: #086cfc url('../img/live-bg.jpg') no-repeat center;
  background-size: cover;
  
  &--account-programs {
    padding: 60px 0;
    background: #086cfc url('../img/live-bg.jpg') no-repeat top;
    background-size: cover;
  }
}

.live__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.live__box {
  width: 730px;
  
  &--account-programs {
    width: auto;
  }
}

.live__title {
  margin: 0;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.live__text {
  margin: 40px 0 70px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  
  &--account-programs {
    margin: 50px 0;
  }
}

.live__button {
  display: inline-block;
  
  &:first-of-type {
    margin: 0 30px 0 0;
  }
}

.live__mockup {
  width: 342px;
  height: 272px;
  background: url('../img/live-mockup.png') no-repeat center;
  background-size: cover;
}

@media screen and ($tablet-widths) {
  .live__box {
    width: 410px;
    
    &--account-programs {
      width: auto;
    }
  }
  
  .live__title {
    font-size: 50px;
  }
  
  .live__text {
    font-size: 20px;
  }
  
  .live__button {
    
    &:first-of-type {
      margin: 0 0 10px 0;
    }
  }
  
  .live__mockup {
    width: 300px;
    height: 240px;
  }
}

@media screen and ($mobile-widths) {
  .live {
    padding: 50px 0;
  }
  
  .live__flex {
    flex-direction: column;
  }
  
  .live__box {
    order: 2;
    width: auto;
  }
  
  .live__title {
    font-size: 30px;
    text-align: center;
  }
  
  .live__text {
    margin: 16px 0 50px 0;
    font-size: 16px;
    text-align: center;
  }
  
  .live__button {
    display: block;
    margin: auto;
    
    &:first-of-type {
      margin: 0 auto 10px auto;
    }
  }
  
  .live__mockup {
    order: 1;
    margin: 0 0 20px 0;
  }
}