.program {
  padding: 60px 0;
  background: linear-gradient( 28deg, rgb(0,96,255) 0%, rgb(78,210,222) 100%);
}

.program__title {
  margin: 0;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.program__list {
  color: #fff;
  font-weight: normal;
  line-height: 30px;
}

.program__table {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  
  th {
    padding: 30px 0;
    border-radius: 4px;
    background: #e5fdfe;
  }
  
  tr {
    background: #fff;
  }
  
  td {
    padding: 30px 0;
    border-radius: 4px;
    
    &:first-child {
      background: #e5fdfe;
    }
  }
}

.program__button {
  margin: 50px auto 0 auto;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .program__title {
    font-size: 40px;
    text-align: center;
  }
  
  .program__table {
    display: block;
    overflow: scroll;
  }
  
  .program__button {
    width: 270px;
  }
}