.quotes {
  padding: 100px 0;
}

.quotes__text {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.quotes__author {
  display: block;
  font-size: 30px;
  font-weight: normal;
  text-align: right;
  text-transform: uppercase;
}