.scope {
  height: 770px;
  padding: 70px 0 0 0;
  background: linear-gradient( 66deg, rgb(0,96,255) 0%, rgb(78,210,222) 100%) 0 0 / 100% 700px no-repeat;

  h2 {
    margin: 0 0 50px 0;
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
  }
}

.scope__img {
  height: 600px;
  background: url('../img/mockup-1.png') no-repeat top center;
}

.scope__flex {
  display: flex;
  justify-content: space-between;
  
  &--second {
    margin: 50px 0 0 0;
  }
}

.scope__box {
  width: 200px;
  margin: 80px 0 0 0;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  
  b {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    color: #0060ff;
    font-size: 60px;
    font-weight: 700;
    border-radius: 50%;
    background: #fff;
  }
}

.scope__box--right {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 135px;
    width: 200px;
    height: 1px;
    border-top: 1px solid #fff;
    box-shadow: 2px 0 5px 0 rgba(18, 24, 61, 0.3);
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 335px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 2px 0 5px 0 rgba(18, 24, 61, 0.3);
  }
}

.scope__box--left {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 35px;
    right: 135px;
    width: 200px;
    height: 1px;
    border-top: 1px solid #fff;
    box-shadow: 2px 0 5px 0 rgba(18, 24, 61, 0.3);
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 28px;
    right: 335px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 2px 0 5px 0 rgba(18, 24, 61, 0.3);
  }
}

@media screen and ($tablet-widths) {
  .scope {
    height: auto;
    padding: 70px 0;
  }
  
  .scope__img {
    height: auto;
    background: none;
  }
  
  .scope__flex {
    justify-content: center;
  }
  
  .scope__box {
    margin: 0 10px;
  }
  
  .scope__box--right,
  .scope__box--left {
    
    &::after,
    &::before {
      display: none;
    } 
  }
}

@media screen and ($mobile-widths) {
  .scope {
    padding: 50px 0;
    background: linear-gradient( 66deg, rgb(0,96,255) 0%, rgb(78,210,222) 100%) no-repeat;
    
    h2 {
      font-size: 30px;
    }
  }
  
  .scope__flex {
    align-items: center;
    flex-direction: column;
    
    &--second {
      margin: 0;
      
      .scope__box {
        
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  
  .scope__box {
    margin: 0 0 50px 0;
  }
}