.services {
  padding: 0 0 100px 0;
  background: url('../img/services-bg.jpg') no-repeat 0 80px;
  background-size: contain;
  
  &--account-programs {
    padding: 60px 0 100px 0;
    background: none;
  }
  
  &--account {
    padding: 70px 0;
    background: none;
  }
}

.services__title {
  margin: 0;
  font-size: 72px;
  font-weight: 600;
}

.services__subtitle {
  margin: 50px 0;
  font-size: 24px;
  font-weight: 300;
  
  &--account-programs {
    margin: 50px 0 0 0;
  }
}

.services__flex {
  display: flex;
  justify-content: space-between;
}

.services__box {
  width: 245px;
  padding: 400px 0 0 0;
  
  &--intro {
    background: url('../img/services-intro.png') no-repeat top;
  }
  
  &--student {
    background: url('../img/services-student.png') no-repeat top;
  }
  
  &--expert {
    background: url('../img/services-expert.png') no-repeat top;
  }
  
  &--pro {
    background: url('../img/services-pro.png') no-repeat top;
  }
}

.services__name {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  
  b {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.services__button {
  margin: auto;
  
  &:first-of-type {
    margin: 0 auto 20px auto;
  }
}

@media screen and ($tablet-widths) {
  .services__title {
    font-size: 50px;
  }
  
  .services__subtitle {
    font-size: 20px;
  }
  
  .services__flex {
    flex-wrap: wrap;
  }
  
  .services__box {
    width: 170px;
    padding: 270px 0 0 0;
    
    &--intro {
      background-size: 170px;
    }
    
    &--student {
      background-size: 170px;
    }
    
    &--expert {
      background-size: 170px;
    }
    
    &--pro {
      background-size: 170px;
    }
  }
  
  .services__name {
    font-size: 20px;
  }
}

@media screen and ($mobile-widths) {
  .services {
    padding: 50px 0;
    background: #d5f9fc;
    
    &--account-programs {
      background: none;
    }
    
    &--account {
      display: none;
    }
  }
  
  .services__title {
    font-size: 30px;
    text-align: center;
  }
  
  .services__subtitle {
    margin: 16px 0 50px 0;
    font-size: 16px;
    text-align: center;
  }
  
  .services__flex {
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .services__box {
    margin: 0 0 50px 0;
    
    &:last-child {
      margin: 0;
    }
  }
}