.slider {
  // height: 920px;
  height: 700px;
  background: #309ce4 url('../img/slider-bg.jpg') no-repeat center;
  background-size: cover;
}

.slider__box {
  // height: 920px;
  height: 700px;
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  height: inherit;
  margin: auto;
  padding: 0 15px;
}

.slider__text {
  width: 770px;
}

.slider__title {
  margin: 0;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
}

.slider__desc {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
}

.slider__img {
  width: 300px;
  height: 508px;
  background: url('../img/slider-1.png') no-repeat center;
  background-size: cover;
}

@media screen and ($tablet-widths) {
  .slider {
    // height: 920px;
    height: 600px;
  }

  .slider__box {
    // height: 920px;
    height: 600px;
  }
  
  .slider__container {
    width: 95%;
    padding: 0;
  }
  
  .slider__text {
    width: 420px;
  }
  
  .slider__title {
    font-size: 40px;
  }
  
  .slider__desc {
    font-size: 20px;
  }
  
  .slider__img {
    width: 260px;
    height: 458px;
  }
}

@media screen and ($mobile-widths) {
  .slider {
    // height: 920px;
    height: 400px;
  }

  .slider__box {
    // height: 920px;
    height: 400px;
  }
  
  .slider__text {
    width: auto;
    margin: auto;
  }
  
  .slider__title {
    font-size: 30px;
    text-align: center;
  }
  
  .slider__desc {
    font-size: 16px;
    text-align: center;
  }
  
  .slider__button {
    margin: auto;
  }
  
  .slider__img {
    display: none;
  }
}