.text {
  padding: 40px 0;
}

.text__small {
  font-size: 16px;
  font-weight: 300;
}

.text__medium {
  font-size: 20px;
  font-weight: 700;
}

.text__title {
  margin: 30px 0 0 0;
  font-size: 30px;
  font-weight: 600;
  
  &--medium {
    margin: 65px 0;
    font-size: 60px;
  }
}

.text__list {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  
  &--about {
    font-weight: 700;
    list-style: url('../img/list-li.svg');
  }
}

.text__banner {
  margin: 0;
  padding: 45px 0;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient( -123deg, rgb(195,254,242) 0%, rgb(201,253,249) 26%, rgb(206,251,255) 100%);

  span {
    font-weight: 700;
  }
}

.text__flex {
  display: flex;
  justify-content: space-between;
  
  &--start {
    justify-content: flex-start;
  }
}

.text__address {
  width: 500px;
  font-weight: 700;
}

.text__map {
  width: 100%;
}

.text__box {
  position: relative;
  width: 220px;
  padding: 150px 20px 20px 20px;
  font-weight: 300;
  box-sizing: border-box;
  
  &--1 {
    background: #e5fdfe url('../img/text1.svg') no-repeat 75px 55px / 70px;
    
    &::before {
      content: '1';
      position: absolute;
      top: -30px;
      left: 50%;
      width: 60px;
      height: 60px;
      padding: 0 20px;
      font-size: 30px;
      font-weight: 700;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0.105px 2.998px 9.7px 0.3px rgba(119, 146, 147, 0.34);
      box-sizing: border-box;
      line-height: 60px;
      transform: translateX(-50%);  
    }
  }
  
  &--2 {
    background: #e5fdfe url('../img/text2.svg') no-repeat 75px 55px / 70px;
    
    &::before {
      content: '2';
      position: absolute;
      top: -30px;
      left: 50%;
      width: 60px;
      height: 60px;
      padding: 0 20px;
      font-size: 30px;
      font-weight: 700;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0.105px 2.998px 9.7px 0.3px rgba(119, 146, 147, 0.34);
      box-sizing: border-box;
      line-height: 60px;
      transform: translateX(-50%);  
    }
  }
  
  &--3 {
    background: #e5fdfe url('../img/text3.svg') no-repeat 75px 55px / 70px;
    
    &::before {
      content: '3';
      position: absolute;
      top: -30px;
      left: 50%;
      width: 60px;
      height: 60px;
      padding: 0 20px;
      font-size: 30px;
      font-weight: 700;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0.105px 2.998px 9.7px 0.3px rgba(119, 146, 147, 0.34);
      box-sizing: border-box;
      line-height: 60px;
      transform: translateX(-50%);  
    }
  }
  
  &--4 {
    background: #e5fdfe url('../img/text4.svg') no-repeat 75px 55px / 70px;
    
    &::before {
      content: '4';
      position: absolute;
      top: -30px;
      left: 50%;
      width: 60px;
      height: 60px;
      padding: 0 20px;
      font-size: 30px;
      font-weight: 700;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0.105px 2.998px 9.7px 0.3px rgba(119, 146, 147, 0.34);
      box-sizing: border-box;
      line-height: 60px;
      transform: translateX(-50%);  
    }
  }
  
  &--5 {
    background: #e5fdfe url('../img/text5.svg') no-repeat 75px 55px / 70px;
    
    &::before {
      content: '5';
      position: absolute;
      top: -30px;
      left: 50%;
      width: 60px;
      height: 60px;
      padding: 0 20px;
      font-size: 30px;
      font-weight: 700;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0.105px 2.998px 9.7px 0.3px rgba(119, 146, 147, 0.34);
      box-sizing: border-box;
      line-height: 60px;
      transform: translateX(-50%);  
    }
  }
}

.text__human {
  width: 170px;
  margin: 0 0 60px 0;
  
  img {
    margin: 25px 0 10px 0;
  }
  
  b {
    font-size: 14px;
    font-weight: 800;
  }
  
  p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
  }
}

@media screen and ($tablet-widths) {
  .text__flex {
    flex-wrap: wrap;
  }
}

@media screen and ($mobile-widths) {
  .text__banner {
    font-size: 20px;
  }
  
  .text__flex {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  
  .text__box {
    margin: 0 0 50px 0;
    
    &:last-child {
      margin: 0;
    }
  }
  
  .text__title {
    text-align: center;
    
    &--medium {
      font-size: 40px;
    }
  }
  
  .text__address {
    width: auto;
  }
}