.text {
  padding: 40px 0;
}

.text__small {
  font-size: 16px;
  font-weight: 300;
}

.text__title {
  margin: 30px 0 0 0;
  font-size: 30px;
  font-weight: 600;
}

.text__list {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}