<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CryptoLogic</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/media.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
  <header class="page-header">
    <div class="container">
      <div class="page-header__flex-container">
        <div class="page-header__logo">
          <a href="index.html">
            <img class="page-header__logo-full" src="img/logo.png" alt="CryptoLogic">
            <img class="page-header__logo-s" src="img/logo-s.png" alt="CryptoLogic">
          </a>
        </div>
        <div class="page-header__menu">
          <nav class="page-header__main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a href="template/login.html">LOGIN</a></li>
              <li class="main-nav__item"><a href="template/contact.html">CONTACTS</a></li>
              <li class="main-nav__item"><a href="template/form.html">LOG UP</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="info">
    <div class="container">
      <div class="container__adv">
        <div class="flex-btn">
          <h1 class="info__title">Cryptologic the science of<br>trading cryptocurrency</h1>
          <p class="info__text">Cryptologic presents investors a unique opportunity<br>to trade or exchange digital assets<br>with ease on a 24/7 basic.</p>
          <a class="info__link" href="template/form.html">Create Account</a>
        </div>
      </div>
    </div>
  </section>
  <section class="read">
    <div class="container">
      <div class="container__adv">
        <div class="read__flex-container">
          <div class="read__more  read__more--pb">
            <b>NEW TO CRYPTO-<br>CURRENCY?</b>
            <p class="read__more--link1">Cryptocurrency is a digital currency that makes use of cryptography as a means of security. Due to its security feature, it is practically difficult to make counterfeits of this currency... <span class="hide-1">This currency is not issued by any government authority, therefore it is impossible for any authority to interfere, influence or manipulate the currency. Just as paper money is used as a medium of exchange in the purchase of goods and services, cryptocurrencies such Bitcoin and Ethereum can also be used for this medium. These currencies are decentralized and digital.</span></p>
            <a class="open-1" href="#">Read More</a>
          </div>
          <div class="read__more">
            <b>WHY CRYPTOLOGIC<br>IS UNIQUE? </b>
            <p class="read__more--link2">Сryptologic is a super world class trading platform that offers a very unique interface with real time updates about different digital currencies, charting tools, various trade histories...<span class="hide-2">Cryptologic is very easy to understand and use. When trading with cryptologic, you are sure to maximize profits. On here peer-to-peer funding is carried out easily and swiftly. All transactions are 100% secured. you can start trading from the very first day.</span></p>
            <a class="open-2" href="#">Read More</a>
          </div>
          <div class="read__more">
            <b>LEARN HOW<br>TO TRADE</b>
            <p class="read__more--link3">Trading with cryptologic gives you full access to numerous professional Bitcoin traders you can learn from...<span class="hide-3">We have a live trading page where you can easily get access to market trends and updates, with very good documented and precise video tutorials on how to trade. Cryptologic also offers its clients a demo account to help them practice the act of trading and become good at it.</span></p>
            <a class="open-3" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="adv">
    <div class="container">
      <div class="container__adv">
        <div class="adv__flex-container">
          <div class="adv__box  adv__box--img1">
            <b>highly regulated</b>
            <p>operates under strict regulations of the EU</p>
          </div>
          <div class="adv__box  adv__box--img2">
            <b>high level of privacy</b>
            <p>your personal informations will never be disclosed to anyone without your</p>
          </div>
          <div class="adv__box  adv__box--img3">
            <b>Security</b>
            <p>your money is 100% secured</p>
          </div>
          <div class="adv__box  adv__box--img4">
            <b>Great educational tool</b>
            <p>get a demo account to practice and learn trading skills</p>
          </div>
          <div class="adv__box  adv__box--img5">
            <b>Customizable interface</b>
            <p>setting your own algorithmic trading bots to give you a unique trading experience</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="trading">
    <div class="container">
      <h2 class="trading__title">Trading on the go</h2>
      <div class="trading__flex-container">
        <p class="trading__text">Cryptologic provides the possibility to trade Bitcoin or any other digital currency from your pc, tablet or mobile device. This is as a result of our multifaceted design interface. You can follow the market trends and get interesting live updates on the go. On here you can manage your portfolio wherever you are. Trade today with cryptologic and move on the path to success.</p>
      </div>
      <div class="trading__flex-container  trading__flex-container--m">
        <a class="info__link  info__link--red" href="template/form.html">Create Account</a>
      </div>
    </div>
  </section>
  <section class="graph">
    <div class="container">
      <img src="img/graph.png" alt="" width="1400" height="650">
    </div>
  </section>
  <section class="coin">
    <div class="container">
      <div class="coin__flex-container">
        <div class="coin__box  coin__box--doge">
          <p><span>Dogecoin</span><br>2013</p>
        </div>
        <div class="coin__box  coin__box--ripple">
          <p><span>Ripple</span><br>2013</p>
        </div>
        <div class="coin__box  coin__box--peer">
          <p><span>Peercoin</span><br>2014</p>
        </div>
        <div class="coin__box  coin__box--dash">
          <p><span>Dash</span><br>2014</p>
        </div>
        <div class="coin__box  coin__box--monero">
          <p><span>Monero</span><br>2014</p>
        </div>
        <div class="coin__box  coin__box--eth">
          <p><span>Etherium</span><br>2015</p>
        </div>
        <div class="coin__box  coin__box--iota">
          <p><span>Iota</span><br>2015</p>
        </div>
        <div class="coin__box  coin__box--nem">
          <p><span>Nem</span><br>2015</p>
        </div>
      </div>
    </div>
  </section>
  <section class="fly">
    <div class="container">
      <h2>Fly above<br>the clouds<br>of success</h2>
      <p class="fly__text">Buy, sell and trade Bitcoin<br>with cryptologic</p>
      <p class="fly__desc">This platform was intended for professional and success motivated traders of bitcoin. The security of cryptologic is impeccable. Bank relationships are very good and peer-to-peer transfer can be carried out fast and with ease. On here profits are multiplied with Bitcoin margin trading, and you can leverage long or short bitcoin positions.</p>
    </div>
  </section>
  <section class="pre-footer">
    <div class="container">
      <h2>Cryptologic is a full-featured, on spot trading platform for digital currencies such as Bitcoin, Ethereum, Litcoin, and many more others. Peer-to-peer funding is carried out easily and swiftly. All transactions are 100% secured. Sign up today!</h2>
    </div>
  </section>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex-container">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="template/login.html">Log In</a></li>
            <li><a href="template/form.html">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="template/about.html">About Us</a></li>
            <li><a href="template/contact.html">Contact</a></li>
            <li><a href="template/legal.html">Legal & Privacy</a></li>
            <li><a href="template/terms.html">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="template/faq.html">FAQ</a></li>
            <li><a href="template/support.html">Support</a></li>
            <li><a href="template/trading.html">Trading Guide</a></li>
          </ul>
        </div>
        <!-- <div class="page-footer__column">
          <b>Language</b><br>
          <select class="page-footer__select">
            <option>English (US)</option>
            <option>Русский</option>
          </select>
        </div> -->
      </div>
    </div>
  </footer>
  <script src="js/script.js"></script>
</body>
</html>
