<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/media.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700&amp;subset=cyrillic" rel="stylesheet">
  <title>Laser Trans Cargo</title>
</head>
<body>
  <header class="header-services">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2">
            <a href="index.html" class="logo"><img src="img/logo.png" alt="logo"></a>
        </div>
        <div class="col-md-2 col-sm-3">
            <ul class="nav flex-column">
              <li><a href="#">О КОМПАНИИ</a></li>
              <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-5 ml-auto">
            <p class="mail">info@ltcargo.ru</p>
            <p class="target">Москва, 2-я Звенигородская, 13, стр. 37</p>
        </div>
        <div class="col-md-4 col-sm-4 ml-auto">
            <p class="phone">+7 (495) 268-09-29</p>
            <a href="#" class="btn">Перезвоните нам</a>
        </div>
      </div>
      <div class="row">
        <ul class="nav main-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">МЕЖДУНАРОДНЫЕ ПЕРЕВОЗКИ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ГРУЗОПЕРЕВОЗКИ ПО РОССИИ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">УСЛУГИ ПО ВЭД</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ТАМОЖЕННОЕ ОФОРМЛЕНИЕ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ОТРАСЛЕВЫЕ РЕШЕНИЯ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ЭКСПОРТ</a>
          </li>
        </ul>
      </div>
        <div class="header-inner">
          <h1>Международные автоперевозки</h1>
          <div class="container">
            <div class="row">
              <div class="responsibility">
                <p class="responsibility-title">Организовывая международные перевозки наземным транспортом,
мы возьмем на себя обязательства по:</p>
                <div class="row">
                  <div class="col-md-2 ml-auto col-sm-4 ml-auto">
                    <div class="responsibility-item res-1">
                      <p>подбору<br>автотранспорта,<br>учитывая<br>особенности груза</p>
                    </div>
                  </div>
                  <div class="col-md-2 ml-auto col-sm-4 mr-auto">
                    <div class="responsibility-item res-2">
                      <p>выбору<br>оптимального<br>маршрута</p>
                    </div>
                  </div>
                  <div class="col-md-2 ml-auto col-sm-4">
                    <div class="responsibility-item res-3">
                      <p>обеспечению<br>хранения груза на<br>складах<br>компании</p>
                    </div>
                  </div>
                  <div class="col-md-2 ml-auto col-sm-4">
                    <div class="responsibility-item res-4">
                      <p>подготовке всех<br>необходимых<br>документов, в том<br>числе и страхования<br>груза</p>
                    </div>
                  </div>
                  <div class="col-md-2 ml-auto mr-auto col-sm-2">
                    <div class="responsibility-item res-5">
                      <p>оформлению<br>таможенных<br>документов</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </header>
  <section class="advantage-s">
    <div class="container">
      <h3>Обеспечиваем доставку по принципу
“От двери к двери “ всех видов грузов</h3>
      <div class="row">
        <div class="col-lg-3 col-md-5 ml-auto mr-auto">
          <div class="advantage-item box-1">
            <p>скоропортящихся товаров</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-5">
          <div class="advantage-item box-2">
            <p>опасных<br>грузов</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-5 ml-auto mr-auto">
          <div class="advantage-item box-3">
            <p>негабаритных<br>грузов</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-5">
          <div class="advantage-item box-4">
            <p>сборных<br>партий</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="location">
    <div class="container">
      <div class="row">
        <h3>Работая с нами Вы в любой момент можете узнать местонахождение Вашего груза благодаря использованию современных навигационных систем</h3>
        <img src="" alt="" class="img-fluid">
      </div>
    </div>
  </section>
  <section class="service-form">
    <div class="container">
      <div class="row">
        <h3>Наши тарифы обоснованы, расчеты прозрачны, поэтому вы знаете, за что платите</h3>
        <p class="service-desc">Выбрав Лазер Транс Карго в качестве своего партнера,<br>Вы можете спокойно решать другие задачи</p>
        <p class="service-desc-2">Узнать стоимость доставки Вы можете заполнив форму заявки ниже, или связавшись с нами по телефону</p>
        <form action="" method="post">
          <input class="icon-name" type="text" name="name" value="" placeholder="Ваше имя">
          <input class="icon-phone" type="tel" name="phone" value="" placeholder="Ваш телефон">
          <input type="submit" name="submit" value="Перезвоните нам">
        </form>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
            <a href="index.html" class="logo"><img src="img/logo.png" alt="logo"></a>
        </div>
        <div class="col-md-2 ">
            <ul class="nav flex-column">
              <li><a href="#">О КОМПАНИИ</a></li>
              <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="col-md-4 ml-auto">
            <p class="mail">info@ltcargo.ru</p>
            <p class="target">Москва, 2-я Звенигородская, 13, стр. 37</p>
        </div>
        <div class="col-md-4 ml-auto">
            <p class="phone">+7 (495) 268-09-29</p>
            <a href="#" class="btn">Перезвоните нам</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul class="nav main-nav-footer">
            <li class="nav-item">
              <a class="nav-link social-btn social-btn-vk" href="#">vk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link social-btn social-btn-fb" href="#">fb</a>
            </li>
            <li class="nav-item">
              <a class="nav-link social-btn social-btn-tw" href="#">tw</a>
            </li>
          </ul>
        </div>
        <div class="name col-md-5 ml-auto">
          <p>Транспортно-логистическая компания</p>
        </div>
        <div class="copyright col-md-3 ml-auto">
          <p>©2016 LaserTrans</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>