.f_h {
  margin: 0;
  padding: 40px 0 50px 0;
  color: $mc;
  font-size: 32px;
  font-family: 'ProximaNovaBold', sans-serif;
  text-align: center;
}

.ft_h {
  margin: 30px;
  color: $mc;
  text-align: center;
  font-size: 40px;
  font-family: 'ProximaNovaBold', sans-serif;
}

main {
  margin-top: 3px;
  padding-bottom: 40px;
  background-color: rgb(244, 244, 244);
}

.plan_types {
  // width: 1200px;
  // margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.silver {
  width: 380px;
  // display: block;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.767px 10.973px 9.79px 1.21px rgba(0, 5, 7, 0.25);
  // margin: 40px auto 130px;

  }

.gold {
  width: 380px;
  // display: block;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.767px 10.973px 9.79px 1.21px rgba(0, 5, 7, 0.25);
  // margin-bottom: 50px;

}

.platinum {
  width: 380px;
  // display: block;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.767px 10.973px 9.79px 1.21px rgba(0, 5, 7, 0.25);
  // margin: 40px auto 130px;

}

.silver h1 {
  font-size: 35px;
  // margin-bottom: 10px;
}

.prices {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: $mc;
  background-color: rgb(238, 238, 238);
  font-size: 27px;
  font-family: 'ProximaNovaBold', sans-serif;
}

.pros_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pros_list li {
  font-size: 15px;
  font-family: 'ProximaNovaLight', sans-serif;
  border-bottom: 1px dotted #000;
  border-color: rgb(216, 216, 216);
  padding-bottom: 15px;
  padding-top: 15px;
  color: rgb(130, 130, 130);
}

.plans_button_one {
  width: 217px;
  font-size: 14px;
  font-family: 'ProximaNova', sans-serif;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 21, 79);
  padding: 10px 70px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.plans_button_two {
  padding: 10px 70px;
  margin: 50px 0px 30px;
  color: white;
  border-width: 1px;
  border-color: rgb(5, 28, 79);
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background-color: rgb(5, 28, 79);
  width: 217px;
}

.s_h {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: bold;
  margin: 0;
  color: white;
  background: linear-gradient( 10deg, rgb(0,46,95) 0%, rgb(0,0,0) 100%);
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .plan_types {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  
  .gold, .platinum, .silver {
    width: 300px;
  }
  
  .f_h {
    padding: 20px 0;
    font-size: 20px;
  }
  
  .ft_h,
  .s_h {
    font-size: 24px;
  }
  
  .pros_list {
    padding: 0 20px;
    
    li {
      font-size: 13px;
    }
  }
  
  .price {
    font-size: 20px;
  }
  
  .plans_button_one,
  .plans_button_two {
    margin: 20px 0;
  }
  
  .silver,
  .gold {
    margin-bottom: 20px;
  }
}