.article {
    position: relative;
  width: 280px;
  height: 420px;
  margin:20px auto 0px;
  font-size: 15px;
  font-weight: lighter;
  color: #8B8B8B;
  border-width: 1px;
  border-color: rgb(232, 232, 232);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.839px 0.545px 8.73px 0.27px rgba(0, 5, 7, 0.21);
}

.article_text h1 {
    margin-bottom: 0;
  color: #00154F;
  font-size: 21px;
  font-family: 'ProximaNova', sans-serif;
  font-weight: normal;
}

.article_text{
    /* height: 180px; */
  margin: 0 auto 0;
  width: 250px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.article_text p {
    /* height: 180px; */
  margin: 15 auto 0;
  width: 250px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    
  font-size: 13px;
  font-family: 'ProximaNova', sans-serif;
}

.details {

  padding: 20px 0px 40px;
  text-align: center;
}

.details a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    padding: 10px 40px;
    color: $mc;
    font-size: 14px;
    font-family: 'ProximaNova', sans-serif;
    border: 1px solid $mc;
    border-radius: 5px;
    transform: translateX(-50%);
    text-decoration: none;
    transition: 0.3s;
    
    &:hover {
      color: #fff;
      background: $mc;
    }
}

.row_one {
  display: flex;
  flex-wrap: wrap;
}

.row_two {
  display: flex;
  flex-wrap: wrap;
}

.row_three {
  display: flex;
  flex-wrap: wrap;
}

.row_four {
  display: flex;
  flex-wrap: wrap;
}

// .buttons {
//   margin: auto;
//   width: 400px;
//   text-align: center;
// }
// 
// button {
//   color: #00154F;
//   border: none;
//   padding: 15px 21px;
// }
// 
// button:hover{
//   color: #FFFFFF !important;
//   background-color: #00154F !important;
// }

.articles__name {
  display: none;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .row_one,
  .row_two,
  .row_three,
  .row_four {
    flex-direction: column;
  }
  
  .articles__name {
    display: block;
    margin: 3px 0 0 0;
    padding: 20px;
    color: $mc;
    font-size: 20px;
    font-family: 'ProximaNovaBold', sans-serif;
    background: #f4f4f4;
  }
}