.breadcrumbs {
  padding: 25px 0;
  background: #eaeaea;
  
  ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    color: #716f6f;
    font-size: 14px;
    font-family: 'ProximaNova', sans-serif;
    list-style: none;
    
    a {
      color: #949494;
      text-decoration: none;
      transition: 0.3s;
      
      &:hover {
        color: #716f6f;
      }
    }
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .breadcrumbs {
    display: none;
  }
}