.button {
  color: #fff;
  font-size: 18px;
  font-family: 'ProximaNova', sans-serif;
  text-decoration: none;
  border-radius: 5px;
  
  &--blue {
    margin: 0 10px;
    padding: 10px 50px;
    background: $mc;
  }
  
  &--red {
    padding: 20px 60px;
    text-transform: uppercase;
    background: #ad0000;
  }
  
  &--unclick {
    padding: 10px 50px;
    color: $mc;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid $mc;
  }
  
  &--click {
    padding: 10px 50px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    background: $mc;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .button {
    font-size: 16px;
    
    &--blue {
      padding: 10px 40px;
    }
    
    &--unclick {
      padding: 10px 30px;
    }
  }
}