.contact {
  
  h1 {
    margin: 50px 0 0 0;
    color: $mc;
    font-size: 37px;
    font-family: 'ProximaNovaBold', sans-serif;
  }
  
  p {
    color: #949494;
    font-size: 18px;
    font-family: 'ProximaNovaLight', sans-serif;
  }
}

.two_blocks {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.left_block,
.right_block {
  width: 370px;
  padding: 55px 65px;
  box-shadow: 0.8px 3px 10px 0.4px rgba(0, 5, 7, 0.2);
}

.left_block hr {
  width: 250px;
  margin: 35px 0 35px 40px;
}

.h_block_text {
  margin: 0 0 50px 0;
  color: $mc !important;
  font-size: 30px !important;
  font-family: 'ProximaNova', sans-serif !important;
}

.left_block p:not(.h_block_text) {
  padding-left: 40px;
}

.phone_before {
  position: relative;
}

.phone_before:before {
  content: url(../img/phone_ico.png);
  position: absolute;
  top: 2px;
  left: 0px;
}

.mail_before {
  position: relative;
}

.mail_before:before {
  content: url(../img/mail_ico.png);
  position: absolute;
  top: 1px;
  left: 0px;
}

.point_before {
  position: relative;
}

.point_before:before {
  content: url(../img/point_ico.png);
  position: absolute;
  top: 1px;
  left: 0px;
}

.info input {
  width: 338px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 15px;
  border: 1px solid #949494;
  border-radius: 5px;
  
  &::placeholder {
    color: #949494;
  }
}

.inp_l {
  width: 340px;
  height: 140px;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: inherit;
  border: 1px solid #949494;
  border-radius: 5px;
  resize: none;
  
  &::placeholder {
    color: #949494;
    font-size: 15px;
  }
}

.right_block button {
  margin: 20px 0 0 0;
  margin-left: auto;
  padding: 10px;
  font-size: 12px;
  background-color: rgb(173, 0, 0);
  color: rgb(255, 255, 255);
  display: block;
  width: 180px;
  border-radius: 5px;
}

@media screen and ($tablet-widths) {
  .two_blocks {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and ($mobile-widths) {
  .contact {
    
    h1 {
      margin: 30px 0 0 0;
      font-size: 24px;
    }
    
    p {
      font-size: 14px;
    }
  }
  
  .two_blocks {
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
  }
  
  .left_block {
    order: 2;
    width: 240px;
    margin: 0 0 20px 0;
    padding: 40px 30px;
  }
  
  .right_block {
    width: 260px;
    margin: 0 0 20px 0;
    padding: 30px 20px;
  }
  
  .h_block_text {
    margin: 0 0 20px 0;
    font-size: 24px !important;
  }
  
  .left_block hr {
    width: 100%;
    margin: 35px 0 35px 0px;
  }
  
  .info input {
    width: 228px;
    font-size: 14px;
  }
  
  .inp_l {
    width: 230px;
  }
  
  .right_block button {
    width: 100% !important;
    margin-left: 0;
    font-size: 16px;
    width: 180px;
  }
}