.filters {
  padding: 20px 0;
  border-top: 1px solid #ddd;
  box-shadow: 0.105px 1.997px 1.94px 0.06px #000101;
  
}

.filters__flex {
  display: flex;
  justify-content: space-between;
  
  p {
    color: $mc;
    font-size: 18px;
    font-family: 'Open Sans Regular', sans-serif;
  }
  
  select {
    position: relative;
    width: 200px;
    padding: 5px 20px;
    font-size: 16px;
    appearance: none;
    background: url('../img/filters-arrow.png') no-repeat 180px;
  }
}

.filters__begin {
  background: url('../img/filters-beginer.png') no-repeat right;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .filters {
    display: none;
  }
}