.indicators {
  
  header {
    margin: 20px 0;
    background: #eee;
    
    h2 {
      margin: 0;
      padding: 20px 0;
      color: $mc;
      font-size: 30px;
      font-family: 'ProximaNovaSemiBold', sans-serif;
    }
  }
}

.indicators__controll {
  padding: 20px 0;
  border-top: 2px solid #f4f4f4;
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      
      &:nth-child(1) {
        color: $mc;
        font-size: 20px;
        font-family: 'ProximaNova', sans-serif;
      }
      
      a {
        padding: 10px 20px;
        color: #69696a;
        font-family: 'ProximaNova', sans-serif;
        border: 1px solid #dddddd;
        border-radius: 5px;
        text-decoration: none;
      }
    }
  }
}

.indicators__trend {
  padding: 10px 50px 10px 20px !important;
  background: url('../img/indicators-trend.png') no-repeat 120px;
}

.indicators__oscc {
  background: url('../img/indicators-oscc.png') no-repeat 20px;
}

.indicators__active {
  color: #fff !important;
  background: $mc;
}

.indicators__flex {
  display: flex;
  justify-content: space-between;
  
  &--second {
    margin: 10px 0 0 0;
  }
}

.indicators__box {
  width: 250px;
  box-shadow: 0.8px 0.5px 9px 0.3px rgba(0, 1, 1, 0.2);
  
  img {
    max-width: 100%;
  }
}

.indicators__content {
  padding: 20px 20px 30px;
  
  b {
    color: $mc;
    font-family: 'ProximaNovaSemiBold', sans-serif;
  }
  
  p {
    
  }
}

.indicators__pagination {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 40px auto;
  padding: 0;
  list-style: none;
  
  a {
    padding: 14px 17px;
    color: $mc;
    font-size: 14px;
    font-family: 'ProximaNovaLight', sans-serif;
    text-decoration: none;
    background: #dddddd;
  }
}