.nav {
  padding: 20px 0;
}

.nav__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
  
  &--inner {
    display: flex;
    justify-content: space-between;
    width: 750px;
    
    a {
      color: $mc;
      font-size: 17px;
      font-family: 'ProximaNova', sans-serif;
      text-decoration: none;
    }
  }
}

.nav__login-inner {
  display: block;
  width: 45px;
  height: 40px;
  border-radius: 5px;
  background: $mc url('../img/nav-login.png') no-repeat center;
}

.nav__language {
  width: 60px;
  height: 40px;
  color: $mc;
  font-size: 17px;
  font-family: 'ProximaNova', sans-serif;
  border: 1px solid $mc;
  background: transparent;
}

.nav__toggle,
.nav__login {
  display: none;
}

.nav--closed {
  animation-name: close;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  
  @keyframes close {
    0% {
      top: 78px;
    }
  
    100% {
      top: -500px;
    }
  }
}

.nav--opened {
  animation-name: open;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  
  @keyframes open {
    0% {
      top: -500px;
    }
    
    100% {
      top: 78px;
    }
  }
}

@media screen and ($tablet-widths) {
  .nav__flex {
    flex-wrap: wrap;
  }
}

@media screen and ($mobile-widths) {
  .nav__toggle {
    position: absolute;
    left: 0;
    display: block;
    width: 23px;
    height: 16px;
    font-size: 0;
    border: none;
    background: url('../img/nav.svg') no-repeat top;
  }
  
  .nav__login {
    position: absolute;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    border: none;
    background: url('../img/nav-login.svg') no-repeat top;
    background-size: cover;
  }
  
  .nav__login-inner,
  .nav__language {
    display: none !important;
  }
  
  .nav__container {
    position: absolute;
    top: -500px;
    display: block;
    width: 100%;
    transition: 0.3s;
    
    ul {
      margin: 0;
      padding: 0 30px;
      background: #fff;
      list-style: none;
      
      li {
        border-bottom: 1px solid #dddddd;
        
        a {
          display: block;
          width: 100%;
          padding: 15px 0;
          color: #69696a;
          font-family: 'ProximaNova', sans-serif;
          text-decoration: none;
        }
      }
    }
  }
  
  .nav__flex {
    justify-content: center;
    position: relative;
  }
  
  .nav__list {
    
    &--main {
      display: none;
    }
    
    &--inner {
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      
      li {
        width: 100%;
        
        &:nth-child(6),
        &:nth-child(7) {
          border:none;
        }
      }
    }
  }
}