.price {
  padding: 55px 0;
  background: #f2f2f2;
}

.price__title-m {
  display: none;
}

.price__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  &--sub {
    position: absolute;
    top: 0px;
    left: 0px;
    flex-direction: column;
    width: 369px;
    padding: 10px 56px;
    border-radius: 5px;
    background: #fff;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
    
    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
    }
  }
}

.price__left {
  margin: 0 20px 0 0;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 12px 43px 0px rgba(0, 0, 0, 0.2);
}

.price__title {
  font-size: 25px;
  font-family: 'ProximaNovaLight', sans-serif;
}

.price__time {
  color: #bab4b4;
  font-size: 25px;
  font-family: 'ProximaNova', sans-serif;
}

.price__course {
  margin: 25px 0 35px 0;
  font-size: 25px;
  font-family: 'ProximaNova', sans-serif;
  
  span {
    color: $mc;
    font-family: 'ProximaNovaBold', sans-serif;
  }
}

.price__counter {
  
  span {
    padding: 10px 15px;
    color: $mc;
    font-size: 35px;
    font-family: 'ProximaNovaBold', sans-serif;
    background: #e8e8e8;
  }
}

.price__right {
  
  b {
    display: block;
    margin: 0 0 20px 0;
    color: $mc;
    font-size: 35px;
    font-family: 'ProximaNovaBold', sans-serif;
  }
  
  p {
    margin: 60px 0 0 0;
    font-size: 20px;
    font-family: 'ProximaNovaLight', sans-serif;
  }
}

.price__select {
  position: relative;
  width: 100%;
  margin: 50px 0 0 0;
  padding: 20px 0;
  border: 1px solid $mc;
  border-radius: 5px;
  background: transparent;
  
  p {
    margin: 0;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 28px;
    right: 10px;
    width: 17px;
    height: 10px;
    background: url('../img/price-arrow.png');
    transition: 0.3s;
  }
  
  &:hover {
    
    &::after {
      transform: rotate(180deg);
    }
  }
  
  &:hover .price__flex--sub {
    opacity: 1;
  }
}

.price__value {
  padding: 0 0 0 30px;
  
  &--bitcoin {
    background: url('../img/price-up.png') no-repeat left;
  }
  
  &--gpb {
    background: url('../img/price-up.png') no-repeat left;
  }
  
  &--tesla {
    background: url('../img/price-up.png') no-repeat left;
  }
}

.price__name {
  padding: 0 0 0 30px;
  font-size: 20px;
  font-family: 'ProximaNovaLight', sans-serif;
  background: url('../img/price-bitcoin.png') no-repeat left;
  background-size: contain;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .price {
    padding: 30px 0;
  }
  
  .price__title-m {
    display: block;
    color: $mc;
    font-size: 24px;
    font-family: 'ProximaNovaBold', sans-serif;
    text-align: center;
  }
  
  .price__flex {
    flex-direction: column;
    
    &--select {
      flex-direction: row;
    }
  }
  
  .price__left {
    margin: 30px 0 0 0;
    padding: 30px 30px 40px;
    
    img {
      width: 50px;
    }
  }
  
  .price__title,
  .price__time,
  .price__course {
    font-size: 20px;
  }
  
  .price__counter {
    
    span {
      font-size: 28px;
    }
  }
  
  .price__right {
    
    b {
      display: none;
    }
    
    p {
      margin: 30px 0 20px;
    }
  }
  
  .price__select {
    margin: 0;
    padding: 0;
  }
}