.profit {
  padding: 110px 0;
  background: $mc url('../img/profit-bg.jpg') no-repeat top;
  background-size: cover;
  
  p {
    margin: 0;
    color: #fff;
    font-size: 35px;
    font-family: 'ProximaNova', sans-serif;
    text-align: center;
    
    span {
      font-family: 'ProximaNovaExtraBold', sans-serif;
    }
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .profit {
    padding: 80px 0;
    
    p {
      font-size: 23px;
    }
  }
}