.range {
  padding: 70px 0 76px 0;
  
  h1 {
    margin: 0 0 80px 0;
    color: $mc;
    font-size: 35px;
    font-family: 'ProximaNovaBold', sans-serif;
    text-align: center;
  }
  
  label {
    font-size: 24px;
    font-family: 'ProximaNovaLight', sans-serif;
    
    &:nth-child(2) {
      
      p {
        margin: 70px 0 50px 0;
      }
    }
    
    p {
      margin: 0 0 50px 0;
    }
  }
  
  hr {
    height: 1px;
    margin: 70px 0 40px 0;
    border: none;
    background: #000;
    outline: none;
    
    & + p {
      font-size: 26px;
      font-family: 'ProximaNovaLight', sans-serif;
      text-align: center;
      
      span {
        color: $mc;
        font-size: 28px;
        font-family: 'ProximaNovaBold', sans-serif;
      }
    }
  }
}

.range__flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.range__left {
  
  input[type="range"] {
    appearance: none;
    width: 500px;
    height: 15px;
    outline: none;
    background: linear-gradient(left, $mc 0%, $mc 50%, #ddd 50%, #ddd 100%);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    top: 30px;
    appearance: none;
    width: 25px;
    height: 25px;
    background: url('../img/range-arrow.png') no-repeat top;
    background-size: cover;
    cursor: pointer;
    
    // &.range__get {
    //   left: -10px;
    // }
  }
}

.range__right {
  
  input {
    width: 300px !important;
  }

  progress {
    appearance: none;
    width: 350px;
    height: 40px;
    
    &[value]::-webkit-progress-bar {
      background: #ddd;
    }
    
    &[value]::-webkit-progress-value {
      background: linear-gradient(left, $mc 0%, #000 100%);
    }
  }
}

.range__invest-output,
.range__get-output {
  color: $mc;
  font-family: 'ProximaNovaBold', sans-serif;
}

.range__invest {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: -35px;
    width: 530px;
    height: 30px;
    background: url('../img/number-invest.png') no-repeat top;
    background-size: contain;
  }
}

.range__get {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: -35px;
    width: 530px;
    height: 30px;
    background: url('../img/number-year.png') no-repeat top;
    background-size: contain;
  }
}

@media screen and ($tablet-widths) {
  .range__left {
    
    input[type="range"] {
      width: 280px;
    }
  }
  
  .range__right {
    
    progress {
      width: 280px;
    }
  }
}

@media screen and ($mobile-widths) {
  .range {
    padding: 30px 0;
    
    h1 {
      margin: 0;
      font-size: 24px;
    }
    
    label {
      font-size: 18px;
      text-align: center;
    }
    
    hr {
      
      & + p {
        font-size: 18px;
        
        span {
          display: block;
          font-size: 18px;
        }
      }
    }
  }
  
  .range__flex {
    flex-direction: column;
    align-items: center;
  }
  
  .range__left {
    margin: 40px 0 50px 0;
  }
  
  .range__invest {
    
    &::before {
      width: 295px;
    }
  }

  .range__get {
    
    &::before {
      width: 295px;
    }
  }
}