.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
}

.strategy_block {
  width: 280px;
  margin: auto;
  padding-bottom: 30px;
  box-shadow: 0.839px 0.545px 8.73px 0.27px rgba(0, 5, 7, 0.21);
}

.block_content {
  width: 230px;
  margin: auto;
  
  hr {
    height: 1px;
    border: none;
    background: #dddddd;
  }
}

.block_content h3 {
  color: #1e315b;
  font-size: 16px;
  font-family: 'Open Sans SemiBold', sans-serif;
}

.block_content ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    color: #808185;
    font-size: 14px;
    font-family: 'Open Sans Regular', sans-serif;
}

.block_content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block_content a {
  text-align: center;
  margin: auto;
  width: 160px;
  padding: 10px 0;
  display: block;
  color: $mc;
  font-size: 14px;
  font-family: 'Open Sans Regular', sans-serif;
  border: 1px solid $mc;
  border-radius: 5px;
  background: #fff;
  text-decoration: none;
  transition: 0.3s;
  
  &:hover {
    color: #fff;
    background: $mc;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .row {
    flex-direction: column;
  }
  
  .strategy_block {
    margin-bottom: 10px;
  }
}