.edge {
  padding: 70px 0;
}

.edge__flex {
  display: flex;
  justify-content: space-between;
}

.edge__box {
  width: 270px;
  padding: 100px 0 0 0;
  text-align: center;
  
  h2 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  hr {
    width: 30px;
    height: 1px;
    border: none;
    background: #ab1419;
  }
  
  p {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
  }
  
  &--1 {
    background: url('../img/edge-1.svg') no-repeat top / 90px;
  }
  
  &--2 {
    background: url('../img/edge-2.svg') no-repeat top / 90px;
  }
  
  &--3 {
    background: url('../img/edge-3.svg') no-repeat top / 90px;
  }
  
  &--4 {
    background: url('../img/edge-4.svg') no-repeat top / 90px;
  }
}

@media screen and ($tablet-widths) {
  .edge__flex {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and ($mobile-widths) {
  .edge {
    padding: 50px 0;
  }
  
  .edge__flex {
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .edge__box {
    margin: 0 0 30px 0;
    
    &:last-child {
      margin: 0;
    }
  }
}