.footer {
  padding: 20px 0 0 0;
  background: #0b0d17;
}

.footer__logo {
  display: block;
  width: 170px;
  margin: auto;
}

.footer__hr {
  height: 1px;
  margin: 15px 0 40px 0;
  border: none;
  background: $title;
}

.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 40px 0;
  
  &--social {
    margin: 0;
  }
}

.footer__info {
  width: 770px;
}

.footer__text {
  color: $text;
  font-size: 14px;
  font-weight: 300;
  
  &:first-of-type {
    margin: 0 0 14px 0;
  }
  
  &:last-of-type {
    margin: 14px 0 0 0;
  }
}

.footer__social {
  padding: 30px 0;
  background: #000;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 370px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
  font-size: 0;
  
  &--fb {
    display: block;
    width: 8px;
    height: 14px;
    background: url('../img/facebook.svg') no-repeat center / cover;
  }
  
  &--gp {
    display: block;
    width: 21px;
    height: 14px;
    background: url('../img/google-plus.svg') no-repeat center / cover;
  }
  
  &--tw {
    display: block;
    width: 17px;
    height: 14px;
    background: url('../img/twitter.svg') no-repeat center / cover;
  }
  
  &--em {
    display: block;
    width: 17px;
    height: 14px;
    background: url('../img/email.svg') no-repeat center / cover;
  }
}

.footer__copyright {
  margin: 0;
  color: $text;
  font-size: 14px;
  font-weight: 300;
}

@media screen and ($tablet-widths) {
  .footer__flex {
    flex-direction: column;
  }
  
  .footer__info {
    width: auto;
    margin: 40px 0 0 0;
  }
  
  .footer__copyright {
    margin: 30px 0 0 0;
  }
}

@media screen and ($mobile-widths) {
  .footer__button {
    width: 270px;
  }
  
  .footer__list {
    width: 100%;
  }
}