.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  
  a {
    padding: 40px 25px;
    color: #f4f5f9;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    
    &:first-child {
      padding: 40px 25px 40px 0;
    }
  }
  
  &:nth-child(2) {
    margin: 0 0 0 auto; 
  }
}

.nav__logo {
  display: block;
  width: 190px;
}