.online {
  display: flex;
}

.online__column {
  width: 50%;
  padding: 100px 0;
  
  &:first-of-type {
    background: #0b0d17;
  }
  
  &:last-of-type {
    background: url('../img/online-bg.jpg') no-repeat center / cover;
  }
}

.online__info {
  width: 585px;
  margin: 0 0 0 auto;
}

.online__name {
  margin: 0 0 40px 0;
  color: $text;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
}

.online__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.online__item {
  margin: 0 0 70px 0;
  
  b {
    color: $title;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  p {
    color: $text;
    font-size: 14px;
    font-weight: normal;
  }
  
  &--1 {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      right: -35px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.7) url('../img/online-1.svg') no-repeat center / 40px;
    }
  }
  
  &--2 {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      right: -35px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.7) url('../img/online-2.svg') no-repeat center / 40px;
    }
  }
  
  &--3 {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      right: -35px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.7) url('../img/online-3.svg') no-repeat center / 40px;
    }
  }
  
  &:last-child {
    margin: 0;
  }
}

@media screen and ($tablet-widths) {
  .online {
    flex-direction: column;
  }
  
  .online__column {
    width: auto;
  }
  
  .online__info {
    margin: auto;
  }
  
  .online__item {
    
    &--1 {
      
      &::after {
        right: 0px;
      }
    }
    
    &--2 {
      
      &::after {
        right: -0px;
      }
    }
    
    &--3 {
      
      &::after {
        right: 0px;
      }
    }
  }
}

@media screen and ($mobile-widths) {
  
}