.title {
  padding: 0 0 160px 0;
  background: #35355c url('../img/title-bg.jpg') no-repeat center / cover;
}

.title__subname {
  display: block;
  margin: 150px 0 15px 0;
  color: $text;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}

.title__hr {
  width: 470px;
  height: 1px;
  margin: 0 auto 15px auto;
  border: none;
  background: #ab1419;
}

.title__name {
  margin: 0 0 30px 0;
  color: $text;
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.title__mockup {
  display: block;
  margin: 0 auto 30px auto;
}

.title__button {
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media screen and ($tablet-widths) {
  .title__subname {
    margin: 80px 0 15px 0;
  }
  
  .title__name {
    font-size: 45px;
  }
}

@media screen and ($mobile-widths) {
  .title {
    padding: 0 0 100px 0;
  }
  
  .title__subname {
    font-size: 25px;
  }
  
  .title__hr {
    width: auto;
  }
  
  .title__name {
    font-size: 30px;
  }
  
  .title__button {
    align-items: center;
    flex-direction: column;
    width: auto;
    
    li {
      
      &:first-child {
        margin: 0 0 10px 0;
      }
    }
  }
}