.traders {
  color: #fff;
  background: #0038b8;
  text-align: center;
  
  & h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  & p {
    padding-bottom: 50px;
    // font-weight: bold;
  }
}

@media screen and ($tablet-widths) {
  
}

@media screen and ($mobile-widths) {  
  .traders {
    
    & h3 {
      font-size: 22px;
    }
  }
}