body {
  min-width: 320px;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 1460px) {
  .container {
    width: 100%; } }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto-v18-latin-100.woff2") format("woff2"), url("../fonts/roboto-v18-latin-100.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v18-latin-300.woff2") format("woff2"), url("../fonts/roboto-v18-latin-300.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin-regular.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v18-latin-700.woff2") format("woff2"), url("../fonts/roboto-v18-latin-700.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v18-latin-500.woff2") format("woff2"), url("../fonts/roboto-v18-latin-500.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v18-latin-900.woff2") format("woff2"), url("../fonts/roboto-v18-latin-900.woff") format("woff"); }

@font-face {
  font-family: 'ITC Avant Garde Std Md';
  src: local("ITCAvantGardeStd-Bold"), url("../fonts/ITCAvantGardeStd-Bold.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book';
  src: local("ITC Avant Garde Gothic Std Book"), local("ITCAvantGardeStd-Bk"), url("../fonts/ITCAvantGardeStd-Bk.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 25px 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 385px;
  margin: 0 0 0 -130px;
  padding: 0;
  list-style: none; }

.nav__item {
  color: #252525;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase; }
  .nav__item--white {
    color: #fff; }

.nav__toggle {
  display: none;
  font-size: 0; }

@media screen and (max-width: 1460px) {
  .nav__list {
    width: 250px; } }

@media screen and (max-width: 768px) {
  .nav {
    position: relative; }
  .nav__list {
    position: absolute;
    top: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 25px 0;
    background: #212121;
    line-height: 30px;
    opacity: 0;
    clip: rect(0, 0, 0, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .nav__list--active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      opacity: 1;
      clip: auto; }
    .nav__list:last-child {
      display: none; }
  .nav__logo {
    font-size: 16px; }
  .nav__toggle {
    display: block; } }

.button {
  display: block;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .button--small {
    width: 205px; }
  .button--medium {
    width: 300px; }
  .button--red {
    background: -webkit-gradient(linear, left top, left bottom, from(#DD1818), to(#333333));
    background: linear-gradient(#DD1818, #333333); }
  .button--black {
    background: -webkit-gradient(linear, left top, left bottom, from(#171717), to(#333333));
    background: linear-gradient(#171717, #333333); }

@media screen and (max-width: 768px) {
  .button--medium {
    width: 250px; } }

.title__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 2px 60px #C4C4C4;
  box-shadow: 0 2px 60px #C4C4C4; }

.title__left,
.title__right {
  width: 50%; }

.title__right {
  background: #ccc url("../img/title-bg.jpg") no-repeat center/cover; }

.title__content {
  padding: 375px 0;
  text-align: center; }

.title__name {
  margin: 0;
  color: #fff;
  font-size: 72px;
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
  text-transform: uppercase; }

.title__text {
  margin: 0 0 60px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400; }

.title__button {
  margin: auto; }

@media screen and (max-width: 768px) {
  .title__content {
    padding: 150px 0; }
  .title__name {
    font-size: 35px; } }

.help {
  padding: 170px 0; }

.help__content {
  width: 900px;
  margin: auto;
  padding: 150px 0 0 0;
  background: url("../img/help-icon.svg") no-repeat top/90px;
  text-align: center; }

.help__name {
  margin: 0 0 30px 0;
  color: #323232;
  font-size: 56px;
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
  text-transform: uppercase; }

.help__text {
  margin: 0 0 55px 0;
  color: #636363;
  font-size: 16px;
  font-weight: 400; }

.help__button {
  margin: auto; }

@media screen and (max-width: 1460px) {
  .help__content {
    max-width: 500px; } }

@media screen and (max-width: 768px) {
  .help {
    padding: 50px 0; }
  .help__content {
    width: auto; }
  .help__name {
    font-size: 35px; } }

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F5F5F5; }

.steps__left,
.steps__right {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.steps__left {
  padding: 175px 135px 175px 0; }

.steps__content {
  width: 580px;
  margin: 0 0 0 auto; }

.steps__title {
  margin: 0 0 30px 0;
  color: #383836;
  font-size: 56px;
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
  text-transform: uppercase; }

.steps__number {
  margin: 0;
  color: #3F3F3F;
  font-size: 36px;
  font-family: 'ITC Avant Garde Std Md', sans-serif;
  text-align: right; }

.steps__name {
  margin: 0;
  color: #852626;
  font-size: 36px;
  font-family: 'ITC Avant Garde Std Md', sans-serif;
  border-bottom: 1px solid #852626; }

.steps__text {
  margin: 16px 0 25px 0;
  color: #2A2B28;
  font-size: 16px;
  font-weight: 400; }

.steps__right {
  background: url("../img/steps-right.jpg") no-repeat center/cover; }

@media screen and (max-width: 1460px) {
  .steps__left {
    padding: 175px 50px; }
  .steps__content {
    width: auto; } }

@media screen and (max-width: 768px) {
  .steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .steps__left,
  .steps__right {
    width: auto; }
  .steps__left {
    padding: 50px 15px; }
  .steps__title {
    display: block;
    font-size: 35px;
    text-align: center; } }

.app {
  padding: 350px 0;
  background: url("../img/app-bg.png") no-repeat 0 370px; }

.app__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.app__mockup {
  width: 453px;
  height: 903px;
  background: url("../img/app-mockup.png") no-repeat center/contain; }

.app__content {
  position: relative;
  width: 760px;
  margin: 0 0 0 auto;
  padding: 60px 0 0 0; }

.app__name {
  display: block;
  margin: 0 0 30px 0;
  color: #323232;
  font-size: 56px;
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
  text-transform: uppercase; }

.app__text {
  width: 570px;
  margin: 0 0 55px 0;
  color: #636363;
  font-size: 16px;
  font-weight: 400; }

@media screen and (max-width: 1460px) {
  .app {
    padding: 150px 0 200px 0; }
  .app__content {
    width: 50%;
    margin: 0 0 0 30px; }
    .app__content::before {
      display: none; }
  .app__name {
    font-size: 50px; }
  .app__text {
    width: auto; } }

@media screen and (max-width: 768px) {
  .app {
    padding: 50px 0; }
  .app__wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .app__mockup {
    width: 300px;
    height: 400px; }
  .app__content {
    width: auto;
    margin: 0;
    text-align: center; }
  .app__name {
    font-size: 35px; }
  .app__text {
    width: auto; }
  .app__button {
    margin: auto; } }

.modal {
  position: fixed;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1170px;
  -webkit-box-shadow: 2px 0 60px #828282;
  box-shadow: 2px 0 60px #828282;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 2; }
  .modal--inactive {
    top: -1000px; }
  .modal--active {
    top: 50%; }

.modal__left,
.modal__right {
  width: 50%; }

.modal__left {
  background: url("../img/modal-left.jpg") no-repeat center/cover; }

.modal__right {
  position: relative;
  padding: 55px 100px 35px 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FCFCFC; }

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  font-size: 0;
  border: none;
  background: url("../img/close.svg") no-repeat center/cover;
  cursor: pointer; }

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.modal__name {
  margin: 0 0 30px 0;
  color: #171A36;
  font-size: 36px;
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
  text-align: center; }

.modal__input {
  margin: 0 0 25px 0;
  padding: 15px 20px;
  color: #171A36;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #0F0F0F;
  border-radius: 5px;
  background: #fff;
  outline: none; }
  .modal__input:last-of-type {
    margin: 0 0 35px 0; }
  .modal__input::-webkit-input-placeholder {
    color: #CBCBCB;
    font-size: 16px;
    font-weight: 400; }
  .modal__input:-ms-input-placeholder {
    color: #CBCBCB;
    font-size: 16px;
    font-weight: 400; }
  .modal__input::-ms-input-placeholder {
    color: #CBCBCB;
    font-size: 16px;
    font-weight: 400; }
  .modal__input::placeholder {
    color: #CBCBCB;
    font-size: 16px;
    font-weight: 400; }
  .modal__input--register {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .modal__input--register:last-of-type {
      margin: 0 0 25px 0; }

.modal__password {
  position: relative; }

.modal__show {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 27px;
  height: 16px;
  border: none;
  background: url("../img/eye.svg") no-repeat center/cover;
  cursor: pointer; }

.modal__forgot {
  margin: 0 0 45px 0;
  color: #CBCBCB;
  font-size: 16px;
  font-weight: 400;
  text-align: center; }

.modal__agree {
  margin: -10px 0 45px 0;
  color: #CBCBCB;
  font-size: 12px;
  font-weight: 400; }

.modal__submit {
  margin: 0 auto 80px auto; }

.modal__social {
  margin: 0 0 145px 0; }

.modal__another {
  display: block;
  margin: 0 0 30px 0;
  color: #171A36;
  font-size: 18px;
  font-weight: 400;
  text-align: center; }

.modal__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.modal__link {
  padding: 15px 0 15px 68px;
  color: #CBCBCB;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none; }
  .modal__link--facebook {
    background: url("../img/facebook.svg") no-repeat left; }
  .modal__link--google {
    background: url("../img/google-plus.svg") no-repeat left; }
  .modal__link--cta {
    padding: 0;
    text-decoration: underline; }

.modal__cta {
  margin: 0;
  color: #171A36;
  font-size: 16px;
  font-weight: 400;
  text-align: center; }

.modal__overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .modal__overlay--inactive {
    z-index: -1; }
  .modal__overlay--active {
    background: #fff;
    z-index: 1; }

@media screen and (max-width: 1460px) {
  .modal {
    width: 95%; }
    .modal--active {
      position: absolute;
      top: 130px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .modal__right {
    padding: 55px 50px 35px 50px; }
  .modal__link {
    padding: 5px 0 5px 40px; }
    .modal__link--cta {
      padding: 0; }
  .modal__cta {
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  .modal__left {
    display: none; }
  .modal__left,
  .modal__right {
    width: 100%; }
  .modal__social {
    margin: 0 0 50px 0; }
  .modal__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .modal__link--facebook, .modal__link--google {
    margin: 0 0 10px 0; } }

.footer {
  padding: 25px 0;
  background: #212121; }
