.programs {
  padding-top: 70px;
}

.programs__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.programs__title {
  margin: 0;
  color: $text;
  font-size: 30px;
  font-weight: bold;
}

.programs__button {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  opacity: 0.4;
  outline: none;
  transition: 0.3s;
  
  &--tile {
    background-image: url('../img/button-tile.svg');
  }
  
  &--list {
    background-image: url('../img/button-list.svg');
  }
  
  &:active {
    opacity: 1;
    transform: scale(1.1);
  }
  
  &:last-child {
    margin: 0;
  }
  
  &--active {
    opacity: 1;
  }
}

.programs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  
  &--column {
    flex-direction: column;
  }
}

.programs__item {
  position: relative;
  width: 370px;
  height: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  
  &:nth-child(3n) {
    margin-right: 0;
  }
  
  &--column {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    
    .programs__full {
      opacity: 0;
    }
    
    .programs__figure {
      width: 40%;
    }
    
    .programs__img {
      display: none;
    }
    
    .programs__table {
      width: 60%;
      padding: 0;
    }
    
    .programs__tbody {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .programs__name {
      margin: 0;
      font-size: 16px;
      text-align: left;
    }
    
    .programs__text {
      padding: 0;
      
      &--caption {
        display: none;
      }
    }  
    
    .programs__location {
      width: 250px;
    }
    
    &:first-of-type {
      
      .programs__table {
        position: relative;
      }
      
      .programs__text {
        padding: 0;
        
        &--caption {
          position: absolute;
          display: block;
          top: -50px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 35px;
        }
      } 
    }
  }
}

.programs__full {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: $red;
}

.programs__figure {
  margin: 0;
}

.programs__img {
  width: 100%;
}

.programs__name {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: $text;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.programs__table {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.programs__text {
  padding-top: 5px;
  padding-bottom: 5px;
  color: $text;
  font-size: 16px;
  font-weight: normal;
  
  &--caption {
    display: flex;
    align-items: center;
    padding-left: 35px;
    color: $blue;
    font-size: 14px;
  }
  
  &--location {
    background-image: url('../img/location.svg');
    background-repeat: no-repeat;
    background-position: left;
  }
  
  &--date {
    background-image: url('../img/date.svg');
    background-repeat: no-repeat;
    background-position: left;
  }
  
  &--cost {
    background-image: url('../img/cost.svg');
    background-repeat: no-repeat;
    background-position: left;
  }
  
  &--blue {
    color: $blue;
    font-weight: 500;
  }
}

.programs__icon {
  margin-right: 5px;
}

.programs__load {
  position: relative;
  display: block;
  width: 250px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  border: none;
  border-radius: 43px;
  background-color: $blue;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  
  &::before {
    content: '';
    position: absolute;
    left: 30px;
    width: 17px;
    height: 20px;
    background-image: url('../img/refresh.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
  }
  
  &:hover,
  &:focus {
    box-shadow: 0 0 10px 2px darken($blue, 20%);
  }
  
  &:active {
    box-shadow: 0 0 10px 5px darken($blue, 20%);
    
    &::before {
      transform: rotate(360deg);
    }
  }
  
  &:disabled {
    background-color: gray;
    cursor: not-allowed;
    
    &:hover,
    &:focus {
      box-shadow: none;
      background-color: gray;
      transform: translateY(0);
      
      &::before {
        transform: rotate(0);
      }
    }
  }
}

@media screen and ($tablet) {
  .programs__wrapper {
    margin-bottom: 50px;
  }
  
  .programs__title {
    font-size: 22px;
  }
  
  .programs__list {
    justify-content: space-between;
  }
  
  .programs__item {
    width: 49%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
    padding-bottom: 15px;
    
    &--column {
      width: 100%;
      
      .programs__table {
        width: 60%;
      }
    }
  }
}

@media screen and ($mobile) {
  .programs {
    margin-bottom: 0;
    padding-top: 50px;
  }
  
  .programs__wrapper {
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .programs__title {
    margin-bottom: 25px;
    text-align: center;
  }
  
  .programs__list {
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  
  .programs__item {
    width: 100%;
    max-width: 395px;
    height: auto;
    
    &--column {
      flex-direction: column;
      padding-right: 10px;
      padding-left: 10px;
      
      .programs__figure {
        width: auto;
      }
      
      .programs__name {
        text-align: center;
      }
      
      .programs__table {
        width: 100%;
        text-align: center;
      }
      
      .programs__tbody {
        flex-direction: column;
      }
      
      &:first-of-type {
        
        .programs__text {
          
          &--caption {
            display: none;
          }
        }
      }
      
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
  
  .programs__table {
    padding-right: 10px;
    padding-left: 20px;
  }
}