.social {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  
  &--fixed {
    position: absolute;
    top: 80px;
    right: -50px;
    flex-direction: column;
    
    .social__item {
      margin-right: 0;
      margin-bottom: 10px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    .social__link {
      opacity: 0.5;
      
      &:hover,
      &:focus {
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }
}

.social__item {
  margin-right: 10px;
  
  &:last-child {
    margin-right: 0px;
  }
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;
  outline: none;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

@media screen and (max-width: 1325px) {
  .social {
    
    &--fixed {
      display: none;
    }
  }
}