body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Display', sans-serif; }

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
    padding: 0; } }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Thin"), local("SFUIDisplay-Thin"), url("../fonts/SFUIDisplay-Thin.woff2") format("woff2"), url("../fonts/SFUIDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Ultralight"), local("SFUIDisplay-Ultralight"), url("../fonts/SFUIDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFUIDisplay-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Light"), local("SFUIDisplay-Light"), url("../fonts/SFUIDisplay-Light.woff2") format("woff2"), url("../fonts/SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFUIDisplay-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Black"), local("SFUIDisplay-Black"), url("../fonts/SFUIDisplay-Black.woff2") format("woff2"), url("../fonts/SFUIDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

.header {
  padding: 17px 0; }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__link {
  height: 40px; }

.header__logo {
  width: 170px;
  height: 40px; }

.header__toggle {
  display: none; }

@media screen and (max-width: 1200px) {
  .header__logo {
    width: 130px; }
  .header__button {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .header__flex {
    position: relative; }
  .header__toggle {
    position: absolute;
    top: 7px;
    right: 0;
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none; }
    .header__toggle--inactive {
      background: url("../img/nav.svg") no-repeat center; }
    .header__toggle--active {
      background: url("../img/nav-h.svg") no-repeat center; } }

.button {
  display: block;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background: #ff451c; }
  .button--small {
    width: 170px; }
  .button--medium {
    width: 270px; }
  .button--big {
    width: 370px; }
  .button--transparent {
    width: 168px;
    padding: 9px 0;
    color: #3d964e;
    font-weight: normal;
    border: 1px solid #3d964e;
    background: transparent; }
  .button--white {
    width: 268px;
    padding: 9px 0;
    font-weight: normal;
    border: 1px solid #fff;
    background: transparent; }
  .button--green {
    background: #3d964e; }

@media screen and (max-width: 1200px) {
  .button {
    font-size: 14px; }
    .button--small {
      width: 130px; }
    .button--transparent {
      width: 128px; } }

.nav {
  width: 670px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav__list li {
    position: relative; }
  .nav__list a {
    position: relative;
    padding: 25px 0;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .nav__list a:hover {
      color: #ff451c; }
    .nav__list a:after {
      content: '';
      position: absolute;
      top: 36px;
      right: -7px;
      width: 5px;
      height: 3px;
      background: url("../img/nav-arrow.svg"); }

.nav__sublist {
  position: absolute;
  top: 46px;
  width: 140px;
  margin: inherit;
  padding: 20px 25px;
  line-height: 30px;
  list-style: inherit;
  border-top: 1px solid #0060ff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-15%);
  transform: translateX(-15%);
  clip: rect(0, 0, 0, 0);
  z-index: 5; }
  .nav__sublist a {
    padding: 0;
    color: #4c4c4c; }
    .nav__sublist a:after {
      background: none; }

.nav__chat:after {
  background: none !important; }

.nav__active {
  color: #ff451c !important; }

.nav__list > li:hover .nav__sublist {
  clip: auto;
  opacity: 1; }

@media screen and (max-width: 1200px) {
  .nav {
    width: 550px; } }

@media screen and (max-width: 768px) {
  .nav {
    position: absolute;
    top: 57px;
    width: 100%;
    border-top: 1px solid #0060ff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 5; }
    .nav--active {
      clip: auto;
      opacity: 1; }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .nav__list a {
      display: inline-block;
      padding: 10px 0; }
      .nav__list a:after {
        top: 22px;
        right: -7px; }
  .nav__sublist {
    top: 40px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
    .nav__sublist a {
      padding: 0; } }

.slider {
  height: 800px;
  background: #309ce4 url("../img/slider-bg.jpg") no-repeat center;
  background-size: cover; }

.slider__box {
  height: 800px; }

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1170px;
  height: inherit;
  margin: auto;
  padding: 0 15px; }

.slider__text {
  width: 770px; }

.slider__title {
  margin: 0;
  color: #fff;
  font-size: 72px;
  font-weight: 700; }

.slider__desc {
  color: #fff;
  font-size: 30px;
  font-weight: normal; }

.slider__img {
  width: 355px;
  height: 606px; }
  .slider__img--basic {
    background: url("../img/basic.png") no-repeat center;
    background-size: cover; }

@media screen and (max-width: 1200px) {
  .slider {
    height: 600px; }
  .slider__box {
    height: 600px; }
  .slider__container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 95%;
    padding: 0; }
  .slider__text {
    width: 420px; }
  .slider__title {
    font-size: 40px; }
  .slider__desc {
    font-size: 20px; }
  .slider__img {
    width: 260px;
    height: 444px; } }

@media screen and (max-width: 768px) {
  .slider {
    height: 400px; }
  .slider__box {
    height: 400px; }
  .slider__text {
    width: auto;
    margin: auto; }
  .slider__title {
    font-size: 30px;
    text-align: center; }
  .slider__desc {
    font-size: 16px;
    text-align: center; }
  .slider__button {
    margin: auto; }
  .slider__img {
    display: none; } }

.info {
  padding: 120px 0; }

.info__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info__mockup {
  width: 515px;
  height: 351px;
  background: url("../img/info-mockup.png") no-repeat center;
  background-size: cover; }

.info__box {
  width: 570px; }

.info__title {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 600; }

.info__text {
  font-weight: 300; }
  .info__text:last-of-type {
    margin: 16px 0 30px 0; }

@media screen and (max-width: 1200px) {
  .info {
    padding: 100px 0; }
  .info__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .info__mockup {
    margin: 0 0 50px 0; } }

@media screen and (max-width: 768px) {
  .info {
    padding: 50px 0; }
  .info__mockup {
    width: 300px;
    height: 205px;
    margin: 0 0 20px 0; }
  .info__box {
    width: auto; }
  .info__title {
    font-size: 27px;
    text-align: center; }
  .info__button {
    margin: auto; } }

.services {
  padding: 0 0 50px 0;
  background: linear-gradient(-123deg, #f2f2f2 0%, #e0f7f9 52%, #cefbff 100%) no-repeat 0 0/100% 680px; }
  .services--account-programs {
    padding: 60px 0 50px 0;
    background: none; }
  .services--account {
    padding: 70px 0;
    background: none; }

.services__title {
  margin: 0;
  padding: 100px 0 0 0;
  font-size: 72px;
  font-weight: 600; }

.services__subtitle {
  margin: 55px 0 77px 0;
  font-size: 24px;
  font-weight: 300; }
  .services__subtitle--account-programs {
    margin: 50px 0 0 0; }

.services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 50px 0; }
  .services__flex--second {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid #ccc; }

.services__box {
  width: 215px;
  padding: 370px 0 0 0; }
  .services__box--basic {
    background: url("../img/basic-price.png") no-repeat top; }
  .services__box--advanced {
    background: url("../img/advanced-price.png") no-repeat top; }
  .services__box--expert {
    background: url("../img/expert-price.png") no-repeat top; }
  .services__box--pro {
    background: url("../img/pro-price.png") no-repeat top; }
  .services__box--ultimate {
    background: url("../img/ultimate-price.png") no-repeat top; }
  .services__box--crypto {
    background: url("../img/crypto-price.png") no-repeat top;
    background-size: contain; }
  .services__box--desc {
    width: 800px;
    padding: 0; }
    .services__box--desc h2 {
      margin: 0 0 30px 0;
      font-size: 30px;
      font-weight: 600; }
    .services__box--desc p {
      font-weight: 300; }
    .services__box--desc b {
      font-weight: 600; }
    .services__box--desc ul {
      padding: 0;
      font-weight: 300;
      list-style: inside; }

.services__name {
  margin: 0 0 30px 0;
  font-size: 23px;
  font-weight: 300;
  text-align: center; }
  .services__name b {
    font-weight: 700;
    text-transform: uppercase; }

.services__button {
  margin: auto; }
  .services__button:first-of-type {
    margin: 0 auto 20px auto; }

@media screen and (max-width: 1200px) {
  .services {
    background: linear-gradient(-123deg, #f2f2f2 0%, #e0f7f9 52%, #cefbff 100%) no-repeat 0 0/100% 450px; }
    .services--account-programs {
      background: none; }
  .services__title {
    font-size: 50px; }
  .services__subtitle {
    margin: 20px 0 30px 0;
    font-size: 20px; }
  .services__flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .services__box {
    margin: 30px 0 0 0;
    padding: 290px 0 0 0; }
    .services__box--basic {
      background-size: 170px; }
    .services__box--advanced {
      background-size: 170px; }
    .services__box--expert {
      background-size: 170px; }
    .services__box--pro {
      background-size: 170px; }
    .services__box--ultimate {
      background-size: 170px; }
    .services__box--crypto {
      background-size: 170px; }
    .services__box--desc {
      padding: 0; }
  .services__name {
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  .services {
    padding: 50px 0 0 0;
    background: linear-gradient(-123deg, #f2f2f2 0%, #e0f7f9 52%, #cefbff 100%) no-repeat 0/100%; }
    .services--account-programs {
      background: none; }
    .services--account {
      display: none; }
  .services__title {
    padding: 0;
    font-size: 30px;
    text-align: center; }
  .services__subtitle {
    margin: 16px 0 50px 0;
    font-size: 16px;
    text-align: center; }
  .services__flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0; }
    .services__flex--second {
      padding: 0;
      border: none; }
  .services__box {
    margin: 0 0 50px 0; }
    .services__box--desc {
      display: none; } }

.live {
  padding: 85px 0;
  background: #086cfc url("../img/live-bg.jpg") no-repeat center;
  background-size: cover; }
  .live--account-programs {
    padding: 60px 0;
    background: #086cfc url("../img/live-bg.jpg") no-repeat top;
    background-size: cover; }

.live__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.live__box {
  width: 730px; }
  .live__box--account-programs {
    width: auto; }

.live__title {
  margin: 0;
  color: #fff;
  font-size: 60px;
  font-weight: 600; }

.live__text {
  margin: 40px 0 70px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 300; }
  .live__text--account-programs {
    margin: 50px 0; }

.live__button {
  display: inline-block; }
  .live__button:first-of-type {
    margin: 0 30px 0 0; }

.live__mockup {
  width: 342px;
  height: 272px;
  background: url("../img/live-mockup.png") no-repeat center;
  background-size: cover; }

@media screen and (max-width: 1200px) {
  .live__box {
    width: 410px; }
    .live__box--account-programs {
      width: auto; }
  .live__title {
    font-size: 50px; }
  .live__text {
    font-size: 20px; }
  .live__button:first-of-type {
    margin: 0 0 10px 0; }
  .live__mockup {
    width: 300px;
    height: 240px; } }

@media screen and (max-width: 768px) {
  .live {
    padding: 50px 0; }
  .live__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .live__box {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: auto; }
  .live__title {
    font-size: 30px;
    text-align: center; }
  .live__text {
    margin: 16px 0 50px 0;
    font-size: 16px;
    text-align: center; }
  .live__button {
    display: block;
    margin: auto; }
    .live__button:first-of-type {
      margin: 0 auto 10px auto; }
  .live__mockup {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 20px 0; } }

.contact {
  padding: 100px 0; }
  .contact--inner {
    margin: 0 0 65px 0;
    padding: 0; }
  .contact--chat {
    padding: 50px 0;
    background: url("../img/contact-chat.jpg") no-repeat center/cover; }

.contact__title {
  margin: 0;
  font-size: 72px;
  font-weight: 600; }
  .contact__title--chat {
    font-size: 60px; }

.contact__subtitle {
  margin: 50px 0;
  font-size: 24px;
  font-weight: 300; }
  .contact__subtitle--chat {
    margin: 0 0 50px 0; }

.contact__form {
  width: 770px; }
  .contact__form--inner {
    width: auto; }

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 20px 0; }

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contact__left {
  width: 770px; }

.contact__double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 370px; }

.contact__input {
  width: 336px;
  height: 36px;
  padding: 0 15px;
  color: #505050;
  font-size: 15px;
  font-weight: normal;
  font-family: inherit;
  border: 2px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(18, 24, 61, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(18, 24, 61, 0.05);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none; }
  .contact__input--select {
    width: 370px;
    height: inherit;
    background: #fff url("../img/nav-arrow.svg") no-repeat 340px;
    background-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .contact__input--textarea {
    height: 78px;
    padding: 9px 15px;
    resize: none; }
  .contact__input--code {
    width: 36px; }
  .contact__input--phone {
    width: 236px; }
  .contact__input::-webkit-input-placeholder {
    color: #505050; }
  .contact__input:-ms-input-placeholder {
    color: #505050; }
  .contact__input::-ms-input-placeholder {
    color: #505050; }
  .contact__input::placeholder {
    color: #505050; }
  .contact__input:focus {
    border: 2px solid #636363;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(18, 24, 61, 0.1);
    box-shadow: 0px 4px 4px 0px rgba(18, 24, 61, 0.1); }

.contact__submit {
  display: block;
  margin: 40px 0 0 0;
  font-weight: normal;
  font-family: inherit;
  border: none; }

@media screen and (max-width: 1200px) {
  .contact__title {
    font-size: 50px; }
  .contact__subtitle {
    margin: 20px 0 50px 0;
    font-size: 20px; }
  .contact__form {
    width: 700px; }
    .contact__form--inner {
      width: auto; }
  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact__left {
    width: auto; }
  .contact__input {
    width: 300px; }
    .contact__input--select {
      width: 334px;
      background: transparent url("../img/nav-arrow.svg") no-repeat 305px;
      background-size: 10px; }
    .contact__input--textarea {
      width: 95%;
      margin: 40px 0 0 0; }
    .contact__input--code {
      width: 36px; }
    .contact__input--phone {
      width: 200px; }
  .contact__double {
    width: 334px; }
  .contact__submit {
    width: 334px; }
    .contact__submit--inner {
      margin: 40px auto 0 auto; } }

@media screen and (max-width: 768px) {
  .contact {
    padding: 50px 0; }
    .contact--inner {
      padding: 0;
      margin: 30px 0; }
  .contact__title {
    font-size: 30px;
    text-align: center; }
  .contact__subtitle {
    margin: 16px 0 50px 0;
    font-size: 16px;
    text-align: center; }
  .contact__form {
    width: 300px;
    margin: auto; }
  .contact__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0; }
  .contact__double {
    width: 300px; }
  .contact__input {
    width: 266px;
    margin: 0 0 10px 0; }
    .contact__input--select {
      width: 300px;
      height: 40px;
      background: transparent url("../img/nav-arrow.svg") no-repeat 270px;
      background-size: 10px; }
    .contact__input--code {
      width: 36px; }
    .contact__input--phone {
      width: 185px; }
  .contact__submit {
    width: 300px;
    margin: 10px 0 0 0; }
    .contact__submit--inner {
      margin: 10px 0 20px 0; } }

.payment {
  padding: 25px 0;
  background: #dbdbdb; }

.payment__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.payment__box {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .payment__box--visa {
    width: 80px;
    height: 25px;
    background: url("../img/payment-visa.svg") no-repeat center/cover; }
  .payment__box--mc {
    width: 74px;
    height: 45px;
    background: url("../img/payment-mc.svg") no-repeat center/cover; }
  .payment__box--ae {
    width: 112px;
    height: 39px;
    background: url("../img/payment-ae.svg") no-repeat center/cover; }
  .payment__box--neteller {
    width: 117px;
    height: 22px;
    background: url("../img/payment-neteller.svg") no-repeat center/contain; }
  .payment__box--paypal {
    width: 112px;
    height: 32px;
    background: url("../img/payment-paypal.svg") no-repeat center/cover; }
  .payment__box--skrill {
    width: 91px;
    height: 32px;
    background: url("../img/payment-skrill.svg") no-repeat center/cover; }
  .payment__box--ideal {
    width: 61px;
    height: 54px;
    background: url("../img/payment-ideal.svg") no-repeat center/cover; }
  .payment__box--bank {
    width: 54px;
    height: 54px;
    background: url("../img/payment-bank.svg") no-repeat center/cover; }
  .payment__box:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

@media screen and (max-width: 768px) {
  .payment {
    padding: 50px 0; }
  .payment__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .payment__box {
    margin: 0 0 30px 0; }
    .payment__box:last-child {
      margin: 0; } }

.footer {
  padding: 30px 0 0 0;
  background: #363636; }

.footer__logo {
  width: 170px;
  height: 39px; }

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__list {
  margin: 35px 0;
  padding: 0;
  color: #fff;
  list-style: none; }
  .footer__list b {
    display: block;
    margin: 0 0 20px 0;
    font-weight: 600; }
  .footer__list a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .footer__list a:hover {
      color: #ff451c; }

.footer__active {
  color: #ff451c !important; }

.footer__phone {
  display: block;
  padding: 0 0 15px 25px;
  background: url("../img/footer-phone.svg") no-repeat left top;
  background-size: 18px; }

.footer__email {
  display: block;
  padding: 0 0 15px 25px;
  background: url("../img/footer-email.svg") no-repeat left top;
  background-size: 20px; }

.footer__home {
  display: block;
  padding: 0 0 15px 25px;
  background: url("../img/footer-home.svg") no-repeat left top;
  background-size: 20px; }

.footer__chat {
  border-bottom: 1px solid #a2a2a2; }

.footer__hr {
  height: 1px;
  margin: 0;
  border: none;
  background: #707070; }

.footer__text {
  color: #cccccc;
  font-size: 14px;
  font-weight: normal; }
  .footer__text:first-of-type {
    margin: 0 0 14px 0;
    padding: 35px 0 0 0; }
  .footer__text:last-of-type {
    margin: 0;
    padding: 0 0 35px 0; }

.footer__copyright {
  padding: 20px 0;
  background: #2f2f2f; }

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__copy {
  color: #ccc;
  font-weight: normal; }

.footer__rules {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 200px;
  margin: 0 100px 0 0;
  padding: 0;
  color: #ccc;
  list-style: none; }
  .footer__rules a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .footer__rules a:hover {
      color: #ff451c; }

.footer__up {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: url("../img/footer-up.svg") no-repeat center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  outline: none; }
  .footer__up:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

@media screen and (max-width: 768px) {
  .footer__logo {
    display: block;
    margin: auto; }
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer__list {
    width: 200px;
    margin: 35px auto 0 auto;
    text-align: center; }
    .footer__list:last-child {
      margin: 35px auto; }
  .footer__phone,
  .footer__home,
  .footer__email {
    padding: 0 0 15px 0; }
  .footer__text {
    text-align: center; }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer__copy {
    margin: 30px 0; }
  .footer__rules {
    margin: 0; }
  .footer__up {
    position: relative;
    -webkit-animation: up 1s infinite alternate;
    animation: up 1s infinite alternate; }
  @-webkit-keyframes up {
    0% {
      top: -10px; }
    100% {
      top: 5px; } }
  @keyframes up {
    0% {
      top: -10px; }
    100% {
      top: 5px; } } }

.account {
  border-bottom: 1px solid #cccccc; }

.account__wrapper {
  margin: 0 0 30px 0;
  padding: 50px;
  border-radius: 4px; }
  .account__wrapper--basic {
    background: linear-gradient(-123deg, #eeeeee 0%, #f3f3f3 53%, #f7f7f7 100%); }
  .account__wrapper--advanced {
    background: linear-gradient(-123deg, #c3f9cf 0%, #dcfce3 36%, #f4fff7 100%); }
  .account__wrapper--expert {
    background: linear-gradient(-123deg, #d7e6ff 0%, #e6eefa 58%, whitesmoke 100%); }
  .account__wrapper--pro {
    background: linear-gradient(-123deg, #ffeec2 0%, #faf2dc 54%, whitesmoke 100%); }
  .account__wrapper--ultimate {
    background: linear-gradient(-123deg, #8850c6 0%, #bfa3de 58%, whitesmoke 100%); }
  .account__wrapper--crypto {
    background: linear-gradient(-123deg, #d5d0bc 0%, #e5e3d9 54%, whitesmoke 100%); }
  .account__wrapper:last-child {
    margin: 0 0 90px 0; }

.account__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .account__flex--second {
    margin: 20px 0 0 0; }

.account__img {
  width: 215px;
  padding: 350px 0 0 0; }
  .account__img p {
    font-size: 30px;
    font-weight: normal;
    text-align: center; }
    .account__img p b {
      font-weight: 700; }
  .account__img--basic {
    background: url("../img/basic-price.png") no-repeat top; }
  .account__img--advanced {
    background: url("../img/advanced-price.png") no-repeat top; }
  .account__img--expert {
    background: url("../img/expert-price.png") no-repeat top; }
  .account__img--pro {
    background: url("../img/pro-price.png") no-repeat top; }
  .account__img--ultimate {
    background: url("../img/ultimate-price.png") no-repeat top; }
  .account__img--crypto {
    background: url("../img/crypto-price.png") no-repeat top; }

.account__desc {
  width: 700px; }

.account__name {
  display: block;
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase; }

.account__text {
  font-weight: normal; }

.account__box {
  width: 180px;
  padding: 60px 0 0 0; }
  .account__box b {
    font-size: 14px;
    font-weight: normal; }
  .account__box--video {
    background: url("../img/video.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--reviews {
    background: url("../img/reviews.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--weekly {
    background: url("../img/weekly.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--room {
    background: url("../img/room.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--webinar {
    background: url("../img/webinar.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--demo {
    background: url("../img/demo.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--analysis {
    background: url("../img/analysis.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--learn {
    background: url("../img/learn.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--risk {
    background: url("../img/risk.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--session {
    background: url("../img/session.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--signal {
    background: url("../img/signal.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--live {
    background: url("../img/live.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--pers {
    background: url("../img/pers.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--market {
    background: url("../img/market.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--fund {
    background: url("../img/fund.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--bonus {
    background: url("../img/bonus.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--buy {
    background: url("../img/buy.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--altcoins {
    background: url("../img/altcoins.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--exch {
    background: url("../img/exch.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--exch {
    background: url("../img/exch.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--port {
    background: url("../img/port.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--behind {
    background: url("../img/behind.svg") no-repeat top left;
    background-size: 50px; }
  .account__box--secret {
    background: url("../img/secret.svg") no-repeat top left;
    background-size: 50px; }

.account__button {
  display: inline-block;
  margin: 40px 0 0 0; }
  .account__button:first-of-type {
    margin: 40px 30px 0 0; }

@media screen and (max-width: 1200px) {
  .account__wrapper {
    padding: 30px; }
  .account__desc {
    width: auto; }
  .account__flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .account__flex--edge {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

@media screen and (max-width: 768px) {
  .account {
    padding: 20px 0 0 0; }
  .account__wrapper:last-child {
    margin: 0 0 50px 0; }
  .account__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .account__desc {
    width: auto; }
  .account__name {
    text-align: center; }
  .account__box {
    margin: 0 0 30px 0;
    text-align: center; }
    .account__box--video {
      background: url("../img/video.svg") no-repeat top;
      background-size: 50px; }
    .account__box--reviews {
      background: url("../img/reviews.svg") no-repeat top;
      background-size: 50px; }
    .account__box--weekly {
      background: url("../img/weekly.svg") no-repeat top;
      background-size: 50px; }
    .account__box--room {
      background: url("../img/room.svg") no-repeat top;
      background-size: 50px; }
    .account__box--webinar {
      background: url("../img/webinar.svg") no-repeat top;
      background-size: 50px; }
    .account__box--demo {
      background: url("../img/demo.svg") no-repeat top;
      background-size: 50px; }
    .account__box--analysis {
      background: url("../img/analysis.svg") no-repeat top;
      background-size: 50px; }
    .account__box--learn {
      background: url("../img/learn.svg") no-repeat top;
      background-size: 50px; }
    .account__box--risk {
      background: url("../img/risk.svg") no-repeat top;
      background-size: 50px; }
    .account__box--session {
      background: url("../img/session.svg") no-repeat top;
      background-size: 50px; }
    .account__box--signal {
      background: url("../img/signal.svg") no-repeat top;
      background-size: 50px; }
    .account__box--live {
      background: url("../img/live.svg") no-repeat top;
      background-size: 50px; }
    .account__box--pers {
      background: url("../img/pers.svg") no-repeat top;
      background-size: 50px; }
    .account__box--market {
      background: url("../img/market.svg") no-repeat top;
      background-size: 50px; }
    .account__box--fund {
      background: url("../img/fund.svg") no-repeat top;
      background-size: 50px; }
    .account__box--bonus {
      background: url("../img/bonus.svg") no-repeat top;
      background-size: 50px; }
    .account__box--buy {
      background: url("../img/buy.svg") no-repeat top;
      background-size: 50px; }
    .account__box--altcoins {
      background: url("../img/altcoins.svg") no-repeat top;
      background-size: 50px; }
    .account__box--exch {
      background: url("../img/exch.svg") no-repeat top;
      background-size: 50px; }
    .account__box--exch {
      background: url("../img/exch.svg") no-repeat top;
      background-size: 50px; }
    .account__box--port {
      background: url("../img/port.svg") no-repeat top;
      background-size: 50px; }
    .account__box--behind {
      background: url("../img/behind.svg") no-repeat top;
      background-size: 50px; }
    .account__box--secret {
      background: url("../img/secret.svg") no-repeat top;
      background-size: 50px; }
    .account__box--hidden {
      display: none; }
  .account__button {
    display: block;
    margin: auto; }
    .account__button:first-of-type {
      margin: 40px auto 10px; } }

.account-programs__title {
  padding: 42px 0;
  background: linear-gradient(66deg, #0060ff 0%, #4ed2de 100%); }

.account-programs__name {
  margin: 0;
  color: #fff;
  font-size: 72px;
  font-weight: 700; }
  .account-programs__name--small {
    color: #000;
    font-size: 40px; }

.account-programs__subname {
  color: #fff;
  font-size: 30px;
  font-weight: normal; }

.account-programs__desc {
  padding: 40px 0 60px; }

.account-programs__flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 50px 0; }
  .account-programs__flex:last-child {
    margin: 0; }

.account-programs__left {
  width: 700px; }

.account-programs__right {
  position: absolute;
  top: -140px;
  right: 0;
  width: 290px;
  height: 480px; }
  .account-programs__right--basic {
    background: url("../img/basic.png") no-repeat top;
    background-size: cover; }
  .account-programs__right--advanced {
    background: url("../img/advanced.png") no-repeat top;
    background-size: cover; }
  .account-programs__right--expert {
    background: url("../img/expert.png") no-repeat top;
    background-size: cover; }
  .account-programs__right--pro {
    background: url("../img/pro.png") no-repeat top;
    background-size: cover; }
  .account-programs__right--ultimate {
    background: url("../img/ultimate.png") no-repeat top;
    background-size: cover; }
  .account-programs__right--crypto {
    background: url("../img/crypto.png") no-repeat top;
    background-size: contain; }

.account-programs__text {
  margin: 30px 0;
  font-weight: normal; }

.account-programs__price {
  margin: 0;
  font-size: 30px;
  font-weight: normal; }
  .account-programs__price b {
    font-weight: 700; }

.account-programs__guarantee {
  font-size: 18px;
  font-weight: normal; }

.account-programs__button {
  margin: 20px 0 0 0; }

.account-programs__edge {
  padding: 60px 0; }
  .account-programs__edge--basic {
    background: linear-gradient(-123deg, #eeeeee 0%, #f3f3f3 53%, #f7f7f7 100%); }
  .account-programs__edge--advanced {
    background: linear-gradient(-123deg, #c3f9cf 0%, #dcfce3 36%, #f4fff7 100%); }
  .account-programs__edge--expert {
    background: linear-gradient(-123deg, #d7e6ff 0%, #e6eefa 58%, whitesmoke 100%); }
  .account-programs__edge--pro {
    background: linear-gradient(-123deg, #ffeec2 0%, #faf2dc 54%, whitesmoke 100%); }
  .account-programs__edge--ultimate {
    background: linear-gradient(-123deg, #8850c6 0%, #bfa3de 58%, whitesmoke 100%); }
  .account-programs__edge--crypto {
    background: linear-gradient(-123deg, #f0bd7a 0%, #e5e3d9 54%, whitesmoke 100%); }

.account-programs__box {
  padding: 80px 0 0 0;
  width: 230px; }
  .account-programs__box b {
    font-size: 18px;
    font-weight: normal; }
  .account-programs__box--video {
    background: url("../img/video.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--reviews {
    background: url("../img/reviews.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--weekly {
    background: url("../img/weekly.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--room {
    background: url("../img/room.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--webinar {
    background: url("../img/webinar.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--demo {
    background: url("../img/demo.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--analysis {
    background: url("../img/analysis.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--learn {
    background: url("../img/learn.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--risk {
    background: url("../img/risk.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--session {
    background: url("../img/session.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--signal {
    background: url("../img/signal.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--live {
    background: url("../img/live.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--pers {
    background: url("../img/pers.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--market {
    background: url("../img/market.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--fund {
    background: url("../img/fund.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--bonus {
    background: url("../img/bonus.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--buy {
    background: url("../img/buy.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--altcoins {
    background: url("../img/altcoins.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--exch {
    background: url("../img/exch.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--exch {
    background: url("../img/exch.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--port {
    background: url("../img/port.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--behind {
    background: url("../img/behind.svg") no-repeat top left;
    background-size: 60px; }
  .account-programs__box--secret {
    background: url("../img/secret.svg") no-repeat top left;
    background-size: 60px; }

@media screen and (max-width: 1200px) {
  .account-programs__name {
    font-size: 50px; }
    .account-programs__name--small {
      font-size: 30px; }
  .account-programs__box {
    width: 190px; }
    .account-programs__box b {
      font-size: 16px; }
  .account-programs__left {
    width: 400px; }
  .account-programs__right {
    top: -100px;
    width: 260px;
    height: 458px; } }

@media screen and (max-width: 768px) {
  .account-programs__name {
    font-size: 30px;
    text-align: center; }
  .account-programs__subname {
    display: block;
    font-size: 18px;
    text-align: center; }
  .account-programs__edge {
    padding: 60px 0 0 0; }
  .account-programs__flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0; }
  .account-programs__left {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: auto; }
  .account-programs__right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    position: static;
    width: 300px;
    height: 515px;
    margin: auto; }
  .account-programs__price {
    text-align: center; }
  .account-programs__guarantee {
    display: block;
    text-align: center; }
  .account-programs__button {
    margin: 20px auto 0; }
  .account-programs__box {
    margin: 0 0 50px 0;
    text-align: center; }
    .account-programs__box--video {
      background: url("../img/video.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--reviews {
      background: url("../img/reviews.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--weekly {
      background: url("../img/weekly.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--room {
      background: url("../img/room.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--webinar {
      background: url("../img/webinar.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--demo {
      background: url("../img/demo.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--analysis {
      background: url("../img/analysis.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--learn {
      background: url("../img/learn.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--risk {
      background: url("../img/risk.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--session {
      background: url("../img/session.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--signal {
      background: url("../img/signal.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--live {
      background: url("../img/live.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--pers {
      background: url("../img/pers.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--market {
      background: url("../img/market.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--fund {
      background: url("../img/fund.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--bonus {
      background: url("../img/bonus.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--buy {
      background: url("../img/buy.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--altcoins {
      background: url("../img/altcoins.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--exch {
      background: url("../img/exch.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--exch {
      background: url("../img/exch.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--port {
      background: url("../img/port.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--behind {
      background: url("../img/behind.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--secret {
      background: url("../img/secret.svg") no-repeat top;
      background-size: 60px; }
    .account-programs__box--hidden {
      display: none; } }

.inner__title {
  padding: 42px 0;
  background: linear-gradient(66deg, #0060ff 0%, #4ed2de 100%); }

.inner__name {
  margin: 0;
  color: #fff;
  font-size: 72px;
  font-weight: 700; }
  .inner__name--small {
    margin: 55px 0 0 0;
    color: #000;
    font-size: 60px; }

.inner__text {
  margin: 50px 0;
  font-size: 24px;
  font-weight: 300; }

.inner__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.inner__mockup {
  width: 370px;
  height: 270px;
  background: url("../img/mockup-1.png") no-repeat center/contain; }

.inner__column {
  width: 680px; }

.inner__button {
  margin: 40px 0 0 0; }

.inner__desc {
  padding: 50px 0; }
  .inner__desc p {
    font-size: 16px;
    font-weight: 300; }
  .inner__desc h2 {
    margin: 50px 0 0 0;
    font-size: 30px;
    font-weight: 600; }
  .inner__desc h3 {
    margin: 70px 0 0 0;
    font-size: 60px; }

@media screen and (max-width: 1200px) {
  .inner__name {
    font-size: 50px; }
    .inner__name--small {
      font-size: 30px; } }

@media screen and (max-width: 768px) {
  .inner__name {
    font-size: 30px;
    text-align: center; }
    .inner__name--small {
      margin: 20px 0 0 0;
      font-size: 25px; }
  .inner__text {
    margin: 16px 0;
    font-size: 16px; }
  .inner__flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .inner__mockup {
    width: 300px;
    height: 230px; }
  .inner__column {
    width: auto; }
  .inner__button {
    margin: 40px auto 0; } }

.edge {
  padding: 100px 0; }

.edge__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.edge__box {
  width: 270px;
  padding: 150px 0 0 0;
  text-align: center; }
  .edge__box b {
    font-size: 24px;
    font-weight: 600; }
  .edge__box p {
    font-weight: normal; }
  .edge__box--copy {
    background: url("../img/edge-copy.svg") no-repeat top/130px; }
  .edge__box--time {
    background: url("../img/edge-time.svg") no-repeat top/130px; }
  .edge__box--full {
    background: url("../img/edge-full.svg") no-repeat top/130px; }

.edge__button {
  margin: 50px auto 0; }

@media screen and (max-width: 768px) {
  .edge {
    padding: 50px 0; }
  .edge__flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .edge__box {
    margin: 0 0 50px 0; }
    .edge__box:last-child {
      margin: 0; }
  .edge__button {
    width: 270px; } }

.scope {
  height: 770px;
  padding: 70px 0 0 0;
  background: linear-gradient(66deg, #0060ff 0%, #4ed2de 100%) 0 0/100% 700px no-repeat; }
  .scope h2 {
    margin: 0 0 50px 0;
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    text-align: center; }

.scope__img {
  height: 600px;
  background: url("../img/scope-bg.png") no-repeat top center; }

.scope__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .scope__flex--second {
    margin: 50px 0 0 0; }

.scope__box {
  width: 200px;
  margin: 80px 0 0 0;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-align: center; }
  .scope__box b {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    color: #0060ff;
    font-size: 60px;
    font-weight: 700;
    border-radius: 50%;
    background: #fff; }

.scope__box--right {
  position: relative; }
  .scope__box--right::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 130px;
    width: 200px;
    height: 1px;
    border-top: 1px solid #fff; }
  .scope__box--right::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 330px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff; }

.scope__box--left {
  position: relative; }
  .scope__box--left::after {
    content: '';
    position: absolute;
    top: 35px;
    right: 130px;
    width: 200px;
    height: 1px;
    border-top: 1px solid #fff; }
  .scope__box--left::before {
    content: '';
    position: absolute;
    top: 28px;
    right: 330px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff; }

@media screen and (max-width: 1200px) {
  .scope {
    height: auto;
    padding: 70px 0; }
  .scope__img {
    height: auto;
    background: none; }
  .scope__flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .scope__box {
    margin: 0 10px; }
  .scope__box--right::after, .scope__box--right::before,
  .scope__box--left::after,
  .scope__box--left::before {
    display: none; } }

@media screen and (max-width: 768px) {
  .scope {
    padding: 50px 0;
    background: linear-gradient(66deg, #0060ff 0%, #4ed2de 100%) no-repeat; }
    .scope h2 {
      font-size: 30px; }
  .scope__flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .scope__flex--second {
      margin: 0; }
      .scope__flex--second .scope__box:last-child {
        margin: 0; }
  .scope__box {
    margin: 0 0 50px 0; } }

.plan {
  padding: 0 0 100px 0; }

.plan__name {
  margin: 0 0 60px 0;
  font-size: 60px;
  font-weight: 600;
  text-align: center; }

.plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.plan__item {
  width: 370px;
  text-align: center;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#4dcfdf), to(#ff6d33));
  background: linear-gradient(0deg, #4dcfdf 0%, #ff6d33 100%); }
  .plan__item b {
    display: block;
    padding: 40px 0;
    color: #fff;
    font-size: 60px;
    font-weight: 700; }
    .plan__item b span {
      font-size: 30px;
      font-weight: 600; }

.plan__info {
  width: 290px;
  padding: 40px 30px;
  border-radius: 4px;
  background: linear-gradient(-77deg, #f2f2f2 0%, #e0f7f9 52%, #cefbff 100%);
  -webkit-box-shadow: 5px 0px 5px 0px rgba(18, 24, 61, 0.1);
  box-shadow: 5px 0px 5px 0px rgba(18, 24, 61, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .plan__info b {
    padding: 0;
    color: #000;
    font-size: 30px; }
  .plan__info p {
    margin: 40px 0 20px 0;
    font-weight: normal; }
  .plan__info ul {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none; }
    .plan__info ul hr {
      width: 70px;
      height: 1px;
      border: none;
      background: #40bee3; }
  .plan__info:hover {
    width: 310px; }

.plan__button {
  margin: auto; }

@media screen and (max-width: 1200px) {
  .plan {
    padding: 100px 0; }
  .plan__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .plan__item {
    margin: 0 0 50px 0; }
    .plan__item:last-child {
      margin: 0; } }

@media screen and (max-width: 768px) {
  .plan {
    padding: 50px 0; }
  .plan__name {
    font-size: 30px; }
  .plan__item {
    width: 300px; }
  .plan__info {
    width: 210px; }
    .plan__info:hover {
      width: 240px; } }

.comment {
  padding: 60px 0;
  background: #f4f6fa; }

.comment__name {
  margin: 0;
  font-size: 30px;
  font-weight: normal; }
  .comment__name span {
    font-weight: 600; }

.comment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 60px 0;
  padding: 0;
  list-style: none; }

.comment__item {
  width: 290px;
  padding: 30px 40px;
  border-radius: 4px;
  background: #fff; }
  .comment__item b {
    font-size: 24px;
    font-weight: 600; }
  .comment__item p {
    margin: 30px 0 50px 0;
    font-weight: normal; }

.comment__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.comment__img {
  width: 50px;
  height: 50px;
  background: #ccc url("../img/comment-1.jpg") no-repeat center; }

.comment__info {
  width: 200px; }
  .comment__info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none; }
    .comment__info ul li {
      width: 20px;
      height: 20px;
      background: url("../img/comment-star.svg"); }

.comment__button {
  margin: auto; }

@media screen and (max-width: 1200px) {
  .comment__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .comment__item {
    margin: 0 0 50px 0; }
    .comment__item:last-child {
      margin: 0; } }

@media screen and (max-width: 768px) {
  .comment {
    padding: 50px 0; }
  .comment__name {
    text-align: center; }
  .comment__item {
    width: 240px;
    padding: 30px; }
  .comment__info {
    width: 150px; }
  .comment__button {
    width: 270px; } }
