body {
  min-width: 320px;
  margin: 0;
}

.container {
  width: 1100px;
  margin: auto;
}

.container--header {
  width: 90%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

@media screen and ($tablet-widths) {
  .container {
    width: 95%;
  }
}

@media screen and ($mobile-widths) {}