<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XM-crypto</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__flex">
        <div class="header__left">
          <div class="header__nav">
            <ul>
              <li><a href="#">Trade</a></li>
              <li><a href="#">Media</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="header__right">
          <div class="header__user">
            <ul>
              <li><a href="#">Sign up</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">EN</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="title">
    <div class="container">
      <img class="title__logo" src="img/logo.png" alt="XM-crypto">
      <h3>Digital Currency<br>Real Value</h3>
      <div class="title__flex">
        <div class="title__left">
          <div class="title__box  title__box--bitcoin">
            <b>Bitcoin</b>
            <a href="#">Buy</a>
            <p>₪53 675,7 per BTC</p>
          </div>
        </div>
        <div class="title__right">
          <div class="title__box  title__box--ethereum">
            <b>Ethereum</b>
            <a href="#">Buy</a>
            <p>₪4 410,64 per ETH</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="info">
    <div class="container">
      <div class="info__flex">
        <div class="info__left">
          <p>If you have a business and you wish to accept Bitcoin as a payment option, while keeping your books in Shekel Dollar or Euro, we offer a «Checkout with Bitcoin» service for stores and online stores.</p>
          <p>If you have a business that needs to pay suppliers in Bitcoins, we have the perfect product for your business. Feel free to contact us, we will gladly help.</p>
        </div>
        <div class="info__center">
          <p>If you have a business and you wish to accept Bitcoin as a payment option, while keeping your books in Shekel Dollar or Euro, we offer a «Checkout with Bitcoin» service for stores and online stores.</p>
          <p>If you have a business that needs to pay suppliers in Bitcoins, we have the perfect product for your business. Feel free to contact us, we will gladly help.</p>  
        </div>
        <div class="info__right">
          <p>If you have a business and you wish to accept Bitcoin as a payment option, while keeping your books in Shekel Dollar or Euro, we offer a «Checkout with Bitcoin» service for stores and online stores.</p>
          <p>If you have a business that needs to pay suppliers in Bitcoins, we have the perfect product for your business. Feel free to contact us, we will gladly help.</p>    
        </div>
      </div>
    </div>
  </section>
  <section class="traders">
    <div class="container">
      <h3>For Traders</h3>
      <p>Our rates are the most competitivein Israel. We support same day Wire transfer, Cash transfers, with a layout of ever 150 branches, operate a Bitcoin ATM and offer you to purchase your Bitcoins using a Credit Card.</p>
    </div>
  </section>
  <section class="exchange">
    <div class="container">
      <div class="exchange__flex  exchange__flex--first">
        <div class="exchange__first">
          <label for="send">You Send</label>
          <input type="text" name="send" id="send" placeholder="ILS">
        </div>
        <div class="exchange__second">
          <button type="button" name="change"></button>
        </div>
        <div class="exchange__third">
          <label for="receive">You Receive</label>
          <input type="text" name="receive" id="receive" placeholder="BTC">
        </div>
        <div class="exchange__fourth">
          <button type="button" name="exchange">Exchange</button>
        </div>
      </div>
      <div class="exchange__flex  exchange__flex--second">
        <div class="exchange__left">
          <p>Available<br>payment methods</p>
        </div>
        <div class="exchange__middle"></div>
        <div class="exchange__right">
          <b>Credit Card</b>
          <p>From<br>172,06 to 17 206,02<br>ILS</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>