<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XM-crypto</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__flex">
        <div class="header__left">
          <div class="header__nav">
            <ul>
              <li><a href="#">Trade</a></li>
              <li><a href="#">Media</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="header__right">
          <div class="header__user">
            <ul>
              <li><a href="#">Sign up</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">EN</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>
</html>