body {
  min-width: 320px;
  margin: 0;
  font-family: 'Lato', sans-serif; }

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 1460px) {
  .container {
    width: 100%; } }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/lato-v14-latin-100.woff2") format("woff2"), url("../fonts/lato-v14-latin-100.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato-v14-latin-300.woff2") format("woff2"), url("../fonts/lato-v14-latin-300.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../fonts/lato-v14-latin-regular.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v14-latin-700.woff2") format("woff2"), url("../fonts/lato-v14-latin-700.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato-v14-latin-900.woff2") format("woff2"), url("../fonts/lato-v14-latin-900.woff") format("woff"); }

.title {
  background: #7581d1 url("../img/title-bg.jpg") no-repeat center/cover;
  overflow: hidden; }

.title__content {
  position: relative;
  padding: 130px 0 300px 0; }
  .title__content::after {
    content: '';
    position: absolute;
    top: 0;
    right: -320px;
    min-width: 864px;
    height: 645px;
    background: url("../img/title-mockup.png") no-repeat center/cover; }

.title__name {
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 70px;
  font-weight: 900; }

.title__text {
  margin: 0 0 30px 0;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px; }

.title__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 320px;
  height: 110px; }

.header {
  padding: 50px 0; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 180px;
  text-decoration: none;
  text-transform: uppercase; }

.nav__text {
  margin: 0;
  color: #fefeff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2.5px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style: none; }

.nav__item {
  position: relative;
  padding: 5px 0;
  color: #fefeff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none; }
  .nav__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .nav__item:hover::before {
    width: 100%; }

.button {
  display: block;
  padding: 12px 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .button--small {
    width: 150px; }
  .button--medium {
    width: 320px; }
  .button--orange {
    background: #ff6900; }
    .button--orange:hover {
      background: #ff7f26; }
  .button--violet {
    background: #7581d1; }
    .button--violet:hover {
      background: #8a94d8; }
  .button--facebook {
    position: relative;
    color: #23589B;
    background: #fff; }
    .button--facebook:hover {
      color: #fff;
      background: #23599b; }
    .button--facebook:hover::before {
      background: url("../img/facebook-hover.svg") no-repeat center/contain; }
    .button--facebook::before {
      content: '';
      position: absolute;
      top: 11px;
      left: 70px;
      width: 8px;
      height: 15px;
      background: url("../img/facebook.svg") no-repeat center/contain; }
