@font-face {
  font-family: "Microsoft";
  src: url("../font/Microsoft.ttc"); }

body {
  margin: 0;
  font-family: "Microsoft", "Arial", sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto; }

form {
  width: 380px;
  background: transparent; }

.page-footer__group {
  position: relative;
  margin-bottom: 20px; }

input,
textarea {
  display: block;
  font-size: 22px;
  padding: 10px 10px 10px 5px;
  background: transparent;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  resize: none; }

input:focus,
textarea:focus {
  outline: none; }

label {
  color: #fff;
  font-size: 22px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

input:focus ~ label, input.used ~ label {
  top: -15px;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  left: -2px;
  color: #fff; }

textarea:focus ~ label, textarea.used ~ label {
  top: -10px;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  left: -15px;
  color: #fff; }

.page-footer__button {
  padding: 20px 0;
  margin-top: 10px;
  width: 395px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  background: #ed9b34;
  border: 0;
  cursor: pointer; }

@media only screen and (max-width: 768px) {
  .page-footer__button {
    width: 360px; }
  input,
  textarea {
    width: 345px; } }

@media only screen and (max-width: 480px) {
  .page-footer__us {
    display: none; } }

@media only screen and (max-width: 320px) {
  .page-footer__button {
    width: 250px; }
  input,
  textarea {
    width: 235px; }
  form {
    width: 235px;
    margin: auto; }
  .page-footer__form p {
    text-align: center; } }

.page-header {
  min-height: 768px;
  background: url("../img/bg_2120.png") no-repeat center;
  background-size: cover; }
  .page-header__title {
    margin-top: 180px;
    font-size: 55px;
    font-weight: bold;
    line-height: 66px;
    text-align: center;
    color: #fff; }
  .page-header__logo {
    width: 168px;
    height: 72px; }

.page-header__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 48px; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.main-nav__item a {
  padding: 0 10px;
  padding-bottom: 6px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .main-nav__item a:hover {
    border-bottom: 5px solid #ed9b34; }

.page-header__hr hr {
  width: 98px;
  height: 8px;
  margin-top: 60px;
  background: #ed9b34;
  border: none;
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg); }

.page-header__down {
  width: 76px;
  height: 77px;
  margin: 0 auto;
  margin-top: 150px;
  background: url("../img/arrow.png") no-repeat bottom; }
  .page-header__down a {
    display: block;
    width: 76px;
    height: 77px;
    font-size: 18px;
    color: #fff;
    text-decoration: none; }

.page-header__chat {
  position: absolute;
  right: 21px;
  bottom: 0;
  width: 245px;
  height: 77px; }

.page-header__abs {
  position: relative; }

.page-header__bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@media only screen and (max-width: 992px) {
  .container {
    width: 850px; }
  .page-header__down {
    margin-top: 150px; } }

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0; }
  .page-header__flex-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .page-header__logo {
    display: none; }
  .page-header__down {
    margin-top: 100px; }
  .page-header__chat {
    display: none; } }

@media only screen and (max-width: 480px) {
  .main-nav__item a {
    padding: 0 5px;
    font-size: 14px; }
  .page-header__title {
    padding: 0 10px;
    font-size: 50px; } }

@media only screen and (max-width: 320px) {
  .main-nav {
    display: none; }
  .page-header__title {
    margin-top: 90px;
    font-size: 40px; } }

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .page-header {
    min-height: 850px; }
  .page-header__title {
    padding: 0 10px;
    font-size: 35px; }
  .main-nav__item {
    padding: 10px 0; }
  .main-nav__item a {
    font-size: 15px; }
  .main-nav__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.about-us {
  min-height: 1520px;
  background: #f5f5f5; }
  .about-us__title {
    position: relative;
    margin: 0;
    margin-bottom: 70px;
    padding-top: 104px;
    font-size: 55px;
    font-weight: 900; }
    .about-us__title::after {
      content: "";
      position: absolute;
      bottom: 15px;
      width: 98px;
      height: 8px;
      background: #ed9b34;
      border: none;
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg); }

.about-us__text {
  margin-bottom: 35px;
  color: #383838;
  font-size: 22px;
  font-weight: bold; }

.about-us__first-line {
  margin-bottom: 60px; }

.about-us__second-line {
  margin-bottom: 50px; }

.about-us__first-line,
.about-us__second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.about-us__item {
  width: 450px;
  height: 177px; }
  .about-us__item p {
    padding-top: 25px;
    color: #fff;
    text-align: center;
    font-size: 22px; }

.about-us__item--box-1 {
  background: url("../img/img1.png"); }

.about-us__item--box-2 {
  background: url("../img/img2.png"); }

.about-us__item--box-3 {
  background: url("../img/img3.png"); }

.about-us__item--box-4 {
  background: url("../img/img4.png"); }

.about-us__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.about-us__left-column,
.about-us__right-column {
  width: 460px; }

@media only screen and (max-width: 992px) {
  .about-us__item {
    width: 410px; }
  .about-us__first-line {
    margin-bottom: 30px; } }

@media only screen and (max-width: 768px) {
  .about-us {
    min-height: 1480px; }
  .about-us__item {
    width: 360px; }
  .about-us__title {
    padding-top: 40px; }
  .about-us__title,
  .about-us__text {
    padding-left: 10px; }
  .about-us__first-line,
  .about-us__second-line {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .about-us__item p {
    font-size: 20px; }
  .about-us__first-line {
    margin-bottom: 10px; }
  .about-us__second-line {
    margin-bottom: 20px; } }

@media only screen and (max-width: 480px) {
  .about-us__item {
    width: 220px; }
  .about-us__item p {
    padding-top: 0;
    font-size: 20px; } }

@media only screen and (max-width: 320px) {
  .about-us__title {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 35px; }
  .about-us__first-line,
  .about-us__second-line {
    display: none; }
  .about-us__flex-container {
    margin-top: -20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .about-us__left-column,
  .about-us__right-column {
    width: 100%; } }

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .about-us__item {
    width: 260px; } }

.product {
  min-height: 940px;
  background: url("../img/products_bg_2120.png") no-repeat; }
  .product__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 70px;
    padding-top: 110px;
    color: #fff;
    font-size: 55px; }
    .product__title::after {
      content: "";
      position: absolute;
      bottom: 10px;
      width: 98px;
      height: 8px;
      background: #ed9b34;
      border: none;
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg); }

.product__text {
  color: #fff;
  font-size: 22px; }

.product__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .product__flex-container p {
    margin-bottom: 60px; }

.product__middle-column {
  width: 410px;
  height: 500px;
  background: url("../img/img5.png") no-repeat center; }

@media only screen and (max-width: 768px) {
  .product {
    min-height: 800px; }
  .product__flex-container {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .product__title {
    padding-top: 40px;
    padding-left: 10px; }
  .product__middle-column {
    display: none; }
  .product__text {
    text-align: center; } }

@media only screen and (max-width: 320px) {
  .product__title {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 35px; }
  .product__title::after {
    top: 60px;
    right: 0; }
  .product__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.advantage {
  min-height: 526px;
  background: #f5f5f5; }
  .advantage__item {
    width: 300px;
    padding-top: 80px;
    margin-top: 109px;
    font-size: 22px;
    text-align: center; }

.advantage__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.advantage__item--box-1 {
  background: url("../img/icon3.png") no-repeat top; }

.advantage__item--box-2 {
  background: url("../img/icon1.png") no-repeat top; }

.advantage__item--box-3 {
  background: url("../img/icon2.png") no-repeat top; }

@media only screen and (max-width: 768px) {
  .advantage {
    min-height: 450px; }
  .advantage__item {
    margin-top: 40px; }
  .advantage__flex-container {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media only screen and (max-width: 480px) {
  .advantage {
    min-height: 1120px; }
  .advantage__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .advantage__item {
    margin: auto;
    margin-top: 40px; } }

.payment {
  min-height: 880px;
  background: url("../img/products_bg_2120.png") no-repeat bottom; }
  .payment__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 109px;
    color: #fff;
    font-size: 30px; }
    .payment__title::after {
      content: "";
      position: absolute;
      bottom: 10px;
      width: 59px;
      height: 5px;
      background: #ed9b34;
      border: none;
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg); }

.payment__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product__text {
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
  font-size: 22px; }

.payment__right-column {
  width: 350px;
  height: 310px;
  margin-top: 40px;
  background: url("../img/img6.png"); }

@media only screen and (max-width: 768px) {
  .payment {
    min-height: 1160px; }
  .payment__title {
    padding-top: 40px; }
  .payment__title,
  .product__text--adaptive {
    padding-left: 10px;
    text-align: left; }
  .product__text--adaptive {
    margin-bottom: 50px; }
  .payment__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .payment__right-column {
    margin: auto; }
  .payment__left-column {
    margin-top: 30px; } }

@media only screen and (max-width: 480px) {
  .payment {
    min-height: 1300px; } }

@media only screen and (max-width: 320px) {
  .payment {
    min-height: 1360px; }
  .payment__title {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 25px; }
  .payment__title::after {
    top: 60px;
    right: 0;
    width: 98px;
    height: 8px; }
  .payment__right-column {
    display: none; } }

.team {
  min-height: 1593px;
  background: #f5f5f5;
  margin-top: -30px; }
  .team__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 65px;
    padding-top: 103px;
    color: #383838;
    font-size: 55px; }
    .team__title::after {
      content: "";
      position: absolute;
      bottom: 20px;
      width: 98px;
      height: 8px;
      background: #ed9b34;
      border: none;
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg); }

.team__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }

.team__photo {
  width: 299px;
  height: 350px;
  -webkit-box-shadow: 8.6px 12.3px 40px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 8.6px 12.3px 40px 5px rgba(0, 0, 0, 0.2); }
  .team__photo--frazer {
    background: url("../img/frazer.png"); }
  .team__photo--mark {
    background: url("../img/mark.png"); }
  .team__photo--peter {
    background: url("../img/peter.png"); }

.team__desc {
  padding-top: 265px;
  padding-left: 38px;
  color: #fff;
  font-size: 18px; }
  .team__desc span {
    font-size: 22px;
    font-weight: bold; }

.team__text {
  width: 590px;
  color: #383838;
  font-size: 22px; }
  .team__text--bold {
    font-weight: bold; }
  .team__text--left {
    text-align: right; }
  .team__text p {
    margin-top: 0; }

@media only screen and (max-width: 992px) {
  .team {
    min-height: 1700px; }
  .team__text {
    width: 500px; } }

@media only screen and (max-width: 768px) {
  .team {
    min-height: 1400px; }
  .team__title {
    padding-top: 40px;
    padding-left: 10px; }
  .team__text {
    width: 400px;
    font-size: 18px; }
  .team__flex-container {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media only screen and (max-width: 480px) {
  .team {
    min-height: 2600px; }
  .team__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .team__photo {
    margin: auto;
    margin-bottom: 40px; }
  .team__text {
    margin: auto; }
  .team__text--left {
    -webkit-box-ordinal-group: 21;
    -ms-flex-order: 20;
    order: 20; }
  .team__photo--mark {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; } }

@media only screen and (max-width: 320px) {
  .team__title {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 30px; }
  .team__title::after {
    top: 68px;
    right: 0; }
  .team__photo {
    width: 270px; }
  .team__text {
    width: 100%; } }

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .team__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .team__text--left {
    -webkit-box-ordinal-group: 21;
    -ms-flex-order: 20;
    order: 20; }
  .team__photo--mark {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .team__photo {
    margin: auto;
    margin-bottom: 40px; }
  .team__text {
    margin: auto; } }

.page-footer {
  min-height: 818px;
  margin-top: 0;
  color: #fff;
  background: url("../img/map_2120.png") no-repeat;
  background-size: cover;
  margin-top: -40px; }
  .page-footer__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 109px;
    color: #fff;
    font-size: 55px; }
    .page-footer__title::after {
      content: "";
      position: absolute;
      bottom: 10px;
      width: 98px;
      height: 8px;
      background: #ed9b34;
      border: none;
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg); }

.page-footer__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.page-footer__us p {
  font-size: 22px; }

.page-footer__address {
  width: 310px;
  margin-bottom: 60px;
  text-decoration: underline; }

.page-footer__phone,
.page-footer__email {
  position: relative;
  padding-left: 70px;
  margin-bottom: 40px; }

.page-footer__phone::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 47px;
  top: -10px;
  left: 15px;
  background: url("../img/phone.png"); }

.page-footer__email::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 29px;
  top: -2px;
  left: 5px;
  background: url("../img/email.png") no-repeat; }

.page-footer__form p {
  font-size: 22px;
  font-weight: bold; }

@media only screen and (max-width: 768px) {
  .page-footer {
    min-height: 700px; }
  .page-footer__title {
    padding-top: 40px; }
  .page-footer__flex-container {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .page-footer__phone,
  .page-footer__email {
    font-size: 20px !important; }
  .page-footer__title {
    padding-left: 10px; } }

@media only screen and (max-width: 320px) {
  .page-footer__title {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 40px; }
  .page-footer__title::after {
    top: 55px;
    right: 0; } }

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .page-footer__us {
    display: none; } }
