@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Regular'), local('Akrobat-Regular'),
      url('../fonts/Akrobat-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Bold'), local('Akrobat-Bold'),
      url('../fonts/Akrobat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}