.address {
  background: #f7f7f7;
}

.address__wrapper {
  position: relative;
}

.address__map {
  width: 100%;
  height: 650px;
}

.address__img {
  width: 100%;
}

.address__content {
  position: absolute;
  top: 50px;
  right: 300px;
  padding: 30px 50px;
  box-shadow: 0px 3px 16px 0px rgba(71, 75, 87, 0.35);
  border: 2px solid #a68417;
  background: #fff;
}

.address__hotel {
  color: $main-red;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Book Antiqua', 'Open Sans', 'Arial', sans-serif;
}

.address__text {
  color: #414141;
  font-size: 24px;
  font-weight: normal;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .address__content {
    display: none;
  }
}