.form {
  // width: 735px;
}

.form__wrapper {
  @include display-flex;
  justify-content: space-between;
}

.form__input {
  margin: 0 0 40px 0;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: normal;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #dcc1ad;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    color: $main-red;
    border-bottom: 1px solid $main-red;
    
    &::placeholder {
      color: $main-red;
    }
  }
  
  &::placeholder {
    color: #a9a8a8;
    text-align: center;
    transition: 0.3s;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .form__wrapper {
    flex-direction: column;
  }
}