.participants {
  padding: 200px 0;
  background: url('../img/participants-bg.png') no-repeat center / cover;
}

.participants__item {
  margin: 0 0 10px 0;
}

@media screen and ($mobile-widths) {
  .participants {
    background: url('../img/participants-bg.png') no-repeat left / cover;
  }
}