.programs {
  padding: 30px 0 0 0;
}

.programs__list {
  @include display-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include clear-list;
}

.programs__item {
  box-sizing: border-box;
  width: 370px;
  margin: 0 0 40px 0;
  padding: 10px 30px 35px 30px;
  box-shadow: 0px 18px 16px 0px rgba(225, 228, 231, 0.6);
  transition: 0.3s;
  
  &:hover,
  &:focus {
    box-shadow: 0px 35px 49.6px 12.4px rgba(1, 26, 76, 0.4);
  }
}

.programs__img {
  width: 100%;
  margin: 0 0 20px 0;
}

.programs__heading {
  margin: 0 0 30px 0;
  color: #12161b;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

.programs__text {
  margin: 0 0 40px 0;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}