.thankyou {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../img/thankyou-bg.jpg') no-repeat center / cover;
}

.thankyou__text {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  
  &--bold {
    font-weight: bold;
  }
  
  &--small {
    font-size: 16px;
    text-align: inherit;
  }
}

.thankyou__divider {
  width: 150px;
  height: 2px;
  margin: 30px auto;
  border: none;
  background: $main-red;
}

.thankyou__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}
