.title {
  padding: 180px 0 0 0;
  background: url('../img/title-bg.png') no-repeat center / contain;
  
  &--partner {
    padding: 230px 0;
    background: url('../img/title-bg-partner.png') no-repeat 100px 0 / contain;
  }
}

.title__wrapper {
  width: 760px;
  
  &--partner {
    margin: 0 0 0 auto;
  }
}

.title__flex {
  @include display-flex;
  margin: 0 0 50px 0;
}

.title__text {
  color: #3e3e3e;
  font-size: 20px;
  font-weight: normal;
  
  &:first-child {
    padding: 0 40px 0 0;
    border-right: 2px solid $main-red;
  }
  
  &:last-child {
    padding: 0 0 0 40px;
  }
}

@media screen and ($tablet-widths) {
  .title {
    background: #fff;
  }
  
  .title__wrapper {
    width: 700px;
  }
}

@media screen and ($mobile-widths) {
  .title {
    padding: 150px 0 50px 0;
    background: #fff url('../img/title-bg-mobile.jpg') no-repeat center / cover;
  }
  
  .title__wrapper {
    width: 100%;
  }
  
  .title__flex {
    flex-direction: column;
  }
  
  .title__text {
    font-size: 16px;
    text-align: center;
    
    &:first-child {
      margin: 0;
      padding: 0 0 20px 0;
      border-right: none;
      border-bottom: 2px solid $main-red;
    }
    
    &:last-child {
      margin: 0;
      padding: 20px 0 0 0;
    }
  }
}