.features__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-top: 110px;
  background-repeat: no-repeat;
  background-position: top;
  
  &:nth-child(1) {
    background-image: url('../img/svg/feature-1.svg');
  }
  
  &:nth-child(2) {
    background-image: url('../img/svg/feature-2.svg');
  }
  
  &:nth-child(3) {
    background-image: url('../img/svg/feature-3.svg');
  }
  
  &:nth-child(4) {
    background-image: url('../img/svg/feature-4.svg');
  }
}

.features__name {
  color: $text;
  font-size: 20px;
  font-weight: 500;
}

.features__text {
  margin-top: 5px;
  margin-bottom: 0;
  color: $text;
  font-size: 18px;
  font-weight: normal;
}

@media screen and ($tablet-widths) {
  .features__list {
    align-items: flex-start;
  }
  
  .features__item {
    width: 300px;
    text-align: center;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .features__name {
    font-size: 18px;
  }
  
  .features__text {
    font-size: 16px;
  }
}

@media screen and ($mobile-widths) {
  .features {
    margin-bottom: 0;
  }
  
  .features__list {
    flex-direction: column;
  }
  
  .features__item {
    width: 100%;
    margin-bottom: 30px;
  }
}