body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Display', sans-serif;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and ($tablet-widths) {
  .container {
    width: 100%;
    
  }
}

@media screen and ($mobile-widths) {}