html,
body {
    min-width: 1122px;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    background: #000000 url("../img/tint.png") no-repeat center top;
    color: #ffffff;
    min-width: 960px;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
}


.inner-page {
    color: #000000;
    background: #f8f3f0 url(../img/bg-price.png) repeat;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    margin-bottom: 60px;
    color: #ffffff;
    background-color: #000000;
}

.inner-page .main-header {
    margin-bottom: 55px;
}

.inner-page-title {
    margin-bottom: 55px;
}

.inner-page-title h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 40px;
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
} 

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .current {
    color: #aba9a7;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 14px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg);
}

.breadcrumbs .current::after {
    display: none;
}

.inner-content {
    margin-bottom: 75px;
}

.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.inner-content p {
    margin: 14px 0;
}

.inner-content table {
    border-collapse: collapse;
}

.inner-content td {
    padding: 10px 15px;
    border: 2px solid #000000;
}


.big-heading {
    margin-top: 55px;
    margin-bottom: 65px;
    text-align: center;
}

.big-heading h2 {
    position: relative;
    display: inline;
    margin: 0;
    padding: 0 25px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    background: #f8f3f0 url("../img/bg-price.png") repeat;
    z-index: 2;
}

.big-heading::after {
    content: "";
    position: relative;
    top: -25px;
    display: block;
    border-bottom: 2px solid #000000;
    z-index: 1;
}

.custom-list-1 {
    margin: 14px 0;
    padding: 0;
    list-style: none;
}

.custom-list-1 li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.custom-list-1 li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg);
}

.prices-table {
    width: 100%;
}

.prices-table td {
    width: 50%;
}

.prices-table td:last-child {
    text-align: center;
}

.inner-columns {
    margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
    width: 460px;
}

.inner-column-left{
    float: left;
}

.inner-column-right{
    float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
    margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
    margin-bottom: 0;
}

.short-text {
    padding-right: 80px;
}


.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation {
    float: left;
    width: 780px;
    min-height: 70px;
}

.main-navigation .logo-inner {
    float: left;
    width: 111px;
    height: 20px;
    padding-top: 22px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation .logo-inner:hover {
    background: none;
}

.main-navigation .active {
    position: relative;
    background-color: none;
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 5px;
    background-color: #ffffff;
}

.main-navigation .active a:hover {
    background: none;
}

.main-navigation .active span {
    display: block;
    padding: 25px 20px;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation a:hover {
    background: #242424;
}

.user-block {
    float: right;
    max-width: 140px;
}

.login {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 25px 20px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: transparent url("../img/icon-login.png") no-repeat;
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.features-name {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    padding-bottom: 35px;
}

.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000000;
    background: url("../img/sh.png") no-repeat center, #f8f5f2 url("../img/bg.png");
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.index-content-left {
    float: left;
    width: 380px;
    min-height: 330px;
}

.index-content-right {
    float: right;
    width: 300px;
    min-height: 330px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    list-style: none;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: none;
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding: 10px 33px;
    vertical-align: top;
    text-align: center;
    margin-right: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 
        background-position 0.5s,
        background-color 0.5s;
}

.btn:hover,
.btn:active {
    background-color: #242424;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000000;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    color: #000000;
    text-transform: uppercase;
    width: 106px;
    padding: 7px 15px;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.appointment-form input:focus {
    border: 2px solid #242424;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #ffffff;
    background: #252525 url("../img/footer.png");
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    min-height: 90px;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;
    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    transition: 
        background-position 0.5s,
        background-color 0.5s;
}

.social-btn-vk {
    background: #000000 url(../img/v.png) no-repeat center;
}

.social-btn-fb {
    background: #000000 url(../img/f.png) no-repeat center;
}

.social-btn-inst {
    background: #000000 url(../img/i.png) no-repeat center;
}

.social-btn-vk:hover {
    background: #ffffff url(../img/v-copy.png) no-repeat center;
}

.social-btn-fb:hover {
    background: #ffffff url(../img/f-copy.png) no-repeat center;
}

.social-btn-inst:hover {
    background: #ffffff url(../img/i-copy.png) no-repeat center;
}

.footer-copyright {
    float: right;
    width: 180px;
    max-width: 180px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
    margin-left: 15px;
}

.footer-copyright .btn:hover {
    color: #000000;
    background-color: #ffffff;
}

.modal-content {
    position: fixed;
    display: none;
    top: 120px;
    left: 50%;
    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
    color: #000000;
    background: #f8f3f0 url("../img/bg-price.png");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 20;
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.modal-content p {
    margin: 0;
    margin-bottom: 14px;
}

.modal-content .login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 236px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-form input.icon-user {
    background-image: url(../img/User.png);
    background-repeat: no-repeat;
    background-position: 265px;
}

.login-form input.icon-password {
    background-image: url(../img/Locked.png);
    background-repeat: no-repeat;
    background-position: 265px;
}

.login-form .restore {
    float: right;
    color: #000000;
}

.login-form .btn {
    width: 100%;
    margin-top: 15px;
}

.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.login-checkbox:hover {
    color: #663d15;
}

.login-checkbox input[type="checkbox"] {
    display: none;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

.modal-content-map {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -390px;
    width: 766px;
    height: 561px;
    border: 7px solid white;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 20;
    display: none;
}

.modal-content-map-show {
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-overlay-show {
    display: block;
}

.modal-content-show {
    display: block;
}