<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - Cryptologi</title>
  <link rel="stylesheet" href="../css/crypto.css">
  <link rel="stylesheet" href="../css/media.css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../img/favicon/site.webmanifest">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <header class="page-header  page-header--about">
    <div class="container">
      <div class="page-header__flex-container">
        <div class="page-header__logo">
          <a href="../index.html">
            <img class="page-header__logo-full" src="../img/n-logo.png" alt="CryptoLogi">
          </a>
        </div>
        <div class="page-header__menu">
          <nav class="page-header__main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a href="https://client.cryptologi.com/en/members/login">LOGIN</a></li>
              <li class="main-nav__item"><a href="contact.html">CONTACT</a></li>
              <li class="main-nav__item"><a href="https://client.cryptologi.com/en/members/register/real/">LOG UP</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="page-main  page-main--about">
    <div class="container">
      <div class="container__adv  container__adv--pm">
        <h1>About Us</h1>
        <p class="page-main__about--title">Cryptologi cryptocurrency exchange puts you first</p>
        <p>Founded in 2017, Cypriot - based Cryptologi is a leading Bitcoin exchange in euro volume and liquidity and offering trading other cryptocurrency tokens. Cryptologi is consistently rated in the same line with the best and most secure Bitcoin exchange and develop high-end technologies solutions for the crypto market.</p>
        <p>We partner with the most trusted liquidity providers and trusted by hundreds of thousands of traders around the world.</p>
        <p class="page-main__about--title">Transparency</p>
        <p>We believe transparency is a crucial demand as we are committed to the prices and transactions and for the processing of orders in our platforms.</p>
        <p class="page-main__about--title">Professionalism</p>
        <p>We are dedicated to our product and your experience.</p>
        <p class="page-main__about--title">Guarantee</p>
        <p class="page-main--pb">Your funds and tokens are guaranteed with a segregated account, separate from client funds and audited by respected accountants and nominee.</p>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex-container">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="https://client.cryptologi.com/en/members/login">Log In</a></li>
            <li><a href="https://client.cryptologi.com/en/members/register/real/">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a class="page-footer--active">About Us</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="security.html">Security</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="legal.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
            <li><a href="support.html">Support</a></li>
            <!-- <li><a href="template/trading.html">Trading Guide</a></li> -->
            <!-- <li><a href="template/disclaimer.html">Disclaimer</a></li> -->
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">Cryptologi is an online trading and exchange platform ONLY. It does not carry out any substantial review or independent scrutiny of any blockchain asset, cryptocurrency or related funds. Every client is fully and solely responsible for evaluating your assets and deciding whether or not you want to carry out a blockchain asset exchange with Cryptologi. In so many instances, the blockchain asset you decide to exchange or trade on the basis of your personal findings may not increase or decrease in value, however, the asset you have exchanged on the basis of your research may increase in value after the exchange. The past performances do not affect future results. Any investment in any cryptocurrency or blockchain asset involves the risk of the possibility of a loss of part or all of your investment. The value of the asset you trade or exchange is subject to market risk and other forms of investment risk.</p>
    </div>
  </footer>
</body>
</html>
