<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Terms - Cryptologi</title>
  <link rel="stylesheet" href="../css/crypto.css">
  <link rel="stylesheet" href="../css/media.css">
</head>
<body>
  <header class="page-header  page-header--about">
    <div class="container">
      <div class="page-header__flex-container">
        <div class="page-header__logo">
          <a href="../index.html">
            <img class="page-header__logo-full" src="../img/n-logo.png" alt="CryptoLogi">
          </a>
        </div>
        <div class="page-header__menu">
          <nav class="page-header__main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a href="https://client.cryptologi.com/en/members/login">LOGIN</a></li>
              <li class="main-nav__item"><a href="contact.html">CONTACT</a></li>
              <li class="main-nav__item"><a href="https://client.cryptologi.com/en/members/register/real/">LOG UP</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="page-main  page-main--terms">
    <div class="container">
      <div class="container__adv  container__adv--pm">
        <h1>Disclaimer</h1>
        <p>You should familiarize yourself with the things listed here. When you enter the website and its sub-domains, you are accepting to abide by the stated terms and conditions. In case you are in a disagreement with them, then you should not enter the website.</p>
        <p>Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017. GRANIT OAK WORLDWIDE LIMITED All Rights Reserved, Registered in Cyprus, Igoumenitsas 12, 2027 Nicosia, Cyprus (“Cryptologi“) unless otherwise indicated.</p>
        <p>Credit card clearing is processed by GRANIT OAK WORLDWIDE LIMITED with registered address, Igoumenitsas 12, 2027 Nicosia, Cyprus.</p>
        <p class="page-main__about--title">Trademarks</p>
        <p>Cryptologi  is trademark and service mark of GRANIT OAK WORLDWIDE LIMITED and it used and/or registered throughout the world. GRANIT OAK WORLDWIDE LIMITED and its subsidiaries also claim rights in certain other trademarks and service marks contained in these web pages. Copies of the contents may be viewed and downloaded for your own personal non-commercial use, provided that any copy contains this Copyright/Disclaimer Notice. The contents may not otherwise be used in whole or in part in any manner without the prior written consent of Cryptologi. However, it is permissible to use the website contents for viewing and copying, but only if it is for private and not commercial usage. It is again, part of the rules you agree to follow by entering the website. Please note that any other usage of the contents found on Cryptologi is not allowed without permission.</p>
        <p class="page-main__about--title">Usage of information and other files</p>
        <p>All of the information and rules contained on the website might be changed at some point in time. The usage of Cryptologi and its subpages with the purpose of misusing passwords, messing with the website`s system and misusage of materials is strictly forbidden. Note that at some locations might not be able to access certain aspects of the website. Cryptologi saves its right to be the arbiter of determining access rights to the platform.</p>
        <p class="page-main__about--title">No guarantee provided</p>
        <p>All imagery, articles or other information mediums are provided “as they are” and are all part of the Cryptologi platform, but Cryptologi is not liable for the correctness or consistency of the materials. Along with that, Cryptologi is not liable for any errors or misinterpretations that might be seen in the materials. We cannot give a guarantee regarding any of the imagery, texts or any other materials provided on the website. This is also true for the infringement of 3rd party rights or any other claims that might arise, be it due to wrongful information, malware or anything else.</p>
        <p class="page-main__about--title">3rd Party Data</p>
        <p>Inside the website, there might be located some hyperlinks to other web pages, which in turn belong to a party or parties not related to Cryptologi. Therefore, Cryptologi is not liable for any offers, data or other kinds of information on the abovementioned web pages. Even if those links are on the Cryptologi website, it does not mean that we urge you to visit those pages or use any of their products or services. Cryptologi holds no liability towards any issues that might arise from going to those websites. Also, be warned that Cryptologi is not liable for the security level of those 3rd party websites and the terms and conditions of use will most likely be different.</p>
        <p>All of the data and information that is here is not strictly related to the given trading asset or goal, economic climate and does not have any relation whatsoever to a specific party. It serves simply as an informative piece and should not be thought of as encouragement for any action or anything close to that. Also, it does not in any way have the purpose of urging users to purchase or sell any assets. Even though we cannot ascertain that the information provided reflects truthful facts, it has been gathered from places which are reputable. You should not take this as final and complete information regarding the markets discussed on the platform. You should also not take the truthfulness of this information above your own personal decisions and judgment.</p>
        <p>Cryptologi is not obliged to contain the data from the website only on the platform and some of the things written here might be changed at some point without a necessary warning or notification. Be warned that investing can hide many risks and some of the assets can be very volatile. Therefore it might not be appropriate for everyone out there. Also, it is not guaranteed that you will be profitable in the future if you`ve been profitable in the past. Cryptologi is not responsible for any funds you lose or any other harm that might be done. It is strictly forbidden to copy or reproduce any of the contents written here without an exclusive permission. Cryptologi is also not liable for any other parties that might be involved in a negative action against any of the users.</p>
        <p class="page-main__about--title">Constraint of the responsibility</p>
        <p>Cryptologi will not be held liable for any harmful actions, damage or other negative events. This also includes damage done by a 3rd party and any other purposeful or non-purposeful harm. Financial and other losses related to using the platform, and anything harmful related to the platform, such as 3rd party misbehavior, malware, errors, malfunctions and anything else, will also not be accounted for by Cryptologi. This is true even if Cryptologi or its partners influenced the user in any way to make a harmful decision.</p>
        <p class="page-main__about--title">Information rights holder</p>
        <p>Cryptologi reserves the right to utilize any idea, piece of information, instruction, strategy or other relevant data which is put on the platform by a user through the process of using the platform. This means that all of the information which a user submits throughout his use of the website is considered to belong to Cryptologi. Cryptologi will reveal any information only if there is an inquiry by a body of the law or if there is a mutual agreement with the requesting party. However, the abovementioned things do not mean that Cryptologi does not have any relation or duty towards its users regarding the user privacy terms.</p>
        <p class="page-main__about--title">Expiry of the profile</p>
        <p>Cryptologi is entitled to take a monthly fee of $36 in case the user has not made a single trade for 60 days in a row. The purpose of this is to make sure that the profile is being used and has the necessary money on it. The fee will be charged as soon as the account inactivity reaches the 30th day and will go on until the trading activity has been resumed. If there is less than $36 on the user profile, Cryptologi can use the available funds to cover the fee and then bring the account to closure.</p>
        <p class="page-main__about--title">Cancellation of the agreement</p>
        <p>The relationship between Cryptologi and the user can be canceled by both sides, as long as it was presented as a written request and the other side was informed. In case of unpaid taxes or charges, open trades or anything of the kind, however the request for cancellation might not be accepted. The cancellation will be done without any intolerance regarding any previous duties.</p>
        <p class="page-main__about--title">Distribution</p>
        <p>The usage and redistribution of this website by any individuals, parties or organizations, which are in a situation which forbids access to the Cryptologi platform is also strictly forbidden. People entering the website from a place where the access is not allowed by law or any other restriction, should exit the platform.</p>
        <p class="page-main__about--title">Bonus</p>
        <p>The following rules are valid for any bonus or other credit given to any user of the platform. By using the platform the user agrees to abide by those rules.</p>
        <ul>
          <li>Only when all of the rules mentioned below are followed, is a user eligible to get the bonus.</li>
          <li>During the promotional timespan, users can only aim for one Cryptologi bonus.</li>
          <li>Each account holder can only get the bonus once for the duration of the promotion.</li>
          <li>Cryptologi reserves the right to decide whether a user is eligible to be granted a bonus or promotion offer.</li>
          <li>The amount of a refund or a bonus shall not be more than the amount of the initial deposit.</li>
          <li>The withdrawal of money related to a bonus rely on the making of $500 000 worth of trades in round turns for each $50 bonus offer granted.</li>
          <li>In order to be able to claim a bonus, the user should have registered using his actual personal information.</li>
          <li>In case a user who meets the conditions has not yet been granted a bonus, please contact Cryptologi and we will fix the issue.</li>
        </ul>
        <p>Along with the above mentioned rules, some additional rules might arise regarding certain promotional offers. This is also stated in the terms and conditions regarding promotions and bonuses.</p>
        <p class="page-main__about--title">Customer Trading Agreement</p>
        <p>This agreement is made by the user and the Cryptologi platform, along with its partners and any other involved parties. The agreement concerns anything related to the parties and their relationship. Also any additional terms, along with the Declaration of Beneficial Ownership, Risk Disclosure and other related documentations, are included in this agreement.</p>
        <ul>
          <li>General Terms</li>
          <li>In relation to the availability of Securities available for trading at Cryptologi, some might be made available at certain points only. Direct engagement: Cryptologi and the user engage in this contract by their own free will, as individuals, entities or a related party. If this is not the case, it should be put into written explanation. Cryptologi will not verify and accept any user actions which have not been approved and shared with beforehand. The user provides his consent to provide Cryptologi with any relevant information that might be requested.</li>
          <li>Direct engagement: Cryptologi and the user engage in this contract by their own free will, as individuals, entities or a related party. If this is not the case, it should be put into written explanation. Cryptologi will not verify and accept any user actions which have not been approved and shared with beforehand. The user provides his consent to provide Cryptologi with any relevant information that might be requested.</li>
          <li>Margin: We`ve already stated that the usage of the platform might include some margined transactions, that might need the customer to put funds to meet the obligations stated in the agreement.</li>
          <li>There isn`t any solicitation: Cryptologi has never encouraged or suggested in any way and form that users should engage in any transactions or make purchase of any asset. Also, Cryptologi is not liable for the same actions done by any 3rd parties related to the platform.</li>
          <li>Mistakes: There are many things that might result in an error in quotation, along with 3rd parties and other things. Cryptologi keeps its privilege to make changes to an account balance if there happens to be a payment a mistake in the quotation. If there is a disagreement regarding such a mistake or change, it will be corrected according to the fair market price of the given asset at the time the mistake happened.</li>
          <li>Making Payments: the standard procedure is that any funds transferred by the user or a party related to or authorized by the user, and also any other payments and taxes charged from the user profile, will all go to the same account, which is the user`s trading profile. Note that there might be some extra charges applicable, up to $15 per transfer. However, prior to processing the payment, Cryptologi must verify that the person making the deposit is the real user of that account. In case this is not true, Cryptologi can decide to cancel the transfer. Cryptologi is not liable for any money not deposited straight to an account on the platform.</li>
          <li>Market volatilities: There are many things which are beyond Cryptologi`s level of prediction and control, such as economic disruptions, war outbreak, global crisis, forces of nature and so on. Therefore the user agrees about the possibility for instant market disruptions which can result in loss of capital. Cryptologi has the privilege to stop or negate any transfer or place some restrictions in order, to terminate a user profile, all in case of unnatural or extraordinary market occurrences.</li>
          <li>Minimal trading length: Any investment which gets closed after 2 minutes after it`s started will be considered to be scalping. Cryptologi holds the privilege to nullify such investments without having to give any notice.</li>
          <li>Index investment: By using the platform, the user provides his confirmation of awareness regarding the Contract for Difference. It states that Cryptologi shall begin a trade as late as 5 minutes after the certain market has been opened. Cryptologi holds the privilege to denial a trade of a relevant asset within those 5 initial minutes. Also, Cryptologi can decide to terminate or not process any trade request during those 5 minutes.</li>
          <li>Customer Orientation and Fulfillment of Orders</li>
          <li>When a customer wants to start a trade, he might be given certain navigations by Cryptologi, be it in oral or written form. The navigation in written form might be sent by fax, phone, e-mail, formal request, it might be located somewhere on the platform or in any other informative digital medium. The regular oral means of providing users with information is on the phone or a personal notification. In such cases Cryptologi might ask the user to write down the provided directions.</li>
        </ul>
        <p>The notification/order/instruction can be canceled only if Cryptologi agrees to it.</p>
        <ul>
          <li>Cryptologi has the right to change or give new directions to the user at any point in time.</li>
          <li>Once Cryptologi contacts a user in order to provide instructive information, it is advised the user asks the other party to provide identification. The person contacting the user should be able to show an authorized signature in a written format. The user has the right to not accept the written notice, but it will only be valid if it is allowed in written form by Cryptologi.</li>
          <li>The truthfulness of all the information about the user`s personal details and is being sent online is up to the user to verify and confirm by himself. Cryptologi has to confirm or take action based on the provided information, in order for a mutual contract to be formed between the user and the platform.</li>
          <li>In case the user fails to provide directions to Cryptologi regarding an open position before the end of the trading day has come. Cryptologi has the right to move the pending trades to the following day. However, this is not a must and it`s up to Cryptologi to decide.</li>
          <li>If there is a trade that has been moved to the next trading day, the user will be charged with 0.01% of his profile balance. The charge will happen at midnight GMT, without any concern for discrepancies in the interest rates.</li>
          <li>The user does not pursue any liability or charges against Cryptologi in case of any funds loss or other error which resulted from the user`s neglect to inform about a denial of rights, any failure in communicating or following the guidelines provided online by Cryptologi. This also includes that the user should not pursue Cryptologi  if the user did not seek further information or instructions from Cryptologi  regarding an issue, or any previous instructions or any actions whatsoever. Cryptologi  is also not liable for any harm done by anyone impersonating the rightful owner of the account and using his personal information for any harmful or other activities.</li>
          <li>Guidelines for making a withdrawal: a user can make a withdrawal of all the money on his account, or any amount he wishes, if he satisfies the criteria listed below:</li>
          <li>Cryptologi  has given you all the necessary papers and terms documentation.</li>
          <li>The appropriate documentation for making a withdrawal has been properly filled in, verified and given to Cryptologi  via fax or mail and the required data has been properly put in.</li>
          <li>The user does not have any ongoing trades at Cryptologi.</li>
          <li>As soon as the abovementioned terms are met and Cryptologi  accepts the request, the withdrawal will be processed and fulfilled in about 5 business days. Depending on the specifics of the user profile, the bank, the location of the recipient and his bank, and other relevant factors for making a money transfer, the periods for actually having the money transferred can differ. Cryptologi  is not responsible for any issues with the transfer which are related to or caused by other parties.</li>
          <li>Some extra transferal charges might be applied by parties who are part of the transaction process (i.e. intermediaries and middlemen) and the user agrees to that. Cryptologi  also has a charge for withdrawing money. The proper terms are stated in the part for account funding and withdrawing funds. Also the user confirms that there might be charges associated with currency conversion, in case it is necessary and depending on the currency that is being transferredred and the currency of the account.</li>
          <li>The application for withdrawing money will be nullified in case it hasn`t met the described criteria 30 days after it has been made. If this happens, the user should re-send the application for withdrawing funds. Also, any application is bound to the abovementioned conditions and rules.</li>
          <li>Withdrawing funds: As a general rule the withdrawal process should use the same schematics as the one the user used to put money on his profile. So if the user used a credit card in USD to fund his account, then the withdrawal should also be to the same credit card and in USD. It is possible that Cryptologi  will not accept a certain transfer or an application for using other means for the transfer. In cases when the customer wants to use another withdrawal method he should start a new withdrawal procedure and provide the proper documents.</li>
          <li>The user confirms that the money being transferred can only be sent to him and no other party than the rightful holder of the account, abiding by the Anti Money Laundering Regulations. In some cases Cryptologi  might ask for further information regarding the source of the money and the recipient.</li>
        </ul>
        <p class="page-main__about--title">Customer Statement</p>
        <p>The customer states that:</p>
        <ul>
          <li>He has read and completely comprehends the terms and conditions stated on the website.</li>
          <li>He is aware that investing in financial assets has its dangers and can be affected by many economic factors and market variables. This might result in financial losses which are bigger than what the user was initially prepared to risk. The user also concurs that he accepts the risk of losing the money he transfers to Cryptologi.</li>
          <li>The user agrees that he is not under any restriction of the law or any binding contract, which is in a disagreement or prevents him from using the Cryptologi  platform.</li>
          <li>That the user has every legal right and permission to accept and be part of this statement. The user also agrees, if he represents a business or another entity, that all permissions have been obtained and he has the legal right and authority to be its representative in front of Cryptologi.</li>
          <li>Matter of the agreement: all funds transfers that have been canceled for the purpose of maintaining the security margin will be and will stay free.</li>
          <li>The user is clear regarding all matters of the law, along with all taxation laws, registration processes and other legal matters that might apply.</li>
          <li>The user agrees that all information given by Cryptologi  is correct and rightful and has not caused any misinterpretation by the user or ushered him towards any particular actions.</li>
          <li>Regarding the offers, the user is aware that a compensation plan might not necessarily yield any advantage or profit, due to the unpredictability of the economic conditions and markets.</li>
        </ul>
        <p class="page-main__about--title">Leeway/Marginal Requirements</p>
        <ul>
          <li>For us to fulfill the user`s safety leeway and any positive balance on his profile, the user should confirm to send the respective amount in the currency required by Cryptologi.</li>
          <li>Prior to executing a trade, Cryptologi  does not have to make sure that the user has the necessary safety leeway. Also, if Cryptologi  does not succeed in ensuring the necessary funds for the outstanding safety leeway before starting a trade, it does not mean that the user`s dues have gone down.</li>
          <li>Any money sent to Cryptologi  by the user can be used to cover any dues owed by the user or parties associated with him. Also, Cryptologi  is not obliged to inform the user about any income generated for Cryptologi  by the user`s activities.</li>
          <li>All funds that the user owes as a result of a commitment to another party will be quickly resolved by the user, according to the conditions in the agreement and along with any guidelines which Cryptologi  has imposed in order to be able to perform its duties in such an agreement.</li>
          <li>Cryptologi  does not necessarily have to, but on some occasions it might exchange user funds into a different currency, at a rate favorable for the platform in order to cover some user liabilities or credits.</li>
          <li>Cryptologi  can start or end any trades without having to inform the user before that and cover any user obligations towards the platform, if the user does not succeed in covering the obligations himself. Also, Cryptologi  holds the privilege to give back and money without having to explain the basis for the return.</li>
        </ul>
        <p class="page-main__about--title">Spread Rate, Margin and Leverage</p>
        <ul>
          <li>Cryptologi  can change the safety margin terms depending on the amount of the user`s trades, transfers and economic climate (including but not only depending on bad liquidity and volatility). Other criteria might also apply. Cryptologi  also has the privilege to make changes to the spread rate depending on the user`s safety margin and trades.</li>
          <li>The user should take care of checking his profile activities and safety margin by himself. Those specifications can be given out by Cryptologi  after the user makes a request on the platform.</li>
        </ul>
        <p class="page-main__about--title">Right of Commitment, Claim, Set-Off, and Withholding</p>
        <p>If Cryptologi  deems it necessary, it has the right to put together different user accounts, cancel out the available funds of any user profiles or cancel out each profile`s balance separately, without any focus on the specifics of the profile. Cryptologi  has the right of commitment and claim, along with a right of withholding assets under the user`s name, along with other assets or deposits of some kind made to Cryptologi , regardless of any specifics such as maturity dates, currencies and so on.</p>
        <ul>
          <li>Default Cryptologi  has the privilege to partially or fully end any trade of any user, without having to inform him beforehand, given that any of the following circumstances have been met:</li>
          <li>If the user doesn`t succeed in meeting a payment obligation in a timely manner.</li>
          <li>If the user doesn`t meet the terms of this agreement or doesn`t comply, be it partially or fully with any of the arrangements stated here.</li>
          <li>If the user has another profile at Cryptologi , in order to gain an unfair trading advantage.</li>
          <li>If the user has mental health issues, is said to be missing or deceased.</li>
          <li>If the user declares bankruptcy, be it as an individual or as an official representative of an entity or a business or he acts based upon any law regarding insolvency or bankruptcy, including but not limited to the seeking of a trustee or other negotiating parties related to the wholesome liquidation process.</li>
          <li>If the user performs a bank card chargeback. Then the user`s account will be put on hold and every open trade will be closed as seen fit by Cryptologi  when the end of the business day comes.</li>
          <li>If a body of the law makes a formal request for the closure of a position, be it by the user himself or by Cryptologi.</li>
          <li>If Cryptologi  decides that it is of importance for the safety of platform and its partners.</li>
          <li>Cryptologi  holds the privilege to end every single or any number of open trades the client holds, in case the outcome of the trades goes over the appropriate safety margin.</li>
          <li>If there is any doubt that the user has taken part of, or initiated anything that might be considered as illegal activity or an act of inappropriate kind regarding the trading activities, including a breach of any trading terms and conditions, regardless if they`re about the timing of an investment or it`s about an investment started by error, with wrong pricing or asset.</li>
          <li>Online Trading</li>
          <p>Cryptologi  is not responsible for any harm, accidents, financial losses or any other unfavorable events that might be in some way the cause of issues related to bad communication due computer system malfunctioning or anything of the kind, be it from the side of Cryptologi  or the user and regardless of the circumstances and trades being made at the time.</p>
          <li>Keeping record of Conversations</li>
          <p>Cryptologi  might keep track of any correspondence with other parties related to the platform, be it a user or another related instance. The user agrees that Cryptologi  can record the correspondence for use and reference in case of any future issues regarding the user. Also the recorded conversations belong rightfully to the platform. Also Cryptologi  has the complete right to use the recording as it sees fit, including to delete them.</p>
          <li>Changes to the Contract</li>
          <p>This contract can only be changed or canceled with a written permission from the appropriate Cryptologi  employee. A Cryptologi  client support employee does not have the authority to make any changes to this agreement. The user also agrees that Cryptologi  might make changes to the contract and will inform the user via email or platform notification. The client expresses his agreement regarding the changed conditions by continuing to use the platform.</p>
          <li>Area of Authority</li>
          <p>The stated terms shall be understood according to the laws in the Republic of Vanuatu. The client accepts to comply with the area of authority of the Republic of Vanuatu regarding any issues and matters of the law regarding the agreement and all terms stated on Cryptologi. All parties concur that the UN Convention on Contracts for the International Sale of goods is not valid and applicable.</p>
        </ul>
        <p class="page-main__about--title">Spreads</p>
        <ul>
          <li>About every major pair, the spread goes low to 1 pip.</li>
          <li>An abundance of more than 50 currency pairs.</li>
          <li>20 worldwide tradable indices.</li>
          <li>International equity/stock.</li>
          <li>Various methods for pricing based on the user`s circumstances.</li>
          <li>Fractional pips pricing.</li>
        </ul>
        <p class="page-main__about--title">Procedure for returning funds</p>
        <p class="page-main--pb">If there is a situation where the user`s funds should be returned, the money will be transferred to his account in two working days. Depending on the method used for transferring the money, the time it takes for the process to be completed might vary. Each refund application will be reviewed and confirmed by Cryptologi  after the user presents the proper documentation. Cryptologi will do what it can do offer assistance and resolve the issue.</p>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex-container">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="https://client.cryptologi.com/en/members/login">Log In</a></li>
            <li><a href="https://client.cryptologi.com/en/members/register/real/">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="security.html">Security</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="legal.html">Legal & Privacy</a></li>
            <li><a class="page-footer--active">Terms & Conditions</a></li>
            <li><a href="support.html">Support</a></li>
            <!-- <li><a href="template/trading.html">Trading Guide</a></li> -->
            <!-- <li><a href="template/disclaimer.html">Disclaimer</a></li> -->
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">Cryptologi is a online trading and exchange platform ONLY. It does not carry out any substantial review or independent scrutiny of any blockchain asset, cryptocurrency or related funds. Every client is fully and solely responsible for evaluating your assets and deciding whether or not you want to carry out a blockchain asset exchange with Cryptologi. In so many instances, the blockchain asset you decide to exchange or trade on the basis of your personal findings may not increase or decrease in value, however the asset 
        you have exchanged on the basis of your research may increase in value after the exchange. The past performances does not affect future results. Any investment in any cryptocurrency or blockchain asset involves the risk of a possibility of a loss of part or al of your investment. The value of the asset you trade or exchange is subject to market risk and other forms of investment risk.</p>
    </div>
  </footer>
</body>
</html>
