.entry {
  padding: 35px 0;
}

.entry__text {
  margin-top: 40px;
  margin-bottom: 40px;
  color: $text;
  font-size: 18px;
  font-weight: 500;
}

.entry__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.entry__item {
  box-sizing: border-box;
  width: 220px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: 15px solid #5780B9;
  border-radius: 10px;
  background-color: #5780B9;
}

.entry__box {
  padding-top: 160px;
  padding-bottom: 60px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center 40px;
  
  &--1 {
    background-image: url('../img/entry-1.svg');
  }
  
  &--2 {
    background-image: url('../img/entry-2.svg');
  }
  
  &--3 {
    background-image: url('../img/entry-3.svg');
  }
  
  &--4 {
    background-image: url('../img/entry-4.svg');
  }
  
  &--5 {
    background-image: url('../img/entry-5.svg');
  }
}

@media screen and ($tablet) {
  .entry__list {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .entry__item {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media screen and ($mobile) {
  .entry__wrapper {
    overflow-x: scroll;
    margin-bottom: 30px;
    
    &::-webkit-scrollbar {
      height: 5px;
    }
    
    &::-webkit-scrollbar-track {
      border-radius: 20px;
    }
  }
  
  .entry__list {
    width: 500%;
    margin-bottom: 0;
  }
}