.heading {
  margin: 0;
  color: $text;
  font-size: 43px;
  font-weight: 700;
  
  &--big {
    font-size: 50px;
  }
  
  &--white {
    color: #FFFFFF;
  }
  
  &--center {
    text-align: center;
  }
}

@media screen and ($mobile) {
  .heading {
    font-size: 30px;
    text-align: center;
  }
}