.intro {
  padding-top: 235px;
  padding-bottom: 140px;
  background-color: #2F4C77;
  background-image: url('../img/intro-bg.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.intro__content {
  width: 700px;
}

.intro__text {
  margin: 0;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  
  &--big {
    font-size: 28px;
  }
  
  &:first-of-type {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  &:last-of-type {
    margin-bottom: 30px;
  }
}

.intro__box {
  position: relative;
  margin-bottom: 40px;
  padding: 20px 30px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

.intro__cta {
  margin: 0;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
}

.intro__link {
  position: absolute;
  right: 20px;
  bottom: -18px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $orange;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  outline: none;
  transition: 0.2s;
  
  &:hover,
  &:focus {
    transform: rotate(90deg);
  }
  
  &:active {
    transform: rotate(90deg) scale(0.8);
  }
}

@media screen and ($tablet) {
  .intro {
    padding-top: 180px;
    background-position: left;
  }
}

@media screen and ($mobile) {
  .intro {
    padding-top: 130px;
  }
  
  .intro__content {
    width: auto;
  }
  
  .intro__text {
    font-size: 18px;
    text-align: center;
    
    &:last-of-type {
      font-size: 20px;
    }
  }
  
  .intro__box {
    padding: 15px;
  }
  
  .intro__cta {
    font-size: 20px;
    text-align: center;
  }
}