.request {
  padding-top: 50px;
  padding-bottom: 80px;
}

.request__wrapper {
  background-image: url('../img/request-bg.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.request__subtitle {
  margin-top: 20px;
  margin-bottom: 50px;
  color: $text;
  font-size: 20px;
  font-weight: 400;
}

.request__form {
  width: 1000px;
}

@media screen and ($tablet) {
  .request__wrapper {
    background-image: none;
  }
  
  .request__form {
    width: auto;
  }
}

@media screen and ($mobile) {
  .request__subtitle {
    font-size: 20px;
    text-align: center;
    
    br {
      display: none;
    }
  }
}