.thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../img/study-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.thankyou__title {
  margin-top: 0;
  margin-bottom: 60px;
  color: #FFFFFF;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}

.thankyou__subtitle {
  margin-top: 0;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.thankyou__divider {
  width: 550px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
  background-color: #FFFFFF;
}

.thankyou__text {
  width: 400px;
  margin-top: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 400;
  
  &--full {
    width: auto;
    text-align: center;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.thankyou__link {
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and ($mobile) {
  .thankyou__section {
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  .thankyou__title {
    margin-bottom: 20px;
    font-size: 23px;
    
    br {
      display: none;
    }
  }
  
  .thankyou__subtitle {
    font-size: 20px;
  }
  
  .thankyou__divider {
    width: 100px;
  }
  
  .thankyou__text {
    width: 215px;
    font-size: 16px;
  }
}