@charset "UTF-8";
body {
  min-width: 320px;
  margin: 0; }

.container {
  width: 1080px;
  margin: 0 auto; }

@media screen and (max-width: 1200px) {
  .container {
    width: 95%; } }

@font-face {
  font-family: "ProximaNova";
  src: local("ß"), url("../fonts/ProximaNova.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBlack*/
@font-face {
  font-family: "ProximaNovaBlack";
  src: local("ß"), url("../fonts/ProximaNovaBlack.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBlackItalic*/
@font-face {
  font-family: "ProximaNovaBlackItalic";
  src: local("ß"), url("../fonts/ProximaNovaBlackItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBold*/
@font-face {
  font-family: "ProximaNovaBold";
  src: local("ß"), url("../fonts/ProximaNovaBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBoldItalic*/
@font-face {
  font-family: "ProximaNovaBoldItalic";
  src: local("ß"), url("../fonts/ProximaNovaBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaExtraBold*/
@font-face {
  font-family: "ProximaNovaExtraBold";
  src: local("ß"), url("../fonts/ProximaNovaExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaExtraBoldItalic*/
@font-face {
  font-family: "ProximaNovaExtraBoldItalic";
  src: local("ß"), url("../fonts/ProximaNovaExtraBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaItalic*/
@font-face {
  font-family: "ProximaNovaItalic";
  src: local("ß"), url("../fonts/ProximaNovaItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaLight*/
@font-face {
  font-family: "ProximaNovaLight";
  src: local("ß"), url("../fonts/ProximaNovaLight.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaLightItalic*/
@font-face {
  font-family: "ProximaNovaLightItalic";
  src: local("ß"), url("../fonts/ProximaNovaLightItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaSemiBold*/
@font-face {
  font-family: "ProximaNovaSemiBold";
  src: local("ß"), url("../fonts/ProximaNovaSemiBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaSemiBoldItalic*/
@font-face {
  font-family: "ProximaNovaSemiBoldItalic";
  src: local("ß"), url("../fonts/ProximaNovaSemiBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

.time {
  padding: 20px 0;
  border-bottom: 1px solid #051c4f; }

.time__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.time__box {
  color: #051c4f;
  font-size: 13px;
  font-family: 'ProximaNova', sans-serif; }

@media screen and (max-width: 768px) {
  .time {
    display: none; } }

.nav {
  padding: 20px 0; }

.nav__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none; }

.button {
  color: #fff;
  font-size: 18px;
  font-family: 'ProximaNova', sans-serif;
  text-decoration: none;
  border-radius: 5px; }
  .button--blue {
    margin: 0 10px;
    padding: 10px 50px;
    background: #051c4f; }
  .button--red {
    padding: 20px 60px;
    text-transform: uppercase;
    background: #ad0000; }
  .button--unclick {
    padding: 10px 50px;
    color: #051c4f;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #051c4f; }
  .button--click {
    padding: 10px 50px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    background: #051c4f; }

.title {
  padding: 0 0 95px 0;
  color: #fff;
  text-align: center;
  background: #051c4f url("../img/title-bg.jpg") top;
  background-size: cover; }
  .title h1 {
    margin: 0 0 60px 0;
    padding: 260px 0 0 0;
    font-size: 60px;
    font-family: 'ProximaNovaExtraBold', sans-serif; }
  .title p {
    margin: 0 0 110px 0;
    font-size: 25px;
    font-family: 'ProximaNovaLight', sans-serif; }

.title__down {
  display: block;
  margin: 45px auto 0;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none; }

.title__dot {
  display: block;
  width: 6px;
  height: 6px;
  margin: 5px auto;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-name: mouse-dot;
  animation-name: mouse-dot;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
  .title__dot:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .title__dot:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .title__dot:nth-child(3) {
    -webkit-animation-delay: 0.66667s;
    animation-delay: 0.66667s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }

.title__mouse {
  position: relative;
  display: block;
  width: 22px;
  height: 31px;
  margin: 15px 0 0 0;
  background: url("../img/title-mouse.png") no-repeat top;
  -webkit-animation: mouse;
  animation: mouse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes mouse-dot {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes mouse-dot {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes mouse {
  0% {
    top: 0; }
  100% {
    top: 10px; } }

@keyframes mouse {
  0% {
    top: 0; }
  100% {
    top: 10px; } }

@media screen and (max-width: 768px) {
  .title h1 {
    margin: 0 0 40px 0;
    padding: 120px 0 0 0;
    font-size: 30px; }
  .title p {
    margin: 0 0 60px 0;
    font-size: 18px; }
  .title__down {
    display: none; } }

.counter {
  padding: 50px 0; }
  .counter hr {
    height: 1px;
    margin: 40px 0;
    border: none;
    background: #051c4f; }

.counter__investor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 280px;
  margin: auto;
  color: #051c4f;
  font-size: 18px;
  font-family: 'ProximaNovaLight', sans-serif; }
  .counter__investor span {
    font-size: 48px;
    font-family: 'ProximaNovaExtraBold', sans-serif; }

.counter__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.counter__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  color: #051c4f;
  font-size: 18px;
  font-family: 'ProximaNovaLight', sans-serif; }
  .counter__client span {
    font-size: 35px;
    font-family: 'ProximaNovaExtraBold', sans-serif; }

.counter__transactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  color: #051c4f;
  font-size: 18px;
  font-family: 'ProximaNovaLight', sans-serif; }
  .counter__transactions span {
    font-size: 35px;
    font-family: 'ProximaNovaExtraBold', sans-serif; }

@media screen and (max-width: 768px) {
  .counter__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.price {
  padding: 55px 0;
  background: #f2f2f2; }

.price__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.price__left {
  margin: 0 20px 0 0;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 12px 43px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 12px 43px 0px rgba(0, 0, 0, 0.2); }

.price__title {
  font-size: 25px;
  font-family: 'ProximaNovaLight', sans-serif; }

.price__time {
  color: #bab4b4;
  font-size: 25px;
  font-family: 'ProximaNova', sans-serif; }

.price__course {
  margin: 25px 0 35px 0;
  font-size: 25px;
  font-family: 'ProximaNova', sans-serif; }
  .price__course span {
    color: #051c4f;
    font-family: 'ProximaNovaBold', sans-serif; }

.price__counter span {
  padding: 10px 15px;
  color: #051c4f;
  font-size: 35px;
  font-family: 'ProximaNovaBold', sans-serif;
  background: #e8e8e8; }

.price__right b {
  display: block;
  margin: 0 0 20px 0;
  color: #051c4f;
  font-size: 35px;
  font-family: 'ProximaNovaBold', sans-serif; }

.price__right p {
  margin: 60px 0 0 0;
  font-size: 20px;
  font-family: 'ProximaNovaLight', sans-serif; }

.price__select {
  width: 100%;
  margin: 50px 0 0 0;
  padding: 20px 0;
  border: 1px solid #051c4f;
  border-radius: 5px;
  background: transparent; }
  .price__select p {
    margin: 0; }

.price__name {
  padding: 0 0 0 30px;
  font-size: 20px;
  font-family: 'ProximaNovaLight', sans-serif;
  background: url("../img/price-bitcoin.png") no-repeat left;
  background-size: contain; }

.steps {
  padding: 75px 0; }
  .steps h1 {
    margin: 0 0 60px 0;
    color: #051c4f;
    font-size: 35px;
    font-family: 'ProximaNovaBold', sans-serif;
    text-align: center; }

.steps__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.steps__box {
  width: 230px;
  text-align: center; }
  .steps__box small {
    display: block;
    padding: 0 0 10px 0;
    color: #726f6f;
    font-size: 18px;
    font-style: italic;
    font-family: 'ProximaNova', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #d1d1d1; }
  .steps__box img {
    display: block;
    margin: 30px auto; }
  .steps__box b {
    color: #051c4f;
    font-size: 22px;
    font-family: 'ProximaNovaBold', sans-serif; }
  .steps__box p {
    margin: 15px 0 0 0;
    font-size: 18px;
    font-family: 'ProximaNovaLight', sans-serif; }

@media screen and (max-width: 768px) {
  .steps {
    padding: 25px 0; }
  .steps__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .steps__box {
    margin: 0 0 30px 0; } }

.profit {
  padding: 110px 0;
  background: #051c4f url("../img/profit-bg.jpg") no-repeat top;
  background-size: cover; }
  .profit p {
    margin: 0;
    color: #fff;
    font-size: 35px;
    font-family: 'ProximaNova', sans-serif;
    text-align: center; }
    .profit p span {
      font-family: 'ProximaNovaExtraBold', sans-serif; }

.ssl {
  padding: 70px 0;
  color: #fff;
  text-align: center;
  background: #051c4f url("../img/ssl-bg.jpg") no-repeat top;
  background-size: cover; }

.ssl__title {
  font-size: 35px;
  font-family: 'ProximaNovaBold', sans-serif; }

.ssl__text {
  margin: 0 0 70px 0;
  font-size: 20px;
  font-family: 'ProximaNovaLight', sans-serif; }

.ssl__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.easy {
  padding: 100px 0;
  color: #fff;
  text-align: center;
  background: #051c4f url("../img/ssl-bg.jpg") no-repeat top;
  background-size: cover; }

.easy__title {
  font-size: 35px;
  font-family: 'ProximaNovaBold', sans-serif; }

.easy__text {
  margin: 0 0 70px 0;
  font-size: 20px;
  font-family: 'ProximaNovaLight', sans-serif; }

.type {
  padding: 100px 0 60px 0;
  text-align: center; }
  .type h1 {
    margin: 0 0 60px 0;
    color: #051c4f;
    font-size: 35px;
    font-family: 'ProximaNovaBold', sans-serif; }
  .type hr {
    width: 500px;
    height: 1px;
    margin: 65px auto 35px;
    border: none;
    background: #051c4f; }

.type__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.type__box {
  width: 320px;
  padding: 0 0 45px 0;
  -webkit-box-shadow: 0px 4px 58.8px 1.2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 58.8px 1.2px rgba(0, 0, 0, 0.2); }
  .type__box header {
    padding: 60px 0 30px 0; }
  .type__box hr {
    width: 200px;
    margin: 0 auto;
    background: #d1d1d1; }
  .type__box h2 {
    margin: 0;
    color: #051c4f;
    font-size: 36px;
    font-family: 'ProximaNovaBold', sans-serif; }
  .type__box p {
    margin: 50px 0 30px 0;
    color: #858484;
    font-size: 18px;
    font-family: 'ProximaNovaLight', sans-serif; }
  .type__box b {
    display: block;
    margin: 0 0 60px 0;
    font-size: 36px;
    font-family: 'ProximaNovaLight', sans-serif; }

.type__box--center {
  width: 335px; }
  .type__box--center header {
    background: #051c4f; }
  .type__box--center h2 {
    color: #fff;
    font-size: 41px; }
  .type__box--center p {
    margin: 60px 0 40px 0; }
  .type__box--center b {
    color: #051c4f; }
