@charset "UTF-8";
body {
  min-width: 320px;
  margin: 0; }

.container {
  width: 1080px;
  margin: auto; }
  .container--big {
    width: 1200px; }

@media screen and (max-width: 1200px) {
  .container {
    width: 95%; } }

@font-face {
  font-family: "ProximaNova";
  src: local("ß"), url("../fonts/ProximaNova.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBlack*/
@font-face {
  font-family: "ProximaNovaBlack";
  src: local("ß"), url("../fonts/ProximaNovaBlack.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBlackItalic*/
@font-face {
  font-family: "ProximaNovaBlackItalic";
  src: local("ß"), url("../fonts/ProximaNovaBlackItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBold*/
@font-face {
  font-family: "ProximaNovaBold";
  src: local("ß"), url("../fonts/ProximaNovaBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBoldItalic*/
@font-face {
  font-family: "ProximaNovaBoldItalic";
  src: local("ß"), url("../fonts/ProximaNovaBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaExtraBold*/
@font-face {
  font-family: "ProximaNovaExtraBold";
  src: local("ß"), url("../fonts/ProximaNovaExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaExtraBoldItalic*/
@font-face {
  font-family: "ProximaNovaExtraBoldItalic";
  src: local("ß"), url("../fonts/ProximaNovaExtraBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaItalic*/
@font-face {
  font-family: "ProximaNovaItalic";
  src: local("ß"), url("../fonts/ProximaNovaItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaLight*/
@font-face {
  font-family: "ProximaNovaLight";
  src: local("ß"), url("../fonts/ProximaNovaLight.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaLightItalic*/
@font-face {
  font-family: "ProximaNovaLightItalic";
  src: local("ß"), url("../fonts/ProximaNovaLightItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaSemiBold*/
@font-face {
  font-family: "ProximaNovaSemiBold";
  src: local("ß"), url("../fonts/ProximaNovaSemiBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaSemiBoldItalic*/
@font-face {
  font-family: "ProximaNovaSemiBoldItalic";
  src: local("ß"), url("../fonts/ProximaNovaSemiBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

.time {
  padding: 20px 0;
  border-bottom: 1px solid #051c4f; }

.time__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.time__box {
  color: #051c4f;
  font-size: 13px;
  font-family: 'ProximaNova', sans-serif; }

@media screen and (max-width: 768px) {
  .time {
    display: none; } }

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-shadow: 0.1px 2px 2px 0px rgba(0, 1, 1, 0.2);
    box-shadow: 0.1px 2px 2px 0px rgba(0, 1, 1, 0.2); } }

.nav {
  padding: 20px 0; }

.nav__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  list-style: none; }
  .nav__list--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 750px; }
    .nav__list--inner a {
      color: #051c4f;
      font-size: 17px;
      font-family: 'ProximaNova', sans-serif;
      text-decoration: none; }

.nav__login-inner {
  display: block;
  width: 45px;
  height: 40px;
  border-radius: 5px;
  background: #051c4f url("../img/nav-login.png") no-repeat center; }

.nav__language {
  width: 60px;
  height: 40px;
  color: #051c4f;
  font-size: 17px;
  font-family: 'ProximaNova', sans-serif;
  border: 1px solid #051c4f;
  background: transparent; }

.nav__toggle,
.nav__login,
.nav--index {
  display: none; }

.nav--closed {
  -webkit-animation-name: close;
  animation-name: close;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes close {
  0% {
    top: 78px; }
  100% {
    top: -500px; } }

@keyframes close {
  0% {
    top: 78px; }
  100% {
    top: -500px; } }

.nav--opened {
  -webkit-animation-name: open;
  animation-name: open;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes open {
  0% {
    top: -500px; }
  100% {
    top: 80px; } }

@keyframes open {
  0% {
    top: -500px; }
  100% {
    top: 80px; } }

@media screen and (max-width: 1200px) {
  .nav__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media screen and (max-width: 768px) {
  .nav__toggle {
    position: absolute;
    left: 20px;
    display: block;
    width: 23px;
    height: 16px;
    font-size: 0;
    border: none;
    background: url("../img/nav.svg") no-repeat top; }
  .nav__login {
    position: absolute;
    right: 20px;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    border: none;
    background: url("../img/nav-login.svg") no-repeat top;
    background-size: cover; }
  .nav__login-inner,
  .nav__language {
    display: none !important; }
  .nav__container {
    position: absolute;
    top: -500px;
    display: block;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 20; }
    .nav__container ul {
      margin: 0;
      padding: 0 30px;
      background: #fff;
      list-style: none; }
      .nav__container ul li {
        border-bottom: 1px solid #dddddd; }
        .nav__container ul li a {
          display: block;
          width: 100%;
          padding: 15px 0;
          color: #69696a;
          font-family: 'ProximaNova', sans-serif;
          text-decoration: none; }
  .nav__flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .nav__list--main {
    display: none; }
  .nav__list--inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: auto; }
    .nav__list--inner li {
      width: 100%; }
      .nav__list--inner li:nth-child(6), .nav__list--inner li:nth-child(7) {
        border: none; } }

.button {
  color: #fff;
  font-size: 18px;
  font-family: 'ProximaNova', sans-serif;
  text-decoration: none;
  border-radius: 5px; }
  .button--blue {
    margin: 0 10px;
    padding: 10px 50px;
    background: #051c4f; }
  .button--red {
    padding: 20px 60px;
    text-transform: uppercase;
    background: #ad0000; }
  .button--unclick {
    padding: 10px 50px;
    color: #051c4f;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #051c4f; }
  .button--click {
    padding: 10px 50px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    background: #051c4f; }

@media screen and (max-width: 768px) {
  .button {
    font-size: 16px; }
    .button--blue {
      padding: 10px 40px; }
    .button--unclick {
      padding: 10px 30px; } }

.title {
  padding: 0 0 95px 0;
  color: #fff;
  text-align: center;
  background: #051c4f url("../img/title-bg.jpg") top;
  background-size: cover; }
  .title h1 {
    margin: 0 0 60px 0;
    padding: 260px 0 0 0;
    font-size: 60px;
    font-family: 'ProximaNovaExtraBold', sans-serif; }
  .title p {
    margin: 0 0 110px 0;
    font-size: 25px;
    font-family: 'ProximaNovaLight', sans-serif; }

.title__down {
  display: block;
  margin: 45px auto 0;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none; }

.title__dot {
  display: block;
  width: 6px;
  height: 6px;
  margin: 5px auto;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-name: mouse-dot;
  animation-name: mouse-dot;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
  .title__dot:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .title__dot:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .title__dot:nth-child(3) {
    -webkit-animation-delay: 0.66667s;
    animation-delay: 0.66667s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }

.title__mouse {
  position: relative;
  display: block;
  width: 22px;
  height: 31px;
  margin: 15px 0 0 0;
  background: url("../img/title-mouse.png") no-repeat top;
  -webkit-animation: mouse;
  animation: mouse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes mouse-dot {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes mouse-dot {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes mouse {
  0% {
    top: 0; }
  100% {
    top: 10px; } }

@keyframes mouse {
  0% {
    top: 0; }
  100% {
    top: 10px; } }

@media screen and (max-width: 768px) {
  .title h1 {
    margin: 0 0 40px 0;
    padding: 120px 0 0 0;
    font-size: 30px; }
  .title p {
    margin: 0 0 60px 0;
    font-size: 18px; }
  .title__down {
    display: none; } }

.counter {
  padding: 50px 0; }
  .counter hr {
    height: 1px;
    margin: 40px 0;
    border: none;
    background: #051c4f; }

.counter__investor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 280px;
  margin: auto;
  color: #051c4f;
  font-size: 18px;
  font-family: 'ProximaNovaLight', sans-serif; }
  .counter__investor span {
    padding: 0 0 0 80px;
    font-size: 48px;
    font-family: 'ProximaNovaExtraBold', sans-serif;
    background: url("../img/counter-investor.svg") no-repeat left; }

.counter__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.counter__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 380px;
  color: #051c4f;
  font-size: 18px;
  font-family: 'ProximaNovaLight', sans-serif; }
  .counter__client span {
    padding: 0 0 0 70px;
    font-size: 35px;
    font-family: 'ProximaNovaExtraBold', sans-serif;
    background: url("../img/counter-client.png") no-repeat left; }

.counter__transactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 410px;
  color: #051c4f;
  font-size: 18px;
  font-family: 'ProximaNovaLight', sans-serif; }
  .counter__transactions span {
    padding: 0 0 0 70px;
    font-size: 35px;
    font-family: 'ProximaNovaExtraBold', sans-serif;
    background: url("../img/counter-transactions.svg") no-repeat left; }

@media screen and (max-width: 768px) {
  .counter {
    padding: 40px 0; }
    .counter hr {
      width: 100%; }
  .counter__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .counter__investor,
  .counter__client,
  .counter__transactions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    text-align: center; }
    .counter__investor p,
    .counter__client p,
    .counter__transactions p {
      margin: 16px 0 0;
      font-size: 16px; }
  .counter__investor span {
    padding: 0 0 0 60px;
    font-size: 36px; }
  .counter__client span {
    padding: 0 0 0 60px;
    font-size: 30px; }
  .counter__transactions span {
    padding: 0 0 0 60px;
    font-size: 30px; } }

.price {
  padding: 55px 0;
  background: #f2f2f2; }

.price__title-m {
  display: none; }

.price__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .price__flex--sub {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 369px;
    padding: 10px 56px;
    border-radius: 5px;
    background: #fff;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .price__flex--sub div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0; }

.price__left {
  margin: 0 20px 0 0;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 12px 43px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 12px 43px 0px rgba(0, 0, 0, 0.2); }

.price__title {
  font-size: 25px;
  font-family: 'ProximaNovaLight', sans-serif; }

.price__time {
  color: #bab4b4;
  font-size: 25px;
  font-family: 'ProximaNova', sans-serif; }

.price__course {
  margin: 25px 0 35px 0;
  font-size: 25px;
  font-family: 'ProximaNova', sans-serif; }
  .price__course span {
    color: #051c4f;
    font-family: 'ProximaNovaBold', sans-serif; }

.price__counter span {
  padding: 10px 15px;
  color: #051c4f;
  font-size: 35px;
  font-family: 'ProximaNovaBold', sans-serif;
  background: #e8e8e8; }

.price__right b {
  display: block;
  margin: 0 0 20px 0;
  color: #051c4f;
  font-size: 35px;
  font-family: 'ProximaNovaBold', sans-serif; }

.price__right p {
  margin: 60px 0 0 0;
  font-size: 20px;
  font-family: 'ProximaNovaLight', sans-serif; }

.price__select {
  position: relative;
  width: 100%;
  margin: 50px 0 0 0;
  padding: 20px 0;
  border: 1px solid #051c4f;
  border-radius: 5px;
  background: transparent; }
  .price__select p {
    margin: 0; }
  .price__select::after {
    content: '';
    position: absolute;
    top: 28px;
    right: 10px;
    width: 17px;
    height: 10px;
    background: url("../img/price-arrow.png");
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .price__select:hover::after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .price__select:hover .price__flex--sub {
    opacity: 1; }

.price__value {
  padding: 0 0 0 30px; }
  .price__value--bitcoin {
    background: url("../img/price-up.png") no-repeat left; }
  .price__value--gpb {
    background: url("../img/price-up.png") no-repeat left; }
  .price__value--tesla {
    background: url("../img/price-up.png") no-repeat left; }

.price__name {
  padding: 0 0 0 30px;
  font-size: 20px;
  font-family: 'ProximaNovaLight', sans-serif; }
  .price__name--bitcoin {
    background: url("../img/price-bitcoin.png") no-repeat left;
    background-size: contain; }
  .price__name--gpb {
    padding: 0 0 0 50px;
    background: url("../img/price-flag.png") no-repeat left;
    background-size: contain; }
  .price__name--tesla {
    background: url("../img/price-tesla.png") no-repeat left;
    background-size: contain; }

@media screen and (max-width: 768px) {
  .price {
    padding: 30px 0; }
  .price__title-m {
    display: block;
    color: #051c4f;
    font-size: 24px;
    font-family: 'ProximaNovaBold', sans-serif;
    text-align: center; }
  .price__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .price__flex--select {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
  .price__left {
    margin: 30px 0 0 0;
    padding: 30px 30px 40px; }
    .price__left img {
      width: 50px; }
  .price__title,
  .price__time,
  .price__course {
    font-size: 20px; }
  .price__counter span {
    font-size: 28px; }
  .price__right b {
    display: none; }
  .price__right p {
    margin: 30px 0 20px; }
  .price__select {
    margin: 0;
    padding: 0; } }

.steps {
  padding: 75px 0; }
  .steps h1 {
    margin: 0 0 60px 0;
    color: #051c4f;
    font-size: 35px;
    font-family: 'ProximaNovaBold', sans-serif;
    text-align: center; }

.steps__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.steps__box {
  width: 230px;
  text-align: center; }
  .steps__box small {
    display: block;
    padding: 0 0 10px 0;
    color: #726f6f;
    font-size: 18px;
    font-style: italic;
    font-family: 'ProximaNova', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #d1d1d1; }
  .steps__box img {
    display: block;
    margin: 30px auto; }
  .steps__box b {
    color: #051c4f;
    font-size: 22px;
    font-family: 'ProximaNovaBold', sans-serif; }
  .steps__box p {
    margin: 15px 0 0 0;
    font-size: 18px;
    font-family: 'ProximaNovaLight', sans-serif; }

@media screen and (max-width: 768px) {
  .steps {
    padding: 30px 0; }
    .steps h1 {
      margin: 0 0 40px 0;
      font-size: 24px; }
  .steps__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .steps__box {
    margin: 0 0 50px 0; }
    .steps__box:last-child {
      margin: 0; } }

.profit {
  padding: 110px 0;
  background: #051c4f url("../img/profit-bg.jpg") no-repeat top;
  background-size: cover; }
  .profit p {
    margin: 0;
    color: #fff;
    font-size: 35px;
    font-family: 'ProximaNova', sans-serif;
    text-align: center; }
    .profit p span {
      font-family: 'ProximaNovaExtraBold', sans-serif; }

@media screen and (max-width: 768px) {
  .profit {
    padding: 80px 0; }
    .profit p {
      font-size: 23px; } }

.range {
  padding: 70px 0 76px 0; }
  .range h1 {
    margin: 0 0 80px 0;
    color: #051c4f;
    font-size: 35px;
    font-family: 'ProximaNovaBold', sans-serif;
    text-align: center; }
  .range label {
    font-size: 24px;
    font-family: 'ProximaNovaLight', sans-serif; }
    .range label:nth-child(2) p {
      margin: 70px 0 50px 0; }
    .range label p {
      margin: 0 0 50px 0; }
  .range hr {
    height: 1px;
    margin: 70px 0 40px 0;
    border: none;
    background: #000;
    outline: none; }
    .range hr + p {
      font-size: 26px;
      font-family: 'ProximaNovaLight', sans-serif;
      text-align: center; }
      .range hr + p span {
        color: #051c4f;
        font-size: 28px;
        font-family: 'ProximaNovaBold', sans-serif; }

.range__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.range__left input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 500px;
  height: 15px;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#051c4f), color-stop(50%, #051c4f), color-stop(50%, #ddd), to(#ddd));
  background: linear-gradient(left, #051c4f 0%, #051c4f 50%, #ddd 50%, #ddd 100%); }

.range__left input[type="range"]::-webkit-slider-thumb {
  position: relative;
  top: 30px;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: url("../img/range-arrow.png") no-repeat top;
  background-size: cover;
  cursor: pointer; }

.range__right input {
  width: 300px !important; }

.range__right progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 350px;
  height: 40px; }
  .range__right progress[value]::-webkit-progress-bar {
    background: #ddd; }
  .range__right progress[value]::-webkit-progress-value {
    background: -webkit-gradient(linear, left top, right top, from(#051c4f), to(#000));
    background: linear-gradient(left, #051c4f 0%, #000 100%); }

.range__invest-output,
.range__get-output {
  color: #051c4f;
  font-family: 'ProximaNovaBold', sans-serif; }

.range__invest {
  position: relative; }
  .range__invest::before {
    content: '';
    position: absolute;
    top: -35px;
    width: 530px;
    height: 30px;
    background: url("../img/number-invest.png") no-repeat top;
    background-size: contain; }

.range__get {
  position: relative; }
  .range__get::before {
    content: '';
    position: absolute;
    top: -35px;
    width: 530px;
    height: 30px;
    background: url("../img/number-year.png") no-repeat top;
    background-size: contain; }

@media screen and (max-width: 1200px) {
  .range__left input[type="range"] {
    width: 280px; }
  .range__right progress {
    width: 280px; } }

@media screen and (max-width: 768px) {
  .range {
    padding: 30px 0; }
    .range h1 {
      margin: 0;
      font-size: 24px; }
    .range label {
      font-size: 18px;
      text-align: center; }
    .range hr + p {
      font-size: 18px; }
      .range hr + p span {
        display: block;
        font-size: 18px; }
  .range__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .range__left {
    margin: 0 0 50px 0; } }

.ssl {
  padding: 70px 0;
  color: #fff;
  text-align: center;
  background: #051c4f url("../img/ssl-bg.jpg") no-repeat top;
  background-size: cover; }

.ssl__title {
  font-size: 35px;
  font-family: 'ProximaNovaBold', sans-serif; }

.ssl__text {
  margin: 0 0 70px 0;
  font-size: 20px;
  font-family: 'ProximaNovaLight', sans-serif; }

.ssl__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .ssl img {
    width: 75px; }
  .ssl__title {
    font-size: 23px; }
  .ssl__text {
    font-size: 16px; }
  .ssl__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.comment {
  padding: 80px 0;
  background: #dcdcdc; }
  .comment h1 {
    margin: 0 0 60px 0;
    color: #051c4f;
    font-size: 35px;
    font-family: 'ProximaNovaBold', sans-serif;
    text-align: center; }

.comment__box {
  height: 480px !important;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .comment__box p {
    position: absolute;
    bottom: 0px;
    width: 710px;
    margin-left: -190px;
    color: #595959;
    font-size: 16px;
    font-family: 'ProximaNovaLight', sans-serif;
    text-align: center;
    opacity: 0; }
  .comment__box img {
    width: 80px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .comment__box b {
    color: #060606;
    font-size: 24px;
    font-family: 'ProximaNovaLight', sans-serif;
    opacity: 0; }
  .comment__box small {
    color: #6c6c6c;
    font-size: 18px;
    font-family: 'ProximaNova', sans-serif;
    opacity: 0; }

@media screen and (max-width: 768px) {
  .comment {
    display: none; } }

.easy {
  padding: 100px 0;
  color: #fff;
  text-align: center;
  background: #051c4f url("../img/ssl-bg.jpg") no-repeat top;
  background-size: cover; }

.easy__title {
  font-size: 35px;
  font-family: 'ProximaNovaBold', sans-serif; }

.easy__text {
  margin: 0 0 70px 0;
  font-size: 20px;
  font-family: 'ProximaNovaLight', sans-serif; }

@media screen and (max-width: 768px) {
  .easy {
    padding: 60px 0 80px; }
    .easy img {
      width: 90px; }
  .easy__title {
    font-size: 24px; }
  .easy__text {
    margin: 0 0 50px 0;
    font-size: 16px; } }

.type {
  padding: 100px 0 60px 0;
  text-align: center; }
  .type h1 {
    margin: 0 0 60px 0;
    color: #051c4f;
    font-size: 35px;
    font-family: 'ProximaNovaBold', sans-serif; }
  .type hr {
    width: 500px;
    height: 1px;
    margin: 65px auto 35px;
    border: none;
    background: #051c4f; }

.type__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .type__flex--mobile {
    display: none !important; }

.type__box {
  width: 320px;
  padding: 0 0 45px 0;
  -webkit-box-shadow: 0px 4px 58.8px 1.2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 58.8px 1.2px rgba(0, 0, 0, 0.2); }
  .type__box header {
    padding: 60px 0 30px 0; }
  .type__box hr {
    width: 200px;
    margin: 0 auto;
    background: #d1d1d1; }
  .type__box h2 {
    margin: 0;
    color: #051c4f;
    font-size: 36px;
    font-family: 'ProximaNovaBold', sans-serif; }
  .type__box p {
    margin: 50px 0 30px 0;
    color: #858484;
    font-size: 18px;
    font-family: 'ProximaNovaLight', sans-serif; }
  .type__box b {
    display: block;
    margin: 0 0 60px 0;
    font-size: 36px;
    font-family: 'ProximaNovaLight', sans-serif; }

.type__box--center {
  width: 335px; }
  .type__box--center header {
    background: #051c4f; }
  .type__box--center h2 {
    color: #fff;
    font-size: 41px; }
  .type__box--center p {
    margin: 60px 0 40px 0; }
  .type__box--center b {
    color: #051c4f; }

@media screen and (max-width: 768px) {
  .type {
    padding: 30px 0; }
    .type h1 {
      margin: 0 0 25px 0;
      font-size: 24px; }
    .type hr {
      display: none; }
  .type__flex {
    display: none; }
    .type__flex--mobile {
      display: block !important;
      width: 300px;
      margin: auto;
      -webkit-box-shadow: 0px 4px 58.8px 1.2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 4px 58.8px 1.2px rgba(0, 0, 0, 0.2); }
  .type__box {
    width: 300px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .type__box--center p {
      margin: 50px 0 30px 0; } }

.footer {
  padding: 10px 0 60px;
  background: #282828; }
  .footer hr {
    height: 2px;
    margin: 10px 0;
    border: none;
    background: #fff;
    opacity: 0.1; }

.footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer__links ul {
    padding: 0;
    color: #fff;
    font-size: 14px;
    list-style: none; }
    .footer__links ul li {
      margin: 0 0 10px; }
    .footer__links ul b {
      font-family: 'ProximaNovaBold', sans-serif;
      text-transform: uppercase; }
    .footer__links ul a {
      color: #fff;
      font-family: 'ProximaNovaLight', sans-serif;
      text-decoration: none; }

.footer__support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  color: #fff;
  font-size: 14px;
  list-style: none; }
  .footer__support b {
    font-family: 'ProximaNovaBold', sans-serif;
    text-transform: uppercase; }
  .footer__support a {
    color: #fff;
    font-family: 'ProximaNovaLight', sans-serif;
    text-decoration: none; }
    .footer__support a[href^="mailto:"] {
      padding: 0 0 0 40px;
      background: url("../img/footer-mail.svg") no-repeat left;
      background-size: 17px; }
    .footer__support a[href^="tel:"] {
      padding: 0 0 0 40px;
      background: url("../img/footer-tel.svg") no-repeat left;
      background-size: 16px; }

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer__info p {
    color: #fff;
    font-size: 12px;
    font-family: 'ProximaNovaLight', sans-serif;
    opacity: 0.4; }

.footer__left {
  width: 45%; }
  .footer__left b {
    color: #fff;
    font-size: 14px;
    font-family: 'ProximaNovaBold', sans-serif; }

.footer__right {
  width: 45%;
  padding: 20px 0 0; }

.footer__appstore {
  display: inline-block;
  width: 134px;
  height: 39px;
  margin: 0 20px 0 0;
  background: url("../img/footer-as.png") no-repeat top; }

.footer__googleplay {
  display: inline-block;
  width: 133px;
  height: 39px;
  background: url("../img/footer-gp.png") no-repeat top; }

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
  margin: 30px 0 0; }

.footer__fb {
  width: 8px;
  height: 17px;
  background: url("../img/footer-fb.png") no-repeat top;
  background-size: cover; }

.footer__tw {
  width: 18px;
  height: 15px;
  background: url("../img/footer-tw.png") no-repeat top;
  background-size: cover; }

.footer__in {
  width: 17px;
  height: 17px;
  background: url("../img/footer-in.png") no-repeat top;
  background-size: cover; }

.footer__yt {
  width: 17px;
  height: 17px;
  background: url("../img/footer-yt.png") no-repeat top;
  background-size: cover; }

.footer__copyright {
  margin: 30px 0 0;
  text-align: center; }
  .footer__copyright p {
    color: #fff;
    font-size: 12px;
    font-family: 'ProximaNovaLight', sans-serif; }

@media screen and (max-width: 768px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  .footer__support {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer__support li {
      margin: 0 0 10px 0; }
    .footer__support a[href^="mailto:"] {
      padding: 0;
      background: none;
      background-size: 17px; }
    .footer__support a[href^="tel:"] {
      padding: 0;
      background: none;
      background-size: 16px; }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer__left,
  .footer__right {
    width: auto; }
  .footer__right {
    padding: 0; }
  .footer__store {
    width: 291px;
    margin: auto; }
  .footer__social {
    margin: 20px auto 0; } }

.breadcrumbs {
  padding: 25px 0;
  background: #eaeaea; }
  .breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    color: #716f6f;
    font-size: 14px;
    font-family: 'ProximaNova', sans-serif;
    list-style: none; }
    .breadcrumbs ul li {
      margin: 0 10px 0 10px; }
    .breadcrumbs ul a {
      color: #949494;
      text-decoration: none;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .breadcrumbs ul a:hover {
        color: #716f6f; }

.breadcrumbs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .breadcrumbs__inner h1 {
    margin: 0;
    color: #051c4f;
    font-size: 32px;
    font-family: 'ProximaNovaBold', sans-serif; }

@media screen and (max-width: 768px) {
  .breadcrumbs {
    display: none; } }

.legal {
  padding: 40px 0; }
  .legal h1 {
    margin: 0 0 20px 0;
    color: #051c4f;
    font-size: 18px;
    font-family: 'ProximaNovaBold', sans-serif;
    text-transform: uppercase; }

.legal__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.legal__button ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .legal__button ul li button {
    width: 100%;
    padding: 10px;
    color: #949494;
    font-size: 18px;
    font-family: 'ProximaNovaLight', sans-serif;
    border: none;
    background: #fff;
    text-align: left;
    cursor: pointer;
    outline: none; }

.legal__content {
  width: 700px;
  margin: 30px 0 0 0; }
  .legal__content h2 {
    margin: 0 0 30px 0;
    color: #051c4f;
    font-size: 37px;
    font-family: 'ProximaNova', sans-serif; }
  .legal__content p {
    color: #949494;
    font-size: 18px;
    font-family: 'ProximaNovaLight', sans-serif; }
  .legal__content b {
    font-size: 18px;
    font-family: 'ProximaNova', sans-serif; }

.legal__active {
  color: #051c4f !important;
  border-top: 1px solid #051c4f !important;
  border-bottom: 1px solid #051c4f !important;
  background: #fff url("../img/legal-arrow.png") no-repeat right !important;
  background-size: 6px !important; }

.legal__choice {
  display: none; }

@media screen and (max-width: 768px) {
  .legal {
    padding: 0 0 40px 0; }
  .legal__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .legal__button {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 0; }
    .legal__button h1 {
      margin: 0;
      text-transform: none; }
    .legal__button ul {
      position: absolute;
      width: 100%;
      height: auto;
      background: #fff;
      -webkit-transition: top 0.1ms, opacity 0.2s;
      transition: top 0.1ms, opacity 0.2s; }
      .legal__button ul li {
        border-bottom: 1px solid #ddd; }
  .legal__choice {
    display: block;
    width: 140px;
    height: 30px;
    padding: 0 10px 0 25px;
    color: #051c4f;
    font-size: 12px;
    font-family: 'ProximaNovaLight', sans-serif;
    border: 1px solid #051c4f;
    border-radius: 5px;
    background: url("../img/legal-menu.png") no-repeat 7px; }
  .legal__list--closed {
    top: -300px;
    opacity: 0; }
  .legal__list--opened {
    top: 80px;
    opacity: 1; }
  .legal__content {
    width: auto; }
    .legal__content h2 {
      margin: 0 0 10px 0;
      font-size: 20px; }
    .legal__content p {
      font-size: 14px; }
  .legal__active {
    color: #949494 !important;
    border: none !important;
    background: #fff !important; } }

.indicators header {
  margin: 20px 0;
  background: #eee; }
  .indicators header h2 {
    margin: 0;
    padding: 20px 0;
    color: #051c4f;
    font-size: 30px;
    font-family: 'ProximaNovaSemiBold', sans-serif; }
    .indicators header h2:nth-child(2) {
      display: none; }

.indicators__controll {
  padding: 20px 0;
  border-top: 2px solid #f4f4f4; }
  .indicators__controll ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none; }
    .indicators__controll ul li:nth-child(1) {
      color: #051c4f;
      font-size: 20px;
      font-family: 'ProximaNova', sans-serif; }
    .indicators__controll ul li a {
      padding: 10px 20px;
      color: #69696a;
      font-family: 'ProximaNova', sans-serif;
      border: 1px solid #dddddd;
      border-radius: 5px;
      text-decoration: none; }

.indicators__all {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .indicators__all:hover {
    color: #fff;
    background: #051c4f; }

.indicators__trend {
  padding: 10px 50px 10px 20px !important;
  background: url("../img/indicators-trend.png") no-repeat 120px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .indicators__trend:hover {
    color: #fff;
    background: #051c4f url("../img/indicators-trend-h.png") no-repeat 120px; }

.indicators__oscc {
  padding: 10px 50px 10px 20px !important;
  background: url("../img/indicators-oscc.png") no-repeat 135px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .indicators__oscc:hover {
    color: #fff;
    background: #051c4f url("../img/indicators-oscc-h.png") no-repeat 135px; }

.indicators__psyho {
  padding: 10px 50px 10px 20px !important;
  background: url("../img/indicators-psyho.png") no-repeat 165px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .indicators__psyho:hover {
    color: #fff;
    background: #051c4f url("../img/indicators-psyho-h.png") no-repeat 165px; }

.indicators__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .indicators__flex--second {
    margin: 10px 0 0 0; }
  .indicators__flex--trend p {
    background: url("../img/indicators-trend.png") no-repeat right; }
  .indicators__flex--oscc p {
    background: url("../img/indicators-oscc.png") no-repeat right; }
  .indicators__flex--psyho p {
    background: url("../img/indicators-psyho.png") no-repeat right;
    background-size: 14px; }

.indicators__box {
  width: 270px;
  -webkit-box-shadow: 0.8px 0.5px 9px 0.3px rgba(0, 1, 1, 0.2);
  box-shadow: 0.8px 0.5px 9px 0.3px rgba(0, 1, 1, 0.2); }
  .indicators__box img {
    max-width: 100%; }

.indicators__content {
  padding: 20px 20px 30px; }
  .indicators__content b {
    color: #051c4f;
    font-size: 16px;
    font-family: 'ProximaNovaSemiBold', sans-serif; }
  .indicators__content p {
    color: #5d5f62;
    font-size: 14px;
    font-family: 'ProximaNova', sans-serif; }
  .indicators__content hr {
    height: 1px;
    margin: 10px 0;
    border: none;
    background: #dddddd; }
  .indicators__content a {
    display: block;
    width: 150px;
    margin: 30px auto 0;
    padding: 10px 0;
    color: #051c4f;
    font-size: 14px;
    font-family: 'ProximaNova', sans-serif;
    text-align: center;
    text-decoration: none;
    border: 1px solid #051c4f;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .indicators__content a:hover {
      color: #fff;
      background: #051c4f; }

.indicators__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 220px;
  margin: 40px auto;
  padding: 0;
  list-style: none; }
  .indicators__pagination a {
    padding: 14px 17px;
    color: #051c4f;
    font-size: 14px;
    font-family: 'ProximaNovaLight', sans-serif;
    text-decoration: none;
    background: #dddddd;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .indicators__pagination a:hover {
      color: #fefefe;
      background: #051c4f; }

.indicators__active {
  color: #fefefe !important;
  background: #051c4f !important; }

.indicators__menu,
.indicators__button {
  display: none; }

@media screen and (max-width: 768px) {
  .indicators--oscc, .indicators--psyho {
    display: none; }
  .indicators header {
    margin: 2px 0 20px 0; }
    .indicators header h2 {
      font-size: 20px; }
      .indicators header h2:first-child {
        display: none; }
      .indicators header h2:nth-child(2) {
        display: block; }
  .indicators__filtr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
  .indicators__button {
    display: block;
    width: 110px;
    height: 30px;
    padding: 0 10px 0 25px;
    font-size: 14px;
    font-family: 'ProximaNovaLight', sans-serif;
    border: 1px solid #051c4f;
    border-radius: 5px;
    background: transparent url("../img/indicators-menu.png") no-repeat 11px; }
  .indicators__menu {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    list-style: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .indicators__menu li {
      border-bottom: 1px solid #dddddd; }
    .indicators__menu a {
      display: block;
      padding: 15px 0;
      color: #959595;
      font-size: 14px;
      font-family: 'ProximaNova', sans-serif;
      text-decoration: none; }
  .indicators__controll {
    display: none; }
  .indicators__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .indicators__box {
    margin: 0 0 10px 0; }
  .indicators--closed {
    top: -500px; }
  .indicators--opened {
    top: 64px; } }

.contact h1 {
  margin: 50px 0 0 0;
  color: #051c4f;
  font-size: 37px;
  font-family: 'ProximaNovaBold', sans-serif; }

.contact p {
  color: #949494;
  font-size: 18px;
  font-family: 'ProximaNovaLight', sans-serif; }

.two_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 50px 0; }

.left_block,
.right_block {
  width: 370px;
  padding: 55px 65px;
  -webkit-box-shadow: 0.8px 3px 10px 0.4px rgba(0, 5, 7, 0.2);
  box-shadow: 0.8px 3px 10px 0.4px rgba(0, 5, 7, 0.2); }

.left_block hr {
  width: 250px;
  margin: 35px 0 35px 40px; }

.h_block_text {
  margin: 0 0 50px 0;
  color: #051c4f !important;
  font-size: 30px !important;
  font-family: 'ProximaNova', sans-serif !important; }

.left_block p:not(.h_block_text) {
  padding-left: 40px; }

.phone_before {
  position: relative; }

.phone_before:before {
  content: url(../img/phone_ico.png);
  position: absolute;
  top: 2px;
  left: 0px; }

.mail_before {
  position: relative; }

.mail_before:before {
  content: url(../img/mail_ico.png);
  position: absolute;
  top: 1px;
  left: 0px; }

.point_before {
  position: relative; }

.point_before:before {
  content: url(../img/point_ico.png);
  position: absolute;
  top: 1px;
  left: 0px; }

.info input {
  width: 338px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 15px;
  border: 1px solid #949494;
  border-radius: 5px; }
  .info input::-webkit-input-placeholder {
    color: #949494; }
  .info input:-ms-input-placeholder {
    color: #949494; }
  .info input::-ms-input-placeholder {
    color: #949494; }
  .info input::placeholder {
    color: #949494; }

.inp_l {
  width: 340px;
  height: 140px;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: inherit;
  border: 1px solid #949494;
  border-radius: 5px;
  resize: none; }
  .inp_l::-webkit-input-placeholder {
    color: #949494;
    font-size: 15px; }
  .inp_l:-ms-input-placeholder {
    color: #949494;
    font-size: 15px; }
  .inp_l::-ms-input-placeholder {
    color: #949494;
    font-size: 15px; }
  .inp_l::placeholder {
    color: #949494;
    font-size: 15px; }

.right_block button {
  margin: 20px 0 0 0;
  margin-left: auto;
  padding: 10px;
  font-size: 12px;
  background-color: #ad0000;
  color: white;
  display: block;
  width: 180px;
  border-radius: 5px; }

@media screen and (max-width: 1200px) {
  .two_blocks {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media screen and (max-width: 768px) {
  .contact h1 {
    margin: 30px 0 0 0;
    font-size: 24px; }
  .contact p {
    font-size: 14px; }
  .two_blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 0 0; }
  .left_block {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 240px;
    margin: 0 0 20px 0;
    padding: 40px 30px; }
  .right_block {
    width: 260px;
    margin: 0 0 20px 0;
    padding: 30px 20px; }
  .h_block_text {
    margin: 0 0 20px 0;
    font-size: 24px !important; }
  .left_block hr {
    width: 100%;
    margin: 35px 0 35px 0px; }
  .info input {
    width: 228px;
    font-size: 14px; }
  .inp_l {
    width: 230px; }
  .right_block button {
    width: 100% !important;
    margin-left: 0;
    font-size: 16px;
    width: 180px; } }

.f_h {
  margin: 0;
  padding: 40px 0 50px 0;
  color: #051c4f;
  font-size: 32px;
  font-family: 'ProximaNovaBold', sans-serif;
  text-align: center; }

.ft_h {
  margin: 30px;
  color: #051c4f;
  text-align: center;
  font-size: 40px;
  font-family: 'ProximaNovaBold', sans-serif; }

main {
  margin-top: 3px;
  padding-bottom: 40px;
  background-color: #f4f4f4; }

.plan_types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.silver {
  width: 380px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0.767px 10.973px 9.79px 1.21px rgba(0, 5, 7, 0.25);
  box-shadow: 0.767px 10.973px 9.79px 1.21px rgba(0, 5, 7, 0.25); }

.gold {
  width: 380px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0.767px 10.973px 9.79px 1.21px rgba(0, 5, 7, 0.25);
  box-shadow: 0.767px 10.973px 9.79px 1.21px rgba(0, 5, 7, 0.25); }

.platinum {
  width: 380px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0.767px 10.973px 9.79px 1.21px rgba(0, 5, 7, 0.25);
  box-shadow: 0.767px 10.973px 9.79px 1.21px rgba(0, 5, 7, 0.25); }

.silver h1 {
  font-size: 35px; }

.prices {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #051c4f;
  background-color: #eeeeee;
  font-size: 27px;
  font-family: 'ProximaNovaBold', sans-serif; }

.pros_list {
  margin: 0;
  padding: 0;
  list-style: none; }

.pros_list li {
  font-size: 15px;
  font-family: 'ProximaNovaLight', sans-serif;
  border-bottom: 1px dotted #000;
  border-color: #d8d8d8;
  padding-bottom: 15px;
  padding-top: 15px;
  color: #828282; }

.plans_button_one {
  width: 217px;
  font-size: 14px;
  font-family: 'ProximaNova', sans-serif;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #00154f;
  padding: 10px 70px;
  margin-top: 50px;
  margin-bottom: 30px; }

.plans_button_two {
  padding: 10px 70px;
  margin: 50px 0px 30px;
  color: white;
  border-width: 1px;
  border-color: #051c4f;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background-color: #051c4f;
  width: 217px; }

.s_h {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: bold;
  margin: 0;
  color: white;
  background: linear-gradient(10deg, #002e5f 0%, black 100%); }

@media screen and (max-width: 768px) {
  .plan_types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto; }
  .gold, .platinum, .silver {
    width: 300px; }
  .f_h {
    padding: 20px 0;
    font-size: 20px; }
  .ft_h,
  .s_h {
    font-size: 24px; }
  .pros_list {
    padding: 0 20px; }
    .pros_list li {
      font-size: 13px; }
  .price {
    font-size: 20px; }
  .plans_button_one,
  .plans_button_two {
    margin: 20px 0; }
  .silver,
  .gold {
    margin-bottom: 20px; } }

.article {
  position: relative;
  width: 280px;
  height: 420px;
  margin: 20px auto 0px;
  font-size: 15px;
  font-weight: lighter;
  color: #8B8B8B;
  border-width: 1px;
  border-color: #e8e8e8;
  border-style: solid;
  background-color: white;
  -webkit-box-shadow: 0.839px 0.545px 8.73px 0.27px rgba(0, 5, 7, 0.21);
  box-shadow: 0.839px 0.545px 8.73px 0.27px rgba(0, 5, 7, 0.21); }

.article_text h1 {
  margin-bottom: 0;
  color: #00154F;
  font-size: 21px;
  font-family: 'ProximaNova', sans-serif;
  font-weight: normal; }

.article_text {
  /* height: 180px; */
  margin: 0 auto 0;
  width: 250px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; }

.article_text p {
  /* height: 180px; */
  margin: 15 auto 0;
  width: 250px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 13px;
  font-family: 'ProximaNova', sans-serif; }

.details {
  padding: 20px 0px 40px;
  text-align: center; }

.details a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  padding: 10px 40px;
  color: #051c4f;
  font-size: 14px;
  font-family: 'ProximaNova', sans-serif;
  border: 1px solid #051c4f;
  border-radius: 5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .details a:hover {
    color: #fff;
    background: #051c4f; }

.row_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row_four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.articles__name {
  display: none; }

@media screen and (max-width: 768px) {
  .row_one,
  .row_two,
  .row_three,
  .row_four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .articles__name {
    display: block;
    margin: 3px 0 0 0;
    padding: 20px;
    color: #051c4f;
    font-size: 20px;
    font-family: 'ProximaNovaBold', sans-serif;
    background: #f4f4f4; } }
