@charset "UTF-8";
body {
  min-width: 320px;
  margin: 0; }

.container {
  width: 1080px;
  margin: 0 auto; }

@media screen and (max-width: 1200px) {
  .container {
    width: 95%; } }

@font-face {
  font-family: "ProximaNova";
  src: local("ß"), url("../fonts/ProximaNova.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBlack*/
@font-face {
  font-family: "ProximaNovaBlack";
  src: local("ß"), url("../fonts/ProximaNovaBlack.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBlackItalic*/
@font-face {
  font-family: "ProximaNovaBlackItalic";
  src: local("ß"), url("../fonts/ProximaNovaBlackItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBold*/
@font-face {
  font-family: "ProximaNovaBold";
  src: local("ß"), url("../fonts/ProximaNovaBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaBoldItalic*/
@font-face {
  font-family: "ProximaNovaBoldItalic";
  src: local("ß"), url("../fonts/ProximaNovaBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaExtraBold*/
@font-face {
  font-family: "ProximaNovaExtraBold";
  src: local("ß"), url("../fonts/ProximaNovaExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaExtraBoldItalic*/
@font-face {
  font-family: "ProximaNovaExtraBoldItalic";
  src: local("ß"), url("../fonts/ProximaNovaExtraBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaItalic*/
@font-face {
  font-family: "ProximaNovaItalic";
  src: local("ß"), url("../fonts/ProximaNovaItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaLight*/
@font-face {
  font-family: "ProximaNovaLight";
  src: local("ß"), url("../fonts/ProximaNovaLight.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaLightItalic*/
@font-face {
  font-family: "ProximaNovaLightItalic";
  src: local("ß"), url("../fonts/ProximaNovaLightItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaSemiBold*/
@font-face {
  font-family: "ProximaNovaSemiBold";
  src: local("ß"), url("../fonts/ProximaNovaSemiBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/*ProximaNovaSemiBoldItalic*/
@font-face {
  font-family: "ProximaNovaSemiBoldItalic";
  src: local("ß"), url("../fonts/ProximaNovaSemiBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

.time {
  padding: 20px 0;
  border-bottom: 1px solid #051c4f; }

.time__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.time__box {
  color: #051c4f;
  font-size: 13px;
  font-family: 'ProximaNova', sans-serif; }

.nav {
  padding: 20px 0; }

.nav__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none; }

.button {
  color: #fff;
  font-size: 18px;
  font-family: 'ProximaNova', sans-serif;
  text-decoration: none;
  border-radius: 5px; }
  .button--blue {
    margin: 0 10px;
    padding: 10px 50px;
    background: #051c4f; }
  .button--red {
    padding: 20px 60px;
    text-transform: uppercase;
    background: #ad0000; }

.title {
  color: #fff;
  text-align: center;
  background: #051c4f url("../img/title-bg.jpg") top;
  background-size: cover; }
  .title h1 {
    margin-top: 0;
    padding-top: 260px;
    font-size: 60px;
    font-family: 'ProximaNovaExtraBold', sans-serif; }
  .title p {
    margin-bottom: 110px;
    font-size: 25px;
    font-family: 'ProximaNovaLight', sans-serif; }

.title__down {
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  padding-bottom: 95px;
  border: none;
  background: transparent; }

.title__dot {
  display: block;
  width: 6px;
  height: 6px;
  margin: 5px auto;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-name: mouse-dot;
  animation-name: mouse-dot;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
  .title__dot:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .title__dot:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .title__dot:nth-child(3) {
    -webkit-animation-delay: 0.66667s;
    animation-delay: 0.66667s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }

.title__mouse {
  position: relative;
  display: block;
  width: 22px;
  height: 31px;
  margin-top: 15px;
  background: url("../img/title-mouse.png") no-repeat top;
  -webkit-animation: mouse;
  animation: mouse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes mouse-dot {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes mouse-dot {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes mouse {
  0% {
    top: 0; }
  100% {
    top: 10px; } }

@keyframes mouse {
  0% {
    top: 0; }
  100% {
    top: 10px; } }
