.intro {
  padding-bottom: 50px;
  background: linear-gradient(248.11deg, #00D2FF -33.46%, #2F5E6C 108.56%); 
}

.intro__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px 0;
}

.intro__logo {
  width: 60px;
  height: 60px;
}

.intro__phone {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.intro__content {
  width: 600px;
}

.intro__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 900;
}

.intro__text {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}

.intro__alert {
  color: #FF3434;
  font-size: 18px;
  font-weight: 400;
}

@media screen and ($mobile) {
  .intro__content {
    width: auto;
  }
}