.body {
  min-width: 320px;
  margin: 0;
  font-family: 'Lato', sans-serif;
  
  &--inner {
    background: #f7f9fc;
  }
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and ($tablet-widths) {
  .container {
    width: 100%;
  }
}

@media screen and ($mobile-widths) {
  .container {
    padding: 0;
  }
}