.nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 55px 40px 40px 100px;
  background: #131216;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  
  &:nth-child(2) {
    margin-top: auto; 
    opacity: 0.4;
  }
}

.nav__item {
  
  a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    
    &:hover {
      color: rgba(182, 192, 212, 0.3);
    }
  }
  
  &--logo {
    margin: 0 0 55px 0;
    
    a {
      display: block;
      width: 90px;
      color: #fff;
      font-size: 56px;
      font-weight: bold;
      letter-spacing: normal;
      
      span {
        display: inherit;
        color: #cba570;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 2.33px;
      }
    }
  }
  
  &--phone {
    
    a {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 3.5px;
    }
  }
  
  &--mail {
    
    a {
      color: #CFA056;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 3.5px;
    }
  }
  
  &--address {
    
    a {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
  
  &--active {
    
    a {
      position: relative;
      color: rgba(182, 192, 212, 0.3);
      
      &::before {
        content: '';
        position: absolute;
        top: 7px;
        width: 70px;
        height: 1px;
        background: #cba570;
        animation: line 0.3s both;
      }
      
      &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: -31px;
        width: 6px;
        height: 6px;
        background: url('../img/active.svg') no-repeat center / 6px;
        animation: round 0.3s 0.25s both;
      }
    }
  }
}

@keyframes line {
  0% {
    left: -200px;
  }
  
  100% {
    left: -100px;
  }
}

@keyframes round {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.nav__hr {
  width: 40px;
  height: 1px;
  margin: 20px 0;
  border: none;
  background: #fff;
  opacity: 0.4;
}