<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>tinyone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand-logo">
                            <img src="img/fingerprint.png" alt="logo">
                            <p class="logo-text">tinyone</p>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="navbar-nav menu">
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-7 col-xs-7">
                    <div class="title-block">
                        <h1>Inspire your inspiration</h1>
                        <p class="title-text">Simple to use for your app, products<br>showcase and your inspiration</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quae dignissimos assumenda expedita soluta, hic harum doloremque autem nam id, atque odio adipisci repudiandae illo laboriosam voluptas, nisi beatae mollitia.</p>
                        <div class="header-icon">
                            <div class="main-img">
                                <div class="apple"></div>
                                <div class="android"></div>
                                <div class="windows"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-2 col-sm-5 col-xs-5">
                    <div class="images"></div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <h2>Tinyone features</h2>
                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci quae reprehenderit, mollitia nesciunt laborum cupiditate!</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-resp">
                        <img src="img/icon-font-1.png">
                        <p class="title-box">Fully Responsive</p>
                        <p class="desc-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci quae reprehenderit, mollitia nesciunt laborum cupiditate!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-psd">
                        <img src="img/icon-font-3.png">
                        <p class="title-box">Fully Layered PSD</p>
                        <p class="desc-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci quae reprehenderit, mollitia nesciunt laborum cupiditate!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-font">
                        <img src="img/icon-font-2.png">
                        <p class="title-box">Font Awesome Icons</p>
                        <p class="desc-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci quae reprehenderit, mollitia nesciunt laborum cupiditate!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-html">
                        <img src="img/icon-font-4.png">
                        <p class="title-box">HTML5 & CSS3</p>
                        <p class="desc-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci quae reprehenderit, mollitia nesciunt laborum cupiditate!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-email">
                        <img src="img/icon-font-5.png">
                        <p class="title-box">Email Template</p>
                        <p class="desc-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci quae reprehenderit, mollitia nesciunt laborum cupiditate!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-free">
                        <img src="img/icon-font-6.png">
                        <p class="title-box">Free to download</p>
                        <p class="desc-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci quae reprehenderit, mollitia nesciunt laborum cupiditate!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <h3>Keep in touch with us</h3>
                <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nisi, iste deleniti animi fugit, ut aperiam voluptates facilis ducimus porro, cum voluptatem, rem sunt iure earum sint autem natus inventore!</p>
                <input type="text" placeholder="Enter your email to update">
                <input type="submit" value="SUBMIT">
            </div>
            <div class="row">
                <div class="image-box">
                    <a href="#"><img src="img/facebook%20ico.png" alt="facebook"></a>
                    <a href="#"><img src="img/twitter%20ico.png" alt="twitter"></a>
                    <a href="#"><img src="img/google%20%20%20ico.png" alt="google"></a>
                    <a href="#"><img src="img/pinterest%20ico.png" alt="pinterest"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 col-lg-offset-1">
                    <div class="footer-box">
                        <p>HALOVIETNAM LTD</p>
                        <p>66, Dang Van ngu, Dong Da</p>
                        <p>Hanoi, Vietnam</p>
                        <p>contact@halovietnam.com</p>
                        <p>+844 35149182</p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <div class="footer-box">
                        <a href="#">Examples</a>
                        <a href="#">Shop</a>
                        <a href="#">License</a>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="footer-box">
                        <a href="#">Contact</a>
                        <a href="#">About</a>
                        <a href="#">Privacy</a>
                        <a href="#">Terms</a>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="footer-box">
                        <a href="#">Download</a>
                        <a href="#">Support</a>
                        <a href="#">Documents</a>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="footer-box">
                        <a href="#">Media</a>
                        <a href="#">Blog</a>
                        <a href="#">Forums</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>