@media screen and (max-width: 992px) {
    .box-html {
        margin-top: -245px;
        margin-left: 375px;
    }
    
    .box-email {
        margin-left: -375px;
    }
    
    .box-free {
        margin-top: -245px;
        margin-left: 375px;
    }
    
    input[type="text"] {
        margin-left: 10px;
    }
    
    section {
        height: 1100px;
    }
    
    footer {
        height: 800px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    input[type="text"] {
        margin-left: 120px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        padding-top: 20px;
        padding-left: 20px;
    }
    
    .title-block {
        width: 300px;
    }
    
    .images {
        margin-left: -70px;
    }
    
    section {
        height: 1900px;
    }
    
    .box-email, .box-free, .box-html, .box-resp, .box-psd, .box-font {
        margin: 0 auto;
    }
    
    input[type="text"] {
        width: 420px;
    }
}

@media screen and (max-width: 640px) {
    .images {
        display: none;
    }
    
    .title-block h1 {
        padding-top: 60px;
        font-size: 50px;
    }
    
    footer {
        height: 1000px;
    }
    
    input[type="submit"] {
        margin-left: 150px;
    }
}