body {
  min-width: 320px;
  margin: 0; }

.container {
  width: 1200px;
  margin: auto; }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v15-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v15-latin-800.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

.header {
  padding: 15px 0; }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 275px;
  padding-left: 0;
  list-style: none; }
  .main-nav li {
    position: relative; }
  .main-nav a {
    padding-bottom: 15px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Open Sans ExtraBold', sans-serif;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer; }

.main-nav__list {
  position: absolute;
  top: 30px;
  left: -20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
  width: 232px;
  padding-left: 0;
  list-style: none;
  border: 1px solid red;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2; }
  .main-nav__list a {
    display: block;
    padding: 10px 20px;
    color: #000;
    font-size: 14px;
    font-family: 'Open Sans Regular', sans-serif;
    background: none;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .main-nav__list a:hover {
      background: red; }

.main-nav > li:hover .main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-nav__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 350px; }

.button {
  color: #fff;
  font-size: 18px;
  font-family: 'Open Sans Bold', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px; }
  .button--header {
    padding: 12px 30px; }
  .button--green {
    background: #29a643; }
  .button--gray {
    background: #c1c1c1; }
  .button--slider {
    margin: 0 15px;
    padding: 25px 75px; }
  .button--unclick {
    padding: 22px 72px;
    border: 3px solid #29a643;
    background: transparent; }

.slider {
  z-index: 1; }

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 800px; }

.slider__box h2 {
  margin-top: 0;
  color: #fff;
  font-size: 70px;
  font-family: 'Open Sans Bold', sans-serif; }

.slider__box--1 {
  background: url("../img/slide-1.jpg") no-repeat center;
  background-size: cover; }

.slider__box--2 {
  background: url("../img/slide-2.jpg") no-repeat center;
  background-size: cover; }

.slider__box--3 {
  background: url("../img/slide-3.jpg") no-repeat center;
  background-size: cover; }

.slider__box--4 {
  background: url("../img/slide-4.jpg") no-repeat center;
  background-size: cover; }

.slider__box--5 {
  background: url("../img/slide-5.jpg") no-repeat center;
  background-size: cover; }

.edge {
  padding: 130px 0;
  text-align: center; }
  .edge h1 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 70px;
    font-family: 'Open Sans Bold', sans-serif; }
  .edge p {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: 'Open Sans Regular', sans-serif; }

.edge__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.edge__box {
  width: 250px;
  padding-top: 150px;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase; }
  .edge__box--1 {
    background: url("../img/edge-1.svg") no-repeat top;
    background-size: 120px; }
  .edge__box--2 {
    background: url("../img/edge-2.svg") no-repeat top;
    background-size: 120px; }
  .edge__box--3 {
    background: url("../img/edge-3.svg") no-repeat top;
    background-size: 120px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contact__left {
  width: 50%;
  background: url("../img/contact-bg.jpg") no-repeat top;
  background-size: cover; }

.contact__right {
  width: 50%;
  padding: 65px 0;
  background: #dcdcdc; }
  .contact__right h3 {
    margin-top: 0;
    font-size: 25px;
    font-family: 'Open Sans Bold', sans-serif;
    text-align: center;
    text-transform: uppercase; }

.form {
  width: 570px;
  margin: auto; }
  .form button {
    width: 100%;
    padding: 30px 0;
    background: #29a643; }

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 200px;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Open Sans Regular', sans-serif; }

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__input input {
    width: 370px;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px; }
  .form__input textarea {
    width: 370px;
    height: 145px;
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
    resize: none; }

.app {
  padding-top: 70px; }

.app__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.app__left {
  width: 500px;
  text-align: center; }
  .app__left h3 {
    margin-bottom: 30px;
    font-size: 70px;
    font-family: 'Open Sans Bold', sans-serif; }
  .app__left p {
    margin-bottom: 40px;
    font-size: 25px;
    font-family: 'Open Sans Regular', sans-serif; }

.app__apple {
  display: inline-block;
  width: 192px;
  height: 60px;
  margin-right: 15px;
  background: url("../img/app-a.jpg"); }

.app__google {
  display: inline-block;
  width: 194px;
  height: 60px;
  margin-left: 15px;
  background: url("../img/app-g.jpg"); }

.comment {
  padding-top: 70px;
  background: #dcdcdc; }
  .comment h3 {
    margin-top: 0;
    font-size: 35px;
    font-family: 'Open Sans Bold', sans-serif;
    text-align: center;
    text-transform: uppercase; }

.comment__box {
  height: 350px !important;
  padding-top: 100px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .comment__box p {
    position: absolute;
    top: 0;
    width: 700px;
    margin-left: -240px;
    font-size: 18px;
    opacity: 0; }
  .comment__box img {
    width: 100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .comment__box b {
    font-size: 18px;
    font-family: 'Open Sans Bold', sans-serif;
    text-transform: uppercase;
    opacity: 0; }
  .comment__box small {
    font-size: 18px;
    font-family: 'Open Sans Regular', sans-serif;
    opacity: 0; }

.payment {
  padding: 20px 0;
  background: #818181; }

.payment__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.payment__box {
  width: 157px;
  height: 45px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }

.payment__box--wm {
  width: 155px;
  height: 41px;
  background: url("../img/wm.svg") no-repeat center;
  background-size: 155px, 41px; }
  .payment__box--wm:hover {
    background: url("../img/wm-h.svg") no-repeat center;
    background-size: 155px, 41px; }

.payment__box--sofort {
  width: 111px;
  height: 36px;
  background: url("../img/sofort.svg") no-repeat center;
  background-size: 111px, 36px; }
  .payment__box--sofort:hover {
    background: url("../img/sofort-h.svg") no-repeat center;
    background-size: 111px, 36px; }

.payment__box--ae {
  width: 121px;
  height: 42px;
  background: url("../img/ae.svg") no-repeat center;
  background-size: 121px, 42px; }
  .payment__box--ae:hover {
    background: url("../img/ae-h.svg") no-repeat center;
    background-size: 121px, 42px; }

.payment__box--neteller {
  width: 157px;
  height: 27px;
  background: url("../img/neteller.svg") no-repeat center;
  background-size: 157px, 27px; }
  .payment__box--neteller:hover {
    background: url("../img/neteller-h.svg") no-repeat center;
    background-size: 157px, 27px; }

.payment__box--ideal {
  width: 52px;
  height: 45px;
  background: url("../img/ideal.svg") no-repeat center;
  background-size: 52px, 45px; }
  .payment__box--ideal:hover {
    background: url("../img/ideal-h.svg") no-repeat center;
    background-size: 52px, 45px; }

.payment__box--skrill {
  width: 107px;
  height: 37px;
  background: url("../img/skrill.svg") no-repeat center;
  background-size: 107px, 37px; }
  .payment__box--skrill:hover {
    background: url("../img/skrill-h.svg") no-repeat center;
    background-size: 107px, 37px; }

.payment__box--visa {
  width: 110px;
  height: 36px;
  background: url("../img/visa.svg") no-repeat center;
  background-size: 110px, 36px; }
  .payment__box--visa:hover {
    background: url("../img/visa-h.svg") no-repeat center;
    background-size: 110px, 36px; }

.payment__box--master {
  width: 75px;
  height: 40px;
  background: url("../img/master.svg") no-repeat center;
  background-size: 75px, 40px; }
  .payment__box--master:hover {
    background: url("../img/master-h.svg") no-repeat center;
    background-size: 75px, 40px; }

.payment__box--bank {
  width: 117px;
  height: 43px;
  background: url("../img/bank.svg") no-repeat center;
  background-size: 117px, 43px; }
  .payment__box--bank:hover {
    background: url("../img/bank-h.svg") no-repeat center;
    background-size: 117px, 43px; }

@media screen and (max-width: 768px) {
  .payment {
    padding-bottom: 0; }
  .payment__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .payment__box {
    margin-bottom: 20px; } }

.footer {
  padding-top: 50px;
  background: #212121; }
  .footer b {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Open Sans Bold', sans-serif; }
  .footer ul {
    padding-left: 0;
    font-family: 'Open Sans Regular', sans-serif;
    list-style: none;
    list-style-position: inside; }
    .footer ul a {
      color: #818181;
      text-decoration: none;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      .footer ul a:hover {
        color: #29a643; }
  .footer h1 {
    color: #fff;
    font-size: 25px;
    font-family: 'SF UI Display Heavy', sans-serif;
    text-align: center;
    text-transform: uppercase; }
  .footer p {
    color: #818181;
    font-family: 'SF UI Display Regular', sans-serif;
    text-align: center; }
  .footer hr {
    opacity: 0.2; }

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__copyright {
  margin: 0;
  margin-top: 50px;
  padding: 30px 0;
  color: #fff !important;
  background: #627062; }

.footer__active {
  color: #29a643; }

@media screen and (max-width: 768px) {
  .footer__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }
