.intro {
  height: 100vh;
  background-color: #F5F1EB;
  background-image: url('../img/intro-bg.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.intro__content {
  width: 700px;
  padding-top: 75px;
}

.intro__title {
  margin-top: 0;
  color: $text;
  font-size: 30px;
  font-weight: 700;
}

.intro__text {
  color: $text;
  font-size: 18px;
  
  &--italic {
    margin-bottom: 60px;
    color: $red;
    font-style: italic;
    font-weight: 500;
  }
}

@media screen and ($tablet) {
  .intro {
    background-position: top;
  }
}

@media screen and ($mobile) {
  .intro__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100vh;
    padding: 0 15px;
    backdrop-filter: blur(3px);
  }
  
  .intro__title {
    font-size: 24px;
    text-align: center;
  }
  
  .intro__text {
    margin-top: 0;
    font-size: 16px;
    
    &--italic {
      margin-bottom: 30px;
      
      br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .intro__title {
    font-size: 21px;
  }
}