@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Heavy Italic'), local('SFUIText-HeavyItalic'),
		url('../fonts/SFUIText-HeavyItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Light Italic'), local('SFUIText-LightItalic'),
		url('../fonts/SFUIText-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Medium Italic'), local('SFUIText-MediumItalic'),
		url('../fonts/SFUIText-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
		url('../fonts/SFUIDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
		url('../fonts/SFUIDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
		url('../fonts/SFUIDisplay-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
		url('../fonts/SFUIDisplay-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
		url('../fonts/SFUIDisplay-Ultralight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Semibold'), local('SFUIText-Semibold'),
		url('../fonts/SFUIText-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
		url('../fonts/SFUIDisplay-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Regular'), local('SFUIText-Regular'),
		url('../fonts/SFUIText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
		url('../fonts/SFUIDisplay-Black.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Bold Italic'), local('SFUIText-BoldItalic'),
		url('../fonts/SFUIText-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Bold'), local('SFUIText-Bold'),
		url('../fonts/SFUIText-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
		url('../fonts/SFUIDisplay-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Light'), local('SFUIText-Light'),
		url('../fonts/SFUIText-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Heavy'), local('SFUIText-Heavy'),
		url('../fonts/SFUIText-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Medium'), local('SFUIText-Medium'),
		url('../fonts/SFUIText-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
		url('../fonts/SFUIDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Italic'), local('SFUIText-Italic'),
		url('../fonts/SFUIText-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Semibold Italic'), local('SFUIText-SemiboldItalic'),
		url('../fonts/SFUIText-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}