.control {
  margin: 0;
  margin-top: 20px;
  padding-left: 25px;
}

.control__item {
  margin-bottom: 10px;
  list-style-image: url('../img/list.svg');
  
  &:last-child {
    margin-bottom: 0;
  }
}

.control__anchor {
  color: $text;
  font-size: 18px;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    color: $blue;
  }
}