.entry__form--model-filter {
    label {
      width: 80px;
      text-align: center;
      text-transform: lowercase;
      padding: 65px 5px 115px 5px;
      margin-bottom: 5px;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 99px;
          left: 50%;
          bottom: 0;
          width: 64px;
          transform: translateX(-50%);
          background-image: url("../img/icons/sprite.png");
        }
        &:first-child::before {
          width: 52px;
          height: 49px;
          background-position: -10px -343px;
        }
        &:nth-child(2)::before {
          width: 58px;
          height: 68px;
          background-position: -10px -412px;
        }
        &:nth-child(3)::before {
          width: 63px;
          height: 78px;
          background-position: -10px -500px;
        }
        &:nth-child(4)::before {
          width: 57px;
          height: 97px;
          background-position: -10px -598px;
        }
        &:last-child::before {
          width: 46px;
          height: 104px;
          background-position: -10px -715px;
        }
    }
}

@media ($mobile-widths-only) {
  .entry {
    @include triangle-down(34px, #f8f5f2);
    padding-bottom: 39px;
  }

  .entry__form {
    flex-direction: column;
    flex-wrap: nowrap;
      > input {
         &[name="patronymic"] {
           margin-bottom: 32px;
         }
         &[type="email"] {
           margin-bottom: 32px;
         }
      }
      fieldset {
        margin-top: 38px;
      }
      legend {
        margin-bottom: 35px;
      }
  }

  .entry__btn {
    margin-top: 27px;
  }
}

@media ($tablet-widths) {
  .entry {
    margin-bottom: 76px;
  }

  .entry__form {
    > input {
        &[name="name"],
        &[name="surname"],
        &[name="patronymic"] {
          width: 30.73%;
          min-width: 212px;
          margin-bottom: 35px;
        }
        &[name="tel"] {
          width: 100%;
          margin-bottom: 35px;
        }
        &[type="email"] {
          width: 100%;
          margin-bottom: 35px;
        }
    }
    fieldset {
      border-top: 1px solid #e5ddd5;
      margin-top: 55px;
    }
    legend {
      margin-bottom: 65px;
      width: 370px;
    }
  }

  .entry__btn {
    margin-top: 12px;
    width: 100%;
  }
}

@media ($desktop-widths) {
  .entry {
    margin-bottom: 87px;
  }

  .form {
      > input {
         &[name="tel"] {
           width: 462px;
         }
         &[type="email"] {
           width: 462px;
         }
      }
  }
}
