.button {
  position: relative;
  padding: 25px 35px;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  font-family: inherit;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  
  &--entry {
    background: $main-red;
    box-shadow: 0px 10px 18px 0px rgba(246, 27, 60, 0.5);
    
    &::before {
      content: '';
      position: absolute;
      top: -50px;
      right: -145px;
      width: 145px;
      height: 20px;
      background: url('../img/svg/wave.svg') no-repeat center;
    }
  }
  
  &--red {
    background: $main-red;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 15px 18px 0px rgba(246, 27, 60, 0.3);
    transform: translateY(-5px);
  }
}