.desc {
  position: relative;
  padding: 150px 0 100px 0;
  
  &::before {
    content: '';
    position: absolute;
    top: -200px;
    right: 0;
    width: 900px;
    height: 610px;
    background: url('../img/desc-mockup.png') no-repeat center / cover;
  }
}

.desc__box {
  width: 200px;
  
  &:hover .desc__name,
  &:hover .desc__text {
    color: #fff;
  }
  
  &:hover .desc__name::before {
    top: -70px;
    left: -40px;
    width: 250px;
    height: 250px;
    background: $main-red;
  }
}

.desc__name {
  position: relative;
  display: block;
  margin: 0 0 15px 0;
  font-size: 18px;
  font-weight: 800;
  transition: 0.5s;
  
  &::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f5f5f5;
    transition: 0.5s;
    z-index: -1;
  }
}

.desc__text {
  font-size: 18px;
  font-weight: 300;
  transition: 0.7s;
}

@media screen and ($tablet-widths) {
  .desc {
    
    &::before {
      width: 650px;
      height: 450px;
    }
  }
}

@media screen and ($mobile-widths) {
  .desc {
    padding: 0;
    
    &::before {
      display: none;
    }
  }
  
  .desc__box {
    margin: 0 0 50px 0;
    text-align: center;
    
    &:last-child {
      margin: 0;
    }
    
    &:hover .desc__name,
    &:hover .desc__text {
      color: #fff;
    }
    
    &:hover .desc__name::before {
      top: -60px;
      left: 100px;
      width: 200px;
      height: 200px;
      background: $main-red;
    }
  }
  
  .desc__name,
  .desc__text {
    font-size: 14px;
  }
  
  .desc__name {
    
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}