.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &--desc {
    width: 780px;
    margin: 100px 0 0 0;
  }
  
  &--teachers {
    align-items: stretch;
  }
  
  &--plan {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and ($tablet-widths) {
  .flex {
    // flex-wrap: wrap;
    
    &--desc {
      width: auto;
      margin: 100px auto 0 auto;
      padding: 0 30px;
    }
    
    &--teachers {
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

@media screen and ($mobile-widths) {}