.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &--desc {
    width: 780px;
    margin: 100px 0 0 0;
  }
  
  &--teachers {
    align-items: stretch;
  }
  
  &--plan {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and ($tablet-widths) {
  .flex {
    
    &--desc {
      margin: 100px auto 0 auto;
    }
  }
}

@media screen and ($mobile-widths) {}