.impressions {
  position: relative;
  padding: 80px 0;
  
  &::before {
    content: '';
    position: absolute;
    top: -300px;
    right: 150px;
    width: 600px;
    height: 600px;
    border: 100px solid #f5f5f5;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s decorate-bounce infinite alternate;
    z-index: -1;
  }
}

.impressions__wrapper {
  overflow-x: scroll;
}

.impressions__list {
  display: flex;
  width: 300%;
  margin: 70px 0 0 0;
  padding: 0 0 30px 0;
  list-style: none;
}

.impressions__item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0 50px 0 0;
}

.impressions__img {
  width: 165px;
  height: 165px;
  margin: 0 60px 0 0;
  border-radius: 5px;
  object-fit: cover;
}

.impressions__name {
  display: block;
  margin: 0 0 30px 0;
  font-size: 18px;
  font-weight: 800;
}

.impressions__blockquote {
  margin: 0 0 30px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.impressions__link {
  color: $main-red;
  font-size: 18px;
  font-weight: 300;
}