.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  
  &--active {
    opacity: 1;
    visibility: visible;
  }
}