.plan {
  padding: 60px 0 400px 0;
  background: url('../img/plan-bg.png') no-repeat top / cover;
}

.plan__list {
  margin: 100px 0 0 0;
  padding: 0;
}

.plan__item {
  width: 100%;
  margin: 0 0 50px 0;
  
  &:nth-child(2n) {
    
    .plan__content {
      order: 2;
    }
    
    .plan__mockup {
      order: 1;
    }
  }
}

.plan__content {
  position: relative;
  width: 45%;
  
  &::before {
    content: '';
    position: absolute;
    top: -120px;
    color: #e9e9e9;
    font-size: 100px;
    font-weight: 800;
    opacity: 0.6;
  }
  
  &--1 {
    
    &::before {
      content: 'просто';
      left: 50px;
    }
  }
  
  &--2 {
    
    &::before {
      content: 'общение';
      right: 50px;
    }
  }
  
  &--3 {
    
    &::before {
      content: 'практика';
      left: 50px;
    }
  }
  
  &--4 {
    
    &::before {
      content: 'повтор';
      right: 50px;
    }
  }
}

.plan__name {
  padding: 0 0 0 30px;
  font-size: 18px;
  font-weight: 800;
  background: url('../img/svg/red-arrow.svg') no-repeat left;
}

.plan__text {
  padding: 0 0 0 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.plan__mockup {
  width: 45%;
  height: 330px;
  border-radius: 5px;
  
  &--1 {
    background: url('../img/plan-1.jpg') no-repeat center / cover;
  }
  
  &--2 {
    background: url('../img/plan-2.jpg') no-repeat center / cover;
  }
  
  &--3 {
    background: url('../img/plan-3.jpg') no-repeat center / cover;
  }
  
  &--4 {
    background: url('../img/plan-4.jpg') no-repeat center / cover;
  }
}

@media screen and ($tablet-widths) {  
  .plan__content {
    
    &::before {
      // left: 0;
      top: -90px;
      font-size: 70px;
    }
  }
  
  .plan__text {
    
    &--2 {
      
      &::after {
        left: -50px;
      }
    }
  }
}

@media screen and ($mobile-widths) {
  .plan {
    padding: 60px 0;
  }
  
  .plan__list {
    margin: 50px 0 0 0;
  }
  
  .plan__item {
    text-align: center;
    
    &:nth-child(2n) {
      
      .plan__content {
        order: 0;
      }  
    }  
  }
  
  .plan__content {
    width: auto;
    
    &::before {
      display: none;
    }
  }
  
  .plan__name {
    font-size: 14px;
  }
  
  .plan__text {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
  }
  
  .plan__mockup {
    width: 100%;
    height: 170px;
  }
}