.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 950px;
  padding: 120px 200px;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  
  &--active {
    opacity: 1;
    visibility: visible;
  }
  
  &--map {
    padding: 50px 30px 30px 30px;
  }
}

.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 16px;
  height: 18px;
  padding: 0;
  font-size: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.popup__close {
  
  &:hover,
  &:focus {
    transform: translateY(-5px);
  }
}

.popup__heading {
  display: block;
  margin: 0 0 30px 0;
  font-size: 34px;
  font-weight: 800;
  text-transform: uppercase;
}

.popup__text {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.popup__tel {
  display: block;
  width: 350px;
  height: 70px;
  margin: 0 auto 15px auto;
  padding: 0 50px;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  border-radius: 35px;
  border: 1px solid #bababa;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    border: 1px solid $main-red;
    transform: translateY(-5px);  
  }
}

@media screen and ($tablet-widths) {
  .popup {
    width: 80%;
    padding: 100px;
    
    &--map {
      padding: 50px 30px 30px 30px;
    }
  }
  
  .popup__tel {
    width: 336px;
    height: 62px;
  }
}

@media screen and ($mobile-widths) {
  .popup {
    width: 95%;
    padding: 50px 0;
  
    &--map {
      padding: 50px 30px 30px 30px;
    }
  }
  
  .popup__close {
    top: 20px;
    right: 20px;
  }
  
  .popup__heading {
    font-size: 25px;
  }
  
  .popup__text {
    padding: 0 20px;
    font-size: 14px;
  }
  
  .popup__tel {
    width: 275px;
    height: 57px;
    font-size: 14px;
  }
}