.program {
  position: relative;
  padding: 0 0 230px 0;
  
  &::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 100px;
    width: 150px;
    height: 150px;
    border: 25px solid $main-blue;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s decorate-bounce infinite alternate;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 150px;
    width: 600px;
    height: 600px;
    border: 100px solid #f5f5f5;
    border-radius: 50%;
    box-sizing: border-box;
    // z-index: -1;
  }
}

.program__content {
  position: relative;
  width: 740px;
  margin: 0 0 0 auto;
  padding: 120px 0 0 0;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -800px;
    width: 750px;
    height: 1080px;
    background: url('../img/program-bigben.png') no-repeat center;
  }
}

.program__price {
  margin: 30px 0 15px 0;
  color: $main-red;
  font-size: 45px;
  font-weight: 300;
}

.program__desc {
  margin: 0 0 30px 0;
  font-size: 18px;
  font-weight: 300;
}

.program__list {
  width: 45%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.program__item {
  margin: 0 0 30px 0;
}

.program__schedule {
  font-size: 18px;
  font-weight: 800;
}

.program__text {
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

@media screen and ($tablet-widths) {
  .program {
    
    &::after {
      top: auto;
      bottom: 20px;
    }
  }
}

@media screen and ($mobile-widths) {}