.situation {
  position: relative;
  padding: 300px 0 50px 0;
  background: url('../img/situation-bg.png') no-repeat 0 -100px / cover;
  
  &::before {
    content: '';
    position: absolute;
    top: 600px;
    left: 30%;
    width: 2px;
    height: 1200px;
    background: #e9e9e9;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 1400px;
    left: 29.6%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $main-blue;
    animation: decorate-updown 1.5s infinite alternate;
  }
}

@keyframes decorate-updown {
  0% {}
  
  100% {
    transform: translateY(336px);
  }
}

.situation__heading {
  position: relative;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 5;
  
  &::before {
    content: '?';
    position: absolute;
    top: -140px;
    right: -170px;
    color: #e9e9e9;
    font-size: 300px;
    font-weight: 800;
    z-index: 2;
  }
}

.situation__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  
  &--fullwidth {
    width: auto;
  }
  
  &--right {
    margin: 0 0 80px auto;
    
    &::before {
      content: '';
      position: absolute;
      bottom: -50px;
      right: 100px;
      width: 145px;
      height: 20px;
      background: url('../img/svg/wave.svg') no-repeat center;
    }
  }
  
  &--left {
    margin: 0 auto 80px 0;
  }
}

.situation__number {
  position: absolute;
  top: 50px;
  font-size: 48px;
  font-weight: 800;
  
  &--right {
    left: 250px;
  }
  
  &--left {
    right: 250px;
  }
}

.situation__dot {
  color: $main-red;
  animation: decorate-opacity 0.7s infinite alternate;
}

@keyframes decorate-opacity {
  0% {}
  
  100% {
    opacity: 0;
  }
}

.situation__text {
  width: 280px;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  
  &--halfwidth {
    width: 450px;
  }
}

.situation__img {
  width: 450px;
  height: 350px;
  border-radius: 5px;
  
  &--1 {
    background: url('../img/situation-1.jpg') no-repeat center / cover;
  }
  
  &--2 {
    background: url('../img/situation-2.jpg') no-repeat center / cover;
  }
  
  &--3 {
    background: url('../img/situation-3.jpg') no-repeat top / cover;
  }
  
  &--4 {
    background: url('../img/situation-4.jpg') no-repeat center / cover;
  }
}