.situation {
  padding: 300px 0 0 0;
  background: url('../img/situation-bg.png') no-repeat 0 -100px;
}

.situation__heading {
  position: relative;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  
  &::before {
    content: '?';
    position: absolute;
    bottom: 0;
    color: #e9e9e9;
    font-size: 300px;
    font-weight: 800;
  }
}

.situation__box {
  position: relative;
  display: flex;
  width: 800px;
  margin: 0 0 0 auto;
}

.situation__number {
  position: absolute;
  font-size: 48px;
  font-weight: 800;
}

.situation__dot {
  color: $main-red;
}

.situation__text {
  width: 280px;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}