.title {
  position: relative;
  background: url('../img/title-bg.png') no-repeat 0 50px / contain;
  
  &::before {
    content: '';
    position: absolute;
    top: 35%;
    left: 10%;
    width: 85px;
    height: 85px;
    border: 15px solid $main-blue;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s decorate-bounce infinite alternate;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 15%;
    right: 25%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $main-blue;
    animation: 2s decorate-bounce infinite alternate;
  }
}

.title__mockup {
  max-width: 100%;
  height: auto;
}

@keyframes decorate-fill {
  0% {}
  
  100% {
    background: $main-blue;
  }
}

.title__content {
  position: relative;
  width: 515px;
  
  &::before {
    content: '';
    position: absolute;
    bottom: 100px;
    right: 0;
    width: 145px;
    height: 20px;
    background: url('../img/svg/wave.svg') no-repeat center;
  }
}

@keyframes decorate-bounce {
  0% {transform:scale(0); opacity:0;}
  50% {transform:scale(1.3); opacity:0.4;}
  75% {transform:scale(0.9); opacity:0.7;}
  100% {transform:scale(1); opacity:1;}
}

.title__text {
  margin: 20px 0 90px 0;
  font-size: 18px;
  font-weight: 300;
}

@media screen and ($tablet-widths) {  
  .title {
    padding: 100px 0 0 0;
    background-position: 0 80px;
  }
  
  .title__mockup {
    width: 50%;
    margin: auto;
  }
  
  .title__heading {
    font-size: 35px;
  }
  
  .title__small {
    font-size: 30px;
  }
  
  .title__content {
    width: 50%;
    margin: auto;
  }
}

@media screen and ($mobile-widths) {
  .title {
    padding: 0;
    background: none;
  }
  
  .title__mockup {
    width: 70%;
    margin: 0 0 30px 0;
  }
  
  .title__content {
    width: auto;
    text-align: center;
    
    &::before {
      display: none;
    }
  }
  
  .title__text {
    margin: 10px 0 20px 0;
    font-size: 14px;
  }
}