.breadcrumb {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 30px;
  padding-left: 0;
  font-size: 15px;
  font-weight: 300;
  list-style: none;
  
  &--blog {
    width: 520px;
    margin-bottom: 50px;
  }
  
  a {
    text-decoration: none;
  }
}

.breadcrumb__link {
  color: $yc;
}

.breadcrumb__current {
  color: #292929;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .breadcrumb {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
    &--blog {
      width: auto;
    }
  }
}