.control {}

.control__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control__left {
  
  select {
    width: 300px;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid $yc;
    border-radius: 3px;
  }
}

.control__pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  border: 1px solid #dddddd;
  border-radius: 3px;
  list-style: none;
  
  &--right {
    margin-left: auto;
    margin-bottom: 50px;
  }
  
  a {
    display: block;
    color: #292929;
    padding: 8px 13px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s;
    
    &:hover {
      color: #fff;
      background: #292929;
    }
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .control__flex {
    flex-direction: column;
  }
  
  .control__left {
    margin-bottom: 20px;
    
    select {
      width: auto;
    }
  }
  
  .control__pagination {
    
    &--right {
      margin: auto;
      margin-bottom: 50px;
    }
  }
}