.footer {
  background: #292929;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  
  ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0;
    padding-left: 0;
    
    list-style: none;
    
    a {
      color: #fff;
      font-weight: 300;
      text-decoration: none;
      transition: 0.3s;
      
      &:hover {
        color: $yc;
      }
    }
  }
}