.footer {
  background: #292929;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 30px 0;
  
  ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0;
    padding-left: 0;
    
    list-style: none;
    
    a {
      color: #fff;
      font-weight: 300;
      text-decoration: none;
      transition: 0.3s;
      
      &:hover {
        color: $yc;
      }
    }
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 220px !important;
}

.footer__link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: 0.5;
  
  &:hover {
    opacity: 1;
  }
}

.footer__link--fb {
  background: #626060 url('../img/facebook-f.svg') no-repeat center;
  background-size: 23px;
}

.footer__link--tw {
  background: #626060 url('../img/twitter-f.svg') no-repeat center;
  background-size: 24px, 19px;
}

.footer__link--vk {
  background: #626060 url('../img/vk-f.svg') no-repeat center;
  background-size: 27px, 15px;
}

.footer__link--gp {
  background: #626060 url('../img/google-plus-f.svg') no-repeat center;
  background-size: 29px, 18px;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .footer__flex {
    flex-direction: column;
    
    ul {
      flex-direction: column;
      width: auto;
      text-align: center;
      
      li {
        margin-bottom: 10px;
      }
    }
  }
  
  .footer__social {
    flex-direction: row !important;
    padding-top: 20px;
  }
}