.form {
  padding: 30px 0;
  
  h1 {
    margin-top: 0;
    color: #3f2900;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.form__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.form__left {
  display: flex;
  flex-direction: column;
  
  input {
    width: 300px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    
    &::placeholder {
      color: #726c6c;
      font-size: 14px;
    }
  }
  
}

.form__send {
  align-self: flex-start;
  margin-top: auto;
  padding: 10px 60px;
  font-size: 14px;
  border: 1px solid $yc;
  border-radius: 3px;
  background: transparent;
  transition: 0.2s;
  cursor: pointer;
  
  &:hover {
    color: #fff;
    background: $yc;
  }
}

.form__comment {
  width: 67%;
  height: 170px;
  padding: 10px 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  resize: none;
  
  &::placeholder {
    color: #726c6c;
    font-size: 14px;
  }
}

@media screen and ($tablet-widths) {
  .form__comment {
    width: 50%;
  }
}

@media screen and ($mobile-widths) {
  .form {
    
    h1 {
      text-align: center;
    }
  }
  
  .form__flex {
    flex-direction: column;
  }
  
  .form__left {
    
    input {
      width: auto;
    }
  }
  
  .form__send {
    margin: auto;
    margin-bottom: 10px;
  }
  
  .form__comment {
    width: auto;
  }
}