.header {
  // height: 130px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

@media screen and ($tablet-widths) {
  .header__flex {
    
    img {
      width: 150px;
    }
  }
}

@media screen and ($mobile-widths) {
  .header__flex {
    // flex-direction: column;
  }
}