.hr {
  width: 58px;
  height: 2px;
  margin: 0;
  border: none;
  background: $yc;
  
  &--s {
    width: 30px;
    height: 1px;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .hr {
    margin: auto;
    
    &--s {
      display: none;
    }
  }
}