.main-nav {
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    padding-left: 0;
    list-style: none;
  }
  
  a {
    color: #272727;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.main-nav__partner {
  padding: 5px 20px;
  border: 1px solid $yc;
  border-radius: 3px;
}

.main-nav__toggle {
  display: none; 
}

@media screen and ($tablet-widths) {
  .main-nav {
    
    ul {
      width: 550px;
    }
    
    a {
      font-size: 13px;
    }
  }
  
  .main-nav__partner {
    padding: 5px;
  }
}

@media screen and ($mobile-widths) {
  .main-nav {
    position: relative;
    
    ul {
      flex-direction: column;
      width: auto;
      margin: auto;
      padding: 40px 0;
    }
  }
  
  .main-nav__item {
    margin-bottom: 10px;
  }
  
  .main-nav__toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    width: 55px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    
      &:hover {
        background-color: $yc;
      }
    }
  
  .main-nav--closed {
    .main-nav__toggle {
      &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 13px;
        width: 30px;
        height: 2px;
        background-color: #fff;
        box-shadow:
          0 8px 00 #fff,
          0 16px 00 #fff;
        transition: background-color 0.3s;
      }
      
      &:active::before {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow:
          0 8px 00 rgba(255, 255, 255, 0.3),
          0 16px 00 rgba(255, 255, 255, 0.3);
      }
    }
  }
  
  .main-nav--opened {
    .main-nav__toggle {
      top: 10px;
      right: 20px;
      // width: 40px;
      // height: 40px;
      z-index: 20;
      
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 24px;
          left: 15px;
          width: 25px;
          height: 2px;
          background-color: #fff;
          box-shadow: none;
          transition: background-color 0.5s;
        }
        
        &::before {
          transform: rotate(45deg);
        }
        
        &::after {
          transform: rotate(-45deg);
        }
        
        &:active::before,
        &:active::after {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  
  .main-nav--closed {
    .main-nav__item {
      display: none;
      
      &--active {
        display: block;
        text-align: center;
      }
    }
  }
  
  .main-nav--opened {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 90%;
    margin: auto;
    background-color: white;
    animation: menu-opened 0.5s;
  }
  
  .main-nav--nojs {
    .main-nav__toggle {
      display: none;
    }
    
    .container {
      position: static;
      height: auto;
    }
    
    .main-nav__item {
      display: block;
      
        &--active {
          text-align: left;
        }
    }
  }
  
  @keyframes menu-opened {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }
}