.main-nav {
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    padding-left: 0;
    list-style: none;
  }
  
  a {
    color: #272727;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.main-nav__partner {
  padding: 5px 20px;
  border: 1px solid $yc;
  border-radius: 3px;
}

@media screen and ($tablet-widths) {
  .main-nav {
    
    ul {
      width: 550px;
    }
    
    a {
      font-size: 13px;
    }
  }
  
  .main-nav__partner {
    padding: 5px;
  }
}

@media screen and ($mobile-widths) {

}