.similar {
  padding: 30px 0;
  background: #f7f7f7;
  
  h1 {
    margin-top: 0;
    color: #3f2900;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.similar__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.similar__box {
  width: 270px;
  color: #3f2900;
  text-transform: uppercase;
  
  p {
    font-size: 11px;
  }
  
  b {
    font-size: 13px;
  }
}

@media screen and ($tablet-widths) {
  
}

@media screen and ($mobile-widths) {
  .similar__flex {
    justify-content: space-around;
  }
  
  .similar__left {
    margin-bottom: 10px;
  }
}