.heading {
  margin: 0;
  color: $text;
  font-size: 45px;
  font-weight: 700;
  
  &--big {
    font-size: 55px; 
  }
  
  &--white {
    color: #FFFFFF;
  }
  
  &--center {
    text-align: center;
  }
  
  &--small {
    font-size: 30px;
  }
  
  &--orange {
    color: $orange;
  }
}

@media screen and ($mobile) {
  .heading {
    font-size: 30px;
    text-align: center;
    
    &--big {
      font-size: 35px;
    }
  }
}