.request {
  padding-top: 100px;
  background-image: url('../img/request-bg.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.request__wrapper {
  box-sizing: border-box;
  width: 800px;
  padding: 20px;
  border-bottom-right-radius: 100px;
  background: #FFFFFF;
}

.request__text {
  color: $text;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

@media screen and ($mobile) {
  .request__wrapper {
    width: auto;
  }
}