.thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $blue;
  background-image: url('../img/intro-bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.thankyou__section {
  box-sizing: border-box;
  width: 700px;
  padding: 20px 50px;
  color: $text;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #FFFFFF;
}

.thankyou__title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.thankyou__pdf {
  margin-bottom: 30px;
  padding: 10px 20px;
  font-weight: 500;
  border: 2px solid $orange;
  border-radius: 10px;
  text-align: center;
}

@media screen and ($mobile) {
  .thankyou__section {
    width: 95%;
    padding: 20px;
  }
  
  .thankyou__title {
    font-size: 20px;
    
    br {
      display: none;
    }
  }
  
  .thankyou__pdf {
    
    br {
      display: none;
    }
  }
}