.where {
  margin-top: -550px;
  padding-top: 45px;
  padding-bottom: 40px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 300px;
  background-color: #FFFFFF;
}

.where__subheading {
  margin-top: 20px;
  margin-bottom: 30px;
  color: $text;
  font-size: 20px;
  font-weight: 400;
  
  &--red {
    color: #FF3434;
  }
}

.where__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.where__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 120px;
  margin-bottom: 20px;
  background-color: #2F4C77;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &:nth-child(1) {
    border-top-left-radius: 30px;
    background-image: url('../img/uni-1.jpg');
  }
  
  &:nth-child(2) {
    background-image: url('../img/uni-2.jpg');
  }
  
  &:nth-child(3) {
    background-image: url('../img/uni-3.jpg');
  }
  
  &:nth-child(4) {
    border-top-right-radius: 30px;
    background-image: url('../img/uni-4.jpg');
  }
  
  &:nth-child(5) {
    background-image: url('../img/uni-5.jpg');
  }
  
  &:nth-child(6) {
    background-image: url('../img/uni-6.jpg');
  }
  
  &:nth-child(7) {
    background-image: url('../img/uni-7.jpg');
  }
  
  &:nth-child(8) {
    background-image: url('../img/uni-8.jpg');
  }
  
  &:nth-child(9) {
    background-image: url('../img/uni-9.jpg');
  }
  
  &:nth-child(10) {
    background-image: url('../img/uni-10.jpg');
  }
  
  &:nth-child(11) {
    background-image: url('../img/uni-11.jpg');
  }
  
  &:nth-child(12) {
    border-bottom-left-radius: 30px;
    background-image: url('../img/uni-12.jpg');
  }
  
  &:nth-child(13) {
    background-image: url('../img/uni-13.jpg');
  }
  
  &:nth-child(14) {
    background-image: url('../img/uni-14.jpg');
  }
  
  &:nth-child(15) {
    border-bottom-right-radius: 30px;
    background-image: url('../img/uni-15.jpg');
  }
  
  &--triple {
    justify-content: space-around;
    width: 575px;
  }
}

.where__cta {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 10px 30px;
  color: $blue;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid $yellow;
  border-radius: 10px;
}

@media screen and ($tablet) {
  .where {
    border-top-right-radius: 200px;
  }
  
  .where__list {
    margin-bottom: 30px;
  }
  
  .where__item {
    flex-grow: 1;
    margin: 5px;
    
    &:nth-child(3) {
      border-top-right-radius: 30px;
    }
    
    &:nth-child(4) {
      border-radius: 0;
    }
    
    &:nth-child(12) {
      border-radius: 0;
    }
    
    &:nth-child(14) {
      border-bottom-left-radius: 30px;
    }
    
    &--triple {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .where__item {
    
    &:nth-child(2) {
      border-top-right-radius: 30px;
    }
    
    &:nth-child(3) {
      border-radius: 0;
    }
    
    &:nth-child(14) {
      border-radius: 0;
    }
    
    &:nth-child(15) {
      border-bottom-left-radius: 30px;
    }
  }
}

@media screen and ($mobile) {
  .where {
    margin-top: -830px;
    border-top-right-radius: 100px;
  }
}

@media screen and (max-width: 610px) {
  .where__item {
    
    &:nth-child(1) {
      border-top-right-radius: 30px;
    }
    
    &:nth-child(2) {
      border-radius: 0;
    }
  }
}