.why {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 330px;
    height: 890px;
    background-image: url('../img/why-bg.png');
    background-repeat: no-repeat;
    background-position: top;
  }
}

.why__row {
  width: 85%;
  padding: 65px 0;
  border-top-right-radius: 300px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
}

.why__container {
  box-sizing: border-box;
  width: 1180px;
  margin-left: auto;
  padding: 0 15px;
  padding-right: 30px;
}

.why__heading {
  margin-bottom: 70px;
}

.why__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.why__details {
  width: 550px;
  border-bottom: 2px solid $yellow;
  cursor: pointer;
  
  &[open] .why__title::after {
    transform: rotate(90deg);
  }
}

.why__title {  
  position: relative;
  padding: 15px 0;
  padding-left: 50px;
  font-size: 20px;
  font-weight: 500;
  background-repeat: no-repeat;
  background-position: left;
  outline: none;
  user-select: none;
  
  &::-webkit-details-marker {
    display: none;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 12px;
    right: 10px;
    width: 20px;
    height: 30px;
    background-image: url('../img/details-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.2s;
  }
  
  &--1 {
    background-image: url('../img/details-1.svg');
  }
  
  &--2 {
    background-image: url('../img/details-2.svg');
  }
  
  &--3 {
    background-image: url('../img/details-3.svg');
  }
  
  &--4 {
    background-image: url('../img/details-4.svg');
  }
  
  &--5 {
    background-image: url('../img/details-5.svg');
  }
  
  &--6 {
    background-image: url('../img/details-6.svg');
  }
  
  &--7 {
    background-image: url('../img/details-7.svg');
  }
}

.why__text {
  margin: 0;
  padding: 0 10px;
  padding-bottom: 15px;
  color: $text;
  font-size: 18px;
  font-weight: 400;
}

.why__alert {
  box-sizing: border-box;
  width: 985px;
  margin-bottom: 40px;
  padding: 10px 20px;
  color: $orange;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid $orange;
  border-radius: 10px;
}

@media screen and (max-width: 1400px) {
  .why {
    
    &::after {
      display: none;
    }
  }
  
  .why__row {
    width: auto;
  }
}

@media screen and ($tablet) {
  .why__container {
    width: auto;
  }
  
  .why__wrapper {
    flex-wrap: wrap;
  }
  
  .why__column {
    margin: 0 auto;
  }
  
  .why__details {
    width: 480px;
  }
  
  .why__alert {
    width: auto;
    
    br {
      display: none;
    }
  }
}

@media screen and ($mobile) {
  .why {
    margin-top: 30px;
  }
  
  .why__row {
    padding-top: 50px;
    border-top-right-radius: 100px;
  }
  
  .why__container {
    padding: 0 15px;
  }
  
  .why__wrapper {
    flex-direction: column; 
  }
  
  .why__heading {
    margin-bottom: 20px;
  }
  
  .why__column {
    margin: 0; 
  }
  
  .why__details {
    width: 100%;
  }
  
  .why__title {
    padding-left: 35px;
    font-size: 18px;
    background-size: 25px;
    
    &::after {
      top: 15px;
      width: 15px;
      height: 25px;
    }
  }
}