@font-face {
    font-family: "ProximaNova";
    src: local("ß"), url("../fonts/ProximaNova.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaBlack*/
@font-face {
    font-family: "ProximaNovaBlack";
    src: local("ß"), url("../fonts/ProximaNovaBlack.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaBlackItalic*/
@font-face {
    font-family: "ProximaNovaBlackItalic";
    src: local("ß"), url("../fonts/ProximaNovaBlackItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaBold*/
@font-face {
    font-family: "ProximaNovaBold";
    src: local("ß"), url("../fonts/ProximaNovaBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaBoldItalic*/
@font-face {
    font-family: "ProximaNovaBoldItalic";
    src: local("ß"), url("../fonts/ProximaNovaBoldItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaExtraBold*/
@font-face {
    font-family: "ProximaNovaExtraBold";
    src: local("ß"), url("../fonts/ProximaNovaExtraBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaExtraBoldItalic*/
@font-face {
    font-family: "ProximaNovaExtraBoldItalic";
    src: local("ß"), url("../fonts/ProximaNovaExtraBoldItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaItalic*/
@font-face {
    font-family: "ProximaNovaItalic";
    src: local("ß"), url("../fonts/ProximaNovaItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaLight*/
@font-face {
    font-family: "ProximaNovaLight";
    src: local("ß"), url("../fonts/ProximaNovaLight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaLightItalic*/
@font-face {
    font-family: "ProximaNovaLightItalic";
    src: local("ß"), url("../fonts/ProximaNovaLightItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaSemiBold*/
@font-face {
    font-family: "ProximaNovaSemiBold";
    src: local("ß"), url("../fonts/ProximaNovaSemiBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*ProximaNovaSemiBoldItalic*/
@font-face {
    font-family: "ProximaNovaSemiBoldItalic";
    src: local("ß"), url("../fonts/ProximaNovaSemiBoldItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}