@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Semibold'), local('SFUIText-Semibold'),
		url('../fonts/SFUIText-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Regular'), local('SFUIText-Regular'),
		url('../fonts/SFUIText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
 
@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Bold'), local('SFUIText-Bold'),
		url('../fonts/SFUIText-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Light'), local('SFUIText-Light'),
		url('../fonts/SFUIText-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
 
@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Heavy'), local('SFUIText-Heavy'),
		url('../fonts/SFUIText-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: local('SF UI Text Medium'), local('SFUIText-Medium'),
		url('../fonts/SFUIText-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}