<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Careers - PrizmaFX</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="../img/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#e9edf1">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="../img/favicon/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <meta name="msapplication-config" content="../browserconfig.xml">
  <meta name="theme-color" content="#e9edf1">
  <meta name="msapplication-TileColor" content="#e9edf1">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
</head>
<body>
  <header class="header--scroll  header--inner">
    <div class="container">
      <div class="header__flex">
        <ul class="header__settings">
          <li class="header__menu">
            <button class="header__toggle  header__toggle--inactive" type="button">Open Menu</button>
          </li>
          <li>
            <select class="header__language">
              <option value="EN">English</option>
              <option value="RU">Russian</option>
            </select>
          </li>
          <li class="header__search">
            <label >
              <input type="search">
            </label>
          </li>
        </ul>
        <a href="../index.html">
          <img class="header__logo" src="../img/logo.svg" alt="PrizmaFX">
        </a>
        <ul class="header__user">
          <li>
            <a class="button  button--small  button--blue" href="../client/register.html">Open account</a>
          </li>
          <li>
            <a class="button  button--login" href="../client/login.html">Log in</a>
          </li>
        </ul>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li>
            <a class="nav__item">Accounts</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="../accounts/trade-with-prizmafx.html">Trade with us</a></li>
              <li><a class="nav__subitem" href="../accounts/account-types.html">Account types</a></li>
              <li><a class="nav__subitem" href="../accounts/segregated-accounts.html">Segregated accounts</a></li>
              <li><a class="nav__subitem" href="../client/register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__item">Platforms</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="../platforms/metatrader.html">PrizmaFX MetaTrader 4</a></li>
              <li><a class="nav__subitem" href="../platforms/webtrader.html">WebTrader</a></li>
              <li><a class="nav__subitem" href="../platforms/mobile.html">Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__item">Tools</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="../tools/spread-and-trading-hours.html">Spread and trading</a></li>
              <li><a class="nav__subitem" href="../tools/glossary.html">Glossary</a></li>
              <li><a class="nav__subitem" href="../tools/forex-signals.html">Forex Signals</a></li>
              <li><a class="nav__subitem" href="../tools/account-faq.html">Account FAQ</a></li>
              <li><a class="nav__subitem" href="../tools/account-funding.html">Account funding</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="inner">
    <header class="inner__header">
      <div class="container">
        <div class="inner__title">
          <h1>Careers</h1>
          <h2>Careers</h2>
        </div>
      </div>
    </header>
    <div class="inner__content  inner__content--templates">
      <div class="container">
        <p class="inner__text">Here At PrizmaFX we ensure our client get the ideal environment and conditions that you need to improve in your area of expertise, whether you are a young individual at the beginning of your career, or an experienced professional seeking to move forward. What we plan to achieve is to help you attain your professional aspirations by giving you the motivation and inspiration to do so.</p>
        <p class="inner__text">As a company that places itself at the forefront of progress, we have established an ultra-modern, hi-tech environment for our staff, consisting of the most up to date equipment and cutting-edge technology. We make sure that we have the most up to date licenses of your preferred software in order for you to be satisfied with what you’re working with and efficient at what you do. It’s extremely important to us to know that our employees are kept happy with and engaged in their work.</p>
        <p class="inner__text">Our team leaders are always there to guide and mentor each member of their team and to inspire them to reach their full potential. We value and respect our employees and view them as our most important asset, our present and our future. Each employee’s contribution is invaluable because we believe that collective decision making is the key to success. Our company stands for trust, respect, integrity, innovation and progress.</p>
        <b class="inner__name  inner__name--big">1. Office manager UK</b>
        <b class="inner__name  inner__name--small">Requirements</b>
        <ul class="inner__list">
          <li>Qualification in secretarial studies, administration or other relevant fields will be considered advantageous</li>
          <li>Work experience as a receptionist, secretary or office administrator</li>
          <li>Fluent spoken and written English, additional languages will be considered an advantage</li>
          <li>Excellent organizational skills & attention to detail</li>
          <li>Comfortable working in a high-pressure environment</li>
          <li>Neat and well presented</li>
        </ul>
        <b class="inner__name  inner__name--small">Responsibilities & Duties</b>
        <p class="inner__text">The ideal candidate will join a dynamic and fast-paced working environment. The successful candidate will be responsible for the secretarial, reception and office administration duties of the Firm including but not limited to the following:</p>
        <ul class="inner__list">
          <li>General liaison for secretarial and coordinating functions</li>
          <li>Deal with all general office correspondence and queries</li>
          <li>Seamless daily organization for the efficient functioning of the office</li>
          <li>Organize meetings</li>
          <li>Arrange all aspects of travel arrangements for staff business trips such as transport, accommodation, and visas</li>
          <li>Monitor and order stationery, furniture and groceries</li>
          <li>Manage office budgets</li>
          <li>Liaise with staff, suppliers and clients</li>
          <li>Implement and maintain procedures and office administrative systems</li>
          <li>Coordinate and supervise the cleaning staff as appropriate in order to keep the office clean and tidy</li>
        </ul>
        <b class="inner__name  inner__name--big">2. Customer service representative</b>
        <p class="inner__text">The Customer Service Representative is expected to provide professional and excellent customer service to clients whilst enhancing their trading experience with PrizmaFX.</p>
        <b class="inner__name  inner__name--small">Requirements</b>
        <ul class="inner__list">
          <li>Very great excellent knowledge of English</li>
          <li>Excellent spoken and written communication skills required</li>
          <li>Ability to work efficiently under pressure</li>
          <li>Excellent computer skills (Microsoft Excel and Word)</li>
          <li>Knowledge of Meta Trader platforms will be considered an advantage</li>
          <li>Previous experience in similar position will be considered an advantage</li>
          <li>Shift work as and when required</li>
        </ul>
        <b class="inner__name  inner__name--small">Responsibilities & Duties</b>
        <ul class="inner__list">
          <li>Assisting clients worldwide through a live support</li>
          <li>Answering e-mails, assisting with the opening of client accounts, amending existing accounts, maintaining client records and liaising with appropriate departments</li>
          <li>Impeccable telephone etiquette and management</li>
          <li>Handling of Back office queries</li>
          <li>Supporting clients with technical and troubleshooting issues</li>
          <li>Dealing with complaints of a varying nature promptly and effectively</li>
          <li>Providing support and troubleshooting on Meta Trader platforms</li>
          <li>Liaising with all departments to resolve issues</li>
          <li>Liaising with the compliance officer regarding complaints and approval of accounts</li>
          <li>Providing all relevant information to clients regarding documents and materials for becoming a client</li>
        </ul>
        <b class="inner__name  inner__name--big">3. Business Analyst</b>
        <b class="inner__name  inner__name--small">Requirements</b>
        <ul class="inner__list">
          <li>Strong analytical thinking</li>
          <li>Ability to structure information, see what is really important and what is just feature “nice to have”</li>
          <li>Project management or Analyst experience not less than 5 years (agile or waterfall)</li>
          <li>Experience in working with programmers, project managers, business users</li>
          <li>Fluent in English and an international language</li>
          <li>Proactive interest in financial markets and experience in Forex, banking or financial services</li>
        </ul>
        <b class="inner__name  inner__name--small">Responsibilities & Duties</b>
        <ul class="inner__list">
          <li>Providing analysis of business requests and assistance with creation business requirements</li>
          <li>Transform business requirements into technical specifications for development team</li>
          <li>Plan, organize, track and manage task for development team (front/back developers, QA, UX etc)</li>
          <li>Create and Support project documentation (FSD, User documentation)</li>
          <li>Create effective communication between developers and stakeholders/project managers</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--mc"></div>
        <div class="payment__box  payment__box--bank"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--skrill"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <a href="../index.html">
        <img class="footer__logo" src="../img/footer-logo.svg" alt="PrizmaFX">
      </a>
        <ul class="footer__links">
          <li><a href="#">Licenses</a></li>
          <li>|</li>
          <li><a>Account Types</a></li>
          <li>|</li>
          <li><a href="#">Funding & Withdrawal</a></li>
          <li>|</li>
          <li><a href="#">Product Specification</a></li>
          <li>|</li>
          <li><a href="#">Economic Calendar</a></li>
          <li>|</li>
          <li><a href="#">Legal Documents</a></li>
          <li>|</li>
          <li><a href="#">Partners</a></li>
          <li>|</li>
          <li><a href="#">Faq</a></li>
        </ul>
    </div>
    <hr class="footer__hr">
    <div class="container">
      <b class="footer__name">Risk Warning:</b>
      <p class="footer__text">Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “PrizmaFX”) unless otherwise indicated.</p>
    </div>
    <hr class="footer__hr">
    <div class="container">
      <div class="footer__flex">
        <p class="footer__copyright">© 2018 ALL right reserved PrizmaFX</p>
        <ul class="footer__social">
          <li><a class="footer__item  footer__item--fb" href="#"></a></li>
          <li><a class="footer__item  footer__item--gp" href="#"></a></li>
          <li><a class="footer__item  footer__item--in" href="#"></a></li>
          <li><a class="footer__item  footer__item--tw" href="#"></a></li>
        </ul>
      </div>
    </div>
    <button class="footer__livechat" type="button"></button>
  </footer>
  <script src="../js/main.min.js"></script>
</body>
</html>