<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FAQ - PrizmaFX</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="../img/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#e9edf1">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="../img/favicon/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <meta name="msapplication-config" content="../browserconfig.xml">
  <meta name="theme-color" content="#e9edf1">
  <meta name="msapplication-TileColor" content="#e9edf1">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
</head>
<body>
  <header class="header--scroll  header--inner">
    <div class="container">
      <div class="header__flex">
        <ul class="header__settings">
          <li class="header__menu">
            <button class="header__toggle  header__toggle--inactive" type="button">Open Menu</button>
          </li>
          <li>
            <select class="header__language">
              <option value="EN">English</option>
              <option value="RU">Russian</option>
            </select>
          </li>
          <li class="header__search">
            <label >
              <input type="search">
            </label>
          </li>
        </ul>
        <a href="../index.html">
          <img class="header__logo" src="../img/logo.svg" alt="PrizmaFX">
        </a>
        <ul class="header__user">
          <li>
            <a class="button  button--small  button--blue" href="../client/register.html">Open account</a>
          </li>
          <li>
            <a class="button  button--login" href="../client/login.html">Log in</a>
          </li>
        </ul>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li>
            <a class="nav__item">Accounts</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="../accounts/trade-with-prizmafx.html">Trade with us</a></li>
              <li><a class="nav__subitem" href="../accounts/account-types.html">Account types</a></li>
              <li><a class="nav__subitem" href="../accounts/segregated-accounts.html">Segregated accounts</a></li>
              <li><a class="nav__subitem" href="../client/register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__item">Platforms</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="../platforms/metatrader.html">PrizmaFX MetaTrader 4</a></li>
              <li><a class="nav__subitem" href="../platforms/webtrader.html">WebTrader</a></li>
              <li><a class="nav__subitem" href="../platforms/mobile.html">Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__item">Tools</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="../tools/spread-and-trading-hours.html">Spread and trading</a></li>
              <li><a class="nav__subitem" href="../tools/glossary.html">Glossary</a></li>
              <li><a class="nav__subitem" href="../tools/forex-signals.html">Forex Signals</a></li>
              <li><a class="nav__subitem" href="../tools/account-faq.html">Account FAQ</a></li>
              <li><a class="nav__subitem" href="../tools/account-funding.html">Account funding</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="inner">
    <header class="inner__header">
      <div class="container">
        <div class="inner__title">
          <h1>FAQ</h1>
          <h2>FAQ</h2>
        </div>
      </div>
    </header>
    <div class="inner__content  inner__content--templates">
      <div class="container">
        <b class="inner__name  inner__name--big">What is the minimum amount required to open an account?</b>
        <p class="inner__text">There is no minimum to open a new account; however, a $2,000 deposit is required to be considered for margin and options privileges, regardless of any promotional offer.</p>
        <b class="inner__name  inner__name--big">What is the fastest way to open a new account?</b>
        <p class="inner__text">Opening an account online is the fastest way to open and fund an account. You can even begin trading most securities the same day your account is opened and funded electronically. We work 24 hours a day, 7 days a week.</p>
        <b class="inner__name  inner__name--big">What types of investments can I make with a PrizmaFX account?</b>
        <p class="inner__text">PrizmaFX offers a comprehensive and diverse selection of investment products. You can trade stocks, options, mutual funds, ETFs, futures, forex, and bonds and CDs in a standard account. Please note that investment choices may vary in less common account types such as Trust accounts, 529 education accounts, and pension plans. Each plan will specify what types of investments are allowed. See Account Types and Investment Products for more information.</p>
        <p class="inner__text">Yes. As you’re completing the Account Application, simply complete the margin and/or options section. We’ll review the information, and if appropriate, extend margin and/or options privileges to your account.</p>
        <p class="inner__text">Margin and options trading pose additional investment risks and are not suitable for all investors. In addition, certain account types may not be eligible for margin, options, or advanced options trading privileges. Please read Characteristics and Risks of Standardized Options, Margin Disclosure Document, Margin Account Handbook, and Day Trading Margin Requirements.</p>
        <b class="inner__name  inner__name--big">Can I write checks from my account?</b>
        <p class="inner__text">PrizmaFX has a comprehensive Cash Management offering. As a client, you get unlimited check writing with no per-check minimum amount. Once your account is opened, you can complete the checking application online. A Cash Management account also gives you access to free online bill pay, as well as a free debit card with nationwide rebates on all ATM fees.</p>
        <b class="inner__name  inner__name--big">Do I earn interest in my account?</b>
        <p class="inner__text">Yes. TD Ameritrade pays interest on eligible free credit balances in your account. Simple interest is calculated on the entire daily balance and is credited to your account monthly. This service is subject to the current TD Ameritrade rates and policies, which may change without notice.</p>
        <b class="inner__name  inner__name--big">Are there restrictions on funds deposited into my account?</b>
        <p class="inner__text">Funds typically post to your account 1-2 days after we receive your check or electronic deposit. Once the fund`s post, you can trade most securities. Electronic deposits can take another 3-4 business days to clear; checks can take 5-6 business days.</p>
        <p class="inner__text">Until your deposit clears, we restrict withdrawals and trading off some securities based on market risk. This includes—but isn’t limited to—options and most stocks priced under $5 per share.</p>
        <p class="inner__text">All electronic deposits are subject to review and may be restricted for 60 days. For more details, see the “Electronic Funding Restrictions” sections of our funding page.</p>
        <b class="inner__name  inner__name--big">Are there any fees?</b>
        <p class="inner__text">We believe in fair, straightforward pricing and for you, that means flat-rate $6.95 commissions on every Internet equity trade, regardless of account balance or how many shares you buy; however, you won’t be charged any platform, inactivity, or market data fees. Please review our Commission and Fees for complete details.</p>
        <b class="inner__name  inner__name--big">Is my account protected?</b>
        <p class="inner__text">If you lose cash or securities from your account due to unauthorized activity, we’ll reimburse you for the cash or shares of securities you lost. We offer you this protection, which adds to the provisions that already govern your account, in case unauthorized activity ever occurs and it was through no fault of your own.</p>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--mc"></div>
        <div class="payment__box  payment__box--bank"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--skrill"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <a href="../index.html">
        <img class="footer__logo" src="../img/footer-logo.svg" alt="PrizmaFX">
      </a>
        <ul class="footer__links">
          <li><a href="#">Licenses</a></li>
          <li>|</li>
          <li><a>Account Types</a></li>
          <li>|</li>
          <li><a href="#">Funding & Withdrawal</a></li>
          <li>|</li>
          <li><a href="#">Product Specification</a></li>
          <li>|</li>
          <li><a href="#">Economic Calendar</a></li>
          <li>|</li>
          <li><a href="#">Legal Documents</a></li>
          <li>|</li>
          <li><a href="#">Partners</a></li>
          <li>|</li>
          <li><a href="#">Faq</a></li>
        </ul>
    </div>
    <hr class="footer__hr">
    <div class="container">
      <b class="footer__name">Risk Warning:</b>
      <p class="footer__text">Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “PrizmaFX”) unless otherwise indicated.</p>
    </div>
    <hr class="footer__hr">
    <div class="container">
      <div class="footer__flex">
        <p class="footer__copyright">© 2018 ALL right reserved PrizmaFX</p>
        <ul class="footer__social">
          <li><a class="footer__item  footer__item--fb" href="#"></a></li>
          <li><a class="footer__item  footer__item--gp" href="#"></a></li>
          <li><a class="footer__item  footer__item--in" href="#"></a></li>
          <li><a class="footer__item  footer__item--tw" href="#"></a></li>
        </ul>
      </div>
    </div>
    <button class="footer__livechat" type="button"></button>
  </footer>
  <script src="../js/main.min.js"></script>
</body>
</html>