<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forex - PrizmaFX</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="../img/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#e9edf1">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="../img/favicon/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <meta name="msapplication-config" content="../browserconfig.xml">
  <meta name="theme-color" content="#e9edf1">
  <meta name="msapplication-TileColor" content="#e9edf1">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
</head>
<body>
  <header class="header--scroll  header--inner">
    <div class="container">
      <div class="header__flex">
        <ul class="header__settings">
          <li class="header__menu">
            <button class="header__toggle  header__toggle--inactive" type="button">Open Menu</button>
          </li>
          <li>
            <select class="header__language">
              <option value="EN">English</option>
              <option value="RU">Russian</option>
            </select>
          </li>
          <li class="header__search">
            <label >
              <input type="search">
            </label>
          </li>
        </ul>
        <a href="../index.html">
          <img class="header__logo" src="../img/logo.svg" alt="PrizmaFX">
        </a>
        <ul class="header__user">
          <li>
            <a class="button  button--small  button--blue" href="#">Open account</a>
          </li>
          <li>
            <a class="button  button--login" href="#">Log in</a>
          </li>
        </ul>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li>
            <a class="nav__item">Accounts</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="#">Trade with us</a></li>
              <li><a class="nav__subitem" href="../accounts/account-types.html">Account types</a></li>
              <li><a class="nav__subitem" href="#">Segregated accounts</a></li>
              <li><a class="nav__subitem" href="#">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__item">Platforms</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="#">PrizmaFX MetaTrader 4</a></li>
              <li><a class="nav__subitem" href="#">WebTrader</a></li>
              <li><a class="nav__subitem" href="#">Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__item">Tools</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="#">Spread and trading</a></li>
              <li><a class="nav__subitem" href="#">Glossary</a></li>
              <li><a class="nav__subitem" href="#">Forex Signals</a></li>
              <li><a class="nav__subitem" href="#">Faq</a></li>
              <li><a class="nav__subitem" href="#">Account funding</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="inner">
    <header class="inner__header">
      <div class="container">
        <div class="inner__title">
          <h1>Forex</h1>
          <h2>Forex</h2>
        </div>
      </div>
    </header>
    <div class="inner__content  inner__content--templates">
      <div class="container">
        <b class="inner__name  inner__name--big">Main advantages of trading Forex with PrizmaFX</b>
        <p class="inner__text">MetaTrader4 is commonly a known trading software used by the PrizmaFX platform that, added with our high degree of professional experience and knowledge, could bring you the most higher Forex trading results on the web. You can perform your trading using all types of multiple devices, such as smartphones, PC, desktops or laptops, which provides you with lots of freedoms and adaptability to succeed in your trading.</p>
        <b class="inner__name  inner__name--small">Features of the Platform</b>
        <p class="inner__text">This platform is extremely effective, user-friendly and global recognized due to its constant developing and upgrading along with newly-listed world known investigations. We make sure that the trader has the best degree of progressive support.</p>
        <b class="inner__name  inner__name--small">List of major benefits:</b>
        <ul class="inner__list">
          <li>Excluding of redundant bureaucracy and paperwork</li>
          <li>Wide selection of available trading assets</li>
          <li>Trade execution just in one click</li>
          <li>Easy adjusting and settings to set up user’s preferences</li>
          <li>Powerful forecast following the value changes</li>
          <li>Notifications, that can be sent just on your mobile, alert you to trade</li>
          <li>Fees-free</li>
          <li>24/7 clients support</li>
        </ul>
        <p class="inner__text">Make your investments runny, process every single order smoothly and be back with our clients support service and significant markets signals via this highly powerful and progressive trading broker.</p>
        <b class="inner__name  inner__name--big">What is Forex</b>
        <b class="inner__name  inner__name--small">The definition of Forex is the trading of different currency pairs.</b>
        <p class="inner__text">The trading occurs between one currency against another. One currency is compared with the other. For example, the rate of the USDGBP currency pair is 0.66, then it means that 1 USA dollar costs 0.66 British Pounds. The goal of Forex is to see if the American dollar will enhance or not its price equated to the British Pound. If it does, then the trader should buy the USDGBP pair on this term.</p>
        <p class="inner__text">In the case when the price goes down, for instance from 0.66 to 0.64, then the USA dollar has a descended position. If the price moves in the opposite way, for example from 0.66 to 0.69, then the USA dollar is increasing its price against the British Pound. You will meet often the terms “short” and “lot” where “long”, in that instance, correlate with the Dollar and “short” refers to the British Pound. Because the GBP stated its price in the USD. The other important expression that you must take into consideration is “the major”, which signify the ruling global currency pairs, such as the AUDUSD, the USDJPY, the EURUSD, the USDCAD, the USDCHF and the GBPUSD. And every one of them has the Dollar inside. We have the phrase “cross pairs” which refers to pairs that do not have the Dollar in them.</p>
        <p class="inner__text">Forex does not function as a real physical currency transaction. All transitions and swaps are going on the Internet, which means that this market works only as speculation with currencies. Approximate statistic says that more over 4 trillion dollars are being swapped every day all around the globe, but all the assets are engaged in many types – future, forward, currency exchange and so on.</p>
        <p class="inner__text">The Forex trading works without breaks, during the whole week and 24 hours a day, but it has holidays on weekends.</p>
        <p class="inner__text">Look for additional Forex information at the PrizmaFX learning section.</p>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--mc"></div>
        <div class="payment__box  payment__box--bank"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--skrill"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <a href="../index.html">
        <img class="footer__logo" src="../img/footer-logo.svg" alt="PrizmaFX">
      </a>
        <ul class="footer__links">
          <li><a href="#">Licenses</a></li>
          <li>|</li>
          <li><a>Account Types</a></li>
          <li>|</li>
          <li><a href="#">Funding & Withdrawal</a></li>
          <li>|</li>
          <li><a href="#">Product Specification</a></li>
          <li>|</li>
          <li><a href="#">Economic Calendar</a></li>
          <li>|</li>
          <li><a href="#">Legal Documents</a></li>
          <li>|</li>
          <li><a href="#">Partners</a></li>
          <li>|</li>
          <li><a href="#">Faq</a></li>
        </ul>
    </div>
    <hr class="footer__hr">
    <div class="container">
      <b class="footer__name">Risk Warning:</b>
      <p class="footer__text">Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “PrizmaFX”) unless otherwise indicated.</p>
    </div>
    <hr class="footer__hr">
    <div class="container">
      <div class="footer__flex">
        <p class="footer__copyright">© 2018 ALL right reserved PrizmaFX</p>
        <ul class="footer__social">
          <li><a class="footer__item  footer__item--fb" href="#"></a></li>
          <li><a class="footer__item  footer__item--gp" href="#"></a></li>
          <li><a class="footer__item  footer__item--in" href="#"></a></li>
          <li><a class="footer__item  footer__item--tw" href="#"></a></li>
        </ul>
      </div>
    </div>
    <button class="footer__livechat" type="button"></button>
  </footer>
  <script src="../js/main.min.js"></script>
</body>
</html>