<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stocks CFD - PrizmaFX</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="../img/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#e9edf1">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="../img/favicon/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <meta name="msapplication-config" content="../browserconfig.xml">
  <meta name="theme-color" content="#e9edf1">
  <meta name="msapplication-TileColor" content="#e9edf1">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
</head>
<body>
  <header class="header--scroll  header--inner">
    <div class="container">
      <div class="header__flex">
        <ul class="header__settings">
          <li class="header__menu">
            <button class="header__toggle  header__toggle--inactive" type="button">Open Menu</button>
          </li>
          <li>
            <select class="header__language">
              <option value="EN">English</option>
              <option value="RU">Russian</option>
            </select>
          </li>
          <li class="header__search">
            <label >
              <input type="search">
            </label>
          </li>
        </ul>
        <a href="../index.html">
          <img class="header__logo" src="../img/logo.svg" alt="PrizmaFX">
        </a>
        <ul class="header__user">
          <li>
            <a class="button  button--small  button--blue" href="../client/register.html">Open account</a>
          </li>
          <li>
            <a class="button  button--login" href="../client/login.html">Log in</a>
          </li>
        </ul>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li>
            <a class="nav__item">Accounts</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="#">Trade with us</a></li>
              <li><a class="nav__subitem" href="../accounts/account-types.html">Account types</a></li>
              <li><a class="nav__subitem" href="#">Segregated accounts</a></li>
              <li><a class="nav__subitem" href="../client/register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__item">Platforms</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="#">PrizmaFX MetaTrader 4</a></li>
              <li><a class="nav__subitem" href="../platforms/webtrader.html">WebTrader</a></li>
              <li><a class="nav__subitem" href="#">Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__item">Tools</a>
            <ul class="nav__sublist">
              <li><a class="nav__subitem" href="#">Spread and trading</a></li>
              <li><a class="nav__subitem" href="../tools/glossary.html">Glossary</a></li>
              <li><a class="nav__subitem" href="#">Forex Signals</a></li>
              <li><a class="nav__subitem" href="#">Faq</a></li>
              <li><a class="nav__subitem" href="#">Account funding</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="inner">
    <header class="inner__header">
      <div class="container">
        <div class="inner__title">
          <h1>Stocks CFD</h1>
          <h2>Stocks CFD</h2>
        </div>
      </div>
    </header>
    <div class="inner__content  inner__content--templates">
      <div class="container">
        <p class="inner__text">Stocks CFD trading helps you to enter the many major stock markets from different countries avoiding large investments and gains bigger advantages that trading just with assets by themselves. MultiplyMarket arranges also many other benefits for traders, delivering them the premium terms for trade with no charges for almost all trading services. Low spread and the leverage will help you even maximize the profit.</p>
        <p class="inner__text">The absence of short sales bounds, stock lending, and borrowing or other confines picture Stock CFD market very attractive for trading. You will be excited about you trading process that should rely on indecisive stock prices, fluctuating macro- and microeconomics factors and many others technological, political and natural processes.</p>
        <p class="inner__text">Companies can increase their money income by launch selling their shares/stocks for growth, new products, development and so on to the public. Investors can take a revenue of the huge companies and gain a stock profit. Such giant companies, like Google, Apple, Intel and so on are selling their shares online. The forehand goal of MultiplyMarket is to make sure that all customers have the best support for successful trading results. Following that goal, we have developed for you this platform which is supplemented with all possible trading features, tools and provide you with all broadcasts and updated events by a team of our dedicated professionals.</p>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--mc"></div>
        <div class="payment__box  payment__box--bank"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--skrill"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <a href="../index.html">
        <img class="footer__logo" src="../img/footer-logo.svg" alt="PrizmaFX">
      </a>
        <ul class="footer__links">
          <li><a href="#">Licenses</a></li>
          <li>|</li>
          <li><a>Account Types</a></li>
          <li>|</li>
          <li><a href="#">Funding & Withdrawal</a></li>
          <li>|</li>
          <li><a href="#">Product Specification</a></li>
          <li>|</li>
          <li><a href="#">Economic Calendar</a></li>
          <li>|</li>
          <li><a href="#">Legal Documents</a></li>
          <li>|</li>
          <li><a href="#">Partners</a></li>
          <li>|</li>
          <li><a href="#">Faq</a></li>
        </ul>
    </div>
    <hr class="footer__hr">
    <div class="container">
      <b class="footer__name">Risk Warning:</b>
      <p class="footer__text">Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “PrizmaFX”) unless otherwise indicated.</p>
    </div>
    <hr class="footer__hr">
    <div class="container">
      <div class="footer__flex">
        <p class="footer__copyright">© 2018 ALL right reserved PrizmaFX</p>
        <ul class="footer__social">
          <li><a class="footer__item  footer__item--fb" href="#"></a></li>
          <li><a class="footer__item  footer__item--gp" href="#"></a></li>
          <li><a class="footer__item  footer__item--in" href="#"></a></li>
          <li><a class="footer__item  footer__item--tw" href="#"></a></li>
        </ul>
      </div>
    </div>
    <button class="footer__livechat" type="button"></button>
  </footer>
  <script src="../js/main.min.js"></script>
</body>
</html>