.contact__flex {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 100px 0;
}

.contact__left,
.contact__center{
  
  & input {
    width: 300px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 5px;
  }
}

.contact__right {
  
  & button {
    padding: 15px 40px;
    color: #0038b8;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #f7c107;
  }
}

@media screen and ($tablet-widths) {
  .contact__left,
  .contact__center{
    
    & input {
      width: 80%;
    }
  }
}

@media screen and ($mobile-widths) {  
  .contact__flex {
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
  }
  
  .contact__left,
  .contact__center{   
    margin-bottom: 30px;
    
    & input {
      width: auto;
    }
  }
}