.cloud {
  min-height: 560px;
  margin-top: -160px;
  background: url('../img/cloud-bg.png') no-repeat top;
  // background-size: cover;
}

.cloud-sub__flex {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}

.cloud-sub__left {
  width: 450px;
  // margin-right: 50px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.cloud-sub__middle {
  width: 500px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.cloud-sub__title {
  display: none;
}

@media screen and ($tablet-widths) {

}

@media screen and ($mobile-widths) {
  .cloud {
    display: none;
  }
  
  .cloud-sub__flex {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 40px;
    text-align: justify;
  }
  
  .cloud-sub__title {
    display: block;
    padding: 30px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    
    & p {
      margin: 0;
    }
  }
  
  .cloud-sub__left,
  .cloud-sub__middle {
    width: auto;
  }
}