.trip {
  display: flex;
  align-items: center;
  padding-top: 60px;
  
  &--reverse {
    padding-top: 80px;
    
    .trip__content {
      margin-left: auto;
      margin-right: 30px;
      padding-left: 15px;
    }
    
    .trip__image {
      border-top-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 10px;
      animation-name: border;
    }
  }
}

.trip__content {
  margin-left: 30px;
}

.trip__image {
  max-width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  animation-name: border-r;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.trip__title {
  margin-bottom: 10px;
}

.trip__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  color: $text;
}

.trip__list {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.trip__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
  color: $text;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $red;
  }
}

.trip__cta {
  margin-top: 0;
  margin-bottom: 20px;
  color: $text;
  font-size: 25px;
  font-weight: 700;
}

@media screen and ($tablet) {
  .trip {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 30px;
    
    &--reverse {
      flex-direction: column;
      
      .trip__content {
        margin-left: 0;
        margin-right: 0;
      }
      
      picture {
        margin-left: auto;
      }
      
      .trip__image {
        max-width: 100%;
      }
    }
  }
  
  .trip__image {
    max-width: 98%;
  }
  
  .trip__content {
    align-self: center;
    margin-bottom: 30px;
    margin-left: 0;
    padding: 0 15px;
  }
}

@media screen and ($mobile) {
  .trip {
    
    &--reverse {
      
      picture {
        max-width: 98%;
      }
    }
  }
  
  .trip__subtitle {
    text-align: center;
    
    br {
      display: none;
    }
  }
  
  .trip__list {
    margin-bottom: 25px;
  }
  
  .trip__button {
    display: block;
    width: 255px;
    margin: auto;
    text-align: center;
    
    &--small {
      width: 170px;
    }
  }
  
  .trip__cta {
    font-size: 20px;
    text-align: center;
  }
}