.cloud {
  margin-top: -110px;
  background: url('../img/cloud-bg.png');
  background-size: cover;
}

.cloud__flex {
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
  padding-bottom: 100px;
}

.cloud__left {
  width: 500px;
  // margin-right: 50px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.cloud__middle {
  width: 500px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.cloud__title {
  margin-top: 20px;
  padding: 30px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  background: #000;
  text-transform: uppercase;
}

@media screen and ($tablet-widths) {
  .cloud {
    margin-top: -350px;
    background: url('../img/cloud-bg.png');
  }
}

@media screen and ($mobile-widths) {
  .cloud__flex {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 130px;
  }
  
  .cloud__title {
    padding: 10px;
    font-size: 30px;
  }
  
  .cloud__left,
  .cloud__middle {
    width: auto;
  }
}