.diff__flex {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin-top: 100px;
}

.diff__title {
  height: 170px;
  margin-top: 40px;
  background: url('../img/diff-title.png') no-repeat left;
  background-size: contain;
}

.diff__left {
  width: 100%;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  background: #000;

  & p {
    margin: 0;
    padding: 30px;
    text-align: center;
  }
}

.diff__right {
  padding-top: 20px;
  color: #262626;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.diff__up {
  width: 350px;
  height: 109px;
  background: url('../img/diff-left.png') no-repeat;
}

.diff__down {
  width: 350px;
  height: 109px;
  background: url('../img/diff-right.png') no-repeat;
}

.diff__flex--mobile {
  display: none;
}

@media screen and ($tablet-widths) {
  .diff__title {
    height: 150px;
    background: url('../img/diff-title-t.png') no-repeat;
    background-size: contain;
  }
}

@media screen and ($mobile-widths) {
  .diff__title {
    height: 300px;
    margin-top: 20px;
    background: url('../img/diff-title-m.png') no-repeat top;
    background-size: contain;
  }
  
  .diff__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  
  .diff__right {
    font-size: 16px;
    text-align: center;
  }
  
  .diff__up {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .diff__title {
    display: none;
  }
}