.edge {
  min-height: 1900px;
  margin-top: -300px;
  background: url('../img/edge-bg.png') no-repeat top;
  background-size: cover;
  
  & img {
    display: block;
    max-width: 100%;
    padding-top: 600px;
    margin: auto;
  }
}

@media screen and ($tablet-widths) {

}

@media screen and ($mobile-widths) {
  .edge {
    min-height: 1400px;
    margin-top: -200px;
    
    & img {
      padding-top: 500px;
    }
  }
}