.hardware {
  
  & h2 {
    margin-top: 70px;
    margin-bottom: 0;
    color: #480000;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  
  & p {
    // color: #480000;
    // text-align: center;
  }
}

.hardware__sub-title {
  color: #480000;
  text-align: center;
}

.hardware__video {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.hardware__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.hardware__item {
  text-align: center;
  
  & p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  & a {
    display: block;
    margin: auto;
    width: 160px;
    height: 26px;
    background: url('../img/hardware-amazon.png');
  }
}

.hardware__title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.hardware__charter {
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.hardware__value {
  color: #480000;
  font-size: 25px;
  font-weight: bold;
}

.hardware__value--yes {
  color: #4183c4;
  text-decoration: underline;
}
















