.proof__flex {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.proof__title {
  height: 170px;
  margin-bottom: 50px;
  background: url('../img/proof-title.png') no-repeat left;
  background-size: contain;
}

// .proof__left {
//   padding: 20px 40px;
//   color: #fff;
//   font-size: 40px;
//   font-weight: bold;
//   background: #000;
// 
//   & p {
//     margin: 0;
//   }
// }

// .proof__right {
//   padding-top: 20px;
//   padding-left: 150px;
//   font-size: 20px;
//   font-weight: bold;
//   text-transform: uppercase;
//   background: url('../img/proof-power.png') no-repeat left;
// }

.proof__box {
  padding-top: 170px;
  width: 170px;
  // height: 155px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.proof__box--energy {
  background: url('../img/proof-energy.png') no-repeat top;
}

.proof__box--hard {
  background: url('../img/proof-hard.png') no-repeat top;
}

.proof__box--time {
  margin-top: 20px;
  padding-top: 150px;
  background: url('../img/proof-time.png') no-repeat top;
}

.proof__resume {
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.proof__flex--mobile {
  display: none;
}

@media screen and ($tablet-widths) {
  .proof__title {
    height: 170px;
    background: url('../img/proof-title-t.png') no-repeat;
    background-size: contain;
  }
}

@media screen and ($mobile-widths) {  
  .proof__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .proof__box {
    margin-bottom: 50px;
  }
  
  .proof__left {
    width: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background: #000;
    
    & p {
      margin: 0;
      padding: 30px;
      text-align: center;
    }
  }
  
  .proof__right {
    margin-top: 30px;
    padding-top: 150px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: url('../img/proof-power.png') no-repeat top;
  }
  
  .proof__resume {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
    font-size: 16px;
  }
  
  .proof__title {
    display: none;
  }
}