.proof__flex {
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
}

.proof__left {
  padding: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  background: #000;
  
  & p {
    margin: 0;
  }
}

.proof__right {
  padding-top: 20px;
  padding-left: 200px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  background: url('../img/proof-power.png') no-repeat left;
}

.proof__box {
  padding-top: 170px;
  width: 170px;
  // height: 155px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.proof__box--energy {
  background: url('../img/proof-energy.png') no-repeat top;
}

.proof__box--hard {
  background: url('../img/proof-hard.png') no-repeat top;
}

.proof__box--time {
  margin-top: 20px;
  padding-top: 150px;
  background: url('../img/proof-time.png') no-repeat top;
}

.proof__resume {
  padding-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

@media screen and ($tablet-widths) {
  .proof__flex {
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
  }

}

@media screen and ($mobile-widths) {
  .proof__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .proof__box {
    margin-bottom: 50px;
  }
  
  .proof__right {
    padding-left: 0;
    font-size: 16px;
    text-align: center;
    background: none;
  }
  
  .proof__resume {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
    font-size: 16px;
  }
}