.truck {
  min-height: 650px;
  margin-top: -50px;
  background: url('../img/truck-bg.png') no-repeat top;
  background-size: cover;
}

@media screen and ($tablet-widths) {
  .truck {
    min-height: 500px;
    margin-top: -150px;
  }
}

@media screen and ($mobile-widths) {

}