.advantages__row {
  padding-top: 100px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-position: left;
  
  &:nth-child(1) {
    background-image: url('../img/advantages-1.jpg');
  }
  
  &:nth-child(2) {
    background-image: url('../img/advantages-2.jpg');
    background-position: right;
  }
  
  &:nth-child(3) {
    background-image: url('../img/advantages-3.jpg');
  }
  
  &:last-of-type {
    margin-bottom: 45px;
  }
}

.advantages__wrapper {
  display: flex;
  width: 570px;
  height: 190px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
  &--right {
    margin-left: auto;
  }
  
  &--height {
    width: 610px;
    height: 350px;
  }
}

.advantages__left {
  display: flex;
  align-items: center;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: $yellow;
}

.advantages__title {
  width: 170px;
  margin: 0;
  color: $orange;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.03em;
  
  &--number {
    display: block;
    color: #7ED3B2;
    font-size: 60px;
    font-weight: 900;
    text-shadow: -1px -1px 0 #fff, 1px 1px 0 #fff, 3px 3px 0 #B9E6D3;
  }
}

.advantages__right {
  display: flex;
  align-items: center;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: #fff;
}

.advantages__list {
  margin: 0;
  padding-right: 30px;
  list-style-image: url('../img/svg/li.svg');
}

.advantages__item {
  margin-bottom: 15px;
  color: $text;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.03em;
  
  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and ($mobile-widths) {
  .advantages__row {
    margin-bottom: 25px;
    padding-top: 160px;
    padding-bottom: 0;
    background-position: top;
    background-size: 100% auto;
    
    &:nth-child(2) {
      background-position: top;
    }
  }
  
  .advantages__wrapper {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: auto;
  }
  
  .advantages__left {
    justify-content: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  
  .advantages__title {
    display: flex;
    align-items: center;
    width: auto;
    font-size: 18px;
    
    &--number {
      margin-right: 10px;
    }
  }
  
  .advantages__right {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}