.button {
  color: #fff !important;
  padding: 8px 23px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: 'SF UI Display Regular', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $sc;
  border-radius: 80px;
  background: $sc;
  transition: 0.3s;

  &:hover {
    // color: #fff;
    background: transparent;
  }

  &--blue {
    color: #fff;
    border: 2px solid #1b85c7;
    background: #1b85c7;
  }

  &--title {
    color: #fff;
    padding: 12px 60px;
    font-size: 25px;
    font-family: 'SF UI Display Black', sans-serif;
    text-align: center;
    border-radius: 50px;
  }

  &--green {
    padding: 8px 60px;
    color: #fff;
    font-size: 20px;
    border: 2px solid $gc;
    background: $gc;

    &:hover {
      color: $gc !important;
    }
  }

  &--number {
    padding-left: 30px;
    color: #fff;
    font-size: 14px;
    border: none;
    background: none;
    background: url('../img/tel.png') no-repeat left;
    opacity: 0.6;

    &:hover {
      background: url('../img/tel.png') no-repeat left;
      opacity: 1;
    }
  }

  &--table {
    display: block;
    width: 100px;
    padding: 8px;
    margin: auto;
    color: #fff;
    text-align: center;
    background: transparent;

    &:hover {
      background: $sc;
    }
  }

  &--download {
    margin-top: 30px;
    padding: 10px 70px;
    font-size: 20px;
    font-family: 'SF UI Display Black', sans-serif;
    border-radius: 50px;
  }

  &--submit {
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 10px 50px;
    font-size: 20px;
    font-family: 'SF UI Display Black', sans-serif;
    border-radius: 50px;
    cursor: pointer;
  }
  
  &--slider {
    padding: 15px 40px;
    font-size: 16px;
  }
  
  &--tv {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px 15px 70px;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    border: 2px solid #1b85c7;
    background: #1b85c7 url('../img/tv-round.svg') no-repeat left;
    // background-size: 60px;
    
    span {
      font-weight: bold;
      text-transform: uppercase;
    }
    
    &:hover {
      background: transparent url('../img/tv-round.svg') no-repeat left;
    }
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .button {
    padding: 5px 15px;
    text-align: center;

    &--title {
      padding: 8px 30px;
      font-size: 18px;
    }

    &--number {
      padding-right: 0;
      padding-left: 25px;
    }

    &--submit {
      padding: 5px 30px;
    }
    
    &--slider {
      display: block;
      width: 300px !important;
      padding: 15px 0 !important;
    }
    
    &--tv {
      display: block;
      width: 256px !important;
      margin: 0;
      padding: 15px 0 15px 40px !important;
      font-size: 15px;
    }
  }
}
