.form {
  width: 700px;
  
  input {
    width: 165px;
    height: 25px;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    
    &:focus {
      border: 2px solid $sc;
    }
  }
  
  select {
    padding: 5px 20px;
    color: #fff;
    font-size: inherit;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    outline: none;
    
    &:focus {
      border: 2px solid $sc;
    }
    
    option {
      background: #212121;
    }
  }
  
  input::placeholder {
    color: #fff;
    opacity: 0.8;
  }
  
  small {
    display: block;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    color: #fff;
    font-family: 'SF UI Display Regular', sans-serif;
    text-align: center;
  }
}

.form__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__flex--around {
  justify-content: space-around;
  height: 39px;
}

.form__country,
.form__title,
.form__nature,
.form__leverage {
  width: 210px; 
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .form {
    
    p {
      text-align: center;
    }
  }
  
  .form__flex {
    flex-wrap: wrap;
    justify-content: center;
    
    input {
      margin-bottom: 10px;
    }
  }
}