.form {
  
  input {
    height: 25px;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
  }
  
  input[type="date"] {
    width: auto;
  }
  
  input:focus {
    border: 2px solid $sc;
  }
  
  input::placeholder {
    color: #fff;
    opacity: 0.8;
  }
}

.form__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .form {
    
    p {
      text-align: center;
    }
  }
  
  .form__flex {
    flex-wrap: wrap;
    justify-content: center;
    
    input {
      margin-bottom: 10px;
    }
  }
}