.header {}

.header--temp {
  border-bottom: 3px solid #525252;
  background: rgba(37, 37, 37, 0.7);
}

@media screen and ($tablet-widths) {

}

@media screen and ($mobile-widths) {
  .header {
    padding-top: 30px;
  }
}