.header {
  padding: 15px 0;
  // border-bottom: 2px solid #525252;
}

.header--temp {
  border-bottom: 1px solid #525252;
  background: rgba(37, 37, 37, 0.7);
}

.header__logo {
  width: 180px;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .header {
    padding-top: 30px;
  }
  
  .header--temp {
    // height: 100px;
    padding-bottom: 30px;
  }
}