.header {
  // border-bottom: 2px solid #525252;
}

.header--temp {
  border-bottom: 1px solid #525252;
  background: rgba(37, 37, 37, 0.7);
}

@media screen and ($tablet-widths) {

}

@media screen and ($mobile-widths) {
  .header {
    padding-top: 30px;
    height: 200px;
  }
  
  // .header--temp {
  //   height: 180px;
  //   padding-bottom: 30px;
  // }
}