.info {
  padding: 50px 0;
  color: #fff;
  
  h1 {
    font-size: 50px;
    font-family: 'SF UI Display Black', sans-serif;
  }
  
  p {
    font-size: 18px;
    font-family: 'SF UI Display Regular', sans-serif;
  }
  
  b {
    font-size: 25px;
    font-family: 'SF UI Display Black', sans-serif;
  }
  
  ul {
    font-size: 18px;
    font-family: 'SF UI Display Regular', sans-serif;
    list-style-image: url('../img/r-arrow-s.png');
  }
}

.info__title {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px !important;
  font-family: 'SF UI Display Black', sans-serif;
}