.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .main-nav {
    flex-direction: column;
  }
  
  .main-nav__user {
    display: flex;
    align-items: center;
    margin-top: 25px;
    
    a {
      margin-bottom: 10px;
    }
  }
  
  
}