.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 90px;
}

.main-nav__user {
  position: relative;
}

.main-nav__select {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  background: transparent;
  appearance: none; 
  cursor: pointer;
  
  option {
    color: #000;
    background: transparent;
  }
}

.flagicon {
  position: absolute;
  top: 2px;
  right: -20px;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .main-nav {
    flex-direction: column;
  }
  
  .main-nav__user {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    
    a {
      margin-bottom: 10px;
    }
  }
  
  
}