.slider {
  margin-bottom: 50px;
}

.slider__box {
  padding-bottom: 120px;
}

.slider__box--1,
.slider__box--2,
.slider__box--3,
.slider__box--4 {
  background: url('../img/slide1.jpg') no-repeat center;
  background-size: cover;
}