.steps {
  padding: 70px 0 54px 0;
  
  & h1 {
    margin: 0;
    font-size: 30px;
    font-family: 'SF UI Display Black', sans-serif;
  }
  
  & b {
    font-size: 20px;
    font-family: 'SF UI Display Regular', sans-serif;
  }
  
  & p {
    font-family: 'SF UI Display Regular', sans-serif;
    opacity: 0.7;
  }
}

.steps__italy {
  margin-top: 0;
  font-style: italic;
  font-family: 'SF UI Display Regular', sans-serif;
  opacity: 0.7;
}