.sub-nav {
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding-top: 20px;
  margin: auto;
  
  & a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
}