.table {
  width: 100%;
  padding-bottom: 85px;
  
  th {
    
    b {
      color: $sc;
      font-size: 20px;
      font-family: 'SF UI Display Black', sans-serif;
    }
    
    p {
      margin-top: 20px;
      color: #fff;
      font-size: 13px;
      font-family: 'SF UI Display', sans-serif;
      opacity: 0.6;
    }
    
    span {
      display: block;
      margin-bottom: 13px;
      color: #fff;
      font-size: 22px;
      font-family: 'SF UI Display Black', sans-serif;
    }
  }
  
  td {
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    font-family: 'SF UI Display Regular', sans-serif;
  }
}

.table__check-g {
  background: url('../img/check-g.png') no-repeat center;
}

.table__check-r {
  background: url('../img/check-r.png') no-repeat center;
}

.table--spread {
  margin: 30px 0;
  border-collapse: collapse;
  text-align: center;
  
  tr {
    border: 1px solid $sc;
  }
  
  th {
    padding: 5px;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .table {
    display: block;
    padding-bottom: 10px;
    overflow-x: auto;
  }
}
