.table {
  width: 100%;
  padding-bottom: 85px;
  border-spacing: 0;
  
  th {
    
    b {
      color: $sc;
      font-size: 26px;
      font-family: 'SF UI Display Black', sans-serif;
      text-transform: uppercase;
    }
    
    p {
      // margin-top: 20px;
      color: #fff;
      font-size: 16px;
      font-family: 'SF UI Display', sans-serif;
    }
    
    span {
      display: block;
      margin-bottom: 13px;
      color: #fff;
      font-size: 22px;
      font-family: 'SF UI Display Black', sans-serif;
    }
  }
  
  tr {
    
    &:nth-child(1n+1) {
      background: rgba(129, 129, 129, 0.5);
    }
    
    &:nth-child(2n+1) {
      background: rgba(167, 167, 167, 0.5);
    }
    
    &:first-child {
      background: transparent;
    }
  }
  
  td {
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: 'SF UI Text Bold', sans-serif;
  }
}

.table__check-g {
  background: url('../img/check-g.svg') no-repeat center;
  background-size: 15px;
}

.table__check-r {
  background: url('../img/check-r.svg') no-repeat center;
  background-size: 15px;
}

.table--spread {
  margin: 30px 0;
  border-collapse: collapse;
  text-align: center;
  
  tr {
    border: 1px solid $sc;
  }
  
  th {
    padding: 5px;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .table {
    display: block;
    padding-bottom: 10px;
    overflow-x: auto;
  }
}
