.temp {
  
  &--about {
    height: 100vh;
    background: #646464 url('../img/t-bg-2.png') no-repeat top;
    background-size: cover;
  }
  
  &--account {
    background: #434341 url('../img/a-bg.png') no-repeat top;
    background-size: cover;
  }
  
  &--faq {
    background: #646464 url('../img/a-bg.png') no-repeat top;
    background-size: cover;
  }
  
  &--glossary {
    background: gray;
  }
  
  &--trader {
    background: #646464 url('../img/a-bg.png') no-repeat top;
    background-size: cover;
  }
  
  &--signals {
    height: 100vh;
    background: #646464 url('../img/t-bg-1.png') no-repeat top;
    background-size: cover;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .temp {
    
    &--about {
      height: inherit;
      padding-bottom: 100px;
    }
  }
}