.title { 
  margin-top: 120px;
  color: #fff;
  
  & h1 {
    margin-bottom: 30px;
    font-size: 60px;
    font-family: 'SF UI Display Black', sans-serif;
    text-transform: uppercase;
  }
  
  & p {
    margin-bottom: 75px;
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
    font-family: 'SF UI Text Regular', sans-serif;
    opacity: 0.6;
  }
}

.title--about {
  
  & h1 {
    margin: 0;
    font-size: 50px;
  }
}

.title--account {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  
  & h1 {
    margin: 0;
    font-size: 50px;
  }
  
  & p {
    width: 500px;
    margin-bottom: 0;
  }
}

.title--platform {
  
  & h1 {
    margin-bottom: 0;
    font-size: 50px;
  }
}

.title__sub {
  margin-top: 20px;
  font-size: 18px !important;
  font-style: italic;
  font-family: 'SF UI Text Regular', sans-serif;
  opacity: 0.7;
}