.title {
  height: 100vh;
  background: #646464 url('../img/t-bg.png') no-repeat top;
  background-size: cover;
}

.title--acc {
  background: #434341 url('../img/a-bg.png') no-repeat top;
  background-size: cover;
}