.trading {
  border-bottom: 2px solid #c6c6c6;
}

.trading__flex {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 60px;
}

.trading__flex--second {
  padding-top: 0;
  padding-bottom: 80px;
}

.trading__left {
  align-self: center;
  width: 500px;
  
  & b {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'SF UI Display Black', sans-serif;
  }
  
  & p {
    font-family: 'SF UI Display Regular', sans-serif;
    opacity: 0.7;
  }
}

.trading__img {
  width: 600px;
}

.trading__box {
  width: 270px;
  // padding-top: 270px;
  text-align: center;
  
  & img {
    display: block;
    width: 200px;
    margin: auto;
  }
  
  & b {
    font-size: 20px;
    font-family: 'SF UI Display Bold', sans-serif;
    text-transform: uppercase;
  }
  
  & p {
    font-family: 'SF UI Display Regular', sans-serif;
    opacity: 0.7;
  }
}

.trading__box--tools {
  // padding-bottom: 100px;
  // background: url('../img/trading-1.svg') no-repeat top;
}

.trading__box--trans {
  background: url('../img/trading-2.png') no-repeat top;
}

.trading__box--funds {
  background: url('../img/trading-3.png') no-repeat top;
}

.trading__box--algo {
  background: url('../img/trading-4.png') no-repeat top;
}

@media screen and ($tablet-widths) {
  .trading__img {
    display: none;
  }
  
  .trading__left {
    width: auto;
  }
  
  .trading__flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .trading__box {
    width: 300px;
  }
}

@media screen and ($mobile-widths) {
  .trading__flex {
    padding-top: 0;
  }
  
  .trading__flex--second {
    padding-bottom: 0;
  }
  
  .trading__left {
    text-align: center;
    
    & b {
      font-size: 30px;
    }
  }
  
  .trading__box {
    width: auto;
    padding-bottom: 50px;
  }
}