.trade {
  padding: 80px 0;

  video {
    width: 600px;
  }
}

.trade__flex {
  display: flex;
  justify-content: space-between;
}

.trade__left {
  align-self: center;
  width: 400px;
  text-align: center;

  h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 60px;
    font-family: 'SF UI Display Black', sans-serif;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'SF UI Display', sans-serif;
    opacity: 0.7;
  }

  small {
    display: block;
    margin-top: 15px;
    font-family: 'SF UI Display', sans-serif;
    opacity: 0.7;
  }
}

.trade__right {
  display: flex;
  flex-direction: column;
}

.trade__link {
  align-self: center;

  a {
    position: relative;
    margin-right: 10px;
    font-size: 0;
    opacity: 0.5;
    transition: 0.3s;
    
    &::before {
      content: 'Coming Soon';
      position: absolute;
      bottom: -20px;
      width: 192px;
      color: #000;
      font-size: 15px;
      font-family: 'SF UI Display Regular', sans-serif;
      text-align: center;
      opacity: 1;
    }
    
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and ($tablet-widths) {
  .trade__flex {
    flex-wrap: wrap;
  }

  .trade__left,
  .trade__right {
    margin: auto;
  }
}

@media screen and ($mobile-widths) {
  .trade {
    padding: 50px 0;
  }

  .trade__left {
    width: auto;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
  }

  .trade__right {
    align-items: center;
    padding-top: 30px;

    video {
      display: none;
    }
  }

  .trade__link {

    a {
      display: block;
      margin: 0 0 30px 0;
    }
  }
}
