.video {
  
  video {
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  
  iframe {
    position: relative;
    top: -53px;
    width: 100%;
    height: 34px;
    padding-top: 15px;
    background: #000;
  }
}

.video__header {
  position: absolute;
  top: 0;
  width: 1180px;
}

@media screen and ($tablet-widths) {
  .video {
    
    video {
      height: 700px;
    }
  }
  
  .video__header {
    width: 95%;
  }
}

@media screen and ($mobile-widths) {
  .video {
    
    video {
      height: 750px;
    }
  }
}