html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  color: $text;
  font-family: 'Avenir Next Cyr', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba($green, 0.5);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $orange; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($orange, 5%); 
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and ($tablet-width) {
  .container {
    width: 100%;
  }
}