.edge {
  min-height: 245px;
}

.edge__flex {
  min-height: 200px;
  display: flex;
  // justify-content: space-between;
  background: url("../img/edge.png") no-repeat top;
  margin-top: 80px;
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .edge {
    display: none;
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .edge {
    display: none;
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .edge__flex {
    background-size: contain;
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .edge {
    min-height: 170px;
  }
  
  .edge__flex {
    margin-top: 40px;
    min-height: 120px;
  }
}