.news {
  color: $w;
  background: #00aeef;
  
  & b {
    font-size: 40px;
    font-weight: 100;
  }
  
  & p {
    font-weight: 100;
  }
}

.news__flex {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.news__left-column,
.news__middle-column,
.news__right-column {
  width: 30%;
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {  
  .news__flex {
    flex-direction: column;
    padding-top: 40px;
  }
  
  .news__left-column,
  .news__middle-column,
  .news__right-column {
    width: 100%;
    text-align: center;
  }
  
  .news__left-column,
  .news__middle-column {
    margin-bottom: 50px;
  }
  
  .news__right-column {
    padding-bottom: 40px;
  }
  
  .news__left-column-second,
  .news__middle-column-second {
    margin-bottom: 50px;
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {    
  .news__flex {
    flex-direction: column;
    padding-top: 40px;
  }
  
  .news__left-column,
  .news__middle-column,
  .news__right-column {
    width: 100%;
    text-align: center;
  }
  
  .news__left-column,
  .news__middle-column {
    margin-bottom: 50px;
  }
  
  .news__right-column {
    padding-bottom: 40px;
  }
  
  .news__left-column-second,
  .news__middle-column-second {
    margin-bottom: 50px;
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {  
  .news__flex {
    padding: 30px 0;
  }
  
  .news {
    
    & b {
      font-size: 30px;
    }
  }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .news__flex {
    // padding-bottom: 70px;
  }
}





