.news {
  min-height: 400px;
  color: $w;
  background: #00aeef;
  
  & b {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
  }
  
  & a {
    padding: 1px 40px;
    color: $w;
    font-size: 20px;
    font-weight: bold;
    background: $b;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    
    &:hover {
      color: $b;
      background: $w;
    }
  }
}

.news__flex {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.news__left-column,
.news__middle-column,
.news__right-column {
  width: 30%;
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {  
  .news__flex {
    flex-direction: column;
    padding-top: 40px;
  }
  
  .news__left-column,
  .news__middle-column,
  .news__right-column {
    width: 100%;
    text-align: center;
  }
  
  .news__left-column,
  .news__middle-column {
    margin-bottom: 50px;
  }
  
  .news__right-column {
    padding-bottom: 40px;
  }
  
  .news__left-column-second,
  .news__middle-column-second {
    margin-bottom: 50px;
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {    

}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {  
  .news__flex {
    padding-bottom: 70px;
  }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .news__flex {
    padding-bottom: 70px;
  }
}





