.page-header {
  background: #00aeef url("../img/header.png") no-repeat top;
  background-size: cover;
}

.page-header__logo {
  margin-top: 3px;
}

.page-header__flex {
  display: flex;
  justify-content: space-between;
}

.page-header__head {
  padding-top: 25px;
}

.page-header__nav {
  height: 70px;
  background: #00aeef;
}

.page-header__main-nav--s {
  display: none;
}

.page-header__nav-list {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-top: 23px;
  padding-left: 0;
  list-style: none;
}

.page-header__item a {
  margin-right: 10px;
  padding: 5px 15px;
  color: $w;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $w;
  border-radius: 5px;
  transition: 0.3s;
}

.page-header__item a:hover {
  color: $b;
  background: $w;
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {  
  .page-header__flex {
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    width: 95%;
  }
  
  // .page-header {
  //   min-height: 1300px;
  // }
  
  .page-header__logo {
    width: 250px;
    margin-top: 5px;
  }
  
  .page-header__nav {
    height: 125px;
  }
  
  .page-header__item {
    margin-right: 10px;
  }
  
  .page-header__item a {
    margin-right: 0;
    padding: 5px 10px;
    color: $w;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $w;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .page-header__main-nav {
    display: none;
  }
  
  .page-header__nav-list {
    width: 100%;
    margin-top: 15px;
  }
  
  .page-header__main-nav--s {
    display: block;
  }
  
  .page-header__nav--form {
    min-height: 70px;
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {  
  .page-header__flex {
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    width: 95%;
  }
  
  .page-header {
    background-size: inherit;
  }
  
  .page-header__logo {
    width: 250px;
    margin-top: 15px;
  }
  
  .page-header__nav {
    height: 260px;
  }
  
  .page-header__main-nav {
    display: none;
  }
  
  .page-header__main-nav--s {
    display: block;
  }
  
  .page-header__nav-list {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .page-header__item {
    margin-bottom: 30px;
  }
  
  .page-header__nav--form {
    min-height: 70px;
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 95%;
  }
  
  .page-header {
    background: #00aeef url("../img/header-m.png") no-repeat top;
    background-size: cover;
  }
  
  .page-header__nav-list {
    width: 100%;
    justify-content: center;
  }
  
  .page-header__item {
    margin-left: 10px;
  }
  
  .page-header__item a {
    padding: 5px 10px;
    font-size: 16px;
  }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .container {
    width: 85%;
  }
  
  .page-header {
    background-size: inherit;
  }
}

/* Большие экраны ----------- */
@media only screen and (min-width: 1824px) {
  .container {
    width: 70%;
  }
  
  .page-header {
    background-size: cover;
  }
}