.page-footer {
  min-height: 500px;
  background: #0f0f0f;
}

.page-footer__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 65px;
}

.page-footer__column b {
  color: #fff;
  text-transform: uppercase;
}

.page-footer__column ul {
  padding: 0;
  list-style: none;
}

.page-footer__column a {
  color: #949494;
  text-decoration: none;
}

.page-footer__column li {
  padding-bottom: 15px;
}

.page-footer__select {
  padding: 5px;
  margin-top: 20px;
  width: 200px;
  border-radius: 5px;
}