.page-header__rules {
  width: 70%;
  margin-top: 30px;
  // margin: auto;
  padding: 20px;
  padding-bottom: 200px;
  border-radius: 5px;
  border: 2px solid $b;
  background: rgba(255, 255, 255, 0.8);
}