.trading {
  min-height: 600px;
  background: #00aeef;
  
  & h2 {
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
  }
  
  & p {
    align-self: flex-end;
    width: 75%;
    color: $w;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
  }
}

.trading__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container--trading {
  width: 980px;
}

.trading__coin {
  position: relative;
  min-height: 300px;
  margin-top: 120px;
  background: $w;
  background-size: cover; 
  z-index: 1;
}

.trading__coin::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100px;
  width: 50%;
  height: 100px;
  background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
}

.trading__coin::after {
  content: "";
  position: absolute;
  right: 0;
  top: -100px;
  width: 50%;
  height: 100px;
  background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
}

.coin__flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 25px;
}

.coin__c-1,
.coin__c-2,
.coin__c-3,
.coin__c-4,
.coin__c-5,
.coin__c-6,
.coin__c-7,
.coin__c-8,
.coin__c-9, {
  cursor: pointer;
  transition: 0.2s;
}

.coin__c-1:hover,
.coin__c-2:hover,
.coin__c-3:hover,
.coin__c-4:hover,
.coin__c-5:hover,
.coin__c-6:hover,
.coin__c-7:hover,
.coin__c-8:hover,
.coin__c-9:hover, {
  animation-name: coin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1.5s;
}

@keyframes coin {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.coin__c-1 {
  width: 58px;
  height: 64px;
  background: url("../img/c-1.png");
}

.coin__c-2 {
  width: 83px;
  height: 83px;
  background: url("../img/c-2.png");
}

.coin__c-3 {
  width: 89px;
  height: 89px;
  background: url("../img/c-3.png");
}

.coin__c-4 {
  width: 62px;
  height: 99px;
  background: url("../img/c-4.png");
}

.coin__c-5 {
  width: 123px;
  height: 123px;
  background: url("../img/c-5.png");
}

.coin__c-6 {
  width: 73px;
  height: 79px;
  background: url("../img/c-6.png");
}

.coin__c-7 {
  width: 84px;
  height: 83px;
  background: url("../img/c-7.png");
}

.coin__c-8 {
  width: 77px;
  height: 80px;
  background: url("../img/c-8.png");
}

.coin__c-9 {
  width: 57px;
  height: 57px;
  background: url("../img/c-9.png");
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .trading {
    min-height: 440px;
    background: #00aeef;
    
    & h2 {
      margin-top: 40px;
      margin-bottom: 0;
      text-align: center;
    }
    
    & p {
      text-align: center;
      width: 100%;
      font-size: 20px;
    }
  }
  
  .trading__flex {
    flex-direction: column;
    // align-items: center;
  }
  
  .container--trading {
    width: 95%;
  }
  
  .coin__flex {
    justify-content: space-around;
  }
  
  .coin__c-1,
  .coin__c-2,
  .coin__c-3,
  .coin__c-7,
  .coin__c-8,
  .coin__c-9 {
    display: none;
  }
  
  .coin__c-4,
  .coin__c-5,
  .coin__c-6 {
    animation-name: coin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
  }
  
  .trading__coin {
    min-height: 180px;
    margin-top: 40px;
  }
  
  .trading__coin::before {
    top: -50px;
    height: 50px;
    background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
  }
  
  .trading__coin::after {
    top: -50px;
    height: 50px;
    background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .trading {
    min-height: 400px;
    background: #00aeef;
    
    & h2 {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 30px;
      text-align: center;
    }
    
    & p {
      width: 100%;
      font-size: 20px;
      text-align: center;
    }
  }
  
  .trading__flex {
    flex-direction: column;
    align-items: center;
  }
  
  .container--trading {
    width: 95%;
  }
  
  .coin__flex {
    justify-content: center;
    padding-bottom: 40px;
  }
  
  .coin__c-1,
  .coin__c-2,
  .coin__c-3,
  .coin__c-4,
  .coin__c-6,
  .coin__c-7,
  .coin__c-8,
  .coin__c-9 {
    display: none;
  }
  
  .coin__c-4,
  .coin__c-5,
  .coin__c-6 {
    animation-name: coin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
  }
  
  .trading__coin {
    min-height: 100px;
    margin-top: 30px;
  }
  
  .trading__coin::before {
    right: 0;
    top: -25px;
    height: 25px;
    background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
  }
  
  .trading__coin::after {
    right: 0;
    top: -25px;
    height: 25px;
    background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container--trading {
    width: 95%;
  }
  
  .trading {
    min-height: 500px;
    background: #00aeef;
    
    & h2,
    & p {
      align-self: center;
      text-align: center;
    }
  }
  
  .trading__coin {
    min-height: 150px;
    margin-top: 80px;
    padding-top: 20px;
  }
  
  .trading__coin::before {
    right: 0;
    top: -80px;
    height: 80px;
    background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
  }
  
  .trading__coin::after {
    right: 0;
    top: -80px;
    height: 80px;
    background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {  
  .trading__coin {
    margin-bottom: 50px;
  }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .crypto::after {
    display: none;
  }
  
  .trading {
    min-height: 600px;
    background: #00aeef;
  }
  
  .trading__coin {
    min-height: 200px;
    margin-top: 100px;
  }
  
  .trading__coin::before {
    right: 0;
    top: -60px;
    height: 60px;
    background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
  }
  
  .trading__coin::after {
    right: 0;
    top: -60px;
    height: 60px;
    background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
  }
}

@media only screen and (min-width: 1824px) {
  .crypto::after {
    display: block;
  }
}