.trading {
  min-height: 600px;
  background: #00aeef;
  
  & h2 {
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
  }
  
  & p {
    align-self: flex-end;
    width: 75%;
    color: $w;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
  }
}

.trading__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container--trading {
  width: 980px;
}

.trading__coin {
  position: relative;
  min-height: 300px;
  margin-top: 120px;
  background: url("../img/coin.png") no-repeat center;
  background-size: cover; 
  z-index: 1;
}

.trading__coin::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100px;
  width: 50%;
  height: 100px;
  background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
}

.trading__coin::after {
  content: "";
  position: absolute;
  right: 0;
  top: -100px;
  width: 50%;
  height: 100px;
  background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .trading {
    min-height: 440px;
    background: #00aeef;
    
    & h2 {
      margin-top: 40px;
      margin-bottom: 0;
    }
    
    & p {
      text-align: center;
      width: 100%;
      font-size: 20px;
    }
  }
  
  .trading__flex {
    flex-direction: column;
    // align-items: center;
  }
  
  .container--trading {
    width: 95%;
  }
  
  .trading__coin {
    min-height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    background: $w url("../img/coin.png") no-repeat center;
    background-size: contain;
  }
  
  .trading__coin::before {
    top: -50px;
    height: 50px;
    background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
  }
  
  .trading__coin::after {
    top: -50px;
    height: 50px;
    background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .trading {
    min-height: 400px;
    background: #00aeef;
    
    & h2 {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 30px;
      text-align: center;
    }
    
    & p {
      width: 100%;
      font-size: 20px;
      text-align: center;
    }
  }
  
  .trading__flex {
    flex-direction: column;
    align-items: center;
  }
  
  .container--trading {
    width: 95%;
  }
  
  .trading__coin {
    min-height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    background: $w url("../img/coin.png") no-repeat center;
    background-size: contain;
  }
  
  .trading__coin::before {
    right: 0;
    top: -25px;
    height: 25px;
    background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
  }
  
  .trading__coin::after {
    right: 0;
    top: -25px;
    height: 25px;
    background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container--trading {
    width: 95%;
  }
  
  .trading {
    min-height: 500px;
    background: #00aeef;
  }
  
  .trading__coin {
    min-height: 150px;
    width: 100%;
    margin-top: 80px;
    background: $w url("../img/coin.png") no-repeat bottom;
    background-size: contain;
  }
  
  .trading__coin::before {
    right: 0;
    top: -80px;
    height: 80px;
    background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
  }
  
  .trading__coin::after {
    right: 0;
    top: -80px;
    height: 80px;
    background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {  
  .trading__coin {
    margin-bottom: 50px;
  }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .crypto::after {
    display: none;
  }
  
  .trading {
    min-height: 600px;
    background: #00aeef;
  }
  
  .trading__coin {
    min-height: 200px;
    margin-top: 100px;
    background: $w url("../img/coin.png") no-repeat top;
  }
  
  .trading__coin::before {
    right: 0;
    top: -60px;
    height: 60px;
    background: linear-gradient(to bottom right,transparent 50%, $w 50.7%);
  }
  
  .trading__coin::after {
    right: 0;
    top: -60px;
    height: 60px;
    background: linear-gradient(to bottom left,transparent 50%, $w 50.7%);
  }
}

@media only screen and (min-width: 1824px) {
  .crypto::after {
    display: block;
  }
  
  .trading__coin {
    background: $w url("../img/coin.png") no-repeat center;
  }
}