.trading {
  min-height: 600px;
  background: url("../img/trading-bg.png") no-repeat top;
  background-size: cover;
  
  & h2 {
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
  }
  
  & p {
    align-self: flex-end;
    width: 75%;
    color: $w;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
  }
}

.trading__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container--trading {
  width: 980px;
}

.trading__coin {
  margin-top: 120px;
  height: 150px;
  background: url("../img/coin.png") no-repeat top;
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .trading {
    min-height: 520px;
    background: #00aeef;
    
    & h2 {
      margin-top: 40px;
      margin-bottom: 0;
    }
    
    & p {
      width: 100%;
      font-size: 20px;
    }
  }
  
  .trading__flex {
    flex-direction: column;
    align-items: center;
  }
  
  .container--trading {
    width: 95%;
  }
  
  .trading__coin {
    width: 95%;
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    background: url("../img/coin-s.png") no-repeat center;
    background-size: contain;
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .trading {
    min-height: 520px;
    background: #00aeef;
    
    & h2 {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 30px;
    }
    
    & p {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
  }
  
  .trading__flex {
    flex-direction: column;
    align-items: center;
  }
  
  .container--trading {
    width: 95%;
  }
  
  .trading__coin {
    width: 95%;
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    background: url("../img/coin-s.png") no-repeat center;
    background-size: contain;
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container--trading {
    width: 95%;
  }
  
  .trading {
    min-height: 550px;
    background: $w;
    
    & p {
      color: #00aeef;
    }
  }
  
  .trading__coin {
    width: 95%;
    margin: 0 auto;
    background: url("../img/coin.png") no-repeat bottom;
    background-size: contain;
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tading {
    min-height: 0;
  }
  
  .trading__coin {
    margin-bottom: 50px;
  }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .crypto::after {
    display: none;
  }
  
  .trading {
    background: #00aeef;
  }
}

@media only screen and (min-width: 1824px) {
  .crypto::after {
    display: block;
  }
  
  .trading {
    background: url("../img/trading-bg.png") no-repeat top;
    background-size: cover;
  }
}








