html {
  scroll-behavior: smooth; 
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Circe', 'Arial', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $main-red; 
}

::-webkit-scrollbar-thumb:hover {
  background: darken($main-red, 5%);
}

@media screen and ($tablet-widths) {
  .container {
    width: 100%;
  }
}