@mixin container {
  min-width: 320px;
    @media ($tablet-widths) {
      width: 83%;
      min-width: 640px;
      margin: 0 auto;
    }
    @media ($desktop-widths) {
      min-width: 960px;
      max-width: 960px;
    }
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin reset-link {
  color: #fff;
  text-decoration: none;
}

@mixin triangle-down($height, $color) {
  position: relative;
    &::before{
      content: "";
      position: absolute;
    	bottom: -$height;
    	display: block;
    	width: 50%;
    	height: $height;
      left: 0;
      background: linear-gradient(to bottom left, $color 49.2%, transparent 50.7%);
    }
    &::after {
      content: "";
      position: absolute;
    	bottom: -$height;
    	display: block;
    	width: 50%;
    	height: $height;
      right: 0;
      background: linear-gradient(to bottom right, $color 49.2%, transparent 50.7%);
    }
}

@mixin triangle-page-header--inner($height, $color) {
  position: relative;
    &::before{
      content: "";
      position: absolute;
    	bottom: 0;
    	display: block;
    	width: 50%;
    	height: $height;
      left: 0;
      background: linear-gradient(to bottom left, transparent 49.2%, $color 50.7%);
    }
    &::after {
      content: "";
      position: absolute;
    	bottom: 0;
    	display: block;
    	width: 50%;
    	height: $height;
      right: 0;
      background: linear-gradient(to bottom right, transparent 49.2%, $color 50.7%);
    }
}

@mixin work($top, $left, $pseudo, $gradient) {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 0;
  text-align: center;
  position: absolute;
  display: block;
  width: 160px;
  height: 50px;
  top: $top;
  left: $left;
  background-color: #826550;
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 9px;
      height: 25px;
      left: $pseudo;
    }
    &::before {
      top: 0;
      background: linear-gradient(to bottom $gradient, #826550 47.0%, transparent 53.0%);
    }
    &::after {
      top: 25px;
      background: linear-gradient(to top $gradient, #826550 47.0%, transparent 53.0%);
    }
}
