<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - Plus500Crypto</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
  <header class="page-header  page-header--blue">
    <div class="page-header__head">
      <nav class="page-header__nav">
        <div class="container">
          <div class="page-header__flex">
            <div class="page-header__logo">
              <a href="../index.html">
                <img class="page-header__logo-b" src="../img/logo.png" alt="CryptoLogic">
                <img class="page-header__logo-s" src="../img/logo-s.png" alt="CryptoLogic">
              </a>
            </div>
            <div class="page-header__main-nav">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="login.html">Login</a></li>
                <li class="page-header__item"><a href="registration.html">Sign Up</a></li>
                <li class="page-header__item"><a href="contact.html">Contacts</a></li>
              </ul>
            </div>
            <div class="page-header__main-nav  page-header__main-nav--s">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="login.html">Login</a></li>
                <li class="page-header__item"><a href="registration.html">Sign Up</a></li>
                <li class="page-header__item"><a href="contact.html">Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="page-header__rules">
        <h1>About Us</h1>
        <p>Plus500Crypto is a multi-functional digital currency exchange that is highly trust worthy. It offers a cross-platform trading via website,<br>mobile application, web socket and API providing accesss to high liquidity orderbook for top currency pairs on the market.<br>Very fast Bitcoin buying and selling is possible through simplified bundle interface. The exchange has developed a multi-level account<br>system with individual approach to each customer, from Bitcoin learner to institutional professional traders.</p>
        <p class="page-header--pb">With Plus500Crypto you get worldwide coverage, mulitiple payement options, and 24/7 support accompanied by time-proven platform<br>stability that guarantees safty of assets and data. We provide all individuals and businesses a  world class experience to trade Bitcoin<br>and other crypto currencies. Plus500Crypto is absolutely the go-to site for traders and investors when you demand a quick trade transaction,<br>stable wallets and advanced security practices. Plus500Crypto is the right place to be!</p>
      </div>
    </div>
  </header>
  <footer class="page-footer  page-footer--up">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="login.html">Sign In</a></li>
            <li><a href="registration.html">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li class="page-footer--active"><a>About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="privacy.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="trading.html">Trading Guide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>