<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Careers - +500crypto</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <header class="page-header  page-header--blue">
    <div class="page-header__head">
      <nav class="page-header__nav  page-header__nav--rules">
        <div class="container">
          <div class="page-header__flex">
            <div class="page-header__logo">
              <a href="../index.html">
                <img class="page-header__logo" src="../img/logo.png" alt="plus500crypto">
                <!-- <img class="page-header__logo-s" src="../img/logo-s.png" alt="plus500crypto"> -->
              </a>
            </div>
            <div class="page-header__main-nav">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="https://client.plus500crypto.com/en/members/login">Login</a></li>
                <li class="page-header__item"><a href="https://client.plus500crypto.com/en/members/register/real/">Sign Up</a></li>
                <li class="page-header__item"><a href="contact.html">Contacts</a></li>
              </ul>
            </div>
            <div class="page-header__main-nav  page-header__main-nav--s">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="https://client.plus500crypto.com/en/members/login">Login</a></li>
                <li class="page-header__item"><a href="https://client.plus500crypto.com/en/members/register/real/">Sign Up</a></li>
                <li class="page-header__item"><a href="contact.html">Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="page-header__rules">
        <h1>Careers</h1>
        <p>At Plus500crypto our team consist of many enthusiastic individuals with a high sense of responsibility; no one waits around to be told what to do. Each member of our team is a highly motivated self-starter that is comfortable with autonomy and believes in lifelong learning. In other words, when we’re not working, we’re dreaming about it. We place our egos aside and thrive within a culture that fosters one another from birth of a concept to launch of a product.</p>
        <p>Plus500crypto is an international company with lots of team members globally distributed. We know the importance of communication, so our team is in constant contact with one another to develop, support, and deliver what is expected of us from our customers.</p>
        <p>Our core values include</p>
        <ul>
          <li>sense of ownership</li>
          <li>our passion for our work</li>
          <li>we are a team player</li>
          <li>positivity and a high level of optimism</li>
          <li>high level of performance</li>
          <li>community oriented</li>
        </ul>
        <p>The work we do at Plus500crypto creates an opportunity to personally contribute to the market evolution of cryptocurrencies and influence many people around. This is a very big opportunity. One any diligent and smart individual will want to cling to. At Plus500crypto our number goal is to find talented, vibrant and dedicated young individuals looking to join our amazing team and achieve exploits together.</p><br>
        <h2>1. Senior software developer</h2>
          <p>At Plus500crypto we are on a mission to establish the topmost innovative and industry-leading cryptocurrencies exchange. our team is comprised of many energetic young individuals that are self-driven and motivated towards innovation and execution of lots of ideas and tasks with speed and accuracy.</p>
          <h3>Responsibilities</h3>
          <p>As an Engineer with Plus500crypto you’ll be a principal member of the team that builds the  Plus500crypto core platform: that is, the trading engine, data analysis algorithms, API, wallet management, 3rd party integrations, etc.</p>
          <p><b>1. The Architecture:</b> Plus500crypto backend is built with the micro-services architecture in mind. Redundancy and high availability are main factors and lead every choice made to design each piece on the platform.</p>
          <p><b>2. Trading engine:</b> best in class trading engine across all trading and crypto exchanges. Contribute to design, new order types development, performance tuning and research.</p>
          <p><b>3. Data analysis algorithms:</b> the data we present to our users is the result of tailored algorithms on top of the incredible amount of data our platform produces daily.</p>
          <p><b>4. APIs:</b> the public face the presents the complexity of our architecture in a clean interface. Design, develop and improve trading and account management APIs on top of Web Sockets, REST and custom high-performance protocol.</p>
          <h3>Requirements</h3>
          <p>1.	Self-motivated and Responsible. No one on the team will micro-manage you. We are looking for team members who are comfortable taking an initiative</p>
          <p>2.	Knowledge and experience in micro-services architecture</p>
          <p>3.	Comfortable with high-availability concepts</p>
          <p>4.	Have actively participated in the development of a sophisticated platform as one of the leading developers</p>
          <p>5.	Extreme dedication to work</p>
          <p>6.	Ability to quickly learn new technologies</p>
          <p>7.	Preferred technologies: Ruby, Node.js, MySQL, Redis, Websockets</p>
          <p>8.	Other technologies of interest: Message queues (ZeroMQ, RabbitMQ), Job Queues</p>
          <p>As many that meets the requirement and Interested in this position? Please us an email and introduce yourself, explaining what position you are interested in and why you think you are a good fit.</p><br>
        <h2>2. General manager – Europe region</h2>
          <p>At Plus500crypto we are on a mission to establish the topmost innovative and industry-leading cryptocurrencies exchange. our team is comprised of many energetic young individuals that are self-driven and motivated towards innovation and execution of lots of ideas and tasks with speed and accuracy.</p>
          <h3>Responsibilities</h3>
          <p>1. Take ownership of the Europe region and drive market leadership & success</p>
          <p>2. Shape regional Plus500crypto strategy through industry & competitor analysis</p>
          <p>3. Own and shape the product for the region</p>
          <p>4. Help co-ordinate regional marketing campaigns</p>
          <p>5. Develop and maintain relationships with key stakeholders in market - regulators, partners, banks, merchants, media</p>
          <p>6. Optimize processes across the local business to run an efficient business</p>
          <p>7. Help to recruit and manage the European team and local country teams</p>
          <h3>Requirements</h3>
          <p>1. A relevant university qualification from a top university or business school</p>
          <p>2. 4-8 years work experience</p>
          <p>3. A valid UK work visa preferred. The position is based at our London office</p>
          <p>4. Entrepreneurial, strong sense of responsibility and very high level of integrity</p>
          <p>5. Excellent interpersonal, communication, leadership and negotiation skills</p>
          <p>6. Friendly, transparent, articulate and driven to succeed</p>
          <p>7. Someone who has a bias for action and can get things done</p>
          <p>8. Preferably a basic knowledge of how crypto-currencies like Bitcoin work</p><br>
        <h2>3. Fraud Analyst</h2>
          <p>At Plus500crypto we are on a mission to establish the topmost innovative and industry-leading cryptocurrencies exchange. our team is comprised of many energetic young individuals that are self-driven and motivated towards innovation and execution of lots of ideas and tasks with speed and accuracy.</p>
          <h3>Responsibilities</h3>          
          <p>1. Support Plus500crypto fraud prevention efforts across multiple geographies</p>
          <p>2. Play a key role in the continuous development and monitoring of the fraud prevention functions</p>
          <p>3. Perform market analysis and detailed investigations on high risk accounts or transactions</p>
          <p>4. Analyze company data by grouping and analyzing the fraudulent cases</p>
          <p>5. Analyze the processes and provide suggestions on how to reduce the proportion of fraudulent transactions</p>
          <p>6. Prepare monthly and ad-hoc reports to management</p>
          <p>7. Investigate and report suspicious activity</p>
          <h3>Requirements</h3>
          <p>1. University degree from reputable tertiary institution</p>
          <p>2. 1-3 years work experience</p>
          <p>3. High proficiency in English</p>
          <p>4. Strong desire to learn new information and techniques in a constantly evolving field</p>
          <p>5. Attention to detail, strong sense of responsibility and very high level of integrity</p>
          <p>6. Excellent interpersonal, communication and negotiation skills</p>
          <p>7. Prior experience in a similar role preferred</p>
          <p class="page-header--pb">8. Familiarity with Bitcoin and other crypto-currencies will be highly advantageous</p>
      </div>
    </div>
  </header>
  <footer class="page-footer  page-footer--up">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="https://client.plus500crypto.com/en/members/login">Sign In</a></li>
            <li><a href="https://client.plus500crypto.com/en/members/register/real/">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li class="page-footer--active"><a>Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="security.html">Security</a></li>  
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="privacy.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
            <li><a href="support.html">Support</a></li>
            <!-- <li><a href="templates/trading.html">Trading Guide</a></li> -->
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">© Copyright 2017 +500crypto, All right reserved. Cryptologi is a property of GRANIT OAK WORLDWIDE LIMITED: Igoumenitsas 12, 2027 Nicosia, Cyprus. Operational address: Igoumenitsas 12, 2027 Nicosia, Cyprus<br><br>+500crypto is a software platform ONLY and does not conduct any independent diligence on or substantive review of any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own, and for all your decisions as to whether to exchange blockchain assets with Exodus. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may increase in value after your exchange.
Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.</p>
    </div>
  </footer>
</body>
</html>