<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - Plus500Crypto</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
  <header class="page-header  page-header--blue">
    <div class="page-header__head">
      <nav class="page-header__nav">
        <div class="container">
          <div class="page-header__flex">
            <div class="page-header__logo">
              <a href="../index.html">
                <img class="page-header__logo-b" src="../img/logo.png" alt="CryptoLogic">
                <img class="page-header__logo-s" src="../img/logo-s.png" alt="CryptoLogic">
              </a>
            </div>
            <div class="page-header__main-nav">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="login.html">Login</a></li>
                <li class="page-header__item"><a href="registration.html">Sign Up</a></li>
                <li class="page-header__item"><a>Contacts</a></li>
              </ul>
            </div>
            <div class="page-header__main-nav  page-header__main-nav--s">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="login.html">Login</a></li>
                <li class="page-header__item"><a href="registration.html">Sign Up</a></li>
                <li class="page-header__item"><a>Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="page-header__rules">
        <h1>Contact Us</h1>
        <p class="page-header--pb">GRANIT OAK WORLDWIDE LIMITED: Igoumenitsas 12, CONNECTEDSKY HOUSE, 2027 Nicosia, Cyprus</p>
      </div>
    </div>
  </header>
  <footer class="page-footer  page-footer--up">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="login.html">Sign In</a></li>
            <li><a href="registration.html">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li class="page-footer--active"><a>Contact</a></li>
            <li><a href="privacy.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="trading.html">Trading Guide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>