<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - +500crypto</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <header class="page-header  page-header--blue">
    <div class="page-header__head">
      <nav class="page-header__nav  page-header__nav--rules">
        <div class="container">
          <div class="page-header__flex">
            <div class="page-header__logo">
              <a href="../index.html">
                <img class="page-header__logo" src="../img/logo.png" alt="plus500crypto">
                <!-- <img class="page-header__logo-s" src="../img/logo-s.png" alt="plus500crypto"> -->
              </a>
            </div>
            <div class="page-header__main-nav">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="https://client.plus500crypto.com/en/members/login">Login</a></li>
                <li class="page-header__item"><a href="https://client.plus500crypto.com/en/members/register/real/">Sign Up</a></li>
                <li class="page-header__item"><a>Contacts</a></li>
              </ul>
            </div>
            <div class="page-header__main-nav  page-header__main-nav--s">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="https://client.plus500crypto.com/en/members/login">Login</a></li>
                <li class="page-header__item"><a href="https://client.plus500crypto.com/en/members/register/real/">Sign Up</a></li>
                <li class="page-header__item"><a>Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="page-header__rules">
        <h1>Contact Us</h1>
        <p><b>Support email:</b> support@plus500crypto.com</p>
        <p><b>Support phone:</b> +35722000974</p>
        <p><b>Monday</b> to <b>Friday</b></p>
        <p class="page-header--pb">between <b>10:00</b> to <b>18:00</b> GMT</p>
      </div>
    </div>
  </header>
  <footer class="page-footer  page-footer--up">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="https://client.plus500crypto.com/en/members/login">Sign In</a></li>
            <li><a href="https://client.plus500crypto.com/en/members/register/real/">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li class="page-footer--active"><a>Contact</a></li>
            <li><a href="security.html">Security</a></li>  
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="privacy.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
            <li><a href="support.html">Support</a></li>
            <!-- <li><a href="templates/trading.html">Trading Guide</a></li> -->
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">© Copyright 2017 +500crypto, All right reserved. Cryptologi is a property of GRANIT OAK WORLDWIDE LIMITED: Igoumenitsas 12, 2027 Nicosia, Cyprus. Operational address: Igoumenitsas 12, 2027 Nicosia, Cyprus<br><br>+500crypto is a software platform ONLY and does not conduct any independent diligence on or substantive review of any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own, and for all your decisions as to whether to exchange blockchain assets with Exodus. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may increase in value after your exchange.
Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.</p>
    </div>
  </footer>
</body>
</html>