<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FAQ - +500crypto</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <header class="page-header  page-header--blue">
    <div class="page-header__head">
      <nav class="page-header__nav  page-header__nav--rules">
        <div class="container">
          <div class="page-header__flex">
            <div class="page-header__logo">
              <a href="../index.html">
                <img class="page-header__logo" src="../img/logo.png" alt="CryptoLogic">
                <!-- <img class="page-header__logo-s" src="../img/logo-s.png" alt="CryptoLogic"> -->
              </a>
            </div>
            <div class="page-header__main-nav">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="login.html">Login</a></li>
                <li class="page-header__item"><a href="registration.html">Sign Up</a></li>
                <li class="page-header__item"><a href="contact.html">Contacts</a></li>
              </ul>
            </div>
            <div class="page-header__main-nav  page-header__main-nav--s">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="login.html">Login</a></li>
                <li class="page-header__item"><a href="registration.html">Sign Up</a></li>
                <li class="page-header__item"><a href="contact.html">Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="page-header__rules">
        <h1>Faq</h1>
        <b>How do I cancel an order?</b>
        <p>To cancel an open order, first make sure you're viewing the market on which your order was placed (e.g. BTC-USD, LTC-BTC, etc). Your open orders will be listed in the Open Orders panel in the lower middle of the trading dashboard. Hover the order that you desire to cancel and click the "cancel" to the right hand side of the order.</p>
        <b>Do you allow VPN/Tor connections?</b>
        <p>Yes we do, however for best performance of the +500crypto web interface and API we recommend using a good and fast connection.</p>
        <b>Can I trade on margin?</b>
        <p>Currently Margin trading is disabled. Please subscribe to our blog for more updates.</p>
        <b>What is a limit order?</b>
        <p>Placing a limit order lets you decide what price you wish to buy or sell at. Your order will be added to the order book and will execute when someone submits a matching order.</p>
        <b>What is the order book?</b>
        <p>The order book is a list of all open (unfilled) buy and sell orders. You can buy or sell digital currency at any price listed.</p>
        <b>Why is my order stuck as an open order?</b>
        <p>Newly placed orders first enter the order book as an "open order". When some of your "open order" matches with another order, it becomes a "partially matched order". When all of your order matches with another user's order, it becomes a "fully matched order" or "completed order". Completed orders are removed from the order book.</p>
        <b>Is there a fee to transfer funds to and from +500crypto?</b>
        <p>+500crypto does not charge any transfer fees for moving funds between your Coinbase account and +500crypto account.</p>
        <b>Why is my "available" balance less than my total?</b>
        <p class="page-header--pb">You have open orders. The funds used to place your orders are considered to be on hold and not part of your available balance.</p>
      </div>
    </div>
  </header>
  <footer class="page-footer  page-footer--up">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="login.html">Sign In</a></li>
            <li><a href="registration.html">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#">Security</a></li>  
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li class="page-footer--active"><a>FAQ</a></li>
            <li><a href="privacy.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
            <li><a href="support.html">Support</a></li>
            <!-- <li><a href="templates/trading.html">Trading Guide</a></li> -->
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">© Copyright 2017 Cryptologi, All right reserved. Cryptologi is a property of GRANIT OAK WORLDWIDE LIMITED: Igoumenitsas 12, , 2027 Nicosia, Cyprus. Operational address: Igoumenitsas 12, , 2027 Nicosia, Cyprus<br><br>Criptologi is a software platform ONLY and does not conduct any independent diligence on or substantive review of any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own, and for all your decisions as to whether to exchange blockchain assets with Exodus. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may increase in value after your exchange.
Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.</p>
    </div>
  </footer>
</body>
</html>