<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Support - +500crypto</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <header class="page-header  page-header--blue  page-header--height">
    <div class="page-header__head">
      <nav class="page-header__nav  page-header__nav--form">
        <div class="container">
          <div class="page-header__flex  page-header__flex--center">
            <div class="page-header__logo">
              <a href="../index.html">
                <img class="page-header__logo" src="../img/logo.png" alt="CryptoLogic">
                <!-- <img class="page-header__logo-s" src="../img/logo-s.png" alt="CryptoLogic"> -->
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="page-header__rules">
        <h1 class="page-header__title">Support</h1>
        <div class="page-header__form  page-header--pb">
          <form action="" class="page-header__support">
            <input type="text" placeholder="Full Name" required>
            <input type="email" placeholder="E-mail" required>
            <input type="text" placeholder="Subject" required>
            <textarea name="comment" rows="8" cols="80"></textarea>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- <footer class="page-footer  page-footer--up">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li class="page-footer--active"><a>About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="privacy.html">Legal & Privacy</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="trading.html">Trading Guide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->
</body>
</html>