.account {
  padding: 70px 0;
}

.account__name {
  margin: 0 0 60px 0;
  color: $sc;
  font-size: 60px;
  font-weight: normal;
  font-family: 'SFUIDisplay-Thin', sans-serif;
  text-align: center;
}

.account__flex {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.account__box {
  width: 230px;
  padding: 100px 70px 50px;
  color: #fff;
  border-bottom-right-radius: 20px;
  background: #0e0b39;
  
  h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    font-family: 'SFUIDisplay-Medium', sans-serif;
    text-align: center;
  }
  
  hr {
    width: 30px;
    height: 1px;
    margin: 10px auto;
    border: none;
    background: $mc;
  }
  
  b {
    display: block;
    font-weight: normal;
    font-family: 'SFUIDisplay-Medium', sans-serif;
    text-align: center;
  }
  
  ul {
    margin: 30px 0 35px 0;
    padding: 0;
    font-family: 'SFUIDisplay-Thin', sans-serif;
    list-style-image: url('../img/list.svg');
  }
  
  a {
    display: block;
    width: 168px;
    margin: auto;
    padding: 9px 0;
    color: $mc;
    font-size: 18px;
    font-family: 'SFUIDisplay-Thin', sans-serif;
    text-align: center;
    text-decoration: none;
    border: 1px solid $mc;
    border-radius: 3px;
  }
  
  &:nth-child(2) {
    
    li:last-child {
      list-style: none;
    }
  }
  
  &:nth-child(1) {
    background: #0e0b39 url('../img/account-zulu.png') no-repeat 70px -30px;
    background-size: 256px;
  }
  
  &:nth-child(2) {
    background: #0e0b39 url('../img/account-real.png') no-repeat 0 -40px;
  }
  &:nth-child(3) {
    background: #0e0b39 url('../img/account-demo.png') no-repeat 40px 10px;
    background-size: 300px;
  }
}