.header {
  position: absolute;
  top: 0;
  width: 100%;
  transition: 1s;
  
  &--scroll {
    position: fixed;
    top: 0;
    background: #33276e;
    z-index: 1;
    
    .header__logo {
      width: 100px;
    }
    
    .header__user {
      width: 400px;
      margin: 0 70px 0 0;
      
      li {
        
        a {
          width: 133px;
          padding: 9px 0;
          // font-family: 'SFUIDisplay-Thin', sans-serif;
          transition: 0.3s;
        }
      }
    }
    
    .header__open {
      background-position-x: 122px;
    }
    
    .nav__search {
      top: -73px;
    }
  }
}

.header__container {
  width: 1170px;
  margin: auto;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #2f2861;
}

.header__logo {
  width: 170px;
  transition: 0.3s;
}

.header__user {
  display: flex;
  justify-content: space-between;
  width: 470px;
  padding: 0;
  margin: 0;
  list-style: none;
  
  li {
    text-align: center;
    
    &:last-child {
      width: 70px;
    }
    
    a {
      display: block;
      width: 168px;
      padding: 9px 0;
      color: $mc;
      font-size: 18px;
      font-weight: 100;
      // font-family: 'SFUIDisplay-Thin', sans-serif;
      text-decoration: none;
      border: 1px solid $mc;
      border-radius: 3px;
      transition: 0.3;
    }
  }
}

.header__open {
  background: url('../img/nav-arrow.svg') no-repeat right;
  background-position-x: 145px;
  background-size: 6px 3px;
}

.header__support {
  width: 70px;
  height: 41px;
  padding: 0 20px;
  color: $mc;
  font-size: 18px;
  font-weight: 100;
  font-family: inherit;
  // font-family: 'SFUIDisplay-Thin', sans-serif;
  border: 1px solid $mc;
  border-radius: 3px;
  background: transparent url('../img/nav-arrow.svg') no-repeat right;
  background-position-x: 50px;
  background-size: 6px 3px;
  appearance: none;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {}