.header {
  // padding: 12px 15px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #2f2861;
}

.header__logo {
  width: 170px;
}

.header__user {
  display: flex;
  justify-content: space-between;
  width: 470px;
  padding: 0;
  margin: 0;
  list-style: none;
  
  li {
    text-align: center;
    
    &:last-child {
      width: 70px;
    }
    
    a {
      display: block;
      width: 168px;
      padding: 9px 0;
      color: $mc;
      font-size: 18px;
      font-family: 'SFUIDisplay-Thin', sans-serif;
      text-decoration: none;
      border: 1px solid $mc;
      border-radius: 3px;
      transition: 0.3;
    }
  }
}

.header__open {
  background: url('../img/nav-arrow.svg') no-repeat right;
  background-position-x: 145px;
  background-size: 6px 3px;
}

.header__support {
  width: 70px;
  height: 41px;
  padding: 0 20px;
  color: $mc;
  font-size: 18px;
  font-family: 'SFUIDisplay-Thin', sans-serif;
  border: 1px solid $mc;
  border-radius: 3px;
  background: transparent url('../img/nav-arrow.svg') no-repeat right;
  background-position-x: 50px;
  background-size: 6px 3px;
  appearance: none;
}