.header {
  // padding: 12px 15px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #2f2861;
}

.header__logo {
  width: 170px;
}

.header__user {
  display: flex;
  justify-content: space-between;
  width: 470px;
  padding: 0;
  margin: 0;
  list-style: none;
  
  li {
    text-align: center;
    
    &:last-child {
      width: 70px;
    }
    
    a {
      display: block;
      width: 168px;
      padding: 9px 0;
      color: $mc;
      font-size: 18px;
      font-family: 'SFUIDisplay-Thin', sans-serif;
      text-decoration: none;
      border: 1px solid $mc;
    }
  }
}