.tabs {
  height: 330px;
  background: #e4b748 url('../img/tabs-bg.jpg') no-repeat top;
  background-size: cover;
}

.tabs__control {
  display: flex;
  justify-content: space-between;
  margin: -35px 0 0 0;
  padding: 0;
  width: 430px;
  list-style: none;
  
  li {
    
    button {
      padding: 0 0 14px 0;
      color: $sc;
      font-size: 16px;
      font-weight: 500;
      font-family: inherit;
      // font-family: 'SFUIDisplay-Medium', sans-serif;
      border: none;
      background: #fff;
      outline: none;
      transition: 0.1s;
      cursor: pointer;
    }
  }
}

.tabs__active {
  font-weight: 900 !important;
  // font-family: 'SFUIDisplay-Black', sans-serif !important;
  border-bottom: 2px solid #f58a39 !important;
}

.tabs__flex {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 15px;
}

.tabs__mockup {
  width: 732px;
  height: 403px;
  margin: -130px 0 0 0;
}

.tabs__content {
  position: relative;
  height: 330px;
  overflow: hidden;
}

.tabs__wrapper {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
  
  &--android {
    top: 70px;
    opacity: 1;
  }
}

.tabs__name {
  color: $sc;
  font-size: 30px;
  font-weight: 500;
  // font-family: 'SFUIDisplay-Medium', sans-serif;
}

.tabs__text {
  margin: 15px 0 35px 0;
  color: $sc;
  font-weight: 100;
  // font-family: 'SFUIDisplay-Thin', sans-serif;
}

.tabs__download {
  display: inline-block;
  width: 170px;
  margin: 0 25px 0 0;
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  // font-family: 'SFUIDisplay-Medium', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background: $sc;
  box-shadow: 0px 8px 10px 0px rgba(210, 156, 1, 0.5);
}

.tabs__more {
  display: inline-block;
  width: 168px;
  padding: 9px 0;
  color: $sc;
  font-size: 18px;
  font-weight: 300;
  // font-family: 'SFUIDisplay-Thin', sans-serif;
  text-align: center;
  text-decoration: none;
  border: 1px solid $sc;
  border-radius: 3px;
}

@media screen and ($tablet-widths) {
  .tabs__flex {
    padding: 0 15px;
  }
  
  .tabs__mockup {
    display: none;
  }
  
  .tabs__inner {
    width: 100%;
  }
}

@media screen and ($mobile-widths) {
  .tabs {
    height: 400px;
  }
  
  .tabs__control {
    width: auto;
    margin: -34px 0 0 0;
    
    li {
      
      button {
        font-size: 14px;
      }
    }
  }
  
  .tabs__content {
    height: 400px;
  }
  
  .tabs__download {
    width: 135px;
    margin: 0 10px 0 0;
    font-size: 16px;
  }
  
  .tabs__more {
    width: 133px;
    font-size: 16px;
  }
}