.welcome {
  padding: 90px 0;
}

.welcome__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  img {
    max-width: 600px;
    height: 400px;
  }
}

.welcome__content {
  width: 485px;
}

.welcome__name {
  margin: 0;
  color: $sc;
  font-size: 60px;
  font-weight: 500;
  // font-family: 'SFUIDisplay-Thin', sans-serif;
}

.welcome__text {
  margin: 35px 0 50px 0;
  color: $sc;
  font-size: 18px;
  font-weight: 100;
  // font-family: 'SFUIDisplay-Thin', sans-serif;
}

.welcome__button {
  display: block;
  width: 170px;
  padding: 10px 0;
  color: $sc;
  font-size: 18px;
  font-weight: 300;
  // font-family: 'SFUIDisplay-Thin', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background: $mc;
}