.about-us {
  min-height: 1520px;
  background: $bg;
  
  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 70px;
    padding-top: 104px;
    font-size: $title;
    font-weight: 900;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 15px;
      width: 98px;
      height: 8px;
      background: $orange;
      border: none;
      transform: rotate(130deg);
    }
  }
}

.about-us__text {
  margin-bottom: 35px;
  color: $black;
  font-size: $text;
  font-weight: bold;
}

.about-us__first-line {
  margin-bottom: 60px;
}

.about-us__second-line {
  margin-bottom: 50px;
}

.about-us__first-line, 
.about-us__second-line {
  display: flex;
  justify-content: space-between;
}

.about-us__item {
  width: 450px;
  height: 177px;
  
  & p {
    padding-top: 25px;
    color: $white;
    text-align: center;
    font-size: $text;
  }
}

.about-us__item--box-1 {
  background: url("../img/img1.png");
}

.about-us__item--box-2 {
  background: url("../img/img2.png");
}

.about-us__item--box-3 {
  background: url("../img/img3.png");
}

.about-us__item--box-4 {
  background: url("../img/img4.png");
}

.about-us__flex-container {
  display: flex;
  justify-content: space-between;
}

.about-us__left-column,
.about-us__right-column {
  width: 460px;
}

@media only screen and (max-width : 992px) {
  .about-us__item {
    width: 410px;
  }
  
  .about-us__first-line {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width : 768px) {
  .about-us {
    min-height: 1480px;
  }
  
  .about-us__item {
    width: 360px;
  }
  
  .about-us__title {
    padding-top: 40px;
  }
  
  .about-us__title,
  .about-us__text {
    padding-left: 10px;
  }
  
  .about-us__first-line, 
  .about-us__second-line {
    justify-content: space-around;
  }
  
  .about-us__item  p {
    font-size: 20px;
  }
  
  .about-us__first-line {
    margin-bottom: 10px;
  }
  
  .about-us__second-line {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width : 480px) {
  .about-us__item {
    width: 220px;
  }
  
  .about-us__item p {
    padding-top: 0;
    font-size: 20px;
  }
}

@media only screen and (max-width : 320px) {
	.about-us__title {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 35px;
  }
  
  .about-us__first-line,
  .about-us__second-line {
    display: none;
  }
  
  .about-us__flex-container {
    margin-top: -20px;
    flex-direction: column;
  }
  
  .about-us__left-column,
  .about-us__right-column {
    width: 100%;
  }
}

@media only screen and (min-width : 320px) and (max-width : 568px) {
  .about-us__item {
    width: 260px;
  }
}