.payment {
  min-height: 880px;
  background: url("../img/products_bg_2120.png") no-repeat bottom;
  
  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 109px;
    color: $white;
    font-size: 30px;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      width: 59px;
      height: 5px;
      background: $orange;
      border: none;
      transform: rotate(130deg);
    }
  }
}

.payment__flex-container {
  display: flex;
}

.product__text {
  margin-top: 0;
  margin-bottom: 30px;
  color: $white;
  font-size: 22px;
}

.payment__right-column {
  width: 350px;
  height: 310px;
  margin-top: 40px;
  background: url("../img/img6.png");
}

@media only screen and (max-width : 768px) {
  .payment {
    min-height: 1160px;
  }
  
  .payment__title {
    padding-top: 40px;
  }
  
  .payment__title,
  .product__text--adaptive {
    padding-left: 10px;
    text-align: left;
  }
  
  .product__text--adaptive {
    margin-bottom: 50px;
  }
  
  .payment__flex-container {
    display: flex;
    flex-direction:column-reverse;
  }
  
  .payment__right-column {
    margin: auto; 
  }
  
  .payment__left-column {
    margin-top: 30px;
  }
}

@media only screen and (max-width : 480px) {
  .payment {
    min-height: 1300px;
  }
}

@media only screen and (max-width : 320px) {
  .payment {
    min-height: 1360px;
  }
  
  .payment__title {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
  }
  
  .payment__title::after {
    top: 60px;
    right: 0;
    width: 98px;
    height: 8px;
  }
  
  .payment__right-column {
    display: none;
  }
}