form {
	width: 380px;
	background: transparent;
}

.page-footer__group { 
	position: relative; 
	margin-bottom: 20px; 
}

input,
textarea {
  display: block;
	font-size: $text;
	padding: 10px 10px 10px 5px;
	background: transparent;
	color: $white;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid $white;
	resize: none;
}

input:focus,
textarea:focus { 
	outline: none; 
}

label {
	color: $white; 
	font-size: $text;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}

input:focus ~ label, input.used ~ label {
	top: -15px;
  transform: scale(.75); 
  left: -2px;
	color: $white;
}

textarea:focus ~ label, textarea.used ~ label {
	top: -10px;
  transform: scale(.75); 
	left: -15px;
	color: $white;
}

.page-footer__button {
  padding: 20px 0;
  margin-top: 10px;
  width: 395px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  background: $orange;
  border: 0;
  cursor: pointer;
}

@media only screen and (max-width : 768px) {
	.page-footer__button {
	  width: 360px;
	}
	
	input,
	textarea {
		width: 345px;
	}
}

@media only screen and (max-width : 480px) {
	.page-footer__us {
		display: none;
	}
}

@media only screen and (max-width : 320px) {	
	.page-footer__button {
	  width: 250px;
	}
  
	input,
	textarea {
		width: 235px;
	}
	
	form {
		width: 235px;
		margin: auto;
	}
	
	.page-footer__form p {
		text-align: center;
	}
}