<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Miner</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header class="page-header">
    <div class="container">
      <div class="page-header__title">
        <b>WE MINE SINCE 1812</b>
        <div class="page-header__social">
          <a class="page-header__link  page-header__link--phone" href="#"></a>
          <a class="page-header__link  page-header__link--linkedin" href="#"></a>
          <a class="page-header__link  page-header__link--email" href="#"></a>
          <a class="page-header__link  page-header__link--facebook" href="#"></a>
          <a class="page-header__link  page-header__link--skype" href="#"></a>
        </div>
      </div>
      <div class="page-header__timer">
        <b>Pre-Sale Starts In</b>
        <div class="page-header__time">
          <div class="page-header__number  page-header__number--ml">
            <small>Days</small>
            <p>15</p>
          </div>
          <div class="page-header__dot">
            <p>:</p>
          </div>
          <div class="page-header__number">
            <small>Hours</small>
            <p>24</p>
          </div>
          <div class="page-header__dot">
            <p>:</p>
          </div>
          <div class="page-header__number">
            <small>Minutes</small>
            <p>31</p>
          </div>
          <div class="page-header__dot">
            <p>:</p>
          </div>
          <div class="page-header__number">
            <small>Seconds</small>
            <p>56</p>
          </div>
        </div>
      </div>
      <div class="page-header__offer">
        <div class="page-header__item">
          <b>NEW TO MINING?</b>
          <a href="#">GET STARTED ›</a>
        </div>
        <div class="page-header__item">
          <b>MINING TECHNOLOGY</b>
          <a href="#">LEARN MORE ›</a>
        </div>
        <div class="page-header__item">
          <b>CLOUD MINING</b>
          <a href="#">LEARN MORE ›</a>
        </div>
      </div>
      <div class="page-header__about">
        <div class="page-header__left">
          <b>How Bitcoin Mining Works</b>
          <p>Where do bitcoins come from? With paper money, a government<br>decides when to print and distribute money. Bitcoin doesn't have<br>a central government.</p>
          <p>With Bitcoin, miners use special software to solve math problems<br>and are issued a certain number of bitcoins in exchange. This<br>provides a smart way to issue the currency and also creates an<br>incentive for more people to mine.</p>
        </div>
        <div class="page-header__right">
          <b>Bitcoin is Secure</b>
          <p>Bitcoin miners help keep the Bitcoin network secure by approving transactions.<br>Mining is an important and integral part of Bitcoin that ensures fairness while<br>keeping the Bitcoin network stable, safe and secure.</p>
          <b>Links</b>
          <ul>
            <li><a href="#">We Use Coins</a> - Learn all about crypto-currency.</li>
            <li><a href="#">Bitcoin News</a> - Where the Bitcoin community gets news.</li>
            <li><a href="#">Bitcoin Knowledge Podcast</a> - Interviews with top people in Bitcoin.</li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</body>
</html>