<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Miner</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header class="page-header">
    <div class="container">
      <div class="page-header__title">
        <b>WE MINE SINCE 1812</b>
        <div class="page-header__social">
          <a class="page-header__link  page-header__link--phone" href="#"></a>
          <a class="page-header__link  page-header__link--linkedin" href="#"></a>
          <a class="page-header__link  page-header__link--email" href="#"></a>
          <a class="page-header__link  page-header__link--facebook" href="#"></a>
          <a class="page-header__link  page-header__link--skype" href="#"></a>
        </div>
      </div>
      <div class="page-header__timer">
        <b>Pre-Sale Starts In</b>
        <div class="page-header__time">
          <div class="page-header__number  page-header__number--ml">
            <small>Days</small>
            <p>15</p>
          </div>
          <div class="page-header__dot">
            <p>:</p>
          </div>
          <div class="page-header__number">
            <small>Hours</small>
            <p>24</p>
          </div>
          <div class="page-header__dot">
            <p>:</p>
          </div>
          <div class="page-header__number">
            <small>Minutes</small>
            <p>31</p>
          </div>
          <div class="page-header__dot">
            <p>:</p>
          </div>
          <div class="page-header__number">
            <small>Seconds</small>
            <p>56</p>
          </div>
        </div>
      </div>
      <div class="page-header__offer">
        <div class="page-header__item">
          <b>NEW TO MINING?</b>
          <a href="#">GET STARTED ›</a>
        </div>
        <div class="page-header__item">
          <b>MINING TECHNOLOGY</b>
          <a href="#">LEARN MORE ›</a>
        </div>
        <div class="page-header__item">
          <b>CLOUD MINING</b>
          <a href="#">LEARN MORE ›</a>
        </div>
      </div>
      <div class="page-header__about">
        <div class="page-header__left">
          <b>How Bitcoin Mining Works</b>
          <p>Where do bitcoins come from? With paper money, a government<br>decides when to print and distribute money. Bitcoin doesn't have<br>a central government.</p>
          <p>With Bitcoin, miners use special software to solve math problems<br>and are issued a certain number of bitcoins in exchange. This<br>provides a smart way to issue the currency and also creates an<br>incentive for more people to mine.</p>
        </div>
        <div class="page-header__right">
          <b>Bitcoin is Secure</b>
          <p>Bitcoin miners help keep the Bitcoin network secure by approving transactions.<br>Mining is an important and integral part of Bitcoin that ensures fairness while<br>keeping the Bitcoin network stable, safe and secure.</p>
          <b>Links</b>
          <ul>
            <li><a href="#">We Use Coins</a> - Learn all about crypto-currency.</li>
            <li><a href="#">Bitcoin News</a> - Where the Bitcoin community gets news.</li>
            <li><a href="#">Bitcoin Knowledge Podcast</a> - Interviews with top people in Bitcoin.</li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <section class="hardware">
    <div class="container">
      <div class="hardware__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GmOzih6I1zs?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YIVAluSL9SU?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
      <h2>Bitcoin Mining Hardware Comparison</h2>
      <p class="hardware__sub-title">Currently, based on (1) price per hash and (2) electrical efficiency the best Bitcoin miner options are:</p>
      <div class="hardware__list">
        <div class="hardware__item">
          <p class="hardware__title">AntMiner S7</p>
          <img src="img/hardware-f.png" alt="AntMiner S7">
          <p class="hardware__charter">ADVERTISED CAPACITY</p>
          <p class="hardware__value">4.73 Th/s</p>
          <p class="hardware__charter">POWER AFFICIENCY</p>
          <p class="hardware__value">0.25 W/Gh</p>
          <p class="hardware__charter">WEIGHT</p>
          <p class="hardware__value">8.8 POUNDS</p>
          <p class="hardware__charter">GUIDE</p>
          <p class="hardware__value  hardware__value--yes">YES</p>
          <p class="hardware__charter">PRICE</p>
          <p class="hardware__value">$479.95</p>
          <a href="#"></a>
          <p class="hardware__charter">Appx. BTC earned per month</p>
          <p class="hardware__value">0.1645</p>
        </div>
        <div class="hardware__item">
          <p class="hardware__title">AntMiner S9</p>
          <img src="img/hardware-s.png" alt="AntMiner S9">
          <p class="hardware__charter">ADVERTISED CAPACITY</p>
          <p class="hardware__value">4.73 Th/s</p>
          <p class="hardware__charter">POWER AFFICIENCY</p>
          <p class="hardware__value">0.25 W/Gh</p>
          <p class="hardware__charter">WEIGHT</p>
          <p class="hardware__value">8.8 POUNDS</p>
          <p class="hardware__charter">GUIDE</p>
          <p class="hardware__value  hardware__value--yes">YES</p>
          <p class="hardware__charter">PRICE</p>
          <p class="hardware__value">$479.95</p>
          <a href="#"></a>
          <p class="hardware__charter">Appx. BTC earned per month</p>
          <p class="hardware__value">0.1645</p>
        </div>
        <div class="hardware__item">
          <p class="hardware__title">Avalon6</p>
          <img src="img/hardware-t.png" alt="Avalon6">
          <p class="hardware__charter">ADVERTISED CAPACITY</p>
          <p class="hardware__value">4.73 Th/s</p>
          <p class="hardware__charter">POWER AFFICIENCY</p>
          <p class="hardware__value">0.25 W/Gh</p>
          <p class="hardware__charter">WEIGHT</p>
          <p class="hardware__value">8.8 POUNDS</p>
          <p class="hardware__charter">GUIDE</p>
          <p class="hardware__value">NO</p>
          <p class="hardware__charter">PRICE</p>
          <p class="hardware__value">$479.95</p>
          <a href="#"></a>
          <p class="hardware__charter">Appx. BTC earned per month</p>
          <p class="hardware__value">0.1645</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>