<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Miner</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header class="page-header">
    <div class="container">
      <div class="page-header__title">
        <b>WE MINE SINCE 1812</b>
        <div class="page-header__social">
          <a class="page-header__link  page-header__link--phone" href="#"></a>
          <a class="page-header__link  page-header__link--linkedin" href="#"></a>
          <a class="page-header__link  page-header__link--email" href="#"></a>
          <a class="page-header__link  page-header__link--facebook" href="#"></a>
          <a class="page-header__link  page-header__link--skype" href="#"></a>
        </div>
      </div>
      <div class="page-header__timer">
        <b>Pre-Sale Starts In</b>
        <div class="page-header__time">
          <div class="page-header__number  page-header__number--ml">
            <small>Days</small>
            <p>15</p>
          </div>
          <div class="page-header__dot">
            <p>:</p>
          </div>
          <div class="page-header__number">
            <small>Hours</small>
            <p>24</p>
          </div>
          <div class="page-header__dot">
            <p>:</p>
          </div>
          <div class="page-header__number">
            <small>Minutes</small>
            <p>31</p>
          </div>
          <div class="page-header__dot">
            <p>:</p>
          </div>
          <div class="page-header__number">
            <small>Seconds</small>
            <p>56</p>
          </div>
        </div>
      </div>
      <div class="page-header__offer">
        <div class="page-header__item">
          <b></b>
          <a href="#"></a>
        </div>
        <div class="page-header__item"></div>
        <div class="page-header__item"></div>
      </div>
      <div class="page-header__about">
        <div class="page-header__left">
          <b></b>
          <p></p>
          <p></p>
        </div>
        <div class="page-header__right">
          <b></b>
          <p></p>
          <b></b>
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</body>
</html>