.advantages {
  padding: 0 0 100px 0;
}

.advantages__inner {
  position: relative;
  height: 550px;
  margin: 40px 0 80px 0;
  // z-index: 1;
}

.advantages__controll {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 40px;
  font-size: 0;
  border: none;
  background: $main-yellow;
  cursor: pointer;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translateX(-50%);
  transition: 0.3s;
  // z-index: -1;
  
  &:hover .advantages__icon {
    fill: $main-red;
  }
  
  &--prev {
    left: -70px;
    transform: rotate(-90deg);
  }
  
  &--next {
    right: -70px;
    transform: rotate(90deg);
  }
}

.advantages__icon {
  fill: #EBEBEB;
  transition: 0.3s;
  
  &--prev {
    transform: rotate(90deg);
  }
  
  &--next {
    transform: rotate(90deg);
  }
}

.advantages__slider {
  position: relative;
  @include clear-list;
  background: #fff;
}

.advantages__box {
  position: absolute;
  top: 10px;
  right: -10px;
  box-sizing: border-box;
  width: 100%;
  height: 550px;
  padding: 0 40px 30px 40px;
  background: #fff;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  opacity: 0.5;
  transition: 0.5s;
  
  &::before {
    content: '';
    position: absolute;
    bottom: -115px;
    left: -50px;
    width: 1500px;
    height: 500px;
    background: #ebebeb;
    transform: rotate(-15deg);
  }
  
  &--show {
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 1;
  }
}

.advantages__flex {
  @include display-flex;
  justify-content: space-between;
}

.advantages__content {
  width: 600px;
  z-index: 1;
}

.advantages__title {
  position: relative;
  margin: 0 0 0 150px;
  font-size: 300px;
  font-weight: normal;
  font-family: 'Sylfaen', sans-serif;
  
  &--label {
    position: absolute;
    bottom: 110px;
    left: 50px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    background: $main-yellow;
  }
}

.advantages__text {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 150%;
}

.advantages__img {
  width: 350px;
  height: auto;
  object-fit: cover;
  z-index: 1;
}