.advantages {
  padding: 0 0 100px 0;
}

.advantages__inner {
  position: relative;
  margin: 40px 0 80px 0;
}

.advantages__controll {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 40px;
  font-size: 0;
  border: none;
  background: $main-yellow;
  cursor: pointer;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translateX(-50%);
  transition: 0.3s;
  outline: none;
  z-index: 1;
  
  &:hover .advantages__icon {
    fill: $main-red;
  }
  
  &--prev {
    left: -7px;
    transform: rotate(-90deg);
  }
  
  &--next {
    right: -7px;
    transform: rotate(90deg);
  }
}

.advantages__icon {
  fill: #EBEBEB;
  transition: 0.3s;
  
  &--prev {
    transform: rotate(90deg);
  }
  
  &--next {
    transform: rotate(90deg);
  }
}

.advantages__list {
  width: 90%;
  @include clear-list;
  margin: auto;
}

.advantages__item {
  margin: 5px;
  outline: none;
}

.advantages__box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 550px;
  margin: 0 auto;
  padding: 0 40px 30px 40px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  transition: 0.5s;
  
  &::before {
    content: '';
    position: absolute;
    bottom: -115px;
    left: -50px;
    width: 1500px;
    height: 500px;
    background: #ebebeb;
    transform: rotate(-15deg);
    z-index: -1;
  }
}

.advantages__flex {
  @include display-flex;
  justify-content: space-between;
}

.advantages__content {
  width: 600px;
}

.advantages__title {
  position: relative;
  margin: 0 0 0 150px;
  font-size: 300px;
  font-weight: normal;
  font-family: 'Sylfaen', sans-serif;

  &--label {
    position: absolute;
    bottom: 110px;
    left: 50px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    background: $main-yellow;
  }
}

.advantages__text {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 150%;
}

.advantages__img {
  width: 350px;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

@media screen and ($tablet-widths) {
  
}

@media screen and ($mobile-widths) {
  .advantages {
    padding: 0 0 50px 0;
  }
  
  .advantages__controll {
    display: none !important;
  }
  
  .advantages__list {
    width: 100%;
  }
  
  .advantages__box {
    padding: 20px;
  }
  
  .advantages__content {
    width: auto;
  }
  
  .advantages__flex {
    flex-direction: column;
  }
  
  .advantages__title {
    margin: 0;
    font-size: 200px;
    
    &--label {
      font-size: 16px;
    }
  }
  
  .advantages__img {
    display: none !important;
  }
}