.button {
  // display: block;
  @include display-flex;
  justify-content: center;
  box-sizing: border-box;
  width: 195px;
  padding: 13px;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  background: $main-red;
  cursor: pointer;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    box-shadow: 0px 1px 13px 0px rgba(255, 0, 25, 0.81);
    transform: translateY(-5px);
  }
  
  &--center {
    margin: auto;
  }
  
  &--small {
    width: 110px;
    padding: 8px;
    font-size: 12px;
  }
  
  &--yellow {
    width: auto;
    margin: 30px 0 0 0;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
  }
  
  &:disabled {
    background: lightgray;
    cursor: not-allowed;
    
    &:hover {
      box-shadow: none;
      transform: none;
    }
  }
}

.button__icon {
  fill: #fff;
  margin: 0 0 0 5px;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .button {
    width: 170px;
    padding: 10px;
    font-size: 16px;
    
    &--small {
      width: 130px;
      margin: 0 auto;
      padding: 8px;
      font-size: 12px;
    }
  }
}