.edge {
  padding: 0 0 120px 0;
}

.edge__flex {
  @include display-flex;
  justify-content: space-between;
}

.edge__content {
  width: 680px;
}

.edge__text {
  font-size: 16px;
  font-weight: 200;
  line-height: 150%;
  
  &--red {
    color: $main-red;
    font-size: 24px;
    font-weight: 500;
  }
  
  &:first-of-type {
    margin: 100px 0 0 0;
  }
}

.edge__mockup {
  position: relative;
  width: 537px;
  height: 537px;
  background: url('../img/edge-mockup.png') no-repeat center / contain;
  // animation: edge-mockup-rotate-reverse 2s infinite alternate;
  // transform: rotate(-10deg);
  
  &::before {
    content: '';
    position: absolute;
    top: 75px;
    left: 60px;
    box-sizing: border-box;
    width: 380px;
    height: 380px;
    border: 10px solid $main-yellow;
    // animation: edge-mockup-rotate 2s infinite alternate;
    transform: rotate(-30deg);
  }
}

@keyframes edge-mockup-rotate-reverse {
  0% {}
  
  100% {
    transform: rotate(10deg);
  }
}

@keyframes edge-mockup-rotate {
  0% {}
  
  100% {
    transform: rotate(-80deg);
  }
}

@media screen and ($tablet-widths) {
  .edge__flex {
    flex-wrap: wrap;
  }
  
  .edge__mockup {
    margin: auto;
  }
}

@media screen and ($mobile-widths) {
  .edge {
    padding: 50px 0;
  }
  
  .edge__flex {
    flex-direction: column;
  }
  
  .edge__content {
    width: auto;
  }
  
  .edge__text {
    
    &:first-of-type {
      margin: 30px 0 0 0;
    }
    
    &--red {
      font-size: 18px;
    }
  }
  
  .edge__mockup {
    width: 300px;
    height: 300px;
    
    &::before {
      width: 200px;
      height: 200px;
    }
  }
}