.heading {
  position: relative;
  margin: 0;
  color: $main-red;
  font-size: 70px;
  font-weight: 500;
  line-height: 100%;
  
  &--yellow {
    color: $main-yellow;
  }
  
  &--small {
    display: inline-block;
    font-size: 40px;
  }
  
  &--center {
    text-align: center;
  }
  
  &--left {
    padding: 0 0 0 60px;
    font-size: 48px;
  }
  
  &--smallest {
    font-size: 28px;
  }
  
  &--sub {
    display: block;
    margin: 20px 0 0 0;
    font-size: 27px;
    line-height: 150%;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .heading {
    font-size: 30px;
    text-align: center;
    
    &--small {
      display: block;
      font-size: 20px;
    }
    
    &--smallest {
      font-size: 18px;
    }
    
    &--left {
      padding: 0;
    }
  }
}