.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 945px;
  background: #fff;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  z-index: 3;
  
  &--show {
    opacity: 1;
    visibility: visible;
  }
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  margin: 0;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5) url('../img/svg/close-black.svg') no-repeat center / 15px;
  cursor: pointer;
  transition: 0.3s;
  
  &:hover {
    background: rgba(255, 255, 255, 1) url('../img/svg/close-black.svg') no-repeat center / 15px;
  }
}

.popup__flex {
  @include display-flex;
  justify-content: space-between;
}

.popup__content {
  padding: 50px 15px 50px 65px;
}

.popup__name {
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  color: $main-red;
  font-size: 38px;
  font-weight: 500;
}

.popup__warning {
  margin: 0 0 0 30px;
  padding: 10px 0 10px 45px;
  font-size: 14px;
  font-weight: 500;
  
  &--calendar {
    background: url('../img/svg/calendar.svg') no-repeat left / 30px;
  }
  
  &--academy {
    background: url('../img/svg/contact-point.svg') no-repeat left / 30px;
  }
  
  &--media {
    background: url('../img/svg/contact-point-media.svg') no-repeat left / 30px;
  }
  
  &--guarantee {
    background: url('../img/svg/cap.svg') no-repeat left / 30px;
  }
  
  &--experts {
    background: url('../img/svg/employees.svg') no-repeat left / 30px;
  }
}

.popup__text {
  padding: 0 15px 0 0;
  font-weight: 400;
  line-height: 150%;
}

.popup__scroll {
  height: 200px;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $main-yellow; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darken($main-yellow, 5%); 
  }
}

.popup__subname {
  margin: 30px 0 0 0;
  color: $main-yellow;
  font-size: 20px;
  font-weight: 500;
}

.popup__img {
  align-self: stretch;
  width: 290px;
  height: 100%;
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  
  &--show {
    opacity: 0.8;
    visibility: visible;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .popup {
    width: 95%;
  }
  
  .popup__content {
    padding: 50px 15px 20px 15px;
  }
  
  .popup__name {
    padding: 0;
    font-size: 18px;
    text-align: center;
  }
  
  .popup__warning {
    margin: 0;
    font-size: 12px;
  }
  
  .popup__img {
    display: none;
  }
}