.reviews__name {
  margin: 0 0 50px 0;
  color: $main-red;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  
  &--small {
    display: block;
    font-size: 40px;
  }
}

.reviews__flex {
  @include display-flex;
  justify-content: space-between;
}

.reviews__subtext {
  width: 300px;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

.reviews__slider {
  width: 730px;
}

.reviews__list {
  @include clear-list;
}

.reviews__item {
  box-sizing: border-box;
  width: 360px;
  padding: 15px 20px 30px 20px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.33);
}

.reviews__header {
  @include display-flex;
  justify-content: space-between;
}

.reviews__figure {
  margin: 0;
}

.reviews__img {
  width: 160px;
  height: 165px;
  margin: 0 15px 0 0;
  object-fit: cover;
}

.reviews__author {
  width: 100%;
  margin: 20px 0 15px 0;
  padding: 0 0 15px 0;
  color: $main-red;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 2px solid $main-yellow;
}

.reviews__short {
  margin: 40px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}

.reviews__quote {
  margin: 0;
  font-weight: 300;
  line-height: 150%;
}