.stages {
  position: relative;
  padding: 170px 0 80px 0;
  
  &::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    z-index: -1;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  }
}

.stages__name {
  margin: 0 0 80px 0;
  color: $main-red;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
}

.stages__list {
  @include display-flex;
  justify-content: space-between;
  @include clear-list;
  margin: 70px 0 30px 0;
}

.stages__item {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  padding: 30px 0 30px 40px;
  background: url('../img/stage-arrow.png') no-repeat center / cover;
  
  &:nth-child(2) {
    background: url('../img/stage-media.png') no-repeat center / cover;
  }
  
  &:nth-child(5) {
    padding: 30px 0 30px 50px;
    background: url('../img/stage-square.png') no-repeat center / 210px;
  }
}

.stages__title {
  margin: 0 0 10px 0;
  color: $main-red;
  font-size: 14px;
  font-weight: 500;
}

@media screen and ($tablet-widths) {
  .stages__list {
    flex-wrap: wrap;
  }
}

@media screen and ($mobile-widths) {
  .stages {
    padding: 50px 0 0 0;
  }
  
  .stages__list {
    flex-direction: column;
    margin: 30px 0;
  }
  
  .stages__item {
    width: 300px;
    margin: 0 0 30px 0;
    padding: 30px 0;
    text-align: center;
    background: url('../img/stage-square.png') no-repeat center / 300px 140px;
    
    &:nth-child(2) {
      background: url('../img/stage-media.png') no-repeat center / 300px 140px;
    }
    
    &:nth-child(5) {
      margin: 0;
      padding: 30px 0;
      background: url('../img/stage-square.png') no-repeat center / 300px 140px;
      
      &::after {
        display: none;
      }
    }
    
    &::after {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 50%;
      width: 90px;
      height: 30px;
      background: url('../img/stage-arrow-mobile.png') no-repeat center / cover;
      transform: translateX(-50%);
    }
  }
}