.title {
  padding: 200px 0;
}

.title__text {
  margin: 170px 0 30px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 150%;
}

.title__flex {
  @include display-flex;
}

.title__warning {
  margin: 0 70px 0 0;
  font-size: 18px;
  font-weight: 600;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .title {
    padding: 100px 0 0 0;
  }
  
  .title__text {
    margin: 30px 0 10px 0;
    font-size: 16px;
    text-align: center;
  }
  
  .title__flex {
    flex-direction: column;
  }
  
  .title__warning {
    display: inline-block;
    margin: 0;
    font-size: 13px;
    text-align: center;
  }
}