.video {
  padding: 150px 0 90px 0;
  background: #e95356 url('../img/video-bg.jpg') no-repeat top / cover;
}

.video__name {
  margin: 0;
  padding: 85px 0;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  background: url('../img/border.png') no-repeat center;
}

.video__open {
  display: block;
  width: 110px;
  height: 110px;
  margin: 0 auto 40px auto;
  font-size: 0;
  border: none;
  background: url('../img/svg/youtube.svg') no-repeat center / cover;
  cursor: pointer;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    transform: translateY(-5px);
  }
}

.video__leading {
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.video__content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: auto;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 4;
  
  &--show {
    opacity: 1;
    visibility: visible;
  }
}

.video__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  margin: 0;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5) url('../img/svg/close-black.svg') no-repeat center / 15px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;
  
  &:hover {
    background: rgba(255, 255, 255, 1) url('../img/svg/close-black.svg') no-repeat center / 15px;
  }
}

.video__source {
  width: 100%;
  height: 100%;
}

@media screen and ($tablet-widths) {
  .video__content {
    width: 95%;
  }
}

@media screen and ($mobile-widths) {
  .video {
    padding: 50px 0;
  }
  
  .video__name {
    box-sizing: border-box;
    width: 300px;
    margin: auto;
    padding: 30px 10px;
    font-size: 13px;
    background: url('../img/border.png') no-repeat center / contain;
  }
  
  .video__open {
    width: 70px;
    height: 70px;
    margin: 30px auto 0 auto;
  }
  
  .video__leading {
    padding: 0 15px;
    font-size: 16px;
  }
}