.app {
  padding: 70px 0;
  background: url('../img/test.png') no-repeat center;
}

.app__top {
  width: 600px;
  margin: auto;
  color: $mc;
  text-align: center;
  
  & b {
    font-size: 30px;
    font-weight: bold;
    font-family: 'SF UI Display';
  }
  
  & p {
    font-size: 20px;
    font-family: 'SF UI Display Regular';
  }
  
  & img {
    transition: 0.3s;
    
    &:hover {
      transform: scale(1.1);
    }
  }
}

.app__bottom {
  width: auto;
  height: 430px;
  margin: auto;
  margin-top: 20px;
  background: url('../img/app.png') no-repeat center;
  background-size: contain;
}

@media screen and ($tablet-widths) {
  .app {
    padding: 50px 0;
  }
}

@media screen and ($mobile-widths) {
  .app__top {
    width: auto;
  }
  
  .app__bottom {
    display: none;
  }
}