.edge {
  background: #dbd9e2;
}

.edge__flex {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.edge__box {
  width: 300px;
  padding-top: 70px;
  color: #4a4a4a;
  
  & b {
    font-size: 20px;
    font-weight: bold;
    font-family: 'SF UI Display', sans-serif;
  }
  
  & p {
    margin-bottom: 0;
    font-family: 'SF UI Display Regular', sans-serif;
  }
}

.edge__box--over {
  background: url('../img/coins.svg') no-repeat top left;
  background-size: 70px;
}

.edge__box--free {
  background: url('../img/present.svg') no-repeat top left;
  background-size: 60px;
}

.edge__box--award {
  background: url('../img/award.svg') no-repeat top left;
  background-size: 70px;
}

@media screen and ($tablet-widths) {
  .edge__flex {
    justify-content: space-around;
  }
  
  .edge__box {
    width: 250px;
    text-align: center;
    
    & p {
      font-size: 14px;
    }
  }
  
  .edge__box--over {
    background: url('../img/coins.svg') no-repeat top;
    background-size: 70px;
  }
  
  .edge__box--free {
    background: url('../img/present.svg') no-repeat top;
    background-size: 60px;
  }
  
  .edge__box--award {
    background: url('../img/award.svg') no-repeat top;
    background-size: 70px;
  }
}

@media screen and ($mobile-widths) {
  .edge__flex {
    flex-direction: column;
    align-items: center;
  }
  
  .edge__box {
    margin-bottom: 30px;
  }
  
  .edge__box--award {
    margin-bottom: 0;
  }
}