.header {
  background: #d1e2ed url('../img/header-bg.png') no-repeat right;  
  
  & img {
    margin: 30px 0 50px 0;
  }
  
  & b {
    display: block;
    font-family: 'SF UI Display Black';
  }
  
  & small {
    display: block;
    padding: 5px 0 80px 15px;
    color: $mc;
    font-size: 14px;
    font-family: 'SF UI Display Regular';
  }
}

.header__title {
  width: 490px;
  margin-bottom: 50px;
  color: $mc;
  font-size: 30px;
}

.header__form {
  width: 500px;
  // height: 205px;
  padding: 15px;
  background: $mc;
  
  & b {
    margin-bottom: 10px;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .header {
    
    & img {
      display: block;
      width: 320px;
      margin: auto;
      margin-top: 0;
      padding: 50px 0;
    }
    
    & small {
      padding-bottom: 50px;
    }
  }
  
  .header__title {
    width: auto;
    text-align: center;
  }
  
  .header__form {
    width: auto;
    margin: auto;
  }
}