.promo {
  padding: 25px 0;
  background: $mc;
}

.promo__logo {
  width: 390px;
  height: 124px;
  margin: auto;
  background: url('../img/logo-promo.png') no-repeat center;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .promo__logo {
    width: 300px;
    background-size: contain;
  }
}