.trading {
  padding: 80px 0;
  background: #dbd9e2;
  
  & h1 {
    margin-top: 0;
    color: #4a4a4a;
    font-size: 32px;
    font-weight: bold;
    font-family: 'SF UI Display';
    text-align: center;
    
    & span {
      color: $mc;
      font-size: 48px;
      text-transform: uppercase;
    }
  }
}

.trading__flex {
  display: flex;
  justify-content: space-between;
  
  & ul {
    margin-bottom: 0;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: bold;
    font-family: 'SF UI Display';
    line-height: 30px;
    list-style-image: url('../img/li.png');
    
    & p {
      margin-bottom: 0;
      color: $mc;
      font-size: 14px;
      font-weight: normal;
      font-family: 'SF UI Display Regular';
    }
  }
}

@media screen and ($tablet-widths) {
  .trading {
    padding: 50px 0;
    
    & h1 {
      font-size: 28px;
    }
  }
}

@media screen and ($mobile-widths) {
  .trading__flex {
    flex-direction: column;
  }
}