.account-comparison {
  padding-bottom: 50px;
  
  & table {
    width: 100%;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-collapse: collapse;
    
    & th {
      padding: 15px 0;
    }
    
    & td {
      padding: 5px;
      border-bottom: 1px solid #fff;
    }
  }
}

.account-comparison__control {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 20px;
  
  & button {
    // margin: 0 5px;
    padding: 10px 45px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #4b426d;
    transition: 0.3s;
    cursor: pointer;
  }
}

.account-comparison__bronze {
  
  &:hover {
    background: #dc9554;
  }
}

.account-comparison__silver {
  
  &:hover {
    background: #9b9b9b;
  }
}

.account-comparison__gold {
  
  &:hover {
    background: #e7c85d;
  }
}

.account-comparison__free {
  
  &:hover {
    color: $mc;
    background: #4b426d;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .account-comparison__control {
    flex-direction: column;
    
    & button {
      width: 220px;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}