.desktop {
  margin-top: 350px;
  background: url('../img/desktop-bg.png') no-repeat top;
}

.desktop__flex {
  display: flex;
  justify-content: flex-end;
}

.desktop__right {
  width: 500px;
  padding-top: 20px;
  padding-bottom: 40px;
  
  & h4 {
    margin-bottom: 0;
    font-size: 25px;
  }
  
  & b {
    font-size: 25px;
  }
}

.desktop__list {
  display: flex;
  justify-content: space-between;
  
  & ul {
    width: auto;
    padding-left: 25px;
    color: #000;
    font-weight: 400;
  }
}

@media screen and ($tablet-widths) {
  .desktop {
    margin-top: 150px;
    background: url('../img/desktop-bg.png') no-repeat top;
  }
  
  .desktop__right {
    width: 450px;
  }
}

@media screen and ($mobile-widths) {
  .desktop {
    margin-top: 0px;
    background: url('../img/desktop-bg.png') no-repeat left;
  }
  
  .desktop__right {
    width: auto;
    font-weight: bold;
    
    & ul {
      font-weight: bold;
    }
  }
}