.edge {
  width: 600px;
  margin: auto;
  padding-bottom: 50px;
  
  & ul {
    width: auto;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .edge {
    width: auto;  
    
    & h3 {
      text-align: center;
    }
  }
}