.form {
  width: 900px;
  margin: auto;
  padding: 70px 0;
  
  & input {
    width: 45%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #4b426d;
    border-radius: 5px;
  }
  
  & input::placeholder {
    font-weight: bold;
    opacity: 0.7;
  }
}

.form__flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.form__flex--radio {
  justify-content: center;
  
  & input {
    width: auto;
  }
}

.form__right {
  display: flex;
  justify-content: space-between;
  
  & input {
    width: 40%;
  }
}

.form__select {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 9px;
  color: gray;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #4b426d;
  border-radius: 5px;
}

.form__select-registration {
  width: 47.5%;
  margin: 0;
}

.form__textarea {
  display: block;
  width: 70%;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #4b426d;
  border-radius: 5px;
  resize: none;
  
  &::placeholder {
    font-size: 17px;
    font-weight: bold;
    opacity: 0.7;
  }
}

button[type="submit"] {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 50px;
  color: $mc;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background: $sc;
  box-shadow: 3px 3px 0px 0px rgba(121, 121, 121, 0.7);
  transition: 0.3s;
  cursor: pointer;
  
  &:hover {
    color: #fff;
    background: $mc;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.7);
  }
}

.form__flex--pb {
  padding-bottom: 0;  
}

@media screen and ($tablet-widths) {
  .form {
    width: auto;
  }
}

@media screen and ($mobile-widths) {  
  .form {
    width: 90%;
    padding: 50px 0;
    
    & input {
      width: auto;
      margin-bottom: 10px;
    }
  }
  
  .form__flex {
    flex-direction: column;
  }
  
  .form__textarea {
    width: 70%;
  }
}