.resources {
  padding: 50px 0 100px 0;
  
  & hr {
    height: 2px;
    margin: 50px 0;
    border: none;
    background: $mc;
    opacity: 0.7;
  }
}

.resources__flex {
  display: flex;
  justify-content: space-between;
  margin: auto;
  
  & a {
    width: 70px;
    height: 70px;
    padding-top: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    background: url('../img/res.svg') no-repeat bottom;
    transition: 0.1s;
                
    &:hover {
      color: $mc;
      line-height: 65px;
      background: url('../img/res-h.svg') no-repeat top,
                  url('../img/res.svg') no-repeat bottom;
    }
  }
}

.resources__flex--second {
  padding-top: 30px;
}

.resources__text {
  color: $mc;
  
  & b {
    font-size: 20px;
    text-transform: uppercase;
  }
}

.resources__faq {
  display: flex;
  flex-direction: column;
  
  & h3 {
    margin-bottom: 0;
    color: $mc;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  & b {
    padding-bottom: 30px;
    color: $mc;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  & a {
    position: relative;
    margin-bottom: 10px;
    padding: 25px;
    padding-left: 80px;
    color: $mc;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background: url('../img/res.svg') no-repeat left;
    transition: 0.2s;
    
    &:hover {
      background: url('../img/res-h.svg') no-repeat left top;
    }
    
    &:hover::before {
      color: $mc;
    }
    
    &::before {
      content: '+';
      position: absolute;
      top: 17px;
      left: 25px;
      color: #fff;
      font-size: 30px;
    }
  }
}

@media screen and ($tablet-widths) {
  .resources__flex {
    width: 98%;
  }
}

@media screen and ($mobile-widths) {
  .resources {
    padding-bottom: 30px;
  }
  
  .resources__text {
    
    & p {
      text-align: center;
    }
  }
  
  .resources__faq {
    text-align: center;
    
    & a {
      padding: 70px 0 20px 0;
      background: url('../img/faq.png') no-repeat top;
    }
  }
}