.meta {
  text-align: right;
  
  & h2 {
    color: #2f2861;
    text-transform: uppercase;
  }
  
  & p {
    width: 390px;
    color: #323232;
  }
}

.meta__flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.meta__left {
  width: 550px;
  height: 368px;
  background: url('../img/meta-monitor.png') no-repeat center;
  background-size: contain;
}

.meta__trader {
  // width: 300px;
  height: 76px;
  background: url('../img/meta-trader.png') no-repeat right;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .meta__flex {
    flex-direction: column;  
  }
  
  .meta__left {
    align-self: center;
    width: 300px;
  }
  
  .meta__right {
    text-align: center;
    
    & p {
      width: auto;
      color: #fff;
    }
  }
  
  .meta__trader {
    background: url('../img/meta-trader.png') no-repeat center;
  }
}