.platforms {
  padding-top: 50px;
  background: url('../img/platforms-bg.png') no-repeat top;
  
  & h2 {
    color: #fff;
    font-size: 25px;
  }
  
  & h3 {
    color: #fff;
    font-size: 25px;
  }
  
  & ul {
    width: 280px;
    color: #b7b5c9;
    font-weight: 500;
    list-style-image: url('../img/li.png');
  }
}