.platforms {
  padding: 50px 0;
  background: url('../img/platforms-bg.png') no-repeat top;
  
  & h2 {
    color: #fff;
    font-size: 25px;
  }
  
  & h3 {
    color: #fff;
    font-size: 25px;
  }
  
  & ul {
    width: 300px;
    color: #b7b5c9;
    font-size: 18px;
    font-weight: 100;
    list-style-image: url('../img/li.png');
  }
}