.security {
  padding: 50px 0;
  
  & b {
    color: #2f2861;
    font-size: 22px;
  }
  
  & p {
    color: #323232;
    padding-left: 270px;
  }
}

.security__box {
  background: url('../img/security.png') no-repeat left top;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .security {
    
    & p {
      padding-left: 0px;
      text-align: center;
    }
  }
  
  .security__box {
    padding-top: 260px;
    background: url('../img/security.png') no-repeat top;
  }
}
