.slider {
  & p {
    margin-top: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  & a {
    padding: 10px 30px;
    color: $mc;
    font-weight: bold;
    text-decoration: none;
    background: $sc;
    border: 1px solid $sc;
    box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    
    &:hover {
      color: $sc;
      background: transparent;
    }
  }
}

.slider__slide {
  height: 500px;
  
  & img {
    height: 132px;
  }
}

.slider__slide--one {
  background: url('../img/slider-f.png') no-repeat top;
  background-size: cover;
}

.slider__slide--two {
  background: url('../img/slider-s.png') no-repeat top;
  background-size: cover;
}

.slider__slide--three {
  background: url('../img/slider-t.png') no-repeat top;
  background-size: cover;
}

.slider__slide--four {
  background: url('../img/slider-fo.png') no-repeat top;
  background-size: cover;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li button {
  border-radius: 50%;
}

.slick-dots li button:before {
  content: '';
  width: 12px;
  height: 12px;
  background: white;
  opacity: 1;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  background: #eeba1d;
  opacity: 1;
}

@media screen and ($tablet-widths) {
  .slider {
    & p {
      margin-top: 35px;
      font-size: 20px;
    }
    
    & img {
      width: 350px;
    }
  }
  
  .slider__slide {
    height: 400px;
  }
}

@media screen and ($mobile-widths) {
  .slider {
    text-align: center;
    
    & p {
      margin-top: 30px;
      font-size: 16px;
    }
    
    & img {
      width: 300px;
      margin: auto;
    }
    
    & a {
      padding: 6px 15px;
    }
  }
  
  .slider__slide {
    height: 350px;
  }
  
  .slick-dots {
    bottom: -25px;
  }
  
  .slick-dots li button::before {
    border: 1px solid gray;
    opacity: 0.3;
  }
  
  .slick-dots li.slick-active button:before {
    border: 1px solid $sc;
  }
}