.sub-menu {
  height: 110px;
  border-top: 5px solid #2b2154;
  background: #4b426d;
  
  & p {
    margin-top: 40px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  & hr {
    width: 70%;
    opacity: 0.7;
  }
}

.sub-menu__flex {
  display: flex;
  justify-content: center;
  position: relative;
}

.sub-menu__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -475px;
  // left: 60px;
  width: auto;
  height: 480px;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.8s;
  z-index: 5;
  
  &:hover {
    transform: translateY(475px);
  }
  
  &:hover .sub-menu__arrow {
    transform: rotate(180deg);
    background: url('../img/acc-elipse.png') no-repeat center,
                url('../img/acc-arrow.png') no-repeat 11px 14px;
  }
  
  & a {
    padding: 10px 30px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    
    &:hover {
      transform: scale(1.1);
    }
  }
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -70px;
    width: 50%;
    height: 70px;
    background: linear-gradient(to top right,transparent 50%, #000 50.7%);
    opacity: 0.7;
  }
  
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -70px;
    width: 50%;
    height: 70px;
    background: linear-gradient(to top left,transparent 50%, #000 50.7%);
    opacity: 0.7;
  }
}

.sub-menu__box--account {
  left: 40px;
}

.sub-menu__box--about {
  left: -35px;
}

.sub-menu__box--funding {
  left: 40px;
}

.sub-menu__box--resources {
  top: -340px;
  left: 140px;
  height: 350px;
  
  &:hover {
    transform: translateY(340px);
  }
}

.sub-menu__logo {
  margin-top: 10px;
  
  &:hover {
    transform: none !important;
  }
}

.sub-menu__arrow {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  display: block;
  width: 38px;
  height: 38px;
  margin: auto;
  // margin-top: 20px;
  border: none;
  background: url('../img/acc-elipse.png') no-repeat center,
              url('../img/acc-arrow.png') no-repeat 12px 14px;
  transition: 0.3s;
  outline: none;
  z-index: 5;
}

// Social
.sub-menu__social {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 5px;
}

.sub-menu__link {
  width: 26px;
  height: 26px;
  padding: 0 !important;
  opacity: 0.7;
  
  &:hover {
    opacity: 1;
    transform: none !important;
  }
}

.sub-menu__link--facebook {
  background: url('../img/sub-f.png') no-repeat top;
}

.sub-menu__link--google {
  background: url('../img/sub-g.png') no-repeat top;
}

.sub-menu__link--youtube {
  background: url('../img/sub-y.png') no-repeat top;
}

.sub-menu__link--linkedin {
  background: url('../img/sub-l.png') no-repeat top;
}

.sub-menu__link--twitter {
  background: url('../img/sub-t.png') no-repeat top;
}

// Platform
.sub-menu__flex--platform {
  justify-content: flex-end;
}

.sub-menu--forex {
  
  & p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
  }
}

.sub-menu__platform-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sub-menu__platform {
  
  & a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.4;
    transition: 0.2s;
    
    &:hover {
      border-bottom: 1px solid #fff;
      opacity: 1;
    }
  }
}

@media screen and ($tablet-widths) {  
  .sub-menu__box {
    top: -370px;
    height: 380px;
    
    &:hover {
      transform: translateY(370px);
    }
    
    & a {
      padding: 5px 15px;
    }
  }
  
  .sub-menu__logo {
    
    & img {
      width: 150px;
    }
  }
  
  .sub-menu__box--about {
    left: -20px;
  }
}

@media screen and ($mobile-widths) {    
  .sub-menu {
    
    & p {
      margin-top: 35px;
    }
  }
  
  .sub-menu__box {
    display: none;
  }
}