body {
  min-width: 320px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and ($tablet-widths) {
  .container {
    width: 100%;
    // background: red;
  }
}

@media screen and ($mobile-widths) {
  .container {
    // background: yellow;
  }
}