.contact {
  padding: 250px 0 60px 0;
  background: #182340 url('../img/contact-bg-1.png') no-repeat top;
  background-size: cover;
}

.contact__wrapper {
  width: 950px;
  margin: auto;
}

.contact__text {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-family: 'Open Sans Light', sans-serif;
  text-transform: uppercase;
  
  span {
    font-family: 'Open Sans Bold', sans-serif;
  }
  
  &:nth-child(2) {
    margin: 30px 0 80px 0;
  }
}

.contact__form {
  padding: 65px 85px;
  background: rgba(0, 0, 0, 0.4);
  
  input {
    width: 300px;
    height: 55px;
    padding: 0 25px;
    font-size: 20px;
    font-family: 'Open Sans Light', sans-serif;
    border: none;
    border-radius: 5px;
    
    &::placeholder {
      color: #555555;
    }
  }
  
  button {
    display: block;
    margin: auto;
    padding: 15px 110px;
    color: #fff;
    font-size: 26px;
    font-family: 'Open Sans Light', sans-serif;
    text-transform: uppercase;
    box-shadow: 0px 0px 80px 0px #00aeff;
    border: none;
    border-radius: 5px;
    background: #00aeff;
    transition: 0.3s;
    cursor: pointer;
    
    &:hover {
      box-shadow: 0px 0px 120px 0px #00aeff;
    }
  }
}

.contact__flex {
  display: flex;
  justify-content: space-between;
  
  &:nth-child(2) {
    margin: 30px 0 40px 0;
  }
}

@media screen and ($tablet-widths) {
  .contact__wrapper {
    width: auto;
  }
  
  .contact__form {
    padding: 35px;
    
    input {
      width: 250px;
    }
  }
}

@media screen and ($mobile-widths) {
  .contact {
    padding: 150px 0 60px 0;
  }
  
  .contact__text {
    font-size: 25px;
    text-align: center;
    
    &:nth-child(2) {
      margin: 30px 0 50px 0;
    }
  }
  
  .contact__form {
    
    input {
      width: auto;
      margin: 0 0 10px 0;
      font-size: 16px;
    }
    
    button {
      width: 100%;
      padding: 15px 0;
      font-size: 16px;
    }
  }
  
  .contact__flex {
    flex-direction: column;
    
    &:nth-child(2) {
      margin: 0 0 20px 0;
    }
  }
}