.edge {
  padding: 90px 0 40px 0;
  background: #182340;
}

.edge__name {
  margin: 0 0 90px 0;
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  font-family: 'Open Sans Light', sans-serif;
  text-align: center;
  text-transform: uppercase;
  
  span {
    font-family: 'Open Sans Bold', sans-serif;
  }
}

.edge__flex {
  display: flex;
  justify-content: space-between;
  
  &--second {
    justify-content: space-around;
    margin: 100px 0 0 0;
  }
}

.edge__box {
  width: 250px;
  padding: 80px 0 0 0;
  color: #fff;
  font-size: 20px;
  font-family: 'Open Sans Light', sans-serif;
  text-align: center;
  
  &--1 {
    background: url('../img/edge-1.png') no-repeat top;
    background-size: 88px;
  }
  
  &--2 {
    background: url('../img/edge-2.png') no-repeat top;
    background-size: 85px;
  }
  
  &--3 {
    background: url('../img/edge-3.png') no-repeat top;
    background-size: 72px;
  }
  
  &--4 {
    background: url('../img/edge-4.png') no-repeat top;
    background-size: 91px;
  }
  
  &--5 {
    background: url('../img/edge-5.png') no-repeat top;
    background-size: 70px;
  }
}