.title {
  padding: 70px 0 150px 0;
  background: #260d2f url('../img/title-bg.jpg') no-repeat top;
  background-size: cover;
}

.title__wrapper {
  padding: 0 50px;
}

.title__logo {
  width: 275px;
  height: 49px;
}

.title__name {
  margin: 80px 0 50px 0;
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  font-family: 'Open Sans Light', sans-serif;
  text-transform: uppercase;
  
  span {
    font-family: 'Open Sans Bold', sans-serif;
  }
}

.title__text {
  margin: 0 0 80px 0;
  color: #fff;
  font-size: 34px;
  font-family: 'Open Sans Light', sans-serif;
}

.title__begin {
  padding: 15px 100px;
  color: #fff;
  font-size: 30px;
  font-family: 'Open Sans Light', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0.3px #00aeff;
  background: #00aeff;
  transition: 0.3s;
  
  &:hover {
    box-shadow: 0px 0px 20px 0.3px #00aeff;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .title {
    padding: 30px 0 70px 0;
  }
  
  .title__wrapper {
    padding: 0;
  }
  
  .title__logo {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
  }
  
  .title__name {
    margin: 50px 0;
    font-size: 30px;
    text-align: center;
  }
  
  .title__text {
    font-size: 25px;
    text-align: center;
  }
  
  .title__begin {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 16px;
    text-align: center;
  }
}