<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XM-crypto</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__flex">
        <div class="header__logo">
          <a href="../index.html">
            <img src="../img/logo-2.png" alt="">
          </a>
        </div>
        <div class="header__left">
          <div class="header__nav">
            <ul>
              <li><a href="#">Trade</a></li>
              <li><a href="#">Media</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="header__right">
          <div class="header__user">
            <ul>
              <li><a href="#">Sign up</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">EN</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="choose">
    <div class="container">
      <div class="choose__btn-flex">
        <button type="button" name="buy">Buy</button>
        <button type="button" name="sell">Sell</button>
      </div>
      <h3>CHOOSE CRYPTO CURRENCY</h3>
      <div class="choose__crypto-flex">
        <button class="choose__btn-bitcoin" type="button" name="bitcoin">
          <b>Bitcoin</b>
          <p>₪ 52 859,25</p>
        </button>
        <button class="choose__btn-ethereum" type="button" name="ethereum">
          <b>Ethereum</b>
          <p>Temporarily disabled</p>
        </button>
      </div>
    </div>
  </section>
  <section class="amount">
    <div class="container">
      <h3>Enter Amount</h3>
      <div class="amount__flex  amount__flex--first">
        <div class="amount__first">
          <label for="send">You Send</label>
          <input type="text" name="send" id="send" placeholder="ILS">
        </div>
        <div class="amount__second">
          <button type="button" name="change"></button>
        </div>
        <div class="amount__third">
          <label for="receive">You Receive</label>
          <input type="text" name="receive" id="receive" placeholder="BTC">
        </div>
      </div>
      <h3>CHOOSE PAYMENT METHOD</h3>
      <div class="amount__flex  amount__flex--second">
        <div class="amount__left"></div>
        <div class="amount__right">
          <b>Credit Card</b>
          <p>From<br>172,06 to 17 206,02<br>ILS</p>
          <button class="contact__btn" type="button" name="button">Submit</button>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <div class="footer__box">
          <b>Trade</b>
          <a href="#">Buy</a>
          <a href="#">Buy</a>
          <a href="#">Buy</a>
          <a href="#">Buy</a>
        </div>
        <div class="footer__box">
          <b>Social</b>
          <a href="#">Buy</a>
          <a href="#">Buy</a>
          <a href="#">Buy</a>
          <a href="#">Buy</a>
        </div>
        <div class="footer__box">
          <b>Resources</b>
          <a href="#">Buy</a>
          <a href="#">Buy</a>
          <a href="#">Buy</a>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>