.button {
  display: block;
  width: 140px;
  padding: 7px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  background: $main-red;
  box-sizing: border-box;
  box-shadow: 0 0 20px 5px rgba(221, 5, 5, 0.2);
  outline: none;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    background: darken($main-red, 3%);
    box-shadow: 0 0 20px 10px rgba(221, 5, 5, 0.2);
  }
  
  &--center {
    margin: auto;
  }
  
  &--inactive {
    cursor: not-allowed;
  }
  
  &--full {
    width: 200px;
  }
}

.button__phone {
  font-weight: bold;
  text-align: center;
}