.request {
  padding: 150px 0 100px 0;
  background: url('../img/request-bg.png') no-repeat top / cover;
}

.request__wrapper {
  width: 435px;
  margin: auto;
  padding: 30px 20px;
  border-radius: 20px;
  background: #e2e2e2;
  box-sizing: border-box;
}

.request__name {
  display: block;
  color: $main-red;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.request__form {
  width: 390px;
  margin: auto;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .request__wrapper {
    width: 300px;
  }
  
  .request__form {
    width: 100%;
  }
}