.waiting {
  padding-top: 45px;
  padding-bottom: 60px;
  
  &--bg {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: -100px;
      right: 0;
      width: 419px;
      height: 762px;
      background: url('../img/canada-bg.png') no-repeat center / cover;
      z-index: -1;
    }
  }
  
  &--alone {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.waiting__list {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: inside url('../img/bullet.png');
  
  &--unbullet {
    background: url('../img/reasons-bg.png') no-repeat left;
    list-style: none;
  }
}

.waiting__item {
  padding: 0 0 10px 0;
  color: $main-gray;
  font-size: 18px;
  font-weight: normal;
  
  &--short {
    width: 45%;
    box-sizing: border-box;
  }
  
  &--right {
    margin: 60px 0 130px 55%;
  }
  
  &--icon {
    padding: 0 0 0 120px;
    background: url('../img/program-bg.png') no-repeat left / 90px 90px;
  }
}

.waiting__subheading {
  display: block;
  margin: 0 0 30px 0;
  color: $main-gray;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  
  &--red {
    color: $main-red;
  }
  
  &--center {
    display: block;
    margin: 0 0 20px 0;
    text-align: center;
  }
}

.waiting__name {
  display: block;
  color: $main-red;
  font-size: 30px;
  font-weight: normal;
  
  &--uppercase {
    text-transform: uppercase;
  }
}

.waiting__column {
  width: 65%;
  
  &--small {
    width: 535px;
  }
}

.waiting__img {
  
  &--1 {
    width: 350px;
    height: 340px;
    background: url('../img/waiting-img-1.jpg') no-repeat center / cover;
  }
  
  &--2 {
    width: 550px;
    height: 365px;
    margin: 0 30px 0 0;
    background: url('../img/waiting-img-2.jpg') no-repeat center / contain;
  }
}

.waiting__text {
  margin: 0 0 10px 0;
  color: $main-gray;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 1880px) {
  .waiting {
    
    &--bg {
      
      &::after {
        display: none;
      }
    }
  }
}

@media screen and ($tablet-widths) {
  .waiting {
    
    &--bg {
      
      &::after {
        display: none;
      }
    }
  }
  
  .waiting__list {
    
    &--unbullet {
      background-size: 380px;
    }
  }
  
  .waiting__item {
    
    &--right {
      margin: 30px 0 30px 55%;
    }
  }
}

@media screen and ($mobile-widths) {
  .waiting {
    padding-bottom: 0;
  }
  
  .waiting__subheading {
    display: block;
    font-size: 20px;
    text-align: center;
  }
  
  .waiting__list {
    margin: 0;
    
    &--unbullet {
      background: none;
    }
  }
  
  .waiting__item {
    font-size: 16px;
    text-align: center;
    
    &--short {
      width: 100%;
      margin: 0 0 30px 0;
    }
    
    &--right {
      margin: 0 0 30px 0;
    }
    
    &--icon {
      padding: 100px 0 0 0;
      background: url('../img/program-bg.png') no-repeat top / 90px 90px;
    }
  }
  
  .waiting__name {
    display: block;
    font-size: 23px;
    text-align: center;
    
    &--uppercase {
      text-align: center;
    }
  }
  
  .waiting__column {
    width: 100%;
    order: 1;
  }
  
  .waiting__img {
    align-self: center;
    margin: 0 0 30px 0;
    
    &--1 {
      width: 250px;
      height: 240px;
    }
    
    &--2 {
      width: 300px;
      height: 200px;
      // background: url('../img/waiting-img-2.jpg') no-repeat center / contain;
    }
  }
  
  .waiting__text {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  .waiting__inner {
    width: 100%;
  }
}