.webtrader {
  padding: 70px 0;
  
  h1 {
    margin: 0 0 70px 0;
    font-size: 40px;
    font-weight: inherit;
    font-family: 'Roboto Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
}

.webtrader__img {
  background: url('../img/web-mockup-1.png') no-repeat top;
  background-size: 800px;
}

.webtrader__flex {
  display: flex;
  justify-content: space-between;
}

.webtrader__box {
  width: 210px;
  text-align: center;
  
  h2 {
    padding: 17px 0;
    font-size: 15px;
    font-family: 'Roboto Black', sans-serif;
    background: url('../img/web-number.svg') no-repeat top;
    background-size: 50px;
  }
  
  p {
    font-size: 12px;
    font-family: 'Roboto Light', sans-serif;
  }
}

.webtrader__box--right {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 36px;
    right: -102px;
    width: 180px;
    border: 1px dotted #000;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 32px;
    right: -105px;
    width: 10px;
    height: 10px;
    background: url('../img/web-point.svg');
  }
}