body {
  font-family: 'Exo 2', sans-serif;
  min-width: 320px;
}

/*Шапка*/
header {
  min-height: 722px;
  padding-top: 20px;
  font-size: 13px;
  color: white;
  background: #30271b url(../img/header.png) center;
  background-size: cover;
}

header a {
  font-size: 13px;
  color: white;
  transition: 0.3s;
}

/*h1 {
  font-size: 56px;
}*/

.flex-column {
  margin-top: 5px;  
}

.flex-column li {
  padding-bottom: 15px;
}

.flex-column a:hover {
  color: #ee453c;
  text-decoration: none;
}

.mail::after {
  content: "";
  position: absolute;
  left: -80px;
  width: 1px;
  height: 66px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}

.phone::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -80px;
  width: 1px;
  height: 66px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}

.phone {
  width: 200px;
  margin-top: -10px;
  font-size: 20px;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 10px 50px;
  margin-left: -35px;
  margin-top: -10px;
  background-color: #ee453c;
  border-radius: 50px;
}

.btn:hover {
  color: white;
  text-decoration: none;
}

.target, .mail, .phone {
  position: relative;
}

.target::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 13px;
  height: 19px;
  background: url(../img/target.png);
}

.mail::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -25px;
  width: 16px;
  height: 13px;
  background: url(../img/mail.png);
}

.phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  width: 12px;
  height: 13px;
  background: url(../img/phone.png);
}

.main-nav {
  position: relative;
  padding-top: 20px;
}

.main-nav a {
  display: block;
  height: 45px;
}

.main-nav a:hover {
  color: #ee453c;
  border-bottom: 3px solid #ee453c;
}

.main-nav::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 1005px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}

.main-nav::before {
  content: "";
  position: absolute;
  top: 65px;
  left: -400px;
  width: 1920px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}

h1 {
  margin-top: 100px;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
}

.header-desc {
  position: relative;
  margin-top: 80px;
  font-size: 26px;
  text-align: center;
}

.header-desc::after {
  content: "";
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  position: absolute;
  top: -35px;
  left: 500px;
  width: 74px;
  height: 2px;
}

/*Второй экран*/
h2 {
  padding-top: 75px;
  margin-bottom: 80px;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #3a2519;
}

.about {
  min-height: 660px;
}

.about-text {
  width: 570px;
  font-size: 16px;
}

.h2-stick, .p-stick {
  position: relative;
}

.h2-stick::after {
  content: "";
  position: absolute;
  top: -70px;
  left: 525px;
  width: 70px;
  height: 2px;
  background-color: rgb(255, 122, 41);  
}

.h2-stick::before {
  content: "";
  background-color: rgb(255, 122, 41);
  position: absolute;
  left: 535px;
  top: -65px;
  width: 50px;
  height: 1px;
}

.p-stick::after {
  content: "";
  background-color: rgb(255, 122, 41);
  position: absolute;
  left: -20px;
  top: 0px;
  width: 2px;
  height: 290px;
}

.p-stick::before {
  content: "";
  background-color: rgb(255, 122, 41);
  position: absolute;
  left: -15px;
  top: 0px;
  width: 1px;
  height: 46px;
}

/*Услуги*/
.features {
  min-height: 900px;
  background: #eeebe8;
}

.feature-item {
  width: 350px;
  height: 300px;
  background: #f5f3f1;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.feature-item:hover  {
  background: #3a2519;
}

.feature-item:hover b {
  color: white;
}

.feature-item a:hover {
  text-decoration: none;
}

.feature-item:hover b::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 140px;
  width: 65px;
  height: 2px;
  background: #ff7a29;
}

.feature-item img {
  margin: 0 20px 20px 20px;
  transition: 0.3s;
}

.feature-item:hover img {
  margin: 0;
  width: 100%;
}

b {
  display: block;
  position: relative;
  padding: 15px 0;
  font-size: 19px;
  text-align: center;
  color: #63493a;
}

.feature-item {
  margin-bottom: 40px;
}

/*Преймущества*/
.advantages {
  min-height: 610px;
  background: url(../img/adv.png) center;
  background-size: cover;
}

h3 {
  position: relative;
  padding-top: 70px;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

h3::after {
  content: "";
  position: absolute;
  top: 125px;
  left: 520px;
  width: 65px;
  height: 2px;
  background: #ee453c;
}

h3::before {
  content: "";
  position: absolute;
  top: 130px;
  left: 530px;
  width: 45px;
  height: 1px;
  background: #ee453c;
}

.advantage-item {
  width: 235px;
  height: 230px;
  margin-top: 100px;
  border: 1px solid #615d57;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.advantage-item p {
  text-align: center;
  margin: 0 20px;
  margin-top: 150px;
  font-size: 20px;
  color: white;
}

.advantage-item:hover {
  border: 1px solid #fff;
}

.box-1:hover {
  background: url(../img/adv-1h.png) 85px 50px no-repeat;
}

.box-1 {
  background: url(../img/adv-1.png) 85px 50px no-repeat;
}

.box-2:hover {
  background: url(../img/adv-2h.png) 85px 50px no-repeat;
}

.box-2 {
  background: url(../img/adv-2.png) 85px 50px no-repeat;
}

.box-3:hover {
  background: url(../img/adv-3h.png) 85px 50px no-repeat;
}

.box-3 {
  background: url(../img/adv-3.png) 85px 50px no-repeat;
}

.box-4:hover {
  background: url(../img/adv-4h.png) 85px 50px no-repeat;
}

.box-4 {
  background: url(../img/adv-4.png) 85px 50px no-repeat;
}

.advantage-desc {
  margin-top: 60px;
  padding-bottom: 60px;
  font-size: 33px;
  text-align: center;
  color: white;
}

.advantage-desc span {
  font-size: 44px;
  color: #ee453c;
}

/*Партнеры*/
.partner {
  min-height: 445px;
}

.partner h3 {
  margin-bottom: 80px;
  color: #3a2519;
}

.partner-box-1 {
  position: relative;
  width: 200px;
  height: 145px;
  background: url(../img/p1.png) center no-repeat;
}

.partner-box-1::after {
  content: "";
  background: #e9e9e9;
  opacity: 0.7;
  position: absolute;
  left: 10px;
  top: 20px;
  width: 1px;
  height: 145px;
}

.partner-box-1::before {
  content: "";
  background: #e9e9e9;
  opacity: 0.7;
  position: absolute;
  left: 180px;
  top: 20px;
  width: 1px;
  height: 145px;
}

.partner-box-2 {
  position: relative;
  width: 200px;
  height: 145px;
  background: url(../img/p2.png) center no-repeat;
}

.partner-box-2::before {
  content: "";
  background: #e9e9e9;
  opacity: 0.7;
  position: absolute;
  right: 0px;
  top: 20px;
  width: 1px;
  height: 145px;
}

.partner-box-3 {
  position: relative;
  width: 200px;
  height: 145px;
  background: url(../img/p3.png) center no-repeat;
}

.partner-box-3::after {
  content: "";
  background: #e9e9e9;
  opacity: 0.7;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 1px;
  height: 145px;
}

.partner-box-4 {
  position: relative;
  width: 200px;
  height: 145px;
  background: url(../img/p4.png) center no-repeat;
}

.partner-box-4::before {
  content: "";
  background: #e9e9e9;
  opacity: 0.7;
  position: absolute;
  right: -10px;
  top: 20px;
  width: 1px;
  height: 145px;
}

.partner-box-5 {
  position: relative;
  width: 200px;
  height: 145px;
  background: url(../img/p5.png) center no-repeat;
}

.partner-box-5::before {
  content: "";
  background: #e9e9e9;
  opacity: 0.7;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 1px;
  height: 145px;
}

.partner p {
  position: relative;
  bottom: -140px;
  font-weight: bold;
  text-align: center;
}

/*Футер*/
footer {
  padding-top: 20px;
  min-height: 175px;
  font-size: 13px;
  background: url(../img/footer.png) center;
  background-size: cover;
  color: white;
}

footer a {
  color: white;
  transition: 0.3s;
}

.main-nav-footer {
  position: relative;
  padding-top: 35px;
}

.main-nav-footer::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 1060px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}

.social-btn {
  display: inline-block;
  width: 10px;
  height: 21px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  opacity: 0.6;
}

.social-btn:hover {
  opacity: 1;
}

.social-btn-vk {
  background: url(../img/vkh.png) center no-repeat;
}

.social-btn-fb {
  background: url(../img/fbh.png) center no-repeat;
}

.social-btn-tw {
  background: url(../img/th.png) center no-repeat;
}

.name, .copyright {
  margin-top: 35px;
  font-weight: bold;
}

/*Вторая страница*/
/*Шапка*/
.header-services {
  background: #30271b url(../img/header-s.png) center;
  background-size: cover;
}

.header-services h1 {
  font-size: 56px;
  text-align: center;
  text-transform: none;
}

.responsibility {
  width: 1110px;
  height: 291px;
  margin-top: 60px;
  border-radius: 5px;
  background: #1f1d19 url(../img/responsibility-bg.png);
  background-color: rgba(0, 0, 0, 0.2);
}

.responsibility-title {
  padding: 0 125px;
  padding-top: 50px;
  font-size: 26px;
  text-align: center;
}

.responsibility-item {
  width: 213px;
  height: 112px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.res-5 {
  border-right: none;
}

.responsibility-item p {
  font-size: 17px;
  padding-left: 10px;
}

/*Надо было делать спрайтом ...*/
.res-1 {
  padding-left: 20px;
  background: url(../img/res-1.png) no-repeat;
  background-position: 15px 0;
}

.res-2 {
  padding-left: 40px;
  background: url(../img/res-2.png) no-repeat;
  background-position: 25px 0;
}

.res-3 {
  padding-left: 20px;
  background: url(../img/res-3.png) no-repeat;
  background-position: 5px 0;
}

.res-4 {
  padding-left: 20px;
  background: url(../img/res-4.png) no-repeat;
  background-position: 5px 0;
}

.res-5 {
  padding-left: 20px;
  background: url(../img/res-5.png) no-repeat;
  background-position: 5px 0;
}

/*Второй экран*/
.advantage-s {
  min-height: 570px;
}

.advantage-s h3, .service-form h3 {
  color: #3a2519;
}

.advantage-s h3::after {
  top: 160px;
}

.advantage-s h3::before {
  top: 165px;
}

.advantage-s .advantage-item {
  border: 1px solid #d8d3d1;
}

.advantage-s .advantage-item p {
  color: #3a2519;
}

.advantage-s .advantage-item:hover {
  border: 1px solid #f16a63;
}

.advantage-s .box-1:hover {
  background: url(../img/adv-1-s-h.png) 80px 50px no-repeat;
}

.advantage-s .box-1 {
  background: url(../img/adv-1-s.png) 80px 50px no-repeat;
}

.advantage-s .box-2:hover {
  background: url(../img/adv-2-s-h.png) 75px 50px no-repeat;
}

.advantage-s .box-2 {
  background: url(../img/adv-2-s.png) 75px 50px no-repeat;
}

.advantage-s .box-3:hover {
  background: url(../img/adv-3-s-h.png) 85px 50px no-repeat;
}

.advantage-s .box-3 {
  background: url(../img/adv-3-s.png) 85px 50px no-repeat;
}

.advantage-s .box-4:hover {
  background: url(../img/adv-4-s-h.png) 85px 50px no-repeat;
}

.advantage-s .box-4 {
  background: url(../img/adv-4-s.png) 85px 50px no-repeat;
}

/*Карта*/
.location {
  min-height: 640px;
  background: url(../img/location.png) center;
  background-size: cover;
}

.location h3 {
  font-size: 25px;
  text-transform: none;
}

.location h3::after {
  top: 140px;
}

.location h3::before {
  top: 145px;
}

/*Форма*/
.service-form {
  min-height: 520px;
  background: #f7f6f5;
}

.service-form p {
  width: 100%;
  color: #3a2519;
  text-align: center;
}

.service-desc {
  margin-top: 70px;
  font-size: 27px;
  font-weight: bold;
}

.service-desc-2 {
  font-size: 20px;
}

.service-form h3::after {
  top: 160px;
}

.service-form h3::before {
  top: 165px;
}

.service-form form {
  margin: 0 auto;
  margin-top: 40px;
}

input[type="text"], [type="tel"] {
  width: 350px;
  height: 55px;
  padding: 0 60px;
  margin-right: 30px;
  border: none;
  border-radius: 30px;
}

.service-form input.icon-name {
    background: #fff url(../img/name.png) no-repeat 20px;
}

.service-form input.icon-phone {
    background: #fff url(../img/tel.png) no-repeat 20px;
}

.service-form .icon-name:focus {
  background: #fff url(../img/name-h.png) no-repeat 20px;
}

.service-form .icon-phone:focus {
  background: #fff url(../img/tel-h.png) no-repeat 20px;
}

input[type="submit"] {
  width: 350px;
  height: 50px;
  font-size: 19px;
  background: #ee453c;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}












