body {
  min-width: 320px;
  margin: 0; }

.container {
  width: 1170px;
  margin: auto; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Heavy Italic"), local("SFUIText-HeavyItalic"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Light Italic"), local("SFUIText-LightItalic"), url("../fonts/SFUIText-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Medium Italic"), local("SFUIText-MediumItalic"), url("../fonts/SFUIText-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("../fonts/SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Light"), local("SFUIDisplay-Light"), url("../fonts/SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Thin"), local("SFUIDisplay-Thin"), url("../fonts/SFUIDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Ultralight"), local("SFUIDisplay-Ultralight"), url("../fonts/SFUIDisplay-Ultralight.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Semibold"), local("SFUIText-Semibold"), url("../fonts/SFUIText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Regular"), local("SFUIText-Regular"), url("../fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Black"), local("SFUIDisplay-Black"), url("../fonts/SFUIDisplay-Black.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Bold Italic"), local("SFUIText-BoldItalic"), url("../fonts/SFUIText-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Bold"), local("SFUIText-Bold"), url("../fonts/SFUIText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url("../fonts/SFUIDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Light"), local("SFUIText-Light"), url("../fonts/SFUIText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Heavy"), local("SFUIText-Heavy"), url("../fonts/SFUIText-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Medium"), local("SFUIText-Medium"), url("../fonts/SFUIText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Italic"), local("SFUIText-Italic"), url("../fonts/SFUIText-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Semibold Italic"), local("SFUIText-SemiboldItalic"), url("../fonts/SFUIText-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

.header {
  background: #e1e1e1;
  opacity: 0.8; }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px 0; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.button {
  padding: 10px 25px;
  font-size: 12px;
  font-weight: bold;
  font-family: 'SF UI Display', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 17px; }
  .button--green {
    margin-right: 30px;
    color: #fff;
    background: #009f3c; }
  .button--black {
    margin-right: 30px;
    color: #fff;
    background: #000; }
  .button--tel {
    color: #000;
    font-size: 14px;
    background: url("../img/phone.svg") no-repeat left;
    background-size: 18px; }

.table {
  padding: 30px 0;
  background: #ebebeb; }

.table__content {
  position: relative;
  padding-top: 100px;
  text-align: center;
  -webkit-box-shadow: 0px 15px 15px 2px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 15px 15px 2px rgba(50, 50, 50, 0.2);
  background: #fff; }
  .table__content::before {
    content: 'Limitted time offer';
    position: absolute;
    top: 35px;
    left: -16px;
    width: 287px;
    height: 72px;
    color: #fff;
    font-size: 25px;
    font-family: 'SF UI Display Black', sans-serif;
    line-height: 75px;
    background: url("../img/ribbon.svg") no-repeat; }
  .table__content b {
    display: block;
    margin-bottom: 40px;
    font-size: 70px;
    font-weight: bold;
    font-family: 'SF UI Display', sans-serif; }
  .table__content p {
    margin-top: 0;
    margin-bottom: 75px;
    font-size: 25px;
    font-family: 'SF UI Display Regular', sans-serif; }
    .table__content p span {
      font-weight: bold;
      font-family: 'SF UI Display', sans-serif; }
  .table__content a {
    padding: 15px 80px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'SF UI Display', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    background: #009f3c;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .table__content a:hover {
      border-bottom: 4px solid #009f3c;
      background: #03be4a; }
    .table__content a:active {
      border-top: 4px solid #009f3c;
      border-bottom: none;
      background: #03be4a; }
  .table__content img {
    display: block;
    margin: auto;
    margin-top: 65px;
    padding-bottom: 70px; }

.edge {
  background: url("../img/edge-bg.png") no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.edge__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 80px 0; }

.edge__box {
  width: 180px;
  padding-top: 150px;
  color: #fff;
  text-align: center;
  background: url("../img/edge.png") no-repeat top; }
  .edge__box b {
    font-size: 30px;
    font-family: 'SF UI Display', sans-serif; }
  .edge__box p {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'SF UI Display', sans-serif; }
  .edge__box small {
    font-size: 15px;
    font-family: 'SF UI Display', sans-serif;
    opacity: 0.5; }
