body {
  min-width: 320px;
  margin: 0;
  background: #e9edf1; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
    padding: 0; } }

@font-face {
  font-family: 'ProximaNova-ExtrabldIt';
  src: local("Proxima Nova Extrabold Italic"), local("ProximaNova-ExtrabldIt"), url("../fonts/ProximaNova-ExtrabldIt.woff2") format("woff2"), url("../fonts/ProximaNova-ExtrabldIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Black';
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-BlackIt';
  src: local("Proxima Nova Black Italic"), local("ProximaNova-BlackIt"), url("../fonts/ProximaNova-BlackIt.woff2") format("woff2"), url("../fonts/ProximaNova-BlackIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova-RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Light';
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: local("Proxima Nova Light Italic"), local("ProximaNova-LightIt"), url("../fonts/ProximaNova-LightIt.woff2") format("woff2"), url("../fonts/ProximaNova-LightIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-ThinIt';
  src: local("Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"), url("../fonts/ProximaNova-ThinIt.woff2") format("woff2"), url("../fonts/ProximaNova-ThinIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-BoldIt';
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("../fonts/ProximaNova-BoldIt.woff2") format("woff2"), url("../fonts/ProximaNova-BoldIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-SemiboldIt';
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url("../fonts/ProximaNova-SemiboldIt.woff2") format("woff2"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 35px 0;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
  box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
  background: #e9edf1;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .header--inner {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }

.header--scroll {
  padding: 26px 0;
  background: rgba(233, 237, 241, 0.9);
  z-index: 5; }
  .header--scroll .header__settings {
    z-index: 10; }
  .header--scroll .header__menu {
    position: relative;
    left: 15px;
    display: block; }
  .header--scroll .header__search {
    display: none; }
  .header--scroll .nav {
    position: absolute;
    top: 0;
    width: 270px;
    padding: 90px 0 30px 0;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
    box-shadow: 0px 3px 7px 0px rgba(174, 165, 255, 0.35);
    background: #fff;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    opacity: 0;
    clip: rect(0, 0, 0, 0); }
    .header--scroll .nav--active {
      opacity: 1;
      clip: auto; }
  .header--scroll .nav__list li {
    position: relative;
    width: 120px; }
  .header--scroll .nav__item {
    width: 100px;
    padding: 0 0 0 20px; }
    .header--scroll .nav__item:hover {
      padding: 0 0 0 15px; }
  .header--scroll .nav__sublist {
    top: 20px;
    left: 0;
    width: 270px;
    border-bottom: 1px solid #61a3db;
    z-index: 10; }
    .header--scroll .nav__sublist li {
      width: auto; }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  margin: 0;
  padding: 0;
  list-style: none; }

.header__menu {
  display: none; }

.header__toggle {
  width: 30px;
  height: 20px;
  font-size: 0;
  border: none;
  background: transparent url("../img/nav.svg") no-repeat center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  outline: none;
  cursor: pointer; }
  .header__toggle--active {
    background: transparent url("../img/nav-h.svg") no-repeat center; }

.header__language {
  font-size: 14px;
  font-family: 'ProximaNova-Regular', sans-serif;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.header__search {
  position: relative; }
  .header__search input {
    width: 0px;
    height: 35px;
    margin: 0 0 0 20px;
    padding: 0 15px 0 35px;
    font-size: 14px;
    font-family: 'ProximaNova-Regular', sans-serif;
    border: 1px solid transparent;
    border-radius: 17px;
    background: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none; }
  .header__search:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 30px;
    width: 20px;
    height: 20px;
    background: url("../img/header-search.svg") no-repeat top; }
  .header__search:hover input {
    width: 270px;
    border: 1px solid #1600e6; }

.header__logo {
  width: 170px;
  height: 21px; }

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none; }

@media screen and (max-width: 1200px) {
  .header--scroll .nav {
    margin: 0; } }

@media screen and (max-width: 768px) {
  .header {
    padding: 26px 0; }
  .header--scroll .nav {
    left: 0;
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0; }
  .header--scroll .nav__list {
    text-align: center; }
    .header--scroll .nav__list li {
      width: inherit; }
  .header--scroll .nav__item {
    width: inherit;
    padding: 0 15px; }
    .header--scroll .nav__item:hover {
      padding: inherit; }
  .header--scroll .nav__sublist {
    width: 100%; }
  .header--scroll .nav__subitem {
    padding: 5px 0; }
  .header__flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__settings {
    position: absolute;
    left: 0;
    width: 30px; }
  .header__menu {
    display: none; }
  .header__language,
  .header__search,
  .header__user {
    display: none; } }

.button {
  display: block;
  padding: 10px 0;
  width: 170px;
  color: #fff;
  font-size: 14px;
  font-family: 'ProximaNova-Regular', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 17px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear; }
  .button--small {
    width: 127px; }
  .button--blue {
    background: #1600e6; }
    .button--blue:hover {
      -webkit-box-shadow: 0px 0px 11px 5px rgba(22, 0, 230, 0.3);
      box-shadow: 0px 0px 11px 5px rgba(22, 0, 230, 0.3); }
  .button--login {
    position: relative;
    width: 60px;
    color: #000;
    text-align: left; }
    .button--login:after {
      content: '';
      position: absolute;
      top: 12px;
      right: 0;
      width: 12px;
      height: 12px;
      background: url("../img/button-login.svg") no-repeat center; }
    .button--login:hover:after {
      -webkit-animation: login 0.4s 4 alternate;
      animation: login 0.4s 4 alternate; }
  .button--white {
    color: #1600e6;
    background: #fff; }
    .button--white:hover {
      -webkit-box-shadow: 0px 0px 11px 5px rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 11px 5px rgba(255, 255, 255, 0.3); }

@-webkit-keyframes login {
  0% {
    right: 0; }
  100% {
    right: -5px; } }

@keyframes login {
  0% {
    right: 0; }
  100% {
    right: -5px; } }

.nav {
  width: 110px;
  height: 60px;
  margin: auto;
  padding: 80px 0 25px 0; }

.nav__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

.nav__item {
  position: relative;
  display: block;
  width: 100%;
  padding: 0px 75px 0px 15px;
  color: #000;
  font-size: 16px;
  font-family: 'ProximaNova-Regular', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear; }
  .nav__item:hover {
    padding: 5px 75px 5px 15px;
    font-family: 'ProximaNova-Bold', sans-serif;
    background: #fff; }
    .nav__item:hover:before {
      width: 99%; }
  .nav__item:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 1px;
    width: 0%;
    height: 1px;
    background: #61a3db;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.nav__sublist {
  position: absolute;
  top: 0;
  left: 200px;
  width: 300px;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  background: #fff;
  opacity: 0;
  clip: rect(0, 0, 0, 0); }

.nav__subitem {
  display: block;
  padding: 5px 0 5px 25px;
  color: #000;
  font-size: 16px;
  font-family: 'ProximaNova-Regular', sans-serif;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 5px; }
  .nav__subitem--active {
    color: #fff;
    background: #61a3db; }
  .nav__subitem:hover {
    color: #fff;
    background: #61a3db; }

.nav__list > li:hover .nav__sublist {
  clip: auto;
  opacity: 1; }

@media screen and (max-width: 1200px) {
  .nav {
    margin: 0 auto 0 100px; } }

@media screen and (max-width: 768px) {
  .nav {
    display: none; } }

.slider {
  overflow: hidden; }

.slider__container {
  width: 1170px;
  height: inherit;
  margin: auto;
  padding: 0 15px; }

.slider__box {
  height: 480px; }
  .slider__box b {
    font-size: 30px;
    font-weight: normal;
    font-family: 'ProximaNova-Bold', sans-serif; }
  .slider__box p {
    font-family: 'ProximaNova-Light', sans-serif; }
  .slider__box--1 {
    background: url("../img/slider-1.jpg") no-repeat center;
    background-size: cover; }

.slider__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 570px;
  height: inherit;
  margin: 0 0 0 auto; }

.slider__text {
  width: 360px; }

.slider__social {
  height: 260px; }
  .slider__social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: inherit;
    margin: 0;
    padding: 0;
    list-style: none; }

.slider__item {
  display: block;
  width: 15px;
  height: 15px; }
  .slider__item--fb {
    background: url("../img/social-fb.svg") no-repeat center; }
  .slider__item--in {
    background: url("../img/social-in.svg") no-repeat center; }
  .slider__item--gp {
    background: url("../img/social-gp.svg") no-repeat center; }
  .slider__item--tw {
    background: url("../img/social-tw.svg") no-repeat center; }

@media screen and (max-width: 1200px) {
  .slider__container {
    width: 95%;
    padding: 0; } }

@media screen and (max-width: 768px) {
  .slider__flex,
  .slider__box {
    width: auto; }
  .slider__flex {
    margin: 0; }
  .slider__box--1 {
    background-position-x: -100px; }
  .slider__text {
    width: 300px; } }

.step {
  padding: 40px 0 60px 0;
  background: #e9edf1; }

.step__name {
  margin: 0 0 70px 0;
  font-size: 30px;
  font-weight: normal;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-align: center;
  text-transform: uppercase; }

.step__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.step__box {
  position: relative;
  width: 250px;
  z-index: 1; }
  .step__box b {
    font-size: 30px;
    font-weight: normal;
    font-family: 'ProximaNova-Regular', sans-serif; }
  .step__box hr {
    width: 30px;
    height: 1px;
    margin: 20px 0;
    border: none;
    background: #1600e6; }
  .step__box p {
    font-family: 'ProximaNova-Light', sans-serif; }
  .step__box:before {
    content: '';
    position: absolute;
    top: -60px;
    left: -30px;
    color: #fff;
    font-size: 100px;
    font-family: 'ProximaNova-Bold', sans-serif;
    z-index: -1; }
  .step__box--1:before {
    content: '1'; }
  .step__box--2:before {
    content: '2'; }
  .step__box--3:before {
    content: '3'; }
  .step__box--4:before {
    content: '4'; }

@media screen and (max-width: 768px) {
  .step {
    padding: 50px 0; }
  .step__name {
    font-size: 20px; }
  .step__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .step__box {
    margin: 0 0 50px 0; }
    .step__box:last-child {
      margin: 0; } }

.banner {
  padding: 70px 0 0 0;
  background: #fff; }

.banner__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.banner__text {
  padding: 0 0 0 100px;
  background: url("../img/banner-metatrader.jpg") no-repeat left top;
  background-size: 70px; }

.banner__name {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-transform: uppercase; }

.banner__sub {
  margin: 10px 0 50px 0;
  font-family: 'ProximaNova-Light', sans-serif; }

.banner__list {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 20px;
  font-family: 'ProximaNova-Light', sans-serif;
  list-style: inside url("../img/list.svg"); }
  .banner__list li {
    line-height: 40px; }

.banner__button {
  margin: 0 0 20px 30px; }

.banner__platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  margin: 0 0 0 30px; }

.banner__android {
  width: 20px;
  height: 22px;
  background: url("../img/banner-android.svg") no-repeat center;
  background-size: 20px; }

.banner__ios {
  width: 18px;
  height: 22px;
  background: url("../img/banner-ios.svg") no-repeat center;
  background-size: 18px; }

.banner__desktop {
  width: 24px;
  height: 16px;
  background: url("../img/banner-desktop.svg") no-repeat center;
  background-size: 20px; }

.banner__mockup {
  width: 412px;
  height: 550px;
  background: url("../img/banner-mockup.png") no-repeat bottom; }

@media screen and (max-width: 1200px) {
  .banner {
    padding: 70px 0; }
  .banner__mockup {
    display: none; } }

@media screen and (max-width: 768px) {
  .banner {
    padding: 50px 0 0 0; }
  .banner__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .banner__text {
    width: auto;
    padding: 100px 0 0 0;
    background: url("../img/banner-metatrader.jpg") no-repeat top;
    background-size: 70px; }
  .banner__name {
    font-size: 20px;
    text-align: center; }
  .banner__sub {
    margin: 10px 0 30px 0;
    text-align: center; }
  .banner__list {
    width: 230px;
    margin: 0 auto 30px;
    font-size: 16px; }
    .banner__list li {
      line-height: normal; }
  .banner__button {
    margin: 0 auto 20px; }
  .banner__platform {
    margin: auto; }
  .banner__mockup {
    display: block;
    width: 100%;
    height: 330px;
    margin: 50px 0 0 0;
    background-size: 300px; } }

.edge {
  padding: 70px 0;
  background: #e9edf1; }

.edge__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.edge__box {
  position: relative;
  width: 270px;
  text-align: center; }
  .edge__box p {
    margin: 0;
    font-size: 25px;
    font-family: 'ProximaNova-Light', sans-serif; }
  .edge__box b {
    display: block;
    font-size: 20px;
    font-weight: normal;
    font-family: 'ProximaNova-Bold', sans-serif; }
  .edge__box small {
    font-size: 16px;
    font-family: 'ProximaNova-Light', sans-serif; }
  .edge__box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 93px;
    background: url("../img/edge-bg.svg") no-repeat center;
    background-size: 47px; }
  .edge__box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 47px;
    height: 93px;
    background: url("../img/edge-bg.svg") no-repeat center;
    background-size: 47px;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }

@media screen and (max-width: 768px) {
  .edge {
    padding: 50px 0; }
  .edge__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .edge__box {
    margin: 0 0 50px 0; }
    .edge__box:last-child {
      margin: 0; } }

.info {
  padding: 80px 0;
  border-bottom: 1px solid #e9edf1;
  background: #fff; }

.info__name {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-align: center;
  text-transform: uppercase; }

.info__hr {
  margin: 40px auto;
  width: 30px;
  height: 1px;
  border: none;
  background: #1600e6; }

.info__text {
  font-family: 'ProximaNova-Light', sans-serif; }

@media screen and (max-width: 768px) {
  .info {
    padding: 50px 0; }
  .info__name {
    font-size: 20px; }
  .info__hr {
    margin: 20px auto; }
  .info__text:last-child {
    margin: 0; } }

.multyplatform {
  padding: 100px 0;
  background: #fff; }

.multyplatform__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.multyplatform__mockup {
  width: 510px;
  height: 400px;
  background: url("../img/multyplatform-mockup.png") no-repeat center;
  background-size: cover; }

.multyplatform__text {
  width: 570px; }

.multyplatform__name {
  font-size: 30px;
  font-weight: normal;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-transform: uppercase; }

.multyplatform__sub {
  font-family: 'ProximaNova-Light', sans-serif; }

@media screen and (max-width: 1200px) {
  .multyplatform__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .multyplatform__mockup,
  .multyplatform__text {
    margin: auto; } }

@media screen and (max-width: 768px) {
  .multyplatform {
    padding: 50px 0; }
  .multyplatform__mockup {
    height: 240px;
    background-size: 300px; }
  .multyplatform__name {
    font-size: 20px;
    text-align: center; } }

.ready {
  padding: 50px 0;
  color: #fff;
  text-align: center;
  background: #1600e6; }

.ready__name {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  font-family: 'ProximaNova-Bold', sans-serif; }

.ready__text {
  margin: 30px 0;
  font-family: 'ProximaNova-Light', sans-serif; }

.ready__start {
  margin: auto; }

@media screen and (max-width: 768px) {
  .ready__name {
    font-size: 20px; }
  .ready__text {
    margin: 16px 0; } }

.payment {
  padding: 20px 0;
  background: #9c9fa3; }

.payment__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.payment__box {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .payment__box--visa {
    width: 50px;
    height: 16px;
    background: url("../img/payment-visa.svg") no-repeat top; }
  .payment__box--mc {
    width: 33px;
    height: 23px;
    background: url("../img/payment-mc.svg") no-repeat top; }
  .payment__box--bank {
    width: 34px;
    height: 34px;
    background: url("../img/payment-bank.svg") no-repeat top; }
  .payment__box--neteller {
    width: 56px;
    height: 10px;
    background: url("../img/payment-neteller.svg") no-repeat top; }
  .payment__box--skrill {
    width: 40px;
    height: 14px;
    background: url("../img/payment-skrill.svg") no-repeat center; }

.footer {
  padding: 30px 0;
  background: #4c4e50; }

.footer__logo {
  display: block;
  width: 170px;
  height: 21px;
  margin: auto; }

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px 0 30px 0;
  padding: 0;
  list-style: none; }
  .footer__links li {
    color: #fff; }
    .footer__links li a {
      color: #fff;
      font-size: 16px;
      font-family: 'ProximaNova-Bold', sans-serif;
      text-decoration: none; }

.footer__hr {
  width: 100%;
  height: 1px;
  margin: 0;
  border: none;
  background: #fff; }

.footer__name {
  display: block;
  margin: 30px 0 20px 0;
  color: #fff;
  font-weight: normal;
  font-family: 'ProximaNova-Light', sans-serif;
  text-align: center;
  text-transform: uppercase; }

.footer__text {
  margin: 0 0 30px 0;
  color: #fff;
  font-family: 'ProximaNova-Light', sans-serif; }

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0 0 0; }

.footer__copyright {
  margin: 0;
  color: #fff;
  font-family: 'ProximaNova-Light', sans-serif; }

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 370px;
  margin: 0;
  padding: 0;
  list-style: none; }

.footer__item {
  display: block;
  width: 15px;
  height: 15px; }
  .footer__item--fb {
    background: url("../img/social-footer-fb.svg") no-repeat center; }
  .footer__item--gp {
    background: url("../img/social-footer-gp.svg") no-repeat center; }
  .footer__item--in {
    background: url("../img/social-footer-in.svg") no-repeat center; }
  .footer__item--tw {
    background: url("../img/social-footer-tw.svg") no-repeat center; }

.footer__livechat {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 48px;
  border: none;
  background: transparent url("../img/footer-livechat.svg") no-repeat center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .footer__livechat:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

@media screen and (max-width: 768px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 30px 0; }
    .footer__links li:nth-child(even) {
      display: none; }
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer__social {
    width: 200px;
    margin: 0 0 30px 0; }
  .footer__item {
    display: block;
    width: 25px;
    height: 25px; }
  .footer__copyright {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

.inner {
  background: #e9edf1; }

.inner__header {
  padding: 50px 0 0 0; }

.inner__title {
  position: relative;
  bottom: -30px; }
  .inner__title h1 {
    margin: 0;
    color: #fff;
    font-size: 100px;
    font-weight: normal;
    font-family: 'ProximaNova-Bold', sans-serif;
    text-transform: uppercase;
    text-align: center; }
  .inner__title h2 {
    position: absolute;
    bottom: 21px;
    left: 50%;
    margin: 0;
    color: #000;
    font-size: 30px;
    font-weight: normal;
    font-family: 'ProximaNova-Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.inner__content {
  padding: 30px 0 150px 0; }
  .inner__content--accounts {
    background: #fff url("../img/accounts-bg-left.svg") no-repeat left top, #fff url("../img/accounts-bg-right.svg") no-repeat 90% 130px;
    background-size: 845px, 100px; }
  .inner__content--templates {
    padding: 100px 0;
    background: #fff url("../img/templates-bg.svg") no-repeat center; }

.inner__subtext {
  margin: 0;
  font-size: 18px;
  font-family: 'ProximaNova-LightIt', serif;
  text-align: center; }

.inner__text {
  font-family: 'ProximaNova-Regular', sans-serif; }

.inner__contact {
  font-family: 'ProximaNova-Regular', sans-serif; }
  .inner__contact b {
    font-size: 20px;
    font-weight: normal;
    font-family: 'ProximaNova-Bold', sans-serif; }
  .inner__contact a {
    color: #1600e6;
    font-family: 'ProximaNova-Bold', sans-serif;
    text-decoration: none; }

.inner__name {
  display: block;
  font-weight: normal;
  font-family: 'ProximaNova-Bold', sans-serif; }
  .inner__name--big {
    font-size: 30px; }
  .inner__name--small {
    font-size: 20px; }

.inner__list {
  font-family: 'ProximaNova-Regular', sans-serif;
  list-style: url("../img/list.svg"); }

@media screen and (max-width: 768px) {
  .inner__header {
    padding: 0; }
  .inner__title {
    bottom: -11px; }
    .inner__title h1 {
      font-size: 37px; }
    .inner__title h2 {
      bottom: 6px;
      font-size: 18px; }
  .inner__content {
    padding: 30px 0; }
    .inner__content--accounts {
      background: #fff url("../img/accounts-bg-left.svg") no-repeat 0 50px, #fff url("../img/accounts-bg-right.svg") no-repeat right bottom;
      background-size: 300px, 100px; }
  .inner__text {
    font-size: 13px; }
  .inner__contact {
    text-align: center; }
    .inner__contact b {
      display: block;
      font-size: 18px; }
    .inner__contact a {
      display: block; }
  .inner__name {
    text-align: center; }
    .inner__name--big {
      font-size: 20px; }
    .inner__name--small {
      font-size: 18px; }
  .inner__list {
    font-size: 13px; } }

.table {
  width: 100%;
  margin: 135px 0 0 0;
  border-collapse: collapse; }
  .table th {
    width: 1px;
    padding: 35px 0 50px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .table th b {
      font-size: 30px;
      font-weight: normal;
      font-family: 'ProximaNova-Bold', sans-serif; }
    .table th p {
      font-family: 'ProximaNova-LightIt', sans-serif; }
    .table th span {
      display: block;
      margin-bottom: 18px;
      font-size: 18px;
      font-weight: normal;
      font-family: 'ProximaNova-Bold', sans-serif; }
  .table tr {
    border-bottom: 1px solid #61a3db; }
    .table tr:first-child, .table tr:last-child {
      border: none; }
  .table td {
    padding: 10px 0;
    font-family: 'ProximaNova-Bold', sans-serif;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.table__button {
  display: block;
  margin: auto; }

.table__checked img {
  display: block;
  width: 16px;
  margin: auto; }

.table__unchecked img {
  display: block;
  width: 15px;
  margin: auto; }

.table__mini .table__mini-hover {
  background: rgba(233, 237, 241, 0.5); }

.table__classic .table__classic-hover {
  background: rgba(233, 237, 241, 0.5); }

.table__premium .table__premium-hover {
  background: rgba(233, 237, 241, 0.5); }

@media screen and (max-width: 1200px) {
  .table {
    margin: 100px 0 0 0; } }

@media screen and (max-width: 768px) {
  .table {
    display: block;
    margin: 50px 0 0 0;
    overflow-x: auto; }
    .table th {
      padding: 5px; }
      .table th b {
        font-size: 15px; }
      .table th p {
        font-size: 13px; }
      .table th span {
        font-size: 12px; }
    .table td {
      font-size: 14px; }
  .table__button {
    width: 110px;
    padding: 7px 0;
    font-size: 12px; }
  .table__checked img {
    width: 10px; }
  .table__unchecked img {
    width: 10px; } }
