body {
  min-width: 320px;
  margin: 0; }

.container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 1200px) {
  .container {
    width: 100%; } }

@font-face {
  font-family: 'ProximaNova-ExtrabldIt';
  src: local("Proxima Nova Extrabold Italic"), local("ProximaNova-ExtrabldIt"), url("../fonts/ProximaNova-ExtrabldIt.woff2") format("woff2"), url("../fonts/ProximaNova-ExtrabldIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Black';
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-BlackIt';
  src: local("Proxima Nova Black Italic"), local("ProximaNova-BlackIt"), url("../fonts/ProximaNova-BlackIt.woff2") format("woff2"), url("../fonts/ProximaNova-BlackIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova-RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Light';
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: local("Proxima Nova Light Italic"), local("ProximaNova-LightIt"), url("../fonts/ProximaNova-LightIt.woff2") format("woff2"), url("../fonts/ProximaNova-LightIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-ThinIt';
  src: local("Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"), url("../fonts/ProximaNova-ThinIt.woff2") format("woff2"), url("../fonts/ProximaNova-ThinIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-BoldIt';
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("../fonts/ProximaNova-BoldIt.woff2") format("woff2"), url("../fonts/ProximaNova-BoldIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-SemiboldIt';
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url("../fonts/ProximaNova-SemiboldIt.woff2") format("woff2"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  padding: 35px 0;
  background: #e9edf1; }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px; }

.header__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  margin: 0;
  padding: 0;
  list-style: none; }

.header__language {
  font-size: 14px;
  font-family: 'ProximaNova-Regular', sans-serif;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.header__logo {
  width: 170px;
  height: 21px; }

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none; }

.button {
  display: block;
  padding: 10px 0;
  width: 170px;
  color: #fff;
  font-size: 14px;
  font-family: 'ProximaNova-Regular', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 17px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear; }
  .button--small {
    width: 127px; }
  .button--blue {
    background: #1600e6; }
    .button--blue:hover {
      -webkit-box-shadow: 0px 0px 11px 5px rgba(22, 0, 230, 0.3);
      box-shadow: 0px 0px 11px 5px rgba(22, 0, 230, 0.3); }
  .button--login {
    width: 60px;
    color: #000;
    text-align: left;
    background: url("../img/button-login.svg") no-repeat right;
    background-size: 12px; }

.nav {
  width: 110px;
  height: 60px;
  margin: auto;
  padding: 80px 0 25px 0; }

.nav__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

.nav__item {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 75px 0 15px;
  color: #000;
  font-size: 16px;
  font-family: 'ProximaNova-Regular', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear; }
  .nav__item--active {
    padding: 5px 75px 5px 15px;
    font-family: 'ProximaNova-Bold', sans-serif;
    background: #fff; }
    .nav__item--active:before {
      width: 99%; }
  .nav__item:hover + .nav__sublist {
    clip: auto; }
  .nav__item:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 1px;
    width: 0%;
    height: 1px;
    background: #61a3db;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.nav__sublist {
  position: absolute;
  top: 0;
  left: 200px;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  clip: rect(0, 0, 0, 0); }
  .nav__sublist:hover {
    clip: auto; }

.nav__subitem {
  display: block;
  padding: 5px 0 5px 25px;
  color: #000;
  font-size: 16px;
  font-family: 'ProximaNova-Regular', sans-serif;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 5px; }
  .nav__subitem:hover {
    color: #fff;
    background: #61a3db; }
