.aside {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  background-color: rgba(106, 126, 252, 0.8);
  z-index: 3;
}

@supports (backdrop-filter: blur(30px)) {
  .aside {
    backdrop-filter: blur(30px);
  }
}

@media screen and ($notebook-widths) {
  .aside {
    width: 70px;
  }
}

@media screen and ($mobile-widths) {
  .aside {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
  }
}