.canada {
  display: flex;
  height: 100vh;
}

.canada__column {
  display: flex;
  flex-direction: column;
  width: 50%;
  
  &--left {
    background-image: url('../img/canada-left-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.canada__row {
  flex-grow: 1;
  
  &--top {
    position: relative;
    background-image: url('../img/canada-row-top-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -3px;
      width: 8px;
      height: 100%;
      background-image: url('../img/svg/country-arrow.svg');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
  }
  
  &--double {
    display: flex;
  }
}

.canada__content {
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  padding-right: 110px;
  padding-bottom: 50px;
  padding-left: 60px;
  background-color: #FFFFFF;
}

.canada__subtitle {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 375px;
  margin: 0;
  padding: 10px 30px;
  color: $blue;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  
  &--number {
    font-size: 40px;
    font-weight: 900;
  }
}

.canada__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $text;
  font-size: 40px;
  font-weight: 900;
}

.canada__list {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 15px;
  list-style-image: url('../img/svg/li.svg');
}

.canada__item {
  margin-bottom: 15px;
  color: $text;
  font-size: 18px;
  font-weight: 400;
}

.canada__link {
  padding-right: 45px;
  color: $red;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-image: url('../img/svg/link-arrow.svg');
  background-repeat: no-repeat;
  background-position: right;
  outline: 0;
  transition: 0.2s;
  
  &:hover,
  &:focus {
    padding-right: 55px;
  }
}

.canada__video {
  position: relative;
  width: 50%;
  background-image: url('../img/canada-video-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 8px;
    height: 100%;
    background-image: url('../img/svg/country-arrow.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transform: rotate(180deg);
    z-index: 1;
  }
}

.canada__play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('../img/svg/play.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
  
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.canada__photo {
  position: relative;
  width: 50%;
  background-image: url('../img/canada-photo-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 8px;
    height: 100%;
    background-image: url('../img/svg/country-arrow.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transform: rotate(180deg);
  }
}

@media screen and ($notebook-widths) {
  .canada__column {
    width: 60%;
    
    &--left {
      width: 40%;
    }
  }
  
  .canada__content {
    padding: 30px;
  }
  
  .canada__subtitle {
    box-sizing: border-box;
    width: 330px;
    font-size: 18px;
    
    &--number {
      font-size: 30px;
    }
  }
  
  .canada__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  .canada__list {
    margin-bottom: 20px;
  }
  
  .canada__item {
    font-size: 15px;
  }
}

@media screen and ($tablet-widths) {
  .canada__column {
    width: 70%;
  
    &--left {
      width: 30%;
    }
  }
  
  .canada__content {
    padding-right: 80px;
  }
}

@media screen and ($mobile-widths) {
  .canada__column {
    width: 100%;
    
    &--left {
      display: none;
    }
  }
  
  .canada__row {
    
    &--top {
      
      &::before {
        display: none;
      }
    }
    
    &--double {
      display: none;
    }
  }
  
  .canada__content {
    padding-right: 30px;
    padding-bottom: 85px;
  }
  
  .canada__subtitle {
    width: 320px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 370px) {
  .canada__content {
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 75px;
    padding-left: 20px;
  }
  
  .canada__subtitle {
    width: 280px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;

    &--number {
      font-size: 25px;
    }
  }

  .canada__title {
    font-size: 22px;
  }

  .canada__item {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .canada__link {
    font-size: 14px;
  }
}