.event {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 400px;
  height: 200px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $red;
  background-image: url('../img/popup-event.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transition: 0.3s;
  z-index: 1;
  
  &--hide {
    opacity: 0;
    visibility: hidden;
  }
}

.event__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-image: url('../img/close-event.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  outline: none;
}

.event__link {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and ($mobile-widths) {
  .event {
    bottom: 10px;
    left: 50%;
    width: 290px;
    height: 150px;
    transform: translateX(-50%);
  }
  
  .event__close {
    width: 20px;
    height: 20px;
  }
}