.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding-top: 40px;
  padding-right: 120px;
  padding-bottom: 130px;
  padding-left: 30px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5) 0%, transparent 100%);
  z-index: 2;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__home {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
  
  &:hover {
    transform: translateY(-5px);
  }
  
  &:active {
    transform: translateY(-5px) scale(0.95);
  }
}

.header__link {
  margin-right: 30px;
  padding: 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
  
  &:hover {
    opacity: 0.6;
  }
  
  &:active {
    opacity: 1;
  }
}

.header__social {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: 0;
  transition: 0.2s;
  
  &--info {
    background-image: url('../img/svg/social-info.svg');
  }
  
  &--facebook {
    background-image: url('../img/svg/social-facebook.svg');
  }
  
  &--instagram {
    background-image: url('../img/svg/social-instagram.svg');
  }
  
  &:hover,
  &:focus {
    transform: translateY(-5px);
  }
}

.header__menu {
  display: none;
  width: 28px;
  height: 28px;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: url('../img/svg/nav-open.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: none;
  transition: 0.2s;
  
  &:active {
    transform: scale(0.9);
  }
  
  &--close {
    background-image: url('../img/svg/nav-close.svg');
  }
}

@media screen and ($notebook-widths) {
  .header {
    padding-right: 90px;
    padding-bottom: 90px;
  }
  
  .header__home {
    width: 240px;
  }
  
  .header__logo {
    width: 100%;
  }
  
  .header__link {
    font-size: 15px;
  }
  
  .header__social {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 1060px) {
  .header {
    padding-right: 20px;
    z-index: 3;
  }
  
  .header__list {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #292F48;
    opacity: 1;
    transition: 0.2s;
    visibility: visible;
    z-index: -1;
    
    &:last-child {
      position: static;
      flex-direction: row;
      margin-top: 30px;
      visibility: inherit;
    }
    
    &--hide {
      opacity: 0;
      transform: scale(0.9);
      visibility: hidden;
    }
  }
  
  .header__link {
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 30px;
  }
  
  .header__social {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .header__menu {
    display: block;
  }
}

@media screen and ($mobile-widths) {
  .header {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
  }
  
  .header__home {
    
    &:hover {
      transform: translateY(0);
    }
    
    &:active {
      transform: scale(0.95);
    }
  }
  
  .header__social {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 370px) {
  .header__link {
    margin-bottom: 25px;
    font-size: 25px;
  }
}