.ireland {
  display: flex;
  height: 100vh;
}

.ireland__column {
  display: flex;
  flex-direction: column;
  width: 50%;
  
  &--right {
    background-image: url('../img/ireland-right-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.ireland__row {
  flex-grow: 1;
  
  &--top {
    position: relative;
    background-image: url('../img/ireland-row-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -3px;
      width: 8px;
      height: 100%;
      background-image: url('../img/svg/country-arrow.svg');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
  }
  
  &--double {
    display: flex;
  }
}

.ireland__content {
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 60px;
  background-color: #FFFFFF;
}

.ireland__subtitle {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 375px;
  margin: 0;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: $blue;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  
  &--number {
    font-size: 40px;
    font-weight: 900;
  }
}

.ireland__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $text;
  font-size: 40px;
  font-weight: 900;
}

.ireland__list {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 15px;
  list-style-image: url('../img/svg/li.svg');
}

.ireland__item {
  margin-bottom: 15px;
  color: $text;
  font-size: 18px;
  font-weight: 400;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.ireland__link {
  padding-right: 45px;
  color: $red;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-image: url('../img/svg/link-arrow.svg');
  background-repeat: no-repeat;
  background-position: right;
  outline: 0;
  transition: 0.2s;
  
  &:hover,
  &:focus {
    padding-right: 55px;
  }
}

.ireland__video {
  position: relative;
  width: 50%;
  background-image: url('../img/ireland-video-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    width: 8px;
    height: 100%;
    background-image: url('../img/svg/country-arrow.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transform: rotate(180deg);
    z-index: 1;
  }
}

.ireland__play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('../img/svg/play.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
  
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.ireland__photo {
  position: relative;
  width: 50%;
  background-image: url('../img/ireland-photo-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    width: 8px;
    height: 100%;
    background-image: url('../img/svg/country-arrow.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transform: rotate(180deg);
  }
}