.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-bottom: 30px;
    
  &:last-child {
    margin-bottom: 0;
  }
}

.nav__anchor {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  
  &--canada {
    background-image: url('../img/nav-canada.png');
  }
  
  &--usa {
    background-image: url('../img/nav-usa.png');
  }
  
  &--uk {
    background-image: url('../img/nav-uk.png');
  }
  
  &--ireland {
    background-image: url('../img/nav-ireland.png');
  }
  
  &--europe {
    background-image: url('../img/nav-europe.png');
  }
  
  &--students {
    background-image: url('../img/nav-students.png');
    
    &::before {
      display: none;
    }
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    width: 2px;
    height: 33px;
    background-color: #FFFFFF;
    transform: translateX(-50%);
    pointer-events: none;
  }
  
  &::after {
    content: attr(aria-label);
    position: absolute;
    top: 0;
    right: 20%;
    padding-top: 7.1px;
    padding-right: 25px;
    padding-bottom: 7.1px;
    padding-left: 10px;
    color: $text;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Gotham Pro', 'Arial', sans-serif;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #FFFFFF;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    z-index: -1;
  }
  
  &:hover,
  &:focus {
    
    &::after {
      right: 50%;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media screen and ($notebook-widths) {
  .nav__anchor {
    width: 20px;
    height: 20px;
    
    &::before {
      top: 20px;
    }
    
    &::after {
      padding-top: 3.3px;
      padding-bottom: 3.3px;
      font-size: 12px;
    }
  }
}

@media screen and ($mobile-widths) {
  .nav__list {
    display: flex;
    align-items: center;
  }
  
  .nav__item {
    margin-right: 30px;
    margin-bottom: 0;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  .nav__anchor {
    width: 25px;
    height: 25px;
    
    &::before {
      top: auto;
      left: 40px;
      width: 33px;
      height: 2px;
    }
    
    &::after {
      display: none;
    }
  }
}