.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('../img/svg/preloader-ellipse.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500%;
  z-index: 6;
  
  &--hide {
    animation-name: hide-preloader, veryhide;
    animation-duration: 2s, 0s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1;
  }
}

@keyframes hide-preloader {
  0% {}
  
  50% {
    background-size: 0%;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes veryhide {
  0% {}
  
  100% {
    z-index: 0;
  }
}

.preloader__logo {
  width: 200px;
  height: 200px;
  background-image: url('../img/svg/logo-preloader.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: logo-rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  &--hide {
    animation-name: hide-logo, logo-rotate;
    animation-duration: 0.3s, 1s;
    animation-delay: 0.7s, 0s;
    animation-iteration-count: 1;
  }
}

@keyframes logo-rotate {
  0% {
    opacity: 0.3;
    transform: scale(0.95);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide-logo {
  0% {}
  
  100% {
    transform: scale(0);
  }
}