.profit {
  height: 100vh;
  background-image: url('../img/profit-bg.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.profit__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 140px;
  background-color: rgba(41, 47, 72, 0.7);
}

.profit__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.03em;
}

.profit__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profit__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 125px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 85px;
  
  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 900;
    opacity: 0.4;
  }
  
  &:nth-child(1) {
    background-image: url('../img/svg/profit-1.svg');
    
    &::before {
      content: '1';
    }
  }
  
  &:nth-child(2) {
    background-image: url('../img/svg/profit-2.svg');
    
    &::before {
      content: '2';
    }
  }
  
  &:nth-child(3) {
    background-image: url('../img/svg/profit-3.svg');
    
    &::before {
      content: '3';
    }
  }
  
  &:nth-child(4) {
    background-image: url('../img/svg/profit-4.svg');
    
    &::before {
      content: '4';
    }
  }
  
  &:nth-child(5) {
    margin-bottom: 0;
    background-image: url('../img/svg/profit-5.svg');
    
    &::before {
      content: '5';
    }
  }
}

.profit__subtitle {
  display: block;
  margin-bottom: 15px;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 500;
}

.profit__text {
  margin: 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
}