<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forex 24</title>
  <link rel="stylesheet" href="js/slick/slick.css"/>
  <link rel="stylesheet" href="js/slick/slick-theme.css"/>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header class="page-header">
    <nav class="page-header__main-nav  page-header__main-nav--closed  page-header__main-nav--nojs">
      <button class="page-header__toggle" type="button">Открыть меню</button>
      <div class="container">
        <div class="page-header__flex">
          <ul class="page-header__menu">
            <li class="page-header__item"><a href="#">Home</a></li>
            <li class="page-header__item"><a href="#">About</a></li>
            <li class="page-header__item"><a href="#">Trading</a></li>
            <li class="page-header__item"><a href="#">Resources</a></li>
            <li class="page-header__item"><a href="#">Partners</a></li>
            <li class="page-header__item"><a href="#">Contact Us</a></li>
          </ul>
          <div class="page-header__user-menu">
            <a class="page-header__link  page-header__link--violet" href="#">Open live account</a>
            <a class="page-header__link  page-header__link--black" href="#">Login</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="slider">
    <div class="slider__box">
      <div class="slider__slide  slider__slide--one">
        <div class="container">
          <p>TRADE THE WORLD WITH</p>
          <img src="img/slider-logo.png" alt="">
          <p>CFDs on FOREX, SHARES, INDICES,<br>SPOT METALS, FUTURES, BONDS, OPTIONS<br>AND ETFs</p>
          <a href="#">START TRADING NOW</a>
        </div>
      </div>
      <div class="slider__slide  slider__slide--two">
        <div class="container">
          <p>TRADE THE WORLD WITH</p>
          <img src="img/slider-logo.png" alt="">
          <p>CFDs on FOREX, SHARES, INDICES,<br>SPOT METALS, FUTURES, BONDS, OPTIONS<br>AND ETFs</p>
          <a href="#">START TRADING NOW</a>
        </div>
      </div>
      <div class="slider__slide  slider__slide--three">
        <div class="container">
          <p>TRADE THE WORLD WITH</p>
          <img src="img/slider-logo.png" alt="">
          <p>CFDs on FOREX, SHARES, INDICES,<br>SPOT METALS, FUTURES, BONDS, OPTIONS<br>AND ETFs</p>
          <a href="#">START TRADING NOW</a>
        </div>
      </div>
    </div>
  </section>
  <section class="online">
    <div class="container">
      <h2>Trade Online With Forex24 Global</h2>
      <p>We provide a complete set of investment services – all tailored to your trading success</p>
      <div class="online__flex">
        <div class="online__box  online__box--zulu">
          <b>Invest with the best!</b>
          <p>Discover and copy the top traders<br>from all over the world</p>
          <a href="#">Read More</a>
        </div>
        <div class="online__box">
          <b>Invest with the best!</b>
          <p>Discover and copy the top traders<br>from all over the world</p>
          <a href="#">Read More</a>
        </div>
        <div class="online__box">
          <b>Invest with the best!</b>
          <p>Discover and copy the top traders<br>from all over the world</p>
          <a href="#">Read More</a>
        </div>
        <div class="online__box">
          <b>Invest with the best!</b>
          <p>Discover and copy the top traders<br>from all over the world</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </section>
  <section class="global">
    <div class="container">
      <h2 class="global__title">Go Global</h2>
      <p>Capital Markets & Investment Banking</p>
      <ul class="global__list">
        <li>Multiple strategies</li>
        <li>Corporate Banking & Risk Management</li>
        <li>Precious Metal Trading & Warehousing</li>
        <li>Real time insights</li>
        <a href="#">START TRADING NOW</a>
      </ul>
    </div>
  </section>
  <section class="trading">
    <div class="container">
      <h2 class="trading__title">YOUR PERSONAL MULTYPLATFORM TRADING VEHICLE</h2>
    </div>
  </section>
  <section class="sign">
    <p class="sign__title">Sign up NOW</p>
    <p class="sign__text">and get expert<br>analytics BY OUR LOWYERS</p>
    <input class="sign__input" type="email" placeholder="Enter your E-mail">
  </section>
  <section class="center">
    <h2>AUTOMATIC TRADING CENTER</h2>
  </section>
  <section class="scroll">
    <div class="scroll__first"></div>
    <div class="scroll__text">
      <div class="container">
        <div class="scroll__flex">
          <div class="scroll__box">
            <b>intuitive INTERFACE</b>
            <p>It`s, very intuitive and it informs you about all<br>the latest developments in the trading field.<br>Overall, the MT4 is the most popular and<br>widely used Forex trading platform</p>
            <a href="#">Learn More</a>
          </div>
          <div class="scroll__box">
            <b>Mt4</b>
            <p>MT4 is a world-wide renowned application<br>which enables you to trade Forex,<br>Commodities and Futures. It is suitable for<br>beginner investors, but also for more experienced ones</p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll__second"></div>
  </section>
  <script src="js/jquery.min.js"></script>
  <script src="js/slick/slick.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>