<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forex 24</title>
  <link rel="stylesheet" href="js/slick/slick.css"/>
  <link rel="stylesheet" href="js/slick/slick-theme.css"/>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header class="page-header">
    <nav class="page-header__main-nav  page-header__main-nav--closed  page-header__main-nav--nojs">
      <button class="page-header__toggle" type="button">Open menu</button>
      <div class="container">
        <div class="page-header__flex">
          <ul class="page-header__menu">
            <li class="page-header__item"><a href="#">Home</a></li>
            <li class="page-header__item"><a href="#">About</a></li>
            <li class="page-header__item"><a href="#">Trading</a></li>
            <li class="page-header__item"><a href="#">Resources</a></li>
            <li class="page-header__item"><a href="#">Partners</a></li>
            <li class="page-header__item"><a href="#">Contact Us</a></li>
          </ul>
          <div class="page-header__user-menu">
            <a class="page-header__link  page-header__link--violet" href="#">Open live account</a>
            <a class="page-header__link  page-header__link--black" href="#">Login</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="slider">
    <div class="slider__box">
      <div class="slider__slide  slider__slide--one">
        <div class="container">
          <p>TRADE THE WORLD WITH</p>
          <img src="img/slider-logo.png" alt="">
          <p>CFDs on FOREX, SHARES, INDICES,<br>SPOT METALS, FUTURES, BONDS, OPTIONS<br>AND ETFs</p>
          <a href="#">START TRADING NOW</a>
        </div>
      </div>
      <div class="slider__slide  slider__slide--two">
        <div class="container">
          <p>TRADE THE WORLD WITH</p>
          <img src="img/slider-logo.png" alt="">
          <p>CFDs on FOREX, SHARES, INDICES,<br>SPOT METALS, FUTURES, BONDS, OPTIONS<br>AND ETFs</p>
          <a href="#">START TRADING NOW</a>
        </div>
      </div>
      <div class="slider__slide  slider__slide--three">
        <div class="container">
          <p>TRADE THE WORLD WITH</p>
          <img src="img/slider-logo.png" alt="">
          <p>CFDs on FOREX, SHARES, INDICES,<br>SPOT METALS, FUTURES, BONDS, OPTIONS<br>AND ETFs</p>
          <a href="#">START TRADING NOW</a>
        </div>
      </div>
      <div class="slider__slide  slider__slide--four">
        <div class="container">
          <p>TRADE THE WORLD WITH</p>
          <img src="img/slider-logo.png" alt="">
          <p>CFDs on FOREX, SHARES, INDICES,<br>SPOT METALS, FUTURES, BONDS, OPTIONS<br>AND ETFs</p>
          <a href="#">START TRADING NOW</a>
        </div>
      </div>
    </div>
  </section>
  <section class="online">
    <div class="container">
      <h2>Trade Online With Cryptologi Global</h2>
      <p>We provide a complete set of investment services – all tailored to your trading success</p>
      <div class="online__flex">
        <div class="online__box  online__box--zulu">
          <b>Invest with the best!</b>
          <p>Discover and copy the top traders<br>from all over the world</p>
          <a href="#">Read More</a>
        </div>
        <div class="online__box">
          <b>Invest with the best!</b>
          <p>Discover and copy the top traders<br>from all over the world</p>
          <a href="#">Read More</a>
        </div>
        <div class="online__box">
          <b>Invest with the best!</b>
          <p>Discover and copy the top traders<br>from all over the world</p>
          <a href="#">Read More</a>
        </div>
        <div class="online__box">
          <b>Invest with the best!</b>
          <p>Discover and copy the top traders<br>from all over the world</p>
          <a href="#">Read More</a>
        </div>
      </div>
      <!-- Slider on mobile -->
      <div class="online__slider">
        <div class="slider__slide  online__slide--one">
          <div class="online__box  online__box--zulu">
            <b>Invest with the best!</b>
            <p>Discover and copy the top traders<br>from all over the world</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="slider__slide  online__slide--two">
          <div class="online__box  online__box--zulu">
            <b>Invest with the best!</b>
            <p>Discover and copy the top traders<br>from all over the world</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="slider__slide  online__slide--three">
          
        </div>
      </div>
      <!-- Slider off -->
    </div>
  </section>
  <section class="global">
    <div class="container">
      <h2 class="global__title">Go Global</h2>
      <p>Capital Markets & Investment Banking</p>
      <ul class="global__list">
        <li>Multiple strategies</li>
        <li>Corporate Banking & Risk Management</li>
        <li>Precious Metal Trading & Warehousing</li>
        <li>Real time insights</li>
      </ul>
      <a href="#">START TRADING NOW</a>
    </div>
  </section>
  <section class="trading">
    <div class="container">
      <h2 class="trading__title">YOUR PERSONAL MULTYPLATFORM TRADING VEHICLE</h2>
    </div>
  </section>
  <section class="sign">
    <p class="sign__title">Sign up NOW</p>
    <p class="sign__text">and get expert<br>analytics BY OUR LOWYERS</p>
    <input class="sign__input" type="email" placeholder="Enter your E-mail">
  </section>
  <section class="center">
    <h2>AUTOMATIC TRADING CENTER</h2>
  </section>
  <section class="scroll">
    <div class="scroll__first"></div>
    <div class="scroll__text">
      <div class="container">
        <div class="scroll__flex">
          <div class="scroll__box">
            <b>intuitive INTERFACE</b>
            <p>It`s, very intuitive and it informs you about all<br>the latest developments in the trading field.<br>Overall, the MT4 is the most popular and<br>widely used Forex trading platform</p>
            <a href="#">Learn More</a>
          </div>
          <div class="scroll__box  scroll__box--mb">
            <b>Mt4</b>
            <p>MT4 is a world-wide renowned application<br>which enables you to trade Forex,<br>Commodities and Futures. It is suitable for<br>beginner investors, but also for more experienced ones</p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll__second">
      <div class="container">
        <h2 class="scroll__title">Go Global</h2>
        <p>Capital Markets & Investment Banking</p>
        <ul class="scroll__list">
          <li>Multiple strategies</li>
          <li>Corporate Banking & Risk Management</li>
          <li>Precious Metal Trading & Warehousing</li>
          <li>Real time insights</li>
        </ul>
        <a href="#">START TRADING NOW</a>
      </div>
    </div>
  </section>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>Risk warning</b>
        </div>
        <div class="page-footer__right-column">
          <p>Trading in Contracts for Difference (‘CFDs’) carries a high level of risk and can result in the loss of all your investment. As such, CFDs may not be appropriate for all investors. You should not invest money that you cannot afford to lose. Before deciding to trade, you should become aware of all the risks associated with CFD trading, and seek advice from an independent and suitably licensed financial advisor. Under no circumstances shall we have any liability to any person or entity for (a) any loss or damage in whole or part caused by, resulting from, or relating to any transactions related to CFDs or (b) any direct, indirect, special, consequential or incidental damages whatsoever. For more information about the risks associated with trading CFDs please find and read our <a href="#">‘General Risk Disclosure’.</a><br><br>Cryptologi Global does not provide services to residents of the USA, Canada, Japan, North Korea, Iran, Belgium and some other regions.</p>  
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>QUICK LINKS</b>
        </div>
        <div class="page-footer__right-column">
          <a href="#">Licenses</a>
          <a href="#">Account Types</a>
          <a href="#">Funding & Withdrawal</a>
          <a href="#">Product Specification </a>
          <a href="#">Economic Calendar</a>
          <a href="#">Legal Documents</a>
          <a href="#">Partners</a>
          <a href="#">Faq</a>
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>SOCIAL MEDIA</b>
        </div>
        <div class="page-footer__right-column  page-footer__right-column--link">
          <a href="#" class="page-footer__facebook">Facebook</a>
          <a href="#" class="page-footer__linked">LinkedIn</a>
          <a href="#" class="page-footer__twitter">Twitter</a>
          <a href="#" class="page-footer__google">Google+</a>
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>contact info</b>
        </div>
        <div class="page-footer__right-column  page-footer__right-column--flex">
          <a href="#" class="page-footer__link">Contact Us</a>
          <div class="page-footer__contact">
            <b>Customer Service</b>
            <p>CY Number: +35725000199</p>
          </div>
          <div class="page-footer__contact">
            <b>Support</b>
            <p>e-mail: support@forex24.com</p>
          </div>
          <p class="page-footer__text">UK Number: +442080891644</p>
        </div>
      </div>
      <div class="page-footer__copyright">
        <p>© 2017 All rights reserved LYDYA FINANCIAL LTD.<br>Located at 155 Ayias Fylaxeos, Ersi Court Suite 202, 3083 Limassol, Cyprus.</p>
        <p>Cryptologi Global is a brand owned and operated by Lydya Financial Ltd, a Cyprus Investment Firm (CIF) regulated and supervised by the Cyprus Securities and Exchange Commission (CySEC) with CIF Licence number 300/16 and Company registration number HE334292.</p>
        <p>The Company is also registered with: FCA in UK with reg. no. 782501; BaFin in Germany with reg. no. 1349943; CONSOB in Italy with reg. no. 4624; ACP in France with reg. no. 75980; CNMV in Spain with reg. no. 4373.</p>
      </div>
    </div>
  </footer>
  <script src="js/jquery.min.js"></script>
  <script src="js/slick/slick.min.js"></script>
  <script src="js/slider.js"></script>
  <script src="js/mobile-menu.js"></script>
</body>
</html>