body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Text', 'Arial' sans-serif;
}

.container {
  width: 1055px;
  margin: auto;
}

.container__temp {
  width: 1350px;
  margin: auto;
}

@media screen and ($tablet-widths) {
  // .container {
  //   width: 768px;
  // }
  
  .container {
    width: 96%;
  }
}

@media screen and ($mobile-widths) {
  .container {
    width: 98%;
  }
}