<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Барбершоп "Бородинский"</title>
 </head>
<body>
    <header class="main-header">
        <div class="container">
            <nav class="main-navigation">
                <ul>
                    <li><a href="#">Информация</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Прайс-лист</a></li>
                    <li><a href="#">Магазин</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <div class="user-block">
                <a class="login" href="#">Вход</a>
            </div>
        </div>
</header>
<main class="container">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Магазин</a></li>
            <li><a href="#">Средства для ухода</a></li>
        </ul>
    </div>
    <div class="checkbox-radio">
        
    </div>
    <div class="item-list">
        <div class="item-box">
            <div class="item-image">
                <img src="#">
            </div>
            <div class="item-description">
                <p>Набор для путешествий<br>"Baxter of California"</p>
                <div class="buy-section">
                    <p>2900 РУБ.</p>
                    <a href="#" class="btn">Купить</a>
                </div>
            </div>
        </div>
        <div class="item-box">
            <div class="item-image">
                <img src="#">
            </div>
            <div class="item-description">
                <p>Набор для путешествий<br>"Baxter of California"</p>
                <div class="buy-section">
                    <p>2900 РУБ.</p>
                    <a href="#" class="btn">Купить</a>
                </div>
            </div>
        </div>
        <div class="item-box">
            <div class="item-image">
                <img src="#">
            </div>
            <div class="item-description">
                <p>Набор для путешествий<br>"Baxter of California"</p>
                <div class="buy-section">
                    <p>2900 РУБ.</p>
                    <a href="#" class="btn">Купить</a>
                </div>
            </div>
        </div>
        <div class="item-box">
            <div class="item-image">
                <img src="#">
            </div>
            <div class="item-description">
                <p>Набор для путешествий<br>"Baxter of California"</p>
                <div class="buy-section">
                    <p>2900 РУБ.</p>
                    <a href="#" class="btn">Купить</a>
                </div>
            </div>
        </div>
        <div class="item-box">
            <div class="item-image">
                <img src="#">
            </div>
            <div class="item-description">
                <p>Набор для путешествий<br>"Baxter of California"</p>
                <div class="buy-section">
                    <p>2900 РУБ.</p>
                    <a href="#" class="btn">Купить</a>
                </div>
            </div>
        </div>
        <div class="item-box">
            <div class="item-image">
                <img src="#">
            </div>
            <div class="item-description">
                <p>Набор для путешествий<br>"Baxter of California"</p>
                <div class="buy-section">
                    <p>2900 РУБ.</p>
                    <a href="#" class="btn">Купить</a>
                </div>
            </div>
        </div>
        <div class="pages">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</main>
<footer class="main-footer">
    <div class="container">
        <section class="footer-contacts">
            Барбершоп "Бородинский"<br>
            Адрес: г. Санкт-Петербург, Б. Конюшенная, д. 19/8<br>
            <a href="#">Как нас найти?</a>
            Телефон: +7 (812) 666-02-66
        </section>
        <section class="footer-social">
            <p>Давайте дружить!</p>
            <a class="social-btn social-btn-vk" href="#">вк</a>
            <a class="social-btn social-btn-db" href="#">фб</a>
            <a class="social-btn social-btn-inst" href="#">инст</a>
        </section>
        <section class="footer-copyright">
            Copyright
        </section>
    </div>
</footer>
</body>
</html>