<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Барбершоп "Бородинский"</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
 </head>
<body>
    <header class="main-header">
        <div class="container clearfix">
            <nav class="main-navigation">
                <a href="../index.html" class="logo-inner">
                    <img src="../img/Logo.png" width="111" height="24" alt="Барбершоп">
                </a>
                <ul>
                    <li><a href="#">Информация</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Прайс-лист</a></li>
                    <li><a href="#">Магазин</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <div class="user-block">
                <a class="login" href="#">Вход</a>
            </div>
        </div>
</header>
<main class="container">
    <h1 class="index-content-title">Набор для путешествий "Baxter of California"</h1>
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Магазин</a></li>
            <li><a href="#">Средства для ухода</a></li>
            <li><a href="#">Набор для путешествий "Baxter of California"</a></li>
        </ul>
    </div>
    <div class="item-gallery">
        <img src="#" class="main-photo">
        <img src="#" class="advance-photo">
        <img src="#" class="advance-photo">
        <img src="#" class="advance-photo">
    </div>
    <div class="item-about">
        <p>Есть в наличии</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus, est. Velit maxime beatae nobis veniam fuga debitis eveniet reiciendis minus perferendis unde molestias harum, itaque eligendi amet praesentium nam!</p>
        <div class="buy-section">
            <p>2900 РУБ.</p>
            <a href="#" class="btn">Купить</a>
        </div>
        <h2 class="index-content-title">В набор входят</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</main>
<footer class="main-footer">
    <div class="container">
        <section class="footer-contacts">
            Барбершоп "Бородинский"<br>
            Адрес: г. Санкт-Петербург, Б. Конюшенная, д. 19/8<br>
            <a href="#">Как нас найти?</a>
            Телефон: +7 (812) 666-02-66
        </section>
        <section class="footer-social">
            <p>Давайте дружить!</p>
            <a class="social-btn social-btn-vk" href="#">вк</a>
            <a class="social-btn social-btn-db" href="#">фб</a>
            <a class="social-btn social-btn-inst" href="#">инст</a>
        </section>
        <section class="footer-copyright">
            Copyright
        </section>
    </div>
</footer>
</body>
</html>