body {
  min-width: 320px;
  margin: 0; }

.container {
  width: 1200px;
  margin: auto; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Heavy Italic"), local("SFUIText-HeavyItalic"), url("SFUIText-HeavyItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Light Italic"), local("SFUIText-LightItalic"), url("SFUIText-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Medium Italic"), local("SFUIText-MediumItalic"), url("SFUIText-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"), url("SFUIDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Light"), local("SFUIDisplay-Light"), url("SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Thin"), local("SFUIDisplay-Thin"), url("SFUIDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Ultralight"), local("SFUIDisplay-Ultralight"), url("SFUIDisplay-Ultralight.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Semibold"), local("SFUIText-Semibold"), url("SFUIText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Regular"), local("SFUIText-Regular"), url("SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Black"), local("SFUIDisplay-Black"), url("SFUIDisplay-Black.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Bold Italic"), local("SFUIText-BoldItalic"), url("SFUIText-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Bold"), local("SFUIText-Bold"), url("SFUIText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url("SFUIDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Light"), local("SFUIText-Light"), url("SFUIText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Heavy"), local("SFUIText-Heavy"), url("SFUIText-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Medium"), local("SFUIText-Medium"), url("SFUIText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url("SFUIDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Italic"), local("SFUIText-Italic"), url("SFUIText-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Semibold Italic"), local("SFUIText-SemiboldItalic"), url("SFUIText-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

.video video {
  width: 100%;
  height: 94vh;
  -o-object-fit: fill;
  object-fit: fill; }

.video iframe {
  width: 100%;
  height: 34px;
  margin-top: -4px;
  padding-top: 15px;
  background: #252525; }

.video__content {
  position: absolute;
  top: 0;
  width: 1200px; }

.video__title {
  margin-top: 200px;
  color: #fff;
  text-transform: uppercase; }
  .video__title h1 {
    margin-bottom: 30px;
    font-size: 60px;
    font-family: 'SF UI Display Black', sans-serif; }
  .video__title p {
    margin-bottom: 75px;
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
    font-family: 'SF UI Text Regular', sans-serif; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px; }

.button {
  padding: 8px 23px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: 'SF UI Display Regular', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #eeba1d;
  border-radius: 20px;
  background: #eeba1d;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .button:hover {
    color: #fff;
    background: transparent; }
  .button--black {
    color: #fff;
    border: 2px solid #000;
    background: #000; }
  .button--title {
    font-size: 16px; }
  .button--green {
    padding: 8px 60px;
    color: #fff;
    font-size: 20px;
    border: 2px solid #009f3c;
    background: #009f3c; }
    .button--green:hover {
      color: #009f3c; }

.sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 250px;
  padding-top: 20px;
  margin: auto; }
  .sub-nav a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'SF UI Display Regular', sans-serif; }

.trading {
  border-bottom: 2px solid #c6c6c6; }

.trading__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px; }

.trading__flex--second {
  padding-top: 0;
  padding-bottom: 80px; }

.trading__left {
  -ms-flex-item-align: center;
  align-self: center; }
  .trading__left b {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'SF UI Display Black', sans-serif; }
  .trading__left p {
    font-family: 'SF UI Display Regular', sans-serif;
    opacity: 0.7; }

.trading__box {
  width: 270px;
  padding-top: 170px;
  text-align: center; }
  .trading__box b {
    font-size: 20px;
    font-family: 'SF UI Display Bold', sans-serif;
    text-transform: uppercase; }
  .trading__box p {
    font-family: 'SF UI Display Regular', sans-serif;
    opacity: 0.7; }

.trading__box--tools {
  background: url("../img/trading-1.png") no-repeat top; }

.trading__box--trans {
  background: url("../img/trading-2.png") no-repeat top; }

.trading__box--funds {
  background: url("../img/trading-3.png") no-repeat top; }

.trading__box--algo {
  background: url("../img/trading-4.png") no-repeat top; }

.trade {
  padding: 80px 0; }
  .trade video {
    width: 600px; }

.trade__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.trade__left {
  width: 400px;
  text-align: center; }
  .trade__left h1 {
    margin-bottom: 40px;
    font-size: 60px;
    font-family: 'SF UI Display Black', sans-serif;
    text-transform: uppercase; }
  .trade__left p {
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'SF UI Display', sans-serif;
    text-transform: uppercase;
    opacity: 0.7; }
  .trade__left small {
    display: block;
    margin-top: 15px;
    font-family: 'SF UI Display', sans-serif;
    opacity: 0.7; }

.trade__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.trade__link {
  -ms-flex-item-align: center;
  align-self: center; }

.edge {
  background: url("../img/edge.png") no-repeat;
  background-attachment: fixed; }

.edge__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 80px 0; }

.edge__box {
  width: 180px;
  padding-top: 150px;
  color: #fff;
  text-align: center;
  background: url("../img/edge-box.png") no-repeat top; }
  .edge__box b {
    font-size: 30px;
    font-family: 'SF UI Display', sans-serif; }
  .edge__box p {
    font-family: 'SF UI Display', sans-serif; }

.live {
  padding: 80px 0; }
  .live h1 {
    font-size: 30px;
    font-family: 'SF UI Display Bold', sans-serif;
    text-align: center;
    text-transform: uppercase; }
  .live iframe {
    width: 100%;
    height: 520px; }

.map iframe {
  width: 100%; }
