.advantage {
  min-height: 526px;
  background: $bg;
  
  &__item {
    width: 300px;
    padding-top: 80px;
    margin-top: 109px;
    font-size: $text;
    text-align: center;
  }
}

.advantage__flex-container {
  display: flex;
  justify-content: space-between;
}

.advantage__item--box-1 {
  background: url("../img/icon3.png") no-repeat top;
}

.advantage__item--box-2 {
  background: url("../img/icon1.png") no-repeat top;
}

.advantage__item--box-3 {
  background: url("../img/icon2.png") no-repeat top;
}

@media only screen and (max-width : 768px) {
  .advantage {
    min-height: 450px;
  }
  
  .advantage__item {
    margin-top: 40px;
  }
  
  .advantage__flex-container {
    justify-content: space-around;
  }
}

@media only screen and (max-width : 480px) {
  .advantage {
    min-height: 1120px;
  }
  
  .advantage__flex-container {
    flex-direction: column;
  }
  
  .advantage__item {
    margin: auto;
    margin-top: 40px;
  }
}