.page-footer {
  min-height: 818px;
  margin-top: 0;
  color: $white;
  background: url("../img/map_2120.png") no-repeat;
  background-size: cover;
  margin-top: -40px;
  
  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 109px;
    color: $white;
    font-size: $title;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      width: 98px;
      height: 8px;
      background: $orange;
      border: none;
      transform: rotate(130deg);
    }
  }
}

.page-footer__flex-container {
  display: flex;
  justify-content: space-between;
}

.page-footer__us p {
  font-size: $text;
}

.page-footer__address {
  width: 310px;
  margin-bottom: 60px;
  text-decoration: underline;
}

.page-footer__phone,
.page-footer__email {
  position: relative; 
  padding-left: 70px;
  margin-bottom: 40px;
}

.page-footer__phone::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 47px;
  top: -10px;
  left: 15px;
  background: url("../img/phone.png");
}

.page-footer__email::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 29px;
  top: -2px;
  left: 5px;
  background: url("../img/email.png") no-repeat;
}

.page-footer__form p {
  font-size: $text;
  font-weight: bold;
}

@media only screen and (max-width : 768px) {
  .page-footer {
    min-height: 700px;
  }
  
  .page-footer__title {
    padding-top: 40px;
  }
  
  .page-footer__flex-container {
    justify-content: space-around;
  }
  
  .page-footer__phone,
  .page-footer__email {
    font-size: 20px !important;
  }
  
  .page-footer__title {
    padding-left: 10px;
  }
}

@media only screen and (max-width : 320px) {
  .page-footer__title {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
  }
  
  .page-footer__title::after {
    top: 55px;
    right: 0;
  }
}

@media only screen and (min-width : 320px) and (max-width : 568px) {
  .page-footer__us {
		display: none;
	}
}