.bonus {
  padding-top: 80px;
  padding-bottom: 300px;
  color: #FFFFFF;
  border-top-right-radius: 300px;
  background: linear-gradient(118.5deg, #0BC5BA 29.74%, #47E7DD 62.1%);
}

.bonus__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.bonus__text {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.bonus__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.bonus__item {
  box-sizing: border-box;
  width: 400px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  background-repeat: no-repeat;
  background-position: left;
  
  &:nth-child(1) {
    padding: 50px 0;
    padding-left: 140px;
    background-image: url('../img/b-1.svg');
  }
  
  &:nth-child(2) {
    padding: 50px 0;
    padding-left: 140px;
    background-image: url('../img/b-2.svg');
  }
  
  &:nth-child(3) {
    padding: 50px 0;
    padding-left: 140px;
    background-image: url('../img/b-3.svg');
  }
  
  &:nth-child(4) {
    padding: 50px 0;
    padding-left: 140px;
    background-image: url('../img/b-4.svg');
  }
}

.bonus__att {
  margin-top: 0;
  margin-bottom: 130px;
  color: #FFF8BD;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

@media screen and ($tablet) {
  .bonus {
    border-top-right-radius: 200px;
  }
}

@media screen and ($mobile) {
  .bonus {
    padding-bottom: 70px;
    border-top-right-radius: 150px;
  }
  
  .bonus__title {
    font-size: 30px;
  }
  
  .bonus__text {
    
    br {
      display: none;
    }
  }
  
  .bonus__att {
    margin-bottom: 50px;
    
    br {
      display: none;
    }
  }
}