.cost {
  margin-top: -180px;
  padding: 100px 0;
  border-top-right-radius: 300px;
  background-color: #FFFFFF;
  background-image: url('../img/info-bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.cost__title {
  margin-top: 0;
  margin-bottom: 40px;
  color: #333333;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  
  &--red {
    color: #FF3434;
  }
}

.cost__text {
  margin: 0;
  font-size: 23px;
  text-align: center;
  
  &--red {
    color: #FF3434;
    font-weight: 500;
  }
  
  &--cost {
    display: block;
    color: #FF3434;
    font-size: 50px;
    font-weight: 700;
  }
  
  &--current {
    font-size: 70px;
    font-weight: 700;
  }
}

@media screen and (max-width: 1000px) {
  .cost {
    margin-top: 0;
    border-top-right-radius: 200px;
  }
}

@media screen and ($mobile) {
  .cost {
    border-top-left-radius: 150px;
  }
  
  .cost__title {
    font-size: 30px;
  }
}