.secret {
  margin-top: -150px;
  padding-top: 30px;
  padding-bottom: 250px;
  background-image: url('../img/secret-olga.png');
  background-repeat: no-repeat;
  background-position: 200px 70px;
}

.secret__content {
  width: 600px;
  margin-left: auto;
  padding-top: 180px;
  color: #FFFFFF;
}

.secret__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.secret__text {
  font-size: 18px;
  
  &--bold {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
  }
}

.secret__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.secret__item {
  box-sizing: border-box;
  width: 45%;
  margin-bottom: 20px;
  padding-left: 75px;
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: left;
  
  &--yellow {
    color: #FFF8BD;
    font-weight: 700;
  }
  
  &:nth-child(1) {
    background-image: url('../img/secret-1.svg');
  }
  
  &:nth-child(2) {
    background-image: url('../img/secret-2.svg');
  }
  
  &:nth-child(3) {
    background-image: url('../img/secret-3.svg');
  }
  
  &:nth-child(4) {
    background-image: url('../img/secret-4.svg');
  }
}

@media screen and (max-width: 1550px) {
  .secret {
    background-position: 10px 70px;
  }
}

@media screen and ($tablet) {
  .secret {
    background-size: 450px;
  }
  
  .secret__content {
    width: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .secret {
    margin-top: 0;
    background-position: center bottom;
  }
  
  .secret__content {
    width: auto;
    padding-top: 0;
    padding-bottom: 400px;
  }
  
  .secret__list {
    flex-direction: column;
    align-items: center;
  }
  
  .secret__item {
    width: 280px;
  }
}