.button {
  display: inline-block;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 50px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 50px;
  background-color: $orange;
  background-image: url('../img/svg/button.svg');
  background-repeat: no-repeat;
  background-position: 25px center;
  
  &--center {
    display: block;
    width: 145px;
    margin: auto;
  }
  
  &--small {
    box-sizing: border-box;
    display: block;
    width: 185px;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }
}

@media screen and ($mobile-width) {
  .button {
    
    &--block {
      box-sizing: border-box;
      display: block;
    }
  }
}