.heading {
  position: relative;
  left: 50%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 46px;
  font-weight: 700;
  transform: translateX(-50%);
  
  &--left {
    left: 0;
    transform: translateX(0);
  }
  
  &--white {
    margin-bottom: 10px;
    color: #FFFFFF;
    
    &::before {
      display: none;
    }
  }
  
  &::before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: rgba($orange, 0.5);
    z-index: -1;
  }
}

@media screen and ($tablet-width) {
  .heading {
    font-size: 35px;
  }
}

@media screen and ($mobile-width) {
  .heading {
    font-size: 30px;
    text-align: center;
  }
}