.request {
  padding-top: 80px;
  padding-bottom: 65px;
  background-image: url('../img/request-bg.png');
  background-repeat: no-repeat;
  background-position: 1000px 0;
}

.request__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
}

.request__wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 570px;
  margin-bottom: 25px;
  padding: 15px;
  border: 1px solid $orange;
  border-radius: 7px;
}

.request__info {
  margin: 0;
  padding-left: 25px;
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: left;
  
  &--bold {
    color: $green;
    font-size: 20px;
    font-weight: 700;
  }
  
  &:first-child {
    background-image: url('../img/svg/date.svg');
  }
  
  &:last-child {
    background-image: url('../img/svg/people.svg');
  }
}

.request__form {
  width: 99%;
  margin-left: -10px;
}

@media screen and ($mobile-width) {
  .request__text {
    font-size: 20px;
    text-align: center;
  }
  
  .request__wrapper {
    flex-direction: column;
    width: 100%;
  }
  
  .request__info {
    margin-bottom: 15px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .request__form {
    margin: auto;
  }
}