<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="style/style.css" rel="stylesheet">
    <title>Виктория-Сервис</title>
</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="headerLogo">
                <a href="index.html"><img src="images/viktoria1.png"></a>
                <div class="headerText">
                    <p class="logoTextFirst">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecond">«Виктория-Сервис»</p>
                </div>
            </div>
            <div class="header">
                <ul class="headerUl">
                    <li><a href="template/tarify.html"><b>ТАРИФЫ</b></a></li>
                    <li><a href="template/news.html"><b>НОВОСТИ</b></a></li>
                    <li><a href="#"><b>СОТРУДНИКИ</b></a></li>
                    <li><a href="template/about.html"><b>О КОМПАНИИ</b></a></li>
                    <li><a href="template/contact.html"><b>КОНТАКТЫ</b></a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </header>
    <div class="mainContainer">
        <img src="images/Nature___Clouds_Clean_sky_076133_.jpg" class="mainBackground">
        <div class="homeContainerFirst">
            <div class="homeImagesFirst"></div>
            <div class="homeTextFirst">
                <h2>ЖК «ВИКТОРИЯ»</h2>
                <a href="product.html" class="homeLook">СМОТРЕТЬ</a>
                <p>ул. Революции,61 г. Пермь</p>
                <div class="homeLogoFirst">
                    <img src="images/viktoria.png">
                </div>
            </div>
        </div>
        <div class="homeContainerSecond">
            <div class="homeImagesSecond"></div>
            <div class="homeTextSecond">
                <h2>ЖК «ГАЛАКТИКА»</h2>
                <div class="homeAdvanced">
                    <a href="#" class="advancedLook">ДОМ 116</a>
                    <a href="#" class="advancedLook">ДОМ 118</a>
                    <a href="#" class="advancedLook">ДОМ 120</a>
                </div>
                <a href="product.html" class="homeLook">СМОТРЕТЬ</a>
                <p>Ш. Космонавтов 116-120 г. Пермь</p>
                <div class="homeLogoSecond">
                    <img src="images/galaktika.png">
                </div>
            </div>
        </div>
        <div class="homeContainerThird">
            <div class="homeImagesThird"></div>
            <div class="homeTextThird">
                <h2>ЖК «НОВЫЙ ДОМ»</h2>
                <div class="homeAdvanced">
                    <a href="#" class="advancedLook">КОРПУС #1</a>
                    <a href="#" class="advancedLook">КОРПУС #2</a>
                    <a href="#" class="advancedLook">КОРПУС #3</a>
                </div>
                <a href="#" class="homeLook">СМОТРЕТЬ</a>
                <p>ул. Новая 13 г.Пермь</p>
                <div class="homeLogoThird"></div>
            </div>
        </div>
        <div class="mainNews">
            <h1>НОВОСТИ</h1>
            <div class="newsOne">
                <div class="newsData">01/09<br>2016</div>
                <p><b>Протокол №9 очередного общего собрания собственников помещений в жилом комплексе «Виктория»</b><br>ПРОТОКОЛ № 9 очередного общего собрания собственников помещений в жилом комплексе «Виктория» по адресу: г.Пермь, ул.Революции, 21.</p>
            </div>
            <div class="newsTwo">
                <div class="newsData">01/09<br>2016</div>
                <p><b>Протокол №9 очередного общего собрания собственников помещений в жилом комплексе «Виктория»</b><br>ПРОТОКОЛ № 9 очередного общего собрания собственников помещений в жилом комплексе «Виктория» по адресу: г.Пермь, ул.Революции, 21.</p>
            </div>
            <div class="newsThree">
                <div class="newsData">01/09<br>2016</div>
                <p><b>Протокол №9 очередного общего собрания собственников помещений в жилом комплексе «Виктория»</b><br>ПРОТОКОЛ № 9 очередного общего собрания собственников помещений в жилом комплексе «Виктория» по адресу: г.Пермь, ул.Революции, 21.</p>
            </div>
        </div>
    </div>
    <div class="fix"></div>
    <footer>
        <div class="footerContainer">
            <div class="footerLogo">
                <img src="images/viktoria1.png">
                <div class="headerTextF">
                    <p class="logoTextFirstF">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecondF">«Виктория-Сервис»</p>
                </div>
            </div>
            <ul class="headerUlF">
                    <li><a href="template/tarify.html"><b>Тарифы</b></a></li>
                    <li><a href="template/news.html"><b>Новости</b></a></li>
                    <li><a href="template/team.html"><b>Сотрудники</b></a></li>
                    <li><a href="template/about.html"><b>О Компании</b></a></li>
                    <li><a href="template/contact.html"><b>Контакты</b></a></li>
                </ul>
            <div class="footerContact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </footer>
</body>
</html>