.page-header__form {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.page-header__checkbox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 3px solid $b;
}

input {
  width: 350px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 20px;
  color: $w;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.9);
  outline: none;
}

input[type="checkbox"] {
  width: 20px;
  margin: 0;
  cursor: pointer;
}

input[type="submit"] {
  margin: 0 auto;
  margin-bottom: 10px;
  color: $b;
  font-size: 18px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid $b;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  color: $w;
  background: $b;
  border: 2px solid $b;
}

label {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

input::placeholder {
  color: $w;
  font-size: 16px;
  text-transform: uppercase;
}

select {
  height: 40px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: $w;
  font-size: 16px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.9);
  outline: none;
}

form p {
  text-align: center;
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {  
  .page-header__form {
    justify-content: center;
    margin-top: 30px;
  }
  
  input {
    width: 85%;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 20px;
    font-size: 16px;
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .page-header__form {
    margin-top: 30px;
  }
  
  input {
    width: 85%;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 20px;
    font-size: 16px;
  }
  
  input::placeholder {
    font-size: 13px;
  }
  
  input[type="checkbox"] {
    width: 15px;
  }
  
  input[type="submit"] {
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 8px;
    color: $b;
    font-size: 18px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid $b;
    cursor: pointer;
    transition: 0.3s;
  }
  
  input[type="submit"]:hover {
    color: $w;
    background: $b;
    border: 2px solid $b;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  select {
    height: 40px;
    padding: 1px 20px;
    margin-bottom: 20px;
    color: $w;
    font-size: 14px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    outline: none;
  }
  
  form p {
    text-align: center;
  }
}
