.page-header__form {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 3px solid $b;
  // opacity: 0.9;
}

form input {
  width: 350px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 20px;
  color: $w;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: black;
}

input::placeholder {
  color: $w;
  font-size: 16px;
  text-transform: uppercase;
}