.heading {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  
  &--big {
    font-size: 70px;
  }
  
  &--small {
    font-size: 40px;
  }
  
  &--smaller {
    font-size: 30px;
  }
  
  &--smalest {
    font-size: 20px;
  }
  
  &--pink {
    color: #cb42f4;
  }
  
  &--blue {
    color: #2ecdf4;
  }
  
  &--black {
    color: #000;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .heading {
    padding: 0 15px;
    
    &--big {
      font-size: 50px;
    }
  }
}