.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 0.3s;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  
  &--hide {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
    visibility: hidden;
  }
}

.popup__close {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  background: url('../img/svg/close-popup.svg') no-repeat center / cover;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.popup__photo {
  display: block;
  max-width: 1000px;
  max-height: 800px;
  margin: auto;
}

.popup__controll {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 50px;
  font-size: 0;
  border: none;
  background: url('../img/svg/arrow.svg') no-repeat center / contain;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    opacity: 1;
  }
  
  &--prev {
    left: -50px;
    transform: translateY(-50%) rotate(180deg);
  }
  
  &--next {
    right: -50px;
    transform: translateY(-50%);
  }
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
  
  &--hide {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and ($tablet-widths) {
  .popup {
    width: 95%;
  }
  
  .popup__photo {
    width: 100%;
  }
  
  .popup__close {
    top: 10px;
    right: 10px;
    opacity: 1;
  }
  
  .popup__controll {
    width: 20px;
    height: 40px;
    opacity: 1;
    
    &--prev {
      left: 5px;
    }
    
    &--next {
      right: 5px;
    }
  }
}

@media screen and ($mobile-widths) {}