.services {
  padding: 50px 0;
  z-index: 1;
}

.services__wrapper {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 0 0;
}

.services__table {
  width: 100%;
  text-align: center;
}

.services__th {
  font-size: 25px;
  
  &--pink {
    color: #cb42f4;
  }
  
  &--blue {
    color: #2ecdf4;
  }
}

.services__category {
  font-size: 20px;
  font-weight: bold;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .services__wrapper {
    flex-direction: column;
  }
  
  .services__table {
    display: block;
    overflow-x: scroll;
  }
}