.title {
  @include display-flex;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  background-image: url('../img/title-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.title__logo {
  display: block;
  margin: 0 auto;
}

.title__list {
  @include clear-list;
  margin: 30px 0 0 0;
}

.title__item {
  margin: 0 0 10px 0;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .title__item {
    font-size: 18px;
  }
}