.header {
  position: absolute;
  top: 0;
  width: 100%;
  transition: 1s;
  
  &--scroll {
    position: fixed;
    top: 0;
    background: rgba(47, 40, 97, 0.9);
    z-index: 1;
    
    .header__flex {
      padding: 18px 15px;
      border: none;
    }
    
    .header__logo {
      width: 100px;
    }
    
    .header__user {
      width: 400px;
      z-index: 3;
      
      li {
        
        a {
          width: 133px;
          padding: 9px 0;
          transition: 0.3s;
        }
      }
    }
    
    .header__open {
      
      &::before {
        right: 5px;
      }
    }
    
    .nav__search {
      display: none;
    }
    
    .nav {
      // position: relative;
      top: 0;
      margin: -77px 0 0 0;
      padding: 28px 15px 27px 190px;
      transition: 0.5s;
    }
    
    .nav__wrapper {
      width: 100%;
      
      &--opened {
        top: 76px;
      }
    }
    
    .nav__list {
      
      a {
        padding: 0 0 26px 0;
      }
    }
  }
  
  &--inner {
    width: 100%;
  }
  
  &--menu {
    background: rgba(47, 40, 97, 0.9);
  }
}

.header__container {
  width: 1170px;
  margin: auto;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #2f2861;
}

.header__logo {
  width: 170px;
  transition: 0.3s;
  z-index: 20;
}

.header__toggle {
  display: none;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 0;
  border: none;
  background: transparent url('../img/nav-toggle.svg') no-repeat top;
  outline: none;
}

.header__user {
  display: flex;
  justify-content: space-between;
  width: 470px;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: 0.5s;
  
  li {
    text-align: center;
    
    &:last-child {
      width: 70px;
    }
    
    a {
      display: block;
      width: 168px;
      padding: 9px 0;
      color: $mc;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      border: 1px solid $mc;
      border-radius: 3px;
      transition: 0.2s linear;
      
      &:hover {
        color: $sc;
        background: $mc;
      }
    }
  }
}

.header__open {
  position: relative;
  transition: 0.3s;
  
  &::after {
    content: 'Trading involves risk of loss';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: inherit;
    color: $mc;
    font-size: 10px;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 19px;
    right: 13px;
    width: 6px;
    height: 3px;
    background: url('../img/nav-arrow.svg') no-repeat center;
    transition: 0.1s;
  }
  
  &:hover {

    &::before {
      background: url('../img/nav-arrow-h.svg') no-repeat center;
    }
  }
  
  &--active {
    color: $sc !important;
    background: $mc;
    
    &::before {
      background: url('../img/nav-arrow-h.svg') no-repeat center;
      transform: rotate(180deg);
    }
  }
}

.header__accounts {
  position: absolute;
  margin: 0;
  padding: 0;
  background: rgba(47, 40, 97, 0.5);
  list-style: none;
  transition: 0.5s;
  z-index: 2;
  
  li {
    
    a {
      color: #fff;
      border: none;
      transition: 0.3s;
      
      &:hover {
        color: #fff;
        font-weight: 500;
        background: rgba(47, 40, 97, 0.7);
      }
    }
  }
  
  &--closed {
    display: none;
    // opacity: 0;
  }
  
  &--opened {
    display: block;
    // opacity: 1;
    // z-index: 2;
  }
}

.header__language {
  width: 70px;
  height: 41px;
  padding: 0 20px;
  color: $mc;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  border: 1px solid $mc;
  border-radius: 3px;
  background: transparent url('../img/nav-arrow.svg') no-repeat right;
  background-position-x: 50px;
  background-size: 6px 3px;
  transition: 0.2s linear;
  appearance: none;
  
  &:hover {
    color: $sc;
    background: $mc url('../img/nav-arrow-h.svg') no-repeat right;
    background-position-x: 50px;
    background-size: 6px 3px;
  }
}

@media screen and ($tablet-widths) {
  .header {
    
    &--scroll {
      
      .header__flex {
        // padding: 18px 15px 90px 18px;
      }
      
      .nav {
        width: 100%;
        margin: auto;
        padding: 18px 0;
      }
      
      .nav__list {
        
        a {
          padding: 0 0 17px 0;
        }
      }
      
      .nav__sub {
        
        a {
          padding: 0 0 26px 0;
        }
      }
      
      .nav__wrapper {
        
        &--opened {
          top: 134px;
        }
      }
    }
  }
  
  .header__container {
    width: 100%;
  }
}

@media screen and ($mobile-widths) {
  .header {
    
    &--scroll {
      position: fixed;
      top: 0;
      background: rgba(47, 40, 97, 0.9);
      z-index: 1;
      
      .header__flex {
        flex-direction: row;
        padding: 18px 15px;
        border: none;
      }
      
      .header__logo {
        width: 100px;
      }
      
      .header__toggle {
        display: block;
      }
      
      .header__user {
        transition: 0.5s;
        
        li {
          margin: 0 0 20px 0;
          
          a {
            width: 133px;
            padding: 9px 0;
            // font-family: 'SFUIDisplay-Thin', sans-serif;
            transition: 0.3s;
          }
          
          &:nth-child(2) {
            margin: 0 0 10px 0;
          }
          
          &:nth-child(3) {
            margin: 0;
          }
        }
        
        &--closed {
          position: absolute;
          top: -200px;
          left: 0;
          width: 100%;
        }
        
        &--opened {
          position: absolute;
          top: 68px;
          left: 0;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 0;
          background: rgba(47, 40, 97, 0.9);
          
          li {
            
            a {
              width: 138px;
              font-size: 14px;
            }
          }
        }
      }
      
      .header__open {
        
        
        &::before {
          top: 16px;
          right: 13px;
        }
        
        &::after {
          font-size: 8px;
        }
      }
      
      .nav__search {
        display: none;
      }
      
      .nav {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.8s;
        
        &--closed {
          position: absolute;
          top: -500px;
        }
        
        &--opened {
          position: absolute;
          top: 206px;
          // display: block;
          padding: 20px 0;
          background: rgba(47, 40, 97, 0.9);
        }
      }
      
      .nav__wrapper {
        padding: 0 0 10px 0;
        
        &--opened {
          top: 175px;
        }
      }
      
      .nav__list {
        
        a {
          padding: 0 0 3px 0;
        }
      }
      
      .header__language {
        height: 36px;
        font-size: 14px;
      }
    }
  }
  
  .header__user {
    flex-direction: column;
    align-items: center;
    width: auto;
    
    li {
      margin: 25px 0 0 0;
    }
  }
  
  .header__flex {
    flex-direction: column;
  }
  
  .header__accounts {
    border: 1px solid $mc;
    border-radius: 3px;
    background: $sc;
    
    li {
      margin: 0 !important;
    }
  }
}