.find {
  text-align: center;
}

.find__name {
  margin: 0 0 30px 0;
  color: #323232;
  font-size: 56px;
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
  text-transform: uppercase;
}

.find__text {
  width: 890px;
  margin: 0 auto 130px auto;
  color: #636363;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.find__video {
  position: relative;
  max-width: 1168px;
  height: 779px;
  margin: 0 auto 130px auto;
  background: url('../img/find-video.jpg') no-repeat center / cover;
}

.find__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 88px;
  height: 88px;
  font-size: 0;
  border: none;
  background: url('../img/find-play.svg') no-repeat center / cover;
  cursor: pointer;
  transform: translate(-50%);
}

.find__branch {
  width: 90px;
  height: 90px;
  margin: 0 auto 180px auto;
  background: url('../img/branch.svg') no-repeat center / cover;
}

@media screen and ($tablet-widths) {
  .find__text {
    width: 600px;
  }
}

@media screen and ($mobile-widths) {
  .find {
    padding: 50px 0;
  }
  
  .find__name {
    font-size: 35px;
  }
  
  .find__text {
    width: auto;
  }
  
  .find__branch {
    margin: 0 auto 80px auto;
  }
}