.help {
  padding: 170px 0; 
}

.help__content {
  width: 900px;
  margin: auto;
  padding: 150px 0 0 0;
  background: url('../img/help-icon.svg') no-repeat top / 90px;
  text-align: center;
}

.help__name {
  margin: 0 0 30px 0;
  color: #323232;
  font-size: 56px;
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
  text-transform: uppercase;
}

.help__text {
  margin: 0 0 55px 0;
  color: #636363;
  font-size: 16px;
  font-weight: 400;
}

.help__button {
  margin: auto;
}

@media screen and ($tablet-widths) {
  .help__content {
    max-width: 500px;
  }
}

@media screen and ($mobile-widths) {
  .help {
    padding: 50px 0;
  }
  
  .help__content {
    width: auto;
  }
  
  .help__name {
    font-size: 35px;
  }
}