.modal {
  position: fixed;
  // top: 130px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 1170px;
  // box-sizing: border-box;
  box-shadow: 2px 0 60px #828282;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  
  &--inactive {
    top: -1000px;
  }
  
  &--active {
    top: 50%;
  }
}

.modal__left,
.modal__right {
  width: 50%;
}

.modal__left {
  background: url('../img/modal-left.jpg') no-repeat center / cover;
}

.modal__right {
  position: relative;
  padding: 55px 100px 35px 100px;
  box-sizing: border-box;
  background: #FCFCFC;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  font-size: 0;
  border: none;
  background: url('../img/close.svg') no-repeat center / cover;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__name {
  margin: 0 0 30px 0;
  color: #171A36;
  font-size: 36px;
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
  text-align: center;
}

.modal__input {
  margin: 0 0 25px 0;
  padding: 15px 20px;
  color: #171A36;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #0F0F0F;
  border-radius: 5px;
  background: #fff;
  outline: none;
  
  &:last-of-type {
    margin: 0 0 35px 0;
  }
  
  &::placeholder {
    color: #CBCBCB;
    font-size: 16px;
    font-weight: 400;
  }
  
  &--register {
    width: 100%;
    box-sizing: border-box;
    
    &:last-of-type {
      margin: 0 0 25px 0;
    }
  }
}

.modal__password {
  position: relative;
}

.modal__show {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 27px;
  height: 16px;
  border: none;
  background: url('../img/eye.svg') no-repeat center / cover;
  cursor: pointer;
}

.modal__forgot {
  margin: 0 0 45px 0;
  color: #CBCBCB;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.modal__agree {
  margin: -10px 0 45px 0;
  color: #CBCBCB;
  font-size: 12px;
  font-weight: 400;
}

.modal__submit {
  margin: 0 auto 80px auto;
}

.modal__social {
  margin: 0 0 145px 0;
}

.modal__another {
  display: block;
  margin: 0 0 30px 0;
  color: #171A36;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.modal__flex {
  display: flex;
  justify-content: space-between;
}

.modal__link {
  padding: 15px 0 15px 68px;
  color: #CBCBCB;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  
  &--facebook {
    background: url('../img/facebook.svg') no-repeat left;
  }
  
  &--google {
    background: url('../img/google-plus.svg') no-repeat left;
  }
  
  &--cta {
    padding: 0;
    text-decoration: underline;
  }
}

.modal__cta {
  margin: 0;
  color: #171A36;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.modal__overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  
  &--inactive {
    z-index: -1;
  }
  
  &--active {
    background: #fff;
    z-index: 1;
  }
}

@media screen and ($tablet-widths) {
  .modal {
    width: 95%;
    
    &--active {
      position: absolute;
      top: 130px;
      transform: translateX(-50%);
    }
  }
  
  .modal__right {
    padding: 55px 50px 35px 50px;
  }
  
  .modal__link {
    padding: 5px 0 5px 40px;
    
    &--cta {
      padding: 0;
    }
  }
  
  .modal__cta {
    font-size: 15px;
  }
}

@media screen and ($mobile-widths) {
  .modal__left {
    display: none;
  }
  
  .modal__left,
  .modal__right {
    width: 100%;
  }
  
  .modal__social {
    margin: 0 0 50px 0;
  }
  
  .modal__flex {
    flex-wrap: wrap;
  }
  
  .modal__link {
    
    &--facebook,
    &--google {
      margin: 0 0 10px 0;
    }
  }
}