body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Text', 'Arial' sans-serif; }

.container {
  width: 1100px;
  margin: auto; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Regular"), local("SFUIText-Regular"), url("../fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Bold"), local("SFUIText-Bold"), url("../fonts/SFUIText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.header {
  height: 85px;
  background: #0b1930; }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0; }

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 200px;
  padding-left: 0;
  list-style: none; }

.header__nav a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header__nav a:hover {
    color: #f7c113; }

.header__user ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 160px;
  padding-left: 0;
  list-style: none; }

.header__user a {
  color: #f7c113;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header__user a:hover {
    color: #fff; }

.title {
  background: url("../img/title-bg.png") no-repeat top;
  background-size: cover; }
  .title h3 {
    color: #fff;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }

.title__logo {
  display: block;
  margin: auto;
  padding-top: 50px; }

.title__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: -50px;
  padding-bottom: 50px; }

.title__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 200px;
  height: 150px;
  padding-top: 200px;
  color: #fff;
  text-align: center; }
  .title__box b {
    font-size: 30px; }
  .title__box a {
    width: 60px;
    padding: 5px 0;
    margin: auto;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #f7c107;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .title__box a:hover {
      background: #f7c107; }
  .title__box p {
    margin: 0;
    font-size: 20px;
    font-weight: bold; }

.title__box--bitcoin {
  background: url("../img/title-bitcoin.png") no-repeat top; }

.title__box--ethereum {
  background: url("../img/title-ethereum.png") no-repeat top; }

.info {
  text-align: center; }
  .info p {
    width: 350px;
    font-weight: bold;
    opacity: 0.7; }

.info__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0; }

.traders {
  color: #fff;
  background: #0038b8;
  text-align: center; }
  .traders h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    font-size: 30px;
    text-transform: uppercase; }
  .traders p {
    padding-bottom: 50px;
    font-weight: bold; }

.exchange label {
  color: #0038b8;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }

.exchange input {
  width: 250px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px; }

.exchange input::-webkit-input-placeholder {
  text-align: right; }

.exchange input:-ms-input-placeholder {
  text-align: right; }

.exchange input::-ms-input-placeholder {
  text-align: right; }

.exchange input::placeholder {
  text-align: right; }

.exchange__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.exchange__flex--first {
  padding: 100px 0; }

.exchange__flex--second {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 100px; }

.exchange__first,
.exchange__third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.exchange__second {
  -ms-flex-item-align: center;
  align-self: center; }
  .exchange__second button {
    width: 46px;
    height: 33px;
    border: none;
    background: url("../img/ex-arrow.png"); }

.exchange__fourth button {
  padding: 15px 40px;
  color: #0038b8;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: #f7c107; }

.exchange__left {
  color: #0038b8;
  font-weight: bold;
  text-transform: uppercase; }
  .exchange__left p {
    margin: 0; }

.exchange__middle {
  width: 200px;
  height: 139px;
  background: url("../img/ex-card.png") no-repeat top;
  background-size: cover; }

.exchange__right {
  font-weight: bold;
  text-align: right;
  text-transform: uppercase; }
  .exchange__right b {
    color: #0038b8; }
  .exchange__right p {
    opacity: 0.7; }

.business {
  text-align: center;
  background: #0038b8; }
  .business h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase; }
  .business p {
    margin-bottom: 0;
    padding-bottom: 50px;
    color: #fff;
    font-weight: bold; }

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 100px 0; }

.contact__left input,
.contact__center input {
  width: 250px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px; }

.contact__right button {
  padding: 15px 40px;
  color: #0038b8;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: #f7c107; }

.media h3 {
  margin-top: 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase; }

.media__img {
  width: 968px;
  height: 350px;
  margin: auto;
  margin-top: -140px;
  padding-bottom: 100px;
  background: url("../img/media.png"); }

.footer {
  background: #0b1930; }

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 50px 0; }

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .footer__box b {
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold; }
  .footer__box a {
    margin-bottom: 5px;
    color: #8d8a91;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer__box a:hover {
      color: #f7c107; }
