.account-types__flex {
  display: flex;
  justify-content: space-between;
  margin: 0 0 70px 0;
}

.account-types__box {
  position: relative;
  width: 240px;
  padding: 70px 15px 100px 15px;
  border-bottom-right-radius: 30px;
  transition: 0.3s linear;
  
  h2 {
    margin: 0 0 25px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    margin: 0 0 40px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  
  b {
    display: block;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
  }
  
  hr {
    width: 30px;
    height: 1px;
    margin: 20px auto !important;
    border: none;
    background: $mc !important;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      line-height: 40px;
      
      span {
        font-weight: 700;
      }
    }
  }
  
  a {
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: block;
    width: 170px;
    margin: auto;
    padding: 10px 0;
    color: $sc;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background: $mc;
    transform: translateX(-50%);
  }
  
  &--mini {
    background: $sc url('../img/account-mini.png') no-repeat top;
  }
  
  &--silver {
    background: $sc url('../img/account-silver.png') no-repeat top;
  }
  
  &--gold {
    background: $sc url('../img/account-gold.png') no-repeat top;
  }
  
  &--zulu {
    background: $sc url('../img/account-zulutrade.png') no-repeat top;
  }
  
  &:hover {
    // width: 300px;
    transform: scale(1.03);
  }
}

.account-types__risk {
  margin: 0;
  color: $sc;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

@media screen and ($tablet-widths) {
  .account-types {
    padding: 200px 0 70px 0;
  }
  
  .account-types__text {
    padding: 0 15px;
  }
  
  .account-types__flex {
    flex-wrap: wrap;
  }
  
  .account-types__box {
    margin: 0 auto 10px;
  }
}

@media screen and ($mobile-widths) {
  .account-types {
    padding: 100px 0 70px 0;
  }
  
  .account-types__name {
    margin: 0 0 20px 0;
    font-size: 40px;
  }
}