.call {
  margin-bottom: 100px;
}

.call__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $text;
  font-size: 25px;
  font-weight: 700;
}

.call__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call__column {
  width: 570px;
}

.call__subtitle {
  margin-top: 0;
  margin-bottom: 25px;
  color: $text;
  font-size: 25px;
  font-weight: 500;
}

.call__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 570px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.call__item {
  width: 175px;
  margin-bottom: 30px;
}

.call__city {
  display: block;
  margin-bottom: 5px;
  color: $red;
  font-size: 24px;
  font-weight: 700;
}

.call__date {
  display: block;
  margin-bottom: 5px;
  color: $text;
  font-size: 18px;
  font-weight: 500;
}

.call__location {
  margin-top: 0;
  margin-bottom: 5px;
  color: $text;
  font-size: 16px;
  font-weight: 300;
}

.call__request {
  padding-right: 40px;
  color: $red;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background-image: url('../img/svg/arrow.svg');
  background-repeat: no-repeat;
  background-position: right;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    padding-right: 50px;
  }
}