.group {
  margin-bottom: 70px;
}

.group__wrapper {
  background-image: url('../img/group-bg.png');
  background-repeat: no-repeat;
  background-position: left;
}

.group__content {
  width: 570px;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.group__title {
  margin-top: 0;
  margin-bottom: 25px;
  color: $text;
  font-size: 35px;
  font-weight: 900;
}

.group__text {
  margin-bottom: 20px;
  color: $text;
  font-size: 16px;
  font-weight: 300;
}

.group__list {
  list-style-image: url('../img/svg/li.svg');
}

.group__item {
  margin-bottom: 10px;
  color: $text;
  font-size: 16px;
  font-weight: 300;
  
  &:last-child {
    margin-bottom: 25px;
  }
}

@media screen and ($tablet-widths) {
  .group {
    margin-bottom: 50px;
  }
  
  .group__wrapper {
    background-position: center 150px;
  }
  
  .group__content {
    margin: auto;
  }
  
  .group__title {
    padding-bottom: 460px;
  }
}

@media screen and ($mobile-widths) {
  .group__wrapper {
    background-position: center 120px;
    background-size: 290px;
  }
  
  .group__content {
    width: auto;
  }
  
  .group__title {
    padding-bottom: 250px;
    font-size: 23px;
  }
}