.short {
  margin-bottom: 100px;
}

.short__wrapper {
  background-image: url('../img/short-bg.png');
  background-repeat: no-repeat;
  background-position: left;
}

.short__content {
  width: 570px;
  margin-left: auto;
}

.short__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $text;
  font-size: 35px;
  font-weight: 900;
}

.short__list {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-position: inside;
  list-style-image: url('../img/svg/li.svg');
}

.short__item {
  margin-bottom: 15px;
  color: $text;
  font-size: 16px;
  font-weight: 300;
  
  &:last-child {
    margin-bottom: 0;
  }
}