.title {
  margin-bottom: 150px;
  padding-top: 15px;
}

.title__wrapper {  
  background-image: url('../img/title-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}

.title__logo {
  margin-bottom: 40px;
}

.title__title {
  width: 570px;
  margin-top: 0;
  margin-bottom: 15px;
  color: $red;
  font-size: 40px;
  font-weight: 900;
}

.title__subtitle {
  margin-bottom: 40px;
  color: $text;
  font-size: 20px;
  font-weight: 500;
}

.title__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 570px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.title__item {
  width: 170px;
  margin-bottom: 30px;
}

.title__city {
  display: block;
  margin-bottom: 10px;
  color: $text;
  font-size: 24px;
  font-weight: 700;
}

.title__date {
  margin-top: 0;
  margin-bottom: 10px;
  color: $text;
  font-size: 16px;
  font-weight: 500;
}

.title__request {
  padding-right: 40px;
  color: $red;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background-image: url('../img/svg/arrow.svg');
  background-repeat: no-repeat;
  background-position: right;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    padding-right: 50px;
  }
}

@media screen and ($tablet-widths) {
  .title {
    margin-bottom: 50px;
  }
  
  .title__wrapper {
    padding-bottom: 500px;
    background-position: bottom;
  }
  
  .title__title {
    width: auto;
    text-align: center;
  }
  
  .title__subtitle {
    text-align: center;
  }
  
  .title__list {
    margin: auto;
  }
}

@media screen and ($mobile-widths) {
  .title__logo {
    margin-bottom: 15px;
  }
  
  .title__wrapper {
    padding-bottom: 250px;
    background-size: 290px;
  }
  
  .title__title {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: left;
  }
  
  .title__subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: left;
  }
  
  .title__list {
    width: auto;
  }
  
  .title__item {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .title__city {
    margin-bottom: 5px;
    font-size: 22px;
  }
  
  .title__date {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .title__request {
    font-size: 16px;
  }
}