body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Text', 'Arial' sans-serif; }

.container {
  width: 70%;
  margin: auto; }

@media screen and (max-width: 1200px) {
  .container {
    width: 96%; } }

@media screen and (max-width: 768px) {
  .container {
    width: 98%; } }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Semibold"), local("SFUIText-Semibold"), url("../fonts/SFUIText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Regular"), local("SFUIText-Regular"), url("../fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Bold"), local("SFUIText-Bold"), url("../fonts/SFUIText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Light"), local("SFUIText-Light"), url("../fonts/SFUIText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Heavy"), local("SFUIText-Heavy"), url("../fonts/SFUIText-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: local("SF UI Text Medium"), local("SFUIText-Medium"), url("../fonts/SFUIText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.page-header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.page-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 35px 0;
  list-style: none; }

.page-header__item {
  margin-right: 10px; }
  .page-header__item a {
    color: #2e2963;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .page-header__item a:hover {
      color: #f2c318;
      border-bottom: 1px solid #f2c318; }

.page-header__item--active {
  color: #f2c318 !important;
  border-bottom: 1px solid #f2c318; }

.page-header__link {
  padding: 10px 25px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .page-header__link:hover {
    color: #2e2963;
    background: #f2c318; }

.page-header__link--violet {
  margin-right: 10px;
  background: #2e2963; }

.page-header__link--black {
  background: #1a1a1a; }

.page-header__toggle {
  display: none; }

@media screen and (max-width: 1200px) {
  .page-header__item a {
    font-size: 14px; }
  .page-header__link {
    padding: 10px 15px; }
  .page-header__link--violet {
    margin-right: 5px; } }

@media screen and (max-width: 768px) {
  .page-header__main-nav {
    height: 50px; }
  .page-header__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .page-header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .page-header__item {
    margin-bottom: 10px; }
  .page-header__main-nav {
    position: relative; }
  .page-header__toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .page-header__toggle:hover {
      background-color: #2e2963; }
  .page-header__main-nav--closed .page-header__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 13px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 00 #fff, 0 16px 00 #fff;
    box-shadow: 0 8px 00 #fff, 0 16px 00 #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .page-header__main-nav--closed .page-header__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 0 rgba(255, 255, 255, 0.3), 0 16px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 rgba(255, 255, 255, 0.3), 0 16px 0 rgba(255, 255, 255, 0.3); }
  .page-header__main-nav--opened .page-header__toggle {
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 20; }
    .page-header__main-nav--opened .page-header__toggle::before, .page-header__main-nav--opened .page-header__toggle::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 8px;
      width: 25px;
      height: 2px;
      background-color: #fff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s; }
    .page-header__main-nav--opened .page-header__toggle::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .page-header__main-nav--opened .page-header__toggle::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .page-header__main-nav--opened .page-header__toggle:active::before, .page-header__main-nav--opened .page-header__toggle:active::after {
      background-color: rgba(255, 255, 255, 0.3); }
  .page-header__main-nav--closed .page-header__item {
    display: none; }
    .page-header__main-nav--closed .page-header__item--active {
      display: block;
      text-align: center; }
  .page-header__main-nav--closed .page-header__user-menu {
    display: none; }
  .page-header__main-nav--opened .container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 310px;
    background-color: white;
    -webkit-animation: menu-opened 0.5s;
    animation: menu-opened 0.5s; }
  .page-header__main-nav--nojs .page-header__toggle {
    display: none; }
  .page-header__main-nav--nojs .container {
    position: static;
    height: auto; }
  .page-header__main-nav--nojs .page-header__item {
    display: block; }
    .page-header__main-nav--nojs .page-header__item--active {
      text-align: left; }
  .page-header__main-nav--nojs .page-header__user-menu {
    display: block;
    background-color: #6a4d38; }
  @-webkit-keyframes menu-opened {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); } }
  @keyframes menu-opened {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); } } }

.slider p {
  color: white;
  font-size: 30px;
  font-weight: bold; }

.slider a {
  padding: 10px 30px;
  color: #2e2963;
  font-weight: bold;
  text-decoration: none;
  background: #f2c318;
  border: 1px solid #f2c318;
  -webkit-box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .slider a:hover {
    color: #f2c318;
    background: transparent; }

.slider__slide {
  height: 500px; }

.slider__slide--one {
  background: url("../img/slider-f.png") no-repeat center;
  background-size: cover; }

.slider__slide--two {
  background: url("../img/slider-s.png") no-repeat center;
  background-size: cover; }

.slider__slide--three {
  background: url("../img/slider-t.png") no-repeat center;
  background-size: cover; }

.slider__slide--four {
  background: url("../img/slider-a.png") no-repeat center;
  background-size: cover; }

.slick-dots {
  bottom: 20px; }

.slick-dots li button {
  border-radius: 50%; }

.slick-dots li button:before {
  content: '';
  width: 12px;
  height: 12px;
  background: white;
  opacity: 1;
  border-radius: 50%; }

.slick-dots li.slick-active button:before {
  background: #eeba1d;
  opacity: 1; }

@media screen and (max-width: 1200px) {
  .slider p {
    font-size: 20px; }
  .slider img {
    width: 350px; }
  .slider__slide {
    height: 400px; } }

@media screen and (max-width: 768px) {
  .slider {
    text-align: center; }
    .slider p {
      font-size: 18px; }
    .slider img {
      width: 300px;
      margin: auto; }
    .slider a {
      padding: 6px 15px; }
  .slider__slide {
    height: 350px; }
  .slick-dots {
    bottom: -25px; }
  .slick-dots li button::before {
    border: 1px solid gray;
    opacity: 0.3; }
  .slick-dots li.slick-active button:before {
    border: 1px solid #f2c318; } }

.online h2 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.online p {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.7; }

.online__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 30px; }

.online__box {
  padding-top: 165px;
  text-align: center;
  text-transform: uppercase; }
  .online__box b {
    font-size: 17px; }
  .online__box p {
    font-size: 13px;
    text-transform: none; }
  .online__box a {
    padding: 5px 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    background: #2e2963;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .online__box a:hover {
      color: #2e2963;
      background: #f2c318; }

.online__box--zulu {
  background: url("../img/online-1.png") no-repeat top; }

.online__slider {
  display: none; }

@media screen and (max-width: 1200px) {
  .online h2 {
    margin-top: 50px;
    font-size: 30px; } }

@media screen and (max-width: 768px) {
  .online__flex {
    display: none; }
  .online__slider {
    display: block;
    margin-top: 50px; }
    .online__slider .slick-dots {
      bottom: 25px; }
    .online__slider .slick-dots li.slick-active button:before {
      background: #2e2963;
      opacity: 1; }
    .online__slider .slick-dots li.slick-active button:before {
      border: 1px solid #2e2963; } }

.global {
  min-height: 610px;
  background: url("../img/global.png") no-repeat;
  background-size: cover; }
  .global p {
    margin-top: 0;
    color: white;
    font-size: 25px;
    font-weight: bold; }
  .global a {
    padding: 10px 30px;
    color: #2e2963;
    font-weight: bold;
    text-decoration: none;
    background: #f2c318;
    border: 1px solid #f2c318;
    -webkit-box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .global a:hover {
      color: #f2c318;
      background: transparent; }

.global__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 140px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase; }

.global__list {
  margin-top: 50px;
  padding-left: 25px;
  padding-bottom: 70px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  list-style-image: url("../img/li.png"); }
  .global__list li {
    margin-bottom: 10px; }

@media screen and (max-width: 1200px) {
  .global {
    min-height: 610px;
    background: url("../img/global.png") no-repeat top; }
  .global__title {
    padding-top: 110px; } }

@media screen and (max-width: 768px) {
  .global {
    min-height: 500px;
    margin-top: -50px;
    text-align: center;
    background: url("../img/global.png") no-repeat; }
    .global p {
      font-size: 16px; }
    .global a {
      margin-top: 70px; }
  .global__title {
    font-size: 50px; }
  .global__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 30px;
    font-size: 14px;
    text-align: left; } }

.trading {
  min-height: 550px;
  background: url("../img/trading-bg.png") no-repeat bottom; }

.trading__title {
  margin-top: 60px;
  padding: 10px 50px;
  color: white;
  font-size: 30px;
  background: #2e2963;
  text-align: center; }

@media screen and (max-width: 1200px) {
  .trading__title {
    margin-top: 30px;
    font-size: 20px; } }

.sign {
  text-align: center;
  text-transform: uppercase;
  background: #2e2963 url("../img/sign-bg.png") no-repeat;
  background-size: cover; }

.sign__title {
  padding-top: 50px;
  margin-bottom: 0;
  color: white;
  font-size: 30px;
  font-weight: bold; }

.sign__text {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold; }

.sign__input {
  width: 430px;
  margin-bottom: 60px;
  padding: 10px; }

.sign__input::-webkit-input-placeholder {
  color: black;
  opacity: 0.9;
  text-transform: uppercase; }

.sign__input:-ms-input-placeholder {
  color: black;
  opacity: 0.9;
  text-transform: uppercase; }

.sign__input::-ms-input-placeholder {
  color: black;
  opacity: 0.9;
  text-transform: uppercase; }

.sign__input::placeholder {
  color: black;
  opacity: 0.9;
  text-transform: uppercase; }

@media screen and (max-width: 768px) {
  .sign__input {
    width: 80%; } }

.center {
  min-height: 800px;
  background: url("../img/center-bg.png") center;
  background-size: cover; }
  .center h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }

.scroll__first {
  min-height: 470px;
  background: url("../img/scroll-f.png") no-repeat top;
  background-size: cover;
  background-attachment: fixed; }

.scroll__second {
  min-height: 470px;
  background: url("../img/scroll-s-n.png") no-repeat top;
  background-size: cover;
  background-attachment: fixed; }
  .scroll__second p {
    margin-top: 0;
    color: #fff;
    font-size: 20px; }
  .scroll__second a {
    padding: 10px 30px;
    color: #2e2963;
    font-weight: bold;
    text-decoration: none;
    background: #f2c318;
    border: 1px solid #f2c318;
    -webkit-box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .scroll__second a:hover {
      color: #f2c318;
      background: transparent; }

.scroll__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 50px 0; }

.scroll__box {
  text-align: center; }
  .scroll__box b {
    font-weight: bold;
    text-transform: uppercase; }
  .scroll__box p {
    padding-bottom: 20px;
    font-size: 13px;
    opacity: 0.8; }
  .scroll__box a {
    padding: 5px 15px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: #2e2963;
    text-transform: uppercase;
    text-decoration: none; }

.scroll__title {
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase; }

.scroll__list {
  margin-top: 50px;
  padding-left: 25px;
  padding-bottom: 30px;
  color: white;
  font-size: 18px;
  list-style-image: url("../img/li.png"); }
  .scroll__list li {
    margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  .scroll__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .scroll__box {
    margin-bottom: 35px; }
  .scroll__box--mb {
    margin-bottom: 0; }
  .scroll__second {
    min-height: 440px;
    background: url("../img/scroll-s-n.png") no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    text-align: center; }
    .scroll__second p {
      margin-top: 0;
      color: #fff;
      font-size: 17px; }
    .scroll__second a:hover {
      color: #f2c318;
      background: transparent;
      border: 1px solid #f2c318; }
  .scroll__title {
    font-weight: 700; }
  .scroll__list {
    font-size: 15px;
    text-align: left; } }

.page-footer {
  color: white;
  border-style: solid;
  border-width: 3px 0px 0px;
  -o-border-image: url("../img/footer-gold.png") 3 0 0 repeat;
  border-image: url("../img/footer-gold.png") 3 0 0 repeat;
  background: #323232; }
  .page-footer b {
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.8; }
  .page-footer p {
    margin-top: 0;
    font-size: 11px; }
  .page-footer a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .page-footer a:hover {
      color: #f2c318; }

.container--width {
  width: 1350px; }

.page-footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 35px; }

.page-footer__right-column {
  width: 1150px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.page-footer__facebook {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  background: url("../img/fb.png") no-repeat left; }
  .page-footer__facebook:hover {
    background: url("../img/fb-h.png") no-repeat left; }

.page-footer__linked {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  background: url("../img/link.png") no-repeat left; }
  .page-footer__linked:hover {
    background: url("../img/link-h.png") no-repeat left; }

.page-footer__twitter {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  background: url("../img/tw.png") no-repeat left; }
  .page-footer__twitter:hover {
    background: url("../img/tw-h.png") no-repeat left; }

.page-footer__google {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  background: url("../img/go.png") no-repeat left;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .page-footer__google:hover {
    background: url("../img/go-h.png") no-repeat left; }

.page-footer__right-column--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .page-footer__right-column--flex b {
    font-size: 12px; }

.page-footer__link {
  height: 20px;
  padding: 5px 20px;
  color: #323232 !important;
  font-weight: bold;
  background: #f2c318;
  border-radius: 20px;
  text-transform: uppercase;
  vertical-align: middle; }

.page-footer__contact {
  margin-right: 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.page-footer__text {
  padding-top: 10px; }

.page-footer__copyright {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center; }
  .page-footer__copyright p {
    font-size: 14px; }

@media screen and (max-width: 1200px) {
  .container--width {
    width: 95%; }
  .page-footer b {
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  .page-footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .page-footer a {
    margin-right: 0; }
  .page-footer__left-column,
  .page-footer__contact {
    text-align: center; }
  .page-footer__right-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    margin-top: 15px;
    text-align: justify; }
  .page-footer__contact {
    margin: 10px 0; }
  .page-footer__link {
    margin-bottom: 20px; }
  .page-footer__right-column--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: auto;
    padding-top: 15px;
    text-align: left; }
    .page-footer__right-column--link a {
      margin-bottom: 10px; } }

.page-header__sub-menu {
  height: 120px;
  border-top: 10px solid #2b2154;
  background: #4b426d; }
  .page-header__sub-menu p {
    margin-top: 40px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase; }

.account p {
  margin-top: 40px;
  color: #000e55;
  font-size: 18px;
  text-align: center; }

.page-header--account {
  position: relative;
  background: #fff;
  z-index: 10; }

.page-header__sub-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.page-header__sub-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: -460px;
  left: 150px;
  width: auto;
  height: 480px;
  margin-left: 100px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 5; }
  .page-header__sub-box:hover {
    -webkit-transform: translateY(460px);
    transform: translateY(460px); }
  .page-header__sub-box a {
    padding: 15px 30px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .page-header__sub-box a:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  .page-header__sub-box::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -70px;
    width: 50%;
    height: 70px;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(50.7%, #000));
    background: linear-gradient(to top right, transparent 50%, #000 50.7%);
    opacity: 0.7; }
  .page-header__sub-box::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -70px;
    width: 50%;
    height: 70px;
    background: -webkit-gradient(linear, right bottom, left top, color-stop(50%, transparent), color-stop(50.7%, #000));
    background: linear-gradient(to top left, transparent 50%, #000 50.7%);
    opacity: 0.7; }

.page-header__logo-menu:hover {
  -webkit-transform: none !important;
  transform: none !important; }

.page-header__arrow {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  display: block;
  width: 38px;
  height: 38px;
  margin: auto;
  border: none;
  background: url("../img/acc-elipse.png") no-repeat center, url("../img/acc-arrow.png") no-repeat 12px 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  z-index: 5; }
  .page-header__arrow:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.account__types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 100px; }

.account__box {
  position: relative;
  width: 250px;
  margin-bottom: 70px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(2, 2, 2, 0.35);
  box-shadow: 0px 0px 7px 0px rgba(2, 2, 2, 0.35);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .account__box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .account__box header {
    height: 65px;
    margin-bottom: 20px;
    padding-top: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background: #2e2963;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .account__box header p {
      margin: 0;
      padding: 10px 0;
      font-size: 10px;
      font-weight: bold;
      color: #fff; }
  .account__box p {
    margin: 0;
    padding: 10px;
    font-size: 13px;
    font-weight: bold; }
  .account__box footer {
    background: #2e2963; }
    .account__box footer a {
      display: block;
      padding: 15px 10px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .account__box footer a:hover {
        color: #2e2963;
        background: #f2c318; }

.account__popular {
  position: absolute;
  top: -49px;
  left: 20px;
  width: 210px;
  height: 49px;
  background: url("../img/acc-popular.png"); }

.account__box--bronze footer {
  margin-top: 110px; }

.account__box--bronze:hover header {
  background: #999999; }

.account__box--silver footer {
  margin-top: 20px; }

.account__box--silver:hover header {
  background: #999999; }

.account__box--gold {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .account__box--gold footer {
    margin-top: 5px; }
  .account__box--gold:hover header {
    background: #999999; }

.account__box--free {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .account__box--free footer {
    margin-top: 5px; }
  .account__box--free:hover header {
    background: #999999; }

.account__box--zulu {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .account__box--zulu footer {
    margin-top: 150px; }
  .account__box--zulu:hover header {
    background: #999999; }

.account__pay {
  background: #2e2963; }
  .account__pay img {
    display: block;
    max-width: 100%;
    margin: auto;
    padding: 30px 0; }

@media screen and (max-width: 1200px) {
  .page-header__sub-menu {
    height: 100px; }
    .page-header__sub-menu p {
      margin-top: 25px;
      font-size: 20px; } }

@media screen and (max-width: 768px) {
  .page-header__sub-flex {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .page-header__sub-menu p {
    margin-top: 35px; }
  .page-header__sub-box {
    left: auto;
    right: 0; }
  .account__types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 50px; } }
