body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Text', 'Arial' sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

.container--features {
  width: 75%;
  margin: auto;
}

@media screen and ($tablet-widths) {
  .container {
    width: 96%;
  }
  
  .container--temp {
    width: 80%;
    margin: 0 0 0 auto;
  }
  
  .container--features {
    width: 50%;
    margin: 0 auto 0 30px;
  }
  
  .container--trader {
    width: 80%;
    margin: 0 auto 0 30px;
  }
}

@media screen and ($mobile-widths) {
  .container {
    width: 98%;
  }
  
  .container--features,
  .container--trader,
  .container--temp {
    width: 96%;
    margin: auto;
  }
}