body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Text', 'Arial' sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

.container--temp {
  width: 50%;
  margin: auto;
}

@media screen and ($tablet-widths) {
  .container {
    width: 96%;
  }
}

@media screen and ($mobile-widths) {
  .container {
    width: 98%;
  }
}