@charset "UTF-8";
@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-HeavyItalic.eot");
  src: local("SF UI Text Heavy Italic"), local("SFUIText-HeavyItalic"), url("../fonts/SFUIText-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff"), url("../fonts/SFUIText-HeavyItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-LightItalic.eot");
  src: local("SF UI Text Light Italic"), local("SFUIText-LightItalic"), url("../fonts/SFUIText-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-LightItalic.woff") format("woff"), url("../fonts/SFUIText-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-MediumItalic.eot");
  src: local("SF UI Text Medium Italic"), local("SFUIText-MediumItalic"), url("../fonts/SFUIText-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-MediumItalic.woff") format("woff"), url("../fonts/SFUIText-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Semibold.eot");
  src: local("SF UI Text Semibold"), local("SFUIText-Semibold"), url("../fonts/SFUIText-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Semibold.woff") format("woff"), url("../fonts/SFUIText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Regular.eot");
  src: local("SF UI Text Regular"), local("SFUIText-Regular"), url("../fonts/SFUIText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-BoldItalic.eot");
  src: local("SF UI Text Bold Italic"), local("SFUIText-BoldItalic"), url("../fonts/SFUIText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-BoldItalic.woff") format("woff"), url("../fonts/SFUIText-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Bold.eot");
  src: local("SF UI Text Bold"), local("SFUIText-Bold"), url("../fonts/SFUIText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Bold.woff") format("woff"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Light.eot");
  src: local("SF UI Text Light"), local("SFUIText-Light"), url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Heavy.eot");
  src: local("SF UI Text Heavy"), local("SFUIText-Heavy"), url("../fonts/SFUIText-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Heavy.woff") format("woff"), url("../fonts/SFUIText-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Medium.eot");
  src: local("SF UI Text Medium"), local("SFUIText-Medium"), url("../fonts/SFUIText-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Medium.woff") format("woff"), url("../fonts/SFUIText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-Italic.eot");
  src: local("SF UI Text Italic"), local("SFUIText-Italic"), url("../fonts/SFUIText-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Italic.woff") format("woff"), url("../fonts/SFUIText-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'SF UI Text';
  src: url("../fonts/SFUIText-SemiboldItalic.eot");
  src: local("SF UI Text Semibold Italic"), local("SFUIText-SemiboldItalic"), url("../fonts/SFUIText-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-SemiboldItalic.woff") format("woff"), url("../fonts/SFUIText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Text', 'Arial' sans-serif; }

.container {
  width: 65%;
  margin: 0 auto; }

.page-header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.page-header__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 30px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  border: 5px solid #fff; }

input {
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  outline: none; }

input[type="checkbox"] {
  width: 18px;
  margin: 0;
  cursor: pointer; }

select {
  height: 42px;
  padding: 0 20px;
  padding-left: 15px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid #fff;
  background: rgba(0, 174, 239, 0.7);
  outline: none; }

input[type="submit"] {
  margin: 0 auto;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

input[type="submit"]:hover {
  color: #fff;
  background: #070055;
  border: 2px solid #070055; }

label {
  font-size: 18px;
  cursor: pointer; }

input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase; }

input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase; }

input::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase; }

input::placeholder {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase; }

form p {
  margin-bottom: 0;
  text-align: center; }

form a {
  font-weight: bold;
  text-decoration: none; }

.page-header__login input[type="checkbox"] {
  margin-bottom: 10px; }

.page-header__login label {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 22px; }

.page-header__login .page-header__checkbox {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.page-header__login p {
  margin-bottom: 0; }

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .page-header__form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px; }
  input {
    width: 85%;
    height: 30px;
    padding: 0 20px;
    font-size: 16px; }
  select {
    width: 99%;
    height: 32px;
    padding: 0 15px; }
  label {
    padding-left: 10px;
    font-size: 14px; } }

/* Smartphones (горизонтальная) ----------- */
/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .page-header__form {
    margin-top: 30px; }
  input {
    width: 85%;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 20px;
    font-size: 16px; }
  input::-webkit-input-placeholder {
    font-size: 13px; }
  input:-ms-input-placeholder {
    font-size: 13px; }
  input::-ms-input-placeholder {
    font-size: 13px; }
  input::placeholder {
    font-size: 13px; }
  input[type="checkbox"] {
    width: 15px; }
  label {
    font-size: 16px; }
  select {
    height: 35px;
    padding: 1px 20px;
    font-size: 14px; }
  form p {
    text-align: center; } }

/* iPads (вертикальная и горизонтальная) ----------- */
.page-header {
  min-height: 730px;
  background: #070055 url("../img/header.jpg") top;
  background-size: cover; }

.page-header__logo {
  margin-top: 20px; }

.page-header__logo-s {
  display: none; }

.page-header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.page-header__head {
  padding-top: 25px; }

.page-header__nav {
  min-height: 80px;
  background: #070055; }

.page-header__main-nav--s {
  display: none; }

.page-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 400px;
  margin-top: 27px;
  padding-left: 0;
  list-style: none; }

.page-header__item a {
  padding: 5px 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.page-header__item a:hover {
  color: #070055;
  background: #fff; }

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .page-header__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .container {
    width: 95%; }
  .page-header__logo {
    margin-top: 20px; }
  .page-header__logo-b {
    display: none; }
  .page-header__logo-s {
    display: block; }
  .page-header__nav {
    min-height: 125px; }
  .page-header__item {
    margin-right: 10px; }
  .page-header__item a {
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .page-header__main-nav {
    display: none; }
  .page-header__nav-list {
    width: 100%; }
  .page-header__main-nav--s {
    display: block; }
  .page-header__nav--form {
    min-height: 70px; } }

/* Smartphones (горизонтальная) ----------- */
/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .page-header__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .container {
    width: 95%; }
  .page-header {
    min-height: 890px; }
  .page-header__logo {
    margin-top: 20px; }
  .page-header__logo-b {
    display: none; }
  .page-header__logo-s {
    display: block; }
  .page-header__main-nav {
    display: none; }
  .page-header__main-nav--s {
    display: block; }
  .page-header__nav-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
  .page-header__item {
    margin-bottom: 30px; }
  .page-header__nav--form {
    min-height: 70px; } }

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 95%; }
  .page-header__nav-list {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .page-header__item {
    margin-left: 10px; }
  .page-header__item a {
    padding: 5px 10px;
    font-size: 16px; } }

/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* стили */ }

/* iPads (вертикальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* стили */ }

/* iPad 3**********/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */ }

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .container {
    width: 85%; } }

/* Большие экраны ----------- */
@media only screen and (min-width: 1824px) {
  .container {
    width: 70%; } }

/* iPhone 4 ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */ }

/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

/* iPhone 6+ ----------- */
@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* стили */ }

@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* стили */ }

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* стили */ }

.trade {
  background: black; }

.trade__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.trade__left-column,
.trade__right-column {
  color: #fff;
  margin-top: 30px;
  padding-bottom: 30px; }

.trade__left-column {
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase; }

.trade__right-column {
  font-size: 25px; }

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .trade__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .trade__left-column,
  .trade__right-column {
    text-align: center; }
  .trade__left-column {
    font-size: 20px; }
  .trade__right-column {
    font-size: 16px; } }

/* Smartphones (горизонтальная) ----------- */
/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .trade__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .trade__left-column,
  .trade__right-column {
    text-align: center; }
  .trade__left-column {
    font-size: 20px; }
  .trade__right-column {
    font-size: 16px; } }

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .trade__left-column {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 35px; }
  .trade__right-column {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 20px; } }

.edge {
  min-height: 230px; }

.edge__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px; }

.edge__box {
  width: 190px;
  margin-bottom: 40px;
  padding-top: 100px;
  color: #0054a6;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }

.edge__box--e-1 {
  background: url("../img/e-1.png") no-repeat top; }

.edge__box--e-2 {
  background: url("../img/e-2.png") no-repeat top; }

.edge__box--e-3 {
  background: url("../img/e-3.png") no-repeat top; }

.edge__box--e-4 {
  background: url("../img/e-4.png") no-repeat top; }

.edge__box--e-5 {
  background: url("../img/e-5.png") no-repeat top; }

.edge__box:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .edge__flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .edge__box {
    margin-bottom: 30px;
    font-size: 18px; } }

/* Smartphones (горизонтальная) ----------- */
/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .edge__flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .edge__box {
    margin-bottom: 30px;
    font-size: 18px; } }

/* iPads (вертикальная и горизонтальная) ----------- */
/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 1224px) {
  .edge__flex {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

.news {
  min-height: 400px;
  color: #fff;
  background: #00aeef; }
  .news b {
    font-size: 40px;
    font-weight: 100; }
  .news p {
    font-weight: 100; }

.news__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 60px; }

.news__left-column,
.news__middle-column,
.news__right-column {
  width: 30%; }

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .news__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 40px; }
  .news__left-column,
  .news__middle-column,
  .news__right-column {
    width: 100%;
    text-align: center; }
  .news__left-column,
  .news__middle-column {
    margin-bottom: 50px; }
  .news__right-column {
    padding-bottom: 40px; }
  .news__left-column-second,
  .news__middle-column-second {
    margin-bottom: 50px; } }

/* Smartphones (горизонтальная) ----------- */
/* Smartphones (вертикальная) ----------- */
/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .news__flex {
    padding-bottom: 70px; } }

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .news__flex {
    padding-bottom: 70px; } }

.crypto {
  position: relative;
  min-height: 635px;
  background: #000 url("../img/crypto-bg.png") no-repeat bottom;
  background-size: cover;
  border-bottom: 10px solid #e94444; }
  .crypto h1 {
    padding: 10px 0;
    margin-top: 90px;
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    background: #000;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase; }
  .crypto p {
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 75%;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase; }
  .crypto a {
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 10px 60px;
    margin-top: 70px;
    color: #000;
    font-size: 25px;
    font-weight: 400;
    background: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .crypto a:hover {
      color: #00ffff;
      background: #000;
      border: 1px solid #00ffff; }

.container--crypto {
  width: 980px; }

.crypto__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .crypto {
    min-height: 550px; }
    .crypto h1 {
      margin-top: 40px;
      color: #fff;
      font-size: 40px;
      background: transparent; }
    .crypto p {
      -ms-flex-item-align: center;
      align-self: center;
      width: 100%;
      font-size: 20px;
      text-align: center; }
    .crypto a {
      -ms-flex-item-align: center;
      align-self: center;
      margin-top: 50px;
      color: #000;
      font-size: 20px; }
  .container--crypto {
    width: 95%; } }

/* Smartphones (горизонтальная) ----------- */
/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .crypto {
    min-height: 550px; }
    .crypto h1 {
      margin-top: 40px;
      color: #fff;
      font-size: 40px;
      background: transparent; }
    .crypto p {
      -ms-flex-item-align: center;
      align-self: center;
      width: 100%;
      font-size: 20px;
      text-align: center; }
    .crypto a {
      -ms-flex-item-align: center;
      align-self: center;
      margin-top: 50px;
      color: #000;
      font-size: 18px; }
  .container--crypto {
    width: 95%; } }

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container--crypto {
    width: 95%; }
  .crypto h1 {
    margin-top: 50px; }
  .crypto p {
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center; }
  .crypto a {
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 70px; } }

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (max-width: 1224px) {
  .crypto::after {
    display: none; } }

@media only screen and (min-width: 1224px) {
  .crypto::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 550px;
    top: 380px;
    left: 60px;
    background: url("../img/phone-s.png") no-repeat;
    z-index: 2; } }

@media only screen and (min-width: 1824px) {
  .crypto::after {
    width: 600px;
    height: 830px;
    top: 250px;
    left: 100px;
    background: url("../img/phone.png") no-repeat; } }

.trading {
  min-height: 600px;
  background: #00aeef; }
  .trading h2 {
    margin-top: 60px;
    font-size: 40px;
    font-weight: 400;
    font-style: normal; }
  .trading p {
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 70%;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    text-align: right;
    z-index: 3; }

.trading__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.container--trading {
  width: 980px; }

.trading__coin {
  position: relative;
  min-height: 300px;
  margin-top: 120px;
  background: #fff;
  background-size: cover;
  z-index: 1; }

.trading__coin::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100px;
  width: 50%;
  height: 100px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
  background: linear-gradient(to bottom right, transparent 50%, #fff 50.7%); }

.trading__coin::after {
  content: "";
  position: absolute;
  right: 0;
  top: -100px;
  width: 50%;
  height: 100px;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
  background: linear-gradient(to bottom left, transparent 50%, #fff 50.7%); }

.coin__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 25px; }

.coin__c-1,
.coin__c-2,
.coin__c-3,
.coin__c-4,
.coin__c-5,
.coin__c-6,
.coin__c-7,
.coin__c-8,
.coin__c-9 {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.coin__c-1:hover,
.coin__c-2:hover,
.coin__c-3:hover,
.coin__c-4:hover,
.coin__c-5:hover,
.coin__c-6:hover,
.coin__c-7:hover,
.coin__c-8:hover,
.coin__c-9:hover {
  -webkit-animation-name: coin;
  animation-name: coin;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }

@-webkit-keyframes coin {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg); }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg); }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg); } }

@keyframes coin {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg); }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg); }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg); } }

.coin__c-1 {
  width: 58px;
  height: 64px;
  background: url("../img/c-1.png"); }

.coin__c-2 {
  width: 83px;
  height: 83px;
  background: url("../img/c-2.png"); }

.coin__c-3 {
  width: 89px;
  height: 89px;
  background: url("../img/c-3.png"); }

.coin__c-4 {
  width: 62px;
  height: 99px;
  background: url("../img/c-4.png"); }

.coin__c-5 {
  width: 123px;
  height: 123px;
  background: url("../img/c-5.png"); }

.coin__c-6 {
  width: 73px;
  height: 79px;
  background: url("../img/c-6.png"); }

.coin__c-7 {
  width: 84px;
  height: 83px;
  background: url("../img/c-7.png"); }

.coin__c-8 {
  width: 77px;
  height: 80px;
  background: url("../img/c-8.png"); }

.coin__c-9 {
  width: 57px;
  height: 57px;
  background: url("../img/c-9.png"); }

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .trading {
    min-height: 440px;
    background: #00aeef; }
    .trading h2 {
      margin-top: 40px;
      margin-bottom: 0;
      text-align: center; }
    .trading p {
      text-align: center;
      width: 100%;
      font-size: 20px; }
  .trading__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .container--trading {
    width: 95%; }
  .coin__flex {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .coin__c-1,
  .coin__c-2,
  .coin__c-3,
  .coin__c-7,
  .coin__c-8,
  .coin__c-9 {
    display: none; }
  .trading__coin {
    min-height: 180px;
    margin-top: 40px; }
  .trading__coin::before {
    top: -50px;
    height: 50px;
    background: -webkit-gradient(linear, right top, left bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
    background: linear-gradient(to bottom left, transparent 50%, #fff 50.7%); }
  .trading__coin::after {
    top: -50px;
    height: 50px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
    background: linear-gradient(to bottom right, transparent 50%, #fff 50.7%); } }

/* Smartphones (горизонтальная) ----------- */
/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .trading {
    min-height: 400px;
    background: #00aeef; }
    .trading h2 {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 30px;
      text-align: center; }
    .trading p {
      width: 100%;
      font-size: 20px;
      text-align: center; }
  .trading__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .container--trading {
    width: 95%; }
  .coin__flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 40px; }
  .coin__c-1,
  .coin__c-2,
  .coin__c-3,
  .coin__c-4,
  .coin__c-6,
  .coin__c-7,
  .coin__c-8,
  .coin__c-9 {
    display: none; }
  .trading__coin {
    min-height: 100px;
    margin-top: 30px; }
  .trading__coin::before {
    right: 0;
    top: -25px;
    height: 25px;
    background: -webkit-gradient(linear, right top, left bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
    background: linear-gradient(to bottom left, transparent 50%, #fff 50.7%); }
  .trading__coin::after {
    right: 0;
    top: -25px;
    height: 25px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
    background: linear-gradient(to bottom right, transparent 50%, #fff 50.7%); } }

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container--trading {
    width: 95%; }
  .trading {
    min-height: 500px;
    background: #00aeef; }
    .trading h2,
    .trading p {
      -ms-flex-item-align: center;
      align-self: center;
      text-align: center; }
  .trading__coin {
    min-height: 150px;
    margin-top: 80px;
    padding-top: 20px; }
  .trading__coin::before {
    right: 0;
    top: -80px;
    height: 80px;
    background: -webkit-gradient(linear, right top, left bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
    background: linear-gradient(to bottom left, transparent 50%, #fff 50.7%); }
  .trading__coin::after {
    right: 0;
    top: -80px;
    height: 80px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
    background: linear-gradient(to bottom right, transparent 50%, #fff 50.7%); } }

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .trading__coin {
    margin-bottom: 50px; } }

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .trading {
    min-height: 600px;
    background: #00aeef; }
  .trading__coin {
    min-height: 200px;
    margin-top: 100px; }
  .trading__coin::before {
    right: 0;
    top: -60px;
    height: 60px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
    background: linear-gradient(to bottom right, transparent 50%, #fff 50.7%); }
  .trading__coin::after {
    right: 0;
    top: -60px;
    height: 60px;
    background: -webkit-gradient(linear, right top, left bottom, color-stop(50%, transparent), color-stop(50.7%, #fff));
    background: linear-gradient(to bottom left, transparent 50%, #fff 50.7%); } }

.coin {
  min-height: 140px;
  margin-top: -9px;
  background: url("../img/bit.png") no-repeat center;
  background-size: cover; }

.page-footer {
  background: #0f0f0f; }

.page-footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 50px; }

.page-footer__column b {
  color: #fff;
  text-transform: uppercase; }

.page-footer__column ul {
  padding: 0;
  list-style: none; }

.page-footer__column a {
  color: #949494;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.page-footer__column a:hover {
  color: #00aeef; }

.page-footer__column li {
  padding-bottom: 15px; }

.page-footer__copyright {
  margin: 0;
  padding-bottom: 50px;
  color: #949494; }

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .page-footer__flex {
    text-align: center; } }

/* Smartphones (горизонтальная) ----------- */
/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .page-footer__flex {
    text-align: center; } }

.page-header__rules {
  margin-top: 100px;
  color: #fff; }
  .page-header__rules h1 {
    font-weight: 100;
    text-transform: uppercase; }
  .page-header__rules p {
    font-size: 18px;
    font-weight: 100; }

.page-header--blue {
  background: url("../img/bg-rules.png") no-repeat center;
  background-size: cover; }

.page-header--height {
  min-height: 1000px; }

.page-header__title {
  text-align: center; }

.page-header__flex--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.page-footer--up {
  margin-top: -18px; }

.page-footer--active a {
  color: #00aeef;
  cursor: default; }

.page-header--pb {
  padding-bottom: 100px; }

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .page-header__rules {
    margin-top: 30px; }
    .page-header__rules h1 {
      text-align: center; }
  .page-header--pb {
    padding-bottom: 50px; } }

/* Smartphones (горизонтальная) ----------- */
/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .page-header__rules {
    margin-top: 30px; }
    .page-header__rules h1 {
      text-align: center; }
  .page-header--pb {
    padding-bottom: 50px; } }

/* iPads (вертикальная и горизонтальная) ----------- */
/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* стили */ }

/* iPads (вертикальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* стили */ }

/* iPad 3**********/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */ }

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .container {
    width: 85%; } }

/* Большие экраны ----------- */
@media only screen and (min-width: 1824px) {
  .container {
    width: 70%; } }

/* iPhone 4 ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */ }

/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

/* iPhone 6+ ----------- */
@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* стили */ }

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* стили */ }

@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* стили */ }

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* стили */ }

@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* стили */ }
