<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Барбершоп «Бородинский»</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style-min.css">
  </head>
  <body>
    <header class="page-header">
      <div class="page-header__logo">
        <picture>
          <source media="(min-width: 1200px)" srcset="img/logo-desktop.png">
          <source media="(min-width: 768px)" srcset="img/logo-tablet.png">
          <img src="img/logo-mobile.png" alt="Барбершоп «Бородинский»" width="226" height="30">
        </picture>
      </div>
      <nav class="main-nav  main-nav--closed  main-nav--nojs">
        <button class="main-nav__toggle" type="button">Открыть меню</button>
        <div class="main-nav__wrapper">
          <ul class="main-nav__items">
            <li class="main-nav__item  main-nav__item--active"><a>Главная</a></li>
            <li class="main-nav__item"><a href="work.html">Наши работы</a></li>
            <li class="main-nav__item"><a href="form.html">Записаться</a></li>
            <li class="main-nav__item"><a href="">Контакты</a></li>
          </ul>
          <ul class="main-nav__user-items">
            <li class="main-nav__user-item"><a class="main-nav__user-login" href="">Войти</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section class="stats">
        <header class="stats__header">
          <b class="stats__slogan">Стрижка у нас<br> это выгодно!</b>
          <p class="stats__intro">Мужская стрижка требует точного подхода. Обратимся к статистике:</p>
          <small class="stats__legend stats__legend--top"><sup>*</sup> — приведенные данные ложь</small>
        </header>
        <section class="stats__items">
            <div class="stats__row">
              <div class="stats__cell  stats__value">1 500<sup>*</sup></div>
              <div class="stats__cell  stats__field">рублей<br> вложений</div>
            </div>
            <div class="stats__row">
              <div class="stats__cell  stats__value">7 200</div>
              <div class="stats__cell  stats__field">секунд<br> времени мастера</div>
            </div>
            <div class="stats__row">
              <div class="stats__cell  stats__value">90 000</div>
              <div class="stats__cell  stats__field">постриженных<br> волос</div>
            </div>
            <div class="stats__row">
              <div class="stats__cell  stats__value">500 000<sup>*</sup></div>
              <div class="stats__cell  stats__field">лайков и<br> комплиментов</div>
            </div>
        </section>
        <small class="stats__legend stats__legend--bottom"><sup>*</sup> — приведенные данные ложь</small>
      </section>
      <section class="advantages">
        <div class="advantages__wrapper  slider">
          <input class="slider__input" type="radio" name="advantages" id="advantages-input-1" checked>
          <input class="slider__input" type="radio" name="advantages" id="advantages-input-2">
          <input class="slider__input" type="radio" name="advantages" id="advantages-input-3">
          <ul class="advantages__items">
            <li class="advantages__item  advantages__item--fast  slider__item">
              <h3 class="advantages__item-title">Быстро</h3>
              <p>Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки</p>
            </li>
            <li class="advantages__item  advantages__item--cool  slider__item">
              <h3 class="advantages__item-title">Круто</h3>
              <p>Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.</p>
            </li>
            <li class="advantages__item  advantages__item--expensive  slider__item">
              <h3 class="advantages__item-title">Дорого</h3>
              <p>Наши мастера — профессионалы своего делаи не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?</p>
            </li>
          </ul>
          <div class="advantages__toggles slider__toggles">
            <label class="slider__toggle" for="advantages-input-1">1</label>
            <label class="slider__toggle" for="advantages-input-2">2</label>
            <label class="slider__toggle" for="advantages-input-3">3</label>
          </div>
        </div>
      </section>
      <section class="news">
        <div class="news__wrapper">
          <h2 class="news__title">Новости и акции</h2>
          <ul class="news__items">
            <li class="news__item">
              <a class="news__link" href=""></a>
              <time class="news__date" datetime="2015-09-29"><b>29</b><br> сент</time>
              <p>Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.</p>
            </li>
            <li class="news__item">
              <a class="news__link" href=""></a>
              <time class="news__date" datetime="2015-09-19"><b>19</b><br> сент</time>
              <p>В нашей команде пополнение, Борис «Бритва» Стригунец, пополнил наши стройные ряды. Спешите записаться!</p>
            </li>
            <li class="news__item">
              <a class="news__link" href=""></a>
              <time class="news__date" datetime="2015-09-09"><b>9</b><br> сент</time>
              <p>Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!</p>
            </li>
          </ul>
          <a class="news__to-all  btn" href="">Показать все</a>
        </div>
      </section>
      <section class="reviews">
        <div class="reviews__wrapper  slider">
          <h2 class="reviews__title">Отзывы о нас</h2>
          <a class="reviews__write  btn" href="">Оставить свой</a>
          <input class="slider__input" type="radio" name="reviews" id="reviews-input-1" checked>
          <input class="slider__input" type="radio" name="reviews" id="reviews-input-2">
          <input class="slider__input" type="radio" name="reviews" id="reviews-input-3">
          <div class="reviews__items">
            <blockquote class="reviews__item  reviews__item--1  slider__item">
              <div class="reviews__author-foto">
                <picture>
                  <source media="(min-width: 1200px)" srcset="img/reviews-tra-d.jpg">
                  <source media="(min-width: 768px)" srcset="img/reviews-tra-t.jpg">
                  <img src="img/reviews-tra-m.jpg" alt="Фото Трэвиса Баркера" width="50" height="33">
                </picture>
              </div>
              <cite class="reviews__author-name">Трэвис Баркер</cite>
              <p>Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!</p>
            </blockquote>
            <blockquote class="reviews__item  reviews__item--2  slider__item">
              <div class="reviews__author-foto">
                <picture>
                  <source media="(min-width: 1200px)" srcset="img/reviews-tra-d.jpg">
                  <source media="(min-width: 768px)" srcset="img/reviews-tra-t.jpg">
                  <img src="img/reviews-tra-m.jpg" alt="Фото Трэвиса Баркера" width="50" height="33">
                </picture>
              </div>
              <cite class="reviews__author-name">Саша Мальцев</cite>
              <p>Попросил омолодить и омолодили! Кто теперь скажет, что мне 45?</p>
            </blockquote>
            <blockquote class="reviews__item  reviews__item--3  slider__item">
              <div class="reviews__author-foto">
                <picture>
                  <source media="(min-width: 1200px)" srcset="img/reviews-tra-d.jpg">
                  <source media="(min-width: 768px)" srcset="img/reviews-tra-t.jpg">
                  <img src="img/reviews-tra-m.jpg" alt="Фото Трэвиса Баркера" width="50" height="33">
                </picture>
              </div>
              <cite class="reviews__author-name">Винстон Синий</cite>
              <p>Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!</p>
            </blockquote>
            <button class="reviews__btn  reviews__prev" type="button">Предыдущий отзыв</button>
            <button class="reviews__btn  reviews__next" type="button">Следующий отзыв</button>
          </div>
          <div class="reviews__toggles  slider__toggles">
            <label class="slider__toggle" for="reviews-input-1">1</label>
            <label class="slider__toggle" for="reviews-input-2">2</label>
            <label class="slider__toggle" for="reviews-input-3">3</label>
          </div>
        </div>
      </section>
    </main>
    <footer class="page-footer">
      <div class="page-footer__wrapper">
        <div class="page-footer__contacts">
          <b>Барбершоп «Бородинский»</b>
          <p>г. Санкт-Петербург, ул. Большая Конюшенная 19/8</p>
          <a href="tel:+78125556666"><span class="page-footer__contacts-hidden">Тел.:</span> +7 (812) 555-66-66</a>
        </div>
        <div class="page-footer__social">
          <div class="social-links">
            <p>Давайте дружить!</p>
            <a class="social-link  social-link--vk" href="">Мы в Вконтакте</a>
            <a class="social-link  social-link--fb" href="">Мы в Фейсбуке</a>
            <a class="social-link  social-link--in" href="">Мы в Инстаграме</a>
          </div>
        </div>
        <div class="page-footer__copyright">
          <p>Разработано:</p>
          <a class="btn  page-footer__copyright-link" href="https://vk.com/revch" target="_blank">Max Sharing</a>
        </div>
      </div>
    </footer>
    <section class="modal-login">
      <h2>Личный кабинет</h2>
      <p>Введите свой логин и пароль, чтобы войти</p>
      <form class="form  modal-login__form" action="index.html" method="post">
        <input class="modal-login__user" type="text" name="login" placeholder="Логин">
        <input class="modal-login__password" type="password" name="password" placeholder="Пароль">
        <label class="modal-login__remember"><input type="checkbox" name="remember"><span class="checkbox-indicator"></span>Запомните меня</label>
        <a class="modal-login__restore" href="">Я забыл пароль!</a>
        <button class="form__btn  modal-login__enter  btn" type="submit" name="button">Войти <span class="modal-login__text-hidden">в личный кабинет<span></button>
        <button class="modal-login__closed  btn" type="button" name="button">Закрыть</button>
      </form>
    </section>
    <script src="js/script.js"></script>
  </body>
</html>