<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Барбершоп «Бородинский»</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style-min.css">
  </head>
  <body>
    <header class="page-header  page-header--inner">
      <div class="page-header__logo  page-header__logo--inner">
        <picture>
          <source media="(min-width: 1200px)" srcset="img/logo-desktop.png">
          <source media="(min-width: 768px)" srcset="img/logo-tablet.png">
          <img src="img/logo-mobile.svg" alt="Барбершоп «Бородинский»" width="226" height="30">
        </picture>
      </div>
      <nav class="main-nav  main-nav--closed  main-nav--nojs">
        <button class="main-nav__toggle" type="button">Открыть меню</button>
        <div class="main-nav__wrapper">
          <ul class="main-nav__items">
            <li class="main-nav__item"><a href="index.html">Главная</a></li>
            <li class="main-nav__item  main-nav__item--active"><a>Наши работы</a></li>
            <li class="main-nav__item"><a href="form.html">Записаться</a></li>
            <li class="main-nav__item"><a href="">Контакты</a></li>
          </ul>
          <ul class="main-nav__user-items">
            <li class="main-nav__user-item"><a class="main-nav__user-login" href="">Войти</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="inner-page  inner-page--work">
      <header class="inner-page__header">
        <h1 class="inner-page__title">Наши работы</h1>
        <a class="btn" href="index.html">На главную</a>
      </header>
      <section class="work  inner-page__content">
        <section class="catalog">
          <div class="catalog__item  catalog__item--month">
            <div class="catalog__item-wrapper">
              <div class="work-month">
                Работа месяца
              </div>
              <picture>
                <source media="(min-width: 1200px)" srcset="img/photo/photo-1-desktop.jpg">
                <source media="(min-width: 768px)" srcset="img/photo/photo-1-tablet.jpg">
                <img src="img/photo/photo-1-mobile.jpg" alt="Лжепётр Мчиславский" width="280" height="176">
              </picture>
            </div>
            <div class="catalog__item-descr">
              <h2>Лжепётр Мчиславский</h2>
              <p>Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!</p>
              <div class="catalog__services">
                <div class="catalog__services-item catalog__services-item--scissors">Стрижка</div>
                <div class="catalog__services-item  catalog__services-item--beard">Бритье</div>
                <div class="catalog__services-item  catalog__services-item--mustache">Усы</div>
              </div>
            </div>
          </div>
          <div class="catalog__item">
            <picture>
              <source media="(min-width: 1200px)" srcset="img/photo/photo-2-desktop.jpg">
              <source media="(min-width: 768px)" srcset="img/photo/photo-2-tablet.jpg">
              <img src="img/photo/photo-2-mobile.jpg" alt="Саша Мальцев" width="280" height="176">
            </picture>
            <div class="catalog__item-descr">
              <h2>Саша Мальцев</h2>
              <p>Попросил омолодить и омолодили! Кто теперь скажет, что мне 45?</p>
              <div class="catalog__services">
                <div class="catalog__services-item catalog__services-item--scissors">Стрижка</div>
              </div>
            </div>
          </div>
          <div class="catalog__item">
            <picture>
              <source media="(min-width: 1200px)" srcset="img/photo/photo-3-desktop.jpg">
              <source media="(min-width: 768px)" srcset="img/photo/photo-3-tablet.jpg">
              <img src="img/photo/photo-3-mobile.jpg" alt="Владимир Иваныч" width="280" height="176">
            </picture>
            <div class="catalog__item-descr">
              <h2>Владимир Иваныч</h2>
              <p>К зимнему сезону — готов!</p>
              <div class="catalog__services">
                <div class="catalog__services-item  catalog__services-item--beard">Борода</div>
                <div class="catalog__services-item  catalog__services-item--mustache">Усы</div>
              </div>
            </div>
          </div>
          <div class="catalog__item">
            <picture>
              <source media="(min-width: 1200px)" srcset="img/photo/photo-4-desktop.jpg">
              <source media="(min-width: 768px)" srcset="img/photo/photo-4-tablet.jpg">
              <img src="img/photo/photo-4-mobile.jpg" alt="Винстон Синий" width="280" height="176">
            </picture>
            <div class="catalog__item-descr">
              <h2>Винстон Синий</h2>
              <p>Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!</p>
              <div class="catalog__services">
                <div class="catalog__services-item catalog__services-item--scissors">Стрижка</div>
              </div>
            </div>
          </div>
        </section>
    </main>
    <aside class="price">
      <h2 class="price__title">Прейскурант</h2>
      <div class="price__wrapper">
        <table class="price__table">
          <tr class="price__table-row">
            <td>1</td>
            <td>Классическая стрижка</td>
            <td><span class="price__hidden">(</span>с мытьём головы<span class="price__hidden">)</span></td>
            <td>1 500 руб.</td>
          </tr>
          <tr class="price__table-row">
            <td>2</td>
            <td>Современный вариант</td>
            <td><span class="price__hidden">(</span>с мытьём головы<span class="price__hidden">)</span></td>
            <td>1 500 руб.</td>
          </tr>
          <tr class="price__table-row">
            <td>3</td>
            <td>Индивидуальный подход</td>
            <td><span class="price__hidden">(</span>с мытьём головы<span class="price__hidden">)</span></td>
            <td>2 000 руб.</td>
          </tr>
          <tr class="price__table-row">
            <td>4</td>
            <td>Бритьё бороды</td>
            <td><span class="price__hidden">(</span>без мытья<span class="price__hidden">)</span></td>
            <td>500 руб.</td>
          </tr>
          <tr class="price__table-row">
            <td>5</td>
            <td>Бритьё головы</td>
            <td><span class="price__hidden">(</span>с мытьём головы<span class="price__hidden">)</span></td>
            <td>1 000 руб.</td>
          </tr>
        </table>
        <div class="price__discount-hours">
          <p>C 10:00 до 14:00<br>
            скидка 20%</p>
        </div>
      </div>
  </aside>
    <footer class="page-footer">
      <div class="page-footer__wrapper">
        <div class="page-footer__contacts">
          <b>Барбершоп «Бородинский»</b>
          <p>г. Санкт-Петербург, ул. Большая Конюшенная 19/8</p>
          <a href="tel:+78125556666"><span class="page-footer__contacts-hidden">Тел.:</span> +7 (812) 555-66-66</a>
        </div>
        <div class="page-footer__social">
          <div class="social-links">
            <p>Давайте дружить!</p>
            <a class="social-link  social-link--vk" href="">Мы в Вконтакте</a>
            <a class="social-link  social-link--fb" href="">Мы в Фейсбуке</a>
            <a class="social-link  social-link--in" href="">Мы в Инстаграме</a>
          </div>
        </div>
        <div class="page-footer__copyright">
          <p>Разработано:</p>
          <a class="btn  page-footer__copyright-link" href="https://vk.com/revch" target="_blank">Max Sharing</a>
        </div>
      </div>
    </footer>
    <section class="modal-login">
      <h2>Личный кабинет</h2>
      <p>Введите свой логин и пароль, чтобы войти</p>
      <form class="form  modal-login__form" action="index.html" method="post">
        <input class="modal-login__user" type="text" name="login" placeholder="Логин">
        <input class="modal-login__password" type="password" name="password" placeholder="Пароль">
        <label class="modal-login__remember"><input type="checkbox" name="remember"><span class="checkbox-indicator"></span>Запомните меня</label>
        <a class="modal-login__restore" href="">Я забыл пароль!</a>
        <button class="form__btn  modal-login__enter  btn" type="submit" name="button">Войти <span class="modal-login__text-hidden">в личный кабинет<span></button>
        <button class="modal-login__closed  btn" type="button" name="button">Закрыть</button>
      </form>
    </section>
    <script src="js/script.js"></script>
  </body>
</html>