<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Super Enalotto</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="page-header">
    <div class="container">
      <div class="page-header__flex">
        <div class="page-header__logo">
          <a href="index.html">
            <img src="img/logo.png" alt="Super Enalotto">
          </a>
        </div>
        <div class="page-header__nav">
          <nav class="page-header__main-nav">
            <ul class="page-header__nav-list">
              <li class="page-header__nav-item"><a href="#">Button Loterry</a>|</li>
              <li class="page-header__nav-item"><a href="#">Superbutton Lottery</a>|</li>
              <li class="page-header__nav-item"><a href="#">Bingo Button</a>|</li>
              <li class="page-header__nav-item"><a href="#">Bingo Play</a>|</li>
              <li class="page-header__nav-item"><a href="#">Play Extra Game</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="page-main">
    <div class="container">
      <div class="page-main__flex">
        <div class="page-main__nav">
          <nav class="page-main__aside-nav">
            <ul class="page-main__nav-list">
              <li class="page-main__nav-item"><a href="#">Vinchi Anche</a></li>
              <li class="page-main__nav-item"><a href="#">Estrazioni</a></li>
              <li class="page-main__nav-item"><a href="#">Estrazioni</a>
              <ul class="page-main__sub-menu">
                <li class="page-menu__sub-item"><a href="#">Homepage</a></li>
                <li class="page-menu__sub-item"><a href="#">Vinci</a></li>
                <li class="page-menu__sub-item"><a href="#">Solo</a></li>
              </ul>
              </li>
              <li class="page-main__nav-item"><a href="#">Vincite Giocando</a></li>
              <li class="page-main__nav-item"><a href="#" class="page-main__nav-item--border">Estrazioni</a></li>
            </ul>
          </nav>
        </div>
        <div class="page-main__main-content"></div>
        <div class="page-main__cards">
          <div class="page-main__card-box">
            <img src="" alt="" class="page-main__card-img">
            <b></b>
            <p></p>
          </div>
          <div class="page-main__card-box">
            <a href=""><img src="" alt=""></a>
            <img src="" alt="" class="page-main__card-img">
            <b></b>
            <p></p>
          </div>
          <div class="page-main__card-box">
            <img src="" alt="" class="page-main__card-img">
            <b></b>
            <p></p>
          </div>
          <div class="page-main__card-box">
            <a href=""><img src="" alt=""></a>
            <img src="" alt="" class="page-main__card-img">
            <b></b>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="page-footer">
    <div class="container">
      <nav class="page-footer__nav">
        <ul class="page-footer__nav-list">
          <li class="page-footer__nav-item"><a href="#">@2017 California State Lottery</a>|</li>
          <li class="page-footer__nav-item"><a href="#">Governor Edmund G.Brown Jr.</a>|</li>
          <li class="page-footer__nav-item"><a href="#">State of California</a>|</li>
          <li class="page-footer__nav-item"><a href="#">Problem Gambling Treatment</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
