<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="../style/style.css" rel="stylesheet">
    <title>Виктория-Сервис</title>
</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="headerLogo">
                <a href="../index.html"><img src="../images/viktoria1.png"></a>
                <div class="headerText">
                    <p class="logoTextFirst">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecond">«Виктория-Сервис»</p>
                </div>
            </div>
            <div class="header">
                <ul class="headerUl">
                    <li><a href="tarify.html"><b>ТАРИФЫ</b></a></li>
                    <li><a href="news.html"><b>НОВОСТИ</b></a></li>
                    <li><a href="team.html"><b>СОТРУДНИКИ</b></a></li>
                    <li><a href="about.html"><b>О КОМПАНИИ</b></a></li>
                    <li><a href="contact.html"><b>КОНТАКТЫ</b></a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </header>
    <div class="mainNewsProduct newsNews">
        <h1>НОВОСТИ</h1>
        <div class="newsOne">
            <div class="newsData">01/09<br>2016</div>
            <p><b>Протокол №9 очередного общего собрания собственников помещений в жилом комплексе «Виктория»</b><br>ПРОТОКОЛ № 9 очередного общего собрания собственников помещений в жилом комплексе «Виктория» по адресу: г.Пермь, ул.Революции, 21.</p>
        </div>
        <div class="newsTwo">
            <div class="newsData">01/09<br>2016</div>
            <p><b>Протокол №9 очередного общего собрания собственников помещений в жилом комплексе «Виктория»</b><br>ПРОТОКОЛ № 9 очередного общего собрания собственников помещений в жилом комплексе «Виктория» по адресу: г.Пермь, ул.Революции, 21.</p>
        </div>
        <div class="newsThree">
            <div class="newsData">01/09<br>2016</div>
            <p><b>Протокол №9 очередного общего собрания собственников помещений в жилом комплексе «Виктория»</b><br>ПРОТОКОЛ № 9 очередного общего собрания собственников помещений в жилом комплексе «Виктория» по адресу: г.Пермь, ул.Революции, 21.</p>
        </div>
    </div>
    <footer>
        <div class="footerContainer">
            <div class="footerLogo">
                <img src="../images/viktoria1.png">
                <div class="headerTextF">
                    <p class="logoTextFirstF">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecondF">«Виктория-Сервис»</p>
                </div>
            </div>
            <ul class="headerUlF">
                    <li><a href="tarify.html"><b>Тарифы</b></a></li>
                    <li><a href="news.html"><b>Новости</b></a></li>
                    <li><a href="team.html"><b>Сотрудники</b></a></li>
                    <li><a href="about.html"><b>О Компании</b></a></li>
                    <li><a href="contact.html"><b>Контакты</b></a></li>
                </ul>
            <div class="footerContact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </footer>
</body>
</html>