<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="../style/style.css" rel="stylesheet">
    <title>Виктория-Сервис</title>
</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="headerLogo">
                <a href="../index.html"><img src="../images/viktoria1.png"></a>
                <div class="headerText">
                    <p class="logoTextFirst">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecond">«Виктория-Сервис»</p>
                </div>
            </div>
            <div class="header">
                <ul class="headerUl">
                    <li><a href="tarify.html"><b>ТАРИФЫ</b></a></li>
                    <li><a href="news.html"><b>НОВОСТИ</b></a></li>
                    <li><a href="team.html"><b>СОТРУДНИКИ</b></a></li>
                    <li><a href="about.html"><b>О КОМПАНИИ</b></a></li>
                    <li><a href="contact.html"><b>КОНТАКТЫ</b></a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </header>
    <div class="tableProduct tableTarify">
        <h2>ТАРИФЫ</h2>
        <table class="tableP" align="center">
            <tr>
                <th>Наименование услуги</th>
                <th class="widthtd">Потребитель</th>
                <th colspan="2">Тариф с учетом НДС</th>
            </tr>
            <tr>
                <td>Холодное водоснабжение</td>
                <td class="widthtd">население</td>
                <td>с 01.07.2016</td>
                <td class="tdWidth"><b>30,41</b> руб\куб.м<sup>1</sup></td>
            </tr>
            <tr>
                <td>Водоотведение</td>
                <td class="widthtd">население</td>
                <td>с 01.07.2016</td>
                <td class="tdWidth"><b>18,14</b> руб\куб.м<sup>1</sup></td>
            </tr>
            <tr>
                <td>Отопление</td>
                <td class="widthtd"></td>
                <td>с 01.07.2016</td>
                <td class="tdWidth"><b>1236,11</b> руб\Гкал<sup>2</sup></td>
            </tr>
            <tr>
                <td rowspan="3">Электроэнергия</td>
                <td class="widthtd">население</td>
                <td>день\ночь</td>
                <td class="tdWidth"><b>3,65</b> руб\кВтч<sup>3</sup><br><b>2,32</b> руб\кВтч<sup>3</sup></td>
            </tr>
            <tr>
                <td class="widthtd">иные потребители</td>
                <td colspan="2">рынок<sup>3</sup></td>
            </tr>
            <tr>
                <td class="widthtd">Содержание, ремонт в объеме приложения 1 договора управления</td>
                <td>Собственники помещений</td>
                <td class="tdWidth"><b>37,72</b> руб\кв.м</td>
            </tr>
        </table>
    </div>
    <div class="ruleProduct">
        <ol>
            <li>Утверждено постановлением Региональной службы по тарифам Пермского края от 18.12.2015 №300-в</li>
            <li>Утверждено постановлением Региональной службы по тарифам Пермского края от 20.12.2015 №350-т</li>
            <li>Утверждено постановлением Региональной службы по тарифам Пермского края от 20.12.2015 №111-э</li>
            <li>В соответствии с решением общего собрания собственников соответствующего МКД.</li>
        </ol>
    </div>
    <footer>
        <div class="footerContainer">
            <div class="footerLogo">
                <img src="../images/viktoria1.png">
                <div class="headerTextF">
                    <p class="logoTextFirstF">УПРАВЛЯЮЩАЯ КОМПАНИЯ</p>
                    <p class="logoTextSecondF">«Виктория-Сервис»</p>
                </div>
            </div>
            <ul class="headerUlF">
                    <li><a href="tarify.html"><b>Тарифы</b></a></li>
                    <li><a href="news.html"><b>Новости</b></a></li>
                    <li><a href="team.html"><b>Сотрудники</b></a></li>
                    <li><a href="about.html"><b>О Компании</b></a></li>
                    <li><a href="contact.html"><b>Контакты</b></a></li>
                </ul>
            <div class="footerContact">
                <div class="phone">+7 (342) 200 26 16</div>
                <div class="email">uk_vservis@mail.ru</div>
            </div>
        </div>
    </footer>
</body>
</html>