.crypto {
  position: relative;
  background: #000 url("../img/crypto-bg.png") no-repeat bottom;
  background-size: cover;
  
  & h1 {
    padding: 10px 0;
    margin-top: 50px;
    color: $w;
    font-size: 50px;
    font-weight: 700;
    // background: #000;
    border-radius: 10px;
    text-align: right;
    text-transform: uppercase;
  }
  
  & p {
    align-self: flex-end;
    width: 75%;
    padding-top: 50px;
    color: $w;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    // text-transform: uppercase;
  }
  
  & a {
    align-self: flex-end;
    padding: 10px 60px;
    margin-top: 100px;
    margin-bottom: 120px;
    color: #000;
    font-size: 25px;
    font-weight: 400;
    background: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    
    &:hover {
      color: #00ffff;
      background: #000;
      border: 1px solid #00ffff;
    }
  }
}

.container--crypto {
  width: 980px;
}

.crypto__flex {
  display: flex;
  flex-direction: column;
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .crypto {
    
    & h1 {
      margin-top: 30px;
      color: $w;
      font-size: 40px;
      background: transparent;
    }
    
    & p {
      align-self: center;
      width: auto;
      padding-top: 0;
      font-size: 20px;
      text-align: center;
    }
    
    & a {
      align-self: center;
      margin-top: 50px;
      margin-bottom: 50px;
      color: #000;
      font-size: 20px;
    }
  }
  
  .container--crypto {
    width: 95%;
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .crypto {
    min-height: 550px;
    
    & h1 {
      margin-top: 40px;
      color: $w;
      font-size: 40px;
      background: transparent;
    }
    
    & p {
      align-self: center;
      width: 100%;
      font-size: 20px;
      text-align: center;
    }
    
    & a {
      align-self: center;
      margin-top: 50px;
      margin-bottom: 50px;
      color: #000;
      font-size: 18px;
    }
  }
  
  .container--crypto {
    width: 95%;
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container--crypto {
    width: 95%;
  }
  
  .crypto {
    & h1 {
      margin-top: 50px;
    }
    
    & p {
      align-self: center;
      text-align: center;
    }
    
    & a {
      align-self: center;
      margin-bottom: 70px;
    }
  }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (max-width: 1224px) {
  .crypto::after {
    display: none;
  }
}

@media only screen and (min-width: 1224px) {
  .crypto::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 550px;
    top: 380px;
    left: 60px;
    background: url("../img/phone-s.png") no-repeat;
    z-index: 2;
  }
}

@media only screen and (min-width: 1824px) {
  .crypto::after {
    width: 482px;
    height: 662px;
    top: 250px;
    left: 200px;
    background: url("../img/phone.png") no-repeat;
  }
}






