.page-footer {
  background: #0f0f0f;
}

.page-footer__flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 50px;
}

.page-footer__column b {
  color: #fff;
  text-transform: uppercase;
}

.page-footer__column ul {
  padding: 0;
  list-style: none;
}

.page-footer__column a {
  color: #949494;
  text-decoration: none;
  transition: 0.3s;
}

.page-footer__column a:hover {
  color: #00aeef;
}

.page-footer__column li {
  padding-bottom: 15px;
}

.page-footer__copyright {
  margin: 0;
  padding-bottom: 50px;
  color: #949494;
  text-align: justify;
}

// Media
/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {  
  .page-footer__flex {
    text-align: center;
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {  
  .page-footer__flex {
    text-align: center;
  }
}