.edge {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #EBEBEB;
}

.edge__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.edge__item {
  position: relative;
  box-sizing: border-box;
  width: 360px; 
  margin-bottom: 50px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  transition: 0.8s;
  
  &--hide {
    opacity: 0;
    transform: translateY(50px);
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(#4a58c3, 0.5);
    z-index: 1;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100px;
    height: 95px;
    padding: 2px 0;
    border-radius: 50%;
    background-color: rgba(#6dcff6, 0.5);
    z-index: 1;
  }
  
  &:hover {
    transform: scale(1.05);
    
    .edge__number {
      transform: scale(0);
    }
    
    .edge__icon {
      transform: none;
    }
  }
}

.edge__number {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100px;
  color: #FFFFFF;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  line-height: 0.8em;
  transition: 0.2s;
  z-index: 2;
}

.edge__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  transform: scale(0);
  z-index: 2;
  
  &--1 {
    background-image: url('../img/edge-1.svg');
    background-size: 75px;
  }
  
  &--2 {
    background-image: url('../img/edge-2.svg');
    background-position: center 10px;
    background-size: 65px;
  }
  
  &--3 {
    background-image: url('../img/edge-3.svg');
    background-size: 70px;
  }
  
  &--4 {
    background-image: url('../img/edge-4.svg');
    background-size: 60px;
  }
  
  &--5 {
    background-image: url('../img/edge-5.svg');
    background-size: 50px;
  }
  
  &--6 {
    background-image: url('../img/edge-6.svg');
    background-size: 60px;
  }
}

.edge__name {
  display: block;
  width: 170px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  padding-bottom: 10px;
  color: #35495f;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid #ffa800;
}

.edge__text {
  margin: 0;
  color: $text;
  font-size: 16px;
  font-weight: 400;
}

@media screen and ($tablet) {
  .edge__list {
    justify-content: center;
  }
  
  .edge__item {
    width: 45%;
    
    &:nth-child(odd) {
      margin-right: 20px;
    }
  }
  
  .edge__name {
    margin-right: 40px;
  }
}

@media screen and ($mobile) {
  .edge__list {
    flex-direction: column;
    align-items: center;
  }
  
  .edge__item {
    width: 100%;
    max-width: 360px;
    margin-bottom: 30px;
    
    &:nth-child(odd) {
      margin-right: 0;
    }
  }
  
  .edge__name {
    width: 160px;
    margin-right: 0;
    font-size: 18px;
  }
}