.exhibition {
  position: fixed;
  bottom: 30px;
  left: 30px;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #FFFFFF;
  background-image: url('../img/exhibition-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  z-index: 3;
  
  a {
    text-decoration: none;
  }
  
  &--hide {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
  }
}

.exhibition__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url('../img/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.exhibition__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #DD0505;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  &--sup {
    color: $text;
    font-size: 20px;
    font-weight: 700;
  }
}

.exhibition__date {
  box-sizing: border-box;
  width: 220px;
  margin: 0 auto;
  padding: 5px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: #DD0505;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

@media screen and ($mobile) {
  .exhibition {
    bottom: 20px;
    left: 50%;
    width: 95%;
    max-width: 360px;
    padding: 20px 30px;
    transform: translateX(-50%);
    
    &--hide {
      transform: translateX(-50%) scale(0.9);
    }
  }
}