.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(#FFFFFF, 0.7);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 65px;
  height: 65px;
}

@media screen and ($mobile) {
  .header {
    padding: 5px 0;
  }
  
  .header__logo {
    width: 50px;
    height: 50px;
  }
}