.short {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #FFFFFF;
}

.short__text {
  color: $text;
  font-size: 16px;
  font-weight: 400;
  
  &:first-of-type {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  &:last-of-type {
    margin-bottom: 30px;
  }
}

.short__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.short__item {
  position: relative;
  box-sizing: border-box;
  width: 375px;
  padding-top: 20px;
  padding-bottom: 40px;
  color: $text;
  font-size: 16px;
  font-weight: 400;
  transition: 0.8s;
  
  &--hide {
    opacity: 0;
    transform: translateY(20px);
  }
  
  &--top {
    display: block;
    margin-bottom: 5px;
  }
  
  &--flex {
    display: flex;
    align-items: flex-end;
  }
  
  &--number {
    margin-right: 10px;
    color: #35495f;
    font-size: 70px;
    font-weight: 800;
    line-height: 0.7em;
  }
  
  &--blue {
    display: block;
    margin-top: 5px;
    color: #35495f;
    font-weight: 700;
  }
  
  &:nth-child(2) {
    padding-left: 90px;
    border-left: 2px dashed #ffa903;
    border-right: 2px dashed #ffa903;
    
    &::after {
      content: '';
      position: absolute;
      top: 15px;
      right: 50px;
      width: 60px;
      height: 60px;
      background-image: url('../img/short-1.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  
  &:nth-child(3) {
    padding-top: 30px;
    padding-left: 40px;
    
    &::after {
      content: '';
      position: absolute;
      top: 0px;
      right: 30px;
      width: 50px;
      height: 60px;
      background-image: url('../img/short-2.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  
  &:nth-child(4) {
    padding-top: 45px;
    border-top: 2px dashed #ffa903;
    
    &::after {
      content: '';
      position: absolute;
      top: 5px;
      right: 30px;
      width: 80px;
      height: 80px;
      background-image: url('../img/short-3.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  
  &:nth-child(5) {
    padding-top: 60px;
    padding-left: 60px;
    border-top: 2px dashed #ffa903;
    border-left: 2px dashed #ffa903;
    border-right: 2px dashed #ffa903;
  }
  
  &:nth-child(6) {
    padding-top: 60px;
    padding-left: 100px;
    border-top: 2px dashed #ffa903;
    
    &::after {
      content: '';
      position: absolute;
      top: 10px;
      right: 30px;
      width: 70px;
      height: 70px;
      background-image: url('../img/short-4.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

@media screen and ($tablet) {
  .short__item {
    width: 50%;
    padding-left: 20px;
    font-size: 15px;
    
    &--number {
      font-size: 60px;
    }
    
    &--blue {
      margin-top: 0;
    }
    
    &::after {
      display: none;
    }
    
    &:nth-child(2) {
      padding-left: 20px;
      border-right: none;
      border-left: 2px dashed #ffa903;
    }
    
    &:nth-child(3) {
      padding-top: 30px;
      padding-left: 20px;
      border-top: 2px dashed #ffa903;
    }
    
    &:nth-child(4) {
      border-top: 2px dashed #ffa903;
      border-left: 2px dashed #ffa903;
      
      br {
        display: none;
      }
    }
    
    &:nth-child(5) {
      padding-left: 20px;
      border-top: 2px dashed #ffa903;
      border-right: none;
      border-left: none;
    }
    
    &:nth-child(6) {
      padding-left: 20px;
      border-top: 2px dashed #ffa903;
      border-left: 2px dashed #ffa903;
    }
  }
}

@media screen and ($mobile) {
  .short {
    padding-bottom: 50px;
  }
  
  .short__item {
    padding-left: 10px;
    text-align: center;
    
    &--number {
      font-size: 40px;     
    }
    
    &--flex {
      flex-direction: column;
      align-items: center;
    }
    
    &:nth-child(1) {
      padding: 25px 10px;
    }
    
    &:nth-child(2) {
      padding: 25px 10px;
      border-right: none;
      border-left: 2px dashed #ffa903;
    }
    
    &:nth-child(3) {
      padding: 25px 10px;
      border-top: 2px dashed #ffa903;
    }
    
    &:nth-child(4) {
      padding: 25px 10px;
      border-top: 2px dashed #ffa903;
      border-left: 2px dashed #ffa903;
      
      br {
        display: none;
      }
    }
    
    &:nth-child(5) {
      padding: 25px 10px;
      border-top: 2px dashed #ffa903;
      border-right: none;
      border-left: none;
    }
    
    &:nth-child(6) {
      padding: 25px 10px;
      border-top: 2px dashed #ffa903;
      border-left: 2px dashed #ffa903;
    }
  }
}