<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pink</title>
</head>
<body>
  <header class="page-header">
    <nav class="main-nav">
      <button class="main-nav__toggle" type="button">Открыть меню</button>
      <div class="main-nav__container">
        <a href="#" class="page-header__logo"></a>
        <ul class="main-nav__list">
          <li class="main-nav__items"><a href="#">Главная</a></li>
          <li class="main-nav__items"><a href="#">Фотографии</a></li>
          <li class="main-nav__items"><a href="#">Конкурс</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="download">
    <div class="download__flex">
      <h2></h2>
      <a href="#"></a>
      <div class="download__apps">
        <div class="download__box"></div>
        <div class="download__box"></div>
        <div class="download__box"></div>
      </div>
      <p></p>
    </div>
  </section>
  <section class="edge">
    <div class="container">
      <h2></h2>
      <div class="edge__flex">
        <div class="edge__box"></div>
        <div class="edge__box"></div>
        <div class="edge__box"></div>
      </div>
      <div class="edge__time">
        <b></b>
        <p></p>
        <a href="#"></a>
      </div>
    </div>
  </section>
  <section class="reviews">
    <div class="reviews__container">
      <p></p>
      <b></b>
      <p></p>
    </div>
  </section>
  <section class="price">
    <div class="container">
      
    </div>
  </section>
  <section class="question">
    <div class="container">
      <h2></h2>
      <div class="question__flex">
        <div class="question__box">
          <b></b>
          <p></p>
        </div>
        <div class="question__box">
          <b></b>
          <p></p>
        </div>
        <div class="question__box">
          <b></b>
          <p></p>
        </div>
      </div>
    </div>
  </section>
  <section class="map">
    
  </section>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex">
        <a href="" class="page-footer__logo"></a>
        <div class="page-footer__social"></div>
        <p></p>
      </div>
    </div>
  </footer>
</body>
</html>