<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Platforms - Forex 24</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <header class="page-header  page-header--temp">
    <nav class="page-header__main-nav  page-header__main-nav--closed  page-header__main-nav--nojs">
      <button class="page-header__toggle" type="button">Open menu</button>
      <div class="container">
        <div class="page-header__flex">
          <!-- <a href="../index.html">
            <img src="../img/logo.png" alt="Forex24">
          </a> -->
          <ul class="page-header__menu">
            <li class="page-header__item"><a href="../index.html">Home</a></li>
            <li class="page-header__item"><a class="page-header__item--active" href="#">About</a></li>
            <li class="page-header__item"><a href="#">Trading</a></li>
            <li class="page-header__item"><a href="#">Resources</a></li>
            <li class="page-header__item"><a href="#">Partners</a></li>
            <li class="page-header__item"><a href="#">Contact Us</a></li>
          </ul>
          <div class="page-header__user-menu">
            <a class="page-header__link  page-header__link--violet" href="#">Open live account</a>
            <a class="page-header__link  page-header__link--black" href="#">Login</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="sub-menu  sub-menu--forex">
    <div class="container">
      <div class="sub-menu__flex  sub-menu__flex--platform">
        <div class="sub-menu__platform-column">
          <p>Platforms</p>
          <div class="sub-menu__platform">
            <a href="#">Desktop</a>
            <a href="#">Mobile</a>
            <a href="#">Webtrader</a>
          </div>
        </div>
        <div class="sub-menu__box  sub-menu__box--about">
          <a class="sub-menu__logo" href="../index.html">
            <img src="../img/logo-menu.png" alt="Forex24">
          </a>
          <a href="#">ACCOUNT TYPES</a>
          <a href="#">ACCOUNT COMPARISON</a>
          <a href="#">PRODUCT SPECIFICATION</a>
          <a href="#">TRADING SPECIFICATION</a>
          <a href="#">FUNDING AND WITHDROVAL</a>
          <a href="#">ANNOUNCEMENTS</a>
          <div class="sub-menu__social">
            <a class="sub-menu__link  sub-menu__link--facebook" href="#"></a>
            <a class="sub-menu__link  sub-menu__link--google" href="#"></a>
            <a class="sub-menu__link  sub-menu__link--youtube" href="#"></a>
            <a class="sub-menu__link  sub-menu__link--linkedin" href="#"></a>
            <a class="sub-menu__link  sub-menu__link--twitter" href="#"></a>
          </div>
          <hr>
          <button class="sub-menu__arrow"></button>
        </div>
      </div>
    </div>
  </section>
  <section class="platforms">
    <section class="meta">
      <div class="container">
        <div class="meta__flex">
          <div class="meta__left"></div>
          <div class="meta__right">
            <h2>Trading Platforms</h2>
            <p>Forex24 pioneered the offering of an MT4 platform with trading execution quality in mind.</p>
            <p>Trade on MT4 with No Requotes, No Rejections with flexible leverage ranging from 1:1 – to 400:1</p>
            <div class="meta__trader"></div>
            <p>Download the industry’s favorite forex trading platform on your PC, tablet or mobile and enjoy:</p>
          </div>
        </div>
      </div>
    </section>
    <section class="features">
      <div class="container  container--features">
        <h3>Forex24 MT4 Features</h3>
        <div class="features__flex">
          <div class="features__list">
            <ul>
              <li>Spreads as low as 0.3 pips</li>
              <li>Pioneering Automated Trading system – Expert Advisors</li>
              <li>1 Click Trading</li>
              <li>Technical Analysis Tools with 50 indicators and charting tools</li>
              <li>Hedging allowed</li>
            </ul>
            <ul>
              <li>VPS Functionality</li>
              <li>Multilingual Platform</li>
              <li>News feeds directly into the trading platform</li>
              <li>Trailing stop loss facility</li>
            </ul>
          </div>
          <div class="features__download">
            <div class="features__box">
              <p><b>MT4 for PC</b><br><a href="#">Read more</a></p>
              <a class="features__start" href="#">Download</a>
            </div>
            <div class="features__box">
              <p><b>MT4 for PC</b><br><a href="#">Read more</a></p>
              <a class="features__start" href="#">Launch</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="trader">
      <div class="container  container--trader">
        <h3>Webtrader</h3>
        <b>Smart features</b>
        <div class="trader__list">
          <ul>
            <li>Filter instruments by keywords or securities group, or define your own asset classes.</li>
            <li>With smart one-click trading mode, traders can: set size, Take Profit/Stop Loss and open orders with unparalleled speed.</li>
            <li>Mark an instrument as a ‘Favorite’ by clicking on the star; view them easily by selecting Favorite instruments group.</li>
            <li>Advanced HTML5 charting includes: vector drawings, five chart types and 100 plus studies.</li>
          </ul>
          <ul>
            <li>Open and close trades directly from the chart.</li>
            <li>Chart Dock enables traders to analyse up to 10 charts simultaneously. Charts can be manually arranged or auto-arranged at the touch of a button.</li>
            <li>With enhanced ‘Close All’ control, traders can close all profitable, losing, buy, sell and open positions with just one click.</li>
            <li>Summary tab groups open positions by symbol and displays total pips and Profit and Loss. Account transactions are separated from Order History for more convenient viewing.</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="edge">
        <h3>Advantages</h3>
        <ul>
          <li>Works in any browser – No Downloads, Flash or Java required</li>
          <li>Trade directly from the chart</li>
          <li>View aggregated positions</li>
          <li>Advanced ‘Close All’ functionality</li>
          <li>Statistics panel tracks balance, Profit and Loss, drawdown percentage and more</li>
        </ul>
    </section>
    <section class="desktop">
      <div class="container">
        <div class="desktop__flex">
          <div class="desktop__right">
            <h4>Mt4 Desktop</h4>
            <p>MetaTrader is the most popular front-end application in the industry. Forex24 MT4 has taken the MetaTrader MT4 platform and introduced its liquidity to create a user-friendly front-end trading interface with interbank liquidity and fast execution.</p>
            <b>Benefits:</b>
            <div class="desktop__list">
              <ul>
                <li>Ease of use through its user friendly interface</li>
                <li>Multiple charting and analysis</li>
                <li>Multilingual platform</li>
                <li>Real time client account summary</li>
                <li>It requires NO download. Simply login and trade from your browser</li>
              </ul>
              <ul>
                <li>One-Click Trading allows you to place trades in a mouse click</li>
                <li>Get real-time quotes in MarketWatch</li>
                <li>9 chart time frames</li>
                <li>Trading from charts & monitor active orders on the chart</li>
                <li>Advanced analysis tools</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mobile">
      <div class="container  container--temp">
        <h2>Mobile</h2>
        <b>User-friendly and Intuitive for Novices and Pros</b>
        <p class="mobile__title">Follow your trades on your mobile device of choice— iOS, Android & Windows Phone. Forex24 Global has developed this state of the art Mobile Application to be versatile enough to meet the needs of both beginners and seasoned professionals alike. You will enjoy using the clean, straightforward and intuitively designed user interface.</p>
        
      </div>
      <div class="mobile__flex-first">
        <div class="mobile__left">
          <b>Auto-Update</b>
          <p>The Forex24 Global Mobile App performs updatesи automatically, ensuring that the user is always up to date with the latest version of the platform.</p>
        </div>
        <div class="mobile__right">
          <b>Customizable Menus</b>
          <p>Menus in the app are customizable to meet the specific needs of our clients.</p>
        </div>
      </div>
      <div class="mobile__flex-second">
        <div class="mobile__first">
          <b>Touch-Friendly</b>
          <p>Whether it’s Bollinger Bands, RSI, or MACD— there are 60 technical indicators built directly into the App. Technical indicators are built on algorithms that allows the trader to visually analyze chart data to spot trends and ultimately to forecast the direction of an instrument. Indicators function as a critical element to any successful technical analysis.</p>
          <div class="mobile__flex-box">
            <div class="mobile__box">
              <p><b>MT4 for PC</b><br><a href="#">Read more</a></p>
              <a class="features__start" href="#">Download</a>
            </div>
            <div class="mobile__box">
              <p><b>MT4 Webtrader</b><br><a href="#">Read more</a></p>
              <a class="features__start" href="#">Launch</a>
            </div>
          </div>
        </div>
        <div class="mobile__second"></div>
      </div>
    </section>
  </section>
  <section class="payment  payment--temp">
    <div class="payment__box"></div>
  </section>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>Risk warning</b>
        </div>
        <div class="page-footer__right-column">
          <p>Trading in Contracts for Difference (‘CFDs’) carries a high level of risk and can result in the loss of all your investment. As such, CFDs may not be appropriate for all investors. You should not invest money that you cannot afford to lose. Before deciding to trade, you should become aware of all the risks associated with CFD trading, and seek advice from an independent and suitably licensed financial advisor. Under no circumstances shall we have any liability to any person or entity for (a) any loss or damage in whole or part caused by, resulting from, or relating to any transactions related to CFDs or (b) any direct, indirect, special, consequential or incidental damages whatsoever. For more information about the risks associated with trading CFDs please find and read our <a href="#">‘General Risk Disclosure.’</a><br><br>Cryptologi Global does not provide services to residents of the USA, Canada, Japan, North Korea, Iran, Belgium and some other regions.</p>  
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>QUICK LINKS</b>
        </div>
        <div class="page-footer__right-column">
          <a href="#">Licenses</a>
          <a href="#">Account Types</a>
          <a href="#">Funding & Withdrawal</a>
          <a href="#">Product Specification </a>
          <a href="#">Economic Calendar</a>
          <a href="#">Legal Documents</a>
          <a href="#">Partners</a>
          <a href="#">Faq</a>
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>SOCIAL MEDIA</b>
        </div>
        <div class="page-footer__right-column  page-footer__right-column--link">
          <a href="#" class="page-footer__facebook">Facebook</a>
          <a href="#" class="page-footer__linked">LinkedIn</a>
          <a href="#" class="page-footer__twitter">Twitter</a>
          <a href="#" class="page-footer__google">Google+</a>
        </div>
      </div>
      <div class="page-footer__flex">
        <div class="page-footer__left-column">
          <b>contact info</b>
        </div>
        <div class="page-footer__right-column  page-footer__right-column--flex">
          <a href="#" class="page-footer__link">Contact Us</a>
          <div class="page-footer__contact">
            <b>Customer Service</b>
            <p>CY Number: +35725000199</p>
          </div>
          <div class="page-footer__contact">
            <b>Support</b>
            <p>e-mail: support@forex24.com</p>
          </div>
          <p class="page-footer__text">UK Number: +442080891644</p>
        </div>
      </div>
      <div class="page-footer__copyright">
        <p>© 2017 All rights reserved LYDYA FINANCIAL LTD.<br>Located at 155 Ayias Fylaxeos, Ersi Court Suite 202, 3083 Limassol, Cyprus.</p>
        <p>Cryptologi Global is a brand owned and operated by Lydya Financial Ltd, a Cyprus Investment Firm (CIF) regulated and supervised by the Cyprus Securities and Exchange Commission (CySEC) with CIF Licence number 300/16 and Company registration number HE334292.</p>
        <p>The Company is also registered with: FCA in UK with reg. no. 782501; BaFin in Germany with reg. no. 1349943; CONSOB in Italy with reg. no. 4624; ACP in France with reg. no. 75980; CNMV in Spain with reg. no. 4373.</p>
      </div>
    </div>
  </footer>
<script src="../js/mobile-menu.js"></script>
</body>
</html>