.gallery__call {
  display: block;
  margin-bottom: 40px;
  color: $text;
  font-size: 25px;
  font-weight: 500;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}