.leaders {
  margin-bottom: 70px; 
}

.leaders__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.leaders__title {
  color: $text;
  font-size: 30px;
  font-weight: bold;
}

.leaders__button {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding: 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url('../img/svg/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  
  &:last-child {
    margin-right: 0;
    transform: rotate(180deg);
  }
}

.leaders__list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.leaders__item {
  box-sizing: border-box;
  width: 270px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.leaders__figure {
  margin: 0;
}

.leaders__img {
  width: 100%;
}

.leaders__name {
  margin-top: 20px;
  margin-bottom: 5px;
  color: $text;
  font-size: 22px;
  font-weight: 500;
}

.leaders__position {
  color: $blue;
  font-size: 18px;
  font-weight: 500;
}

.leaders__text {
  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 25px;
  padding-left: 25px;
  color: $text;
  font-size: 14px;
  font-weight: normal;
}

.leaders__control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaders__dots {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  padding: 0;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background-color: $blue;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
  
  &:last-child {
    margin-right: 0;
  }
  
  &:hover,
  &:focus {
    opacity: 1;
  }
  
  &--active {
    opacity: 1;
  }
}

@media screen and ($tablet-widths) {
  .leaders__title {
    font-size: 22px;
  }
  
  .leaders__list {
    flex-wrap: wrap;
  }
  
  .leaders__item {
    width: 220px;
    margin: auto;
    margin-bottom: 20px;
  }
}