.programs {
  margin-bottom: 70px;
}

.programs__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.programs__title {
  margin: 0;
  color: $text;
  font-size: 30px;
  font-weight: bold;
}

.programs__button {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  padding: 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
  outline: none;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    
  }
  
  &:active {
    opacity: 1;
    transform: scale(1.05);
  }
  
  &:last-child {
    margin: 0;
  }
  
  &--active {
    opacity: 1;
  }
}

.programs__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  
  &--column {
    flex-direction: column;
  }
}

.programs__item {
  width: 370px;
  height: 440px;
  margin-bottom: 30px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  
  &--column {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    
    .programs__img {
      display: none;
    }
    
    .programs__table {
      width: 50%;
      padding: 0;
    }
    
    .programs__tbody {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .programs__name {
      margin: 0;
      font-size: 16px;
      text-align: left;
    }
    
    .programs__text {
      padding: 0;
      
      &--caption {
        display: none;
      }
    }  
  }
}

.programs__figure {
  margin: 0;
}

.programs__img {
  width: 100%;
}

.programs__name {
  margin-top: 20px;
  margin-bottom: 10px;
  color: $text;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.programs__table {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.programs__text {
  padding-top: 5px;
  padding-bottom: 5px;
  color: $text;
  font-size: 16px;
  font-weight: normal;
  
  &--caption {
    display: flex;
    align-items: center;
    padding-left: 35px;
    color: $blue;
    font-size: 14px;
  }
  
  &--location {
    background-image: url('../img/svg/location.svg');
    background-repeat: no-repeat;
    background-position: left;
  }
  
  &--date {
    background-image: url('../img/svg/date.svg');
    background-repeat: no-repeat;
    background-position: left;
  }
  
  &--cost {
    background-image: url('../img/svg/cost.svg');
    background-repeat: no-repeat;
    background-position: left;
  }
  
  &--blue {
    color: $blue;
    font-weight: 500;
  }
}

.programs__icon {
  margin-right: 5px;
}

.programs__load {
  position: relative;
  display: block;
  width: 250px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  border: none;
  border-radius: 43px;
  background-color: $blue;
  cursor: pointer;
  transition: 0.3s;
  
  &::before {
    content: '';
    position: absolute;
    left: 30px;
    width: 17px;
    height: 20px;
    background-image: url('../img/svg/refresh.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
  }
  
  &:hover, 
  &:focus {
    background-color: darken($blue, 5%);
    transform: translateY(-5px);
    
    &::before {
      transform: rotate(360deg);
    }
  }
  
  &:disabled {
    background-color: gray;
    cursor: not-allowed;
    
    &:hover,
    &:focus {
      background-color: gray;
      transform: translateY(0);
      
      &::before {
        transform: rotate(0);
      }
    }
  }
}

@media screen and ($tablet-widths) {
  .programs__wrapper {
    margin-bottom: 25px;
  }
  
  .programs__title {
    font-size: 22px;
  }
  
  .programs__list {
    flex-wrap: wrap;
  }
  
  .programs__item {
    width: 345px;
    margin: 0 auto;
    margin-bottom: 20px;
    
    &--column {
      width: 100%;
      
      .programs__table {
        width: 60%;
      }
    }
  }
}

@media screen and ($mobile-widths) {
  .programs {
    margin-bottom: 50px;
  }
  
  .programs__wrapper {
    flex-direction: column;
  }
  
  .programs__title {
    margin-bottom: 5px;
    text-align: center;
  }
  
  .programs__list {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  
  .programs__item {
    width: 290px;
    height: auto;
    padding-bottom: 10px;
    
    &--column {
      flex-direction: column;
      // width: 100%;
      padding-right: 10px;
      padding-left: 10px;
      
      .programs__name {
        text-align: center;
      }
      
      .programs__table {
        width: 100%;
        text-align: center;
      }
      
      .programs__tbody {
        flex-direction: column;
      }
      
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
  
  .programs__table {
    padding-right: 20px;
    padding-left: 20px;
  }
}