body {
  min-width: 320px;
  margin: 0;
  font-family: 'SF UI Display', 'Arial', sans-serif;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: $sc; 
}

::-webkit-scrollbar-thumb:hover {
    background: $mc; 
}

@media screen and ($tablet-widths) {
  .container {
    width: 100%;
  }
}