html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(106, 126, 252, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #3b9ee4; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken(#3b9ee4, 5%); 
}

@media screen and ($tablet) {
  .container {
    width: 100%;
  }
}