.btn {
  padding: 20px 90px;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Proxima Nova Rg', sans-serif;
  text-decoration: none;
  transition: 0.3s;
  
  &--click {
    background: $mc;
    
    &:hover {
      color: #fff;
    }
  }
  
  &--unclick {
    padding: 14px 84px;
    border: 6px solid $mc;
    
    &:hover {
      color: #fff;
      background: $mc;
    }
  }
  
  &--blue {
    padding: 14px 44px;
    border: 6px solid $sc;
    
    &:hover {
      color: #fff;
      background: $sc;
    }
  }
  
  &--white {
    padding: 14px 40px;
    color: #fff;
    border: 6px solid #fff;
    
    &:hover {
      color: #000;
      background: #fff;
    }
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .btn {
    
    &--unclick {
      padding: 14px 41px;
    }
  }
}