.edge {
  width: 100%;
  height: 600px;
}

.edge__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.edge__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16.6666666667%;
  height: 600px;
  // padding: 150px 15px;
  padding: 0 65px 0 20px;
  color: #fff;
  font-family: 'Proxima Nova Rg', sans-serif;
  transition: all 1.3s;
  cursor: pointer;
  overflow: hidden;
  
  h3 {
    margin-top: 0;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    opacity: 0;
  }
  
  b {
    font-size: 24px;
    opacity: 0;
  }
  
  p {
    opacity: 0;
  }
  
  &:hover {
    width: 30%;
    
    h3 {
      opacity: 1;
      transition: all 2s;
    }
    
    b {
      opacity: 1;
      transition: all 2s;
    }
    
    p {
      opacity: 1;
      transition: all 2s;
    }
  }
}

.edge__box--1 {
  background: url('../img/edge1.jpg') no-repeat top;
  background-size: cover;
  
  &:hover {
    background: url('../img/edge1-h.jpg') no-repeat top;
    background-size: cover;
  }
}

.edge__box--2 {
  background: url('../img/edge2.jpg') no-repeat top;
  background-size: cover;

  &:hover {
    background: url('../img/edge2-h.jpg') no-repeat top;
    background-size: cover;
  }
}

.edge__box--3 {
  background: url('../img/edge3.jpg') no-repeat top;
  background-size: cover;

  &:hover {
    background: url('../img/edge3-h.jpg') no-repeat top;
    background-size: cover;
  }
}

.edge__box--4 {
  background: url('../img/edge4.jpg') no-repeat top;
  background-size: cover;

  &:hover {
    background: url('../img/edge4-h.jpg') no-repeat top;
    background-size: cover;
  }
}

.edge__box--5 {
  background: url('../img/edge5.jpg') no-repeat top;
  background-size: cover;

  &:hover {
    background: url('../img/edge5-h.jpg') no-repeat top;
    background-size: cover;
  }
}

.edge__box--6 {
  background: url('../img/edge6.jpg') no-repeat top;
  background-size: cover;

  &:hover {
    background: url('../img/edge6-h.jpg') no-repeat top;
    background-size: cover;
  }
}

.edge__name {
  position: absolute;
  top: 0px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 340px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  box-shadow: -4.698px 1.71px 7px 0px rgba(0, 0, 0, 0.15);
  background: linear-gradient( 155deg, rgb(0,158,216) 0%, rgb(11,188,253) 100%);
  // z-index: 10;
  
  p {
    width: 230px;
    margin: 0;
    padding-left: 270px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Proxima Nova Rg', sans-serif;
    text-transform: uppercase;
    transform: rotate(270deg);
    opacity: 1;
  }
}

.edge__title {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $mc;
}

.edge__img-1 {
  margin: 11px;
}

.edge__img-2 {
  margin: 13px 11px;
}

.edge__img-3 {
  margin: 20px 11px;
}

.edge__img-4 {
  margin: 20px 11px;
}

.edge__img-5 {
  margin: 11px 13px;
}

.edge__img-6 {
  margin: 11px 14px;
}

@media screen and ($tablet-widths) {
  .edge__box {
    width: 22%;
  }
  
  .edge__box--5,
  .edge__box--6 {
    display: none;
  }
}

@media screen and ($mobile-widths) {
  .edge {
    display: none;
  }
}