.footer {
  padding: 70px 0;
  background: #68788a;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__left,
.footer__middle,
.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__middle {
  width: 550px;
  color: #fff;
  font-size: 20px;
  font-family: 'Proxima Nova Lt', sans-serif;
  
  p {
    margin: 0;
  }
}

.footer__right {
  color: #fff;
  font-size: 20px;
  font-family: 'Proxima Nova Lt', sans-serif;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__fb {
  width: 15px;
  height: 25px;
  background: url('../img/facebook.svg') no-repeat center;
  background-size: cover;
}

.footer__gp {
  width: 37px;
  height: 24px;
  background: url('../img/google.svg') no-repeat center;
  background-size: cover;
}

.footer__tw {
  width: 30px;
  height: 25px;
  background: url('../img/twitter.svg') no-repeat center;
  background-size: cover;
}

.footer__em {
  width: 30px;
  height: 24px;
  background: url('../img/email.svg') no-repeat center;
  background-size: cover;
}

.footer__skype {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: block;
  width: 60px;
  height: 60px;
  background: url('../img/footer-skype.svg') no-repeat center;
  animation: skype 1s infinite alternate;
}

.bubble .lwc-chat-button {
  right: 50px !important; 
  background: url('../img/footer-skype.svg') no-repeat center;
  animation: skype 1s infinite alternate;
}

.lwc-button-icon {
  display: none !important;
}

@keyframes skype {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.2);
  }
}

@media screen and ($tablet-widths) {
  .footer__left {
    
    img {
      margin-bottom: 30px;
    }
  }
  
  .footer__middle {
    // width: auto;
    margin-top: 30px;
  }
  
  .footer__right {
    margin-top: 30px;
  }
}

@media screen and ($mobile-widths) {
  .footer__flex {
    justify-content: center;
  }
  
  .footer__middle {
    width: auto;
    text-align: center;
  }
  
  .footer__skype {
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
  }
  
  .bubble .lwc-chat-button {
    right: 15px !important;
    bottom: 15px !important;
    width: 40px !important;
    height: 40px !important;
  }
}