.manual {
  
  h1 {
    margin: 70px 0;
    font-size: 48px;
    font-family: 'Proxima Nova Rg', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
}

.manual__tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.manual__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.manual__links {
  width: 100%;
  padding: 50px;
  padding-right: 80px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Proxima Nova Rg', sans-serif;
  text-align: right;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  
  &--trade {
    background: #68788a;
    
    &.active {     
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -31px;
        width: 34px;
        height: 128px;
        background: url('../img/btn-arrow-trade.png') no-repeat top;
        background-size: contain;
      }

      &::after {
        content: '';
        position: absolute;
        top: 52px;
        right: 150px;
        width: 30px;
        height: 22px;
        background: url('../img/pointer.svg') no-repeat top;
        background-size: contain;
      }
    }
  }
  
  &--manage {
    background: #f58b23;
    
    &.active {     
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -31px;
        width: 34px;
        height: 128px;
        background: url('../img/btn-arrow-manage.png') no-repeat top;
        background-size: contain;
      }

      &::after {
        content: '';
        position: absolute;
        top: 52px;
        right: 175px;
        width: 30px;
        height: 22px;
        background: url('../img/pointer.svg') no-repeat top;
        background-size: contain;
      }
    }
  }
  
  &--integrate {
    background: #0bbcfd;
    
    &.active {     
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -31px;
        width: 34px;
        height: 128px;
        background: url('../img/btn-arrow-integrate.png') no-repeat top;
        background-size: contain;
        opacity: 1;
      }

      &::after {
        content: '';
        position: absolute;
        top: 52px;
        right: 185px;
        width: 30px;
        height: 22px;
        background: url('../img/pointer.svg') no-repeat top;
        background-size: contain;
      }
    }
  }
  
  &--grow {
    background: #d4c2a5;
    
    &.active {     
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -31px;
        width: 34px;
        height: 128px;
        background: url('../img/btn-arrow-grow.png') no-repeat top;
        background-size: contain;
        opacity: 1;
      }

      &::after {
        content: '';
        position: absolute;
        top: 52px;
        right: 145px;
        width: 30px;
        height: 22px;
        background: url('../img/pointer.svg') no-repeat top;
        background-size: contain;
      }
    }
  }
}

.active {
  position: relative;
  font-size: 23px;
}

.manual__content {
  display: none;
  padding: 40px 130px;
  width: 60%;
  font-size: 16px;
  font-family: 'Proxima Nova Lt', sans-serif;
  border-left: none;
  background: #e6e6e6;
  transition: 0.6s;
  
  b {
    text-transform: uppercase;
  }
  
  p {
    margin-top: 0;
  }
  
  &--trade {
    display: block;
  }
  
  a {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
  }
}

@media screen and ($tablet-widths) {}

@media screen and ($mobile-widths) {
  .manual {
    
    h1 {
      margin: 50px 0;
      font-size: 30px;
    }
  }
  
  .manual__tabs {
    flex-direction: column;
    
    button {
      width: auto;
      padding: 20px;
      text-align: center;
    }
  }
  
  .manual__button {
    width: auto;
  }
  
  .manual__content {
    width: auto;
    padding: 20px 40px; 
    
    a {
      width: auto;
      padding: 20px;
    }
  }
  
  .active {
    &::before,
    &::after {
      display: none;
    }
  }
}