.nav {
  width: 350px;
  
  ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    
    a {
      color: #000;
      font-size: 24px;
      font-family: 'Proxima Nova Lt', sans-serif;
      text-decoration: none;
      
      &:hover {
        font-family: 'Proxima Nova Rg', sans-serif;
      }
    }
  }
}