.title {
  text-align: center;
  background: #488dae url('../img/title-bg.jpg') no-repeat;
  background-size: cover;
  
  h1 {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 280px;
    font-size: 60px;
    font-family: 'Proxima Nova Rg', sans-serif;
    text-transform: uppercase;
  }
  
  b {
    font-size: 36px;
    font-family: 'Proxima Nova Rg', sans-serif;
  }
}