<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="about">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" height="50" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="#">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub-link">Accounts</a>
            <ul class="sub-nav__accounts">
                <li><a>Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="#">Segregated account</a></li>
                <li><a href="#">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="#">Platforms</a>
          </li>
          <li><a class="sub-link" href="#">Tools</a></li>
      </ul>
      <div class="title  title--about">
        <h1>Trade with Multiply Market</h1>
        <p>Multiply Market presents its users with the optimal platform for investing in Forex, Futures and Commodities. We are committed to providing each and every user with the best experience possible, and always aim to provide the necessary means and resources for successful trading.</p>
        <a href="#" class="button  button--title">Open account</a>
        <small>By clicking the "Open account" button I declare that I have carefully read the Terms & Conditions and Privacy Policy with which I fully understand, accept and agree.</small>
      </div>
    </div>
  </section>
  <section class="give">
    <div class="container">
      <h1>Multiply Market gives you</h1>
      <div class="give__flex">
        <div class="give__box">
          <img src="../img/calc.svg" alt="">
          <p>Means for investing in forex, futures and indices on a wide number of international marketplaces</p>
        </div>
        <div class="give__box">
          <img src="../img/device.svg" alt="">
          <p>Top notch trade platform, available on all relevant devices – PC, Mac, Android and Apple phones</p>
        </div>
        <div class="give__box">
          <img src="../img/signal.svg" alt="">
          <p>Timely reports and indicators, which let you closely follow how your trade develops with each signal, along with vital success strategies</p>
        </div>
        <div class="give__box">
          <img src="../img/lawyer.svg" alt="">
          <p>A personalized education system – massive amounts of trading information at your disposal</p>
        </div>
      </div>
      <hr>
      <div class="give__flex">
        <div class="give__box">
          <img src="../img/graph.svg" alt="">
          <p>Superior request processing and spreads</p>
        </div>
        <div class="give__box">
          <img src="../img/algo.svg" alt="">
          <p>Algo Trading – a clever computer program which aids you by making trading faster and better overall</p>
        </div>
        <div class="give__box">
          <img src="../img/acc.svg" alt="">
          <p>Various account choices, catering to each user`s specific circumstances. You can also change the type of your account if there is a need</p>
        </div>
        <div class="give__box">
          <img src="../img/support.svg" alt="">
          <p>Excellent user care and technical support, which let you focus on trading and feel safe</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>