<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account Types - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="account">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" height="50" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="#">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub-link" href="about-us.html">Accounts</a>
            <ul class="sub-nav__accounts">
                <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                <li><a>Account types</a></li>
                <li><a href="#">Segregated account</a></li>
                <li><a href="#">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="#">Platforms</a>
          </li>
          <li><a class="sub-link" href="#">Tools</a></li>
      </ul>
      <div class="title  title--account">
        <h1>Account types</h1>
        <p>Our accounts provide benefits of Forex market to private and corporate clients, using one of the most advanced trading platform available.</p>
      </div>
      <table class="table">
        <tr>
          <th></th>
          <th>
            <b>Mini</b>
            <p>Basic Exchange For Beginners</p><br>
            <span>$500</span>
            <a class="button  button--table" href="#">Open account</a>
          </th>
          <th>
            <b>Classic</b>
            <p>For Skilled Investors</p><br>
            <span>$5000</span>
            <a class="button  button--table" href="#">Open account</a>
          </th>
          <th>
            <b>Premium</b>
            <p>Advanced Transaction<br>For Experienced Investors</p>
            <span>$20000</span>
            <a class="button  button--table" href="#">Open account</a>
          </th>
        </tr>
        <tr>
          <td>Online Chat Support</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Platforms: MT4 & Mobile</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Instruments: Forex, CFDs & Commodities</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>E-book for free</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Specific Competitive Spreads & Commissions</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Access to Breaking News & Market Studies</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Online Phone Support</td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Simultaneous Trading Signals</td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Trading Education Package</td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Account helping Team Available 24/7</td>
          <td class="table__check-r"></td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Trade Mentor</td>
          <td class="table__check-r"></td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
        </tr>
      </table>
    </div>
  </section>
  <section class="steps">
    <div class="container">
      <h1>Steps for opening a Multiply Market Trading Profile</h1>
      <p class="steps__italy">Making any account type of trading profile at MultiplyMarket is laidback and flawlessly smooth.</p>
      <hr>
      <b>Pick the account types depending on your objectives and needs</b>
      <p>3 available account types are supplemented with lots of additional features that bring some extra pluses to the investor. You can easily sign up for any of them. And keep the notice that you can change the account type after putting money on your acc.</p>
      <hr>
      <b>Fill out the demanded information and accomplish an identity approval</b>
      <p>You just need to complete information profile with your personal data and to provide some identity papers.</p>
      <hr>
      <b>Depositing money into your acc</b>
      <p>Once we approve and authorize your application, you will make your payments and withdraws suddenly.</p>
    </div>
  </section>
</body>
</html>