<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account Types - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="account">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" height="50" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="#">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="sub-nav">
        <a href="#">Accounts</a>
        <a href="#">Platforms</a>
        <a href="#">Tools</a>
      </div>
      <div class="title  title--account">
        <h1>Account types</h1>
        <p>Our accounts provide benefits of Forex market to private and corporate clients, using one of the most advanced trading platform available.</p>
      </div>
      <table class="table">
        <tr>
          <th></th>
          <th>
            <b>Mini</b>
            <p>Basic Exchange For Beginners</p><br>
            <span>$500</span>
            <a class="button  button--table" href="#">Open account</a>
          </th>
          <th>
            <b>Classic</b>
            <p>For Skilled Investors</p><br>
            <span>$5000</span>
            <a class="button  button--table" href="#">Open account</a>
          </th>
          <th>
            <b>Premium</b>
            <p>Advanced Transaction<br>For Experienced Investors</p>
            <span>$20000</span>
            <a class="button  button--table" href="#">Open account</a>
          </th>
        </tr>
        <tr>
          <td>Online Chat Support</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Platforms: MT4 & Mobile</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Instruments: Forex, CFDs & Commodities</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>E-book for free</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Specific Competitive Spreads & Commissions</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Access to Breaking News & Market Studies</td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Online Phone Support</td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Simultaneous Trading Signals</td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Trading Education Package</td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Account helping Team Available 24/7</td>
          <td class="table__check-r"></td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
        </tr>
        <tr>
          <td>Trade Mentor</td>
          <td class="table__check-r"></td>
          <td class="table__check-r"></td>
          <td class="table__check-g"></td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aliquam, est vel soluta expedita incidunt voluptatibus labore sint earum? Cum totam, fuga, sit amet odio alias dolorum sint culpa nam ipsa dolor est, aspernatur perferendis. Delectus blanditiis corporis, cum. Voluptates temporibus at ab amet fuga totam autem ipsum. Nobis ipsam fugit aliquam magni. Deleniti libero asperiores ullam accusamus cum ad quis facilis adipisci amet consectetur. Cumque voluptate suscipit, id perspiciatis porro beatae, omnis autem fugit ad quisquam illum excepturi odio tenetur aspernatur eaque sint, eveniet mollitia neque! Vero perspiciatis reiciendis expedita earum laborum, velit nesciunt dolorum harum unde illum repellendus!
  </section>
</body>
</html>