<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account Funding - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/styless.css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <section class="temp  temp--faq">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <ul class="sub-nav">
              <li>
                <a class="sub__title">Accounts</a>
                <ul class="sub-nav__list">
                    <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                    <li><a href="account-types.html">Account types</a></li>
                    <li><a href="segregated.html">Segregated account</a></li>
                    <li><a href="https://client.multiplymarket.com/en/members/register/real">Open live account</a></li>
                </ul>
              </li>
              <li>
                <a class="sub__title">Platforms</a>
                <ul class="sub-nav__list">
                    <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                    <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                    <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
                </ul>
              </li>
              <li>
                <a class="sub__title">Tools</a>
                <ul class="sub-nav__list">
                    <li><a href="spread.html">Spreads and trading hours</a></li>
                    <li><a href="glossary.html">Trade glossary</a></li>
                    <li><a href="signals.html">Forex Signals</a></li>
                    <li><a href="account-faq.html">Account faq</a></li>
                    <li><a>Account funding & Withdrawal</a></li>
                </ul>
              </li>
          </ul>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="https://client.multiplymarket.com/en/members/register/real">Open live account</a>
            <a class="button  button--black" href="https://client.multiplymarket.com/en/members/login">Log In</a>
            <a class="button  button--number" href="tel:++442038290032">+442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="title">
        <h1>Account Funding</h1>
      </div>
      <div class="content">
        <p>You can put money on your MultiplyMarket account in 3 different ways, according to your preferences. Log in to your MultiplyMarket account and go to the button for depositing. Notice that there are 3 available methods for doing so:</p>
        <b>1. Using a Credit Card</b>
        <p>The quickest method available. It lets you put money on your profile momentarily. Making a deposit with a credit card is super easy as well, you just need to choose it as your desired method and then fill in the necessary information. Note that you need to have an international credit card in order for the payment to be accepted.</p>
        <p>The smallest deposit amount is $250, whereas the deposit ceiling is $5,000. The withdrawal limitations are the same.</p>
        <b>2. Bank Draft</b>
        <p>Sometimes the transaction might take up to 5 days to get processed, so please have that in mind when using a bank draft.</p>
        <b>3. Wire Transfer</b>
        <p>In order to use a wire transfer to put money on your account, you need to fill in the necessary documents at the bank. Know that there is a minimum allowed amount of $10000 only, so you need to consider if this is the right deposit option for you.</p>
        <p>It is possible that the process takes about 5 work days before the payment is completed. As soon as the money is on your profile, you will receive an e-mail notification.</p>
        <b>Withdrawing money from the account</b>
        <p>Withdrawing money from your MultiplyMarket profile is very easy to do and takes no time at all. We are always 100% committed to doing what`s best for our users.</p>
        <p>The money can also be withdrawn with a regular bank transferal. You can request the funds to be withdrawn by any method you find most comfortable. Note that it will be returned to the same account you made the deposit from.</p>
        <b>In order to make a withdrawal you need to:</b>
        <ul>
          <li>Log in to your account in our client area and submit a withdrawal request online.</li>
          <li>We will take care of your withdrawal as soon as we get the request. After that we are going to send the money to the account which you made the deposit from. Varying on where your bank is situated, the transaction can take about 5 days to be fully processed and completed. Usually though, it takes less.</li>
        </ul>
        <b>Things you should take into account:</b>
        <ul>
          <li>MultiplyMarket takes care of transferring the deposit money.</li>
          <li>The money you’ve earned from trading will be sent to the account that you`ve specified.</li>
          <li>In some cases, a back-charge might be imposed and deducted from the money that is being withdrawn.</li>
        </ul>
        <p>In case you would like to ask anything related to putting money on the Live Account, feel free to get in touch with a MultiplyMarket employee.</p>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--wm"></div>
        <div class="payment__box  payment__box--sofort"></div>
        <div class="payment__box  payment__box--ae"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--ideal"></div>
        <div class="payment__box  payment__box--skrill"></div>
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--master"></div>
        <div class="payment__box  payment__box--bank"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="https://client.multiplymarket.com/en/members/login">Log In</a></li>
          <li><a href="https://client.multiplymarket.com/en/members/register/real">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="about.html">About Us</a></li>
          <li><a href="careers.html">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="security.html">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="forex.html">Forex</a></li>
          <li><a href="futures.html">Futures</a></li>
          <li><a href="commodities.html">Commodities</a></li>
          <li><a href="indices.html">Indices</a></li>
          <li><a href="stocks.html">Stocks</a></li>
          <li><a href="algo.html">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="terms.html">Terms and Conditions</a></li>
          <li><a href="risk.html">Risk Disclosure</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="anti-money.html">Anti-Money Laundering</a></li>
          <li><a href="kyc.html">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <p>© 2017 ALL right reserved MultiplyMarket</p>
    </div>
  </footer>
</body>
</html>