<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account Funding - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="faq">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" height="50" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub-link" href="about-us.html">Accounts</a>
            <ul class="sub-nav__accounts">
                <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="separated.html">Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="platform.html">Platforms</a>
            <ul class="sub-nav__accounts">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="spread.html">Tools</a>
            <ul class="sub-nav__accounts">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a href="signals.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a>Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <div class="title  title--about">
        <h1>Account Funding</h1>
      </div>
      <div class="content">
        <p>You can put money on your Multiply Market account in 3 different ways, according to your preferences. Log in to your Multiply Market account and go to the button for depositing. Notice that there are 3 available methods for doing so:</p>
        <b>1. Using a Credit Card</b>
        <p>The quickest method available. It lets you put money on your profile momentarily. Making a deposit with a credit card is super easy as well, you just need to choose it as your desired method and then fill in the necessary information. Note that you need to have an international credit card in order for the payment to be accepted.</p>
        <p>The smallest deposit amount is $250, whereas the deposit ceiling is $5,000. The withdrawal limitations are the same.</p>
        <b>2. Bank Draft</b>
        <p>Sometimes the transaction might take up to 5 days to get processed, so please have that in mind when using a bank draft.</p>
        <b>3. Wire Transfer</b>
        <p>In order to use a wire transfer to put money on your account, you need to fill in the necessary documents at the bank. Know that there is a minimum allowed amount of $10000 only, so you need to consider if this is the right deposit option for you.</p>
        <p>It is possible that the process takes about 5 work days before the payment is completed. As soon as the money is on your profile, you will receive an e-mail notification.</p>
        <b>Withdrawing money from the account</b>
        <p>Withdrawing money from your Multiply Market profile is very easy to do and takes no time at all. We are always 100% committed to doing what`s best for our users.</p>
        <p>The money can also be withdrawn with a regular bank transferal. You can request the funds to be withdrawn in any method you find most comfortable. Note that it will be returned to the same account you made the deposit from.</p>
        <b>In order to make a withdrawal you need to:</b>
        <ul>
          <li>Log in to your account in our client area and submit a withdrawal request online.</li>
          <li>We will take care of your withdrawal as soon as we get the request. After that we are going to send the money to the account which you made the deposit from. Varying on where your bank is situated, the transaction can take about 5 days to be fully processed and completed. Usually though, it takes less.</li>
        </ul>
        <b>Things you should take into account:</b>
        <ul>
          <li>Multiply Market takes care of transferring the deposit money.</li>
          <li>The money you’ve earned from trading will be sent to the account that you`ve specified.</li>
          <li>In some cases a back-charge might be imposed and deducted from the money that is being withdrawn.</li>
        </ul>
        <p>In case you would like to ask anything related to putting money on the Live Account, feel free to get in touch with a Multiply Market employee.</p>
      </div>
    </div>
  </section>
</body>
</html>