<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Algo Trading - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <section class="temp  temp--info">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="login.html">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub__title">Accounts</a>
            <ul class="sub-nav__list">
                <li><a>Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="segregated.html">Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Platforms</a>
            <ul class="sub-nav__list">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Tools</a>
            <ul class="sub-nav__list">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a href="signals.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <div class="info">
        <h1>Algo Trading</h1>
        <p>Algo Trading becomes very popular nowadays due to its active development. It is a program for investors to become more successful, have favorable outcomes and constantly evolve. Algo Trading is based on the artificial intelligence and scenario-based approach that help investors have profitable trading. The time period, quantity and price are, of course, taken into account while creating trading strategies.</p>
        <b>The assistance of the software will be:</b>
        <ul>
          <li>Help detect the quality of affording gain, which will be best for investors</li>
          <li>Reduced expenses</li>
          <li>Lucidity becomes more perceptible</li>
          <li>Amend balance of commitment and planning of trading actions</li>
          <li>Develop investor’s skills to analyze and take action according to the trading situation</li>
        </ul>
        <b>Advantages</b>
        <ul>
          <li>Fast multiple investing – the quantity of trading operations the Algo Trading is able to perform is way higher and differs from any regular trader. The software may proceed with repeated tasks through a certain time period and this may take place in various markets. Of course, all taken actions are intended to improve investor’s trading progress</li>
          <li>24/7 – you won’t have to plan your trading and follow any platform’s working curfews, the software offers its services non-stop to draw more traders and help them get more profit any time, suitable for them</li>
          <li>Mechanized work – as we are using artificial intelligence and specific algorithms, all our investors should not worry about human factor (stress, personal problems, unfocused work etc) that may cause any losses</li>
          <li>Seeing all cards – investors can take their time and build a strategy, see through all pros and cons of the trading and future actions because there will be no need to control the system that will be automatically doing its job and handling all “unnecessary” things</li>
        </ul>
        <b>Various robot-functions</b>
        <ul>
          <li>Auto-search – the system will constantly update the market and search for the best trading opportunities and options according to the inquiry and will send notifications right away</li>
          <li>Make trades – the robot will assist the investor to create a number of trades right away. All actions will be done in accordance with the specific instructions, set by the trader, and will also correspond to the specific risk margins</li>
          <li>The strategy of the investment – the robot works according to the set algorithm, which helps to find best deals, best opportunities on the market. It also is done in accordance with the special user’s preferences</li>
        </ul>
        <b>Risks</b>
        <p>Depending on the chosen risk profile, all robots have the same mechanism: they have various setting options to choose. The trading principle here is as usual: the more you set on the table (and accordingly the risks get higher), the more you may get as a reward.</p>
        <b>Tree variants for trading:</b>
        <ul>
          <li>Classics of the market – you should choose this risk profile if you are trading in small amounts. You will get support and feedback within this profile if funds amount does not outbid 10 000 USD, and annual percentage rate is 3, which will surely help the trader with any shortages</li>
          <li>Know-how investor – this one should be chosen if you have already traded for some time and you have quite a bit knowledge of the trading principals. Annual percentage rate – 7, maximum money amount – 50 000 USD</li>
          <li>Professional businessman – on this profile terms you will have the percentage rate of 25 (can you actually imagine) and the sum of the account should exceed 50 000 USD</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--wm"></div>
        <div class="payment__box  payment__box--sofort"></div>
        <div class="payment__box  payment__box--ae"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--ideal"></div>
        <div class="payment__box  payment__box--skrill"></div>
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--master"></div>
        <div class="payment__box  payment__box--bank"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="#">Log In</a></li>
          <li><a href="register.html">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="about.html">About Us</a></li>
          <li><a href="careers.html">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="security.html">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="forex.html">Forex</a></li>
          <li><a href="futures.html">Futures</a></li>
          <li><a href="commodities.html">Commodities</a></li>
          <li><a href="indices.html">Indices</a></li>
          <li><a href="stocks.html">Stocks</a></li>
          <li><a class="footer__active">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="terms.html">Terms and Conditions</a></li>
          <li><a href="risk.html">Risk Disclosure</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="anti-money.html">Anti-Money Laundering</a></li>
          <li><a href="kyc.html">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <p>© 2017 ALL right reserved MultiplyMarket</p>
    </div>
  </footer>
</body>
</html>