<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anti-Money Laundering - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="temp  temp--info">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="login.html">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub__title">Accounts</a>
            <ul class="sub-nav__list">
                <li><a>Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="segregated.html">Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Platforms</a>
            <ul class="sub-nav__list">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Tools</a>
            <ul class="sub-nav__list">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a href="signals.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <div class="info">
        <h1>Anti-Money Laundering</h1>
        <p>MultiplyMarket puts a strong emphasis on counter-money laundering and takes it very seriously. The platform strongly abides by the AML terms, and as a prominent and global forex platform, it stands as firm opposition against money laundering. The following protocol has been made for the purpose of keeping any money laundering activities from happening and providing timely information on the matter. MultiplyMarket encourages its users to read the protocol against money laundering and let us know in case there are any unclear points.</p>
        <b>The meaning of money laundering?</b>
        <p>The concealment of any illegal money by moving them to a legally valid place or financial institution, unnoticed and hidden from the eye of the law.</p>
        <p>It is possible that funds moved to lawful financial institutions by members of terrorist organizations can be used to buy goods or services to be utilized in unlawful actions or to aid other similar activities.</p>
        <p>MultiplyMarket abides by all legal restrictions and is going to notify about all effort of any company, entity or person to hide the possession or source of any funds obtained by unlawful actions. The following are also contained: fraudulent actions, unlawful gambling, stealing, anything drug related and others.</p>
        <b>For what reasons do we need to verify your identity when trading?</b>
        <p>Every MultiplyMarket client is obliged to provide verification of his identity along with a proven source of income. The client has to give some form of ID in order to verify his name, place of residence and other relevant info.</p>
        <b>Which documents are necessary for verifying the identity?</b>
        <ul>
          <li>Legal ID document.</li>
          <li>Duplicate of a utility payment. It must have the client`s name and address.</li>
          <li>The user has to distinctly show the name of the recipient when filling in the MultiplyMarket contract. The name on the contract should be the same as the one of the account recipient and the one on the identification papers. Also, any withdrawals should go to the same recipient.</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--wm"></div>
        <div class="payment__box  payment__box--sofort"></div>
        <div class="payment__box  payment__box--ae"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--ideal"></div>
        <div class="payment__box  payment__box--skrill"></div>
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--master"></div>
        <div class="payment__box  payment__box--bank"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="#">Log In</a></li>
          <li><a href="register.html">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="about.html">About Us</a></li>
          <li><a href="careers.html">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="security.html">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="forex.html">Forex</a></li>
          <li><a href="futures.html">Futures</a></li>
          <li><a href="commodities.html">Commodities</a></li>
          <li><a href="indices.html">Indices</a></li>
          <li><a href="stocks.html">Stocks</a></li>
          <li><a href="algo.html">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="terms.html">Terms and Conditions</a></li>
          <li><a href="risk.html">Risk Disclosure</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a class="footer__active">Anti-Money Laundering</a></li>
          <li><a href="kyc.html">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <p>© 2017 ALL right reserved MultiplyMarket</p>
    </div>
  </footer>
</body>
</html>