<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Careers - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <section class="temp  temp--info">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="login.html">Log In</a>
            <a class="button  button--number" href="tel:++442038290032">+442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub__title">Accounts</a>
            <ul class="sub-nav__list">
                <li><a>Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="segregated.html">Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Platforms</a>
            <ul class="sub-nav__list">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Tools</a>
            <ul class="sub-nav__list">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a href="signals.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <div class="info">
        <h1>Careers</h1>
        <p>Here At MultiplyMarket we ensure our client get the ideal environment and conditions that you need to improve in your area of expertise, whether you are a young individual at the beginning of your career, or an experienced professional seeking to move forward. What we plan to achieve is to help you attain your professional aspirations by giving you the motivation and inspiration to do so.</p>
        <p>As a company that places itself at the forefront of progress, we have established an ultra-modern, hi-tech environment for our staff, consisting of the most up to date equipment and cutting-edge technology. We make sure that we have the most up to date licenses of your preferred software in order for you to be satisfied with what you’re working with and efficient at what you do. It’s extremely important to us to know that our employees are kept happy with and engaged in their work.</p>
        <p>Our team leaders are always there to guide and mentor each member of their team and to inspire them to reach their full potential. We value and respect our employees and view them as our most important asset, our present and our future. Each employee’s contribution is invaluable because we believe that collective decision making is the key to success. Our company stands for trust, respect, integrity, innovation and progress.</p>
        <b class="info__title">1. Office manager UK</b>
        <b>Requirements</b>
        <ul>
          <li>Qualification in secretarial studies, administration or other relevant fields  will be considered advantageous</li>
          <li>Work experience as a receptionist, secretary or office administrator</li>
          <li>Fluent spoken and written English, additional languages will be considered an advantage</li>
          <li>Excellent organizational skills & attention to detail</li>
          <li>Comfortable working in a high-pressure environment</li>
          <li>Neat and well presented</li>
        </ul>
        <b>Responsibilities & Duties</b>
        <p>The ideal candidate will join a dynamic and fast-paced working environment. The successful candidate will be responsible for the secretarial, reception and office administration duties of the Firm including but not limited to the following:</p>
        <ul>
          <li>General liaison for secretarial and coordinating functions</li>
          <li>Deal with all general office correspondence and queries</li>
          <li>Seamless daily organization for the efficient functioning of the office</li>
          <li>Organize meetings</li>
          <li>Arrange all aspects of travel arrangements for staff business trips such as transport, accommodation, and visas</li>
          <li>Monitor and order stationery, furniture and groceries</li>
          <li>Manage office budgets</li>
          <li>Liaise with staff, suppliers and clients</li>
          <li>Implement and maintain procedures and office administrative systems</li>
          <li>Coordinate and supervise the cleaning staff as appropriate in order to keep the office clean and tidy</li>
        </ul>
        <b class="info__title">2. Customer service representative</b>
        <p>The Customer Service Representative is expected to provide professional and excellent customer service to clients whilst enhancing their trading experience with MultiplyMarket.</p>
        <b>Requirements</b>
        <ul>
          <li>Very great excellent knowledge of English</li>
          <li>Excellent spoken and written communication skills required</li>
          <li>Ability to work efficiently under pressure</li>
          <li>Excellent computer skills (Microsoft Excel and Word)</li>
          <li>Knowledge of Meta Trader platforms will be considered an advantage</li>
          <li>Previous experience in similar position will be considered an advantage</li>
          <li>Shift work as and when required</li>
        </ul>
        <b>Responsibilities & Duties</b>
        <ul>
          <li>Assisting clients worldwide through a live support</li>
          <li>Answering e-mails, assisting with the opening of client accounts, amending existing accounts, maintaining client records and liaising with appropriate departments</li>
          <li>Impeccable telephone etiquette and management</li>
          <li>Handling of Back office queries</li>
          <li>Supporting clients with technical and troubleshooting issues</li>
          <li>Dealing with complaints of a varying nature promptly and effectively</li>
          <li>Providing support and troubleshooting on Meta Trader platforms</li>
          <li>Liaising with all departments to resolve issues</li>
          <li>Liaising with the compliance officer regarding complaints and approval of accounts</li>
          <li>Providing all relevant information to clients regarding documents and materials for becoming a client</li>
        </ul>
        <b class="info__title">3. Business Analyst</b>
        <b>Requirements</b>
        <ul>
          <li>Strong analytical thinking</li>
          <li>Ability to structure information, see what is really important and what is just feature “nice to have”</li>
          <li>Project management or Analyst experience not less than 5 years (agile or waterfall)</li>
          <li>Experience in working with programmers, project managers, business users</li>
          <li>Fluent in English and an international language</li>
          <li>Proactive interest in financial markets and experience in Forex, banking or financial services</li>
        </ul>
        <b>Responsibilities & Duties</b>
        <ul>
          <li>Providing analysis of business requests and assistance with creation business requirements</li>
          <li>Transform business requirements into technical specifications for development team</li>
          <li>Plan, organize, track and manage task for development team (front/back developers, QA, UX etc)</li>
          <li>Create and Support project documentation (FSD, User documentation)</li>
          <li>Create effective communication between developers and stakeholders/project managers</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--wm"></div>
        <div class="payment__box  payment__box--sofort"></div>
        <div class="payment__box  payment__box--ae"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--ideal"></div>
        <div class="payment__box  payment__box--skrill"></div>
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--master"></div>
        <div class="payment__box  payment__box--bank"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="#">Log In</a></li>
          <li><a href="register.html">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="about.html">About Us</a></li>
          <li><a class="footer__active">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="security.html">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="forex.html">Forex</a></li>
          <li><a href="futures.html">Futures</a></li>
          <li><a href="commodities.html">Commodities</a></li>
          <li><a href="indices.html">Indices</a></li>
          <li><a href="stocks.html">Stocks</a></li>
          <li><a href="algo.html">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="terms.html">Terms and Conditions</a></li>
          <li><a href="risk.html">Risk Disclosure</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="anti-money.html">Anti-Money Laundering</a></li>
          <li><a href="kyc.html">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <p>© 2017 ALL right reserved MultiplyMarket</p>
    </div>
  </footer>
</body>
</html>