<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FAQ - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <section class="temp  temp--info">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <ul class="sub-nav">
              <li>
                <a class="sub__title">Accounts</a>
                <ul class="sub-nav__list">
                    <li><a>Trade with<br>MultiplyMarket</a></li>
                    <li><a href="account-types.html">Account types</a></li>
                    <li><a href="segregated.html">Segregated account</a></li>
                    <li><a href="https://client.multiplymarket.com/en/members/register/real">Open live account</a></li>
                </ul>
              </li>
              <li>
                <a class="sub__title">Platforms</a>
                <ul class="sub-nav__list">
                    <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                    <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                    <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
                </ul>
              </li>
              <li>
                <a class="sub__title">Tools</a>
                <ul class="sub-nav__list">
                    <li><a href="spread.html">Spreads and trading hours</a></li>
                    <li><a href="glossary.html">Trade glossary</a></li>
                    <li><a href="signals.html">Forex Signals</a></li>
                    <li><a href="account-faq.html">Account faq</a></li>
                    <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
                </ul>
              </li>
          </ul>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="https://client.multiplymarket.com/en/members/register/real">Open live account</a>
            <a class="button  button--blue" href="https://client.multiplymarket.com/en/members/login">Log In</a>
            <a class="button  button--number" href="tel:++442038290032">+442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="info">
        <h1>FAQ</h1>
        <b>What is the minimum amount required to open an account?</b>
        <p>There is no minimum to open a new account; however, a $2,000 deposit is required to be considered for margin and options privileges, regardless of any promotional offer.</p>
        <b>What is the fastest way to open a new account?</b>
        <p>Opening an account online is the fastest way to open and fund an account. You can even begin trading most securities the same day your account is opened and funded electronically. We work 24 hours a day, 7 days a week.</p>
        <b>What types of investments can I make with a MultiplyMarket account?</b>
        <p>MultiplyMarket offers a comprehensive and diverse selection of investment products. You can trade stocks, options, mutual funds, ETFs, futures, forex, and bonds and CDs in a standard account. Please note that investment choices may vary in less common account types such as Trust accounts, 529 education accounts, and pension plans. Each plan will specify what types of investments are allowed. See Account Types and Investment Products for more information.</p>
        <p>Yes. As you’re completing the Account Application, simply complete the margin and/or options section. We’ll review the information, and if appropriate, extend margin and/or options privileges to your account.</p>
        <p>Margin and options trading pose additional investment risks and are not suitable for all investors. In addition, certain account types may not be eligible for margin, options, or advanced options trading privileges. Please read Characteristics and Risks of Standardized Options, Margin Disclosure Document, Margin Account Handbook, and Day Trading Margin Requirements.</p>
        <b>Can I write checks from my account?</b>
        <p>MultiplyMarket  has a comprehensive Cash Management offering. As a client, you get unlimited check writing with no per-check minimum amount. Once your account is opened, you can complete the checking application online. A Cash Management account also gives you access to free online bill pay, as well as a free debit card with nationwide rebates on all ATM fees.</p>
        <b>Do I earn interest in my account?</b>
        <p>Yes. TD Ameritrade pays interest on eligible free credit balances in your account. Simple interest is calculated on the entire daily balance and is credited to your account monthly. This service is subject to the current TD Ameritrade rates and policies, which may change without notice.</p>
        <b>Are there restrictions on funds deposited into my account?</b>
        <p>Funds typically post to your account 1-2 days after we receive your check or electronic deposit. Once the fund`s post, you can trade most securities. Electronic deposits can take another 3-4 business days to clear; checks can take 5-6 business days.</p>
        <p>Until your deposit clears, we restrict withdrawals and trading off some securities based on market risk. This includes—but isn’t limited to—options and most stocks priced under $5 per share.</p>
        <p>All electronic deposits are subject to review and may be restricted for 60 days. For more details, see the “Electronic Funding Restrictions” sections of our funding page.</p>
        <b>Are there any fees?</b>
        <p>We believe in fair, straightforward pricing and for you, that means flat-rate $6.95 commissions on every Internet equity trade, regardless of account balance or how many shares you buy; however, you won’t be charged any platform, inactivity, or market data fees. Please review our Commission and Fees for complete details.</p>
        <b>Is my account protected?</b>
        <p>If you lose cash or securities from your account due to unauthorized activity, we’ll reimburse you for the cash or shares of securities you lost. We offer you this protection, which adds to the provisions that already govern your account, in case unauthorized activity ever occurs and it was through no fault of your own.</p>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--wm"></div>
        <div class="payment__box  payment__box--sofort"></div>
        <div class="payment__box  payment__box--ae"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--ideal"></div>
        <div class="payment__box  payment__box--skrill"></div>
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--master"></div>
        <div class="payment__box  payment__box--bank"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="https://client.multiplymarket.com/en/members/login">Log In</a></li>
          <li><a href="https://client.multiplymarket.com/en/members/register/real">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="about.html">About Us</a></li>
          <li><a href="careers.html">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="security.html">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="forex.html">Forex</a></li>
          <li><a href="futures.html">Futures</a></li>
          <li><a href="commodities.html">Commodities</a></li>
          <li><a href="indices.html">Indices</a></li>
          <li><a href="stocks.html">Stocks</a></li>
          <li><a href="algo.html">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a class="footer__active">FAQ</a></li>
          <li><a href="terms.html">Terms and Conditions</a></li>
          <li><a href="risk.html">Risk Disclosure</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="anti-money.html">Anti-Money Laundering</a></li>
          <li><a href="kyc.html">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <p>© 2017 ALL right reserved MultiplyMarket</p>
    </div>
  </footer>
</body>
</html>