<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Glossary - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="faq">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" height="50" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub-link">Accounts</a>
            <ul class="sub-nav__accounts">
                <li><a>Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="separated.html">Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="platform.html">Platforms</a>
            <ul class="sub-nav__accounts">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="spread.html">Tools</a>
            <ul class="sub-nav__accounts">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a href="templates/mobile.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <div class="title  title--about">
        <h1>Trade Glossary</h1>
      </div>
      <div class="content">
        <b>A<br>AAA</b>
        <p>AAA is the top rating given for bonds, denoting the highest quality. This rating is awarded by the major rating agencies.</p>
        <b>ABS</b>
        <p>ABS (Asset-Backed Securities) are collateralized by assets such as car loans and credit card receivables, which can be seized if the debtor defaults. ABS are created by the process of securitization whereby banks pool types of loans and use them as collateral or security against a bond issue.</p>
        <b>Accrued Interest</b>
        <p>Accrued interest is the interest accruing on a security since the previous coupon date. If a security is sold between two payment dates, the buyer usually compensates the seller for the interest accrued, either within the price or as a separate payment.</p>
        <b>Amortization</b>
        <p>The reduction of principal or debt at regular intervals. This can be done via a purchase or sinking fund. The term can also be used to describe the depreciation of fixed assets.</p>
        <b>Annualized Rate</b>
        <p>An annualized rate plots the change in an indicator over the whole year if the latest monthly or quarterly figure is presumed to persist for the rest of the year. It is calculated by multiplying one month’s change by 12 to produce the annualized rate, or one quarter’s rate by four.</p>
        <b>Arbitrage</b>
        <p>Arbitrage is the process of buying and selling an identical (or very similar) financial instrument at the same time on different markets. True arbitrage requires that the financial instrument is trading at two different prices, and that the buying and selling trades can be completed at the same time.</p>
        <b>At-the-Money</b>
        <p>An option is described as being at-the-money when the exercise price is approximately the same as that of the underlying instrument.</p>
        <b>B<br>Back Month</b>
        <p>Back month refers to a non-front month (non-expiration month) futures or options contract; it is further from expiration.</p>
        <b>Bank Check</b>
        <p>In order to qualify as a Bank Check, the check must contain one of the following descriptions: Treasurer’s Check, Cashier’s Check, Teller’s Check, Banker’s Check or Official Check.</p>
        <b>Bar Chart</b>
        <p>A bar chart is a type of chart that is used frequently by technical analysts and traders. Price data is represented on a vertical bar. The top of the bar is the highest price and the bottom of the bar the lowest. A dash on the left-hand side of the bar denotes the opening price, while conversely a dash on the right-hand side the closing price.</p>
        <b>Barrier Option</b>
        <p>An option which is activated or deactivated once the price of the underlying financial instrument reaches a set level, known as the barrier. It can be categorized into either trigger or knockout options.</p>
        <b>Base Currency</b>
        <p>The term Base Currency is used for accounting purposes to refer to the currency in which an investor maintains its book of accounts.</p>
        <b>Benchmark Rate</b>
        <p>The Benchmark Rate is an internationally recognized rate of interest for overnight deposits which Nexus Trade uses as a basis for determining the rates at which we pay (i.e., benchmark less a spread) and charge (i.e., benchmark plus a spread) interest to client accounts It’s important to note that each available currency is assigned a unique Benchmark Rate and that Benchmark Rates are subject to change on a daily basis.</p>
        <b>Bid-Ask Quote</b>
        <p>A two-way price comprises a bid, or the price at which a dealer is willing to buy, and an ask (or offer) at which a dealer is willing to sell. The bid, by definition, is always below the ask and is always the first quoted price. The difference between the two quotes is known as the spread.</p>
        <b>Bill; T-Bill</b>
        <p>A bill is a short-term debt instrument with a maturity usually no longer than two years. Bill is often short for treasury bills. Treasury Bills (T-Bills) are short-term government debt.</p>
        <b>Bond Equivalent Yield</b>
        <p>Bond equivalent yield is a calculation that converts the yield of a money market instrument, such as a treasury bill, into the equivalent yield of a treasury bond in order to compare efficiency.</p>
        <b>Bull Market</b>
        <p>A bull market is one in which prices have been rising for a prolonged period of time.</p>
        <b>Buy Back</b>
        <p>The purchase by a company of its own shares in the open market, usually based on the belief that the shares are undervalued and that buying them will provide a better investment return than using the cash for the underlying business of the company. In theory the buy back will reduce the number of shares in the market and increase the value of the remaining ones. This process is also known as a share repurchase. It effectively returns to the shareholders the cash held in company reserves which already belongs to them.</p>
        <b>C<br>Call</b>
        <p>A call is an option contract that gives the holder or buyer the right but not the obligation to buy an underlying instrument at an agreed price within a specified time. The seller or writer has the obligation to sell the underlying instrument if the holder exercises the option.</p>
        <b>Candlestick Chart</b>
        <p>A candlestick chart is a type of price chart widely used by technical analysts. Candlesticks capture the same price information as a bar chart: the open, high, low and close. A thick box (known as the body of the candle) joins the open and close values. Thin lines on either end of the body (known as shadows) join the high and low prices. If the open value is higher than the close value, the body of the candle is solid or colored. Conversely, if the close is higher than the open then the body of the candle is clear, white or unshaded.</p>
        <b>Cash Dividend</b>
        <p>A dividend paid in cash to a company’s shareholders. Cash dividends are distributed from current earnings or accumulated profits.</p>
        <b>Commodity</b>
        <p>A natural raw material used as a foodstuff or in manufacturing. Exchange-traded commodities are quoted in specific lots of a specific quality for specified delivery, and usually also trade in forward, futures and options contracts.</p>
        <b>Compound Option</b>
        <p>A compound option is an option, on an option. It gives the holder the right to buy or sell an option at a set price on a predetermined date. If the first option is exercised, the underlying option will then function like a standard option.</p>
        <b>Convertible Bond</b>
        <p>A bond that is convertible into a fixed number of an issuing company’s stock at a pre-set conversion price.</p>
        <b>CPI</b>
        <p>CPI (Consumer Price Index) is a measure of retail inflation. It is calculated by collecting and comparing the prices of a set basket of goods and services, as bought by a typical consumer, at regular intervals over time. Also known as Retail Price Index.</p>
        <b>Crack Spread</b>
        <p>A calculation showing the theoretical market value of petroleum products that could be obtained from a barrel of crude after the oil is refined or “cracked”.</p>
        <b>Currency Pair</b>
        <p>Two currencies with exchange rates that are traded in the retail forex market. The rates of exchange between foreign currency pairs are calculated as the factor by which a base currency is multiplied to yield an equivalent value or purchasing power of foreign currency.</p>
        <b>Currency Swap</b>
        <p>An arrangement in which two parties exchange specific amounts of different currencies initially and a series of interest payments on the initial cash flows are exchanged. Often, one party will pay a fixed interest rate, while another will pay a floating exchange rate (though there may also be fixed-fixed and floating-floating arrangements). At the maturity of the swap, the principal amounts are exchanged back. Unlike an interest rate swap, the principal and interest are both exchanged in full in a currency swap</p>
        <b>Current Excess Liquidity</b>
        <p>This figure, found in the Account Window in TWS, is the difference between Current Equity with Loan Value and Current Maintenance Margin. Current Excess Liquidity is often referred to as a trader’s “cushion”. Current Equity with Loan Value – Current Maintenance Margin = Current Excess Liquidity</p>
        <b>Current Yield</b>
        <p>A measure of the return to a bondholder, calculated as a ratio of the coupon to the market price. Essentially the annual coupon rate divided by the clean price of the bond.</p>
        <b>CUSIP</b>
        <p>CUSIP refers to both the Committee on Uniform Security Identification Procedures which acts as the National Numbering Association for North American securities as well as the 9 character alpha-numeric security identifier they issue for the purpose of facilitating trading, clearance and settlement of these securities. In the case of Apple, Inc. (trading symbol AAPL) , for example, a CUSIP of 037833100 has been assigned to identify this stock.</p>
      </div>
    </div>
  </section>
</body>
</html>