<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Platform - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="platform">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub__title">Accounts</a>
            <ul class="sub-nav__list">
                <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="segregated.html">Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Platforms</a>
            <ul class="sub-nav__list">
                <li><a>MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Tools</a>
            <ul class="sub-nav__list">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a href="signals.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <div class="title">
        <h1>Multiply Market Trade Meta Trader 4</h1>
        <p class="title__sub">The Multiply Market Meta Trader Four provides the optimal platform for making the most out of Forex trading</p>
      </div>
      <p class="platform__text">MT4 is a globally acclaimed software made specifically for the purpose of delivering the best Forex experience, along with Commodities, Futures and different tradeable assets. It is perfect for new traders, as well as seasoned veterans, because it covers all aspects of the trading process. Due to its reliability, easiness of use, timely access to vital information and trading strategies, along with the latest economic data and occurrences, MT4 is considered to be the leading platform worldwideе</p>
      <div class="platform__flex">
        <div class="platform__right">
          <b>Meta Trader Four gives you the opportunity to:</b>
          <ul>
            <li>Invest in a wide variety of Currencies, Commodities and Futures.</li>
            <li>Make analysis of securities quotes.</li>
            <li>Create a trading strategy.</li>
            <li>Use your mobile phone to trade, no matter where you are.</li>
            <li>Look at many charts at the same time.</li>
            <li>Make customizations to the screens.</li>
            <li>Get support for many currencies.</li>
            <li>Choose from a wide number of support languages.</li>
          </ul>
        </div>
        <div class="platform__left">
          <img src="../img/meta.png" alt="MetaTrader4">
          <a class="button  button--download" href="#">Download</a>
        </div>
      </div>
    </div>
  </section>
  <section class="platform-plus">
    <div class="container">
      <h1>Some of the other pluses of the platform are:</h1>
      <div class="platform-plus__flex">
        <ul>
          <li>Quick processing.</li>
          <li>Automatic Investments.</li>
          <li>Perfect safety.</li>
          <li>Advanced charts availability.</li>
          <li>Slippage protection.</li>
        </ul>
        <ul>
          <li>Lack of 3rd party bridging.</li>
          <li>Lack of automated syncing.</li>
          <li>Availability of four pending orders<br>Buy Limit, Buy Stop, Sell Limit, Sell Stop.</li>
          <li>.01 lot sizes.</li>
          <li>Partial closing and many other.</li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="#">Forex</a></li>
          <li><a href="#">Futures</a></li>
          <li><a href="#">Commodities</a></li>
          <li><a href="#">Indices</a></li>
          <li><a href="#">Stocks</a></li>
          <li><a href="#">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Risk Disclosure</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Anti-Money Laundering</a></li>
          <li><a href="#">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <div class="footer__flex">
        <p>© 2017 ALL right reserved MultiplyMarket</p>
        <img src="" alt="">
      </div>
    </div>
  </footer>
</body>
</html>