<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Privacy Policy - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/styless.css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <section class="temp  temp--info  temp--gray">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <ul class="sub-nav">
              <li>
                <a class="sub__title">Accounts</a>
                <ul class="sub-nav__list">
                    <li><a>Trade with<br>MultiplyMarket</a></li>
                    <li><a href="account-types.html">Account types</a></li>
                    <li><a href="segregated.html">Segregated account</a></li>
                    <li><a href="https://client.multiplymarket.com/en/members/register/real">Open live account</a></li>
                </ul>
              </li>
              <li>
                <a class="sub__title">Platforms</a>
                <ul class="sub-nav__list">
                    <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                    <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                    <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
                </ul>
              </li>
              <li>
                <a class="sub__title">Tools</a>
                <ul class="sub-nav__list">
                    <li><a href="spread.html">Spreads and trading hours</a></li>
                    <li><a href="glossary.html">Trade glossary</a></li>
                    <li><a href="signals.html">Forex Signals</a></li>
                    <li><a href="account-faq.html">Account faq</a></li>
                    <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
                </ul>
              </li>
          </ul>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="https://client.multiplymarket.com/en/members/register/real">Open live account</a>
            <a class="button  button--black" href="https://client.multiplymarket.com/en/members/login">Log In</a>
            <a class="button  button--number" href="tel:++442038290032">+442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="info">
        <h1>Privacy Policy</h1>
        <p>MultiplyMarket takes the privacy of its users very seriously. We are aware that keeping our treasured clients` private information is vital and have made the trustworthiness and security of the platform into one of our top priorities.</p>
        <p>We advise you to familiarize yourself with our privacy protocol and let us know in case you have any inquiries.</p>
        <p>The arrangements stated in this protocol are applicable to current and previous users as well.</p>
        <b>1. Private information.</b>
        <p>At the time activating of your profile at MultiplyMarket, we would request that you share the necessary personal info, in order to provide you the optimum trading experience. We need the info to make the necessary transfers and trades, to determine your financial scope, to handle any forgotten password issues, make customer care easier and let you know about any Forex related matter that might concert you. We are also obliged by the law to keep proper records.</p>
        <b>2. We might request that you share the following thing with us:</b>
        <p>In order to apply: your name, DOB, a form of identification or social security, proper address. We might also need to make sure of your occupation, financial status, and more relevant information, as described during the process of creating a profile.</p>
        <p>In order to make transfer funds – statements or copies of previous correspondence and details about your transfers with MultiplyMarket or its partners, along with any trading actions, financial statements, previously asked questions and the respective answers.</p>
        <p>For authentication purposes – we might need certain documents for making sure that the information represents the real person (some form of personal identification) and also bank statements, utility statements, bank card information and so on.</p>
        <p>Attention: MultiplyMarket is obliged by the AML and the USA Patriot Act to gather any data if there is a need and act accordingly to verify a user`s identification.</p>
        <p>Attention: MultiplyMarket wants to clarify that it does not purposefully keep or gather any information of any individuals under the age of thirteen.</p>
        <p>If it comes to the knowledge of MultiplyMarket that information has been collected from a person under the age of thirteen, then the appropriate measures will be taken to erase that information.</p>
        <p>Please, if any parents or attendants of children learn that their child has submitted private/personal information with no permission, write us immediately.</p>
        <b>3. Utilization of cookies</b>
        <p>Some information is being transmitted from the platform`s server to the user`s browser and kept on the user`s device. This is referred to as cookies. MultiplyMarket gathers necessary data by using the cookies. Don`t worry, as cookies don`t have any private information regarding the user in them, with the exception when the user has provided such information by himself – like when opening a profile at a website. MultiplyMarket will utilize the cookies for the purpose of identifying and quantifying platform traffic, along with measuring how certain services and ads are performing.</p>
        <p>This way MultiplyMarket can better gauge the ways in which the users are utilizing the platform, and make enhancements to the performance of the website. Additionality, it lets us know what kind of relevant materials and information we should provide to you.</p>
        <p>The collected data might also be made available to MultiplyMarket staff, partners, and associates. MultiplyMarket will not use the information for commercial purposes by providing it to any unassociated individuals or entities.</p>
        <p>When the user goes to MultiplyMarket, there might be other affiliated parties that also place their cookies on the user`s computer. We would advise you to take a look at the terms and conditions of those affiliate parties` websites in case you have any questions or issues regarding their placement of cookies. Usually, the usage of cookies is the same as on MultiplyMarket.</p>
        <b>4. Disclosure information.</b>
        <p>Some information might be disclosed fully or partially with our trusted partners. The purpose of this is to be able to let customers know of any new offers or functionalities, along with providing assistance with user profiles. The partners consist of partiers related to the platform, who are usually stakeholders of some kind. The confidentiality of your private data will be kept by our partners as it is being kept by MultiplyMarket, following the privacy terms and conditions stated on the platform.</p>
        <b>5. Other Parties.</b>
        <p>With the exception of the parties stated in the privacy protocol, MultiplyMarket will not share your data with any other parties. Sometimes we might give information to non-associated firms responsible for performing maintenance on the user`s profile. This includes parties that take care of the fund`s transfer process at MultiplyMarket. Additionally, it might include firms responsible for any legal and financial matters at MultiplyMarket. Any party which is not a direct association to MultiplyMarket should keep the provided user data to the same degree in which it is received. The non-associate party can only utilize the given user data in order to provide the specified service and for no other reasons.</p>
        <p>In some cases, MultiplyMarket might give out a clients` private data to another party given that there are certain instructions that need to be accomplished. Know that MultiplyMarket would never use your information as a source of revenue and give it in exchange for money.</p>
        <p>In case of any requests and control by bodies of the law, MultiplyMarket might share private user data given to other parties. The shared information might contain private specifics in order to meet the requirements of the law, as well as securing the rights and integrity of the platform.</p>
        <b>6. Consolidation and insolvency.</b>
        <p>All private client data will be consolidated following the platform, in case there is a merger of MultiplyMarket. Stated in the inclusion terms and the obligations for keeping records, there are going to be different procedures in case of insolvency.</p>
        <b>7. Payment details.</b>
        <p>MultiplyMarket does not hold any data related to client`s credit card information and details.</p>
        <p>In case you`re asked to give a copy of your bank card, you should only provide the ending 4 digits of the card number, without giving out the CVC which can be found on the back of the card.</p>
        <b>8. Inability/Unwillingness to share private data.</b>
        <p>You can choose if you want to share the necessary information with MultiplyMarket. Be mindful though, that any info you omit might lead to issues with your trading profile. It might also have an impact on the services we`re able to offer you.</p>
        <b>9. Pulling out.</b>
        <p>If you wish for MultiplyMarket to delete all your private information from the platform and the servers, you will need to send us a detailed message. Know that any omitted data might result in issues with your profile and consequently lead to inadequacy with the platform services.</p>
        <b>10. Corrections.</b>
        <p>If any corrections are made, which change the policies and protocol for private data gathered by MultiplyMarket, the clients will be promptly informed about it. The client has the right to decide whether his private data will be used in a certain way. Any other change or correction which is not related to a client`s private data will be posted on the platform.</p>
        <b>11. Mailing info.</b>
        <p>In case you have any inquiries regarding the privacy protocol or something related to the platform, please feel free to contact us at any time. You can send us an e-mail, call us or fax us. There is always a dedicated MultiplyMarket employee to answer your questions.</p>
        <b class="info__title">Registered Address:</b>
        <p>Company name: VACENTY FINANCE LIMITED<br>Address: Trust Company Complex, Ajeltake Road, Majuro, Marshall Islands MH96960</p>
        <p>Phone: +442038290032<br>Email: info@MultiplyMarket.com</p>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--wm"></div>
        <div class="payment__box  payment__box--sofort"></div>
        <div class="payment__box  payment__box--ae"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--ideal"></div>
        <div class="payment__box  payment__box--skrill"></div>
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--master"></div>
        <div class="payment__box  payment__box--bank"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="https://client.multiplymarket.com/en/members/login">Log In</a></li>
          <li><a href="https://client.multiplymarket.com/en/members/register/real">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="about.html">About Us</a></li>
          <li><a href="careers.html">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="security.html">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="forex.html">Forex</a></li>
          <li><a href="futures.html">Futures</a></li>
          <li><a href="commodities.html">Commodities</a></li>
          <li><a href="indices.html">Indices</a></li>
          <li><a href="stocks.html">Stocks</a></li>
          <li><a href="algo.html">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="terms.html">Terms and Conditions</a></li>
          <li><a href="risk.html">Risk Disclosure</a></li>
          <li><a class="footer__active">Privacy Policy</a></li>
          <li><a href="anti-money.html">Anti-Money Laundering</a></li>
          <li><a href="kyc.html">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <p>© 2017 ALL right reserved MultiplyMarket</p>
    </div>
  </footer>
</body>
</html>