<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="register">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" height="50" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub-link" href="about-us.html">Accounts</a>
            <ul class="sub-nav__accounts">
                <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="separated.html">Segregated account</a></li>
                <li><a>Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="platform.html">Platforms</a>
            <ul class="sub-nav__accounts">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="spread.html">Tools</a>
            <ul class="sub-nav__accounts">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="templates/web.html">Trade glossary</a></li>
                <li><a href="templates/mobile.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <h1>Open live account</h1>
      <div class="register__flex">
        <div class="register__left">
          <form class="form" method="post">
            <p class="register__text">Fill up Your personal details:</p>
            <div class="form__flex">
              <input type="text" placeholder="First name">
              <input type="text" placeholder="Last name">
            </div>
            <div class="form__flex">
              <input type="number" placeholder="Country code">
              <input type="tel" placeholder="phone">
            </div>
            <div class="form__flex">
              <input type="email" placeholder="Email">
              <input type="date" placeholder="Date of birth">
            </div>
            <button class="button  button--submit" type="submit">Open account</button>
          </form>
        </div>
        <div class="register__right">
          <b>Safe and Secure</b>
          <p>Bank level security<br>No personal details are shared<br>Top SSL encryption</p>
          <b>Real account benefits</b>
          <p>Trade on multiple platforms using<br>an internet browser or mobile device</p>
          <p>Deep market liquidity.<br>We connected to a clearly defined liquidity pools</p>
          <p>No Transaction Costs</p>
          <b>Stronger password</b>
          <p>Make your password more secure<br>with those simple tips:</p>
          <p>At least 8 characters<br>Contains numbers<br>Contains letters<br>Contains special characters<br>Contains upper and lower case</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>