<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="register">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub__title">Accounts</a>
            <ul class="sub-nav__list">
                <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="segregated.html">Segregated account</a></li>
                <li><a>Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Platforms</a>
            <ul class="sub-nav__list">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Tools</a>
            <ul class="sub-nav__list">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a href="signals.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <h1>Open live account</h1>
      <div class="register__flex">
        <div class="register__left">
          <form class="form" method="post">
            <p class="register__text">Fill up Your personal details:</p>
            <div class="form__flex">
              <input type="text" placeholder="First name">
              <input type="text" placeholder="Last name">
            </div>
            <div class="form__flex">
              <input type="number" placeholder="Country code">
              <input type="tel" placeholder="phone">
            </div>
            <div class="form__flex">
              <input type="email" placeholder="Email">
              <input type="date" placeholder="Date of birth">
            </div>
            <button class="button  button--submit" type="submit">Open account</button>
          </form>
        </div>
        <div class="register__right">
          <b>Safe and Secure</b>
          <p>Bank level security<br>No personal details are shared<br>Top SSL encryption</p>
          <b>Real account benefits</b>
          <p>Trade on multiple platforms using<br>an internet browser or mobile device</p>
          <p>Deep market liquidity.<br>We connected to a clearly defined liquidity pools</p>
          <p>No Transaction Costs</p>
          <b>Stronger password</b>
          <p>Make your password more secure<br>with those simple tips:</p>
          <p>At least 8 characters<br>Contains numbers<br>Contains letters<br>Contains special characters<br>Contains upper and lower case</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="#">Log In</a></li>
          <li><a class="footer__active">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="about.html">About Us</a></li>
          <li><a href="careers.html">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="security.html">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="forex.html">Forex</a></li>
          <li><a href="futures.html">Futures</a></li>
          <li><a href="commodities.html">Commodities</a></li>
          <li><a href="indices.html">Indices</a></li>
          <li><a href="stocks.html">Stocks</a></li>
          <li><a href="algo.html">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="terms.html">Terms and Conditions</a></li>
          <li><a href="#">Risk Disclosure</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Anti-Money Laundering</a></li>
          <li><a href="#">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <div class="footer__flex">
        <p>© 2017 ALL right reserved MultiplyMarket</p>
        <img src="" alt="">
      </div>
    </div>
  </footer>
</body>
</html>