<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Segregated Account - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="segregated">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub-link">Accounts</a>
            <ul class="sub-nav__list">
                <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a>Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link">Platforms</a>
            <ul class="sub-nav__list">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link">Tools</a>
            <ul class="sub-nav__list">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a href="signals.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <div class="segregated__content">
        <h1>Segregated Accounts</h1>
        <p class="title__sub">The unique MultiplyMarket a Loyalty Saver Account allows their users to conduct trades perfectly safe and keeps them out of slow transaction loadings or information and payments errors. </p>
        <div class="segregated__adv">
          <b>Advantages:</b>
          <p>There are few more additional benefits that are shaped exactly to satisfy customers common needs. With all that major pluses, you can be sure in: </p>
          <ul>
            <li>100 % customers satisfying</li>
            <li>24/7 users support and help in dealing the most common problem issues</li>
            <li>Effective shifting of your capital</li>
            <li>Reliable chargeback security</li>
            <li>Convenient and user-friendly functions of your funds</li>
          </ul>
        </div>
        <b>When will a Loyalty Saver Account be appropriated for me?</b>
        <p>It will be assigned for you in the very beginning, once you have deposited money into your account, and you will be able to speed up your trading process avoiding any needless job and paperwork. </p>
        <div class="segregated__adv">
          <b>Conditions for withdrawing and transmitting money</b>
          <ul>
            <li>Verification of both parties are needed to confirm the release</li>
            <li>Can be done only when both parties are satisfied with provided deal</li>
            <li>May be automatically settled for a money withdraw Performed on user’s requests of transmitting</li>
          </ul>
        </div>
        <a class="button  button--title" href="register.html">Open account</a>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="#">Forex</a></li>
          <li><a href="#">Futures</a></li>
          <li><a href="#">Commodities</a></li>
          <li><a href="#">Indices</a></li>
          <li><a href="#">Stocks</a></li>
          <li><a href="#">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Risk Disclosure</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Anti-Money Laundering</a></li>
          <li><a href="#">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <div class="footer__flex">
        <p>© 2017 ALL right reserved MultiplyMarket</p>
        <img src="" alt="">
      </div>
    </div>
  </footer>
</body>
</html>