<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="separated">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" height="50" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub-link" href="about-us.html">Accounts</a>
            <ul class="sub-nav__accounts">
                <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a>Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="platform.html">Platforms</a>
            <ul class="sub-nav__accounts">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li><a class="sub-link" href="#">Tools</a></li>
      </ul>
      <div class="separated__content">
        <h1>Segregated Accounts</h1>
        <p>The unique MultiplyMarket a Loyalty Saver Account allows their users to conduct trades perfectly safe and keeps them out of slow transaction loadings or information and payments errors. </p>
        <div class="separated__adv">
          <b>Advantages:</b>
          <p>There are few more additional benefits that are shaped exactly to satisfy customers common needs. With all that major pluses, you can be sure in: </p>
          <ul>
            <li>100 % customers satisfying</li>
            <li>24/7 users support and help in dealing the most common problem issues</li>
            <li>Effective shifting of your capital</li>
            <li>Reliable chargeback security</li>
            <li>Convenient and user-friendly functions of your funds</li>
          </ul>
        </div>
        <b>When will a Loyalty Saver Account be appropriated for me?</b>
        <p>It will be assigned for you in the very beginning, once you have deposited money into your account, and you will be able to speed up your trading process avoiding any needless job and paperwork. </p>
        <div class="separated__adv">
          <b>Conditions for withdrawing and transmitting money</b>
          <ul>
            <li>Verification of both parties are needed to confirm the release</li>
            <li>Can be done only when both parties are satisfied with provided deal</li>
            <li>May be automatically settled for a money withdraw Performed on user’s requests of transmitting</li>
          </ul>
        </div>
        <a class="button  button--title" href="register.html">Open account</a>
      </div>
    </div>
  </section>
</body>
</html>