<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forex Signals - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="signals">
    <header class="header">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" height="50" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub-link">Accounts</a>
            <ul class="sub-nav__accounts">
                <li><a>Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="separated.html">Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="platform.html">Platforms</a>
            <ul class="sub-nav__accounts">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-link" href="spread.html">Tools</a>
            <ul class="sub-nav__accounts">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a>Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <div class="title  title--about">
        <h1>Forex Signals</h1>
        <p class="title__sub">At MultiplyMarket we provide the best forex signals by working closely with technology providers who are at the forefront of the industry.<br>To get a different perspective on Commodities, Indices, Currency Pairs, and Stocks, you can change the Time Frame.</p>
      </div>
      <div class="content">
        <a class="button  button--title" href=http://www.mlc-forex-news.com"">HOT Signals</a>
      </div>
    </div>
  </section>
</body>
</html>