<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spread and Trading - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <section class="spread">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <ul class="sub-nav">
              <li>
                <a class="sub__title">Accounts</a>
                <ul class="sub-nav__list">
                    <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                    <li><a href="account-types.html">Account types</a></li>
                    <li><a href="segregated.html">Segregated account</a></li>
                    <li><a href="https://client.multiplymarket.com/en/members/register/real">Open live account</a></li>
                </ul>
              </li>
              <li>
                <a class="sub__title">Platforms</a>
                <ul class="sub-nav__list">
                    <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                    <li><a href="web.html">MultiplyMarket Web Trader</a></li>
                    <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
                </ul>
              </li>
              <li>
                <a class="sub__title">Tools</a>
                <ul class="sub-nav__list">
                    <li><a href="spread.html">Spreads and trading hours</a></li>
                    <li><a href="glossary.html">Trade glossary</a></li>
                    <li><a href="signals.html">Forex Signals</a></li>
                    <li><a href="account-faq.html">Account faq</a></li>
                    <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
                </ul>
              </li>
          </ul>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="https://client.multiplymarket.com/en/members/register/real">Open live account</a>
            <a class="button  button--black" href="https://client.multiplymarket.com/en/members/login">Log In</a>
            <a class="button  button--number" href="tel:++442038290032">+442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="title">
        <h1>Spread and Trading hours</h1>
        <p class="title__sub">Dealing with MultiplyMarket, you’ll obtain a fixed range of spreads for a wide specter of currency pairs, available 24/7. Free of strict margin boundaries, it empowers you to trade using more profitable conditions.</p>
      </div>
      <div class="spread__content">
        <b>Margin requirements</b>
        <p>Relying on a type of selected trading account, MultiplyMarket provides its trades with flexible forex leverage, extended from 1:1 to 1:200.</p>
        <p>You possess no margin requirements all nights long and during weekends.</p>
        <p>MINIMAL trade SIZE</p>
        <p>The minimal trade size settled for all financial tools is 0.01 for a standard lot. This enables customers to trade with a high degree of safety.</p>
        <ul>
          <li>The minimum tight spreads are for all major pair</li>
          <li>More than 50 currency pairs</li>
          <li>6 Global Stock market indices</li>
          <li>Global Equities/Share</li>
          <li>Different pricing models adjusted to your needs</li>
          <li>Segmented pips pricing</li>
        </ul>
        <table class="table  table--spread">
          <thead>
          <tr>
          <th>Symbol</th>
          <th>Mini Account Spread</th>
          <th>Classic Account Spread</th>
          <th>Premium Account Spread</th>
          <th>Leverage</th>
          <th>Trading hours</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <th>EURUSD</th>
          <th>3</th>
          <th>2</th>
          <th>1</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>GBPUSD</th>
          <th>4</th>
          <th>3</th>
          <th>3</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDJPY</th>
          <th>3</th>
          <th>2</th>
          <th>2</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDILS</th>
          <th>50</th>
          <th>40</th>
          <th>30</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURCHF</th>
          <th>4</th>
          <th>3</th>
          <th>3</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURJPY</th>
          <th>4</th>
          <th>3</th>
          <th>3</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>AUDUSD</th>
          <th>4</th>
          <th>3</th>
          <th>3</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURGBP</th>
          <th>4</th>
          <th>3</th>
          <th>3</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>NZDUSD</th>
          <th>4</th>
          <th>3</th>
          <th>3</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDCAD</th>
          <th>4</th>
          <th>3</th>
          <th>3</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDCHF</th>
          <th>4</th>
          <th>3</th>
          <th>3</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>GBPCHF</th>
          <th>5</th>
          <th>4</th>
          <th>4</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>CADJPY</th>
          <th>6</th>
          <th>5</th>
          <th>4</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>CHFJPY</th>
          <th>6</th>
          <th>5</th>
          <th>4</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>GBPJPY</th>
          <th>6</th>
          <th>5</th>
          <th>4</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>NZDJPY</th>
          <th>5</th>
          <th>4</th>
          <th>4</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDHKD</th>
          <th>7</th>
          <th>6</th>
          <th>5</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>AUDJPY</th>
          <th>8</th>
          <th>7</th>
          <th>6</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>CADCHF</th>
          <th>8</th>
          <th>7</th>
          <th>6</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURAUD</th>
          <th>8</th>
          <th>7</th>
          <th>6</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>NZDCAD</th>
          <th>8</th>
          <th>7</th>
          <th>6</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDSGD</th>
          <th>8</th>
          <th>7</th>
          <th>6</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURCAD</th>
          <th>9</th>
          <th>8</th>
          <th>7</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>NZDCHF</th>
          <th>9</th>
          <th>8</th>
          <th>7</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>AUDCAD</th>
          <th>12</th>
          <th>11</th>
          <th>10</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>AUDCHF</th>
          <th>12</th>
          <th>11</th>
          <th>10</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>AUDNZD</th>
          <th>12</th>
          <th>11</th>
          <th>10</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>GBPAUD</th>
          <th>12</th>
          <th>11</th>
          <th>10</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>GBPCAD</th>
          <th>12</th>
          <th>11</th>
          <th>10</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURDKK</th>
          <th>15</th>
          <th>14</th>
          <th>13</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURNZD</th>
          <th>20</th>
          <th>15</th>
          <th>15</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDDKK</th>
          <th>20</th>
          <th>15</th>
          <th>15</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDTRY</th>
          <th>20</th>
          <th>15</th>
          <th>15</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURTRY</th>
          <th>22</th>
          <th>17</th>
          <th>17</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>GBPNZD</th>
          <th>25</th>
          <th>20</th>
          <th>20</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURNOK</th>
          <th>40</th>
          <th>30</th>
          <th>30</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDPLN</th>
          <th>45</th>
          <th>35</th>
          <th>35</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURPLN</th>
          <th>50</th>
          <th>40</th>
          <th>40</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURSEK</th>
          <th>50</th>
          <th>40</th>
          <th>40</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDNOK</th>
          <th>50</th>
          <th>40</th>
          <th>40</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDSEK</th>
          <th>50</th>
          <th>40</th>
          <th>40</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURILS</th>
          <th>70</th>
          <th>60</th>
          <th>60</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>GBPILS</th>
          <th>70</th>
          <th>60</th>
          <th>60</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>EURHUF</th>
          <th>75</th>
          <th>65</th>
          <th>65</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDHUF</th>
          <th>75</th>
          <th>65</th>
          <th>65</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDMXN</th>
          <th>100</th>
          <th>90</th>
          <th>90</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          <tr>
          <th>USDZAR</th>
          <th>100</th>
          <th>90</th>
          <th>90</th>
          <th>200</th>
          <th>24 Hours</th>
          </tr>
          </tbody>
          </table>
        <b>Indices Spreads & Conditions – chart</b>
        <table class="table  table--spread">
          <thead>
          <tr>
          <th>Symbol</th>
          <th>Mini Account Spread</th>
          <th>Premium Account Spread</th>
          <th>Leverage</th>
          <th>Trading hours</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <th>SP</th>
          <th>100</th>
          <th>50</th>
          <th>200</th>
          <th>23:00-21:15</th>
          </tr>
          <tr>
          <th>NSDQ</th>
          <th>150</th>
          <th>100</th>
          <th>200</th>
          <th>23:00-21:15</th>
          </tr>
          <tr>
          <th>FTSE</th>
          <th>500</th>
          <th>300</th>
          <th>200</th>
          <th>8:00-21:00</th>
          </tr>
          <tr>
          <th>DAX</th>
          <th>500</th>
          <th>300</th>
          <th>200</th>
          <th>7:00-21:00</th>
          </tr>
          <tr>
          <th>DOW</th>
          <th>500</th>
          <th>300</th>
          <th>200</th>
          <th>23:00-21:15</th>
          </tr>
          <tr>
          <th>NK</th>
          <th>500</th>
          <th>300</th>
          <th>200</th>
          <th>23:00-21:15</th>
          </tr>
          </tbody>
          </table>
        <b>Commodities Spreads & Conditions – chart</b>
        <table class="table  table--spread">
          <thead>
          <tr>
          <th>Symbol</th>
          <th>Mini Account Spread</th>
          <th>Classic Account Spread</th>
          <th>Premium Account Spread</th>
          <th>Leverage</th>
          <th>Trading hours</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <th>GOLD</th>
          <th>50</th>
          <th>45</th>
          <th>40</th>
          <th>200</th>
          <th>23:00-22:15</th>
          </tr>
          <tr>
          <th>SILVER</th>
          <th>50</th>
          <th>45</th>
          <th>40</th>
          <th>200</th>
          <th>23:00-22:15</th>
          </tr>
          <tr>
          <th>NGAS</th>
          <th>60</th>
          <th>50</th>
          <th>40</th>
          <th>200</th>
          <th>23:00-22:15</th>
          </tr>
          <tr>
          <th>CL</th>
          <th>60</th>
          <th>50</th>
          <th>40</th>
          <th>200</th>
          <th>23:00-22:15</th>
          </tr>
          </tbody>
          </table>
      </div>
    </div>
  </section>
  <section class="payment">
    <div class="container">
      <div class="payment__flex">
        <div class="payment__box  payment__box--wm"></div>
        <div class="payment__box  payment__box--sofort"></div>
        <div class="payment__box  payment__box--ae"></div>
        <div class="payment__box  payment__box--neteller"></div>
        <div class="payment__box  payment__box--ideal"></div>
        <div class="payment__box  payment__box--skrill"></div>
        <div class="payment__box  payment__box--visa"></div>
        <div class="payment__box  payment__box--master"></div>
        <div class="payment__box  payment__box--bank"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="https://client.multiplymarket.com/en/members/login">Log In</a></li>
          <li><a href="https://client.multiplymarket.com/en/members/register/real">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="about.html">About Us</a></li>
          <li><a href="careers.html">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="security.html">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="forex.html">Forex</a></li>
          <li><a href="futures.html">Futures</a></li>
          <li><a href="commodities.html">Commodities</a></li>
          <li><a href="indices.html">Indices</a></li>
          <li><a href="stocks.html">Stocks</a></li>
          <li><a href="algo.html">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="terms.html">Terms and Conditions</a></li>
          <li><a href="risk.html">Risk Disclosure</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="anti-money.html">Anti-Money Laundering</a></li>
          <li><a href="kyc.html">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <p>© 2017 ALL right reserved MultiplyMarket</p>
    </div>
  </footer>
</body>
</html>