<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trade Web - MultiplyMarket</title>
  <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
  <section class="temp  temp--trader">
    <header class="header  header--temp">
      <div class="container">
        <nav class="main-nav">
          <a href="../index.html">
            <img src="../img/logo-w.svg" width="180" height="auto" alt="MultiplyMarket">
          </a>
          <div class="main-nav__user  main-nav__user--temp">
            <a class="button" href="register.html">Open live account</a>
            <a class="button  button--black" href="#">Log In</a>
            <a class="button  button--number" href="tel:+442038290032">442038290032</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <ul class="sub-nav">
          <li>
            <a class="sub__title">Accounts</a>
            <ul class="sub-nav__list">
                <li><a href="about-us.html">Trade with<br>MultiplyMarket</a></li>
                <li><a href="account-types.html">Account types</a></li>
                <li><a href="segregated.html">Segregated account</a></li>
                <li><a href="register.html">Open live account</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Platforms</a>
            <ul class="sub-nav__list">
                <li><a href="platform.html">MultiplyMarket Trade Meta Trader 4</a></li>
                <li><a>MultiplyMarket Web Trader</a></li>
                <li><a href="mobile.html">MultiplyMarket Trade Mobile</a></li>
            </ul>
          </li>
          <li>
            <a class="sub__title">Tools</a>
            <ul class="sub-nav__list">
                <li><a href="spread.html">Spreads and trading hours</a></li>
                <li><a href="glossary.html">Trade glossary</a></li>
                <li><a href="signals.html">Forex Signals</a></li>
                <li><a href="account-faq.html">Account faq</a></li>
                <li><a href="account-funding.html">Account funding & Withdrawal</a></li>
            </ul>
          </li>
      </ul>
      <div class="trader__content">
        <h1>MultiplyMarket Web Trader</h1>
        <div class="trader__flex">
          <div class="trader__left">
            <p>Multiply Market`s highest purpose is to turn its users into successful traders and increase their success rates as much as possible. For that purpose we give you the Multiply Market Online trader, which enables you to be 100% involved in the trading process and adjust according to the market conditions, all the while letting you plan your trading activities to your preference.</p>
            <p>Utilize the full scope of the latest technological developments in the field by trading from any internet connectible device. Investing in Forex, Commodities and CFD has never been easier thanks to the Multiply Market Online Trader.</p>
            <ul>
              <li>Invest in a wide selection of instruments.</li>
              <li>Perform the trades swiftly.</li>
              <li>Get informed about the latest industry trends.</li>
              <li>Get the actual market prices at the moment.</li>
              <li>Make trades regardless of your location.</li>
              <li>Make the platform look according to your desires.</li>
              <li>Make the changes you want.</li>
              <li>Make informed trading decisions based on technical stats.</li>
              <li>Have access from any internet connectible device.</li>
            </ul>
            <a class="button  button--title" href="#">Go to web trader</a>
          </div>
          <div class="trader__right">
            <img src="../img/mobile.png" alt=""><br>
          </div>
        </div>
        <div class="trader__sub-content">
          <p>Multiply Market grants you a gateway to all your trading needs with the online and mobile trading applications. They are extremely intuitive and functional, enabling you to start a trade whenever you want, from anywhere with internet access. In case you already have a trading profile you can start a trade immediately.</p>
          <p>The Multiply Market Online Trader present users with the option to choose from a number of languages, it features the latest charts, fast operation of the trades, and best of all, it makes everything easy. You have the ability to access to trader from a number of different devices such as Apple or Android phone, tablet or PC. The platform is easy to use on every device and you can handle your investments with just a few clicks.</p>
          <p>Due to the intuitiveness and easiness of use, the Multiply Market Online trader will make sure that you are fully informed about all trades that interest you. Stay knowledgeable on the latest market news and trends, without having to leave your couch.</p>
          <b>It lets you:</b>
          <ul>
            <li>Have full control over your profile.</li>
            <li>Perform in-depth market analysis.</li>
            <li>Invest in a wide selection of orders.</li>
          </ul>
          <p>The trading field can be very volatile and the conditions can change in a matter of minutes. Therefore, you need to be able to react quickly in such cases. With the Multiply Market Online Trader, you act accordingly and access your trades at any moment. The advantage is in your hands.</p>
          <p>With the hastened pace of modern life, you need to be constantly on the go, but the platform lets you combine that with your trading needs, without having to compromise. It`s accessible from any browser, there is no need for you to be stuck to any specific place. Be it in your office, or from a friend`s PC, logging into your account and trading or just checking something is quick and simple.</p>
          <p>Using Multiply Market to trade is like a walk in the park.</p>
        </div>  
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <ul>
          <b>Account</b>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Sign Up</a></li>
        </ul>
        <ul>
          <b>About Us</b>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Security</a></li>
        </ul>
        <ul>
          <b>Assets</b>
          <li><a href="#">Forex</a></li>
          <li><a href="#">Futures</a></li>
          <li><a href="#">Commodities</a></li>
          <li><a href="#">Indices</a></li>
          <li><a href="#">Stocks</a></li>
          <li><a href="#">Algo trading</a></li>
        </ul>
        <ul>
          <b>Resources</b>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Risk Disclosure</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Anti-Money Laundering</a></li>
          <li><a href="#">KYC Policy</a></li>
        </ul>
      </div>
      <h1>Risk Warning:</h1>
      <p>Trading in Forex and CFDs can carry a high level of risk and can result in the loss of part or all of your investment, so it may not be appropriate for all investors. You should be aware of all the risks associated with Forex and CFD trading and seek for independent advice. Past performance does not constitute a reliable indicator of future results. Forecasts for the future do not constitute a reliable indicator of future performance. Copyright for the pages and for the screens displaying the pages, and for the information and material therein and in their arrangement, is owned by © 2017.VACENTY FINANCE LIMITED All Rights Reserved, Registered in Marshall Islands Trust Company Complex, Ajelatake Road, Ajelatake Island, Majuro. Marshall Islands, MH96960 (henceforth: “MultiplyMarket”) unless otherwise indicated.</p>
      <hr>
      <div class="footer__flex">
        <p>© 2017 ALL right reserved MultiplyMarket</p>
        <img src="" alt="">
      </div>
    </div>
  </footer>
</body>
</html>