<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plus500Crypto</title>
  <link rel="stylesheet" href="css/style.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> -->
</head>
<body>
  <header class="page-header">
    <div class="page-header__head">
      <nav class="page-header__nav">
        <div class="container">
          <div class="page-header__flex">
            <div class="page-header__logo">
              <a href="#">
                <img class="page-header__logo-b" src="img/logo.png" alt="CryptoLogic">
                <img class="page-header__logo-s" src="img/logo-s.png" alt="CryptoLogic">
              </a>
            </div>
            <div class="page-header__main-nav">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="#" class="page-header__login">Login</a></li>
                <li class="page-header__item"><a href="#" class="page-header__sign-up">Sign Up</a></li>
                <li class="page-header__item"><a href="templates/contact.html">Contacts</a></li>
              </ul>
            </div>
            <div class="page-header__main-nav  page-header__main-nav--s">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="#">Login</a></li>
                <li class="page-header__item"><a href="#">Sign Up</a></li>
                <li class="page-header__item"><a href="templates/contact.html">Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <!-- Content -->
    </div>
  </header>
  <section class="trade">
    <div class="container">
      <div class="trade__flex">
        <div class="trade__left-column">
          Walk on the path to success.<br>Buy, sell and trade cryptocurrencies
        </div>
        <div class="trade__right-column">
          With Plus500Crypto, you can easily change<br>any blockchain leading asset for any other<br>and it is 100% secured and fast
        </div>
      </div>
    </div>
  </section>
  <section class="edge">
    <div class="container">
      <div class="edge__flex">
        <div class="edge__box  edge__box--e-1">
          <p>Secuirity of founds</p>
        </div>
        <div class="edge__box  edge__box--e-2">
          <p>24/7 support</p>
        </div>
        <div class="edge__box  edge__box--e-3">
          <p>High<br>Liqiudity</p>
        </div>
        <div class="edge__box  edge__box--e-4">
          <p>No hidden<br>charges</p>
        </div>
        <div class="edge__box  edge__box--e-5">
          <p>Robot-Friendly<br>API</p>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="container">
      <div class="news__flex">
        <div class="news__left-column">
          <b>WHY CRYPTOLOGIC</b>
          <p>Plus500Crypto offers traders a wide range of possibilities. We offer a better way to move money, as people all over the world now, make use of digital currencies to send money across the world irrespective of your geographical location. This way is faster, easier and cheaper to use...</p>
          <!-- <a href="#">Read More</a> -->
        </div>
        <div class="news__middle-column">
          <b>A NEW TYPE OF INVECTMENT</b>
          <p>The emergence of cryptocurrencies into the market is something every trader is excited about. This is because of the ease and transparency involved in the use of digital currencies. When you think of trading cryptocurrencies you should think of Plus500Crypto. Plus500Crypto web socket feeds allows you to easily gain access to real-time market data and our trading API helps you develop safe programmatic trading bots</p>
          <!-- <a href="#">Read More</a> -->
        </div>
        <div class="news__right-column">
          <b>FRIENDLY INTERFACE</b>
          <p>Plus500Crypto offers a very friendly and unique interface to trade on. Our amazing platform simplifies trading and makes the experience a great one for every trader. You can easily customize your interface. Arrange and organize your...</p>
          <!-- <a href="#">Read More</a> -->
        </div>
      </div>
    </div>
  </section>
  <section class="crypto">
    <div class="container container--crypto">
      <div class="crypto__flex">
        <h1>A cryptobank for everyone</h1>
        <p>In 8 years’ time, the crypto-economy will exceed 1и trillion dollars. Cryptobanks will become a cornerstone in the relations between decentralized economy and future daily</p>
        <a href="#">Create Account</a>
      </div>
    </div>
  </section>
  <section class="trading">
    <div class="container container--trading">
      <div class="trading__flex">
        <h2>MULTIPLATFORM TRADING</h2>
        <p>When trading Cryptocurrencies with BDSwiss you are increase or decrease in value against another currencyCryptocurrencies with BDSwiss you are essentially making a prediction on whether it will increase or decrease in value against another currency</p>
      </div>
    </div>
    <div class="trading__coin">
      <div class="container">
        <div class="coin__flex">
          <div class="coin__c-1"></div>
          <div class="coin__c-2"></div>
          <div class="coin__c-3"></div>
          <div class="coin__c-4"></div>
          <div class="coin__c-5"></div>
          <div class="coin__c-6"></div>
          <div class="coin__c-7"></div>
          <div class="coin__c-8"></div>
          <div class="coin__c-9"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="coin"></section>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="templates/about.html">About Us</a></li>
            <li><a href="templates/contact.html">Contact</a></li>
            <li><a href="templates/privacy.html">Legal & Privacy</a></li>
            <li><a href="templates/terms.html">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="templates/faq.html">FAQ</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="templates/trading.html">Trading Guide</a></li>
          </ul>
        </div>
        <!-- <div class="page-footer__column">
          <b>Language</b><br>
          <select class="page-footer__select">
            <option>English (US)</option>
            <option>Русский</option>
          </select>
        </div> -->
      </div>
    </div>
  </footer>
</body>
</html>