<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>+500crypto</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header class="page-header">
    <div class="page-header__head">
      <nav class="page-header__nav">
        <div class="container">
          <div class="page-header__flex">
            <div class="page-header__logo">
              <a href="#">
                <img class="page-header__logo" src="img/logo.png" alt="CryptoLogic">
                <!-- <img class="page-header__logo-s" src="img/logo-s.png" alt="CryptoLogic"> -->
              </a>
            </div>
            <div class="page-header__main-nav">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="templates/login.html">Login</a></li>
                <li class="page-header__item"><a href="templates/registration.html">Sign Up</a></li>
                <li class="page-header__item"><a href="templates/contact.html">Contacts</a></li>
              </ul>
            </div>
            <div class="page-header__main-nav  page-header__main-nav--s">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="templates/login.html">Login</a></li>
                <li class="page-header__item"><a href="templates/registration.html">Sign Up</a></li>
                <li class="page-header__item"><a href="templates/contact.html">Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <!-- Content -->
    </div>
  </header>
  <section class="trade">
    <div class="container">
      <div class="trade__flex">
        <div class="trade__left-column">
          Walk on the path to success.<br>Buy, sell and trade cryptocurrencies
        </div>
        <div class="trade__right-column">
          With +500crypto,<br>you can easily change any blockchain<br>leading asset for any other and it is<br>100% secured and fast
        </div>
      </div>
    </div>
  </section>
  <section class="edge">
    <div class="container">
      <div class="edge__flex">
        <div class="edge__box  edge__box--e-1">
          <p>Secuirity of founds</p>
        </div>
        <div class="edge__box  edge__box--e-2">
          <p>24/7 support</p>
        </div>
        <div class="edge__box  edge__box--e-3">
          <p>High<br>Liqiudity</p>
        </div>
        <div class="edge__box  edge__box--e-4">
          <p>No hidden<br>charges</p>
        </div>
        <div class="edge__box  edge__box--e-5">
          <p>Robot-Friendly<br>API</p>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="container">
      <div class="news__flex">
        <div class="news__left-column">
          <b>WHY +500crypto</b>
          <p>+500crypto offers traders a wide range of possibilities. We offer a better way to move money, as people all over the world now, make use of digital currencies to send money across the world irrespective of your geographical location. This way is faster, easier and cheaper to use than paper money. Investing in digital currencies also ensures financial freedom, as no single entity or government policy controls it. </p>
        </div>
        <div class="news__middle-column">
          <b>A NEW TYPE OF INVECTMENT</b>
          <p>The emergence of cryptocurrencies into the market is something every trader is excited about. This is because of the ease and transparency involved in the use of digital currencies. When you think of trading cryptocurrencies you should think of cryptologic. +500crypto web socket feeds allows you to easily gain access to real-time market data and our trading API helps you develop safe programmatic trading bots.</p>
        </div>
        <div class="news__right-column">
          <b>FRIENDLY INTERFACE</b>
          <p>+500crypto offers a very friendly and unique interface to trade on. Our amazing platform simplifies trading and makes the experience a great one for every trader. You can easily customize your interface. Arrange and organize your workspace as it suits you from theme selection, compose layouts, notifications set up and lots more. With +500crypto trading is on a whole new level entirely. Sign up today.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="crypto">
    <div class="container container--crypto">
      <div class="crypto__flex">
        <h1>A cryptobank for everyone</h1>
        <p>In 8 years’ time, the crypto-economy will exceed 1 trillion dollars. Cryptobanks will become a cornerstone in the relations between decentralized economy and future daily</p>
        <a href="templates/registration.html">Create Account</a>
      </div>
    </div>
  </section>
  <section class="trading">
    <div class="container container--trading">
      <div class="trading__flex">
        <h2>NO EXPERIENCE?</h2>
        <p>You have no worries. Are you thinking of venturing into the world of cryptocurrency trading? +500crypto has you covered; So sign up today and get a demo account. A demo account will prepare and teach you what to expect in the real market. We also have already prepared educational tool from top professionals to enhance your knowledge about trading. 
</p>
      </div>
    </div>
    <div class="trading__coin">
      <div class="container">
        <div class="coin__flex">
          <div class="coin__c-1"></div>
          <div class="coin__c-2"></div>
          <div class="coin__c-3"></div>
          <div class="coin__c-4"></div>
          <div class="coin__c-5"></div>
          <div class="coin__c-6"></div>
          <div class="coin__c-7"></div>
          <div class="coin__c-8"></div>
          <div class="coin__c-9"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="coin"></section>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="templates/login.html">Sign In</a></li>
            <li><a href="templates/registration.html">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="templates/about.html">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="templates/contact.html">Contact</a></li>
            <li><a href="#">Security</a></li>  
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="templates/faq.html">FAQ</a></li>
            <li><a href="templates/privacy.html">Legal & Privacy</a></li>
            <li><a href="templates/terms.html">Terms & Conditions</a></li>
            <li><a href="templates/support.html">Support</a></li>
            <!-- <li><a href="templates/trading.html">Trading Guide</a></li> -->
          </ul>
        </div>
      </div>
      <p class="page-footer__copyright">© Copyright 2017 Cryptologi, All right reserved. Cryptologi is a property of GRANIT OAK WORLDWIDE LIMITED: Igoumenitsas 12, , 2027 Nicosia, Cyprus. Operational address: Igoumenitsas 12, , 2027 Nicosia, Cyprus<br><br>Criptologi is a software platform ONLY and does not conduct any independent diligence on or substantive review of any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own, and for all your decisions as to whether to exchange blockchain assets with Exodus. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may increase in value after your exchange.
Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.</p>
    </div>
  </footer>
  <!-- <script src="js/script.js"></script> -->
</body>
</html>