<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CryptoLogic</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
  <header class="page-header">
    <div class="page-header__head">
      <nav class="page-header__nav">
        <div class="container">
          <div class="page-header__flex">
            <div class="page-header__logo">
              <a href="#">
                <img class="page-header__logo-b" src="img/logo.png" alt="CryptoLogic">
                <img class="page-header__logo-s" src="img/logo-s.png" alt="CryptoLogic">
              </a>
            </div>
            <div class="page-header__main-nav">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="#">Login</a></li>
                <li class="page-header__item"><a href="#">Contacts</a></li>
                <li class="page-header__item"><a href="#">Live Chat</a></li>
              </ul>
            </div>
            <div class="page-header__main-nav  page-header__main-nav--s">
              <ul class="page-header__nav-list">
                <li class="page-header__item"><a href="#">Login</a></li>
                <li class="page-header__item"><a href="#">Contacts</a></li>
                <li class="page-header__item"><a href="#">Live Chat</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="page-header__form">
        <form action="">
          <input type="text" placeholder="First Name" required>
          <input type="text" placeholder="Last Name" required>
          <input type="email" placeholder="E-Mail" required>
          <input type="tel" placeholder="Phone" required>
          <select>
            <option>-Select Country-</option>
            <option>Test</option>
          </select>
          <div class="page-header__checkbox">
            <input type="checkbox" id="check">
            <label for="check">I confirm I am over 18 years old<br>and that I have read, understood<br>and accept <a href="#">The Terms and<br>Conditions apply</a>.</label>
          </div>
          <input type="submit" value="Register Now">
          <p>training involves significant risk of loss</p>
        </form>
      </div>
    </div>
  </header>
  <section class="trade">
    <div class="container">
      <div class="trade__flex">
        <div class="trade__left-column">
          Walk on the path to success.<br>Buy, sell and trade cryptocurrencies.
        </div>
        <div class="trade__right-column">
          With cryptologic, you can easily change<br>any blockchain leading asset for any other<br>and it is 100% secured and fast.
        </div>
      </div>
    </div>
  </section>
  <section class="edge">
    <div class="container">
      <div class="edge__flex">
        <div class="edge__box  edge__box--e-1">
          <p>Secuirity of founds</p>
        </div>
        <div class="edge__box  edge__box--e-2">
          <p>24/7 support</p>
        </div>
        <div class="edge__box  edge__box--e-3">
          <p>High<br>Liqiudity</p>
        </div>
        <div class="edge__box  edge__box--e-4">
          <p>No hidden<br>charges</p>
        </div>
        <div class="edge__box  edge__box--e-5">
          <p>Robot-Friendly<br>API</p>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="container">
      <div class="news__flex">
        <div class="news__left-column">
          <div class="news__left-column-first">
            <b>WHY CRYPTOLOGIC</b>
            <!-- <p>Cryptologic offers traders a wide range of possibilities. We offer a better way to move money, as people all over the world now, make use of digital currencies to send money across the world irrespective of your geographical location. This way is faster, easier and cheaper to use than paper money. Investing in digital currencies also ensures financial freedom, as no single entity or government policy controls it. These give users transparency and privacy in their transactions</p> -->
            <p>Cryptologic offers traders a wide range of possibilities. We offer a better way to move money, as people all over the world now, make use of digital currencies to send money across the world irrespective of your geographical location. This way is faster, easier and cheaper to use...</p>
            <a href="#">Read More</a>
          </div>
          <div class="news__left-column-second">
            <b>A NEW TYPE OF INVECTMENT</b>
            <p>The emergence of cryptocurrencies into the market is something every trader is excited about. This is because of the ease and transparency involved in the use of digital currencies. When you think of trading cryptocurrencies you should think of cryptologic. Cryptologic web socket feeds allows you to easily gain access to real-time market data and our trading API helps you develop safe programmatic trading bots</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="news__middle-column">
          <div class="news__middle-column-first">
            <b>FRIENDLY INTERFACE</b>
            <!-- <p>Cryptologic offers a very friendly and unique interface to trade on. Our amazing platform simplifies trading and makes the experience a great one for every trader. You can easily customize your interface. Arrange and organize your workspace as it suits you from theme selection, compose layouts, notifications set up and lots more. With cryptologic trading is on a whole new level entirely. Sign up today</p> -->
            <p>Cryptologic offers a very friendly and unique interface to trade on. Our amazing platform simplifies trading and makes the experience a great one for every trader. You can easily customize your interface. Arrange and organize your...</p>
            <a href="#">Read More</a>
          </div>
          <div class="news__middle-column-second">
            <b>CRYPTOLOGIC</b>
            <p>-The fastest, safest digital currency exchange on the planet</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="news__right-column">
          <div class="news__right-column-first">
            <b>NO EXPERIENCE? YOU HAVE NO WORRIES</b>
            <!-- <p>Are you thinking of venturing into the world of cryptocurrency trading? Cryptologic has you covered, sign up today and get a demo account, a demo account will prepare and teach you what to expect in the real market. We also have already prepared educational tool from top professionals to enhance your knowledge about trading</p> -->
            <p>Are you thinking of venturing into the world of cryptocurrency trading? Cryptologic has you covered...</p>
            <a href="#">Read More</a>
          </div>  
        </div>
      </div>
    </div>
  </section>
  <section class="crypto">
    <div class="container container--crypto">
      <div class="crypto__flex">
        <h1>A cryptobank for everyone</h1>
        <p>In 8 years’ time, the crypto-economy will exceed 1и trillion dollars. Cryptobanks will become a cornerstone in the relations between decentralized economy and future daily</p>
        <a href="#">Create Account</a>
      </div>
    </div>
  </section>
  <section class="trading">
    <div class="container container--trading">
      <div class="trading__flex">
        <h2>MULTIPLATFORM TRADING</h2>
        <p>When trading Cryptocurrencies with BDSwiss you are increase or decrease in value against another currencyCryptocurrencies with BDSwiss you are essentially making a prediction on whether it will increase or decrease in value against another currency</p>
      </div>
    </div>
    <div class="trading__coin">
      <div class="container">
        <div class="coin__flex">
          <div class="coin__c-1"></div>
          <div class="coin__c-2"></div>
          <div class="coin__c-3"></div>
          <div class="coin__c-4"></div>
          <div class="coin__c-5"></div>
          <div class="coin__c-6"></div>
          <div class="coin__c-7"></div>
          <div class="coin__c-8"></div>
          <div class="coin__c-9"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="coin"></section>
  <footer class="page-footer">
    <div class="container">
      <div class="page-footer__flex">
        <div class="page-footer__column">
          <b>Account</b>
          <ul>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>About</b>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Legal & Privacy</a></li>
            <li><a href="#">Security</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Resources</b>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Charts</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Fess</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Trading Guide</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">PGP Key</a></li>
            <li><a href="#">Audit</a></li>
            <li><a href="#">Bug Bounty</a></li>
          </ul>
        </div>
        <div class="page-footer__column">
          <b>Language</b><br>
          <select class="page-footer__select">
            <option>English (US)</option>
            <option>Русский</option>
          </select>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>