.info {
  padding-top: 60px;
}

.info__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &:first-of-type {
    margin-bottom: 60px;
  }
  
  &:last-of-type {
    margin-bottom: 30px;
  }
}

.info__content {
  margin-right: 30px;
  width: 575px;
  
  &:last-of-type {
    margin-right: 0;
  }
}

.info__short {
  margin-top: 0;
  padding-left: 30px;
  color: $text;
  font-size: 18px;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: left;
  
  b {
    color: $red;
    font-weight: 700;
  }
  
  &:nth-child(1) {
    background-image: url('../img/date-r.svg');
    background-size: 19px;
  }
  
  &:nth-child(2) {
    background-image: url('../img/loc.svg');
    background-position: left top;
  }
  
  &:nth-child(3) {
    background-image: url('../img/people.svg');
    background-size: 21px;
  }
  
  &:last-of-type {
    margin-bottom: 10px;
  }
}

.info__list {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style: none;
}

.info__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
  color: $text;
  font-size: 18px;
  
  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $red;
  }
}

.info__column {
  width: 580px;
  height: auto;
  border-radius: 10px;
  animation-name: border;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    box-shadow: -10px 10px 0 0 $red;
  }
}

@keyframes border {
  100% {
    box-shadow: -10px 10px 0 0 $red;
  }
}

.info__ratio {
  position: relative;
  padding-top: 56.20%;
  border-radius: 10px;
  background-image: url('../img/info-video.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.info__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.info__play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  background-image: url('../img/youtube.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  &--hide {
    opacity: 0;
  }
}

.info__image {
  width: 540px;
  margin-right: 30px;
  border-radius: 10px;
  animation-name: border-r;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes border-r {
  100% {
    box-shadow: 10px 10px 0 0 $red;
  }
}

.info__text {
  color: $text;
  font-size: 18px;
  
  &--red {
    color: $red;
  }
  
  &--warning {
    color: $red;
    font-style: italic;
  }
}

@media screen and (max-width: 1020px) {
  .info__play {
    background-size: 60px;
  }
  
  .info__box {
    
    &:first-of-type {
      margin-bottom: 20px;
    }
    
    &:last-of-type {
      flex-direction: column-reverse;
    }
  }
  
  .info__content {
    width: 50%;
    
    &:last-of-type {
      width: auto;
    }
  }
  
  .info__short {
    padding-left: 25px;
    font-size: 16px; 
    
    &:nth-child(1) {
      background-size: 16px;
    }
    
    &:nth-child(2) {
      background-size: 16px;
    }
    
    &:nth-child(3) {
      background-size: 16px;
    }
  }
  
  .info__item {
    font-size: 16px;
  }
  
  .info__column {
    width: 50%;
  }
  
  .info__image {
    max-width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
  
  .info__text {
    font-size: 16px;
  }
}

@media screen and ($mobile) {
  .info {
    padding-top: 40px;
  }
  
  .info__box {
    flex-direction: column;
  }
  
  .info__content {
    width: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .info__column {
    width: 100%;
    
    &:hover,
    &:focus {
      box-shadow: -5px 5px 0 0 $red;
    }
  }
  
  .info__image {
    margin-top: 0;
  }
  
  @keyframes border {
    100% {
      box-shadow: -5px 5px 0 0 $red;
    }
  }
  
  @keyframes border-r {
    100% {
      box-shadow: 5px 5px 0 0 $red;
    }
  }
}