.intro {
  padding-bottom: 200px;
  background-color: #CA2122; 
  background-image: url('../img/intro-days.svg'), url('../img/intro-bg.jpg');
  background-repeat: no-repeat;
  background-position: right 95%, top;
  background-size: 300px, cover;
}

.intro__header {
  margin-bottom: 200px;
  padding: 50px 0;
}

.intro__nav {
  position: relative;
}

.intro__logo {
  display: block;
  margin: auto;
}

.intro__phone {
  position: absolute;
  top: 5px;
  right: 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s;
  
  &:hover,
  &:focus {
    opacity: 0.6;
  }
  
  &:active {
    opacity: 1;
  }
}

.intro__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  line-height: 70px;
  
  &--small {
    font-size: 40px;
  }
}

.intro__subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.intro__date {
  box-sizing: border-box;
  display: block;
  width: 330px;
  margin: auto;
  margin-bottom: 60px;
  padding-left: 65px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  background-image: url('../img/date-w.svg');
  background-repeat: no-repeat;
  background-position: left;
}

@media screen and ($tablet) {
  .intro__header {
    margin-bottom: 100px;
  }
  
  .intro__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and ($mobile) {
  .intro {
    padding-bottom: 150px;
    background-size: 200px, cover;
  }
  
  .intro__header {
    margin-bottom: 50px;
  }
  
  .intro__logo {
    margin-bottom: 20px;
  }
  
  .intro__phone {
    position: static;
    display: block;
    font-size: 25px;
    text-align: center;
  }
  
  .intro__title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: normal;
    
    &--small {
      font-size: 25px;
    }
  }
  
  .intro__subtitle {
    font-size: 20px;
  }
  
  .intro__date {
    width: 300px;
    font-size: 16px;
  }
}

@media screen and (max-width: 374px) {
  .intro__header {
    margin-bottom: 0;
  }
  
  .intro__logo {
    width: 90%;
  }
  
  .intro__date {
    width: 290px;
  }
  
  .intro__title {
    font-size: 27px;
  }
  
  .intro__subtitle {
    font-size: 18px;
  }
}