.advantages__items {
  @include reset-list;
}

.advantages__item {
  position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 95px;
      height: 94px;
      background-image: url("../img/icons/sprite.png");
    }
    p {
      font-size: 20px;
      line-height: 27px;
      margin: 0;
    }
}

.advantages__item {
    &:first-child::before {
      background-position: -10px -10px;
    }
    &:nth-child(2)::before {
      background-position: -10px -122px;
    }
    &:last-child::before {
      background-position: -10px -231px;
    }
}

.advantages__item-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

@media ($mobile-widths-only) {
  .advantages {
    background-color: #242424;
    @include triangle-down(36px, #242424);
  }

  .advantages__wrapper {
    @include container;
    padding-top: 40px;
    padding-bottom: 12px;
    padding: 40px 12.5% 12px 12.5%;

  }

  .advantages__items {
    position: relative;
  }

  .advantages__item {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    min-width: 240px;
    width: 100%;
    min-height: 275px;
    margin-bottom: 30px;
    padding-top: 125px;
    opacity: 0;
    transform: translateX(-300%);
    transition: transform 1.5s,
                visibility 1.5s,
                position 1.5s,
                opacity 1.5s;
      &::before {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
  }
}

@media ($tablet-widths) {
  .advantages {
    background-color: #353535;
    @include triangle-down(42px, #353535);
  }

  .advantages__wrapper {
    @include container;
    padding-top: 46px;
    padding-bottom: 50px;
  }

  .advantages__item {
    margin: 0 5.625%;
    padding-left: 124px;
    padding-bottom: 40px;
    margin-bottom: 42px;
    border-bottom: 1px solid #4a4a4a;
      &::before {
        left: -5px;
        top: 0;
      }
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
  }

  .advantages__toggles {
    display: none;
  }
}

@media ($desktop-widths) {
  .advantages {
    @include triangle-down(62px, #353535);
  }

  .advantages__wrapper {
    padding-top: 78px;
    padding-bottom: 40px;
  }

  .advantages__items {
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    width: 33.333%;
    margin: 0 40px;
    padding: 0;
    padding-top: 125px;
    text-align: center;
    border-bottom: none;
      &::before {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
  }
}
