.page-header {
  // outline: 1px solid green;
}

.page-header__logo {
  text-align: center;
}

@media ($mobile-widths-only) {
  .page-header__logo {
    background-color: #242424;
    padding: 24px;
    min-width: 320px;
    img {
      width: 226px;
      height: 30px;
    }
  }
}

@media ($tablet-widths) {
  .page-header {
    display: flex;
    flex-direction: column;
  }

  .page-header--inner {
    @include triangle-page-header--inner(41px, #f8f5f2);
  }

  .page-header__logo {
    order: 1;
    padding-top: 39px;
    padding-bottom: 251px;
    background-image: url("../img/bg-tablet.jpg");
    background-position: center top;
    background-size: cover;
      img {
        width: 370px;
        height: 101px;
      }
  }

  .page-header__logo--inner {
    padding-bottom: 73px;
  }
}

@media ($desktop-widths) {
  .page-header--inner {
    @include triangle-page-header--inner(64px, #f8f5f2);
  }

  .page-header__logo {
    padding-top: 57px;
    padding-bottom: 431px;
    background-image: url("../img/bg-desktop.jpg");
      img {
        width: 370px;
        height: 153px;
      }
  }

  .page-header__logo--inner {
    padding-bottom: 99px;
  }
}
