.page-footer {
  background-color: #292929;
}

.page-footer__wrapper {
  @include container;
}

.page-footer__contacts {
    b {
      display: inline-block;
    }
    p {
      margin: 0;
    }
    a {
      @include reset-link;
    }
}

.page-footer__copyright {
    p {
      text-align: center;
      margin: 0;
      margin-bottom: 10px;
    }
}

.page-footer__copyright-link {
  border-color: #3f3f3f;
  color: #fff;
    &:hover {
      border-color: #545454;
    }
    &:active {
      border-color: #252525;
      background-color: #252525;
      color: #808080;
    }
}

@media ($mobile-widths-only) {
  .page-footer__wrapper {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 24px;
  }

  .page-footer__contacts {
    margin-bottom: 25px;
    padding-top: 32px;
      b {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 20px;
        padding: 0 39px;
      }
      a {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding: 13px 0;
        margin: 0 6.25%;
        border: 1px solid #3e3e3e;
        color: #fff;
        transition: 0.5s;
          &:hover {
            border-color: #545454;
          }
          &:active {
            border-color: #252525;
            background-color: #252525;
            color: #808080;
        }
      }
  }

  .page-footer__contacts-hidden {
    display: none;
  }

  .page-footer__social {
    margin-bottom: 30px;
  }

  .page-footer__copyright-link {
    display: block;
    margin: 0 6.25%;
  }
}

@media ($tablet-widths) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .page-footer__contacts {
      b {
        text-transform: uppercase;
        margin-bottom: 5px;
      }
  }

  .page-footer__social {
    order: 1;
    width: 100%;
    margin-top: 50px;
  }

  .page-footer__copyright-link {
    width: 160px;
  }
}

@media ($desktop-widths) {
  .page-footer__wrapper {
    justify-content: center;
  }

  .page-footer__contacts {
    margin-right: 78px;
  }

  .page-footer__social {
    order: 0;
    width: auto;
    margin: 0;
  }

  .page-footer__copyright {
    margin-left: auto;
  }
}
