.stats {
  background-color: #242424;
}

.stats__header {
  background-color: #fff;
  color: #000;
}

.stats__slogan {
  line-height: 100%;
}

.stats__intro {
  font-size: 20px;
}

.stats__legend {
  font-size: 20px;
  line-height: 27px;
}

.stats__row {
    &:first-child,
    &:last-child {
      background-color: #404040;
    }
    &:nth-child(2) {
      background-color: #4e4e4e;
    }
    &:nth-child(3) {
      background-color: #353535;
    }
}

.stats__value {
  line-height: 100%;
  font-weight: 700;
}

.stats__field {
  line-height: 100%;
}

@media ($mobile-widths-only) {
  .stats__header {
    @include container;
    text-align: center;
  }

  .stats__slogan {
    display: block;
    font-size: 30px;
    margin: 0 11.875%;
    padding: 25px 0 0 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .stats__intro {
    margin: 0 11.875%;
    padding: 0 0 25px 0;
  }

  .stats__legend--top {
    display: none;
  }

  .stats__items {
    @include container;
  }

  .stats__row {
    display: flex;
    justify-content: space-between;
    padding: 0 6.25%;
  }

  .stats__cell {
    padding: 20px 0;
  }

  .stats__value {
    width: 50%;
    font-size: 40px;
  }

  .stats__field {
    width: 50%;
    text-align: right;
  }

  .stats__legend--bottom {
    @include container;
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 15px;
  }
}

@media ($tablet-widths) {
  .stats {
    @include container;
    background-color: #353535;
    display: flex;
    flex-direction: column;
  }

  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 185px;
    margin-top: -185px;
      &::before {
        content: "";
        position: absolute;
        left: -21px;
        top: 42px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 23px 23px 0;
        border-color: transparent #fff transparent transparent;
      }
  }

  .stats__slogan {
    width: 50%;
    padding: 0 42px;
    font-size: 40px;
    margin-top: 35px;
  }

  .stats__intro {
    width: 50%;
    padding: 0 75px 0 30px;
    margin: 0;
    margin-top: 40px;
  }

  .stats__legend--top {
    width: 100%;
    color: rgba(0, 0, 0, 0.4);
    padding: 0 42px;
    margin-bottom: 25px;
  }

  .stats__items {
    display: flex;
    flex-wrap: wrap;
  }

  .stats__row {
    width: 50%;
  }

  .stats__cell {
    br {
      display: none;
    }
  }

  .stats__value {
    font-size: 72px;
    padding: 30px 35px 0 35px;
    margin-bottom: 1px;
  }

  .stats__field {
    font-size: 20px;
    line-height: 27px;
    padding: 0 35px 30px 35px;
  }

  .stats__legend--bottom {
    display: none;
  }
}

@media ($desktop-widths) {
  .stats {
    display: flex;
    flex-direction: row;
  }

  .stats__header {
    width: 33.333%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -160px;
      &::before {
        top: 37px;
      }
  }

  .stats__slogan {
    width: 100%;
    padding: 0 42px;
    margin-top: 35px;
  }

  .stats__intro {
    width: 100%;
    padding: 0 42px;
    margin-top: 15px;
  }

  .stats__legend--top {
    margin-bottom: 30px;
  }

  .stats__items {
    width: 66.666%;
    margin-top: -160px;
  }
}
